[2022-04-27 07:41] schewara commented on #2048
We ran into the same one yesterday.

In our case we have one fat jar File in the container and a downgrade to 0.26 fixed it for us as well.

[2022-04-27 07:54] liad5h commented on #2048
@knqyf263 the 30MB image does not contain large files.

here is a dockerfile example where this issue happened.
[code]

The `docker.image` call in jenkins mounts the current workspace to the container, in this case - trivy.
maybe this is related?

[2022-04-27 08:00] Johannestegner opened #2058 "Re-add Windows binary to releases."
Hi!

There are a few of us developers who uses windows (it's true!), and having trivy binary directly on windows is quite nice, especially after the new jetbrains plugin have been created!
I understand that it was removed earlier due to some stuff not working as expected (image scanning for example), but by building it locally

_(in `wsl` ubuntu)_
[code]
I could produce a binary which works fine (

[2022-04-27 14:51] amirdamirov commented on #2054
@DmitriyLewen  thanks.
I tried with `--offline-scan` the result is :

2022-04-27T18:14:19.097+0400	DEBUG	Parsing Java artifacts...	{"file": "opt/psdl/presentation-api/lib/presentation-api.jar"}
2022-04-27T18:14:19.098+0400	DEBUG	Analysis error: jar/war/ear/par parse error: zip error: zip: not a valid zip file
2022-04-27T18:14:19.180+0400	DEBUG	Parsing Java artifacts...	{"file": "opt/psdl/presentat

[2022-04-27 16:12] AErmie opened #2060 "🐛 False-Positive Secret Detection - Base64String Matches AWS Access Key ID Pattern"
## Checklist
- [X] I've read [the documentation regarding wrong detection](https://aquasecurity.github.io/trivy/latest/community/contribute/issue/#wrong-detection).
- [ ] I've confirmed that a security advisory in data sources was correct.
    - Run Trivy with `-f json` that shows data sources and make sure that the security advisory is correct.

## Description

Trivy `image` scan identifies a cri

[2022-04-27 16:18] dbkarsten commented on #2033
+1

[2022-04-27 16:21] byteborg commented on #2033
+1

[2022-04-27 17:54] RobMaskell commented on #1692
I unpicked my earlier change, and working now for impish, thanks

[2022-04-28 04:55] DmitriyLewen commented on #2054
@amirdamirov Thanks for your answer!

Can I get your image or dockerfile (or part of it with a reproduction of your issue)?

and 1 more question: have you tried using a timeout with a larger value?

[2022-04-28 07:51] dinapappor commented on #2048
For information this also happens when you for instance use `docker:dind` (docker in docker) in gitlab pipelines with both `0.27.0` and `0.27.1` (These does however workout side of a docker in docker environment). `0.26.0` is unaffected.

[2022-04-28 14:33] chen-keinan opened #2062 "Add sub command for k8s"
## Description
Add sub-command for k8s, and use kubernetes-trivy lib.

[2022-04-28 17:44] adazzi93933 opened #2064 "new trivy 0.27.1 scanning error"
## Description

## What did you expect to happen?
trivy scan should complete

## What happened instead?
trivy scan failed with a FATAL error

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):
scanning the same container worked with 0.25.x

[2022-04-29 04:31] DmitriyLewen commented on #2054
okay, i understand you.

Trivy doesn't stop scanning if it has errors with java files.
If jar file doesn't contain pom file (`No such POM in the central repositories...`), Trivy tries to find dependencies in `MANIFEST` file.

can you try using `--timeout 60m` flag and scan your image again. Your image may be so large and Trivy can't finish scan in 5 minutes. Send me result of the scan after that,

[2022-04-29 13:19] amirdamirov commented on #2054
When i removed `--security-checks vuln` again it was failing. Only with this key trivy scans succeed.

[2022-04-29 22:08] tspearconquest commented on #720
I really like this idea and what occurred to me is that the issue here is actually a few things.

1) I wanted to start generating junit reports for our Gitlab pipelines, but for larger images, even though the layers are cached, the scan itself takes some time.
2) Some of the reports I want to generate require template files, and I have to keep a copy of the same template file in every project wher

[2022-04-30 14:12] #2017 closed

[2022-04-30 17:14] AErmie opened #2068 "Critical CVEs for Python-Pillow Not Detected"
## Checklist
- [X] I've read [the documentation regarding wrong detection](https://aquasecurity.github.io/trivy/latest/community/contribute/issue/#wrong-detection).
- [ ] I've confirmed that a security advisory in data sources was correct.
    - Run Trivy with `-f json` that shows data sources and make sure that the security advisory is correct.

## Description
The following CVEs are not detected:

[2022-05-02 00:13] github-actions[bot] opened #2080 "github.com/bytecodealliance/wasmtime-go: CVE-2022-24791"
## Title
Use After Free

## Description
Wasmtime is a standalone JIT-style runtime for WebAssembly, using Cranelift. There is a use after free vulnerability in Wasmtime when both running Wasm that uses externrefs and enabling epoch interruption in Wasmtime. If you are not explicitly enabling epoch interruption (it is disabled by default) then you are not affected. If you are explicitly disabling t

[2022-05-02 17:34] evandeaubl commented on #1783
I'm running the client/server configuration in an air-gapped Kubernetes cluster, so this would be really useful. Right now it requires extra infrastructure and hand jamming to get the database into the image and keep it up to date, when with a configurable dbRepository, trivy could do the update the exact same way it does in the non-air-gapped config.

[2022-05-03 01:32] nvuillam commented on #1729
Not stale :(

[2022-05-03 02:54] afghanistanyn opened #2081 "operation.NewCache() print the redis user and password to log"
## Description
`
func NewCache(c option.CacheOption) (Cache, error) {
	if strings.HasPrefix(c.CacheBackend, "redis://") {
		log.Logger.Infof("Redis cache: %s", c.CacheBackend)
`
will print redis user and password to log  if cacheBackend like  "user:pass@localhost:6379/0"

## What did you expect to happen?
remov it or change log to  debug level

[2022-05-03 06:43] monwolf opened #2082 "Add capability to include custom vulnerabilites for internal dependencies"
We are managing a set of internal libraries not published and we would like to mark them as insecure and block the CICD pipeline, is there any way to include this logic inside trivy?

[2022-05-03 14:20] ShiraCohen33 opened #2083 "Unsupport pom modules"
## Description

## What did you expect to happen?
Go to the relative path and get all the libraries from the pom.xml

## What happened instead?
Return null

[2022-05-04 17:47] pealtrufo opened #2085 "Different result when scanning the same image"
## Description
I am obtaining different scan results when scanning the same image several times.

## What did you expect to happen?
Always same results when same vulnerability database is used

## What happened instead?
Different vulnerability result returned

## Output of run with `-debug`:

[code]
[code]

## Output of `trivy -v`:
[code]

## Additional details (base image name, container registry

[2022-05-05 04:16] DmitriyLewen commented on #2017
Hello @PenelopeFudd
We fix your issue in next release.
At the moment, you can use `--security-checks vuln` flag.

Regards, Dmitriy

[2022-05-05 04:59] DmitriyLewen commented on #2060
hello @AErmie  @danbrad !
Thanks for your reports.

We will work with your problems.

At the moment, you can  use `trivy-secret.yaml` file to skip this category or files.
more information about configuration of secrets [here](https://aquasecurity.github.io/trivy/v0.27.1/docs/secret/configuration/)

Regards, Dmitriy

[2022-05-05 10:36] DhritiShikhar opened #2087 "CLI command ends in panic"
## Description

trivy CLI command line results in `panic` error instead of proper failure message.

[code]

## What did you expect to happen?

A proper error message in output

## What happened instead?

Golang error

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):

[2022-05-05 13:25] ivnilv opened #2088 "Harbor trivy misconfiguration scan"
Is there a way to make harbor installed trivy to scan for misconfigurations?

Currently, the scanner is connected to harbor and images are scanned but only for vulnerabilities.

I need a way to detect misconfigurations as well.

[2022-05-05 13:35] AErmie commented on #2060
Thanks @DmitriyLewen, in the [Secrets Configuration](https://aquasecurity.github.io/trivy/v0.27.1/docs/secret/configuration/) documentation, I don't see an example of how to skip a specific file or directory. I only see how to disable rules.

Can the documentation be updated with an example on how to ignore paths/files? Thanks.

[2022-05-05 23:21] adazzi93933 commented on #2064
0.27.1 is not reliable at all for me. many if my scans fails since the upgrade with stacks similar to ...

2022-05-05T23:20:02.273Z	FATAL	scan error:
    github.com/aquasecurity/trivy/pkg/commands/artifact.runWithTimeout
        /home/runner/work/trivy/trivy/pkg/commands/artifact/run.go:92
  - image scan failed:
    github.com/aquasecurity/trivy/pkg/commands/artifact.scan
        /home/runner/work

[2022-05-05 23:26] adazzi93933 commented on #2064
well and trivy:0.27.0 seems to work.

[2022-05-06 04:26] DmitriyLewen commented on #2060
@AErmie use `--skip-dirs` or `--skip-files` flags to ignore dirs or files.
Example [here](https://aquasecurity.github.io/trivy/v0.27.1/docs/secret/examples/)

[2022-05-06 04:56] DmitriyLewen commented on #2068
Hello @AErmie
Thanks for your report!

I installed `pillow 8.4.0` to `amazonlinux:2` container, but can't reproduce your issue.

Can you send result with `-f json --list-all-pkgs` flags?

Regards, Dmitriy

[2022-05-06 07:00] DmitriyLewen commented on #2085
Hello @pealtrufo
Thanks for your report!

I was able to reproduce your problem.
I will investigate it and write to you later!

Regards, Dmitriy

[2022-05-06 10:01] snigdhasambitak commented on #2033
+1

[2022-05-06 10:21] flyingflo opened #2089 "False negative with jar file altough multiple vuln entries should match"
## Checklist
- [x] I've read [the documentation regarding wrong detection](https://aquasecurity.github.io/trivy/latest/community/contribute/issue/#wrong-detection).
- [x] I've confirmed that a security advisory in data sources was correct.
    - Run Trivy with `-f json` that shows data sources and make sure that the security advisory is correct.

## Description
I'm testing how trivy matches jar fi

[2022-05-06 11:39] msharbaji opened #2090 "Trivy Vulnerability CVE-2022-27191"
## Description

## What did you expect to happen?
In Trivy scanner code there should not be any vulnerabilities.

## What happened instead?
Trivy scanner showed vulnerabilities in it's own code base.

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):

[2022-05-06 12:57] AErmie commented on #2068
Thanks, @DmitriyLewen, here is the results using that command...

<details>
  <summary>Trivy `-f json --list-all-pkgs` command output</summary>

[code]
</details>

[2022-05-06 15:52] knqyf263 commented on #2080
It is a dependency of OPA.

[code]

But Trivy actually doesn't use wasmtime-go as we don't see this dependency in go.mod.

[code]

Trivy moved to go.mod detection from v0.26.0 and no longer detects dependencies that are not imported.
https://github.com/aquasecurity/trivy/discussions/2001

[trivy-issue-action](https://github.com/knqyf263/trivy-issue-action) v0.0.3 uses old Trivy. This vulnerability

[2022-05-06 17:45] #2080 closed

[2022-05-06 22:43] PenelopeFudd commented on #2017
Ok, thanks; do you know when the next release will come out, approximately?  If it's a couple of days or a couple of weeks?  Thanks

[2022-05-07 00:04] #1702 closed

[2022-05-07 05:15] mayrstefan commented on #2090
Partially the same as #2033

[2022-05-07 05:24] mayrstefan commented on #2033
Same was reported for an older version of trivy in #1870

[2022-05-07 09:57] afdesk commented on #2033
there was a dependency with CVE-2022-27191, it fixed and will update in the next release.

[2022-05-07 10:13] afdesk commented on #2090
@msharbaji  thanks for your report.
fixed. will update soon in the next release.

[2022-05-07 10:24] byteborg commented on #2033
The main question that stands out for me is, why don't you scan Trivy with itself in the release pipeline?

[2022-05-07 11:47] afdesk commented on #2033
Trivy scans itself, but reacts only on critical vulns.

[2022-05-07 12:50] byteborg commented on #2033
Wouldn't it be sensible to break the build on high findings?

[2022-05-09 00:05] #1731 closed

[2022-05-09 11:09] AErmie commented on #2060
Thanks @knqyf263, my apologies, what I meant was, I didn't see an example of how to include skipping a specific file or directory using the `trivy-secret.yaml` file.

Thank you for everyone's work on improving the rule.

[2022-05-09 12:17] #2083 closed

[2022-05-09 14:11] nejerovbo opened #2092 "SBOM CycloneDX format"
## Description

## What did you expect to happen?

## What happened instead?

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):

[2022-05-09 21:26] mayrstefan opened #2093 "trivy does not honor --insecure for vulnerability DB download"
## Description

We have an air gapped environment without direct internet access. All necessary container images are mirrored to or proxied through an OnPrem registry (Artifactory). This registry uses a certificate from a private PKI. The vulnerability DB cannot be downloaded from this internal registry.

## What did you expect to happen?
We expected that `--insecure` ignores the private PKI certi

[2022-05-10 07:23] Dentrax commented on #1565
Closing as https://github.com/aquasecurity/fanal/pull/447/files merged.

[2022-05-10 07:23] #1565 closed

[2022-05-10 13:56] isuftin opened #2096 "Was 0.27.1 re-released?"
Was this not released about 2 weeks ago or am I confused?

[2022-05-10 15:01] knqyf263 commented on #2096
You're right. We are also not sure, but v0.27.1 disappeared from GitHub. We released it again.

[2022-05-10 15:02] knqyf263 commented on #2088
Unfortunately, I don't think it is available now. cc: @danielpacak

[2022-05-10 15:17] #2096 closed

[2022-05-10 15:18] knqyf263 opened #2097 "v0.28.0"
The release note of [v0.28.0](https://github.com/aquasecurity/trivy/milestone/5).

# 💔 BREAKING CHANGES 💔
## Move `trivy client` to `trivy image --server`
See [here](https://github.com/aquasecurity/trivy/discussions/2119) for the detail.

# 🚀 What's new? 🚀
## ☸ Kubernetes scanning 🌌

Trivy now can scan kubernetes clusters. It reports vulnerabilities and misconfigurations when scanning a full clust

[2022-05-10 15:32] mkesper opened #2098 "Trivy does not scan software not added by package manager"
## Description

When scanning containers, trivy does not scan for software not added by package managers.

## What did you expect to happen?

`trivy image --list-all-pkgs --format json -o temurin.json eclipse-temurin:11.0.14_9-jre-alpine`

should return a Java version ([installed into /opt via tar](https://github.com/adoptium/containers/blob/5a7c9b25bbca1cde27828e819f765614f7daf774/11/jdk/alpine/D

[2022-05-10 15:41] knqyf263 commented on #2096
Sorry for confusing you.

[2022-05-10 23:00] fdavis99 opened #2099 "Installation > RHEL/CentOS documentation error: incorrect baseurl in yum trivy.repo"
## Description
Created trivy.repo per instructions in https://aquasecurity.github.io/trivy/v0.27.1/getting-started/installation/#rhelcentos

Problem 1: the '$' in the instructions must be quoted with backslash (see https://stackoverflow.com/a/44494477/1701482)

Problem 2: After correcting the file, yum fails on Red Hat Enterprise Linux Server release 7.7 (Maipo), using the baseurl in the trivy.rep

[2022-05-11 00:05] #1727 closed

[2022-05-11 04:54] DmitriyLewen commented on #2068
Hello @AErmie
Thanks for your answer!

Trivy found `python-pillow` package name.
[CVE-2022-22815](https://github.com/advisories/GHSA-pw3c-h7wp-cvhx) and [CVE-2022-22817](https://github.com/advisories/GHSA-8vj2-vxx3-667w) packages have `Pillow` package name.
Your package and vulnerability packages have different names.
That is why trivy doesn't detect these vulnerabilities.

If you have another `Pi

[2022-05-11 05:07] DmitriyLewen commented on #2017
These changes are already available for Trivy v0.27.1.
Currently you can [install](https://aquasecurity.github.io/trivy/v0.27.1/getting-started/installation/) it.

[2022-05-11 10:46] knqyf263 commented on #2017
You can track the next version here.
https://github.com/aquasecurity/trivy/milestone/5

[2022-05-11 10:55] AErmie commented on #2068
Thanks @DmitriyLewen,
This was just one example (I didn't want to submit a long list all at once). Recently, our Docker containers that are built using `amazonlinux:2` are throwing many vulnerabilities, which are only being detected in AWS Inspector, but not in Trivy.

Here is a screenshot of *some* of the vulnerabilities that AWS Inspector is detecting (but not appearing in the Trivy scans).

![A

[2022-05-11 11:06] DmitriyLewen commented on #2068
@AErmie can i get your image or your dockerfile(or part of dockerfile) where you can reproduce this issue?

I need it to investigate this issue

[2022-05-11 17:21] foozmeat commented on #2060
I also need an example of ignoring a path from a config file. I want the ignored files to be in source control and not configured on the command line.

[2022-05-11 18:14] foozmeat commented on #2060
For instance I would expect the following to ignore files under `/opt/venv` but it doesn't work

[code]

[2022-05-11 22:22] PenelopeFudd opened #2103 "Trivy releases: v0.26.0->v0.27.0->v0.27.1->v0.27.0->v0.27.1 ???"
## Description

I'm monitoring the [Trivy release page](https://github.com/aquasecurity/trivy/releases) so I know when to get the latest and greatest version, and in the past two days something weird happened: the release version went backwards!

![image](https://user-images.githubusercontent.com/1606480/167956577-eca371ea-a24f-43ea-8cad-2114a6704713.png)

## What did you expect to happen?
Expecte

[2022-05-12 00:05] #1698 closed

[2022-05-12 01:42] thiago-gitlab opened #2104 "Documented default for --security-checks is incorrect"
## Description

https://aquasecurity.github.io/trivy/v0.27.1/docs/references/cli/image/ states:

However, https://github.com/aquasecurity/trivy/issues/2054#issuecomment-1113258445 states:

## What did you expect to happen?

One of:
1. The documented default for `--security-checks` to be `vuln,secret`; OR
2. The default for `--security-checks` to actually be `vuln`.

## What happened instead?

A mi

[2022-05-12 01:45] thiago-gitlab commented on #2104
Hi, @knqyf263. 👋🏽

I was looking to disable secret detection in the GitLab integration with Trivy due to it causing timeouts. When I checked the documentation, it seems that it should be disabled by default.

But someone commented in a thread that it's enabled by default.

If the documentation is incorrect, I'd be happy to send a quick PR. If the default is incorrect, I'm afraid that's beyond my a

[2022-05-12 04:23] samkhamk opened #2105 "Can we scan all images present in registry at once with trivy"
Hello Team,

My question is way too basic but I am new to trivy and doing some research how we can scan all images present in registry at once with trivy ,
do I need to use for loop or we can pass any option while scanning the image.

Please guide,

Thanks!
SAM

[2022-05-12 05:50] DmitriyLewen commented on #2064
Hello @adazzi93933
Thanks for your report.

I see that your errors are related with timeout.
Currently Trivy may run slowly due to scan secrets and misconfigured files.
We are working on this now.

Can you try using `--security-checks vuln` flag?

Regards, Dmitriy

[2022-05-12 06:10] zhuxindong opened #2106 "does the "trivy sbom" command support the parameter "--skip-update" ？"
I want to use trivy sbom in an Air-Gapped Environment,but i found that the "trivy sbom" command don't support the parameter "--skip-update" .

[2022-05-12 06:10] knqyf263 commented on #2104
Hi @thiago-gitlab, thanks for raising an issue. The documentation is incorrect. It would be appreciated if you fix it.

As for timeout, yes, it can be slow if there are many files or large files. It is ok to disable secret scanning if you don't need it, but you can also tune the configuration.
https://aquasecurity.github.io/trivy/v0.27.1/docs/secret/scanning/#recommendation

[2022-05-12 06:14] DmitriyLewen commented on #2087
Hello @DhritiShikhar
Thanks for your report!

Are you using custom version of Trivy?
Main branch doesn't contain `gfa5dcaf8` commit, and Trivy doesn't create  version like yours, If i remember correctly.

Regards, Dmitriy

[2022-05-12 06:18] thiago-gitlab commented on #2104
Done!

Thanks for the recommendation and quick reply.

We'll look into it after the tea sees how it plays with the existing secret scanner or else it may cause duplicate vulnerabilities to be reported.

[2022-05-12 06:21] knqyf263 commented on #2104
Thanks for the quick fix!

It was just FYI. It is up to you👍

[2022-05-12 06:28] knqyf263 commented on #2105
Trivy doesn't support scanning all images in registry.

Yes, you have to do that.

[2022-05-12 09:23] maltewhiite commented on #757
@knqyf263 is there a way to point trivy to a certificate to use?

[2022-05-12 10:15] maltewhiite commented on #2093
I am in the exact same scenario.

This is from the gitlab ci job:
[code]

Here is my .gitlab-ci.yml variables
[code]

[2022-05-12 18:11] #2062 closed

[2022-05-13 00:05] #1748 closed

[2022-05-13 13:28] afdesk commented on #1523
@msharbaji yes, the current trivy code doesn't contain vulns, it'll be available in the next release.

[2022-05-13 13:44] msharbaji commented on #2090
Thanks 🙏

[2022-05-13 14:59] davidteal commented on #1758
Agreed, this would be very useful

[2022-05-13 19:07] knqyf263 commented on #442
We already have state in our database. We'll export it to the result. Thanks for the feedback.

[2022-05-14 19:53] AErmie commented on #2068
Sure, sorry I missed your message @DmitriyLewen. Here's a code snippet of it:

[code]

NOTE: I added the second `RUN` command with the `yum update python-pillow` line in attempts to resolve the security vulnerability within AWS Inspector.

[2022-05-15 00:06] #1759 closed

[2022-05-15 00:06] #1733 closed

[2022-05-16 04:25] DmitriyLewen commented on #2085
This was due to the RedHat database containing CVE-2018-25032 twice:
1) with `1.2.11-18.el8_5` as fixed version;
2) without fixed version.

You received one of these versions.
But you didn't see the 2nd option because you used  `--ignore-unfixed` flag and Trivy doesn't include it in the result.

[2022-05-16 04:31] DmitriyLewen commented on #2068
Okay, thank you!
I will check and write to you.

[2022-05-16 04:57] DmitriyLewen commented on #2093
Hello @mayrstefan , @maltewhiite

Trivy currently uses the --insecure flag to get an image or repository, not to load a DB.
You can manually download the database and use Trivy with the --skip-update --offline-scan flags.
Information on using Trivy in an air gap environment is here

Trivy currently uses `--insecure` flag to get image or repository, not to download DB.
You can manually download DB

[2022-05-16 05:21] DmitriyLewen commented on #2099
Hello @fdavis99
Thanks for your report!

We will add backslash to instruction.
We will also try to solve problem for RHEL without `distroverpkg` field in `/etc/yum.conf` file.

Currently, you can add backslash to `$basearch`, change `$releasever` to `7` and download Trivy:
[code]

Regards, Dmitriy

[2022-05-16 06:33] DmitriyLewen commented on #2068
@AErmie sorry for confuse you before.

For packages installed from `rpm/yum` Trivy uses OS Databases: [data-sourse](https://aquasecurity.github.io/trivy/v0.27.1/docs/vulnerability/detection/data-source/)
[Amazon Linux Security Center](https://alas.aws.amazon.com/alas2.html) is used for amazon linux 2.

For example: your container contains `python-pillow` with this version:
[code]
[CVE-2022-22815 ]

[2022-05-16 07:36] maltewhiite commented on #2093
@DmitriyLewen - Well, the expected behavior is

Could you update the documentation, so people don't expect something that is wrong?

[2022-05-16 07:47] knqyf263 commented on #1802
https://github.com/aquasecurity/trivy/pull/2084 added this support. Please try v0.28.0 that will be released soon.

[2022-05-16 07:47] #1802 closed

[2022-05-16 07:49] #2104 closed

[2022-05-16 07:52] knqyf263 commented on #2093
Trivy does the same thing for pulling images.
https://github.com/aquasecurity/fanal/blob/8498ea6d53b6fc14544253ca5445dd46c2e84e76/image/remote.go#L20-L26

We can add custom http.Transport here to skip TLS verification for downloading the DB.
https://github.com/aquasecurity/trivy/blob/main/pkg/oci/artifact.go#L53-L56

[2022-05-16 09:43] knqyf263 opened #2123 "docs: update misconf output examples"
- [x] https://aquasecurity.github.io/trivy/v0.27.1/getting-started/quickstart/
- [x] https://aquasecurity.github.io/trivy/v0.27.1/docs/misconfiguration/iac/
- [x] https://aquasecurity.github.io/trivy/v0.27.1/docs/misconfiguration/filesystem/
- [x] https://aquasecurity.github.io/trivy/v0.27.1/docs/misconfiguration/custom/debug/
- [x] https://aquasecurity.github.io/trivy/v0.27.1/docs/misconfiguratio

[2022-05-16 10:51] knqyf263 opened #2124 "fix(json): not export Highlighted"
## Description
`Highlighted` is not needed in JSON

[code]

[2022-05-16 11:17] cyrine-souid opened #2125 "Integrating trivy with GCR ( google container registry) in Gitlab CI"
I'm trying to integrate trivy with GCR in my pipeline to scan images , tried the official documentation code :

[code]
It didn't work , and I'm struggling to authenticate to GCR with trivy, did anyone solve a similar issue ?
( I'm avoiding using docker, docker dind... and did the build with kaniko )

[2022-05-16 13:16] #2123 closed

[2022-05-16 16:23] josedonizetti opened #2133 "fix(k8s): summary report not showing when filtering vulnerabilities"
## Description

[code]

[code]

[2022-05-16 16:28] josedonizetti opened #2134 "fix(k8s): not able to scan clusterroles"
## Description

if there is a default namespace for kubectl:
[code]

trivy uses the branch by default and can't scan cluster level resources:
[code]

[2022-05-16 16:32] josedonizetti opened #2135 "feat(k8s): better api for k8s subcommand"
[code]

[2022-05-16 16:32] josedonizetti commented on #2135
@knqyf263 This was the last agreement correct?

[2022-05-16 16:33] josedonizetti opened #2137 "feat(k8s): support secrets scanning"
trivy k8s should also scan secrets

[2022-05-16 16:39] knqyf263 commented on #2097
Released 🎉
https://github.com/aquasecurity/trivy/discussions/2136

[2022-05-16 16:39] #2097 closed

[2022-05-16 18:06] stevehipwell commented on #1819
It looks like this has been delivered in v0.28.0.

[2022-05-16 18:07] #1819 closed

[2022-05-16 18:09] stevehipwell commented on #1952
Should this be more generic for SBOMs as Trivy now supports SPDX?

[2022-05-16 18:11] knqyf263 commented on #1952
Yes, but we will start with CycloneDX. I want to see if people need SPDX input.

[2022-05-16 18:17] stevehipwell commented on #1952
I need SPDX input, it is the OSSF SBOM format.

[2022-05-16 18:44] josedonizetti opened #2138 "fix(k8s): summary report duplicate entries when a pod has more than on container"
![Screen Shot 2022-05-16 at 2 38 20 PM](https://user-images.githubusercontent.com/34032/168651041-c9bdc628-0718-4a80-abe8-947fb3f07c45.png)

it should instead sum both vulns/misconfigs.

[2022-05-16 19:17] Pivotal-Jeff-Jun opened #2139 "SPDX Report is missing Relationship field"
## Description

I have ran `trivy image --format spdx-json --output result.spdx ubuntu:latest` and I was expecting `relationship` field to be available. However, it did not have any relationship information available.

## What did you expect to happen?

Expected relationship information between image and the packages, as well as relationship between packages (parent vs subpackage)

## What happene

[2022-05-16 19:23] mayrstefan commented on #2093
I would prefer that trivy is also able to ignore the certificate when pulling the db image as it can do when pulling an image for scanning. This would make it much easier to use trivy in a container or kubernetes context where we are restricted to a whitelisted private registry. Like @maltewhiite described the setup of his gitlab environment.

[2022-05-17 00:26] PenelopeFudd commented on #2103
Good news, the release page finally shows v0.28.0.
I'm leaving this ticket open so that you get a chance to see it, as it may be concerning even if it has corrected itself.

[2022-05-17 02:51] Greyh4t commented on #1833
Hello, this issue not only affects just one vulnerability, there may be other similar situations, do you have a plan to fix this issue?

[2022-05-17 05:23] knqyf263 commented on #2103
Actually, we have no idea why it disappeared. We released it again.
https://github.com/aquasecurity/trivy/discussions/2095#discussioncomment-2722172

[2022-05-17 05:23] #2103 closed

[2022-05-17 05:34] knqyf263 commented on #2139
@ShiraCohen33 Could you take a look?

[2022-05-17 08:12] knqyf263 commented on #1833
@DmitriyLewen Could you elaborate on the cause with some command examples?

[2022-05-17 08:36] thiago-gitlab commented on #1598
So GitLab 15.0 came around, I didn't have time to contribute a fix, and this integration has broken as expected.

On a positive note, Container Scanning is now part of GitLab Core (free): https://gitlab.com/groups/gitlab-org/-/epics/2233

So all users should be able to use GitLab's own [Container Scanning CI configuration template](https://docs.gitlab.com/ee/user/application_security/container_sca

[2022-05-17 10:08] bovy89 opened #2141 "issues after upgrade from 0.27.x to 0.28.x"
I've found the following issues while upgrading from 0.27.x to 0.28.0:
1) policy scan very slow

[code]
[code]
----> 4.34s

[code]
----> 2.02m

2) The default policies package changed from appshield to buildin. If you do not change it, policy exception do not work

[code]
I think that should be emphasized in the changelog and examples need to be changed as well (https://github.com/aquasecurity/tri

[2022-05-17 12:21] DmitriyLewen commented on #2087
@DhritiShikhar Main branch may not be stable to use.
Can you try installing Trivy v0.28.0 using this [guide](https://aquasecurity.github.io/trivy/v0.28.0/getting-started/installation/) and check again?

[2022-05-17 12:32] pealtrufo commented on #2085
Thanks for confirming.
I am experiencing the same sort of thing now with a different image: `registry.access.redhat.com/ubi8/php-74:1-61`

Different scan results using the same database:

[code]

[code]

[code]

## Output of `trivy -v`:
[code]

I imagine this is the same issue? Could you please double check?

[2022-05-17 12:46] mkemmerz opened #2144 "Improve --exit-code flag and documentation"
For me it is unclear how the `--exit-code` exactly works. The documentation has some explanation but maybe because I am not a native speaker I have still questions.

The [documentation](https://aquasecurity.github.io/trivy/v0.27.1/docs/references/cli/image/)  has as explanation:

This brings me to the following questions and requests:

- What is the default exit code if Trivy doesn't find any vuln

[2022-05-17 13:39] mrjonstrong opened #2145 "Maven dependencies not resolved correctly during filesystem scan - properties"
## Description

Trivy filesystem scan of a pom.xml with a properties section resolves the wrong version of the dependency. In this example jackson

## What did you expect to happen?
Version of dependencies in properties section of pom.xml to be used when trivy lists the packages and looks for matching cves

## What happened instead?
Older versions of dependencies used

## Output of run with `-debu

[2022-05-17 18:19] #2099 closed

[2022-05-17 21:06] josedonizetti opened #2148 "fix(k8s): scanning several times the same cronjob"
![Screen Shot 2022-05-16 at 3 43 40 PM](https://user-images.githubusercontent.com/34032/168910177-9732708e-c92d-4689-9b1f-a4748047047e.png)

It should scan the cronjob once, and report once.

[2022-05-17 21:47] fdavis99 commented on #2099
Unfortunately Googling trivy install shows links to
https://aquasecurity.github.io/trivy/v0.18.3/installation/ and
https://aquasecurity.github.io/trivy/v0.15.0/installation/. I guess it will
take time for this fix to propagate to the latest page
https://aquasecurity.github.io/trivy/v0.28.0/getting-started/installation/

Since it's doc and not code, it would be better to patch older versions. I
kno

[2022-05-18 13:40] owenrumney commented on #2124
This was resolved in #2131

[2022-05-18 13:40] #2124 closed

[2022-05-18 16:15] liamg commented on #2090
This is fixed as of v0.28.0

[2022-05-19 02:28] thiago-gitlab commented on #1598
@krol3, I've submitted a PR to update the docs here: https://github.com/aquasecurity/trivy/pull/2153.

I have opted to leave the current `contrib/gitlab.tpl` in place since it can benefit users of older versions of GitLab. I made a note to point-out that it doesn't work with GitLab 15.0.

Please let me know what you think.

[2022-05-19 06:17] dinapappor commented on #2048
This still seems to happen with `0.28.0`

[2022-05-19 10:18] diogormendes opened #2154 "Badge Support for Repositories"
Is anything in the Roadmap to have badges for the repository like Snyk does ?

Reference: [LINK](https://support.snyk.io/hc/en-us/articles/360003997277-Badge-Support-for-Repositories)

[2022-05-19 10:26] albertschwarzkopf opened #2155 "There is no valid metadata file"
Hi,

fresh installed trivy (via helm) has following issue:

[code]
Then the pod restarts.

I have tried it with several images from 0.25.0 and latest version also. But if I deactivate the liveness and readiness probes, then it works:
[code]

Version:
Helm-Chart Version: 0.4.13
Values:

[code]

Images 0.25.0 - 0.28.0

[2022-05-19 10:36] albertschwarzkopf commented on #2155
Ok I fixed it with more resources.

[2022-05-19 10:36] #2155 closed

[2022-05-19 11:19] knqyf263 commented on #1952
Thanks for letting us know. Could you open an issue? We'll add it to our backlog.

[2022-05-19 12:50] IkeLutra commented on #1200
@WorldVirus How did get on with this? I would be happy to help as well

[2022-05-19 13:00] #2133 closed

[2022-05-19 13:00] #2138 closed

[2022-05-19 13:10] josedonizetti commented on #2134
This was fixed on https://github.com/aquasecurity/trivy-kubernetes/pull/29, waiting the next release of `trivy-kubernetes` to bump it up.

[2022-05-19 16:55] isuftin opened #2157 "False positive avd-aws-0089 s3 bucket logging"
## Description

[code]

Actual YML since the above is formatted poorly:

[code]
## What did you expect to happen?

No errors to come up when it comes to logging

## What happened instead?

Failed with avd-aws-0089

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

[2022-05-19 18:31] WorldVirus commented on #1200
I thought, that somebody already took the issue

[2022-05-19 20:15] cnwaldron opened #2158 "Jetty CVEs are showing up incorrectly"
## Description

We have some images using the following jetty libraries of version 10.0.9 :
org.eclipse.jetty:jetty-client
org.eclipse.jetty:jetty-http
org.eclipse.jetty:server
org.eclipse.jetty:jetty-util
org.eclipse.jetty:jetty-webapp

When scanning the images during an offline scan these CVEs are showing up when the version doesn't appear in the "affected versions".
CVE-2020-27216
CVE-2020-2721

[2022-05-19 21:16] mrjonstrong commented on #2145
@DmitriyLewen let me know if you need anymore info. I thought it was due to the properties section but that was a bit of an assumption.

[2022-05-19 22:25] josedonizetti opened #2159 "feat(k8s): add --context to trivy k8s"
[code]

[2022-05-20 00:17] tspearconquest commented on #1858
Please remove stale label

[2022-05-20 04:53] DmitriyLewen commented on #2145
Hello @mrjonstrong
Thanks to your report!

Can i take a look at your pom.xml file to check your problem?

Regards, Dmitriy

[2022-05-20 08:24] mrjonstrong commented on #2145
Hi @DmitriyLewen sure thing, here is a link [pom.xml](https://gist.github.com/mrjonstrong/a84305824955ee3ed1a394fbf7761884) let me know it that is no good and I can upload.

[2022-05-20 09:59] githubtwo opened #2161 "scan result"
I has execute cmd of "trivy image nginx:latest", how can I get scan result like call api?

[2022-05-20 10:03] 06kellyjac commented on #1200
cc: @eranshapira

[2022-05-20 10:28] ahysing opened #2162 "trivy config just got slower"
In my company we use `trivy config` to scan for security issues in kubernetes configuration **before** applying them to the cluster. Up until now we have had great success by running trivy version v0.25.3 on all our configuration. We scan a folder with all the expanded YAML files for kubernetes. the exact command is.
`trivy config  --format sarif -o report.sarif .`

After upgrading to release v0.2

[2022-05-20 10:35] ahysing commented on #2162
Testing further I found that there is a significant increase of scan times (`sarif config`) between version 0.27.1 and 0.28.0

[2022-05-20 10:47] ahysing commented on #2162
this is me testing sarif scan on the relevant files on my local machine. from 0.27.1 to 0.28.0 sarif scan times went from 7 seconds to 3 minutes:

[code]
this test was performed on a Mac with these specs
<img width="590" alt="image" src="https://user-images.githubusercontent.com/1487947/169512248-6d6ad48b-9022-423b-8a39-f38a150c2b9c.png">

[2022-05-20 11:12] ajinkya1986 opened #2164 "Trivy service access"
How can we access the trivy service externally if we are using a trivy docker image or installing it locally? I want to pass the image info and arguments to the trivy service externally and get the output so that we can use the output for backend consumption?

[2022-05-20 12:18] DmitriyLewen commented on #2085
Hello @pealtrufo
Thanks a lot for your reports.

I found different results for `register.access.redhat.com/ubi8/php-74:1-61` and am working on this issue.

Trivy currently works correctly with this image.

[2022-05-20 12:39] Dentrax commented on #1164
Hey @knqyf263, can you please tell us what to do to add SBOM scanning feature (like Grype did[^1] in package matcher), so we (@developer-guy) want to work on this.

[^1]: https://github.com/anchore/grype/blob/c9f27163896663bd0139a09db05abd0e9b30e51f/grype/matcher/rpmdb/matcher.go#L27

[2022-05-20 13:23] LawrenceWarren opened #2166 "Add ASFF template support for `trivy config` Kubernetes scan"
I can see that, by templating out a Helm config and then running `trivy config` on the output Kubernetes resources, we can get a security scan on potential vulnerabilities. E.G.:
[code]

My company needs the Trivy reports in the ASFF format. We do this using the [`asff.tpl` file you provide in the repository](https://github.com/aquasecurity/trivy/blob/main/contrib/asff.tpl).

The template works ex

[2022-05-21 00:05] #1772 closed

[2022-05-22 19:03] jananathbanuka commented on #1026
Still the same issue

[2022-05-22 22:02] gowthamshankar99 opened #2169 "Trivy k8s scanning fails with context deadline exceeded error"
## Description

Trivy Kubernetes Scanning fails with the following error when scanning the entire cluster

Note - the scan works ok when a specific namespace is scanned but fails when entire cluster is scanned with ```context deadline exceeded``` error

[code]

[2022-05-23 05:37] DmitriyLewen commented on #2158
Hello @cnwaldron
Thanks a lot for your report!

Trivy first gets fixed version from [GitLab Advisory Database](https://advisories.gitlab.com/).
That is why you got these CVE's.

I created [issue](https://gitlab.com/gitlab-org/security-products/gemnasium-db/-/issues/195) to change these CVE's.

Before updating these CVE's you can use `.trivyignore` file to skip these advisories.
More information ab

[2022-05-23 07:58] DmitriyLewen commented on #2145
Hello @mrjonstrong
Thanks a lot for your time!

your pom.xml file contains [spring-cloud-starter-config v3.1.0](https://mvnrepository.com/artifact/org.springframework.cloud/spring-cloud-starter-config/3.1.0)(version was sourced from [spring-cloud-dependencies v2021.0.0](https://spring.io/blog/2021/12/02/spring-cloud-2021-0-0-codename-jubilee-has-been-released)). This package has `jackson-databind

[2022-05-23 09:11] remidebette commented on #1856
Still needed

[2022-05-23 14:42] josedonizetti commented on #2169
@gowthamshankar99 Thank you for reporting. This error is happening because your cluster is big, `5373` resources. The default timeout currently is `300s`, would you mind trying to run the scan with a bigger timeout?

[code]

That is a great insight though, I will improve the error message to be more clear about the timeout, and also there some PRs coming to improve performance.

[2022-05-23 15:19] stevehipwell opened #2170 "Support SPDX as input"
I would like to take a SPDX format SBOM, either generated by Trivy or another system, and pass it in to Trivy to scan for vulnerabilities.

This is the SPDX version of #1952.

[2022-05-23 20:09] gowthamshankar99 commented on #2169
@josedonizetti  - this helps thanks ! I will give that a try

[2022-05-24 00:33] AErmie commented on #2068
Hey @DmitriyLewen, I wanted to follow up on this issue, as I've discovered a few more important/interesting pieces of information.

Firstly, there is another tool (Anchore's [Grype](https://github.com/anchore/grype)) that seems to successfully identify the vulnerabilities that are being reported from AWS Inspector.

Secondly, through some research and trial and error, the majority of these vulnera

[2022-05-24 03:11] #2161 closed

[2022-05-24 05:06] DmitriyLewen commented on #2068
Hello @AErmie

When you use `trivy image` flag, Trivy scans all files in the image and gets OS packages(rpm, dpkg and etc.) and some language packages([list of languages and supported files](https://aquasecurity.github.io/trivy/v0.28.0/docs/vulnerability/detection/language/)).
Trivy also finds secrets and misconfigurations(use `--security-checks" flag).

If language-specific package was installed

[2022-05-24 11:03] AErmie commented on #2068
Hey @DmitriyLewen, thanks for the response. What I'm not clear on is, what is Grype scanning/checking that Trivy is not? Or, might it have to do with which advisories sources are used with each tool?

Ideally, if I could obtain the same results using just Trivy (versus needing to run 2 different tools), that would be best. If not, that is fine. I just want to make sure I'm using Trivy correctly /

[2022-05-24 12:29] dAnjou commented on #2087
I'm experiencing something similar and did a bit more debugging.
[code]
`secrets.tf`:
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
So, it seems it only fails for the `table` format and only when you're filtering for a severity that doesn't contain any results.

[2022-05-24 12:36] DmitriyLewen commented on #2087
Thanks a lot for this great answer.

I will check and write to you.

Regards, Dmitriy

[2022-05-24 13:09] DmitriyLewen commented on #2068
I think Grype also gets vulnerabilities from GitHub database, when scanning image based on amazon linux 2.

For this image, Trivy only uses the Amazon database for Python packages installed from yum.

as an experiment (**I don't recommend using it for actual scanning**):
if you want to scan your python packages as individual packages:
- run your image
[code]
- install Trivy inside container
[code]

[2022-05-24 13:57] LawrenceWarren commented on #1732
Hi, is this being worked on? Trivy generating ASFF reports with >100 findings is a problem since SecurityHub only accepts reports with 100 or less findings.

Is there a way on Trivy's end, either with your ASFF template or some kind of confguration flag, that you can split a report into several reports with _N_ findings per report?

[2022-05-24 16:26] hairmare opened #2173 "checksum mismatch in github.com/docker/distribution@v2.8.0+incompatible when building a fresh clone"
## Description

Locally building fails with a checksum mismatch when downloading go modules.

## What did you expect to happen?

`go build cmd/trivy/main.go` should build a trivy binary

## What happened instead?

[code]

## Output of run with `-debug`:

n/a

## Output of `trivy -v`:

n/a

## Additional details (base image name, container registry info...):

AFAICT the 2.8.0 tag was in fact change

[2022-05-24 20:05] josedonizetti opened #2174 "k8s: scan returning `panic: runtime error: invalid memory address or nil pointer dereference`"
`$ trivy k8s -n default --report all`
[code]

[2022-05-24 20:57] rpsene opened #2177 "ppc64le is no longer available after relase 0.23."
Power is no longer available as part of the releases. Was it removed or is this a CICD issue?

[2022-05-25 04:20] elchenberg opened #2180 "docs: Installation on Debian/Ubuntu: follow Debian's "instructions to connect to a third-party repository""
According to the Debain wiki keys “MUST NOT be placed in /etc/apt/trusted.gpg.d or loaded by apt-key add.”: <https://wiki.debian.org/DebianRepository/UseThirdParty>

So instead of this:

[code]

the [Debian/Ubuntu installation instructions](https://github.com/aquasecurity/trivy/blob/v0.28.0/docs/getting-started/installation.md#debianubuntu) could look like this:

[code]

[2022-05-25 05:42] DmitriyLewen commented on #2089
Hello @flyingflo
Thanks for your report!

I can reproduce your problem.

I will work on it and write to you.

Regards, Dmitriy

[2022-05-25 05:48] DmitriyLewen commented on #1732
Hello @LawrenceWarren
Thank for your report!

We are working with this.
When it will be ready, i will write to you!

Regards, Dmitriy

[2022-05-25 11:06] afdesk commented on #2177
@rpsene thanks for your report. let me take a look at the reason.

[2022-05-25 11:16] afdesk commented on #2177
The reason is here #1694:

[2022-05-25 11:20] rpsene commented on #2177
@afdesk thanks for replying. I do believe the libc issue was recently fixed. We will check.

[2022-05-25 11:30] afdesk commented on #2164
@ajinkya1986 `Trivy` has `client/server` mode now, you can read here: https://aquasecurity.github.io/trivy/v0.28.0/docs/references/modes/client-server/

[2022-05-25 11:44] DanielCasali commented on #2177
@afdesk Power is supported now on the latest libc v1.16.7 and ssqlite v1.17.3 fixed this and I just tested the build after altering go.mod for this versions and running
`go get github.com/knqyf263/go-rpmdb/pkg/sqlite3@v0.0.0-20220209103220-0f7a6d951a6d`
trivy seems to run fine after compiled:
`[root@power-compare-eu-de-2-bastion-0 trivy]# ./trivy image docker.io/library/golang:alpine
2022-05-25T11

[2022-05-25 12:55] shift opened #2182 "Support for redhat/ubi9 is missing"
## Checklist
- [x] I've read [the documentation regarding wrong detection](https://aquasecurity.github.io/trivy/latest/community/contribute/issue/#wrong-detection).
- [x] I've confirmed that a security advisory in data sources was correct.

## Description

Currently doesn't detect the new Red Hat Universal Base Image 9 OS.

## Additional details (base image name, container registry info...):

Base

[2022-05-25 20:55] RyanHolstien opened #2184 "Trivy incorrectly reports CVE-2021-42697 is present in com.typesafe.akka:akka-http-core:10.1.15"
## Checklist
- [X] I've read [the documentation regarding wrong detection](https://aquasecurity.github.io/trivy/latest/community/contribute/issue/#wrong-detection).
- [X] I've confirmed that a security advisory in data sources was correct.
    - Run Trivy with `-f json` that shows data sources and make sure that the security advisory is correct.

## Description

Trivy is reporting that CVE-2021-42

[2022-05-26 04:56] knqyf263 commented on #2162
I think it is the same issue as https://github.com/aquasecurity/trivy/issues/2141.

[2022-05-26 05:11] #2173 closed

[2022-05-26 06:20] knqyf263 commented on #2162
Could you try [v0.28.1](https://github.com/aquasecurity/trivy/releases/tag/v0.28.1)? If you still see the issue, please feel free to reopen it.

[2022-05-26 06:20] #2162 closed

[2022-05-26 07:01] #2134 closed

[2022-05-26 07:01] #2148 closed

[2022-05-26 07:08] #2182 closed

[2022-05-26 07:45] knqyf263 commented on #2180
Sounds reasonable! Could you open a PR?

[2022-05-26 08:24] knqyf263 commented on #2177
Great! Could you open a PR updating those dependencies?
https://github.com/knqyf263/go-rpmdb

[2022-05-26 08:24] #2085 closed

[2022-05-26 08:26] knqyf263 commented on #1908
It says 500, so I guess it was a temporal issue. Are you still facing it?

[2022-05-26 11:54] #2093 closed

[2022-05-26 18:34] afdesk commented on #2184
@RyanHolstien thanks for your report! I'll try to clarify this issue.

[2022-05-26 19:02] RyanHolstien commented on #2184
Thanks! Appreciate you taking a look 😄

[2022-05-26 19:28] afdesk commented on #2184
@RyanHolstien maybe i missed something, please, correct me.

I've downloaded `akka-http-core_2.13-10.1.15.jar` from maven: [https://mvnrepository.com/artifact/com.typesafe.akka/akka-http-core_2.13/10.1.15](https://mvnrepository.com/artifact/com.typesafe.akka/akka-http-core_2.13/10.1.15), and then run Trivy:
[code]

then I took a look at Gitlab Advisory DB: https://gitlab.com/gitlab-org/advisories-

[2022-05-26 19:54] RyanHolstien commented on #2184
Thanks for the information @afdesk ! Sorry for the confusion, I'll reach out to NVD and see if this can get fixed. Thanks! 😄

[2022-05-26 21:27] b34rd-tek commented on #2174
Interestingly, I have this issue running a scan within GitHub as an action or even locally on a machine.

`trivy config -f table --severity="HIGH,CRITICAL" /path/to/repo/dir`

![image](https://user-images.githubusercontent.com/81767471/170582421-eb160537-638c-49df-812f-e7cfb55c9a19.png)

I know there is a MEDIUM vulnerability within this repository and if I don't specify severity or only specify M

[2022-05-26 23:45] happylie opened #2187 "Is it correct that the Trivy Server Mode Vulnerability DB update is normal?"
Is it correct that the current Trivy Server Mode Vulnerability DB update is normal?

The UpdatedAt/NextUpdate date will not change after the time you ran.
I would appreciate it if you can check if it is being updated normally.

[code]

[2022-05-27 00:05] #1796 closed

[2022-05-27 00:08] josedonizetti commented on #2174
@b34rd-tek which trivy version are you using? I wasn't able to simulate this bug on latest trivy.

[2022-05-27 00:16] b34rd-tek commented on #2174
I'm using 0.27.1 on one local machine and 0.28.0 on another. I'm using v0.3.0 of the GitHub action which Is using Trivy 0.27.1 also. The repository is all terraform files. The issue persists across all versions.

[2022-05-27 04:30] DmitriyLewen commented on #2158
Hello @cnwaldron

GitLab Database has been updated.

You can update Trivy DB and check your image.

Regards, Dmitriy

[2022-05-27 13:36] afdesk commented on #2187
@happylie yes, your dates look a little strange, it seems Trivy didn't update the database.

could you update the db without scanning?
[code]

[2022-05-27 15:27] masahiro331 commented on #1164
https://github.com/aquasecurity/fanal/pull/536
in progress now.

[2022-05-28 10:42] tob123 opened #2190 "secrets detection on phpseclib returns vulnerabilities but should not ?"
## Description

Trivy detects secrets in phpseclib and reports them as a vulnerability.
phpseclib version: 2.0.32
file: phpseclib/phpseclib/Crypt/RSA.php

## What did you expect to happen?
Trivy reports phpseclib/phpseclib/Crypt/RSA.php to not contain secrets.

## What happened instead?

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image na

[2022-05-28 20:35] AErmie commented on #2068
Hey @DmitriyLewen, Grype actually lists which databases it uses here: https://github.com/anchore/grype#grypes-database

There are 10 vulnerability data sources in total. It just feels like Grype is a more complete/robust tool based on the results observed. It doesn't require running the container image, installing anything inside of it, scanning a specific directory, etc. just to obtain (what I wo

[2022-05-29 01:39] happylie commented on #2187
@afdesk
If you talk about the current situation a little more, you are running in server mode and running and running as follows.
[code]

And we used the "-download-db-only" option, but nothing is changed.

When you run a new one, you can see that it applies normally as UpdatedAt/NextUpdate date as below.
[code]

[2022-05-29 06:15] knqyf263 opened #2191 "Verify found secrets"
Trivy detects [hard-coded secrets](https://aquasecurity.github.io/trivy/v0.28.1/docs/secret/scanning/) now, but doesn't check their validity. It leads to false positives if a project contains dummy API tokens for testing. The token should be verified by calling API. e.g. When GitHub PAT is found, Trivy should call `/user` endpoint or something like that.
https://docs.github.com/en/rest/users/users

[2022-05-29 06:17] knqyf263 commented on #1164
@Dentrax Thanks for offering! @masahiro331 is working on that now. Please let us ask you if we need your help.

[2022-05-29 06:22] knqyf263 opened #2192 "Improve secret output"
## Description
Detected secrets are shown in table now. It should display lines like misconfiguration output.

### Before

[code]

### After

[code]

[2022-05-29 07:24] knqyf263 commented on #2068
@AErmie Hi, I looked into your container. To come to the point, I'd say **Trivy is correct** and other tools are wrong.

First of all, I built your [Dockerfile](https://github.com/aquasecurity/trivy/issues/2068#issuecomment-1126802301).

[code]

The version of python-pillow is `2.0.0-23.gitd1c6db8.amzn2.0.1`. As @DmitriyLewen explained, the version already resolved CVE-2022-22815 and CVE-2022-2281

[2022-05-29 07:52] knqyf263 commented on #2088
I think it should be discussed in the Harbor repository.

[2022-05-29 07:52] #2088 closed

[2022-05-29 07:53] #2043 closed

[2022-05-29 07:54] knqyf263 commented on #1996
Fixed

[2022-05-29 07:54] #1996 closed

[2022-05-29 07:55] #1937 closed

[2022-05-29 07:56] knqyf263 commented on #1900
We embed built-in policies into Trivy binary. Downloading policies is no longer needed.

[2022-05-29 07:56] #1900 closed

[2022-05-29 07:58] #1870 closed

[2022-05-29 08:03] knqyf263 opened #2193 "Dependency origin graph"
## Description
Trivy should show where a package comes from because it might be an indirect dependency. If the vulnerable `package A` is used by `package B` that is a direct dependency, user needs to update `package B` rather than `package A`.

### Example

[code]

In the above example, `minimist` is vulnerable. Users can know `cra-append-sw@2.7.0` and some packages depend on `minimist@1.2.5` cont

[2022-05-29 12:13] knqyf263 opened #2194 "Keep detected secrets removed in upper layer"
## Description
Trivy currently scans hard-coded secrets in each layer and ignores a secret if it is removed in the upper layer. It is essential for vulnerability scanning, but on the other hand, removed secrets should be kept in secret scanning.

[2022-05-29 13:40] #2137 closed

[2022-05-30 08:09] elchenberg commented on #2180
Sure, can do. Unless someone else is faster. :slightly_smiling_face:

[2022-05-30 09:38] AnaisUrlichs opened #2196 "During workload scanning the default ns should be scanned by default if no other ns is specified"
## Description

trivy k8s currently needs to have the namespace explicitly passed into the command to scan deployment workloads:

<img width="1115" alt="Screenshot 2022-05-30 at 10 32 52" src="https://user-images.githubusercontent.com/33576047/170963635-5e00c392-e4da-401c-a937-9348e024628f.png">

When I do not specify a namespace, I want it to use the default namespace automatically since that is

[2022-05-30 09:44] dAnjou commented on #404
I believe #720 is kind of the same issue, no?

[2022-05-30 12:09] tcarlander commented on #1908
I am facing same issue on Mac OS
$ trivy -v
Version: 0.28.1
trivy -d image farm2go
2022-05-30T15:07:53.615+0300    DEBUG   Severities: UNKNOWN,LOW,MEDIUM,HIGH,CRITICAL
2022-05-30T15:07:53.670+0300    DEBUG   cache dir:  /Users/xxx/Library/Caches/trivy
2022-05-30T15:07:53.671+0300    DEBUG   There is no valid metadata file: unable to open a file: open /Users/xxx/Library/Caches/trivy/db/metadata.jso

[2022-05-30 12:14] chen-keinan opened #2198 "Kube-bench checks with Trivy"
Epic to track work on adding kube-bench support

- [x] https://github.com/aquasecurity/trivy/issues/2199
- [x] https://github.com/aquasecurity/trivy/issues/2200
- [x] https://github.com/aquasecurity/trivy/issues/2766
- [x] https://github.com/aquasecurity/trivy/issues/2919
- [x] https://github.com/aquasecurity/trivy/issues/3276
- [x] https://github.com/aquasecurity/trivy/issues/2201

[2022-05-30 12:16] #2087 closed

[2022-05-30 12:17] chen-keinan opened #2199 "investigation on mapping cis benchmark test to OPA rego policies"
## Description
it is required to investigate mapping cis-benchmark to OPA rego checks and  produce a matrix with existing / missing checks

[2022-05-30 12:21] chen-keinan opened #2200 "Add kube-bench missing OPA rego policies"
## Description
it is required to add the missing kube-bench OPA rego policies.
checks should be added to [defSec](https://github.com/aquasecurity/defsec/tree/master/internal/rules/kubernetes/policies)
depends on : #2199

[2022-05-30 12:23] chen-keinan opened #2201 "Add support for checking files permissions on k8s node"
## Description
In order to be able to migrate kube-bench functionality in Trivy, it is required to be able to perform some checks on the k8s node itself, like for example checking files permissions on k8s-node

[2022-05-30 13:04] knqyf263 commented on #2169
Please feel free to reopen the issue if you still have the same issue. Thanks.

[2022-05-30 13:04] #2169 closed

[2022-05-30 13:10] oauwils opened #2202 "goroutine stack exceeds 1000000000-byte limit - trivy fs v0.28.1"
## Description

When running trivy over a maven project with submodules and many dependencies, with the command `trivy fs .`, trivy uses all available memory and crash with the error :
[code]

## What did you expect to happen?

Trivy should retrieve dependencies and vulnerabilities for the whole project (submodules included)

## What happened instead?

Trivy uses all memory (RAM + swap) on the sys

[2022-05-30 14:22] rcarpio-hbo opened #2204 "Detect secrets in container environment variables"
Scan container images for secrets present in the container environment variables.

Example Dockerfile with AWS secret:
[code]

[2022-05-30 16:25] b34rd-tek commented on #2174
@josedonizetti Here is the file causing the issues for me:

[code]

[2022-05-30 17:06] Vaishalinicky opened #2205 "Trivy is not able to scan private image present on nexus repository"
Hello Team,

When executing below command
[code]
Facing below error
[code]

although I am able to pull image and also it is visible to docker images output

[code]

[2022-05-30 17:57] Kanika637 commented on #2081
I would like to work on this, could you please guide me toward this @knqyf263

[2022-05-30 19:11] josedonizetti commented on #2174
@b34rd-tek Thank you for the sample file. I was able to emulate the error, and there was a PR merged today that fixes it -> https://github.com/aquasecurity/trivy/pull/2188 :)

[2022-05-30 20:19] josedonizetti opened #2206 "chore(k8s): add ISSUE_TEMPLATE"
Add ISSUE_TEMPLATE to [trivy-kubernetes](https://github.com/aquasecurity/trivy-kubernetes) to point issue creation to trivy.

[2022-05-30 20:28] josedonizetti opened #2207 "k8s sub-command to trivy"
Epic issue to track current work on `trivy k8s`

[2022-05-30 20:29] josedonizetti commented on #2207
- https://github.com/aquasecurity/trivy-kubernetes/issues/22
- https://github.com/aquasecurity/trivy-kubernetes/issues/32
- https://github.com/aquasecurity/trivy/issues/2133
- https://github.com/aquasecurity/trivy/issues/2134
- https://github.com/aquasecurity/trivy/issues/2135
- https://github.com/aquasecurity/trivy/issues/2137
- https://github.com/aquasecurity/trivy/issues/2138
- https://github.c

[2022-05-31 05:03] DmitriyLewen commented on #2190
Hello @tob123
Thanks for your report!

I was able to reproduce your issue. I will investigate it and write you.

Regards, Dmitriy

[2022-05-31 07:16] itaysk opened #2209 "Trivy extensibility model"
Allow users to customize Trivy by adding custom analyzers and detections. Extensions should be developed outside of Trivy by anyone, and be loaded into Trivy at runtime.

For example, Spring4Shell module can check if the Java version and Tomcat version satisfy the requirements of https://github.com/advisories/GHSA-36p3-wjmg-h94x. Then, it can change the severity or remove the detected vulnerabilit

[2022-05-31 07:20] itaysk opened #2210 "GitHub dependency snapshots"
Support GitHub dependency format in SBOM.
In addition, support package dependencies and use it in GitHub format.

[2022-05-31 07:21] itaysk commented on #2210
closed by: https://github.com/aquasecurity/trivy/pull/2142

[2022-05-31 07:21] #2210 closed

[2022-05-31 07:31] bluefriday opened #2211 "Severity and cvss scores do not match in trivy scan results."
While using trivy to scan debian images, I noticed something strange.

In the example below, for CVE-2021-43396 the value of the Severity field is marked as "LOW".
[code]

However, in the CVSS item below it, the values of V2Score and V3Score are displayed as 5 (probably medium) and 7.5 (probably High).

In fact, on the nvd site of the "References" entry, the corresponding severity is marked as bel

[2022-05-31 07:36] knqyf263 commented on #1783
Closed by https://github.com/aquasecurity/trivy/pull/1873

[2022-05-31 07:36] #1783 closed

[2022-05-31 07:42] #2034 closed

[2022-05-31 07:42] DmitriyLewen commented on #2205
Hello @Vaishalinicky
Thanks for your interest to Trivy!

To scan private image you have to use some envs: https://aquasecurity.github.io/trivy/v0.28.1/docs/advanced/private-registries/self/

About local image:
Remove `https://` preffix and use tag after `:`.
For your image:
[code]

Regards, Dmitriy

[2022-05-31 07:51] knqyf263 commented on #2081
@Kanika637 Thanks. The code is here. If `@` is found, we should mask characters between `//` and `@` by `****`.
https://github.com/aquasecurity/trivy/blob/b7ec64257279b5f9c47ac02063e12c5305f5af8a/pkg/commands/operation/operation.go#L36

[2022-05-31 07:54] knqyf263 commented on #2211
You can see `SeveritySource`. It says `debian`.

[2022-05-31 07:55] knqyf263 commented on #2211
@DmitriyLewen We probably should add explanation to our doc.

[2022-05-31 08:52] Vaishalinicky commented on #2205
[code]

issue still remains same , facing same error

[code]

[2022-05-31 09:26] DmitriyLewen commented on #2190
@tob123

We are working with you problem.
while we fix this, you can use Trivy config file (`trivy-secret.yaml`) to skip RSA.php file.
Configuration info: https://aquasecurity.github.io/trivy/v0.28.1/docs/secret/configuration/#allow-rules

[2022-05-31 09:55] #2207 closed

[2022-05-31 10:01] josedonizetti commented on #2207
@knqyf263 sure! But this was what I understood from the epic concept when chatting with @itaysk amd @chen-keinan. There would be one issue to track the little issues.

Probably the epic idea is different then.

[2022-05-31 10:06] #2159 closed

[2022-05-31 10:33] #2196 closed

[2022-05-31 11:18] itaysk opened #2213 "Ansible scanning for misconfigurations"

[2022-05-31 11:22] josedonizetti opened #2215 "k8s: scan open secrets on resources"
Let's add support to open secrets on k8s resources (configmap, podsec, etc). Eg:

[code]

[2022-05-31 12:10] #2190 closed

[2022-05-31 12:13] DmitriyLewen commented on #2190
@tob123
Your problem has been fixed.
Changes will be added in the next Trivy release.

Regards, Dmitriy

[2022-05-31 12:14] josedonizetti opened #2216 "k8s: support init containers"
If a resource is defined with a `initContainer` we should also return the images as an artifact for scanning. eg:
[code]

[2022-05-31 12:17] josedonizetti opened #2217 "k8s: scan node images"
kubectl describe node/XXXX

[code]

Can we report vulnerabilities on the OS/Kernel?

[2022-05-31 12:19] josedonizetti opened #2218 "k8s: support ephemeral containers"
if a pod has an ephemeral containers we should return it on as an artifact to scan. eg:

[code]

[2022-05-31 12:35] itaysk opened #2219 "Envoy misconfiguration scanning"

[2022-05-31 12:36] itaysk opened #2220 "nginx misconfiguration scanning"

[2022-05-31 13:06] knqyf263 commented on #2202
pom.xml scanning might be related. Evaluating properties may lead to infinite loop.

[2022-05-31 15:18] scibi opened #2221 "can't evaluate field IacMetadata in type types.DetectedMisconfiguration"
## Description

I'm running slightly modified version of  https://aquasecurity.github.io/trivy/v0.28.1/docs/integrations/gitlab-ci/#gitlab-ci-alternative-template

Unfortunately it breaks when there is a Dockerfile with issues.

Example:

[code]

[2022-05-31 15:49] oauwils commented on #2202
Hello @DmitriyLewen  and @knqyf263
Thanks foy you replies, I tried with `--security-checks vuln`, the result is the same.

I did some tests today, and the problem seems to come from dependencies hosted on private repository (self-hosted nexus in this case). Would it be possible to specify to trivy not to analyze these private dependencies ?

[2022-05-31 17:52] lazarillo opened #2223 "I cannot reset Trivy to use Docker instead of Podman"
I tried to set up Podman a few months ago, then realized that it would not meet all of our requirements at work and uninstalled it.

However, Podman is still set up as the means for Trivy to scan **remote** images, and I cannot figure out how to unset this config.  After downloading the image and running trivy on the local image, it succeeds.

I am using our company-specific repository, which live

[2022-05-31 19:01] #2216 closed

[2022-05-31 19:01] #2218 closed, assigned to josedonizetti

[2022-05-31 20:02] jerbia opened #2225 "Vulnerability scanning for Dockerfile"
Today Trivy can identify configuration issues in Dockerfile (e.g. "USER" statement is not specified).

It would be super nice if Trivy could also scan the base image that the Dockerfile is referring to ("FROM" statement) and show the amount of vulnerabilities it has.

This way, when scanning Dockerfile we will get both the misconfigurations and the vulnerabilities that are related to the image tha

[2022-06-01 04:58] Vaishalinicky commented on #2205
Thanks Dmitriy for your guidance

[2022-06-01 04:58] #2205 closed

[2022-06-01 05:49] vlad-ds opened #2227 "False positive on poetry.lock? My package is above the vulnerable version"
I am running:

## Description

[code]

I recently updated pyspark. But I still get this flag:

[code]
It seems that it should not happen because I have a superior version.

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

[2022-06-01 06:04] afdesk commented on #1984
@AXDOOMER sorry, I misunderstood something. `Dockerfile` isn't a docker image.

so, if you want to scan `Dockerfile`, you can use `config` subcommand or `config` checks:
[code]
isn't it?

[2022-06-01 06:14] AXDOOMER commented on #1984
@afdesk This is a feature request for something that would extract the images from the Dockerfile so that versions of images specified in files such as Dockerfiles, .gitlab-ci.yml, etc. can be extracted and scanned automatically rather than having to specify them on the command line.

Currently, if someone wants to achieve this, this person needs to program the filesystem scan by themselves and ca

[2022-06-01 06:19] afdesk commented on #2227
@vlad-ds thanks. i can reproduce it.
[code]

[2022-06-01 06:26] #2092 closed

[2022-06-01 06:29] knqyf263 commented on #1963
Starboard is deprecated now. https://github.com/aquasecurity/starboard/discussions/1173
Could you try `trivy k8s`?kub

[2022-06-01 06:30] knqyf263 commented on #2033
They were fixed.

[2022-06-01 06:30] #2033 closed

[2022-06-01 07:17] mathias-nyman commented on #2193
@knqyf263, first of all, thank you for working on this - love it!

Would you consider changing the dependency graph to be the other way around? Like this:

[code]

I'd argue that this tree-view is more natural for software engineers to read and to do triage based on. The idea is to on the left side list the actual dependencies that need to be updated. Quite often there a few first-party dependenci

[2022-06-01 07:22] afdesk commented on #1984
oh, thanks for your idea. will think it over.

[2022-06-01 08:32] owenrumney commented on #2221
Hey @scibi - looks like you need to update the template. there was a breaking change in the recent release where `IacMetadata` became the more generalised `CauseMetadata`

see here for the required change to the template - https://github.com/aquasecurity/trivy/blob/main/contrib/gitlab-codequality.tpl#L65

[2022-06-01 11:08] #2221 closed

[2022-06-01 11:19] AndreyLevchenko commented on #2193
@mathias-nyman
We initially reviewed it, but finally decided to implement it differently as structure you suggested can be long enough and it's hard to read if dozen of vulnerable libraries are detected.

[2022-06-01 11:20] chen-keinan opened #2231 "rbac assessment investigation"
## Description
it is required to investigate risky roles and role assessment in the k8s cluster and define the requirements for implementing rbac assessment evaluation.

[2022-06-01 11:22] chen-keinan opened #2232 "rbac assessment rego policies implementation"
create rego policies that will perform risky role assessments in the cluster.
depend on: #2231

[2022-06-01 11:24] chen-keinan opened #2233 "rbac support on k8s sub-command"
it is required to add the rbac representation table under the trivy k8s sub-command table view.
depend on: #2232
[code]

[2022-06-01 12:29] DavidJuanes commented on #2026
I've also hit this issue while integrating trivy with Nexus IQ Server.

After some research I can confirm few things:
- the attached fixed SBOM is still not valid. `cyclonedx-linux-x64 analyze ` is not the right command to validate the bom, instead if we use `validate` command we see the BOM is still invalid:
[code]
- I found that a valid time-date format would be `2022-03-31T16:29:00+0000`, so fr

[2022-06-01 12:35] afdesk commented on #2187
Could you run `trivy` in debug mode?
[code]

[2022-06-01 12:51] afdesk commented on #2187
if Trivy works without the Internet you'll see `ERROR` in the logs:
[code]

[2022-06-01 14:28] dAnjou commented on #2087
Thanks for fixing this so fast! Can I expect a new release soon?

[2022-06-01 14:45] knqyf263 commented on #2087
yes, in two weeks
https://github.com/aquasecurity/trivy/milestone/6

[2022-06-01 15:46] itaysk opened #2247 "License detection for Debian packages"

[2022-06-01 15:48] ispirals opened #2248 "Vulnerability filtering with rego on helm chart"
Hello,

with the current helm chart is not possible to add a rego policy for filtering vulnerabilities (https://aquasecurity.github.io/trivy/v0.28.1/docs/vulnerability/examples/filter/), seems there is no volume mounted for this nor added as configuration to the configmap (https://github.com/aquasecurity/trivy/blob/v0.28.1/helm/trivy/templates/configmap.yaml).

I'm wondering if the reason is that

[2022-06-01 15:50] itaysk opened #2249 "Normalize detected licenses to SPDX License ID"
Today Trivy detects licenses when scanning container images, but the license is free-text and the same license might be written in different ways. To have more consistent results and to allow the license information to be machine-readable (e.g assurance policy), we should normalize the detected license into a common license name. the SPDX license ID is a good option: https://spdx.org/licenses/

[2022-06-01 15:57] itaysk opened #2250 "License insights"
Today Trivy detects license when scanning container images. This is shown for information only, but trivy can help the user understand the implications of the license.
ideas:
link to a license summary page, like https://choosealicense.com/licenses/gpl-3.0/
group licenses as: OSI approved, copyleft, etc.
associate risk score with licenses (TBD)

Pre-requisite for this issue is first to normalize li

[2022-06-01 16:02] itaysk commented on #2204
I think we can expand the scope of this issue to "detect secrets in misconfiguration scanning"?

[2022-06-01 19:55] MohamadTahir opened #2252 "panic: runtime error: invalid memory address or nil pointer dereference"
## Description
Trivy cli throws an error when scanning a k8s resource. this only happens when the `--format` is set to table format and `--report` to all
[code]

this error doesn't happen when i set the format to json, or when I change the report to summary

## What did you expect to happen?
Trivy showing k8s vulnerability without throwing an error

## What happened instead?
Trivy showing the vuln

[2022-06-01 22:00] andresghelarducci opened #2253 "False positive for CVE-2014-9939"
## Checklist
- [x ] I've read [the documentation regarding wrong detection](https://aquasecurity.github.io/trivy/latest/community/contribute/issue/#wrong-detection).
- [ x] I've confirmed that a security advisory in data sources was correct.
    - Run Trivy with `-f json` that shows data sources and make sure that the security advisory is correct.

## Description

I am using Trivy 0.24.2 inside Ha

[2022-06-02 00:08] happylie commented on #2187
I will run it again with Debug Mode and talk to you.

Previously, existing Log files are being updated normally as below.
[code]

[2022-06-02 04:27] #2252 closed

[2022-06-02 06:19] chen-keinan opened #2254 "Replace Kube-bench NSA checks with rego policies"
## Description
it is required to replace the kube-bench NSA checks with rego policies

[2022-06-02 06:55] #2026 closed

[2022-06-02 07:00] DmitriyLewen commented on #2026
Hello @daniellawson @DavidJuanes
Thanks a lot for detailed report!

We fixed this error.
Fix will be add in next Trivy release(in two weeks: https://github.com/aquasecurity/trivy/milestone/6)

Best Regards, Dmitriy

[2022-06-02 09:53] thorstenhuhn commented on #1913
@chen-keinan This is the issue we talked about at KubeCon in Valencia. To be more precise, we noticed that trivy in server mode with redis backend did not report a finding that was found when running trivy standalone using the same vulnerability database. This lead us to the conclusion that trivy server returned cached results even the vulnerability db changed in the meantime.
Unfortunately the do

[2022-06-02 12:20] #2206 closed

[2022-06-02 12:35] #1833 closed

[2022-06-02 15:16] afdesk commented on #2187
also could you use the latest trivy?
thanks!

[2022-06-02 15:29] afdesk commented on #1840
@bmnielsen sorry for missing your issue.

could you confirm that the problem is actual yet?

thanks

[2022-06-02 18:10] knqyf263 commented on #2204
Yes, that is what I said. It is scanning config of images.

[2022-06-02 18:40] josedonizetti opened #2257 "k8s: scanning openshift ingresses"
Reported by @mtcolman at https://github.com/aquasecurity/trivy-kubernetes/issues/30

[2022-06-02 18:40] josedonizetti opened #2258 "k8s: don't exit if one resource is not found"
`trivy k8s` will exit the whole scan if one resource is not found. Details at https://github.com/aquasecurity/trivy-kubernetes/issues/30, it should instead log and ignore returning the result for the resources it found.

[2022-06-03 04:51] afdesk commented on #2187
@happylie it'll be useful. thanks

[2022-06-03 05:17] afdesk commented on #2227
we're working on this issue right now

[2022-06-03 06:13] DmitriyLewen commented on #2223
hello @lazarillo
Thanks for your interest to Trivy!

When you use `image` command, Trivy tried scan from 3th places:
- local docker image
- podman image
- remote docker image

For remote image you got `DENIED: Permission denied for "production" from request`.

Trivy gets credentials from `home/.docker/config.json` file. If this file doesn't exist then from `$DOCKER_CONFIG/config.json` file.
Maybe

[2022-06-03 09:31] redsigma opened #2259 "Allow multiple --template params"
It would be nice for trivy to accept multiple params or an actual folder. The syntax would be
[code]

The `boilerplate_setup.tpl` will contain defines such as
[code]

The `report-format.tpl` will only contain the valuable data
[code]

Seems that this was also discussed here https://github.com/aquasecurity/trivy/pull/835

[2022-06-03 11:43] miglen opened #2260 "Authentication issues with Gitlab - repository scan error: scan error: unable to initialize a scanner: unable to initialize a filesystem scanner: git error: authorization failed"
## Description
Hello, I was trying to use the latest ability to scan remote gitlab images in a private group. I had created a token, tested, and verified that it works with python-gitlab (same libaryr you use in trivy) but I keep getting authentication issues. I had exported the `GITLAB_TOKEN`, verified and even unset the `GITHUB_TOKEN`

## What did you expect to happen?
To be able to scan the rem

[2022-06-03 14:47] jerbia opened #2261 "Trivy "override" database"
We would like to support the concept of an "override" database that will be used as one of Trivy's vulnerability feeds, and will actually get higher priority than all other feeds (basically - will override other feeds data if there is a conflict).

This override database will be managed as a Github repository, similar to how Trivy is managing its vulnerability feeds (file name is the vulnerability

[2022-06-03 20:58] happylie commented on #2187
@afdesk
I think the latest version is the same.
Is there anything wrong with me?
Authority or permission?
[code]

[2022-06-04 10:07] chen-keinan opened #2262 "use trivy-operator latest version in docs"
## Description
update Trivy operator version to v0.0.5

[2022-06-05 17:29] itaysk commented on #1984
probably same as: https://github.com/aquasecurity/trivy/issues/2225

[2022-06-06 04:39] #2262 closed

[2022-06-06 04:45] knqyf263 commented on #2225
In favor of https://github.com/aquasecurity/trivy/issues/1984

[2022-06-06 04:45] #2225 closed

[2022-06-06 04:57] knqyf263 opened #2266 "CBL-Mariner Distroless support"
Here’s the distroless image containing for testing
mcr.microsoft.com/cbl-mariner/distroless/base:2.0

[2022-06-06 04:59] #1934 closed

[2022-06-06 05:31] afdesk commented on #2227
@vlad-ds the database was updated, and this problem was fixed.
please, feel free to reopen this ticket if you still have this issue.
thanks

[2022-06-06 05:31] #2227 closed

[2022-06-06 05:37] afdesk commented on #2260
@miglen thanks for your report.
I can reproduce this issue. will investigate more.

[2022-06-06 05:59] afdesk commented on #2260
oh, it seems this is an authentication problem.
you need to use [a personal access token](https://docs.gitlab.com/ee/user/profile/personal_access_tokens.html) for private repositories and set up an environment variable `GITLAB_TOKEN` for `Trivy` (https://aquasecurity.github.io/trivy/v0.28.1/docs/vulnerability/scanning/git-repository/):
[code]

[2022-06-06 06:02] afdesk commented on #2260
@miglen could you check the permissions for your gitlab token?

[2022-06-06 06:08] afdesk commented on #2260
I've set up only one permission for my gitlab token - `read_repository`, and it works for me...

[2022-06-06 07:57] afdesk commented on #1896
it seems the issue was fixed, isn't it?
@ben-harvey please, feel free to reopen the ticket if you still have this problem. thanks

[2022-06-06 07:57] #1896 closed

[2022-06-06 08:04] afdesk commented on #2187
it's a bit strange. your logs look normal, it seems that the database updates correctly, but `metadata.json` contains wrong dates...
could you take a look at ` `metadata.json`?
[code]

give me some time to investigate it more.

[2022-06-06 08:07] #2081 closed

[2022-06-06 09:01] itaysk opened #2268 "Automatically bump trivy's github action"
We should automatically bump the version Trivy used by the github action.
Also need to add tests to make sure there's not breakage.

[2022-06-06 13:09] miglen commented on #2260
I had re-issued the same token with the same permissions (read_api, read_repository, read_registry) and it worked.

[2022-06-06 13:09] #2260 closed

[2022-06-06 19:44] RyanHolstien commented on #2184
NVD has updated their configuration, but GitLab has not changed the fixed versions to reflect it. I have opened a PR against the GitLab Advisory DB so this should be resolved once that is updated: https://gitlab.com/gitlab-org/security-products/gemnasium-db/-/merge_requests/15226

[2022-06-06 19:44] #2184 closed

[2022-06-06 20:37] JasonSFuller opened #2274 "Secrets detected in Azure CLI code (false positive)"
## Description

Similar to #2190.

Trivy detects secrets in azure-cli and reports them as a vulnerability.  In this case, a few files only containing key headers appear to be enough to flag it (one in a comment/example, one a variable).  Real keys have a standard format, and detecting a fully formed key may help avoid false positives.

azure-cli version: 2.37.0

files:
* /opt/az/lib/python3.10/sit

[2022-06-06 21:16] rpsene commented on #2177
@knqyf263 https://github.com/knqyf263/go-rpmdb/pull/23

[2022-06-07 00:42] happylie commented on #2187
@afdesk
This is what I have checked now.
[code]

Trivy is being put to good use.
Even if it takes time, I hope that the content will be corrected, and if there is any necessary information, I will support you at any time.

[2022-06-07 08:14] itaysk opened #2276 "provide values file for misconfiguration scanning"
for example, in helm or terraform scanning, provide a values file.

TBD: the UX around providing the file in a way that signals the language (e.g helm vs terraform)

[2022-06-07 08:18] liamg opened #2277 "Relocate fanal into Trivy"
## Tasks

- [x] Put fanal/ dir into pkg/
- [x] Remove unnecessary files such as README.md, cmd/fanal etc.
- [x] Fix import paths from github.com/aquasecurity/fanal with github.com/aquasecurity/trivy/pkg/fanal/
- [x] Retain integration tests

## Tasks once this is ready to merge

- [ ] Update README.md in fanal like "Moved this project to github.com/aquasecurity/trivy"
- [ ] Archive fanal (do not r

[2022-06-07 08:23] itaysk opened #2279 "helm scanning in chart registry"
it would be nice to be able to scan chart from a chart registry directly. this might be useful for Harbor or ArtifactHub in particular.

TBD: is it a new "target" for trivy? is it similar to "image" (since chart repos are OCI registries)

[2022-06-07 08:35] itaysk commented on #2058
related PR #1469

[2022-06-07 08:38] #1757 closed

[2022-06-07 09:58] NitroCao opened #2280 "Panic when loading custom policies from specific directory"
## Description
Run this command:
[code]
`/tmp` directory contains only one valid rego file, the others are invalid rego files.

## What did you expect to happen?
Print error message when failing to load custom policies.

## What happened instead?
Paniced directly.

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry

[2022-06-07 11:59] rpsene commented on #2177
@knqyf263 the PR with the updates for the go-rpmdb was merged. We can now continue the work on this issue.

[2022-06-07 13:57] eric-desrochers commented on #2266
Lower priority compare to Mariner 2.0:
mcr.microsoft.com/cbl-mariner/distroless/base:1.0 is our Mariner 1.0 distroless which is still supported until next September/October.

[2022-06-07 14:21] knqyf263 commented on #2177
Thanks. We need to update go-rpmdb in fanal first.

[2022-06-07 18:42] crytech7 opened #2283 "Problem while trying to run trivy from docker container (with offline DB)"
Hi, could you please advice me  how to fix this error (maybe I specified the cache dir in incorrect way?):

![image](https://user-images.githubusercontent.com/75042095/172457735-f1e366c0-e330-49c2-af4e-420875c968cb.png)

I was trying to run a container with Trivy build from Dockerfile:

    FROM ubuntu:18.04

    RUN apt-get update \
     && apt-get install -y wget

    RUN wget https://github.com

[2022-06-07 19:53] rpsene commented on #2177
@knqyf263 https://github.com/aquasecurity/fanal/pull/553

[2022-06-08 01:13] josedonizetti opened #2284 "misconfig: kubernetes resource not indetified"
When passing cpu limits or requests with floating points, the file is not identified:

[code]

But if we wrap the number in a string, it works:

[code]

[2022-06-08 05:58] afdesk commented on #2283
Hi @crytech7 try to use `/root/.cache/trivy/` without `db`.

[2022-06-08 06:00] afdesk commented on #2283
also you need to use `oras` for downloading. read more here: [Air-Gapped Environment](https://aquasecurity.github.io/trivy/v0.28.1/docs/advanced/air-gap/)

[2022-06-08 10:36] sourabhgupta385 opened #2286 "timeout is not working as expected"
## Description

I am using trivy 0.26.0 to scan docker images and I am using timeout of 10m in the Jenkins pipelines. Below is my command to do scan:

[code]

## What did you expect to happen?

In case of taking more than 10m to do scanning, it should timed out at 10 min threshold and report an error.

## What happened instead?

Scanning ran for about 20 min and then reported error. Sometimes it i

[2022-06-08 11:28] #2166 closed

[2022-06-08 13:06] agileknight commented on #897
Returning an exit code 1 for unknown (seems to be the case already) and unsupported OS versions seems to be the desired behavior since both could mean that CVEs are missed by the scan.

[2022-06-08 14:12] knqyf263 commented on #2177
Thanks, but it is failing.

[2022-06-08 15:11] viniciusnavarro opened #2287 "Dependency appears in Trivy but not when running maven tree."
I'm using Trivy to scan a java project using the trivy filesystem method that uses pom to analyze third-party dependencies. I will use the generated sbom to import into dependency-track.

Trivy is showing me that there is a component that is vulnerable, which is dom4j.
![image](https://user-images.githubusercontent.com/41381141/172642775-b55bbee0-aa60-43c2-9069-6f8e210f6836.png)

But when running

[2022-06-08 15:15] itaysk opened #2288 "docs site version selector should omit patch version"
currently we have a version selector for every git tag, which is unnecessary overhead on the user. It is not needed from documentation perspective as there aren't (shouldn't be) any docs change in patch versions, only for new/changed features.

before:
v0.27.0, v0.27.1, v0.27.2, v0.28.0
after
v0.27, v0.28

[2022-06-08 15:54] liamg opened #2290 "Add missing Kubernetes PSS policies"
As described in https://github.com/aquasecurity/defsec/issues/669 - Trivy is not currently covering all of the baseline/restricted PSS policies.

We need to add these missing policies.

[2022-06-08 16:37] bpfoster commented on #1967
Unstale

[2022-06-08 16:55] jananathbanuka opened #2291 "From where the trivy retrieves vulnerability information?"
I need to know

1. From where `trivy` pulls its database?
2. How trivy's database keeps up to date? Where it pulls the CVE information?

[2022-06-09 07:03] crytech7 commented on #2283
Hi, @afdesk thanks to your reply!

1. I have added some fixes to Dockerfile following the instructions, but it did not helped.
2. I tried to reproduce same commands on my host OS - everything works.
4. then I tried  to mount /root/.cache/ dir from host OS to the container /root/.cache/  dir:
![image](https://user-images.githubusercontent.com/75042095/172784366-0b9ad0a4-056c-4475-97b5-c0daf31a7fa7.

[2022-06-09 07:06] crytech7 commented on #2283
Dockerfile now:

     FROM ubuntu:18.04

    RUN apt-get update \
     && apt-get install -y wget \
     && apt-get install -y python3\
     && apt-get install -y curl

    RUN curl -LO https://github.com/oras-project/oras/releases/download/v0.12.0/oras_0.12.0_linux_amd64.tar.gz
    RUN mkdir -p oras-install/
    RUN tar -zxf oras_0.12.0_*.tar.gz -C oras-install/
    RUN mv oras-install/oras /usr/

[2022-06-09 10:18] afdesk commented on #2283
@crytech7 there is a problem inside your Dockerfile with layers, so `Trivy` can't find the db.

my missy sample works correctly:
[code]

[2022-06-09 10:18] #2283 closed

[2022-06-09 10:45] #2266 closed

[2022-06-09 11:15] rpsene commented on #2177
@knqyf263 Fanal is updated https://github.com/aquasecurity/fanal/pull/553#issuecomment-1150776807, can we proceed now?

[2022-06-09 11:19] rpsene commented on #2177
https://github.com/aquasecurity/trivy/pull/2281/files

[2022-06-09 12:15] DmitriyLewen commented on #2287
Hello @viniciusnavarro
Thanks for your interest to Trivy!

This is strange situation.
Trivy gets all dependencies from `dependencies` and `dependencyManagement` tags.

Can you send your POM file(or part of reproduced issue file) to investigate your problem?

Also I don't think I understood you correctly: you don't have the `dom4j` package as a result of the `mvn dependency:tree` command?

Regards,

[2022-06-09 12:32] afdesk commented on #2274
@JasonSFuller thanks for your report!

yes, you're right. this issue is the duplicate of #2190

let's keep it open for the next release.

[2022-06-09 13:22] owenrumney commented on #2284
Yeah, I think so. I'll give it a go

[2022-06-09 13:35] davehodg commented on #1506
I have built a named local image and I get:

[code]

[2022-06-09 13:53] knqyf263 commented on #2177
Thanks, but it is failing.

[2022-06-09 13:53] knqyf263 commented on #2177
I think you need to bump fanal.

[2022-06-09 16:13] huangmeng4520 opened #2295 "Git repository scanning scans master branches by default. You want to support tag or branch scanning"

[2022-06-09 20:32] saerosV commented on #1666
This issue is still very relevant, I don't think it should be closed. Sorting the results would really help.

[2022-06-10 00:05] #1851 closed

[2022-06-10 01:37] createchange commented on #1858
Presently exploring creating a pre-commit toolchain for our developers. This would certainly be a welcome addition.

[2022-06-10 06:57] Rogdham opened #2296 "Secrets false positives for well-known fake secrets (e.g. boto3 embedded examples)"
## Description

The secret detection shows false positive, for example due to fake secrets use in tests or examples.

This issue occurs for example when installing the `boto3` package with `pip` (see `Dockerfile` at the end of this ticket).

I can see two ways to go forward:
 1. Trivy could embed a whitelist of known fake secrets (e.g. the one used in tests for `boto3`)
 2. End-users could provide

[2022-06-10 09:07] Rogdham commented on #2191
Please don't use detected secrets to perform any API calls (even just to validate them):
 - This may transform the user running trivy on some docker container into an attacker performing illegal operations under some laws (i.e. stealing the identity of someone else to login)
 - This may trigger security alarms since it will create unexpected network traffic

[2022-06-10 10:58] 64J0 commented on #1666
@saerosV I agree.

[2022-06-10 11:03] 64J0 commented on #1666
Is there some easy way to test the report generated with this template? https://github.com/aquasecurity/trivy/blob/8d5882be03d3e27eeaa48825b064d4235974a730/contrib/html.tpl

[2022-06-10 11:07] 64J0 opened #2298 "Enhance the HTML report table"
## Description:

I want to be able to run some common operations for tables in the trivy HTML report. Right now it's not interactive, so we can't group vulnerabilities by their criticality.

After checking the repository I found this file : https://github.com/aquasecurity/trivy/blob/8d5882be03d3e27eeaa48825b064d4235974a730/contrib/html.tpl, that I believe is related to the HTML report.

I would be

[2022-06-10 11:36] DmitriyLewen commented on #2291
Hello @jananathbanuka
Thanks for your interest to Trivy!

Trivy pulls database from [Trivy-db](https://github.com/aquasecurity/trivy-db).
Trivy-db is updated every 6 hours.
Information about data sources that are included in Trivy-db is [here](https://aquasecurity.github.io/trivy/v0.28.1/docs/vulnerability/detection/data-source/).

Regards, Dmitriy

[2022-06-10 12:53] jananathbanuka commented on #2291
Thanks for this, It was very helpful

[2022-06-10 12:53] #2291 closed

[2022-06-10 13:39] viniciusnavarro commented on #2287
Hi Dmitri

It's a great tool!

And on this last question the answer is yes, to help understand the situation:

**1. Maven**

`mvn dependency:tree`

In the generated file I can't find the "dom4j"

Attached file: [mvntree.log](https://github.com/aquasecurity/trivy/files/8879247/mvntree.log)

**2.Cyclonedx Maven Plugin**

After building the application, a bom.json file is generated and in this file I

[2022-06-10 15:05] yoks opened #2299 "Scanning of the custom build Distroless images with Nix/Bazel"
We have our custom build process with nix and bazel. Images we create are distroless and have libs and binaries in specific paths, there is nothing else exists inside the image. Trivy seems to ignore such images and detects no vulnerabilities, i tried to go through documentation to find how specify search paths and maybe change search patterns for lib, but did not found anything, `trivy image --he

[2022-06-11 00:04] #1845 closed

[2022-06-12 06:24] knqyf263 commented on #2191
It will be opt in.

[2022-06-12 06:32] knqyf263 commented on #2295
duplicate of https://github.com/aquasecurity/trivy/issues/1508

[2022-06-12 06:32] #2295 closed

[2022-06-12 07:44] itaysk opened #2303 "License scanner"
By popular request we want Trivy to scan licenses in the scan target. This is not strictly a security scan, but it does relate to the overall risk posture of the application and also something that's commonly done as part of SCA (similar to SBOM which we already do).

Today Trivy already relates to licenses in a limited way (mostly to satisfy SBOM formats): only in container scanning, and only for

[2022-06-12 10:04] #851 closed

[2022-06-12 10:36] knqyf263 opened #2306 "docs(kubernetes): dead links"
## Description
Some links regarding kubernetes are dead.

[code]

[2022-06-12 13:40] #2306 closed

[2022-06-12 14:01] #2284 closed

[2022-06-12 17:56] afdesk commented on #2299
@yoks thanks for your interest in `Trivy`!
I'll take a look at this issue.

[2022-06-12 21:35] nycnewman opened #2309 "SIGSEGV when trying to scan Kubernetes on a M1 Macbook (arm64)"
## Description

Attempting to scan a local (K-in-D) cluster results in a SIGSEGV error when printing the Misconfiguration results. The image vulnerabilities are displayed and then the following:

panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x2 addr=0x0 pc=0x105ae6a04]

goroutine 1 [running]:
sync.(*Once).Do(...)
	sync/once.go

[2022-06-12 23:45] josedonizetti commented on #2309
@nycnewman thank you for reporting, this was fixed at https://github.com/aquasecurity/trivy/pull/2175, and will be available at the next release. Feel free to reopen it, if still see  the problem on the next release.

[2022-06-12 23:45] #2309 closed

[2022-06-13 00:05] #1863 closed

[2022-06-13 08:41] knqyf263 opened #2310 "Add support for rootless containerd"
Trivy supports containerd in https://github.com/aquasecurity/trivy/pull/2305, but doesn't support rootless.

[2022-06-13 09:01] #2290 closed

[2022-06-13 10:24] itaysk commented on #1835
closing in favor of #2303

[2022-06-13 10:24] #1835 closed

[2022-06-13 10:33] itaysk commented on #2250
closing in favor of #2303

[2022-06-13 10:33] #2250 closed

[2022-06-13 10:47] #381 closed

[2022-06-13 14:13] #2258 closed

[2022-06-13 22:16] dan-neumegen-xero opened #2312 "Add erroring or reporting on old ignored cve's"
It would be a nice to have if Trivy could (optionally) report, or error, on entries in an ignore file that are fixed, or no longer present.

We maintain an ignore file of unfixed vulnerabilities, but we are not good at checking and removing entries when fixes come along. This means that the file ends up just growing and growing, and cleaning it up can become a real chore. It would be nice if trivy

[2022-06-14 00:05] #1875 closed

[2022-06-14 00:05] #1844 closed

[2022-06-14 05:28] afdesk commented on #2299
@yoks it's a strange behavior.

maybe there are some language specific problems.
could you give more details about your use cases:
* trivy's logs in debug mode:
[code]

* your language(s)/packages/images or a small sample for tests...

thanks a lot!

ps. I've tried to build a demo image via Bazel for Go (eg: [Create Container images with Bazel](https://dev.to/schoren/create-container-images-with-b

[2022-06-14 07:20] mavo86 commented on #1963
Ok I will use trivy-operator instatt

[2022-06-14 07:20] #1963 closed

[2022-06-14 09:01] hectorj2f opened #2315 "Support SPDX or CycloneDX as SBOM input to Trivy"
We are generating our own SBOM files with the right dependencies for our products. As a consequence, we'd like to see Trivy accepting SBOMs as input and scanning those resources based on the defined dependencies.

[2022-06-14 09:02] #2231 closed

[2022-06-14 09:49] knqyf263 opened #2317 "v0.29.0"
The release note of [v0.29.0](https://github.com/aquasecurity/trivy/milestone/6)

# 🚀 What's new? 🚀
## 🎊 containerd support 🤓
Trivy scans container images in local [contained](https://containerd.io/).

[code]

Rootless is not yet supported.

[2022-06-14 10:01] owenrumney commented on #2303
@knqyf263 - trying to piece together how to get the license information and @itaysk tells me its there already for many, just needs to be surfaced.

I can see `go-dep-parser` provides the license for packages that are stored in the project fs, like `node_modules` but for things like python where it goes to one of a number of possible `site-packages` locations and `go.mod` where it will be in `$GOP

[2022-06-14 13:12] tillkuhn commented on #802
@Alexc0007 Had the same issue as well, but even though I'm also using client / server mode, the `--timeout 10m` flag did have an impact on my side (v0.28.1), since it returned successful after 8 Minutes, while it terminated after 5 Minutes on previous runs without using the flag. The fact that it works after several runs with the same setting may be related to caching behaviour, since trivy seems

[2022-06-14 16:09] nleconte-csgroup opened #2321 "Several formats for output"
### Description
I would like to generate several reports for one scan.

The idea is to generate :
- one sarif report so I can view the results in GitHub Security tab (after uploading the sarif report with the github/codeql-action/upload-sarif action)
- one json (or html or whatever) to export it somewhere else

Right now, the only workaround I'm thinking of is to scan twice my docker image.

[2022-06-14 18:43] afdesk commented on #2280
@NitroCao thanks for your report.
I can't reproduce this issue.
could you show your custom rego file?
thanks a lot!

[2022-06-14 23:04] eli-darkly commented on #897
I agree that it would be _highly_ desirable for Trivy to fail in a case where it cannot actually scan the OS. However, I'd like to propose a slightly different behavior for the case where the OS version is not EOL, but rather, is _newer than the last known version_ and has not yet been added to the EOL list (see: https://github.com/aquasecurity/trivy/pull/2319). I think in that case it would be hi

[2022-06-14 23:49] PenelopeFudd commented on #1886
Have I overlooked anything?

[2022-06-15 03:32] MaineK00n commented on #897
Even if it is not present in the EOL list, detection is still performed, only the following log is displayed.
[code]
https://github.com/aquasecurity/trivy/pull/2319#issuecomment-1155943469

[2022-06-15 07:41] #2135 closed

[2022-06-15 08:23] #2202 closed

[2022-06-15 08:48] #1860 closed

[2022-06-15 08:54] uandrei opened #2324 "Discrepancy in CVE severity between scan output and aquasec/nist websites"
## Description

Run the scan using and investigate the output result:
[code]

For example  CVE-2022-1304 raised against e2fsprogs shows as Medium in the console output, however when visiting [the Aquasec](https://avd.aquasec.com/nvd/2022/cve-2022-1304/) and [Nist](https://nvd.nist.gov/vuln/detail/CVE-2022-1304) websites, they show it as a 7.8 High CVSS 3.x score.

## What did you expect to happen?

[2022-06-15 11:05] nareshk355 opened #2325 "How to Enable the File paths for vulnerabilities found in the docker image scan"
Hi Team,

Could you please help by providing flags to enable filepaths for vulnerabilities found in docker images scanning.

we are using the below command for the scanning.

trivy image imagename

Thanks,
Naresh

[2022-06-15 11:23] DmitriyLewen commented on #2296
Hello @Rogdham
Thanks a lot for your report!

Some false positive have been fixed in v28.1. You can update your Trivy version.
We are working on fixing other false positives.

Regards, Dmitriy

[2022-06-15 11:53] chen-keinan opened #2327 "rbac fs scanning"

[2022-06-15 14:07] afdesk commented on #2324
@uandrei thanks for your report!
we'll take a look at this discrepancy.

about CVE-2022-1304. Ubuntu considers this CVE as medium: https://ubuntu.com/security/CVE-2022-1304

[2022-06-15 14:21] #2177 closed

[2022-06-15 14:48] varas commented on #1542
This is required when running several scans in parallel having different exclusion policies.

[2022-06-15 14:50] afdesk commented on #1542
@knqyf263 it's an interesting use case, right?

[2022-06-15 16:42] eli-darkly commented on #897
@MaineK00n Thanks. I'm not sure what is going on then in my case - I'll keep looking into it.

[2022-06-15 17:01] #2327 closed

[2022-06-15 18:12] knqyf263 commented on #1542
But Trivy depends on BoltDB that doesn't allow multiple processes to open the same database at the same time.
https://github.com/boltdb/bolt

Do you still run several scans in parallel?

[2022-06-16 02:37] xiaoxiong581 opened #2334 "CVE-2022-25845 no result"
## Description

## What did you expect to happen?
CVE-2022-25845 vulnerability can scan

## What happened instead?
no result

## Output of run with `-debug`:

[code]
trivy image --skip-db-update --offline-scan --vuln-type library -f json -o result.json cachecloud:test
![image](https://user-images.githubusercontent.com/19368482/173978481-c35666c8-6634-4725-aabe-01577179b1f8.png)

## Output of `triv

[2022-06-16 03:00] xiaoxiong581 commented on #2334
[code]

[2022-06-16 03:04] xiaoxiong581 commented on #2334
![image](https://user-images.githubusercontent.com/19368482/173980183-f13eaaa1-42da-429e-b90b-78d17347a822.png)

[2022-06-16 04:30] DmitriyLewen commented on #2296
Hello @Rogdham

We have fixed your issue.
[Next Trivy release](https://github.com/aquasecurity/trivy/milestone/6) will include these changes.

If you have no more questions - close this issue.

Regards, Dmitriy

[2022-06-16 05:00] DmitriyLewen commented on #2325
Hello @nareshk355
Thanks for your interest to Trivy!

You can use `-format json` and `--list-all-pkgs` flags.
Result will include list of found packages with `FilePath` fields.
Example:

[code]

Regards, Dmitriy

[2022-06-16 05:24] DmitriyLewen commented on #2334
Hello @xiaoxiong581
Thanks for your report!

At the moment [GitLab Database](https://gitlab.com/gitlab-org/advisories-community/-/tree/main/maven/com.alibaba/fastjson) doesn't contain this vulnerabilities.
This CVE is unreviewed [GitHub Database](https://github.com/github/advisory-database/blob/main/advisories/unreviewed/2022/06/GHSA-pv7h-hx5h-mgfj/GHSA-pv7h-hx5h-mgfj.json) (`affected` field is em

[2022-06-16 06:33] xiaoxiong581 commented on #2334
Thanks for your reply, i'll try it after update trivy-db.

[2022-06-16 07:01] geowalrus4gh commented on #1802
v0.28.0 document still stays "Custom policies do not support Terraform at the moment"

[2022-06-16 07:05] DmitriyLewen commented on #2334
So that I understand that you understood me correctly:
you only need to check Trivy-db **after updating** `GitLab` or `GitHub` database.

[2022-06-16 07:27] tosifab opened #2335 "Trivy finds vulnerabilities in alpine 3.16 but according to alpine website they should already have been upgraded."
## Description

When running the scanner on nginxinc/nginx-unprivileged:stable-alpine i get 2 vulnerabilities for for alpine 3.16. But those packages are already upgrade to the fixed version when checking their website [https://pkgs.alpinelinux.org/packages?name=pcre2&branch=v3.16](url)

## Output of run with `-debug`:
![image](https://user-images.githubusercontent.com/73820650/174015730-f7419b08-

[2022-06-16 07:28] #2232 closed

[2022-06-16 07:49] knqyf263 commented on #2335
Your image simply contains an old package. Please try updating pcre2.

[2022-06-16 07:52] tosifab commented on #2335
Its not my image. Its nginxinc/nginx-unprivileged:stable-alpine. And since trivy is saying it uses alpine 3.16 i assume its updated?

[2022-06-16 08:04] knqyf263 commented on #2335
Still you can update.

[code]

No. You can see the installed version yourself.

[code]

[2022-06-16 08:08] knqyf263 commented on #1802
@liamg We support it, right? Can you update the doc here?
https://aquasecurity.github.io/trivy/v0.28.1/docs/misconfiguration/custom/

[2022-06-16 08:10] liamg commented on #1802
I already did it here :+1:  https://github.com/aquasecurity/trivy/pull/2267/files#diff-991154341385c5e7079c545f76e467b6739b278893a58d981b48b14082e47a26L34-L36

[2022-06-16 08:12] knqyf263 commented on #1802
Nice!

@geowalrus4gh It is available from v0.28.0, but we forgot to update the doc. The doc will be also updated in v0.29.0.

[2022-06-16 08:31] tosifab commented on #2335
Will try that
Thanks

[2022-06-16 09:51] dmivankov opened #2337 "cve-2016-2402: false-positive with trivy-db-v1-2022061406"
## Description

https://avd.aquasec.com/nvd/2016/cve-2016-2402/
is reported for okhttp 2.7.5 while CVE description says it is not affected
[code]

## What did you expect to happen?
no CVE reported

## What happened instead?
CVE reported for non-affected library

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry inf

[2022-06-16 10:09] afdesk commented on #2337
@dmivankov thanks for your report.
I'll try to clarify this issue

[2022-06-16 10:11] afdesk commented on #2337
`Trivy` depends on Gitlab Advisory database, and it contains a mistake: https://advisories.gitlab.com/advisory/advmaven_com_squareup_okhttp_okhttp_CVE_2016_2402.html

it'll be nice to fix it: [Create an issue to GitLab Advisory Database](https://gitlab.com/gitlab-org/security-products/gemnasium-db/-/issues/new)

[2022-06-16 10:26] afdesk commented on #2324
@uandrei Aqua vulnerability database prefers information from NVD, but `Trivy` prefers Ubuntu CVE tracker.
so it doesn't look like a but, doesn't it?

[2022-06-16 11:03] afdesk commented on #1542
@knqyf263 i thought that @varas scans different images with the same `.trivyignore`.

if so I have an idea.
@varas you can use different trivyignore files:
[code]

[2022-06-16 13:16] pms-github opened #2340 "Trivy not able to detect graddle exclusions, hence reporting false positives"
## Description

**Trivy not able to detect Gradle exclusions, hence reporting false positives.**
- Docker images are scanned using Trivy. These images host spring-boot application which uses Gradle for packaging.
- There are transitive dependencies which have conflicting versions for certain packages such as gson. However, with `force=true` feature of Gradle, we ensure that correct version are ove

[2022-06-16 14:48] afdesk commented on #2023
@computeralex92 sorry for missing your report.
it's a known problem #1898 - there is a diff between AWS CLI and AWS API.

as a workaround you can use next command:
[code]

[2022-06-16 15:02] roussidis opened #2342 "Allow scan on almalinux packages"
Previously as stated in the https://github.com/aquasecurity/trivy/issues/1021#issuecomment-1011890917

Trivy could not detect vulnerabilities on Almalinux since there was no %{MODULARITYLABEL} set.

Since almalinux 8.6 as stated in that issue https://bugs.almalinux.org/view.php?id=173 almalinux team fixed the ${MODULARITYLABEL}.

It was tested with Almalinux 8.6
[code]

Latest trivy 0.29 was not a

[2022-06-16 15:32] knqyf263 commented on #2342
Thanks for sharing! We will add support for it shortly.

[2022-06-16 16:33] mtcolman opened #2343 "trivy k8s --report options"
## Description
Options for `trivy k8s` states:
[code]

If I try and run `trivy k8s -n playground --report summary` or `trivy k8s -n playground --report all` the command doesn't run.

I instead have to run: `trivy k8s -n playground --report summary all`.

The command instructions and the usage don't appear to match

## What did you expect to happen?
From the instructions, I'd expect to be using **e

[2022-06-16 16:37] mtcolman commented on #2343
Actually, I think I've just realised the issue is that the command description isn't explaining I can enter `all` or `cluster` etc as an argument to `trivy kubernetes`:
[code]

The use of `cluster` and `all` are in the `EXAMPLES` section, but nowhere in the `USAGE` is it explaining the both options + arguments.

[2022-06-16 17:53] erikgb opened #2344 "Helm support for configurable database repository (dbRepository)"
It seems like the trivy Helm chart doesn't support the new configurable database repository (dbRepository) that was introduced in https://github.com/aquasecurity/trivy/pull/1873.

I am going to prepare a PR.

/assign

[2022-06-17 00:05] #1882 closed

[2022-06-17 00:06] #1879 closed

[2022-06-17 03:44] MaineK00n commented on #2342
It says to set the appropriate %{MODULARITYLABEL} to the module for 8.6 on 5/24 and rebuild.
https://bugs.almalinux.org/view.php?id=173

Not all modules available in Alma Linux 8.6 will have %{MODULARITYLABEL} set, but the el8.6 package is rebuilt.
Also, %{MODULARITYLABEL} was set for php installed from Remi's Repository.
[code]

Incidentally, as of 2022/06/17, there seem to be no modules in AlmaL

[2022-06-17 04:29] nrjsingh167 commented on #2169
trivy k8s --security-checks=config --report=summary cluster --timeout 1800s
1352 / 6705 [----------------------------------->___________________________________________________________________________________________________________________________________________] 20.16% 5 p/s
2022-06-17T09:49:13.774+0530	FATAL	k8s scan error: scanning misconfigurations error: scan error: image scan failed: faile

[2022-06-17 05:05] DmitriyLewen commented on #1886
Hello @PenelopeFudd
I am sorry, i missed your last message.

Some packages don't have `Origin` field.
e.g. `Ubuntu 20.04.4 LTS` (run from docker image)
i found `libp11-kit0` package:

[code]
This package has been updated Ubuntu vendor(`Version: 0.23.20-1ubuntu0.1`).

We need to check vulnerabilities from `Ubuntu database`.
But information about this package doesn't have `Origin` field.
If we have

[2022-06-17 05:18] DmitriyLewen commented on #2145
Hello @mrjonstrong

`mvn dependency:tree` gets jackson version from [jackson-bom.version](https://gist.github.com/mrjonstrong/a84305824955ee3ed1a394fbf7761884#file-pom-xml-L34) property.
I checked all related dependencies but didn't find  reference to `jackson-bom` library.
Can you tell me why you added this property to your pom file(it might help me a lot in this investigation)?

[2022-06-17 07:15] #2342 closed

[2022-06-17 09:59] josedonizetti commented on #2169
@nrjsingh167 Thanks for reporting. Would you mind trying `trivy k8s --security-checks=config --report=summary --timeout=1800s cluster`. Flags after the target `cluster` are ignored.

[2022-06-17 10:01] josedonizetti commented on #2343
@mtcolman Yes, I agree, we can improve a bit the documentation. I'll look into it. Besides it, were you able to run the tool on your OC cluster?

[2022-06-17 10:07] mtcolman commented on #2343
Yes it appears to work nicely and will be really useful - I just don't know all the commands I can run with it to fully test it 😉

[2022-06-17 10:10] przemolb opened #2349 "Trivy 0.29.0 produced an error while trying to scan k8s deployment"
## Description

Trivy doesn't scan k8s deployment

## What did you expect to happen?

A report with vulnerabilities found in a deployment.

## What happened instead?

[code]

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

[2022-06-17 10:18] josedonizetti commented on #2349
@przemolb Thank you for reporting. It is having problem authenticating. Do you mind posting here which kubectl version you are using? And perhaps upgrading it, if it is too behind? Thank you!

[2022-06-17 10:41] przemolb commented on #2349
I use `v1.22.4`.
It works with Trivy 0.28 (which I have to use atm).

[2022-06-17 13:08] yogeshlonkar opened #2350 "CVE-2022-23648 in trivy (gobinary)"
## Description

trivy gobinary has a CVE-2022-23648 vulnerability

## What did you expect to happen?

Scan to exit without any errors

## What happened instead?

`trivy image xxxx` exits with error

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):
Base image: `google/cloud-sdk:390.0.0-alpine`
Command to

[2022-06-17 13:27] adapasuresh commented on #1411
sureshadapa@localhost GitHub-Repos % trivy client --remote https://pluraldev.pinepg.in openjdk:11-jre-slim
2022-06-17T18:49:12.860+0530	FATAL	error in image scan: scan failed: failed to detect vulnerabilities via RPC: twirp error internal: failed scan, openjdk:11-jre-slim: failed to apply layers: layer cache missing: sha256:85753a1a8113e0a5850fed9a4acd008b554a44b53c61a5f2a3e6bd93812890a9

sureshad

[2022-06-17 13:40] nrjsingh167 commented on #2169
Can you help me for cluster scanning command with timeout
`trivy k8s --report summary --timeout 3600 cluster`
Its not  working

[2022-06-17 13:46] nrjsingh167 opened #2351 "Report details"
I am hitting below command but it seems not working.
`trivy k8s --severity=CRITICAL --report=all timeout=1800s json -o results.json`
Secondaly, I want to see the report with issues, default is table where I only see security issues count but not actual issues.

[2022-06-17 15:58] josedonizetti commented on #2169
@nrjsingh167 do you get the same error when scanning a single namespace? ‘trivy k8s —report=summary all’

[2022-06-19 08:41] knqyf263 commented on #2303
I mean the blue check can be done next. We should focus on the red checks.
![image](https://user-images.githubusercontent.com/2253692/174472944-11f57d15-802e-4b62-aa31-3ca9e4b51e7d.png)

[2022-06-19 12:32] itaysk commented on #2303
just to clarify the clarification 😆 "should be done next" means deferred for later.

[2022-06-19 23:55] xiaoxiong581 commented on #2334
I find affetced version not null, but when i update trivy db, it also cann't scan this vulnerability
[code]
![image](https://user-images.githubusercontent.com/19368482/174505087-82611366-e57b-4b93-aa94-f891339d8295.png)

[2022-06-20 00:05] #1894 closed

[2022-06-20 03:49] DmitriyLewen commented on #2334
Hello @xiaoxiong581

Trivy-db has been updated 3 days ago.
I checked this case - Trivy correctly finds `CVE-2022-25845`.

<details><summary> test scan info </summary>

Test Dockerfile:

[code]

Trivy scan result:

[code]

</details>

Your result doesn't contain language-specific files (`Number of language-specific files: 1`).
Can you check this case?
You can also use `--format json` and `--list-al

[2022-06-20 04:39] nrjsingh167 commented on #2169
trivy k8s -n kube-system --report=summary all --timeout 1800
7 / 46 [--------------------------->________________________________________________________________________________________________________________________________________________________] 15.22% 0 p/s
2022-06-20T09:54:20.687+0530	WARN	Increase --timeout value
2022-06-20T09:54:20.687+0530	FATAL	k8s scan error: scanning misconfigurations

[2022-06-20 05:12] osubbu-uptycs opened #2353 "logstash 8.2.3 scan reports error with Fixed and installed version as same"
## Description
Image Scan reports puma 5.6.4 as CVE with installed version and fixed version as same.
'''
trivy --severity CRITICAL logstash:8.2.3

## What did you expect to happen?

Expected list of vulnerabilities with fixed and installed version different.

## What happened instead?

[code]

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base i

[2022-06-20 05:19] Rogdham commented on #2296
Seems fixed with version 0.29.0, thank you!

[2022-06-20 05:19] #2296 closed

[2022-06-20 06:01] xiaoxiong581 commented on #2334
Fastjson jar is in a war package of the registry, it cann't be scanned in this scenario, but if the jar package is placed in a separate directory, it is ok. Does it not support scanning for vulnerabilities contained in war packages?
![image](https://user-images.githubusercontent.com/19368482/174534995-b612e03d-6777-4fcf-b1e8-55e52c13f861.png)

[2022-06-20 06:06] xiaoxiong581 commented on #2334
Fastjson jar is in a war package of the registry, it cann't be scanned in this scenario, but if the jar package is placed in a separate directory, it is ok. Does it not support scanning for vulnerabilities contained in war packages?
![image](https://user-images.githubusercontent.com/19368482/174534995-b612e03d-6777-4fcf-b1e8-55e52c13f861.png)

[2022-06-20 07:01] DmitriyLewen commented on #2353
Hello @osubbu-uptycs
Thanks for your report!

Trivy uses `Semantic Versioning` to compare versions. `-java` suffix looks like [pre-release version](https://semver.org/#spec-item-9).
But i checked the advisory database: no fixed version has the `-java` suffix.

Could you help me understand: `5.6.4` and `5.6.4-java` are same packages?
What is the package `5.6.4-java` for?

Regards, Dmitriy

[2022-06-20 07:02] PenelopeFudd commented on #1886
`Ubuntu 20.04.4 LTS` has 92 packages that don't have `Origin` field?  I'm surprised, I thought they had put that field on every package they had.  I only have `Ubuntu 20.04.3 LTS` to check, but it was pretty consistent:

[code]
The Ubuntu repositories have an `Origin: Ubuntu` field on every package.

Also, I just ran the command shown [above](https://github.com/aquasecurity/trivy/issues/1886#issue

[2022-06-20 07:09] osubbu-uptycs commented on #2353
Hello @DmitriyLewen

https://rubygems.org/gems/puma/versions/5.6.4-java
https://rubygems.org/gems/puma/versions/5.6.4

When I check the Git repo

They both refer to https://github.com/puma/puma/
and I don't see any tags or branch that has reference to -java

Sorry, I don't have more knowledge on this package.

Have a Great day !
Regards, Subbu

[2022-06-20 07:18] DmitriyLewen commented on #2334
I packaged `fastjson-1.2.70.jar` into `war` file.
Also i packaged files from `fastjson-1.2.70.jar` into another `war` file.

Trivy finds vulnerabilities for both files.

Can you send your file to investigate your case?

[2022-06-20 07:19] kishankarun opened #2354 "SBOM In Cyclonedx format not providing license information as per standard"
## Description

SBOM In Cyclonedx format not providing license information as per standard
https://cyclonedx.org/use-cases/#license-compliance

Due to this standard tools like dependency track etc doesn't display the license information once the SBOM report is uploaded

## What did you expect to happen?
The license should be listed in below format

"licenses": [
        {
          "license": {

[2022-06-20 09:50] itaysk commented on #1836
@VinodAnandan could you please clarify what is the use case that you expect to be implement in Trivy?

[2022-06-20 10:06] itaysk opened #2357 "generalize location field in SARIF output"
Reported by GitHub:

Our documentation is not clear on this point for integrators, and should instead include something like:
Locations for results should aim to be deterministic and stable across runs.
In this specific case, I think the integration would work better if Trivy omitted the SHA.
Indeed, if the alert was for `docker.io/my-organization/my-app` rather than `docker.io/my-organization/my-

[2022-06-20 10:24] afdesk commented on #2357
@itaysk yes, we already work on this issue

[2022-06-20 10:31] #2357 closed, assigned to afdesk

[2022-06-20 10:57] xiaoxiong581 commented on #2334
Dockerfile
[code]
file should unzip to war
[cachecloud-open-web.zip](https://github.com/aquasecurity/trivy/files/8939967/cachecloud-open-web.zip)

[2022-06-20 11:43] DmitriyLewen commented on #2334
I checked your war file.
Trivy has error when scanning this file:
[code]

I unpacked your file and repacked the resulting files:
[code]

Possible there is bug when packing your war file?

[2022-06-20 11:51] josedonizetti commented on #2351
@nrjsingh167 Thank you for reporting. Let's keep chatting here instead of https://github.com/aquasecurity/trivy/issues/2169#issuecomment-1159963799 which is closed. Taking a loot at this today.

[2022-06-20 12:24] afdesk opened #2360 "dirty result with `wordpress` module"
## Description
if I scan any image with installed `wordpress` module, i get dirty output at the end of the result.

[code]

## What did you expect to happen?
empty string

## What happened instead?
![изображение](https://user-images.githubusercontent.com/19297627/174599353-8282c0c4-b6f2-46e7-91a0-4dfb40a9e361.png)

## Output of run with `-debug`:

[code]
## Output of `trivy -v`:
[code]

[2022-06-20 13:32] vshabadkz opened #2362 "v0.29.1 crashes"
## Description

## What did you expect to happen?
vshabad@T470-QAZ:~/trivy-db$ trivy fs -s CRITICAL  ~/kublr
2022-06-20T19:18:46.401+0600    INFO    Need to update DB
2022-06-20T19:18:46.401+0600    INFO    DB Repository: ghcr.io/aquasecurity/trivy-db
2022-06-20T19:18:46.401+0600    INFO    Downloading DB...
32.60 MiB / 32.60 MiB [-------------------------------------------------------------------

[2022-06-20 14:06] vshabadkz opened #2363 "CVE-2022-21235 doesn't detected by the fresh version of Trivy"
## Checklist
- [X] I've read [the documentation regarding wrong detection](https://aquasecurity.github.io/trivy/latest/community/contribute/issue/#wrong-detection).
- [X] I've confirmed that a security advisory in data sources was correct.
    - Run Trivy with `-f json` that shows data sources and make sure that the security advisory is correct.

## Description

## JSON Output of run with `-debug`

[2022-06-20 14:16] afdesk commented on #2362
@vshabadkz thanks for your report!
I'll try to clarify this issue

[2022-06-20 14:23] knqyf263 commented on #2354
CycloneDX supports 3 formats.

1.

[code]

2.

[code]

3.

[code]

We support No.2.

[2022-06-20 14:24] knqyf263 commented on #2357
@simar7 We want to deliver this fix as soon as possible. Can you bump the Trivy version in trivy-action?

[2022-06-20 15:48] afdesk commented on #2362
@vshabadkz it seems there is some problem inside your config files... `Trivy` can parse some yaml file
but i can't reproduce this issue.

could you try config scan for this folder?
[code]

[2022-06-20 15:54] vshabadkz commented on #2362
vshabad@T470-QAZ:~/trivy-db$ trivy -v
Version: 0.29.1
Vulnerability DB:
  Version: 2
  UpdatedAt: 2022-06-20 12:07:51.888465237 +0000 UTC
  NextUpdate: 2022-06-20 18:07:51.888464937 +0000 UTC
  DownloadedAt: 2022-06-20 14:02:08.8920953 +0000 UTC
vshabad@T470-QAZ:~/trivy-db$ trivy image --reset
2022-06-20T21:52:48.746+0600    INFO    Removing DB file...
2022-06-20T21:52:48.786+0600    INFO    Remov

[2022-06-20 15:59] afdesk commented on #2362
@vshabadkz Great! could you check or show your `yaml` files?
one of them contains a mistake.

[2022-06-20 16:03] vshabadkz commented on #2362
There are about 500 yaml files in our code base, most of them are proprietary (contain an intellectual property)

How can we focus on the broken file and parse it carefully in private mode?

[2022-06-20 16:04] afdesk commented on #2362
@vshabadkz yes, sure. give me some time to think it over.

[2022-06-20 16:09] afdesk commented on #2362
i fount a similar issue: https://github.com/roboll/helmfile/issues/653
is it look like your problem?

[2022-06-20 16:28] vshabadkz commented on #2362
I found at least one file where trivy crashes:
vshabad@T470-QAZ:~/kublr/cluster-audit/helm/kublr-audit-template$ trivy --debug config .
2022-06-20T22:25:25.316+0600    DEBUG   Severities: UNKNOWN,LOW,MEDIUM,HIGH,CRITICAL
2022-06-20T22:25:25.320+0600    DEBUG   cache dir:  /home/vshabad/.cache/trivy
2022-06-20T22:25:25.320+0600    INFO    Misconfiguration scanning is enabled
2022-06-20T22:25:25.322

[2022-06-20 16:37] afdesk commented on #2362
@vshabadkz thanks a lot for your sample!
i can reproduce it. will take a look more

[2022-06-20 18:25] josedonizetti opened #2364 "k8s: improve performance"
`trivy k8s` is not adding concurrency to scan resources, different than other `trivy` commands which will try to parallelize work, let's add concurrency and check how it affects performance.

[2022-06-20 20:02] simar7 commented on #2357
Yes, should be available when this gets in https://github.com/aquasecurity/trivy-action/pull/129/commits/544b6c4aa6c6e9aca0feaf7b838013d36daf5d09

[2022-06-20 23:19] csharpknife2002 opened #2365 "Trivy sbom for python doesn't work for fs due to ignore requirements.txt file"
## Description

I try to use trivy sbom command to scan and generate sbom information for my app in local.
I used the trivy 18.1 and 19.1 against a local node and python application  via this command
trivy sbom --artifact-type fs --output sbom-code-result.json  .

## What did you expect to happen?
I am expection it works both for my node and python apps.
In my node app, I use express (in package.j

[2022-06-21 00:05] #1872 closed

[2022-06-21 01:07] sfkwan commented on #529
Upon CRITICAL is returned from secret scanning, exit code always return 0.

/development/source/nginxredirect # trivy --version
Version: 0.29.1
Vulnerability DB:
  Version: 2
  UpdatedAt: 2022-06-21 00:10:19.182935733 +0000 UTC
  NextUpdate: 2022-06-21 06:10:19.182934933 +0000 UTC
  DownloadedAt: 2022-06-21 01:04:01.0334457 +0000 UTC
/development/source/nginxredirect # trivy --debug fs **--exit-co

[2022-06-21 02:38] xiaoxiong581 commented on #2334
using mvn to package, like:
[code]
I package again not modify war, but it also error
![image](https://user-images.githubusercontent.com/19368482/174704206-4dd0fc93-93b1-4592-8e23-cc4aecb12cf9.png)

[2022-06-21 04:12] osubbu-uptycs commented on #2353
Thanks @DmitriyLewen

[2022-06-21 04:24] afdesk commented on #2362
@uwedisch thanks for your report!
we're already working on this issue.

[2022-06-21 05:02] afdesk commented on #2363
@vshabadkz thanks for your report again.
i'll take a look at this issue

[2022-06-21 05:08] afdesk commented on #2363
@vshabadkz are you sure that `CVE-2022-21235 ` affect on your code?

the latest trivy scan only `go.mod` for Go >=1.17.
read more here: https://aquasecurity.github.io/trivy/v0.29.1/docs/vulnerability/languages/golang/

[2022-06-21 05:23] DmitriyLewen commented on #2334
Thank a lot for your help and time!

I found why you have this problem.
`war` archive has extra data at the beginning.
[archive/zip](https://pkg.go.dev/archive/zip) package can't unpack there archives.
Issue about this problem: https://github.com/golang/go/issues/51337

I checked your archive with `go1.19beta1`, Trivy works correctly.

[2022-06-21 05:27] vshabadkz commented on #2363
yes, I'm sure:

vshabad@T470-QAZ:~/kublr$ grep vcs go.sum
github.com/Masterminds/vcs **v1.13.1**/go.mod h1:N09YCmOQr6RLxC6UNHzuVwAdodYbbnycGHSmwVJjcKA=

the version is less than **1.13.3** as noted in https://security.snyk.io/vuln/SNYK-GOLANG-GITHUBCOMMASTERMINDSVCS-2437078

the Go version is latest:

vshabad@T470-QAZ:~/kublr$ go version
go version go1.18.1 linux/amd64

[2022-06-21 05:47] knqyf263 commented on #529
@sfkwan Oh, you're right. Could you open an issue?

[2022-06-21 05:57] sfkwan opened #2366 "secret scanning exit code always return 0"
## Description

secret scanning exit code always return 0 despite secret is detected and exit-code has set to 1

## What did you expect to happen?

exit-code of 1 is returned from echo $?

## What happened instead?

exit-code of 0 is always returned

## Output of run with `-debug`:

/development/source/nginxredirect # trivy --debug fs --exit-code 1 --security-checks secret .
2022-06-21T01:12:35.37

[2022-06-21 05:58] sfkwan commented on #529
@knqyf263

Please see open issue as below
https://github.com/aquasecurity/trivy/issues/2366

[2022-06-21 05:59] vshabadkz commented on #2363
vshabad@T470-QAZ:~/kublr$ cat go.mod
module src.kublr.io/kublr

go 1.13

require (
        cloud.google.com/go v0.74.0
        cloud.google.com/go/storage v1.10.0
        github.com/Azure/azure-sdk-for-go v52.6.0+incompatible
        github.com/Azure/go-autorest/autorest v0.11.18
        github.com/Azure/go-autorest/autorest/adal v0.9.13
        github.com/Masterminds/semver v1.5.0
        github.

[2022-06-21 06:01] knqyf263 commented on #2366
Trivy checks if this scanning should exit or not here, but the secret result is not used accidentally. We welcome contribution.
https://github.com/aquasecurity/trivy/blob/6ce9404c167963e3a1581df96b889995994cfdac/pkg/types/report.go#L92-L105

[2022-06-21 06:02] #2344 closed

[2022-06-21 06:14] kamil1027 opened #2367 "After npm aduit fix, trivy still have the same vulnerabilities in html report"
![image1](https://user-images.githubusercontent.com/77478122/174728141-dc6257c6-0803-4147-ad2a-d2a3413e8a26.png)
Using minimist 1.2.5

After npm aduit fix
![image2](https://user-images.githubusercontent.com/77478122/174728294-cbe48780-a5cf-4fc3-8e68-950ee6edae14.png)
Using minimist 1.2.6

![image3](https://user-images.githubusercontent.com/77478122/174728506-59aa318e-a368-4596-ac3f-6677f623a718.pn

[2022-06-21 06:51] xiaoxiong581 commented on #2334
ok, i'll check it if next trivy version fix it , this issue you can close it now or release a fixed version later.

[2022-06-21 06:59] DmitriyLewen commented on #2334
Perhaps I confused you.
This bug was fixed by `Google`, not `Trivy`.
To apply fix we need [golang](https://go.dev/) version `1.19`.
After that we will update `Trivy`.

[2022-06-21 07:39] adapasuresh commented on #802
2022-06-21T13:02:20.182+0530    ^[[35mDEBUG^[[0m        Severities: UNKNOWN,LOW,MEDIUM,HIGH,CRITICAL
2022-06-21T13:02:20.186+0530    ^[[35mDEBUG^[[0m        cache dir:  /var/lib/jenkins/.cache/trivy
2022-06-21T13:02:20.186+0530    ^[[35mDEBUG^[[0m        DB update was skipped because DB was downloaded during the last hour
2022-06-21T13:02:20.186+0530    ^[[35mDEBUG^[[0m        DB Schema: 1, Type:

[2022-06-21 07:49] xiaoxiong581 commented on #2334
ok

[2022-06-21 07:49] #2334 closed

[2022-06-21 07:51] adapasuresh commented on #802
VERSION:
   0.18.3

[2022-06-21 08:28] bmnielsen commented on #1840
I am using the workaround mentioned at the end of my post (building a separate image for Trivy that always has the same image name). But I think it would be a good idea for Trivy to explicitly set the fingerprint to allow scanning of the deployed container image.

[2022-06-21 10:18] DmitriyLewen commented on #1886
I understand why we get different result.
I check packages from [docker ubuntu image](https://hub.docker.com/_/ubuntu).
after running `clean` image without other commands - packages don't have `Origin` field.

But, after running `apt update` and `apt upgrade` commands, packages have `Origin` fried, as you wrote.
I also found that,  `clear` ubuntu image doesn't have `/var/lib/apt/lists/*Packages` f

[2022-06-21 10:59] chen-keinan opened #2371 "redirect operator docs to trivy-operator repo"
## Description
Redirect operator docs to trivy-operator repo
- Move trivy-operator from [trivy pages](https://aquasecurity.github.io/trivy/v0.29.1/docs/kubernetes/operator/) to [trivy-opertor pages](https://aquasecurity.github.io/trivy-operator/latest)
- Reference operator section in trivy docs to trivy-operator repo

[2022-06-21 11:37] DmitriyLewen commented on #2365
Hello @csharpknife2002
Thanks for your report!

can you send your `requirements.txt` file or result of `trivy -d fs path/to/requirements.txt` command?
I need this to investigate your problem.

Regards, Dmitriy

[2022-06-21 13:54] blacksails opened #2373 "Support authentication for --db-repository OCI registry"
We have a mirror of ghcr.io/aquasecurity/trivy-db our mirror requires authentication, but there doesnt seem to be any way to do authentication for the repository containing trivy-db.

[code]

The above has been adapted replacing our actual mirror with ourmirror.com. It would be nice if we could provide OCI authentication details.

[2022-06-21 14:01] #2366 closed

[2022-06-21 14:06] knqyf263 commented on #2373
Please try `docker login`.

[2022-06-21 14:15] #2277 closed

[2022-06-21 14:36] tspearconquest commented on #2350
This is a new vulnerability introduced by the addition of containerd support in this commit: https://github.com/aquasecurity/trivy/commit/efbc968ca8b735504c5aa7349a7770bf83d9ba6e and released in Trivy 0.29.0

[2022-06-21 16:38] RajKuni opened #2375 "Trivy erroring out "target is not settable" when scanning image."
## Description
New versions of trivy 0.29.0 and 0.29.1 error out when scanning an image.
The error message states that the content in a file in the image is invalid and says target is not settable.

## What did you expect to happen?
I expected the image scan to succeed like it does with trivy versions older than 0.29.0

## What happened instead?
As described above, trivy errors out.

## Output of

[2022-06-21 17:20] csharpknife2002 commented on #2365
Hello @DmitriyLewen,
Thanks for your suggestion. I did another look and then I realize in my requirements.txt I only had a 'flask" which is a Python built in library, after I add other dependency it works as expected. Sorry for this noise. I will close this issue.

[2022-06-21 17:20] #2365 closed

[2022-06-21 19:49] PenelopeFudd commented on #1886
Ahah, yes, that'd do it!  :-)

It's also likely that many other users have done the same thing.

Here's a few ideas for solving this "identify vulnerable Ubuntu packages" problem:

* One solution (which is probably not acceptable to most users) is for trivy to run "apt update", simply so the `Origin` field can be checked.
* A more-acceptable solution is for trivy to carry its own copy of the Packa

[2022-06-21 20:24] erikgb opened #2376 "DB hot update is failing"
## Description

I run trivy in server-mode on Openshift (air-gapped environment), using the Helm chart to provision trivy. While the server appears to work fine from the client point-of-view, I notice some errors in the server log after leaving the server to run for a while. The error message indicates that the hot update of the DB isn't working, but I have not been able to verify if this is actua

[2022-06-21 21:15] josedonizetti opened #2377 "trivy k8s should scan single argument resources"
`trivy k8s` should be able to scan single argument resources, like kubectl:

[code]

[code]

[2022-06-21 22:22] josedonizetti commented on #2349
@przemolb how are you configuring your kubectl? Is it automatically for some cloud provider? (aws, gke, etc?)
Trying to emulate the error locally for me.

[2022-06-21 22:23] josedonizetti commented on #2351
[code]
@nrjsingh167 would you mind expand on this?

[2022-06-21 22:47] josedonizetti commented on #2169
@nrjsingh167 To be sure, because the command you posted here wouldn't use the timeout, can you try:

[code]

The `--timeout` flag must come before the target `all` or `cluster`

[2022-06-21 23:13] brunobehnken opened #2378 "Trivy does not exit with non-zero code when findind AWS secrets"
## Description

I'm running Trivy on my project using exactly the following line:

`trivy fs --severity MEDIUM,HIGH,CRITICAL --security-checks vuln,secret,config --exit-code 1 --skip-dirs /venv --skip-dirs /tests --skip-dirs /node_modules .`

Since I'm passing `--exit-code 1`, I was expecting that Trivy would return the code 1 when finding any security issues.
After running, Trivy outputs this:
[c

[2022-06-22 00:06] #1826 closed

[2022-06-22 03:39] DmitriyLewen commented on #2145
Hello @cardoso-thiago
Thank a lot for your information. This will help research this problem better!

No, we are working on fix this bug.

[2022-06-22 04:47] DmitriyLewen commented on #2145
@cardoso-thiago
I checked your `pom.xml`.

Trivy found `jackson v2.13.3`.

[code]

What Trivy version are you using?

[2022-06-22 05:58] DmitriyLewen commented on #1886
We don't run commands, we only parse files.

It is probably possible. We can save Ubuntu provided packages in `trivy-db` and compare those packages with packages found.
We can get a list of Ubuntu packages from `https://packages.ubuntu.com/<Ubuntu Version Name>/allpackages?format=txt.gz`(e.g. https://packages.ubuntu.com/jammy/allpackages?format=txt.gz).

But i have question about vulnerability dat

[2022-06-22 06:03] knqyf263 commented on #2378
https://github.com/aquasecurity/trivy/issues/2366

[2022-06-22 06:03] #2378 closed

[2022-06-22 06:06] blacksails commented on #2373
I am authenticated with docker

[2022-06-22 07:30] knqyf263 commented on #1834
@JSGUYOT We're sorry for no updates. I think you can override the temp directory via `TMPDIR`.

[2022-06-22 08:03] knqyf263 commented on #2373
But it works in another place as I mentioned above. Could you write a small snippet to replicate it? If it works, it may be a Trivy issue.

[2022-06-22 08:17] blacksails commented on #2373
How does `TRIVY_USERNAME` and `TRIVY_PASSWORD` tie into this?

Do you only use the above authentication method for the database?
eg. can I pull the database without the mirror and then scan an image on an authenticated registry without setting the `TRIVY_USERNAME` and `TRIVY_PASSWORD` variables?

[2022-06-22 08:28] knqyf263 commented on #2373
`TRIVY_USERNAME` and `TRIVY_PASSWORD` are for pulling an image now, not the database.

[2022-06-22 09:23] ydafe opened #2382 "Parsing error from a json file - scan does not start"
## Description

File scan is aborting due to a parsing error

## What did you expect to happen?
The file scan is starting normally

## What happened instead?
The file scan aborted with a fatal filesystem scan error

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):
Version used 0.29.1
Pulled directly from

[2022-06-22 09:53] blacksails commented on #2373
Is there any reason why it's not the same approach with regards to authentication?

[2022-06-22 10:22] cardoso-thiago commented on #2145
@DmitriyLewen sorry, but I didn't make myself clear.

With the `fs` my result was the same. We are getting this result with the `rootfs` pointing to the generated jar.

`trivy rootfs target/demo-trivy-0.0.1-SNAPSHOT.jar`

Trivy version:
[code]

[2022-06-22 11:02] #2382 closed

[2022-06-22 11:34] ThomasBertiere commented on #2373
Hi,

I face the same problem as @blacksails :

[code]

I'm well authenticated against `myrepo.com` as I can pull docker images from it. Moreover, I can pull the trivy-db via `oras` without any problem :

[code]

I'm running trivy v0.28.1 and docker 20.10.9 but in rootless mode. May the problem comes from the rootless mode ?

[2022-06-22 12:08] aleksandr-vin opened #2385 "Failed to fetch DB: User cannot be authenticated with the token provided"
## Description

Vuln's DB is not downloaded.

## What did you expect to happen?

image scan

## What happened instead?

failed

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

[2022-06-22 12:10] tecbird commented on #2385
+1

2022-06-22T12:04:46.721Z	INFO	Need to update DB
2022-06-22T12:04:46.721Z	INFO	DB Repository: ghcr.io/aquasecurity/trivy-db
2022-06-22T12:04:46.721Z	INFO	Downloading DB...
2022-06-22T12:04:47.680Z	FATAL	init error: DB error: failed to download vulnerability DB: database download error: failed to fetch the layer: GET https://ghcr.io/v2/aquasecurity/trivy-db/blobs/sha256:5affceed0f4ba4da7954daaba

[2022-06-22 12:13] liad5h commented on #2385
same here

[2022-06-22 12:16] knqyf263 commented on #2385
Trivy DB is hosted on GitHub Container Registry, but it is unstable nowadays. I believe the error will be addressed in a minute.

[2022-06-22 12:51] knqyf263 commented on #2385
GitHub recognized the issue and updated the status.
![image](https://user-images.githubusercontent.com/2253692/175033126-9ff24867-9b57-46d6-9333-51f2bc8b9040.png)

https://www.githubstatus.com/

[2022-06-22 12:53] knqyf263 commented on #2385
Looks like it is back to normal. Please let me close this issue.
![image](https://user-images.githubusercontent.com/2253692/175033649-9cf046a8-4574-4b7f-ba77-11954c1b0399.png)

https://www.githubstatus.com/incidents/10vm6ctn52gx

[2022-06-22 12:53] #2385 closed

[2022-06-22 12:56] sys-ops commented on #2373
Hi Y'All,
Unfortunately, I started facing the same issue today. Yesterday everything was fine. I use private docker registry but the default
OCI repository to retrieve trivy-db from "ghcr.io/aquasecurity/trivy-db".
[code]
I did not upgrade trivy. I use version 0.25.4.
Why should I use TRIVY_USERNAME and TRIVY_PASSWORD?

[2022-06-22 12:57] knqyf263 commented on #2373
@sys-ops Your issue is due to GitHub being down. Please refer https://github.com/aquasecurity/trivy/issues/2385.

[2022-06-22 13:00] knqyf263 commented on #2373
@ThomasBertiere Thanks for updating. We don't use Docker Engine, but a credential. Rootless should not matter.

@afdesk Could you replicate it? Upload trivy-db to your private repository in GHCR, set up a credential and try `--db-repository`.

[2022-06-22 13:13] maltemorgenstern commented on #2385
I can confirm that this is fixed - trivy has no longer issues downloading the database 🎉

[code]

[2022-06-22 13:14] knqyf263 commented on #2385
Thanks for confirming👍

[2022-06-22 13:52] tspearconquest opened #2386 "The Aqua website certificate is expired"
Hello,

I'm writing to let you know that the TLS certificate for https://aquasec.com/ expired on June 20 and web browsers are showing an invalid certificate warning to all users who visit your website.

Please address this as soon as possible

Thank you.

[2022-06-22 13:52] tspearconquest commented on #2386
![image](https://user-images.githubusercontent.com/81998567/175046121-8f8dcd51-ce68-4f9e-9535-5d99608726ae.png)
![image](https://user-images.githubusercontent.com/81998567/175046152-f65c1839-e080-42fc-b851-b401dc16cc8f.png)

[2022-06-22 14:37] knqyf263 commented on #2386
Thanks. I saw the same issue, but after I reloaded the page, the certificate seems to be valid. Cache issue maybe?
![image](https://user-images.githubusercontent.com/2253692/175056522-bf939ba6-4d1e-469e-b98c-ef1135e561c6.png)

[2022-06-22 14:39] knqyf263 commented on #2360
Can you please fix it?

[2022-06-22 14:42] knqyf263 commented on #2350
Trivy is referring to this commit. As you can see, it fixes CVE-2022-23648. It means this vulnerability doesn't affect Trivy actually.
https://github.com/containerd/containerd/commit/c1bcabb45419

The problem is tagging in containerd is a bit special, then the version seems to be older than the fixed version. We will fix it so that this vulnerability will not be detected, but you don't have to wor

[2022-06-22 14:45] tspearconquest commented on #2386
Looks that way, thanks for confirming!

[2022-06-22 14:45] #2386 closed

[2022-06-22 15:05] webmutation opened #2387 "avd links running trivy config are not valid (404)"
## Description

The avs links displayed inline are not pointing to valid URL returns 404

## What did you expect to happen?
links should send to correct page

examples:
See https://avd.aquasec.com/misconfig/ds002
See https://avd.aquasec.com/misconfig/ksv003

## What happened instead?
returns 404

should redirect to new URL or be fixed in output of the CLI
https://avd.aquasec.com/misconfig/dockerfi

[2022-06-22 16:10] josedonizetti commented on #2215
This was fixed when the PR https://github.com/aquasecurity/trivy/issues/2137 was merged.

[2022-06-22 16:10] #2215 closed

[2022-06-22 16:11] afdesk commented on #2373
yes... it works:
[code]

[2022-06-22 16:13] afdesk commented on #2373
[code]

[2022-06-22 16:26] afdesk commented on #2373
I've removed my access token from GHCR and could get a similar error:
[code]

[2022-06-22 16:40] afdesk commented on #2373
I created a new token and login via docker. it also works for me:
[code]

[2022-06-22 16:40] josedonizetti opened #2388 "Merge trivy-kubernetes into trivy"
Considering the recent task to move fanal into Trivy, I wonder, wouldn't it make more sense to move trivy-kubernetes also into trivy?

- https://github.com/aquasecurity/trivy/issues/2277
- https://github.com/aquasecurity/trivy-kubernetes

@chen-keinan @knqyf263 @itaysk @liamg

[2022-06-22 16:42] josedonizetti opened #2389 "Add support to scan memory file system"
Trivy-operator currently uses defsec for policy scanning. We want to move it to use trivy directly, but for this we would need trivy to expose a way to scan memory Filesystem.  This would also help `trivy k8s` which has to store resources to disk and use `ScanFilesystem` to get a report, by supporting memoryFS we can avoid the IO time of writing k8s resources back and forth from disk.

@chen-keina

[2022-06-22 16:43] afdesk commented on #2373
I have no idea what else to try

[2022-06-22 17:04] afdesk commented on #2373
tested. it works correctly on macOS Monterey 12.1

[2022-06-22 17:36] nyarly commented on #2375
We're likewise seeing this issue, and also in an NLP model

[2022-06-22 17:41] afdesk commented on #2375
@RajKuni @nyarly thanks for your reports!
I'll try to investigate it soon

[2022-06-22 17:47] knqyf263 commented on #2389
Totally agree! One challenge is we use 3rd party library for fast filesystem walking. It allows file traversal in parallel. Otherwise, scanning file system takes very long time.
https://github.com/aquasecurity/trivy/blob/b944ac628616b892d2c1cb085c1bae63128de45d/pkg/fanal/walker/fs.go#L7

Looks like it doesn't support fs.FS. We have to manage it.

[2022-06-22 18:15] PenelopeFudd commented on #1886
The way I think of it, vulnerabilities are contained inside packages[*], and so packages can be in one of several states:
* Known to have a vulnerability ("bad")
* Known to not have any vulnerabilities as of a particular date ("good")
* Unknown as to whether it has any vulnerabilities ("unknown")

The problem that inspired this ticket was caused by a version of a package named "zabbix-get" that wa

[2022-06-23 00:05] #1813 closed

[2022-06-23 09:50] knqyf263 commented on #2373
@ThomasBertiere Thanks for confirming. I don't have an environment to test with JFrog Artifactory, but does `oras` work for example? It should work if JFrog Artifactory is a OCI registry.

[2022-06-23 10:02] afdesk commented on #2373
@ThomasBertiere is there anything strang in the JFrog logs?

[2022-06-23 10:49] #2233 closed

[2022-06-23 10:54] przemolb commented on #2349
I use aws for this. This is standard configuration - nothing fancy.

[2022-06-23 12:26] josedonizetti opened #2391 "secret: extract stripe publishable and secret keys from `stripe-access-token`"
To avoid using the same RuleID for different rules, let's extract stripe publishable and secret keys, and change rules and names to match how stripe shows it.

https://stripe.com/docs/keys

[2022-06-23 12:47] ThomasBertiere commented on #2373
Ok I made a mistake... 😩

My second repository (Harbor) was `Public` so no need of authentication. I change it to `Private` and trivy does not work. The error message is slightly different :

[code]
But I can pull it via `oras` :
[code]

And I can pull docker images from mySecondRepo.com.

@afdesk unfortunately I do not have access to JFrog logs...

[2022-06-23 12:51] afdesk commented on #2373
@ThomasBertiere oh, thanks. will try again.

[2022-06-23 12:58] afdesk commented on #2373
@ThomasBertiere i got your issue.
I've downloaded `Trivy` 0.28.1 and it seems this version doesn't work correctly.

Could you test the latest Trivy? thanks!

[2022-06-23 13:01] afdesk commented on #2373
[code]

[2022-06-23 13:03] knqyf263 commented on #2373
@afdesk Oh, nice catch. I forgot to check the installed versions. It should be v0.29.0 or greater.

[2022-06-23 13:08] josedonizetti opened #2393 "k8s: hide rbac summary, if there is not rbac role scanned"
when scanning single resources, we see the rbac summary empty:

[code]

@chen-keinan wdyt?

[2022-06-23 13:10] caiohasouza opened #2394 "filesystem scan error (eval_conflict_error: object keys must be unique)"
## Description

On 0.29.x version i'm receiving an error on run "trivy config", on older versions all works fine.

## What did you expect to happen?
The command `trivy config /dockerfilefolder/` works fine.

## What happened instead?
Error:

[code]

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):
Docker

[2022-06-23 13:25] afdesk commented on #2376
@erikgb thanks for your report!

could you check the latest trivy (>= 0.29.0)?
there were several fixes in this update.
thanks!

[2022-06-23 13:27] afdesk commented on #2187
@happylie
could you check the latest trivy (>= 0.29.0)?
there were several fixes in this update.
thanks!

[2022-06-23 13:39] afdesk commented on #2375
@RajKuni thanks for your report!
I'll try to clarify this issue.

[2022-06-23 14:11] liamg commented on #2394
Thanks, this is interesting, it looks like it's the usage of multiple `FROM` commands with the same image ref. I'll take a look later today :+1:

[2022-06-23 14:44] erikgb commented on #2376
@afdesk Thanks for the suggestion. It seems like the trivy version in the Helm chart is lagging behind, so I created this PR: https://github.com/aquasecurity/trivy/pull/2397. Regarding this issue, it looks a lot better with a more recent version, but I need to keep it running for a while to see if the issue is really gone. Will close the issue when I know.

[2022-06-23 14:57] afdesk commented on #2363
@vshabadkz let's do a small check. I'm writing about `trivy` but could you do the same steps for your project?

[code]
then look for this package:
[code]
OOPS! `Trivy` contains a vulnerability. (but it's a known issue: https://github.com/aquasecurity/trivy/issues/2350#issuecomment-1163194656 )

also we can check it via scan binaries:
[code]

could you check again that `CVE-2022-21235` affect on yo

[2022-06-23 15:04] afdesk commented on #2376
@erikgb please, feel free to write any comments about `trivy`. thanks for your feedback.

[2022-06-23 15:09] afdesk commented on #2373
@blacksails could you confirm too that this issue was fixed? thanks

[2022-06-23 15:18] flngen commented on #1877
I have the same error, but in my case I'm using a private oci registry for the trivy-db. The solutions offered here to open firewalls to allow ghcr.io doesn't apply.

[2022-06-23 15:21] afdesk commented on #1877
@flngen could you take a look at #2373?

[2022-06-23 15:23] flngen commented on #1877
I have seen that discussion. My local registry does not require authentication. As I mentioned above, there prolly isn't an option to bypass ssl verification when downloading the DB. Granted I haven't taken the time to read the code. Pure guess.

[2022-06-23 15:44] flngen commented on #1877
I tried using the public trivy docker image and mounted the node certs path to the docker container on /etc/ssl/certs, and was able to download the db from my private repo. So that's probably an acceptable workaround, provided your docker nodes your local CA certs/chain.

[2022-06-24 00:05] #1909 closed

[2022-06-24 00:05] #1897 closed

[2022-06-24 06:28] hazcod opened #2398 "False positive: Cluster is not configuring node pools to use the COS containerd image type by default"
## Description

Trivy is falsely flagging a nodepool of not having a `COS` image while it has `cos_containerd`.
In addition, the documentation mentions the use of `COS` while those are deprecated according to the terraform provider docs of beta: `COS AND UBUNTU are deprecated as of GKE 1.24`.

## What did you expect to happen?

No issue.

## What happened instead?

Trivy triggering:

[code]

## Ou

[2022-06-24 06:35] hazcod opened #2399 "Deprecate"
## Description

trivy currently checks for the existance of a `PodSecurityPolicy` in GKE clusters. This is being deprecated and replaced.
https://avd.aquasec.com/misconfig/google/gke/avd-gcp-0047/

## What did you expect to happen?

Not mention a finding.

## What happened instead?

[code]

## Additional details (base image name, container registry info...):

[code]

[2022-06-24 06:49] DmitriyLewen commented on #1877
Hello @flngen

We added insecure skip to download Trivy-db earlier: https://github.com/aquasecurity/trivy/pull/2140

To investigate your problem, can you send me:
- Trivy installed version (command `trivy -v` );
- Trivy result using `-debug` and `--insecure` flags(when you have error);

Regards, Dmitriy

[2022-06-24 06:54] blacksails commented on #2373
It works with v0.29.2 <3

[2022-06-24 06:58] afdesk commented on #2373
so can we close this issue?

[2022-06-24 07:20] blacksails commented on #2373
One thing which is a bit related to this is how to approach --db-repository authentication when using the docker image for running trivy. AFAIK it doesn't have docker or oras CLI's to provide the login functionality.

[2022-06-24 07:39] afdesk commented on #2373
hm, it works for me:
[code]

[2022-06-24 07:43] afdesk commented on #2373
it works too:
[code]

[2022-06-24 09:28] ShubhamPalriwala commented on #1508
Hey, so just to get the issue right,
Right now we only scan the default branch and what we are looking here is to
- pass an argument for the branch name &
- pass an argument for a commit hash to scan for the these specific instances.

Am I correct here?

[2022-06-24 11:17] blacksails commented on #2373
I guess this is resolved then 👍 Thanks for the help 🙏

[2022-06-24 11:56] afdesk commented on #2299
@yoks thanks for your report.
I'm working on it right now.

[2022-06-24 12:47] macedogm opened #2402 "Update SUSE SLES and openSUSE EOL date"
SUSE SLES 15.4 and openSUSE 15.4 were released, so we must update its EOL date.

[code]

[2022-06-24 15:18] #593 closed

[2022-06-25 00:05] #1798 closed

[2022-06-25 00:05] #1812 closed

[2022-06-26 00:06] #1936 closed

[2022-06-26 00:06] #1902 closed

[2022-06-26 00:06] #1867 closed

[2022-06-26 00:07] #1769 closed

[2022-06-26 03:18] happylie commented on #2187
@afdesk
Yes, sir.
Now we've confirmed that 0.29.2 Version is the latest
I will install the version and share the relevant contents after the test.

( cc : @erikgb )
It would be good to refer to the above.

[2022-06-26 11:55] erikgb commented on #2376
The hot DB update still fails with the latest version of trivy (version `0.29.2`), but now the error is somehow different:

[code]

And that is somehow expected, since this is an air-gapped environment, so access to ghcr.io directly is not permitted. It seems like the hot DB update is not aware of my `TRIVY_DB_REPOSITORY: registry-proxy.mycompany.com/aquasecurity/trivy-db` setting. Works on initia

[2022-06-26 16:23] olljanat commented on #1390
I just noticed that there is two different things on this discussion. With package lock file Trivy can detect vulnerabilities in packages which are used by .NET project. However it does not detect vulnerabilities in .NET it selves which is actually the case which was asked on first message.

Tested with `trivy image mcr.microsoft.com/dotnet/runtime:6.0.5` and it does not list *CVE-2022-30184* whic

[2022-06-26 16:56] knqyf263 commented on #1390
FYI: We're also working on it.
https://github.com/aquasecurity/fanal/pull/550

[2022-06-26 17:08] olljanat commented on #1390
@knqyf263 @astevenson-microsoft that repository looks to be archived so new pull request should be created to here.

[2022-06-26 22:24] VinodAnandan commented on #1836
@itaysk .The use cases I was looking for were:

- To improve the accuracy. If the exploitability data is available and can be provided in the output it will help with accuracy.
- For easier integration with other tools. It will be easier to integrate and communicate the BOM and vulnerability information with other tools.

[2022-06-27 00:05] #1695 closed

[2022-06-27 06:28] DmitriyLewen commented on #2367
Hello @kamil1027
Thank for your report!

If i understand correctly `nmp audit fix` doesn't fix dependencies in `yarn.lock` files(https://stackoverflow.com/questions/51732435/is-there-a-yarn-alternative-for-npm-audit).

Your report contains vulnerabilities from `yarn.lock` file. Path to file you be found using `-format json` flag(`Target` field).
For example:
[code]

Can you check your `yarn.lock`

[2022-06-27 07:05] DmitriyLewen commented on #1886
Thank you very much for your opinion and ideas!

I understood your idea.
In the future, we will try to take into account your suggestions.

If you don't have any more questions, can I close this issue?

Best regards, Dmitry

[2022-06-27 07:57] afdesk commented on #2376
@erikgb thanks a lot for your report.
It's a really good idea, I'll check it

[2022-06-27 09:15] itaysk opened #2405 "scala support"

[2022-06-27 09:42] afdesk commented on #2376
@erikgb you caught the bug. thanks. will fix soon

[2022-06-27 09:44] erikgb commented on #2376
@afdesk Thanks, looking forward to a bugfix release! 😉

[2022-06-27 10:45] #2376 closed

[2022-06-27 10:46] afdesk commented on #2187
@happylie took a look at this issue again.
it seems there is any issue with access to the db repository.
I could see the same behavior for the db repository from my custom regestry, but I can see that you use the default repo (ghcr.io/aquasecurity/trivy-db).

maybe it's cached somewhere?

[2022-06-27 10:46] #2247 closed

[2022-06-27 11:20] DmitriyLewen commented on #2145
Hello @cardoso-thiago
Thank for waiting!

your pom.xml contains [ehcache](https://mvnrepository.com/artifact/net.sf.ehcache/ehcache/2.10.1) library.
`ehcache-2.10.1.jar` contains `rest-management-private-classpath` folder with pom.properties files. Trivy finds these files and includes these dependencies in result(same case: [#2010](https://github.com/aquasecurity/trivy/issues/2010#issuecomment-110

[2022-06-27 11:38] DmitriyLewen commented on #2287
Hello @viniciusnavarro
Thanks for waiting.

I investigated your logs.
I can't understand why trivy report contains multiple version for single dependency.
if possible i need your `pom.xml` file fotor reproduce your case.

[2022-06-27 13:46] zythosec commented on #1837
@DmitriyLewen Go provides this functionality via the `go` binary using the [version command](https://go.dev/ref/mod#go-version-m)

- `go version <binary_name>` prints the go version with which it was built
- `go version -m <binary_name>` also includes the dependencies

Would that functionality be able to be leveraged?

[2022-06-27 13:50] knqyf263 commented on #1837
We already use `go version -m`, but it doesn't contain the application version, but dependency versions.

[code]

We cannot know which version trivy is.

[2022-06-27 14:31] #2363 closed

[2022-06-27 16:50] zythosec commented on #1837
Oh got it. My confusion. 😅 I thought this pertained to the Go version.

[2022-06-27 19:33] tburow opened #2409 "Amazon Linux 2022 support for Container Scanning"
Would like to request adding support for Amazon Linux 2022 Container Scanning - its scheduled to go GA in July.  would like to get ahead of this if at all possible.

thanks
**public.ecr.aws/amazonlinux/amazonlinux:2022**

https://docs.aws.amazon.com/AmazonECR/latest/userguide/amazon_linux_container_image.html

[2022-06-28 03:26] #2402 closed

[2022-06-28 06:25] kishankarun commented on #2354
Thanks @knqyf263 .

This detailed information wasn't available in the Trivy documentation.

Is it possible to provide the support for the other format also so that the license information would be easily visible in the OWASP Dependency track tool.

The report provided by Syft ( https://github.com/anchore/syft ) displays the license information in OWASP Dependency track tool (as it supports the fir

[2022-06-28 13:59] Pamplemousse opened #2411 "`trivy-db` fails to download with `MANIFEST_UNKNOWN: manifest unknown;`"
## Description

When trying to run `trivy` from the `docker` image, it fails to download `trivy-db`.
Note that I need to use a corporate repository.

[code]

## What did you expect to happen?

I expected the `trivy-db` to be downloaded fine.

## What happened instead?

`trivy` fails with an `init error: DB error: failed to download vulnerability DB: OCI artifact error: OCI artifact error: OCI repo

[2022-06-28 15:16] r8474 commented on #2349
Having the same issue.

Trivy version: `0.29.2`
Kubectl version: `1.21.0`

[2022-06-28 18:28] #2350 closed

[2022-06-28 22:57] PenelopeFudd commented on #1886
Yes, I think so.  Thanks!

[2022-06-28 22:57] #1886 closed

[2022-06-28 23:24] flavienbwk commented on #1667
Is there any way to download this file without a 3rd party tool ?

[2022-06-29 08:10] hazcod commented on #2398
Thanks!

[2022-06-29 08:21] tonyupup opened #2416 "Why does the scan filesystem command need to disable individual packet scanning"
https://github.com/aquasecurity/trivy/blob/e060026ec8ac908c16b0eafbfa4457933b8ed37a/pkg/commands/artifact/run.go#L177-L179

The documentation shows that trivy only supports java's pom.xml when scanning the file system, but supports jar when scanning the image, why is this? thanks for answer.

[2022-06-29 09:13] bryanasdev000 opened #2417 "docs: broken images and/or links on some pages"
## Description

There are some images that are breaking between 0.29.2 and 0.29.1, for example the Kubernetes Operator page, in 0.29.1 it shows the image and in 0.29.2 it does not:

https://aquasecurity.github.io/trivy/v0.29.2/docs/kubernetes/operator/
https://aquasecurity.github.io/trivy/v0.29.1/docs/kubernetes/operator/

The same applies for some links like "Kubernetes Operator" and "Custom Reso

[2022-06-29 10:31] #1200 closed

[2022-06-29 10:35] #2375 closed

[2022-06-29 11:21] DrissiReda commented on #2169
Make sure to add the unit `s` to your seconds, so the command should be:

[code]

[2022-06-29 12:00] FinnAdvact opened #2419 "Log Severity in Trivy Logs"
Hello there

We recently started using trivy to monitor our harbor application in our kubernetes cluster. I was wondering if there is a way to display the log severity of alerts, so that the corresponding CVEs would show up in the Loki logs when something bad happens.
Would love to make a dashboard with this information.

Greetings
Finn

[2022-06-29 12:16] gliwka commented on #2204
The secret is also part of the image history, not just the configuration.

[2022-06-29 14:23] #2192 closed

[2022-06-29 14:37] knqyf263 opened #2421 "Add support for .Net core .deps.json files"
## Description
.Net core generates a [appname].deps.json alongside the executable which contains the dependencies of that executable. Parsing it would provide information on dependencies for deployed .Net core executables. Support for parsing .deps.json was already added to go-dep-parser in https://github.com/aquasecurity/go-dep-parser/pull/103. Also, there is a WIP PR https://github.com/aquasecur

[2022-06-29 14:47] afdesk commented on #1667
@flavienbwk  you can use Trivy )
[code]

[2022-06-29 14:53] afdesk commented on #1667
i meant that there is a workaround:
[code]
and then `~/my/dir/db` will contain `metadata.json` and `trivy.db`, you can copy these files.

[2022-06-29 16:26] flavienbwk commented on #1667
Thanks @afdesk, another native way without even installing the trivy client might be :

[code]

[2022-06-29 19:42] PenelopeFudd opened #2424 "Trivy config report has wrong line numbers, when run as root"
## Description

The command `sudo trivy conf --severity HIGH,CRITICAL ./configs` reports an extra, bogus vulnerability when compared to the output of `trivy conf --severity HIGH,CRITICAL ./configs`.

Also, the urls shown in the report are broken (`grep http report.txt`):

See https://avd.aquasec.com/misconfig/ksv009
See https://avd.aquasec.com/misconfig/ksv017

They should be:

https://avd.aquasec

[2022-06-30 07:26] happylie commented on #2187
@afdesk
After installing 0.29.2 version, the update part is still the same.
Also, we didn't find any cache anywhere in the middle.

I installed a new system today.
After 6 hours, I will check the update and share it with you again.

[2022-06-30 07:27] MuppyCwa commented on #1411
Got this error just recently using version 0.29.2 when changed to use client/server instead of stand alone:

`FATAL	image scan error: scan error: image scan failed: scan failed: failed to detect vulnerabilities via RPC: twirp error internal: failed scan, our.registry.se:5001/my-application:latest: failed to apply layers: layer cache missing: sha256:1e2f2b457b1c67611f1792cee094c289997327baa020c9d82

[2022-06-30 08:29] tofuatjava opened #2426 "Request repomd.xml for Red Hat 9"
Red Hat 9 is released, also the Red Hat UBI 9 images are out.
Unfortunately trivy cannot be installed by the yum/dnf/microdnf, described at https://aquasecurity.github.io/trivy-repo/ because of the following error:

**error: cannot update repo 'trivy': Cannot download repomd.xml: Cannot download repodata/repomd.xml: All mirrors were tried; Last error: Status code: 404 for https://aquasecurity.gith

[2022-06-30 08:35] paul-gould opened #2427 "Asymmetric Private Key secret rule triggers on empty secret"
## Description

Since 0.29.2, the asymmetric private key rule is triggering on `python3.9/site-packages/googleapiclient/discovery_cache/documents/appengine.v1.json`. This is a schema definition and contains the text

This is using the GitHub trivy-action, which looks to have been updated to use trivy  v 0.29.2 last night.

## What did you expect to happen?

Detection not triggered as the keyblock

[2022-06-30 08:47] adapasuresh commented on #1242
Waiting for "Specify the size by the user" which version of trivy

[2022-06-30 09:11] adapasuresh commented on #1411
The believe the triviy recommended image size as on today to 200MB, any thing beyond that it just timeout.
I read trivy is working on giving control on the size of Image, may be --ImageSize 399MB in next version of trivy client. waiting for new version.

[2022-06-30 12:07] DmitriyLewen commented on #2427
Hello @paul-gould
Thank a lot for your report!

I will check this case and write to you

Regards, Dmitriy

[2022-06-30 12:18] Bhaal22 opened #2430 "pom.xml scanner founds wrong dependencies versions"
## Description

While scanning my java project trivy detects wrong versions of certain dependencies such as:

[code]

But

[code]

or

[code]

## What did you expect to happen?

I expect trivy to look for the right versions.

## What happened instead?

It happens trivy triggers false positive reports since the tool detects wrong versions.

## Output of run with `-debug`:

[code]

## Output of `tri

[2022-06-30 12:50] ShubhamPalriwala commented on #1508
@danielhelfand @rsareth @knqyf263 I would like to work on this once you can confirm the problem as I detailed above

[2022-06-30 12:51] knqyf263 commented on #1242
There is no limitation now. Trivy scans all Go binaries.

[2022-06-30 15:47] afdesk commented on #2187
@happylie thanks for your report. I'm taking a look more

[2022-06-30 18:38] sjgupta19 opened #2432 "Error: FATAL unable to initialize a image struct:"
Hi,
I am using trivy scanner via azure/container-scan github action and running into the following error(screenshot attached). It was running file till yesterday. Below are the configs that I am using -
<img width="274" alt="image" src="https://user-images.githubusercontent.com/105396748/176753221-7599a45c-e033-4dd7-a02f-2fa6c3632f67.png">

<img width="1281" alt="image" src="https://user-images.gi

[2022-06-30 19:56] adapasuresh commented on #1242
I am trying to scan my application base images and application custom images, which are above 200MB. Trivy is not able scan the images. I have tried with --timeout 10m and --timeout 15m still its failing.
Example UseCase:
0. Trivy DB - X items - date 30 June, 05:00 pm
1. Scan Base Image like openjdk-11 - OK - date 30 June, 05:00 pm
2. Scan Application fs - OK - date 30 June, 05:10 pm
3. Scan Appli

[2022-06-30 21:55] emosbaugh opened #2433 "Go module dependency false positive CVE-2020-27847"
## Checklist
- [x] I've read [the documentation regarding wrong detection](https://aquasecurity.github.io/trivy/latest/community/contribute/issue/#wrong-detection).
- [x] I've confirmed that a security advisory in data sources was correct.
    - Run Trivy with `-f json` that shows data sources and make sure that the security advisory is correct.

## Description

The scan shows a false positive for

[2022-07-01 02:16] swage6 commented on #1690
+1+1  The same thing happened to me

[2022-07-01 05:08] afdesk commented on #1242
@adapasuresh maybe is there another issue for your use case?
could you try to skip secret scanning?

[code]

[2022-07-01 06:40] afdesk commented on #1690
@RoyeeW @swage6 it seems that you try to use old db with new `trivy`.
the trivy DB schema was updated a few month ago.

please, update your database.

the same issue: https://github.com/aquasecurity/trivy-db/issues/186

[2022-07-01 12:06] Pamplemousse commented on #2411
You mean add `2` as a tag in our repository?

It appears that our repository is a proxy to `hub.docker.com`. And there's no `2` tag over there: https://hub.docker.com/r/aquasec/trivy-db/tags .

Also, there's no such tag in https://github.com/aquasecurity/trivy-db/tags .

[2022-07-01 12:54] knqyf263 commented on #2411
It's here
https://github.com/aquasecurity/trivy-db/pkgs/container/trivy-db

[2022-07-01 17:21] sjgupta19 commented on #2432
thanks that worked. it was working yesterday, why this broke all of a sudden? dont see any changes pushed to dockle repo.

[2022-07-01 18:14] arman1371 commented on #2432
Maybe change in GitHub runners (update)

[2022-07-03 07:11] knqyf263 commented on #2432
Thanks for your help, @arman1371!

[2022-07-03 07:11] #2432 closed

[2022-07-03 07:14] #2427 closed

[2022-07-03 07:15] #2426 closed

[2022-07-03 07:17] #2417 closed

[2022-07-03 07:23] knqyf263 opened #2451 "Dependency graph in CycloneDX and GitHub Dependency Graph"
## Description
After https://github.com/aquasecurity/trivy/pull/1970, Trivy currently has a dependency graph for Node.js. It should be reflected to CycloneDX and GitHub Dependency Graph as well.

## References
- https://cyclonedx.org/use-cases/#dependency-graph
- https://docs.github.com/en/rest/dependency-graph/dependency-submission

[2022-07-03 07:25] knqyf263 commented on #2315
https://github.com/aquasecurity/trivy/issues/1952

[2022-07-03 07:25] #2315 closed

[2022-07-03 17:03] #1164 closed

[2022-07-04 00:05] happylie commented on #2187
@afdesk
It still looks the same.
There is no part that is cached in the middle.
Am I doing something wrong?

[code]

[2022-07-04 03:48] DmitriyLewen commented on #2427
Hello @paul-gould

Thanks for your report!
We fixed your bug.

Fix will be contain in next [release](https://github.com/aquasecurity/trivy/milestone/7).
You can [skip this file](https://aquasecurity.github.io/trivy/v0.29.2/docs/secret/examples/).

Best Regards, Dmitriy

[2022-07-04 04:12] DmitriyLewen commented on #2433
Hello @emosbaugh

Thanks four your interest to Trivy!

Trivy works correctly:
Your `go.sum` file contains `github.com/dexidp/dex v0.0.0-20220520043505-5fe1647fc73c `. This version < `v2.27.0`.

Perhaps you can contact `dexidp` developers and report problem with semver in their repository.

For now, you can [skip](https://aquasecurity.github.io/trivy/v0.29.2/docs/vulnerability/examples/filter/#by-v

[2022-07-04 04:14] kamil1027 commented on #2367
In yarn.lock file, some of dependencies have been upgraded to the safe version.
Dependency example: minimist

![image](https://user-images.githubusercontent.com/77478122/177080154-a70a3d9a-4441-42e2-905f-d9bdcfdb0b7c.png)

However, some dependencies have not upgrade. Jusk like
![image](https://user-images.githubusercontent.com/77478122/177080218-0bd426f0-9c23-472c-92ef-0d48a2a64d57.png)
![image](h

[2022-07-04 04:46] DmitriyLewen commented on #2367
I think you can try to convert `package-lock.json` file into `yarn.lock`: https://stackoverflow.com/a/60878037.
This may solve your problem.

[2022-07-04 07:38] afdesk commented on #2187
@happylie thanks
it doesn't look like you're doing anything wrong

[2022-07-04 07:41] knqyf263 commented on #1952
Closed by https://github.com/aquasecurity/trivy/pull/2203

[2022-07-04 07:41] #1952 closed

[2022-07-04 07:51] knqyf263 opened #2452 "Change urfave/cli to spf13/cobra"
Trivy has a lot of capabilities and needs a configuration file now. [spf13/cobra](https://github.com/spf13/cobra/) has a better integration of configuration files. Also, we have some issues with [urfave/cli](https://github.com/urfave/cli) like persistent flags as mentioned in https://github.com/aquasecurity/trivy/pull/2186#issuecomment-1144249726. We should move to spf13/cobra.

[2022-07-04 13:46] rcarpio-hbo commented on #2204
@knqyf263 are you planning to implement this feature in the near future?

[2022-07-04 13:52] knqyf263 commented on #2204
No, but we welcome any contribution.

[2022-07-04 15:16] JulianCeaser opened #2453 "Trivy misconfiguration custom policy example for Dockerfile is not working"
I installed the latest trivy on my Centos Linux VM (0.29.2) and then downloaded the trivy github to my system.

When I am going into the examples for dockerfile and trying to run the misconfiguration custom policy it is not working.

Command as per the README.md
`trivy conf --policy ./policy --namespaces user ./configs`

Here is the output
[code]

[2022-07-04 15:40] quukske77 opened #2454 "Scanner timeout"
When scanning  image rancher/rancher-agent:v2.6.5 with version 0.28.1 everything works ok.
![image](https://user-images.githubusercontent.com/106823500/177185438-708d52a2-15f4-49a1-9925-84af3b0f4f1c.png)

When scanning the same image with version 0.29.0, 0.29.1 or 0.29.2 i will get a timeout.
![image](https://user-images.githubusercontent.com/106823500/177185835-49e4b7d7-c369-4a26-9194-c1a29851540

[2022-07-04 17:26] #2377 closed

[2022-07-05 06:17] chen-keinan opened #2455 "k8s API outdated version support"
it is require to review k8s API resources for outdated version and report it

[2022-07-05 06:31] seb-835 opened #2456 "download-db stalled when using PROXY and TRIVY_INSECURE=true"
## Description

Trivy  is unable  to download trivy-db
when we set  PROXY  and   TRIVY_INSECURE=true  in env  variable ,

## What did you expect to happen?

Be able to download db either TRIVY_INSECURE is set to true or false

## What happened instead?

download-db stalled when using PROXY and TRIVY_INSECURE=true

## Output of run with `-debug`:

export HTTP_PROXY=http://proxy.xxxxx3128
export HTT

[2022-07-05 07:52] ralfstuckert commented on #2454
Experiencing similar problem here for 0.29.1 and 0.29.2 called via [trivy-action ](https://github.com/aquasecurity/trivy-action)
`FATAL	image scan error: scan error: image scan failed: failed analysis: analyze error: timeout: context deadline exceeded`

Worked with 0.29.0 ([trivy action 0.4.1](https://github.com/aquasecurity/trivy-action/blob/0.4.1/Dockerfile)).

Parameters
`--format  sarif --exit

[2022-07-05 11:49] DmitriyLewen commented on #2454
Hello @ralfstuckert @quukske77
thanks for your reports!

We fixed this bug.
Fix will be include to [next release](https://github.com/aquasecurity/trivy/milestone/7)

Best Regards, Dmitriy

[2022-07-05 12:56] liamg commented on #2453
Thanks for the report, it looks like this example is outdated, I'll fix it :+1:

[2022-07-05 13:07] uwedisch opened #2459 "panic: interface conversion: interface {} is int, not string"
## Description

On some machines Trivy is interrupting with the message
`panic: interface conversion: interface {} is int, not string`

## What did you expect to happen?
Trivy is running without error

## What happened instead?
The error occured and Trivy stops

## Output of run with `-debug`:

panic: interface conversion: interface {} is int, not string

goroutine 1 [running]:
github.com/aquasecu

[2022-07-05 13:21] owenrumney commented on #2459
Hi @uwedisch - can you provide some details about the chart that you are trying to scan?

[2022-07-05 15:46] uwedisch commented on #2459
Hallo,
these are the filesystems of:
- Ubuntu 20.04.4 LTS (1 instance)
- Ubuntu 16.04.7 LTS ESM (1 instance)
- Kali 2022.2 (rolling) (1 instance)

But others are not affected:
- Ubuntu 16.04.7 LTS ESM (1 instance)
- Ubuntu 18.04.6 LTS (2 instances)
- Ubuntu 20.04.4 LTS (2 instances)

I see no chance to determine the specific file itself. Trivy should provide that.

[2022-07-06 00:05] #1874 closed

[2022-07-06 05:26] DmitriyLewen opened #2463 "New secret report template doesn't include file name and line numbers."
## Description
After [update](https://github.com/aquasecurity/trivy/pull/2410) secret report doesn't contain `filename` and `numbers of line`.

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:
Trivy is built from main branch [e77cfd6 commit](https://github.com/aquasecurity/trivy/tree/e77cfd6487cbd79e4f14e435186a7ac9d8888d5d)

[2022-07-06 06:43] DmitriyLewen commented on #2430
Hello @Bhaal22
Thank for your report!

I can reproduce your problem.
I will investigate that and write you.

Regards, Dmitriy

[2022-07-06 11:07] AshkanRafiee opened #2466 "Add an --ignore-unfixable flag"
While we are using Images (ex. Elasticsearch) with Latest Stable Version provided by official repositories, vulnerabilities related to dependencies that are being used by **Main package** are not-fixable by simply updating them and updating could result in version/dependency desync and incompatibility issues.
It could be very useful to detect or ignore these vulnerabilities or simply check if you

[2022-07-06 12:26] AJJJAIAH opened #2471 "Client/Server setup, mainly done for multiple images scan at a time. Is not working when I have many server nodes."
## Description
I have 2 CIs(Jenkins & Bamboo), currently my setup is on Trivy version v0.28.1.
Installation is done via Curl script both on client & server.

The client installed on NFS share and Trivy server on local FS (so that cache is specific to node).
I have set up an HTTPd load balancer at Trivy server, currently, it is 3 nodes (Trivy servers).

Now, when I call the image scan from my clien

[2022-07-06 12:34] AJJJAIAH commented on #2471
This setup works if I have only one Trivy Server node behind my HTTPd load balancer, it won't work if I add more Trivy servers.

[2022-07-06 12:36] AJJJAIAH commented on #2471
I am suspecting some Sticky session issue here, would be great if anyone points me to those details and how to make it work.

[2022-07-06 12:53] knqyf263 commented on #2471
@AJJJAIAH If you want to run multiple Trivy servers, you need to use Redis as the cache backend so that those servers can share the cache.
https://aquasecurity.github.io/trivy/v0.29.2/docs/vulnerability/examples/cache/#cache-backend

@DmitriyLewen Can we add it to troubleshooting?
https://aquasecurity.github.io/trivy/v0.29.2/docs/references/troubleshooting/

[2022-07-06 13:43] AJJJAIAH commented on #2471
@knqyf263
Do you mean to say, having one Redis instance or cache for all my Trivy server nodes?

example: Trivy server node 1, Trivy server node 2, Trivy server node 3, etc till Nth Trivy server will have only one Redis cache server? is that what you mean?

As I have both Jenkins & Bamboo CIs I expect at least 25-30 multiple-image scans to take place at the same time because I will have a minimum

[2022-07-07 00:06] #1898 closed

[2022-07-07 06:42] tonyupup opened #2474 "Error in the format of sbom(purl) when I scan the golang image"
## Description
Error in the format of SBOM when I scan the golang image。

## What did you expect to happen?
like standard purl format. ex: "purl": "pkg:golang/go.opencensus.io/go.opencensus.io@v0.23.0"
## What happened instead?
SBOM purl format not have namespace or name

"purl": "pkg:golang/go.opencensus.io@v0.23.0",

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## A

[2022-07-07 11:40] itaysk opened #2476 "AWS scanning"
Add a new target to trivy that scans an AWS account. By connecting to the AWS API, discovering relevant resources, and scanning them with current scanners. For starts we will scan for misconfigurations only.
the UX flow should be similar to Kubernetes scanning: start by a broad scan, and show summary only. then user can drill into resources to detailed findings.

Things to consider:
- how to consi

[2022-07-07 13:03] pablogalegoc opened #2477 "Trivy rootfs doesn't report go binary vulnerabilities if it doesn't have execution permission"
## Description

Trivy rootfs option doesn't report go binary vulnerabilities if the binary doesn't have execution permission.

[code]

## What did you expect to happen?

Trivy rootfs reports vulnerabilities of a binary just based on the existence of the binary, not on its permissions.

## What happened instead?

No vulnerabilities reported when the binary doesn't have execution permissions.

## Ou

[2022-07-07 14:37] nvuillam commented on #1729
Still not stale :(

[2022-07-07 18:13] #2360 closed

[2022-07-08 06:36] AJJJAIAH commented on #2471
Any updates? I brought up one Redis in one of the Trivy Server nodes (out of 3) and used the same Redis in all nodes. My Trivy servers are behind the load balancer. I am getting 502 & connection errors.

[2022-07-08 12:22] rsareth commented on #1508
Hi @ShubhamPalriwala ,

It is okay for me. But, be careful during your test that we can use the ssh protocol too.

[2022-07-08 13:17] #2463 closed

[2022-07-08 14:03] pablogalegoc commented on #2477
@afdesk thanks for your response! I get your point.
So, Trivy internally only checks binaries with execution permissions... for whom? Owner, group or others?
Also, if any process changes the permissions of the binary, I'd only know about the vulnerabilities if I run another scan. Wouldn't be nice to know that there is something problematic in a folder even if it is not a risk right now? I get the

[2022-07-08 14:10] masahiro331 commented on #2474
@tonyupup
https://github.com/package-url/purl-spec/blob/master/PURL-TYPES.rst#golang

From the examples in the purl-types specification, it appears that libraries such as `github.com/masahiro331/somemodule` have a namespace.

The output of cyclonedx-gomod, which is officially distributed by cyclonedx, also seems to output `pkg:golang/go.opencensus.io@v0.23.0`.

go.mod
[code]

cyclonedx-gomod
[code

[2022-07-09 00:06] #2007 closed

[2022-07-09 00:06] #1885 closed

[2022-07-09 16:40] #2452 closed

[2022-07-10 00:07] #1531 closed

[2022-07-10 00:18] github-actions[bot] opened #2486 "github.com/emicklei/go-restful: CVE-2022-1996"
## Title
go-restful: Authorization Bypass Through User-Controlled Key

## Description
Authorization Bypass Through User-Controlled Key in GitHub repository emicklei/go-restful prior to v3.8.0.

## Severity
CRITICAL

## Primary URL
https://avd.aquasec.com/nvd/cve-2022-1996

## References
- https://access.redhat.com/security/cve/CVE-2022-1996
- https://github.com/advisories/GHSA-r48q-9g5r-8q2h
- htt

[2022-07-10 07:07] afdesk commented on #2486
just for information:
[code]

[2022-07-10 12:24] ckotzbauer commented on #1390
The vulnerabilities listed in the CVE (Nuget.* packages) are not part of the dotnet-runtime image. The result is correct.

[2022-07-10 15:02] mxab commented on #1858
Hi,
I toyed arround with pre-commit a little bit. It has native support for creating hooks writen in go. It only requires the pre-commit-hook config in the repo.
Check the PR for more details

[2022-07-11 04:51] #2060 closed

[2022-07-11 07:41] rcarpio-hbo opened #2491 "--dependency-tree option not working using trivy image"
## Description

I'm unable to see the `--dependency-tree` option working using `trivy image --dependency-tree myimage`

## What did you expect to happen?
After the node libraries vulnerabilities, we should see a dependency tree starting as:
[code]

## What happened instead?
As it can be seen in the output, `trivy image` shows the table but not the tree.

## Output of run with `-debug`:

[code]

##

[2022-07-11 07:52] knqyf263 commented on #2491
Yes, `--dependency-tree` currently supports `fs` and `repo` only. We should warn that the flag doesn't work with image scanning. Thanks.

[2022-07-11 08:14] rcarpio-hbo commented on #2491
is in the roadmap to add `--dependency-tree` with image scanning?

[2022-07-11 08:16] #2409 closed

[2022-07-11 10:32] #2421 closed

[2022-07-11 13:54] uandrei commented on #2324
@afdesk  thanks for this, wasn't aware that there was a difference between different platforms' view and NVD. I think i was also confused that the Aquasec website doesn't show anything in particular for Ubuntu, which is why it raised the question in my mind in the first place.

Thanks for your answer.

[2022-07-11 13:54] #2324 closed

[2022-07-11 16:10] dAnjou commented on #1257
We have a very similar if not the same issue with version **0.29.2**.
[code]
But there are clearly terraform files in that directory:
[code]

[2022-07-11 16:45] itaysk commented on #2303
summarizing a convo with @knqyf263 :
the `--license-risk-threshold` flag isn't the best UX (the numerical value isn't self-explanatory) and also not consistent with the rest of Trivy, which is using `--severity`
Suggestion here is to map license classifications into Trivy severities (and use just the severity flag). We need to also show the mapping in the table (both severity and classification).

[2022-07-11 18:10] dinvlad commented on #1558
/remove lifecycle/stale

[2022-07-11 18:11] dinvlad commented on #1558
/remove-lifecycle stale

[2022-07-11 19:49] itaysk commented on #2491
we should also update the documentation https://aquasecurity.github.io/trivy/v0.29.2/docs/vulnerability/examples/report/#show-origins-of-vulnerable-dependencies

[2022-07-12 05:26] medeirosb opened #2497 "Jetty 9.x CVE-2022-2191 false positive"
## Description

My team currently uses Trivy to scan all docker images and we started receiving this alert
[code]

## What did you expect to happen?

Since version 9.x is not affected by the issue (that's what I understand from [their bulletin](https://www.eclipse.org/jetty/security_reports.php), at least), we expect no issues to be raised by Trivy.

## What happened instead?

Using Jetty 9.4.48.v

[2022-07-12 06:00] DmitriyLewen commented on #2433
Hello @emosbaugh

Advisory databases currently only contain information about packages and their versions.
We have no way to compare semver and non-semver versions.
If you have ideas on how to implement this, we are always glad to new members!

Advisory databases currently only contain information about packages and their versions.
We haven't way to compare semver and non-semver versions.
If you h

[2022-07-12 07:53] knqyf263 commented on #2491
It is not easy actually as image scanning doesn't look for package-lock.json.
https://aquasecurity.github.io/trivy/v0.29.2/docs/vulnerability/detection/language/

[2022-07-12 10:34] Arctic opened #2500 "Most centos vulnerabilities cannot be fixed"
After analysis and testing, most mirror scanning vulnerabilities can be solved by yum or apt upgrade software, but because centos and redhat share vulnerability libraries, there are still many vulnerabilities that have not been fixed after yum update, and centos officials have not stated that they are affected by these vulnerabilities, so how to fix these vulnerabilities

[2022-07-12 18:20] joakime commented on #2497
This was due to a bad version range in the original advisory.

That version range has been updated.

* https://github.com/advisories/GHSA-8mpp-f3f7-xc28

[2022-07-12 21:41] clin4 opened #2501 "trivy fs --security-checks secret can't find the hardcoded bearer token in the code."
I have a piece of typescript code, which contains a bearer token. I am hoping I can use the trivy fs --security-check secret options to find this kind of issue from the code base, but it doesn't.  Is this the expected behavior or I used the wrong options?

I am using trivy 0.29.1

The scan result
=================
trivy fs --security-checks secret  -f json .
2022-07-12T21:38:42.049Z        INFO

[2022-07-12 23:10] wagde-orca opened #2502 "False Negative: Trivy does not detect CVE-2018-11499 on node-sass"
## Checklist
- [V] I've read [the documentation regarding wrong detection](https://aquasecurity.github.io/trivy/latest/community/contribute/issue/#wrong-detection).
- [V] I've confirmed that a security advisory in data sources was correct.
    - Run Trivy with `-f json` that shows data sources and make sure that the security advisory is correct.

## Description
CVE-2018-11499
From NVD:
A use-after

[2022-07-13 05:55] DmitriyLewen commented on #2501
Hello @clin4
Thanks for your interest to Trivy!

We don't  currently have pattern for correctly defining Bearer tokens.
If you know a way to detect Bearer, please let us know and we will add it!

About your case:
I think, you can use [custom rule](https://aquasecurity.github.io/trivy/v0.29.2/docs/secret/configuration/).
I created small example for your file:
[code]
Trivy result:
[code]

Best Regar

[2022-07-13 06:01] knqyf263 commented on #2502
You can raise an issue to GitHub.
https://github.com/advisories/GHSA-c87p-mhv6-fff6

Or GitLab.
https://gitlab.com/gitlab-org/advisories-community

[2022-07-13 06:01] #2502 closed

[2022-07-13 07:51] ShubhamPalriwala commented on #1508
@rsareth Opened a PR for the same a couple of days ago :)))

[2022-07-13 08:28] jercle opened #2503 "AquasecAVD PrimaryURL property incorrect in Vulnerability DB"
## Description

PrimaryURL property seems to be incorrect for scans.

## What did you expect to happen?
Go to valid url on Aquasec AVD

## What happened instead?
404 page returned

Searching AVD by CVE found the urls have changed.

For example:
* CVE-2014-0114
* Current (failing) URL in scans: https://avd.aquasec.com/nvd/cve-2014-0114
* Working URL: https://avd.aquasec.com/nvd/2014/cve-2014-0114/

[2022-07-13 09:12] kobus-v-schoor opened #2504 "Multiline secrets stored in json files not picked up due to regexes not matching escaped newlines"
## Description

When a multi-line secret is stored inside a json file, its newline characters are escaped e.g.

`{"rsa-key": "first line\nsecond key"}`

The current secret regexes doesn't permit the backslashes so they don't match any multi-line secrets stored in json files. Weirdly enough, this wasn't an issue in versions before the v29 release. I've set up a test image demonstrating the issue at

[2022-07-13 09:38] medeirosb commented on #2497
Thanks for the reply, @joakime!

I'm running latest Trivy from Ubuntu
[code]

And I believe Trivy also auto-refreshes its database, so do you know why I'm still getting this specific alert?

[2022-07-13 09:57] joakime commented on #2497
I know nothing about Trivy, sorry.

[2022-07-13 11:08] #2491 closed

[2022-07-13 11:53] dmazhar-cogniance opened #2505 "No error logged if trivy can't get docker image in kubernetes mode"
## Description

Hey team. I faced an issue with trivy's k8s mode. I'm using it to scan the k8s deployment, the problem is that it can't get docker image for the running pod (my bad with no providing AWS credentials to access ECR) and silently skips vulnerability check. It could be better to log warning for this case, maybe. Even the debug log does not produce any useful output.

## What did you ex

[2022-07-13 13:33] owenrumney commented on #2503
@jercle  - apologies for the inconvenience here - we had an issues with our knowledge base which is now resolved. Both links are now active and resolving to the correct location.

There may appear to be a short delay for you depending on the CDN cache

[2022-07-13 13:33] #2503 closed

[2022-07-13 13:40] knqyf263 opened #2506 "SBOM attestation"
Our documentation should describe how to sign and attach our SBOM.

According to [the cosign doc](https://github.com/sigstore/cosign/blob/6eeb3cf5864edf34d87084c3f942d4a9a36a54ce/doc/cosign_attest.md), it would be like below.

[code]

[2022-07-13 13:41] knqyf263 commented on #2506
@otms61 Could you work on it?

[2022-07-13 13:44] emosbaugh commented on #2433
I understand. I will take it up with the Dex folks.

[2022-07-13 14:33] jercle commented on #2503
Ah that's awesome. Cheers all! :)

[2022-07-13 15:40] KyleK1782 commented on #2298
I agree, some additional information and formatting would be greatly beneficial to to the HTML template. I think the most useful would be to have a total number of vulnerabilities, `len .Vulnerabilities` and then the number of each severity. This would allow users to be able to quickly identify how severe the results are.

[2022-07-13 16:31] preetamap commented on #2259
Indeed a good feature to have, avoids multiple scans..
Alternatively feature to convert json to html or csv would also help..

[2022-07-13 23:13] clin4 commented on #2501
Hi Dmitriy,
Thank you for the quick and valuable response. It really helps.

[2022-07-13 23:13] #2501 closed

[2022-07-14 00:06] #2037 closed

[2022-07-14 02:11] medeirosb commented on #2497
The advisory data seems to be correct now (and I personally haven't checked it before), and Trivy is up-to-date on my environments, so I don't know what's causing this.

[2022-07-14 03:28] uwedisch commented on #2459
Bug appeared first time with [v0.29.0](https://github.com/aquasecurity/trivy/releases/tag/v0.29.0).

[2022-07-14 04:26] DmitriyLewen commented on #2433
I close this issue.
Please, reopen issue if you still have questions.

Best Regards, Dmitriy

[2022-07-14 04:26] #2433 closed

[2022-07-14 06:23] 631068264 opened #2509 "I can't run scan task for trivy 0.24.2 in harbor"
harbor 2.4 migrate from 2.3

get logs
[code]

[2022-07-14 06:35] knqyf263 commented on #2509
Please raise an issue in [harbor-scanner-trivy](https://github.com/aquasecurity/harbor-scanner-trivy)

[2022-07-14 06:35] #2509 closed

[2022-07-14 06:47] KGAJUL commented on #1598
@thiago-gitlab  .. I am using Gitlab 15 version and when i moved to new version of trivy (latest image) under security tab i am not seeing report and getting below error,
[Schema] property '/version' does not match pattern: ^[0-9]+\.[0-9]+\.[0-9]+$
[Schema] Version 2.3 for report type container_scanning is unsupported, supported versions for this report type are: 14.0.0, 14.0.1, 14.0.2, 14.0.3, 14

[2022-07-14 07:22] DmitriyLewen commented on #2497
Hello @medeirosb
Thanks for your interest to Trivy!

@joakime is right. Advisory contained wrong version range.

We have bug with `Trivy-db` extended update time.
We are working on it. I will write to you, when it is fixed.

Best Regards, Dmitriy

[2022-07-14 07:27] knqyf263 commented on #2180
would be helpful

[2022-07-14 08:12] AJJJAIAH commented on #2471
Thanks, I got it to work. The missing piece was, that I have to use the local cache for the servers along with Redis.

[2022-07-14 08:13] #2471 closed

[2022-07-14 08:29] gmarjano1975 opened #2512 "False positive CVE-2022-22970"
## Description

I am using trivy for scanning my spring-boot-application.
I got a false positive for `org.springframework:spring-core (datev-processor.jar)`:

[code]

## What did you expect to happen?
According to [https://avd.aquasec.com/nvd/2022/cve-2022-22970/](https://avd.aquasec.com/nvd/2022/cve-2022-22970/) it is marked as MEDIUM

## Output of `trivy -v`:

[code]

[2022-07-14 08:49] knqyf263 commented on #2512
Please see checklist and reopen it as the wrong detection.
https://github.com/aquasecurity/trivy/issues/new?assignees=&labels=kind%2Fbug&template=WRONG_DETECTION.md

[2022-07-14 09:17] DmitriyLewen commented on #2497
If you need "clear" Trivy result: you can use [.trivyignore](https://aquasecurity.github.io/trivy/v0.29.2/docs/vulnerability/examples/filter/#by-vulnerability-ids) file to ignore this CVE, until `trivy-db` doesn't contain update.

[2022-07-14 10:17] medeirosb commented on #2497
Unfortunately, that's not easy for us. We don't have access to the repo in the job that's running Trivy, just access to the docker image, so introducing .trivyignore would be a major change across many repos.
I think our only option is to wait for a Trivy fix, please keep us updated if you can.

[2022-07-14 10:29] otms61 commented on #2506
@knqyf263 Alright. I will try.

[2022-07-14 11:20] afdesk commented on #2337
@dmivankov now, the gitlab advisory db was updated, and it should be fixed.
please, feel free to reopen this issue if the problem still persists.

[2022-07-14 11:44] ghost opened #2514 "Whether the Apk Analyzer needs to manually close the file after reading it"
https://github.com/aquasecurity/trivy/blob/931afd7f26f941b34990b02f22ec15c2188590fa/pkg/fanal/analyzer/command/apk/apk.go#L89

whether need to close file handles manually?

[2022-07-14 11:49] DmitriyLewen commented on #2497
@medeirosb
`trivy-db` has been updated!
[code]

Delete your local database (default path: ~/.cache/trivy) and start Trivy to load database.
Also you can use `trivy i --reset` to remove database, but cache will also be removed.

Let me know if you are still getting the vulnerability or close this issue if Trivy is working properly.

Regards, Dmitriy

[2022-07-14 13:11] afdesk commented on #1758
@rethab @davidteal thanks for your interest!

`Trivy` has several ways to manage skipped vulnerabilities.
at first, a few releases ago there was added expiration dates in `.trivyignore`: https://aquasecurity.github.io/trivy/v0.29.2/docs/vulnerability/examples/filter/#by-vulnerability-ids

also you can use different `.trivyignore` files for different use cases:
[code]
don't these options cover your

[2022-07-14 13:52] trevor-vaughan opened #2518 "The `fs` subcommand does not appear to have the JAR scan fixes"
## Description

When running `trivy fs .`, `jar` files do not appear to be scanned.

Running `trivy rootfs .` **does** appear to scan `jar` files.

## What did you expect to happen?

I expected `trivy fs` to identify and scan `jar` files in the target directory.

## What happened instead?

`trivy fs` did not identify any of the `jar` files.

## Output of run with `-debug`:

[code]

## Expected Out

[2022-07-14 14:03] afdesk commented on #2518
@trevor-vaughan thanks for your interest!
yes, this behavior is normal, you can take a loot at scanning of language-specific packages here: https://aquasecurity.github.io/trivy/v0.29.2/docs/vulnerability/detection/language/

[2022-07-14 14:07] trevor-vaughan commented on #2518
Ah, I see. I had assumed (incorrectly) that the underlying scanners would use the same detection methods.

Closing - works as documented.

[2022-07-14 14:07] #2518 closed

[2022-07-14 15:20] iamNoah1 commented on #1390
I can confirm that this is not the case. Only after adding lock files, security issues have been reported for my .net6 application.

[2022-07-14 21:43] roussidis opened #2520 "Almalinux 9 warnings"
Scanning almalinux 9 based images provides the below warnings

[code]

Looks like there are some warning regarding almalinux 9 which thinks that it is not supported. It can provide output though regarding vulnerabilities.

[2022-07-14 22:39] thiago-gitlab commented on #1598
Hi, @KGAJUL.

Yes, these errors are expected as described in this issue.

In GitLab 15.0, the container scanning moved to free, and you could use that instead; see my previous comment: https://github.com/aquasecurity/trivy/issues/1598#issuecomment-1128585049.

Alternatively, if you're running a self-managed instance, you can use the `enforce_security_report_validation` feature flag until GitLab 15