[2020-02-14 04:24] stevesta commented on #403
I tried to trace through the detection behavior and it looks like if the `FixedVersion` of an `Advisory` is equal to empty string, trivy detects that as a vulnerability:

https://github.com/aquasecurity/trivy/blob/246793e8739ed45cb972ecb88cccc74929e95ade/pkg/detector/ospkg/ubuntu/ubuntu.go#L91-L94

the trivy database indicates the `FixedVersion` for this package is equal to empty string, I assume

[2020-02-16 07:48] knqyf263 commented on #151
Also, we supported SUSE.

[2020-02-16 07:48] #151 closed

[2020-02-17 09:26] nabadger opened #404 "Enable both writing to console and file for results"
I don't think this is currently supported...

We run trivy as part of CI, and I would like to have trivy print out results in the current table format, and additionally write json results to file.

This would enable any users monitoring the CI to understand why a particular build failed, and it would also allow results to be collected and centralized so teams can gain further insight.

Any thought

[2020-02-17 14:14] remidinishanth opened #405 "Trivy not able to analyze OS for an image extended from debian"
**Description**

When I scan the fluent image. I get FATAL error

[code]

But from the Dockerfile of fluent, I see the base image is FROM amd64/debian:stretch-slim. REF: https://hub.docker.com/r/fluent/fluent-bit/dockerfile

When I scan the base image, I get the following results

[code]

**What did you expect to happen?**
I expect to see at least the scan results of the parent image. Where it cou

[2020-02-18 08:59] tnir opened #406 "doc: Add link to GitLab CI as example"
As aquasecurity/trivy-ci-test#7 was merged, https://gitlab.com/aquasecurity/trivy-ci-test/pipelines is ready for EVERYONE to see. That link was missing in #375 due to the delayed delivery of aquasecurity/trivy-ci-test#7 at @gitlabhq and should be added like Travis CI and CircleCI:

- https://github.com/aquasecurity/trivy/blob/42043a08880b97ff01502d51aa1dc2f83b40ee58/README.md#travis-ci
- https://g

[2020-02-18 13:05] knqyf263 commented on #403
Thank you for filing an issue. To come to the point, it is intended.

Unfortunately, Trivy doesn't support self-compiled packages, but packages installed from repositories maintained by vendors such as Red Hat and Canonical. You built the `openssl` package yourself.
https://gist.github.com/stevesta/39897f620f395ad29446fd2d69738f9f#file-dockerfile-happy-L15

Our detection is based on security advis

[2020-02-18 15:04] stevesta commented on #403
This makes it hard to maintain the system because problems come up if you try to `apt install` packages that depend on openssl.

[2020-02-19 10:52] zycon opened #410 "error while download DB | Certificate issue"
**Description**

I cant download the DB, showing an exception
 Get https://api.github.com/repos/aquasecurity/trivy-db/releases: x509: certificate signed by unknown authority

**What did you expect to happen?**
Download DB

**What happened instead?**
Certificate issue

**Output of run with `-debug`:**
[code]

**Output of `trivy -v`:**

[code]

**:**

[2020-02-20 00:51] the-maldridge opened #411 "In client server mode, where do scans actually happen"
I'm looking at extending some tools that I already have to run trivy on an internal nomad cluster.  As such, I'm trying to minimize the thundering herd effect of scanning every container in the cluster.

I see that there is a client server mode which purports to download and cache some files.  My question is do the scans also happen on the server in this mode?  If the scans happen on the server in

[2020-02-20 03:50] AdamMichaelLong opened #412 "GCR Managed Base Images failed to scan"
Google has managed bases via their cloud-marketplace GCR to run and build on GCP/GKE etc

Trivy cannot scan those images, assuming because of how those images are built (Bazel)

**Output of run with `-debug`:**

[code]

**Output of `trivy -v`:**

[code]

**Additional details (base image name, container registry info...):**

gcr.io/cloud-marketplace/google/centos7:latest

Related issue: https://git

[2020-02-20 07:53] knqyf263 commented on #410
In my environment, it doesn't happen. Are you under the proxy environment? Would you try downloading trivy.db.gz by `curl` or `wget` from GitHub Releases?
https://github.com/aquasecurity/trivy-db/releases

[2020-02-20 07:56] knqyf263 commented on #403
Exactly. We recommend installing official packages via `apt`. Trivy doesn't scan self-compiled packages/binaries like `debuild` or `make`.

[2020-02-20 08:06] knqyf263 commented on #405
Would you try v0.4.4? It works in my environment.

[2020-02-20 08:08] #403 closed

[2020-02-20 14:18] remidinishanth commented on #405
Thanks, it works for the v0.4.4, I didn't see this version, just followed readme install v0.1.6

[2020-02-20 16:45] knqyf263 commented on #405
Ah, I will update README. Thanks.

[2020-02-20 16:45] #405 closed

[2020-02-21 18:59] knqyf263 commented on #412
@AdamMichaelLong Thank you for the report! I'll take a look.

[2020-02-21 19:09] knqyf263 commented on #412
I can't pull the image. Do you have any idea?

[code]

[2020-02-21 20:16] masahiro331 commented on #412
## How to pull marketplace.gcr.io/google/centos7:latest image
Need to run the following command.
`gcloud auth configure-docker && docker pull marketplace.gcr.io/google/centos7:latest`

## About error
Trivy needs the following files to get package information from CentOS.
https://github.com/aquasecurity/fanal/blob/master/analyzer/pkg/rpm/rpm.go#L87-L88

But these files are not present in this image

[2020-02-22 06:23] knqyf263 commented on #412
Thanks @masahiro331. An image with no index files cannot be scanned because the list of packages is not available. Then, we have no idea of addressing it. This is not a bug but a restriction. Let me close this issue, but we reopen it if we find a way to list packages without index files.

[2020-02-22 06:23] #412 closed

[2020-02-23 06:57] zycon commented on #410
It was a strange proxy issue that i was not aware . Thanks

[2020-02-23 06:57] #410 closed

[2020-02-23 08:17] knqyf263 commented on #294
We merged https://github.com/aquasecurity/trivy-db/pull/22. Thanks a lot, @mrueg. Next, we have to build this DB in Docker Registry such as DockerHub.

[2020-02-23 13:03] mrueg commented on #400
Closing in favor of https://github.com/aquasecurity/trivy-db/issues/29

[2020-02-23 13:03] #400 closed

[2020-02-23 13:31] knqyf263 opened #415 "Support GitHub Advisory Database"
## Overview
To detect vulnerabilities of libraries such as composer and gem, we're going to use GHSA as well. Finally, I believe we can also support maven.
https://github.com/advisories

## Related
https://github.com/aquasecurity/trivy/issues/344

[2020-02-23 13:32] knqyf263 commented on #344
@chezou Now, we're working on the replacement. You can track it #415. Thank you for the information.

[2020-02-23 13:32] #344 closed

[2020-02-23 23:03] pierrchen opened #416 "Support Ubuntu 19.10 scanning"
Hi,

First, thanks for the wonderful product to make CVE scanning easy.

What we can expect in terms of supporting Ubuntu 19.10? If there are some docs/examples showing how to add support to new distribution/version, probably the community (including me) can contribute to it as well.

[2020-02-24 21:46] christian-weiss commented on #61
Would be cool if trivy does a docker engine version check when DOCKER_API_VERSION is not set, instead of bindly using always the latest known API version.
https://docs.docker.com/engine/api/v1.40/#operation/SystemVersion

[2020-02-24 22:51] zfLQ2qx2 opened #417 "Problem with Trivy and Travis-CI"
I've been using Trivy successfully on my macbook and with AWS Codebuild, now I am trying to get it working on Travis-CI.

In a Travis-CI session I've built an image with docker build, I can see it with docker images, I can save it with docker save, but when I try to run trivy against it I get the following error (yes, I call my image app):

2020-02-24T22:33:32.757Z	FATAL	error in image scan: faile

[2020-02-25 00:38] the-maldridge commented on #411
Looking at this, I believe that the scans happen on the server, which is really frustrating to discover as it makes the server completely unusable in the case where multiple repositories are in use.  This makes it necessary to have an individual server for every repository you might want to scan, rather than having a server host all the databases to avoid bumping into the rate limit.

[2020-02-26 20:35] zfLQ2qx2 commented on #417
I've done some additional investigation and I believe that the core issue is that Travis-CI doesn't allow TCP connections and Trivvy doesn't want to talk to a unix domain socket (at least I've not found a way to make it do that). Three workarounds I see are 1) see if Travis-CI has an option to allow docker to communicate on the loopback interface (I do this on Codebuild) 2) See if Travis-CI will a

[2020-02-27 11:52] san3jaya opened #420 "Scan kubernetes pods?"
Is there a way to scan kubernetes pods with this? If can what is the way?
like : trivy [POD_NAME]

[2020-02-27 16:29] knqyf263 commented on #420
Actually, we're working on it, but the tool is still a private repository. Trivy itself doesn't support it. Please wait a while. CC. @danielpacak

[2020-02-27 21:17] #395 closed

[2020-02-27 21:17] #396 closed

[2020-03-01 04:06] securityclippy opened #421 "Best way to integrate trivy client as a library in another program"
I'm working on a project to manage automated scanning of images in various registries and would like to kick off a scan on the trivy server via this automation.  In order to to so, I need to send a request to trivy (in server mode) to scan the selected image.

In reviewing the trivy code, it seems the client related code is all located in the internal directory, making it impossible to include the

[2020-03-01 13:51] itaysk commented on #420
@wipflash will a kubectl plugin solve your need? https://github.com/itaysk/kubectl-trivy

[code]

[2020-03-02 06:09] san3jaya opened #422 "Integration to stackdriver"
I want to import this generated JSON file to the Stackdriver monitoring tool. Is there a specific way to do that? or I have to cloud logging or something?

[2020-03-02 09:07] #420 closed

[2020-03-02 09:08] san3jaya commented on #420
@itaysk This one working as expected.

[2020-03-02 16:38] 2Fey opened #423 "Trivy vulnerability database path"
Hi, in our case we need somethink like 20 images to check by trivy on gitlab ci. We want to check next images without downloading trivy and vulnerability db every stage, but on every new stages it download db.
So we want use _trivy --download-db-only_ and share vulnerability base beetwen maschines, but we can't find vulnerability base on local machine. Can you write path where trivy download vulne

[2020-03-03 09:43] tomchiverton commented on #211
Is there any eta anyone knows from Microsoft of when the bug fix will be in the release version of Windows ?
Is there nothing that can be done to patch the problem in the mean time ?

[2020-03-04 00:40] mozillazg commented on #423
The database is downloaded from [here](https://github.com/aquasecurity/trivy-db/releases).

BTW, how about the [client/server mode](https://github.com/aquasecurity/trivy#client--server) ? Maybe it's what you find for your case.

[2020-03-04 23:35] james-s-nduka commented on #61
Has there been no fix or workaround if you're using the `trivy` binary?

[2020-03-05 17:38] webmutation opened #426 "0.5.0 fails in Gitlab Pipeline"
Previous version 0.4.4 worked well, today version 0.5.0 is breaking all scans return

./trivy --exit-code 0 --cache-dir $CI_PROJECT_DIR/.trivycache/ --no-progress $CI_REGISTRY/$PKG:$PKG_VERSION
 2020-03-05T15:38:56.477Z	FATAL	error in image scan: failed analysis: analyze error: failed to analyze layer: sha256:74062818ac91f46ee51b59f32aac690c4de14c9a6b9185a28cce084fb89233d1 : failed to get packages

[2020-03-05 18:27] m-wynn commented on #426
I was able to fix this by installing rpm in our CI container (it's packaged for alpine).
However this is not ideal, as I am not scanning any RHEL-based containers.  I also feel this should have been communicated in the release notes.

[2020-03-05 20:08] webmutation commented on #426
Hi not sure I understand you changed your builder image?
I will just revert back to 0.4.4 for the time being.

[2020-03-06 05:29] knqyf263 commented on #426
@webmutation Are you scanning RHEL based image? Actually, I didn't change our image at all.

[2020-03-06 07:45] knqyf263 commented on #426
@m-wynn What did you scan? And how did you scan? The following commands work in my environment.

[code]

[2020-03-06 10:07] insider89 opened #428 "Authorization for Private Docker Registry does not work (nexus oss)"
**Description**

Try to run trivy against private nexus oss registry but got error **unauthorized: access to the requested resource is not authorized**

**What did you expect to happen?**
Successfully scan image

**What happened instead?**
Got error **unauthorized: access to the requested resource is not authorized**

**Output of run with `-debug`:**

[code]

**Output of `trivy -v`:**

[code]

**A

[2020-03-06 10:21] knqyf263 commented on #428
I'm so sorry. Would you try v0.5.1?
https://github.com/aquasecurity/trivy/releases/tag/v0.5.1

[2020-03-06 10:26] bgoareguer commented on #426
Same for me with trivy 0.5.1 (unpacked from tarball on an Ubuntu 18.04 machine):
$ ./trivy ubuntu:18.04
2020-03-06T11:17:32.654+0100    FATAL   error in image scan: failed analysis: analyze error: failed to analyze layer: sha256:b6b53be908de2c0c78070fff0a9f04835211b3156c4e73785747af365e71a0d7 : failed to get packages: failed to get packages: no rpm command

[2020-03-06 10:29] insider89 commented on #428
It was super quick. Works as expected. Thx a lot. Issue can be close.

[2020-03-06 10:33] knqyf263 commented on #428
Thank you for the confirmation!

[2020-03-06 10:33] #428 closed

[2020-03-06 10:34] knqyf263 commented on #426
@bgoareguer Thank you for the detail. Let me check.

[2020-03-06 11:54] marefr commented on #426
Thanks for looking into this.

In CircleCI we use circleci/buildpack-deps:stretch docker image:
[code]

Some more information in https://github.com/grafana/grafana/issues/22615

[2020-03-06 12:33] knqyf263 commented on #426
@marefr I'm sorry I found a cause and fixed it. I'll release a new version. Just a moment.

[2020-03-06 12:39] #426 closed

[2020-03-06 12:43] knqyf263 commented on #426
I've released v0.5.2. Would you try it? I apologize for the inconvenience.
https://github.com/aquasecurity/trivy/releases/tag/v0.5.2

[2020-03-06 13:09] webmutation commented on #426
I am running it against mostly openjdk:8-jre-alpine builds.
I will take a look if the new version solves it. thanks for the quick reply!

[2020-03-06 14:06] bgoareguer commented on #426
Ok, it works with v0.5.2. Thanks for the quick fix!

$ ./trivy ubuntu:18.04
2020-03-06T14:56:22.535+0100    INFO    Need to update DB
2020-03-06T14:56:22.535+0100    INFO    Downloading DB...
15.07 MiB / 15.07 MiB [-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

[2020-03-06 17:31] marefr commented on #426
Confirmed working. Thanks a lot for the quick response/fix.

[2020-03-06 17:36] knqyf263 commented on #426
Thank you all for reporting the issue and the quick confirmation!

[2020-03-06 18:48] zfLQ2qx2 commented on #417
Solution was to define DOCKER_API_VERSION=1.38 in the Travis environment. I don't recall where I found that solution but I'm glad I did.

[2020-03-06 18:48] #417 closed

[2020-03-07 10:12] TBK opened #430 "Alpine Linux s390x - make test segfault"
**Description**
I am working on packaging trivy for Alpine Linux and as part of the build process run the tests (make test). Unfortunately there is a segfault on s390x.

**Build log:**
[code]
Full log - https://gitlab.alpinelinux.org/TBK/aports/-/jobs/62487/raw

[2020-03-09 12:29] Jean-Mercier commented on #401
Same problem for us thanks

[2020-03-10 10:13] 2Fey commented on #423
Hi, we read about client/server mode, but in this case we need to add new server, in future may be we can do it.
But now, if we download db drom your link we can't share it between servers, because we don't know were db save on server filesystem. So can you write default filepath where db save on server filesystem?

[2020-03-11 00:31] mozillazg commented on #423
@2Fey The path is `${TRIVY_CACHE_DIR}/db/trivy.db` and you can get or set the value of `${TRIVY_CACHE_DIR}` via `--cache-dir`:

[code]

[2020-03-11 13:27] tillepille commented on #401
I run into this problem as well but on a private registry. unable to access to
[code]

[2020-03-11 19:08] fr33ky opened #432 "Authentication problem against private registry"
**Description**

We are using a docker registry that requires authentication (artifactory) for some repositories.
Using trivy 0.4.4, this works perfectly, setting environment variables (TRIVY_USERNAME, TRIVY_PASSWORD, TRIVY_AUTH_URL). TRIVY_PASSWORD is set to our personal token.
Since version 0.5.0 up to 0.5.2 this doesn't work anymore, complaining an authentication failure, even though I thought

[2020-03-12 08:38] knqyf263 commented on #432
@fr33ky Thank you for the report! I believed the issue was fixed at v0.5.1. Would you tell me more detail? Do you use Docker Hub?

[2020-03-13 12:46] 2Fey commented on #423
Thanks you, this is what we need!
`  before_script:
    - apk add --no-cache curl
    - export VERSION=$(curl -k -H "$CURL" --silent "https://api.github.com/repos/aquasecurity/trivy/releases/latest" | grep '"tag_name":' | sed -E 's/.*"v([^"]+)".*/\1/')
    - echo $VERSION
    - wget https://github.com/aquasecurity/trivy/releases/download/v${VERSION}/trivy_${VERSION}_Linux-64bit.tar.gz
    - tar zx

[2020-03-13 12:46] #423 closed

[2020-03-16 06:59] happylie opened #436 "Vulnerability Count in file storage"
I have a question.
Can't you save the count of vulnerabilities that are output on the screen when you save the file with the json type?
I also use the related data, but I would like to include the following contents first.

ex)
Total: 26 (UNKNOWN: 0, LOW: 3, MEDIUM: 16, HIGH: 5, CRITICAL: 2)

[2020-03-16 09:28] happylie commented on #436
It's not perfect, but it's simple to check through the jq command.
However, while implementing services internally, we will parse Json files to create council data.

If you can do it differently in the jq command, I would appreciate it if you let me know.
I don't handle jq Command well.

ex) Save a.json file
Total: 26 (UNKNOWN: 0, LOW: 3, MEDIUM: 16, HIGH: 5, CRITICAL: 2)

$ cat a.json | jq '.[0]'

[2020-03-16 09:55] knqyf263 commented on #436
You can use `jq` or any programming languages such as Python.

For example,
[code]

I'm not sure we would add the vulnerability count in JSON in the future, but a user can easily count it themself, so I feel it is not necessary for now.

[2020-03-16 12:58] jerbia opened #437 "Support scanning of files/folders/github repositories"
We would like Trivy to support vulnerability scanning for application formats that are not only container images. This includes scanning of standalone files, folders and even a complete github repository.

The idea is that a trivy scan can get any supported format as input parameter, issue a scan on it and show the scan results as it is today.

To support this we should modify the Trivy usage, as

[2020-03-16 14:17] knqyf263 commented on #101
This was fixed by https://github.com/aquasecurity/trivy/pull/398

[2020-03-16 14:17] #101 closed

[2020-03-16 20:19] nukdcbear opened #438 "trivy Failing To Scan Local Image In GitLab Ci"
**Description**

Running GitLab CI building Docker image to be pushed to Google Container Registry (GCR) but getting "Error reading manifest 8a44b38a in docker.io/library/presenter"

**What did you expect to happen?**

I expect Trivy to scan the image and present vulnerability report.

**What happened instead?**

Got "Error reading manifest 8a44b38a in docker.io/library/presenter"

**Output of run

[2020-03-17 02:32] happylie commented on #436
Thank you for answering.
I also develop Python and do not have any inconvenience in extracting the count.
However, there are cases where only Total and Severity level counts are needed simply.
I would appreciate it if you consider the function.

[2020-03-17 09:15] fr33ky commented on #432
Hi there, sorry for the delay.
We are using artifactory (jfrog) as docker registry.
I'll try to reproduce the problem and send you all relevant information.

[2020-03-17 11:56] fr33ky commented on #432
Because of the current problem I can't access my artifactory.
I tried to reproduce the problem using harbor demo site, and, unfortunately, it perfectly works as expected.

[2020-03-17 12:04] mrueg commented on #432
are you using https for artifactory? does a trustpath to the cert exist?

one thing you could try is upgrading the vendored containers/image to https://github.com/containers/image/releases/tag/v5.2.1

[2020-03-17 12:33] fr33ky commented on #432
We are using HTTPS, true, and a trustpath exists too.

[2020-03-18 08:21] happylie opened #440 "Trivy Server Mode Proxy Setting option support???"
I have a question.
when using private IP
Can you add the proxy setting option function for Update when driving Trivy Server Mode?

We are using it in addition to Linux preferences (env), but if it is possible to add it, it would be good to add it.

[2020-03-18 15:20] nukdcbear commented on #438
# Update

I have tested this with v0.4.4 and also v0.5.0 of Trivy.

- v0.4.4 - **Works fine** scanning the local Docker container image.

- v0.5.0 - Reports the **exact same error**.

[2020-03-20 06:14] mozillazg opened #441 "Show content of layer id for vulnerabilities"
What do you think about show content of layer id for vulnerabilities in json result, use this way to help user to fix vulnerabilities quickly instead of use third party to inspect content of layer id.

[2020-03-22 16:10] markosamuli commented on #438
I'm seeing this issue with v0.5.2 on Bitbucket Pipelines:

- Locally scanning images that have not been published to Docker Hub works.
- Scanning images locally on Bitbucket Pipelines doesn't work. I'm currently building these in the same step.
- I've tried the image with full Docker Hub repository name and with local image name only.

[2020-03-23 12:56] qdm12 commented on #8
I'm having the issue as well.

Ideally I would like to run Trivy for all my repositories, but some of the Docker images are Scratch based so Trivy returns a status code 1. It would be nice to have an option flag to return 0 if it's an unknown image.

Thanks!

[2020-03-23 18:07] remidinishanth opened #442 "Remove some vulnerabilities reported which are not useful"
When we scan centos:7 image with trivy( 0.5.2), it reports vulnerabilities

[code]

out of which the following CVEs are reported as won’t fix by RedHat

https://access.redhat.com/security/cve/cve-2014-9939
https://access.redhat.com/security/cve/cve-2019-9924
https://access.redhat.com/security/cve/cve-2017-13716
https://access.redhat.com/security/cve/cve-2017-14930
https://access.redhat.com/securit

[2020-03-23 18:09] knqyf263 commented on #442
You can use `--ignore-unfixed"
https://github.com/aquasecurity/trivy#ignore-unfixed-vulnerabilities

[2020-03-23 18:12] remidinishanth commented on #442
But do we miss any critical security vulnerabilities by using this option? If they are critical, they would be fixed, so this is a workaround?

[2020-03-23 23:55] #436 closed

[2020-03-24 03:20] gcmurphy opened #444 "apt repository lacks a Release file for Ubuntu"
Whilst following these [install instructions](https://github.com/aquasecurity/trivy#debianubuntu), I hit a snag on Ubuntu Eoan:

[code]

It looks like that URL is not valid location for packages? The README may need updating..

[2020-03-25 10:37] hemikak commented on #299
@knqyf263, Where is this cache directory ?

I am facing this issue. More like a blocker to me. I am running on travis.

[2020-03-25 12:09] knqyf263 commented on #299
First of all, if you can set `GITHUB_TOKEN`, you should do it.

The cache dir depends on the environment. You can check it with `--cache-dir` option.

[code]

[2020-03-25 15:44] Krenair commented on #401
I'm using Trivy 0.5.2 and see `error in image scan: failed analysis: analyze error: unable to analyze config: json marshal error: unexpected end of JSON input` when running e.g. `trivy quay.io/calico/typha:v3.8.1` - though unknown OS for `quay.io/prometheus/node-exporter:v0.18.1` and `quay.io/prometheus/prometheus:v2.15.2`

[2020-03-25 17:03] knqyf263 commented on #444
I added `eoan`. Would you try it again?

[2020-03-26 04:49] remidinishanth commented on #444
I also face same issue
[code]

[2020-03-26 04:51] remidinishanth commented on #444
I have followed these steps
[code]

[2020-03-26 04:53] remidinishanth commented on #444
CODE_NAME is `bionic`

[2020-03-26 10:12] knqyf263 commented on #444
@remidinishanth I'm sorry I made a mistake during adding the latest versions. Would you try it again? Also, the cache may cause something bad, so it is better to clean the environment if possible.

[2020-03-27 00:34] kangaechu commented on #444
@knqyf263 It still have same problem in other Debian releases.

[code]

[2020-03-27 05:45] 2ffs2nns opened #446 "rename releases to support GOOS returned values ie darwin, linux"
I'd love to use some automation to download a given release `.tar.gz` file, and base it on the calling clients operating system. I use a golang client and would want/expect the filename to match one of the supported values. https://golang.org/doc/install/source#environment

```Choices for $GOOS are android, darwin (macOS 10.11 and above and iOS), dragonfly, freebsd, illumos, js, linux, netbsd, ope

[2020-03-27 08:45] yed30 opened #447 "Debian:9 Install fails: Unable to locate package trivy"
**Description**
Hello,
my pipelines failed since yesterday (this was working for months) with the following message:

---> Running in 57651cf46163
Get:1 http://security.debian.org/debian-security stretch/updates InRelease [94.3 kB]
Ign:2 http://deb.debian.org/debian stretch InRelease
Get:3 http://deb.debian.org/debian stretch-updates InRelease [91.0 kB]
Get:4 http://security.debian.org/debian-secu

[2020-03-27 09:07] yed30 commented on #447
As a workaround I change the install with:
[code]

[2020-03-27 09:23] yed30 commented on #447
As a workaround, I change the install with:
[code]

[2020-03-27 10:48] knqyf263 commented on #447
It should work now. Would you try it again?

[2020-03-27 10:52] knqyf263 commented on #444
@kangaechu Thanks! I couldn't fix debian, but ubuntu... It should work now. Would you try it again?

[2020-03-27 11:16] yed30 commented on #447
Yes it does work !
Thank you very much for the support and the great work.

[2020-03-27 11:16] #447 closed

[2020-03-27 13:18] knqyf263 commented on #447
Thank you for the confirmation. I'm sorry for the inconvenience.

[2020-03-27 17:32] strowi opened #448 "server database refresh?"
Hi,

the readme states:
[code]

Does this mean running "trivy server" will regularly update the database by itself?

thx + regards,
strowi

[2020-03-28 21:56] strowi opened #449 "show TRIVY_SEVERITY and higher in output"
Hi,

i'm currently testing trivy in combination with gitlab. But to be fully compatible/able to replace clair (without too much modifications) it should be able to report the specified severity and higher.

Wondering if there is a use-case where one would want only LOW but not CRITICAL?

E.g.:
- `TRIVY_SEVERITY=HIGH` should display HIGH,CRITICAL
- `TRIVY_SEVERITY=LOW` should display HIGH,MEDIUM,HI

[2020-03-29 10:49] knqyf263 commented on #444
Let me close this issue since #447 is already confirmed to fix. If you still have any problem, feel free to open this issue.

[2020-03-29 10:49] #444 closed

[2020-03-30 06:56] #440 closed

[2020-03-30 07:57] hemikak commented on #299
I moved running my security scans from travis to github actions because jobs in github actions are already equipped with a github token. Refer https://help.github.com/en/actions/configuring-and-managing-workflows/authenticating-with-the-github_token

Example:
[code]

[2020-03-30 10:57] gowthamsundar opened #450 "Amazon Linux OS support"
Hi,

Recently tried out Trivy on an image from AWS ECR and got the following error? Does Trivy support Amazon Linux os?

FROM amazonlinux:2017.09

But, while trying to pull the image locally, it is able to provide results. What could be the reason for the error when scanning the image pulled from ECR. Please help.

Thanks

[2020-03-30 12:03] strowi commented on #93
I would very much like the feature, since all our other ci-tests already support junit.

[2020-03-30 19:42] gvwirth commented on #282
Hello,

This issue appears to be present in 0.5.3, unless I'm misinterpreting something.

[code]
root@217c9ea6300c:/usr/src/app# bundle show rake
/var/lib/gems/2.5.0/gems/rake-13.0.1

root@217c9ea6300c:/usr/src/app# gem list | grep rake
rake (13.0.1)

gwirth@Garets-MacBook-Pro elements % trivy -v
Version: 0.5.3
Vulnerability DB:
  Type:
  Version: 1
  UpdatedAt: 2020-03-30 12:08:43.123780205 +0000

[2020-03-31 14:56] #288 closed

[2020-04-06 12:10] knqyf263 opened #453 "Support docker registry token"
Pass Docker Registry v2 Bearer token via `TRIVY_REGISTRY_TOKEN`.
https://docs.docker.com/registry/spec/auth/jwt/

[2020-04-06 12:15] knqyf263 commented on #450
Which version of trivy do you use? After v0.1.7, Trivy supports Amazon Linux. It might be an authentication problem. Would you make sure you log in ECR?

[2020-04-06 12:20] knqyf263 commented on #442
@remidinishanth Yes, if the vulnerability is critical and not fixed, `--ignore-severity` makes you miss such vulnerability, but the critical vulnerability is usually supposed to be fixed. Or, you can combine two outputs. `trivy --severity CRITICAL -f json -o result1.json` and `trivy --ignore-unfixed -f json -o result2.json`.
This is not perfect, but you can use it as a workaround.

[2020-04-07 07:37] gowthamsundar commented on #450
Yes, installed using rpm with the old version. Thanks for help.

[2020-04-07 07:37] #450 closed

[2020-04-08 00:54] brphelps commented on #438
@nukdcbear  / @markosamuli  -- Are you guys targeting 0.4.4 still to do local scans? Would you mind sharing syntax for the apt-get commands, I need to do the same thing in a dockerfile.

[2020-04-08 02:15] nukdcbear commented on #438
@brphelps Here is the code I used in my dockerfile:

[2020-04-08 06:48] markosamuli commented on #438
@brphelps I stayed on the latest version but instead of scanning the images directly, I'm exporting them to a file and scanning that instead.

https://github.com/aquasecurity/trivy/blob/master/README.md#scan-an-image-file

[2020-04-09 00:14] simar7 commented on #449
Hi @strowi you could use the `--severity` flag to specify your level.

`trivy --severity=LOW` to show only `LOW` severity vulnerabilities.

Alternatively like you mentioned, you could use `TRIVY_SEVERITY` to do the same as an environment variable.

Is there a use case that you have for which the current implementation doesn't suffice?

[2020-04-09 00:16] simar7 commented on #446
Thanks for reporting this in @2ffs2nns. We'll have a look into it.

cc @knqyf263

[2020-04-09 00:18] simar7 commented on #441
Hi @mozillazg, thanks for the suggestion. Could you describe this improvement with an example?

[2020-04-09 00:23] simar7 commented on #430
Hi @TBK, thank you for reporting this. Sorry that you had to run into this. Could you describe what commit/revision of Trivy you were working with at the moment when you saw this panic? And to clarify, this is running on a s390x that's running Linux? What Linux distro/kernel is that?

[2020-04-09 00:35] simar7 commented on #448
Hi @strowi, yes that's correct you can see the code here https://github.com/aquasecurity/trivy/blob/18b80e3781a8c8d1f4365071a3d0866e3ec5e81d/pkg/rpc/server/listen.go#L50-L59

[2020-04-09 00:38] simar7 commented on #411
Hi @the-maldridge do you still need help with this one or can we close this out? Let us know if you need a hand!

[2020-04-09 04:10] the-maldridge commented on #411
I think this can be closed out.  For posterity though, can you confirm that in client/server mode that the server only serves the databases, but the scans are still parallelized across as many clients as connect?  This is what I believe I have observed practically, but I want to be sure my understanding is correct.

[2020-04-09 06:46] strowi commented on #449
@simar7 thx for checking on this.

We've been using the gitlab/clair template with some modifications just needing:
[code]

which would map to clair `HIGH,CRITICAL` but with trivy only 'HIGH'.
With trivy we would need to fix that in every job that switches from clair to trivy (or back).

With my experience in security tools, i am just used to specifying a minimum level that would show all higher r

[2020-04-09 06:54] strowi commented on #448
thx @simar7 , i guess i somehow stumbled into #452 which has been fixed in 0.5.4;)

[2020-04-09 06:54] #448 closed

[2020-04-09 08:29] strowi opened #454 "Update / simplify gitlab-ci example"
Hi,

since trivy doesn't need a docker deamon iteself, the gitlab-ci example can be simplified (and by removing the dind-part) and adjusted more to the default container-scanning template from gitlab.

I can open a MR if desired.

regards,
strowi

[2020-04-09 10:28] knqyf263 commented on #401
I'm sorry for the late reply, but they seem to use v1 schema. They return v1 schema even when we specify v2 schema in `Accept` header.

[code]

Trivy doesn't support v1 schema. I'm sorry for the confusing error message. At the next version, it shows
an easier error. Anyway, if you want to scan an image supporting only v1 schema, you have to pull the image at first.

[2020-04-09 10:53] daxin09pp opened #455 "Can I use Trivy docker image to do CI in Windows?"
We used docker build image in the Windows environment. Image is based on Linux. We use Gitlab to do CI process. In this case, can I integrate Trivy docker image into our CI process? Can I use Trivy docker image to do CI in Windows?
Thanks!

[2020-04-09 12:38] jnsgruk commented on #92
Would also love to see this, have written a hacky workaround in the mean time which works pretty well in a CI pipeline :) https://github.com/jnsgruk/trivy-cvss-tools

[2020-04-09 14:03] mozillazg commented on #441
@simar7 For example:

[code]

or

[code]

[2020-04-09 22:32] dominikbraun opened #457 "CircleCI: Change `docker login` command"
I've just noticed this step in the trivy CI:

https://github.com/aquasecurity/trivy/blob/e5ff5ec89542bda37b744f4cbc24bc267e72fccd/.circleci/config.yml#L45-L47

However, the official Docker documentation recommands to pipe the password through STDIN and use the `--password-stdin` instead for security reasons:

Source: [Provide a password using STDIN](https://docs.docker.com/engine/reference/command

[2020-04-12 09:25] kapilt opened #459 "support ubuntu 20.04"
at the moment running trivy on 20.04 docker based image results in

[code]

[2020-04-12 09:27] kapilt commented on #459
looks like upstream the vulns are part of the same source material re https://people.canonical.com/~ubuntu-security/cve and launchpad project.

[2020-04-12 09:57] Alexc0007 commented on #44
Hi, did anyone test this?
i just tried to scan amazon linux2 with trivy and it didnt work for me,
got this message:
WARN	unsupported os : amazon

[2020-04-13 08:33] #457 closed

[2020-04-13 09:45] Alexc0007 opened #461 "amazonlinux2 not supported?"
**Description**
according to this issue: https://github.com/aquasecurity/trivy/issues/44
amazonlinux2 should be supported to scan by trivy.

however, when i tried to scan such image, i was unable and got the following error:
WARN unsupported os : amazon

**What did you expect to happen?**
i expect to have the ability to scan amazonlinux2 based images

**What happened instead?**
trivy didnt scan

*

[2020-04-13 13:59] mrueg commented on #461
Your version of trivy is probably too old, you should try with a newer binary.

[2020-04-13 14:29] HarshaVardhanJ opened #462 "Failed to scan image : Failed to analyse OS packages"
**Description**

**What did you expect to happen?**
I expected a list of vulnerabilities(or none) displayed.

**What happened instead?**

I received the following error message

[code]

**Output of run with `-debug`:**

[code]

**Output of `trivy -v`:**

[code]

EDIT :
I thought that updating to the latest version might solve the issue, but it hasn't. I had updated Trivy via Homebrew. Given below

[2020-04-14 04:34] Alexc0007 commented on #461
Hi, you are correct...
i used the documentation to install it...

then after checking further i noticed that the documentation is waaaay to old...
i suggest updating all the installation steps to make the relevant to the reality...
(also information on the yam repo is incorrect)
would be nice if things would work the way documentation says they will....

[2020-04-15 10:07] Alexc0007 commented on #461
ill close this issue then.
but the docs should really be updated, it creates lots of confusion...

[2020-04-15 10:07] #461 closed

[2020-04-16 14:28] jeff-cook commented on #93
I'm working on a template for junit.xml format. First time working with Go and Go templates. The gitlab.tpl is very helpful.

Any recommendation how to print an item and remove all double quotes?

[2020-04-17 15:42] lizrice opened #465 "Support OCI format images"
We could support both distribution format and the runtime bundle format (so that we can scan unpacked image bundles on a host)

[2020-04-17 15:42] HarshaVardhanJ commented on #462
I seem to have figured out what the issue was. In order to reduce the final size of the images further, I was deleting the folder `/lib/apk/db` as the final step in my Dockerfile. This also got rid of the file `/lib/apk/db/installed` which, I'm guessing, is required by Trivy in order to check which packages are installed(which seems a little obvious now). Once I left that file(`/lib/apk/db/install

[2020-04-17 15:42] #462 closed

[2020-04-17 15:46] lizrice opened #466 "Scan local filesystem"
Trivy could scan the packages on the local (host) filesystem. This would enable both host scanning, and microscanner-style scanning from within a Dockerfile as part of the build

[2020-04-17 15:50] lizrice commented on #92
Full database should include CVSS v2 and v3, vectors & scores, from NVD and from appropriate vendor

[2020-04-18 19:30] gknepper commented on #301
According to google the symbols stands for:

| Symbol  |  Meaning  | Assumed Value  |
|---|---|---|
| ◎ | Bullseye  | Best  |
| △ | Cool  |  Good |
| ◯  | OK   |  OK |
| ×  | None/Null | Not present  |

| Scanner        | OS<br>Packages | Application<br>Dependencies | Easy to use | Accuracy | Suitable<br>for CI |
| -------------- | :------------: | :-------------------------: | :---------: | :----

[2020-04-20 09:21] knqyf263 commented on #301
Thanks. I'll update it.

[2020-04-20 10:24] knqyf263 commented on #92
@simar7 Would you work on it?

[2020-04-20 10:25] knqyf263 commented on #462
I'm sorry for the late reply. You're right. Trivy requires `/var/lib/apk/db/installed` to list installed packages. If you remove it, Trivy doesn't detect vulnerabilities.

[2020-04-20 10:30] knqyf263 commented on #93
@jeff-cook It's really helpful! I'm not sure exactly what you need, but the function might be useful.
https://golang.org/pkg/text/template/#example_Template_func

[2020-04-20 10:41] #459 closed

[2020-04-20 11:21] knqyf263 commented on #455
You cannot run the trivy binary directly in the Windows environment, but you can run the docker image even in Windows.

[2020-04-20 11:22] knqyf263 commented on #454
@tnir I'm sorry to bother you, but what do you think about this suggestion?

[2020-04-20 11:27] knqyf263 commented on #438
@nukdcbear Thank you for reporting the issue. I'm sorry for the late reply. Does it still happen with v0.6.0?

[2020-04-20 11:37] knqyf263 commented on #432
@fr33ky Are you still under the issue? If so, reopen this issue and share the detail, please.

[2020-04-20 11:37] #432 closed

[2020-04-20 11:50] knqyf263 commented on #61
After v0.6.0, trivy negotiates Docker API version automatically. You don't have to specify `DOCKER_API_VERSION` now. Also, trivy doesn't support [Image Manifest V 2, Schema 1](https://docs.docker.com/registry/spec/manifest-v2-1/). v0.6.0 is supposed to display a more understandable message. Please try it out and open an issue if you have still any problem.

[2020-04-20 11:50] #61 closed

[2020-04-20 11:55] knqyf263 commented on #401
Would you try v0.6.0? If it says `unsupported MediaType: "application/vnd.docker.distribution.manifest.v1+prettyjws"`, we don't support it.

[2020-04-20 12:23] lizrice commented on #437
A different usage suggestion:

* `trivy <image name>` - scans image, as today
* `trivy` - (with no subcommands / parameters) scans local filesystem, like microscanner
* `trivy repo <URL>` - scans git repo from URL. I'm less sure about this one. Open to discussion on whether this should be a subcommand or a flag. TBD how this would work with authentication required to access a private repo.

[2020-04-20 16:55] Krenair commented on #401
yeah, v1 for that calico container:
[code]
[code]
[code]

[2020-04-20 17:00] Krenair commented on #401
On the other hand if I pull first, then it gives unknown OS too, okay:
[code]

[2020-04-20 20:44] simar7 commented on #411
That's correct. Let us know if there's anything else we can help with! I'll be closing this issue now.

[2020-04-20 20:44] #411 closed

[2020-04-21 03:53] daxin09pp commented on #455
Yes,I have successfully integrated it into my CI flow

[2020-04-21 03:54] #455 closed

[2020-04-21 07:12] rcomanne commented on #355
Is there any status update on this issue?
I would love for this to work.

[2020-04-21 08:23] Alphasite commented on #371
What about if you include the go.mod file in the image? Similar to how pipe file or poetry lock work?

[2020-04-21 09:28] mrueg commented on #371
With go modules in place, you probably don't need that. I've built a small tool that extracts used modules from a go binary. https://github.com/mrueg/go-deconstruct

[2020-04-21 17:58] sarbajitdutta opened #471 "Setting up repo for RHEL/CentOS gives 404 error"
**Description**
While setting up repo in CentOS gives 404 error for the baseurl according to the README file.
https://github.com/aquasecurity/trivy#rhelcentos

![image](https://user-images.githubusercontent.com/16959056/79897552-e61ba480-83d7-11ea-9460-213f6d5c9d3d.png)

**What did you expect to happen?**
The url would be accepted.

**What happened instead?**
The baseUrl gives 404 error.

This is

[2020-04-21 18:00] simar7 commented on #449
Hi @strowi, I understand now what you're trying to do. I realize you would like to re-use the same template for both Trivy and Clair with the same `SEVERITY` level. But if we change the behaviour of the current `SEVERITY` flag it would be a backwards breaking change.

Another way for us would be to introduce another flag but it would still require you to keep two separate templates for Clair and T

[2020-04-22 08:11] knqyf263 commented on #471
@simar7 Would you do research on this? First of all, you try setting up Trivy in CentOS, following README. If you can reproduce the issue, I'd like you to look into it.

This is a repository keeping rpm packages, so it might be relevant.
https://github.com/aquasecurity/trivy-repo/

[2020-04-22 08:14] knqyf263 commented on #371
Do you know a data source to detect vulnerabilities of Go?

[2020-04-22 08:38] Alphasite commented on #371
I think there are a couple here: https://github.com/guardrailsio/awesome-golang-security#vulnerabilities-and-security-advisories

[2020-04-22 08:41] knqyf263 commented on #449
Can't you run `sed 's/High/HIGH,CRITICAL/g'`? Is it difficult in your case?

[2020-04-22 09:00] strowi commented on #449
@simar7 okay understood. It was just a feature suggestion. I saw the example gitlab-template and thought it would be nice if it were a drop-in replacement.
Thx for looking into it.
For our use-case in gitlab-ci i can add a sed/other small script into the template like @knqyf263 mentioned:

[code]

this can be closed then.;)

[2020-04-22 09:00] #449 closed

[2020-04-22 09:15] knqyf263 commented on #401
@Krenair Thank you for the confirmation. Yes, calico uses v1 schema which is not supported. Then, `quay.io/prometheus/node-exporter` is based on busybox which is also not supported.

We don't have a plan to support v1 schema. If you want to scan an image with v1 schema, you can do it after pulling the image by docker.

As for busybox, we can't detect vulnerabilities of os packages at the moment be

[2020-04-22 09:15] #401 closed

[2020-04-22 09:15] mrueg commented on #371
The only one I am aware of is https://github.com/aquasecurity/trivy/issues/400

[2020-04-22 09:20] knqyf263 commented on #371
Does it include vulnerabilities of Go itself? I found the vulnerabilities of some Go packages like etcd and prometheus.

[2020-04-22 09:22] knqyf263 commented on #449
Thank you for the useful feedback. We may add `HIGH-` or another option like `--severity-min` in the future if many people hope it.

[2020-04-22 09:30] mrueg commented on #371
Unfortunately not, I'm sure that go is tracked in other CVE sources so trivy could invent a "virtual" go package that is installed per binary.

[2020-04-22 10:27] knqyf263 commented on #315
Duplicated https://github.com/aquasecurity/trivy/issues/288

[2020-04-22 10:27] #315 closed

[2020-04-22 12:47] knqyf263 commented on #446
Fair enough. You mean trivy_0.6.0_darwin_64bit.tar.gz instead of trivy_0.6.0_macOS-64bit.tar.gz, right?

[2020-04-22 16:22] Alphasite commented on #371
There are a couple here: https://github.com/guardrailsio/awesome-golang-security#vulnerabilities-and-security-advisories

[2020-04-23 05:26] mattlorimor commented on #92
I'm not sure if this is the correct place to make this request or whether it should be a separate issue, but it looks like it's pretty closely related and could be added or discussed while this is worked on.

It would be nice if the JSON output contained the vendor score, the CVSSv3 score/vector (if available), and the CVSSv2 score/vector (if available).

I'm bringing this up simply to make some d

[2020-04-23 06:29] mattlorimor commented on #397
Since BusyBox doesn't have any way to install system packages, the most I would expect Trivy to do at this point would be to pull the BusyBox version using something like this;

[code]

Then compare the version against known CVEs for that BusyBox version. I am not quite sure where the vuln feed would come from, though. There have certainly been [CVEs for BusyBox in the past](https://nvd.nist.gov/v

[2020-04-23 13:04] achton opened #472 "Empty dependency files make Trivy fail"
**Description**

When trivy comes across a application dependency file which is empty, it will fail (in this case `composer.lock`).

**What did you expect to happen?**

For Trivy to ignore the file and maybe issue a warning.

**What happened instead?**

Trivy failed with a FATAL error.

**Output of run with `-debug`:**

[code]

**Output of `trivy -v`:**

[code]

**Additional details (base image na

[2020-04-23 15:49] nukdcbear commented on #438
@knqyf263 This appears to be fixed in v0.6.0. Closing this issue.

[2020-04-23 15:49] #438 closed

[2020-04-23 17:43] mattlorimor commented on #397
The NVD database should technically have this data to compare against in the CPE fields, but I'm not sure what capability the current Trivy code has to compare against that in this way.

https://github.com/aquasecurity/vuln-list/blob/9fe1471a12139e35fb0b63cfe7cd5a82873f0db3/nvd/2019/CVE-2019-5747.json#L8

[2020-04-23 21:03] simar7 commented on #397
Thanks for digging into this @mattlorimor, we're currently investigating this as well. Your feedback is helpful!

[2020-04-24 00:03] mattlorimor opened #474 "Detection of unfixed vulnerabilities and missing CVEs"
I'm looking for some clarification around this section of the README: https://github.com/aquasecurity/trivy#os-packages. I'm copying the current version of the table I'm questioning for posterity.

That table combined with this text:

Would indicate to me that whether or not Trivy can detect an OS package vulnerability is dependent on _when_ the vuln feed used for each OS reports them as issues. (

[2020-04-24 00:14] mattlorimor commented on #474
Or, to ask it super briefly, when Trivy _can_ report on unfixed vulnerabilities, what is allowing it to so so? Vuln feed for OS A is "better" than vuln feed for OS B? Direct version comparisons against the NVD database? Something else?

[2020-04-24 09:43] knqyf263 commented on #438
@nukdcbear Thank you for the quick confirmation.

[2020-04-24 17:16] Krenair commented on #401
Thanks!

[2020-04-27 09:10] TBK commented on #430
Sorry, forgot to include the version info. It was v0.5.2.

It is our (Alpine Linux's) CI environment. It is running on Alpine Linux edge, kernel version 5.4.35.

I just tested locally using qemu-static and the issue still persists with v0.6.0.

[2020-04-27 13:16] #310 closed

[2020-04-27 13:20] knqyf263 commented on #311
The cache size was improved via https://github.com/aquasecurity/trivy/pull/398, so it is unnecessary now.

[2020-04-27 13:20] #311 closed

[2020-04-27 13:26] knqyf263 commented on #416
@pierrchen Would you try scanning Ubuntu 19.10? If it doesn't work, feel free to reopen this issue, please.

[2020-04-27 13:26] #416 closed

[2020-04-27 17:07] remidinishanth opened #477 "Get installed packages"
How does trivy get the list of packages installed in the docker image? Does it run the image and then get them? Or does it cache the base image installed packages and use them?

[2020-04-27 19:55] jgnagy commented on #108
I can confirm this issue still exists as well:

[code]

Those installed gem versions shouldn't trip Trivy up.

[code]

[2020-04-27 22:40] simar7 commented on #430
Thanks @TBK for the input. We'll take a look at it soon.

[2020-04-28 05:39] tnir commented on #454
@strowi Sorry for delayed response. Thanks for your suggestion. Your improvement would be very welcome 😄

@knqyf263 Thanks for mentioning me 🙇

[2020-04-28 07:27] strowi opened #478 "Registry Authentication problem"
**Description**

During work on #454 I encountered a small problem. Not sure though if this is wanted behaviour:

When credentials and url are supplied (TRIVY_USERNAME/PASSWORD/AUTH_URL), trivy tries to  authenticate with those credentials no matter where the image comes from.

**What did you expect to happen?**
Registry Credentials should only be used for the respective registry.

**What happened

[2020-04-28 07:29] strowi commented on #454
@tnir no problem.. just had some free time during lockdown.;) Pls. see the MR.
The Authentication Issue doesn't really relate to the gitlab-ci template, but we pull in a couple of external images the we would also like to scan.

[2020-04-28 19:08] bsushant-athena opened #480 "How to scan locally downloaded docker image?"
I've some enterprise docker images downloaded locally in my mac and I want to scan them using trivy.
I tried without setting any config and I get this

[code]
please suggest.

[2020-04-28 20:34] 2ffs2nns commented on #446
@knqyf263 yup, exactly `trivy_0.6.0_darwin_64bit.tar.gz` is what I'm looking for

[2020-04-29 03:25] scalp42 commented on #480
@bsushant-athena try removing `trivy docker.artifactory.aws.*****com/` it should work

[2020-04-29 05:29] bsushant-athena commented on #480
I tried that but then I get this error

[code]

[2020-04-29 17:18] simar7 commented on #453
Should this be closed now since https://github.com/aquasecurity/fanal/pull/102 is merged?

[2020-04-29 17:24] simar7 commented on #477
It looks at certain important files that hold such details. For example, in the case of alpine the list of installed packages is available in `lib/apk/db/installed`

Does that answer your question?

[2020-04-29 18:03] simar7 commented on #471
I just tried to reproduce this locally but wasn't able to. Here's a log of what I did:

[code]

Could you add some more detail @sarbajitdutta as to what steps you took?

[2020-04-29 19:50] NISHANTH2066 commented on #477
It looks at os package manager files for finding versions, but does it run the conyaiber and get those? Or does it untar the file system and get the file information ?

[2020-04-29 23:33] scalp42 commented on #480
Can you show the output of `docker images ****-base-centos7:0.0.7`?

[2020-04-30 08:32] knqyf263 commented on #453
We need to merge this PR.
https://github.com/aquasecurity/trivy/pull/475​​​​​​​

[2020-04-30 09:47] knqyf263 opened #481 "Detect vulnerabilities of the main software in the image"
Currently, Trivy detects vulnerabilities of packages installed by package manager such as `yum` and `apt-get`. But the main software in the image is usually installed by `make install`.

For example, `redis` binary in `redis:5.0` is installed by `make install`.
https://github.com/docker-library/redis/blob/d3a0f3d95ac768db44dbcb87ecf88cfc436581d5/5.0/Dockerfile#L64

Apach HTTP Server in `httpd:2.4`

[2020-04-30 09:48] #8 closed

[2020-04-30 09:48] #355 closed

[2020-04-30 09:48] #397 closed

[2020-04-30 10:42] knqyf263 commented on #355
I've implemented that Trivy handled images minified with DockerSlim gracefully. Note that it means Trivy can detect vulnerabilities of libraries used by a programming language, but can't detect vulnerabilities of OS packages in the image. Trivy uses a status file like `/lib/apk/db/installed` and `/var/lib/dpkg/status`. If they don't exist in the image, Trivy can't know the versions of installed pa

[2020-04-30 10:44] knqyf263 commented on #397
Now, Trivy can handle a busybox image gracefully, but it doesn't mean Trivy can detect vulnerabilities of busybox itself. Someone who needs it can watch this issue.
https://github.com/aquasecurity/trivy/issues/481

[2020-04-30 12:28] knqyf263 commented on #453
We have to merge https://github.com/aquasecurity/trivy/pull/482.

[2020-04-30 13:12] #328 closed

[2020-04-30 13:15] knqyf263 commented on #322
Now, we're using google/go-containerregistry.

[2020-04-30 13:15] #322 closed

[2020-04-30 13:16] knqyf263 commented on #314
Closed by https://github.com/aquasecurity/trivy/pull/398

[2020-04-30 13:16] #314 closed

[2020-04-30 13:17] knqyf263 commented on #313
Closed by https://github.com/aquasecurity/trivy/pull/398

[2020-04-30 13:17] knqyf263 commented on #312
Closed by https://github.com/aquasecurity/trivy/pull/398

[2020-04-30 13:17] #312 closed

[2020-04-30 13:19] knqyf263 commented on #260
Closed by https://github.com/aquasecurity/trivy/pull/398

[2020-04-30 13:19] #260 closed

[2020-04-30 13:26] knqyf263 commented on #144
The time has come to work on this issue. You can track it on this issue.
https://github.com/aquasecurity/trivy/issues/466

Let me close this issue.

[2020-04-30 13:26] #144 closed

[2020-04-30 14:15] #313 closed

[2020-04-30 20:30] sarbajitdutta commented on #471
We are trying to install trivy in `Red Hat Enterprise Linux Server release 7.8 (Maipo)`.
We have Jenkins installed there and we are trying to setup trivy to appear part of Jenkins shell when creating pipelines. Following the instruction in Readme gives us 404 error on the rpm repo.

[2020-05-02 18:11] bsushant-athena commented on #480
when I try without registry in the image name I get empty response
but with registry I get below response(this image is saved locally):
[code]

[2020-05-03 07:33] knqyf263 commented on #480
Which version of trivy do you use? Also, would you share the output with `--debug`? If possible, would you provide Dockerfile, removing sensitive information?

[2020-05-03 08:06] pierrchen commented on #416
Hi @knqyf263 @masahiro331

I can confirm the scanning of ubuntu 19.10 works. And so does on 20.04.

Thank you!

[2020-05-03 08:24] knqyf263 commented on #477
The latter. Trivy doesn't run a container.

[2020-05-03 08:30] #465 closed

[2020-05-03 08:49] knqyf263 commented on #474
Right.

The RHEL/CentOS feed publishes notices even before they don't provide the patch yet. For example, CVE-2020-11884 affects RHEL8, but they are still working on the patch as of May 3.
https://access.redhat.com/security/cve/cve-2020-11884

![image](https://user-images.githubusercontent.com/2253692/80909719-1990f400-8d33-11ea-9868-fddc7620748a.png)

After providing the patch, the status is goin

[2020-05-03 08:51] knqyf263 commented on #446
I see, but we have to be careful because the change fails a download with current name and affects a lot of users.

[2020-05-03 08:56] knqyf263 commented on #478
Thank you for filing the issue. You mean trivy tries to use the credential for your private registry even if you want to scan an image in DockerHub, right?

[2020-05-03 11:59] bsushant-athena commented on #480
trivy version 0.3.0
which command with --debug? what would be the command ?
Sorry , I can not share the Dockerfile

[2020-05-03 12:32] knqyf263 commented on #480
Would you try v0.6.0? `trivy --debug [YOUR_IMAGE]`

[2020-05-03 12:33] strowi commented on #478
Yes, no matter what registry i specify, it always tries to auth against it. Not sure though, if the docker-hub is a special case, since images usually come without a specified registry-domain.

Sorry forgot to add the rest of the example:

[code]

vs.

[code]

[2020-05-03 16:42] bsushant-athena commented on #480
I upgraded trivy to 0.6.0

[code]

[code]

[2020-05-05 01:23] simar7 commented on #430
Hi @TBK thanks for the wait. I've indeed confirmed this is an issue and found why it happens. Turns out BoltDB databases are architecture dependent and not portable. In other words, you cannot take a database file built on an x86 machine (little endian) and use it in a s390x machine (big endian). All our Trivy DB's are built on a x86 CI.

You can find more info here https://github.com/boltdb/bolt/

[2020-05-06 10:44] bendanye opened #486 "Offline DB"
Is there a way to download the DB beforehand into a file and pass it as argument when running?

[2020-05-06 14:54] mozillazg commented on #486
What about https://github.com/aquasecurity/trivy/issues/423 ?

[2020-05-06 14:56] mresetar commented on #211
I see the same behaviour:

[code]

Executing:

[code]
I see that there might be a work around for this as described [here](https://github.com/etcd-io/bbolt/issues/144#issuecomment-609540186).

My environment:

 - Ubuntu 18.04.2 LTS
 - Windows 10 Version 1909 (OS Build 18363.815)

Installation procedure in WSL:

[code]
Commands run:

 - trivy (works)
 - trivy alpine (breaks)

[2020-05-06 20:51] mattlorimor commented on #474
Thanks for the clarification and confirming my understanding around the tool.

https://gitlab.alpinelinux.org/alpine/aports/-/blob/master/main/patch/CVE-2019-13638.patch

The version of `patch` scanned was `2.7.6-r6`.

The link you provided seems to be a fix for:
* CVE-2019-13638.

The vulnerabilities found in `patch` `2.7.6-r6` were:
* CVE-2018-20969
* CVE-2019-20633

Ah... I see that CVE-2018-20

[2020-05-06 20:51] #474 closed

[2020-05-07 03:05] BretFisher opened #488 "Warn after OS detection about if unfixed CVE's are included"
TL;DR: Issue a warning on any scan of OS that lacks unfixed CVE detection to include a message in the results about its lack of that info. For example, the default behavior leads a user to believe that Alpine has zero CVE's in it, while a Debian base image has many.

## Feature idea:

Add a new INFO line to output after Alpine is detected:

[code]

## Backstory:

Trivy is great, and I often sugges

[2020-05-07 10:18] bendanye commented on #486
I follow the solution but each time i run it with --skip-update will have error saying "The first run cannot skip downloading DB".

[2020-05-08 02:24] yashvardhan-kukreja commented on #346
Hi @knqyf263 , I am new to open source dev and have some experience with golang. So, can I hop on to the PR for this issue considering the "good first issue" label?

[2020-05-08 03:59] simar7 opened #489 "DRY up duplicated code"
Currently there are some places in Trivy which can be [DRY](https://en.wikipedia.org/wiki/Don%27t_repeat_yourself)-ed up for code duplication. This issue documents some of them.

- client, server and standalone code currently share structs and parsing logic that can be dried up. A few examples: https://github.com/aquasecurity/trivy/blob/18b80e3781a8c8d1f4365071a3d0866e3ec5e81d/internal/client/conf

[2020-05-10 06:55] yashvardhan-kukreja commented on #488
Hi @BretFisher. So, would you think that it to be a nice optipn for, say, alpine-based images, trivy more explicitly conveyed the user that the result, due to unfixed CVEs, is causing the scan to return results same as the one with "--ignore-unfixed" ?

[2020-05-10 07:05] yashvardhan-kukreja commented on #488
@knqyf623 , can I work on this issue?

[2020-05-10 07:06] yashvardhan-kukreja commented on #488
@knqyf263 , can I work on this issue?

[2020-05-10 07:47] knqyf263 commented on #346
Hi @yashvardhan-kukreja, thank you for your interest! Yes, it would be helpful. As a first step, we can just return the database information such as `Last DB Update` as he mentioned.

Here is the server mux.
https://github.com/aquasecurity/trivy/blob/master/pkg/rpc/server/listen.go#L61-L79

You can get the database metadata like the following.
https://github.com/aquasecurity/trivy/blob/master/inte

[2020-05-10 08:49] knqyf263 commented on #488
@BretFisher Thank you for the suggestion. Yeah, fair enough. At the same time, I'm thinking if `--ignore-unfixed` should be the default. I mean we'll add `--show-unfixed` or something like that.
https://github.com/aquasecurity/trivy/issues/323

@yashvardhan-kukreja Thank you for the offer! But, let me discuss the options with my team.

@simar7 @lizrice What do you think? It breaks the backward com

[2020-05-10 09:13] knqyf263 commented on #474
Right. I think Alpine maintainers just forgot to add CVE-2018-20969 to APKBUILD.
https://gitlab.alpinelinux.org/alpine/aports/-/blob/master/main/patch/APKBUILD#L27-29

So, it looks like CVE-2018-20969 is false positive.

Yes, CVE-2019-20633 looks unfixed and low severity, so Red Hat doesn't fix it as well as Alpine.
https://access.redhat.com/security/cve/cve-2019-20633

[2020-05-11 02:39] BretFisher commented on #488
Thanks for considering my thoughts. Regardless of the functionality
changes, I'm mostly asking for improved documentation in the CLI scans, so
that unaware people (on either side of show-unfixed) will see info that
they maybe want to investigate further for a better understanding. If a
scan is unable to show all potential CVE's due to various limitations or is
hiding a subset of them (whether by o

[2020-05-11 15:45] lizrice commented on #488
I like @BretFisher's idea of adding in an INFO message for the OSs where unfixed vulnerabilities aren't included. In fact I'd take it further - we could have an INFO message in all cases indicating whether unfixed vulns are included or not. In the cases where unfixed vuln information isn't available, we should say so.

That said, it wouldn't be obvious to anyone comparing results in, say, JSON, an

[2020-05-11 23:15] zenfish commented on #80
Almost as a reminder to myself... but running Trivy via docker on an image hosted by Azure's ACS looks like this -

`
repo="foo.azurecr.io"
image="foo/bar:0.0.1"
docker run --rm -v $HOME/.docker/config.json:/root/.docker/config.json -v $HOME/Library/Caches:/root/.cache/ aquasec/trivy --severity HIGH,CRITICAL "$repo/$image"`

You almost say that above, but it'd be nice to have a simple working exam

[2020-05-12 06:07] Alexc0007 commented on #257
i also support adding a trivy plugin to jenkins...
the post above about aqua security scanner doesnt talk about trivy...

many pipelines run on Jenkins and uses an alpine image(because of its size), and its impossible to install trivy on alpine...
so a jenkins plugin will be awesome!

[2020-05-12 16:29] drewboswell commented on #486
Working with this in an air-gapped environment is problematic. Is there a way of initializing trivy with a downloaded copy of the db?

[2020-05-13 16:38] itamarst opened #491 "Non-commercial vs commercial usage: which data sources?"
The README says some of the data sources are only licensed for non-commercial usage. It's difficult for me as a potential user to tell whether I can or cannot use trivy in a particular scenario.

It would be useful to have:

1. A flag that disables sources that are non-commercial-use-only.
2. Documentation of which sources are non-commercial-use-only, and the impact of the flag if it's implemented

[2020-05-14 18:38] itamarst opened #492 "More generic support for Python"
It seems that `trivy` supports `poetry.lock` and `Pipfile.lock` for Python, but not `requirements.txt`.

`requirements.txt` has dual usage:

1. For some people, it's just high-level dependencies, unpinned to any particular versions.
2. For other, it's equivalent to a lock file, transitively pinned dependencies often with hashes. For example, the `pip-tools` package takes an unpinned `requirements.

[2020-05-15 05:07] remidinishanth commented on #477
I see. Thank you

[2020-05-15 05:22] remidinishanth-ntnx opened #495 "Fatal error when scanning image"
When I try to scan the image mikesplain/openvas:latest with trivy, it reports FATAL error instead of reporting me the list of vulnerabilities.

**What did you expect to happen?**
I expected to see the list of vulnerabilities of the image.

**What happened instead?**
[code]

**Output of run with `-debug`:**

[code]

**Output of `trivy -v`:**

[code]

**Additional details (base image name, container

[2020-05-15 09:01] Johannestegner opened #496 "Multi-arch docker images."
Hi there!

I would like to request multi-arch docker images, seeing the releases page have basically all architectures one could wish for, this should not be a huge issue to implement!

I would think that at the least aarch64 and possibly a couple of the 32b ARM cpu's would be the initial most-required versions if this is to be implemented, and if there is no experience in the field of multi-arch

[2020-05-15 10:52] yyosioka opened #497 "Targeting CVSS v3"
We performed a scan of the docker image using the latest ver0.7.0 of trivy.
I checked the results of the scan, and the results are detected based on CVSS v2.
Isn't there a way to perform a scan on CVSS v3?

[2020-05-16 18:13] jonpulsifer opened #498 "Publish an official GitHub Action for Trivy"
Hi friends! I was looking to add Trivy to my CI pipelines and noticed there was no official GitHub Action published by Aqua.

@homoluctus (:wave: hi!) has built something that looks like what I want over at https://github.com/homoluctus/gitrivy, but the project is not under active development (as far as I can tell, given the open issues).

@knqyf263 have you thought about this? Is this something w

[2020-05-17 02:51] sylus commented on #498
I also know there is this if helps:

https://github.com/Azure/container-scan

[2020-05-17 05:28] jonpulsifer commented on #498
@sylus thanks for the tip, it certainly does 😄

Ref https://github.com/Azure/container-scan/issues/21#issuecomment-629745478

It's remarkable to me that `container-scan` is so new such that it does not work out of the box, and neither MicroGitHubSoft nor Aqua have one of these ready to go.

[2020-05-17 21:08] bsushant-athena commented on #480
could you please share an update on this?

[2020-05-18 07:18] knqyf263 commented on #498
@jonpulsifer Thank you for filing the issue. It sounds a nice idea.

[2020-05-19 00:51] mdchao2010 opened #501 "Tar archives stored in docker are not supported to save formatted files in Windows"
**Description**
when scan a tar file thar stored by `docker save`in linux and copy to  win10 OS , the trivy tool has an error like this:
[code]
but it`s fine when run in linux with same file.

Finally found，in `fanal project`  many codes are hardcoded that  not support  windows path format .  Like this
[code]

[2020-05-19 12:30] yyosioka commented on #497
https://github.com/aquasecurity/trivy/tree/cvss-vectors
and compiled and confirmed it, but
The display is not compatible with CVSS V3.

If you have any information, please let me know.

[2020-05-19 17:49] #453 closed

[2020-05-21 10:18] christian-weiss commented on #61
3 month has passed by. As @cmosetick did not provide steps to reproduce his issue, i vote for closing this ticket here now.

[2020-05-22 09:40] yyosioka commented on #497
Now that it's resolved, I'll close it.

[2020-05-22 09:40] #497 closed

[2020-05-26 16:52] andrew-lee-metaswitch opened #504 "Incorrect command in README"
**Description**
Running `trivy image python:3.4-alpine` as suggested in the README does not work

[code]

This `image` subcommand was added yesterday as per https://github.com/aquasecurity/trivy/pull/493

[2020-05-26 16:52] andrew-lee-metaswitch commented on #504
It could just be that the README is ahead of the 0.7.0 release (I suspect so).

[2020-05-26 22:14] simar7 commented on #504
Good catch @andrew-lee-metaswitch we'll cut a new release shortly. cc @knqyf263

[2020-05-27 07:03] nohaj opened #505 "Trivy 0.7.0 don't show the same vulns as 0.6.0"
Hello,

I have a weekly cron job that runs trivy on all the images of my registry.

Since I switched to the 0.7.0 version, the results are not the same.

Example :

[code]
[code]
[code]
[code]
[code]
[code]
Why did I have 12 less HIGH vulnerabilities with the 0.7.0 version ? And why the CVE reported are not the same ?

Or maybe I'm doing something wrong ?

Regards,

Johan

[2020-05-27 09:04] mdchao2010 opened #506 "trivy 0.7 not surpport library scan"
in trivy-db file not find that db:
[code]

[2020-05-27 09:08] lizrice commented on #92
Agreed, the score should be present as well as the vector

[2020-05-27 09:59] dmpe commented on #486
Artifactory or Nexus 3 (my case) support would be very welcome here...

[2020-05-27 12:08] mozillazg commented on #505
@nohaj Because the 0.7.0 improved the report via override severity with vendor score if exists

https://github.com/aquasecurity/trivy/releases/tag/v0.7.0

[2020-05-27 14:19] nohaj commented on #505
Thank you mozillazg. I read this this morning but I guess that I was half awake.

I will close the issue.

[2020-05-27 14:19] #505 closed

[2020-05-27 14:24] knqyf263 commented on #505
@mozillazg Thank you for the help!
@nohaj Yes, v0.7.0 prefers vendor severity than NVD severity. It introduced the different severity from v0.6.0. I'm sorry for the confusion.

[2020-05-29 19:09] #489 closed

[2020-05-29 21:29] simar7 commented on #504
This should now be fixed with the new release https://github.com/aquasecurity/trivy/releases/tag/v0.8.0

Let us know if you still need help @andrew-lee-metaswitch

[2020-05-29 21:30] #430 closed

[2020-05-31 09:49] knqyf263 commented on #506
What does it mean? There are those buckets in trivy-db.
![image](https://user-images.githubusercontent.com/2253692/83349365-14789200-a33d-11ea-8925-f5f08289c4bb.png)

[2020-05-31 09:52] knqyf263 commented on #495
The error message says `Get http://registry-1.docker.io/v2/: context deadline exceeded`. So, I think DockerHub was down or your network had any problem. Does it still reproduce? Also, would you try the latest version?

[2020-05-31 09:53] #477 closed

[2020-06-01 07:19] mdchao2010 commented on #506
I have find that vulnerability files, and add those buckets in trivy-db.

ruby-advisory-db： https://github.com/RustSec/advisory-db.git
php-security-advisories：https://github.com/FriendsOfPHP/security-advisories
nodejs-security-wg：https://github.com/nodejs/security-wg.git
python-safety-db：https://github.com/pyupio/safety-db.git
rust-advisory-db： https://github.com/RustSec/advisory-db.git

[2020-06-01 07:19] #506 closed

[2020-06-01 08:49] andrew-lee-metaswitch commented on #504
Yeah that's fixed! Thanks!

[2020-06-01 08:49] #504 closed

[2020-06-02 20:31] cdchris12 commented on #472
We ran into this same issue trying to scan a Drupal site as well. Looks like the issue actually comes from https://github.com/aquasecurity/fanal . We were able to replicate this functionality with versions `v0.6.0`, `v0.7.0`, and `v.0.8.0` testing against an example Drupal site.

There is also a Drupal issue which has been created to track this incompatibility on Drupal's side of things: https://w

[2020-06-04 02:58] dendi opened #510 "Error scan after update to v0.9.0"
**Description**
Unable to scan (public and private repo) after update to v0.9.0

**What did you expect to happen?**
I have updated trivy to the latest version. When trying to scan image via remote server, an error message appears.
I have also downgraded the version to 0.7.0, the scanner running fine without issue.

**What happened instead?**
Cannot scan any image in public or private repo.

**Outp

[2020-06-04 08:06] mozillazg commented on #510
@dendi It's looks like the server (`--remote https://trivy.xxxx.xx:443`) is not use the same version as client. How about upgrade both server and client to 0.9.0 and try again?

[2020-06-04 14:40] danmx opened #511 "Trivy as Bazel rule"
It would be awesome if Trivy could be used easily with Bazel build system. Probably there would be some issues around the database and caching.

[2020-06-04 16:50] knqyf263 commented on #510
@mozillazg Thank you for the help!

@dendi Yes, would you try upgrading the server to 0.9.0? I'll write the caution in the changelog. Thanks.

[2020-06-05 00:23] simar7 commented on #486
Offline DBs are now available. You can find them under Trivy DB releases here https://github.com/aquasecurity/trivy-db/releases

<img width="815" alt="image" src="https://user-images.githubusercontent.com/1254783/83823156-0651ab00-a688-11ea-8b2d-c368e6ec78e7.png">

Please give it a try and let us know if it helps.

[2020-06-05 00:26] shimish2 opened #512 "How to scan an OCI Image specifying the tag"
I want to scan an OCI Image with particular tag, if I try with the below command
trivy image --input image-test:latest
and I get an error
unable to open image-test:latest as an OCI Image: stat image-test:latest/index.json: no such file or directory

[2020-06-05 02:50] dendi commented on #510
Thanks all. I have updated both server and client. All running as expected. Will close this thread.

thanks!

[2020-06-05 02:50] #510 closed

[2020-06-05 07:53] rcomanne opened #513 "Progress logged as stderr"
**Description**
When Trivy is updating it's database, the progress of updating is show in the log.
However, when running Trivy in Azure DevOps the step fails as stderr is used.

**What did you expect to happen?**
I expect these log lines, progress of updating the database, to be stdout.

**What happened instead?**
The progress is instead logged as stderr.

**Output of run with `-debug`:**

[code]

[2020-06-05 17:27] kennr commented on #513
That would explain the behavior I was seeing after upgrading to 0.9.0. DEBUG logs are output despite using `-q`. Here are examples of the output of 0.8.0 vs 0.9.0:

**Output of Trivy 0.8.0**
[code]

**Output of Trivy 0.9.0**
[code]

Note: This causes JSON parsing errors in my workflow, so I had to revert to 0.8.0.

[2020-06-06 07:59] sfoxdev opened #514 "Alpine 3.12.0 support"
Please add latest Alpine 3.12.0 to support list
[code]

[2020-06-06 09:58] sfoxdev opened #515 "Debug option doesn't work as expected"
**Description**

Debug option by default should be set to False as described in the `--help`
[code]

**What did you expect to happen?**
[code]
**What happened instead?**
[code]

Another tests:
* Debug False
[code]
* Debug True
[code]

[2020-06-08 12:04] bgoareguer opened #518 "Vulnerability count is wrong in summary"
**Description**

The vulnerability count is wrong in the summary when scanning with --format table.

**What did you expect to happen?**
For example with the ubuntu:18.04 image, the summary indicates 72 vulnerabilities:
[code]

But when counting the vulnerabilities from the json output, the total number appears to be 38:
[code]

It seems that when a vulnerability affects multiple packages Trivy add

[2020-06-08 12:16] knqyf263 commented on #518
It is intended. I think if you don't insert `uniq -q`, it displays 72. I feel we should count vulnerabilities multiple times when it affects multiple packages. For example, CVE-2021-0001 affects package A and package B. If Trivy doesn't count them twice, it shows `Total: 1`. But even after updating package A, it still shows `Total: 1`. It looks weird for a user.

[2020-06-08 12:19] armandxu commented on #486
How do you deal with this problem

[2020-06-08 12:47] #515 closed

[2020-06-08 14:04] braudel opened #519 "Ensure trivy docker image runs as a non root user"
Attempts to launch trivy using starboard are currently failing in k8s clusters with PSP restricted due to runAsNonRoot.

[2020-06-08 14:17] #514 closed

[2020-06-08 14:47] knqyf263 commented on #515
@sfoxdev Thank you for reporting the issue. I hope v0.9.1 fixed this problem. If you're still facing the same problem, please feel free to re-open the issue.

[2020-06-08 14:48] knqyf263 commented on #513
@rcomanne Thank you for reporting the issue. I hope v0.9.1 fixed this problem. If you're still facing the same problem, please feel free to reopen the issue.

@kennr I'm sorry for the inconvenience. Would you try v0.9.1?

[2020-06-08 14:48] #513 closed

[2020-06-09 04:33] kennr commented on #513
@knqyf263, v0.9.1 works great, thank you for such a quick turnaround! I'm loving these new features.

[2020-06-09 06:05] armandxu opened #521 "failed to apply layers: unknown OS"
scan busybox  will have error saying "failed to apply layers: unknown OS“

[2020-06-09 07:22] bgoareguer commented on #518
Yes, if I don't insert `sort -u` it displays 72.

Ok, it makes sense, let's close the issue.

[2020-06-09 07:22] #518 closed

[2020-06-09 11:34] netrounds-fredrik commented on #466
@knqyf263, glad to see that this is happening. While adding the possibility to scan a filesystem to detect installed software, would you consider to also allow the user to provide the list of software packages to be checked for vulnerabilities as proposed in https://github.com/aquasecurity/trivy/issues/293.

[2020-06-09 11:36] netrounds-fredrik commented on #437
Related issues:
* https://github.com/aquasecurity/trivy/issues/437
* https://github.com/aquasecurity/trivy/issues/293

[2020-06-09 11:47] netrounds-fredrik commented on #481
How about allowing the user to manually provide a list of installed software, maybe as a complement to the list generated by the automatic detection? See proposal in https://github.com/aquasecurity/trivy/issues/293.

[2020-06-09 14:41] knqyf263 commented on #518
Thank you for the understanding!

[2020-06-09 21:23] bitsofinfo opened #523 "Allow providing private registry credentials via files for k8s & docker secrets"
Allow providing private registry credentials via files. Looks like currently you have to do it via ENV vars. Please add an option to specify locations of files that contain each of these values

TRIVY_USERNAME_FILE
TRIVY_PASSWORD_FILE
TRIVY_AUTH_URL_FILE

If this is supported, then people can just map these to mounted kubernetes or docker secrets

[2020-06-09 21:24] bitsofinfo commented on #134
+1

[2020-06-09 21:54] bitsofinfo opened #524 "Support TLS for --server mode"
Support TLS for --server mode

I.E. would be great to be able to present TLS in server mode

[2020-06-10 06:35] Johannestegner commented on #524
I would recommend using a proxy with TLS support (such as nginx or traefik), at the least until there is an implementation for this in the application itself (if there will be).

[2020-06-10 07:30] knqyf263 commented on #524
@Johannestegner Thank you for the recommendation!

@bitsofinfo As @Johannestegner said, I also would like to recommend using a proxy like nginx. But if you have any good reason to have TLS support in Trivy, let me know, please.

[2020-06-10 11:18] rcomanne commented on #513
@knqyf263 I'm still experiencing the same issue.
If I run `trivy s --downlaod-db-only` no progress is shown at all it seems.
If I run trivy on an image after removing the DB file, it does show the progress.
When I redirect stderr elsewhere, like a file, no progress is shown, and the file contains the progress like this;
`
$ trivy s -reset
$ trivy alpine:3 2>stderr.log
2020-06-10T13:15:58.939+0200

[2020-06-11 06:33] Johannestegner commented on #523
Wouldn't the ability to use a standard docker configuration alt the credentials store that docker uses be a preferable idea? Locally, it would make your client just work out of the box, while in remote mode, it would only require a single secret with the config file or even a pass container with the credentials in.

Either way, I think that there are more than me who uses multiple registries, henc

[2020-06-11 07:34] simiyo opened #525 "CVE-2020-11080 found in Trivy v0.9.1 image"
**Description**
Ran a scan on Trivy's image using the Trivy tool and found medium vulnerability CVE-2020-11080 reported.

[code]
**Output of `trivy -v`:**
Version: 0.9.1

[code]

**Additional details (base image name, container registry info...):**
aquasec/trivy

[2020-06-11 08:40] sfoxdev opened #526 "Scanning Alpine 3.12.0 error"
**Description**

failed to decode APKINDEX JSON: json: cannot unmarshal number into Go value of type apk.apkIndex

**What did you expect to happen?**

Scanning Alpine 3.11.6 works OK
[code]

**What happened instead?**
Scanning Alpine 3.12.0 with error
[code]

[2020-06-11 08:46] cristianbriscaru opened #527 "Node.js package-lock.json : library: lodash v4.17.15, HIGH severity vulnerability id: NSWG-ECO-516 , title : Allocation of Resources Without Limits or Throttling"
Hi guys trivy is detecting this vulnerability in Docker image in package-lock.json for a Node server:
lodash v4.17.15  HIGH  NSWG-ECO-516  Allocation of Resources Without Limits or Throttling.
I could not find any info regarding this particular vulnerability and npm audit and snyk is not detecting it , also not even the guys maintaining the lodash library seem to be aware of this vulnerability and

[2020-06-11 10:08] knqyf263 commented on #525
Thanks. Trivy doesn't use HTTP/2, so it doesn't seem to affect Trivy's image. But, we'll update it later.

[2020-06-11 11:37] Johannestegner commented on #527
https://github.com/nodejs/security-wg/commit/166fc1d690daeccb63ab6b2b973bfa3ee3cddcdc

That's the commit where it was added to the NSWG database. Odd that the maintainers have not been notified if it is a severe vulnerability imho, but yeah, that's all the data I can find on it!

[2020-06-11 11:52] Johannestegner commented on #527
On further investigation, I figured out that the vulnerability is actually available in snyk too:
https://app.snyk.io/vuln/SNYK-JS-LODASH-567746

It shares the same hackerone link, which seems to have _not_ been fixed in lodash even though a PR have been available since may 7: https://github.com/lodash/lodash/pull/4759

[2020-06-11 12:02] cristianbriscaru commented on #527
@Johannestegner thank you for the prompt response, I have more than enough info and I will close this issue.

[2020-06-11 12:02] #527 closed

[2020-06-11 12:05] Johannestegner commented on #481
This would be a **very** nice addition, either by just letting us place a formatted file somewhere inside the image in question or by just scanning it directly with Trivy.

Is there any work being done on a feature like this?

[2020-06-11 13:23] bitsofinfo commented on #523
great! still, would like this option, already have these creds in k8s secrets and need to access them

[2020-06-11 13:26] bitsofinfo commented on #523
for anyone else, here is a workaround

[code]

[2020-06-11 16:27] knqyf263 commented on #526
Thanks. I got to know the cause. I'll fix it soon.

[2020-06-11 19:01] slushysnowman opened #529 "Setting --exit-code when using the fs option in a certain order has no effect"
Running trivy with the fs option, and setting the exit-code to 1, still returns exit code 0 when `fs` is set after `--exit-code`
`trivy --exit-code 1 fs /`
However, this still runs correctly.
Exit code 1 IS returned when the command is structured as below:
`trivy fs --exit-code 1 /`

Expected behaviour would be that the first command just fails, if it's not going to act as expected.
This is happen

[2020-06-16 08:08] prabha1331 opened #531 "Trivy is not showing docker image digest"
@knqyf263
**Description**
When we scan a docker image using trivy it is not showing the docker image digest to check whether docker image has been modified or not

**What did you expect to happen?**
Trivy should show docker image Digest as shown below for every image scan. The below digest is from `docker images --digests` command output.
"Digest":"sha256:95cf004f559831017cdf4628aaf1bb30133677be87

[2020-06-18 09:33] lizrice opened #532 "trivy with no options should show help, not error"
**Description**

`trivy` reports an error if it's run with no options / subcommands. This isn't very friendly.

**What did you expect to happen?**

I expect running `trivy` with no options to show the help output

**What happened instead?**

[code]

**Output of `trivy -v`:**

[code]

[2020-06-18 13:30] lizrice opened #533 "Omit counts for severity levels that are excluded from output"
**Description**

If I use the `--severity` option, Trivy correctly only shows vulnerabilities for matching severities. It still shows a total, which is always 0, for other severities, which is misleading.

**What did you expect to happen?**

Only include the totals for severities that are being counted. For example, if `--severities=HIGH,CRITICAL` then I think the totals output should be like this

[2020-06-19 07:13] knqyf263 opened #534 "Add health check endpoint to trivy server"
Trivy has client/server mode and the server provides some endpoints. It would be useful if it provides `/healthz` that returns status code 200 and simply "ok" in the case of running Trivy server in k8s cluster. Ideally, we should check the download of the DB, but it is enough to simply return 200 as a first step.

[code]

[code]

https://kubernetes.io/docs/tasks/configure-pod-container/configure-l

[2020-06-22 12:26] knqyf263 opened #537 "Output error messages to stderr"
Trivy outputs error messages to stdin for now.

[2020-06-22 13:15] yashvardhan-kukreja commented on #346
Hi @knqyf263, sorry I was caught up with some crucial work since one month. Now, I am back on this.

[2020-06-22 13:37] yashvardhan-kukreja commented on #346
Actually, @knqyf263  I am quite new to trivy and so I have a small noob doubt.
Can you tell me that under which functionality/utility of trivy, exactly should this  "Last DB Update" value be presented in the output?
Like, after adding this functionality of printing the "Last DB Update", what command can I execute to check to see the "Last DB Update" value?

[2020-06-23 04:33] alpesh-valia commented on #524
Hey Amir,

Could you assign me this issue?

[2020-06-23 04:40] jerbia commented on #498
@simar7 do we now have an official Aqua Trivy github action?

[2020-06-23 04:43] rahul2393 commented on #93
I am working on this issue, will create PR shortly

[2020-06-23 05:15] simar7 commented on #498
Yes. It's available here: https://github.com/aquasecurity/trivy-action

[2020-06-23 09:02] yashvardhan-kukreja commented on #534
I would like to take up on this issue and start working around it :smile:

[2020-06-23 09:04] yashvardhan-kukreja commented on #534
As mentioned, I would just begin by setting up the endpoint `/healthz` to straight away return a 200 response. Then, I can start further augmenting other healthchecks upon that endpoint later.
Sounds fine @knqyf263 ?

[2020-06-23 11:16] yashvardhan-kukreja commented on #346
@knqyf263 , I made some mistakes when I made the pull request number #540 , So, I closed it and re-opened the a new PR (#542 ) for this issues and closed the previous one.
If you find it suitable, then, please delete the #540
Sorry for the inconvenience

[2020-06-23 11:35] knqyf263 commented on #346
Hi @yashvardhan-kukreja, this is OSS project, so you don't have to apologize that you don't have time to work on this issue. I'm so grateful for your contribution! AFAIK, we couldn't delete a PR on GitHub. It is enough to close the PR.

[2020-06-23 12:06] #537 closed

[2020-06-23 12:26] yashvardhan-kukreja commented on #346
@knqyf263 , @computeralex92 , I have few basic doubts with this issue. Please clarify them:
1. So, first of all, in the first line, what exactly does the "central server" mean? Like does it mean the server/host/computer where the `trivy server --listen` command got executed?
2. So, here are we looking to setup a `GET /metrics` endpoint which would return (respond with) metrics like "Last DB Update

[2020-06-23 19:13] dmpe commented on #486
@simar7 thank you - it is very much welcome. But I would also appriciate if there would be some description/docs on how to use it with client/server mode...

Do I just say `trivy server --listen 0.0.0.0:8080 --cashe-dir location-to-extracted-db`  ?

I am asking this because being in air-gapped environment is what I currently have to work with. There is no connection possible to the github,etc. Tha

[2020-06-23 19:47] computeralex92 commented on #346
@yashvardhan-kukreja First of course thank you for implementing this idea.
Unfornattely I had no time in the last month to do it on my own.

Regarding your questions:

Correct.
Use case:
As part of a CI/CD pipeline, I want to monitor the performed scans and the trivy setup e.g. via Grafana.
Since the client (within the pipeline) should not download the DB etc, the scan is happen in a trivy server

[2020-06-23 20:02] yashvardhan-kukreja commented on #346
@computeralex92 thanks for the quick and well descriptive reply. It cleared out all the things.
No worries regarding 3rd question, I mainly wanted to confirm the first two questions.
I'll start working on implementing this, @knqyf263 :smile:

[2020-06-24 06:52] demirten commented on #282
Problem still exist in latest version (0.9.1)

It couldn't detect installed gem version correctly and give lots of false positive alarms. It is not possible to use trivy in most of the ruby projects.

[2020-06-24 08:00] knqyf263 commented on #532
@lizrice Are you talking about no subcommand only? What do you think of the following cases?

[code]

In the above cases, can we display the error message?

[code]

[2020-06-24 16:01] knqyf263 commented on #526
It should work now. Thanks, @mozillazg

[2020-06-24 16:01] #526 closed

[2020-06-25 07:20] summved opened #545 "AdoptOpenJDK scanning with Trivy"
Hello Team,
I am using Trivy and not sure if it scans the AdoptOpenJDK packages. Can someone please help me with this?

[2020-06-25 14:27] knqyf263 commented on #93
Trivy has supported JUnit output. It can be used in the next release. Thank you, @rahul2393.
https://github.com/aquasecurity/trivy#save-the-results-using-a-template

![image](https://user-images.githubusercontent.com/2253692/85738817-fcf8b300-b708-11ea-8197-e448b64c5f56.png)

[2020-06-25 15:16] dmpe commented on #486
https://github.com/aquasecurity/trivy#air-gapped-environment thank you @knqyf263 !

[2020-06-25 20:28] Henrique-Potter commented on #481
I have a related issue that could be solved if Trivy could scan dynamic/static links on .so and .a files and imports from header files.

Is it possible?

[2020-06-25 22:34] Johannestegner commented on #481
Not sure if it is possible, but if it is, that would be gold worth! :)

[2020-06-26 13:01] knqyf263 opened #546 "Scan alpine image in air-gapped environments"
It doesn't work in the case of scanning an alpine image.
https://github.com/aquasecurity/trivy/blob/master/docs/air-gap.md

[2020-06-26 13:01] knqyf263 commented on #486
I'm so sorry, but it doesn't work in air-gapped environments in the case of scanning an alpine image. I will fix it as soon as possible. Just a moment, please.
https://github.com/aquasecurity/trivy/issues/546

[2020-06-26 14:52] dmpe commented on #546
Jop, I saw it as well on my end. Among the possibilities would be to bundle offline DB with docker image. Probably sizing and licensing will play a role.

[2020-06-26 15:04] yashvardhan-kukreja commented on #346
@computeralex92 @knqyf263 , on ideating upon how to export metrics for `Last DB Update`, I can up with this idea

On `GET /metrics`, this would be the output:
**_DBUpdate{time="2020-06-26 14:54:38.198245437 +0000 UTC"} 1
DBUpdate{time="2020-06-26 14:54:38.698289119 +0000 UTC"} 1
DBUpdate{time="2020-06-26 14:54:39.198286756 +0000 UTC"} 1_**

So, here, I was using DBUpdate metric as a counter with "

[2020-06-26 15:16] strowi commented on #346
Hi,

nice work,so far. If i might.. a suggestion from the prometheus standpoint:
We had sth. very similar implemented at work. The Problem with putting metrics inside the labels is, that it might (or most definitleywill) blow up your TSDB.
If possible, it might be better to put a timestamp for the metrics like:

[code]
You could still see from the metrics when the updates did happen?

[2020-06-26 18:02] yashvardhan-kukreja commented on #346
So just to confirm, @strowi , everytime a DB Update will happen, trivy will just overwrite  `trivy{action="dbupdate}` so whenever we will go to `GET /metrics`, we can simply look at `trivy{action="dbupdate}`, to see the latest db update (because that would correspond to the overwritten timestamp of latest db update).

I hope I am right?

[2020-06-26 18:16] strowi commented on #346
@yashvardhan-kukreja yes, you will always get the latest unix-timestamp in a single metric which gets overwritten. Otherwise if the labels change prometheus sees this as a somewhat different metric.

For Example:
This comes especially into play if you want to get metrics for images + count of vulnerabilities:

Using tagged build, you will get a metric for a specific image:
[code]

But if you updat

[2020-06-26 19:49] yashvardhan-kukreja commented on #346
This seems like the ideal approach to me @strowi , thanks a lot for this.
@computeralex92 , @knqyf263 this seems perfect to me, to be honest.
What do you think, should I start moving on to implementing this?

[2020-06-28 06:32] knqyf263 commented on #108
Hi @rahul2393, could you look into it? Trivy compares the version here.
https://github.com/aquasecurity/trivy/blob/master/pkg/detector/library/bundler/advisory.go#L55-L60

It calls `MatchVersions` using `go-version`.
https://github.com/aquasecurity/trivy/blob/master/pkg/scanner/utils/utils.go#L16-L28

`go-version` is based on semantic versioning, but some gem libraries look like adopting different

[2020-06-28 07:01] rahul2393 commented on #108
Ok Ack

[2020-06-28 15:34] knqyf263 commented on #346
@yashvardhan-kukreja It looks fine to me!

[2020-06-29 09:45] lizrice opened #547 "Support Sarif output"
If we add an option to output Trivy result in Sarif format, they can be uploaded into GItHub's code-scanning results.

More details [here](https://help.github.com/en/github/finding-security-vulnerabilities-and-errors-in-your-code/managing-results-from-code-scanning)

[2020-06-29 12:43] knqyf263 commented on #108
@rahul2393 We might be able to use this library. It is Go library for PHP version comparison, but it seems to work with Ruby versioning as well. At first, we should look into the specification of Ruby/Gem versioning, and then let's try this library.
https://github.com/mcuadros/go-version

[2020-07-01 06:43] knqyf263 commented on #534
@yashvardhan-kukreja I'm sorry for the late reply. It sounds good!

[2020-07-01 15:25] aytekinar opened #548 "Listing of all packages"
Would it be possible, via an environment variable such as `TRIVY_LIST_ALL_PACKAGES`, which is `false` by default, to enable listing of all system-level and application-level packages in the output?

As an example,
[code]
should scan `myimage` (which is, e.g., based on Alpine and has a `Pipfile.lock` file) and output all the installed Alpine and Python packages even though there are no vulnerabilit

[2020-07-02 19:12] lgulliver opened #549 "JUnit not output as valid XML"
**Description**

Using the JUnit template results in invalid XML due to special characters not being properly encoded, removed or replaced. This is highlighted in Azure DevOps when using the PublishTestResults task. Example: https://dev.azure.com/lgulliver/ContainerScanning/_build/results?buildId=143&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9&t=d1601c4c-45d5-58f9-2d01-127ffe91cde0&l=11

**Wh

[2020-07-03 06:32] knqyf263 commented on #549
@lgulliver Thank you for the detailed report!

Could you look into it, @rahul2393?

[2020-07-03 06:45] rahul2393 commented on #549
@knqyf263 so for special characters should we just replace it with empty?

[2020-07-03 07:22] lgulliver commented on #549
Would it be possible to output them as their ASCII equivalents? i.e. `&lt;` though I’m not sure this would fix the issue when it comes to the quote example I gave.

[2020-07-03 07:32] rahul2393 commented on #549
ok let me try to replace characters with ASCII equivalent and see what it returns

[2020-07-04 03:34] prasenforu opened #550 "Output to file does not give short summary report"
If I execute ```trivy --output "asd.txt" --no-progress --exit-code 1 --severity HIGH,CRITICAL knqyf263/vuln-image:1.2.3```

Its does not give any short summary report as follows ..

[code]

output of asd.txt file as follows..

[code]

[2020-07-05 02:48] prasenforu commented on #404
If I redirect as follows then exit code not working

```trivy image --exit-code 1 --severity CRITICAL ruby:2.4.0 2>&1 | tee SomeFile.txt```

[2020-07-05 02:49] prasenforu commented on #550
If I redirect as follows then exit code not working

```trivy image --exit-code 1 --severity CRITICAL ruby:2.4.0 2>&1 | tee SomeFile.txt```

[2020-07-05 15:03] rahul2393 commented on #549
@knqyf263 After the [PR](https://github.com/aquasecurity/trivy/pull/551/files#diff-18061ea82d0f559b2c4f47298f76b073R273) failure title and description will be escaped and updated test to include these scenarios [here](https://github.com/aquasecurity/trivy/pull/551/files#diff-18061ea82d0f559b2c4f47298f76b073R273)

[2020-07-05 17:12] rahul2393 commented on #108
@knqyf263 Please review [this](https://github.com/aquasecurity/trivy/pull/552) added some tests [here](https://github.com/aquasecurity/trivy/pull/552/files#diff-7dcd81704618427d55b195b1e68cffc1R10)

[2020-07-06 12:36] knqyf263 commented on #547
Hi @rahul2393, could you work on this task? I think it is very similar to what we did for JUnit support, using `template`.

[2020-07-06 12:43] knqyf263 commented on #549
@lgulliver We fixed this issue in #551. It would be appreciated if you test it.

[2020-07-06 15:32] rahul2393 commented on #547
@knqyf263 ok added

[2020-07-06 18:03] lgulliver commented on #549
I've pulled latest from `master` built and run it but I'm getting the same result:

[code]

I'm running `trivy image --format template --template "@templates/junit.tpl" -o junit-report.xml liamgu/azuredevopscontainersdemo:74` as my command and its yielding the same result with it trying to escape `"` inside of node attribute with `\` which is resulting in invalid output.

[2020-07-06 18:10] lgulliver commented on #549
In addition to the above, tested scanning the ruby:2.4.0 image and that resulted in the same issue too with the `<` character:

[code]

[2020-07-06 18:39] rahul2393 commented on #549
@knqyf263 correct me if I am wrong, I the path to tpl correct here https://github.com/lgulliver/ContainerScanning/blob/master/azure-pipelines-build-trivy.yml#L23 It should be ```--template "@contrib/junit.tpl"``` right?

[2020-07-06 18:41] lgulliver commented on #549
I guess if we’re building from source, it’s included in what’s cloned but when installing say 0.9.1 from the dev package, `@contrib` doesn’t exist.

[2020-07-07 08:02] rahul2393 commented on #549
@lgulliver

[2020-07-07 09:53] lgulliver commented on #549
@rahul2393 Templates is a folder in my repo that gets checked out as part of the build process. It has a copy of `junit.tpl` in because I found when running it in Azure DevOps on Ubuntu agents with the template arg set as `--template "@contrib/junit.tpl"`, I get the error `FATAL unable to write results: Error retrieving template from path: open contrib/junit.tpl: no such file or directory`

[2020-07-07 10:22] lgulliver commented on #549
@rahul2393 I recreated my copy of the tpl file and it worked!

[2020-07-07 11:44] rahul2393 commented on #549
So issue fixed right @lgulliver
cc: @knqyf263 we can close this in that case

[2020-07-07 13:24] knqyf263 commented on #549
@lgulliver I'm sorry for the late reply. The path `contrib/` or `templates` doesn't matter, but as you already did, you needed to pull the latest  `junit.tpl`.

@rahul2393 Thank you for the great support! Let me close this issue.

[2020-07-07 13:24] #549 closed

[2020-07-07 13:26] knqyf263 commented on #547
Thanks! GitHub can only assign an issue to people who have commented on the issue if you're not a member of the organization.

[2020-07-08 11:47] mslusarczyk opened #555 "Add JUnit tempate (contrib/junit.tpl) to docker image"
I see that `contrib/gitlab.tpl` is already included in the docker image: [PR](https://github.com/aquasecurity/trivy/pull/388)
It would be awesome to add `contrib/junit.tpl` for similar reason.

I've created a small PR that does it: https://github.com/aquasecurity/trivy/pull/554

[2020-07-09 06:10] knqyf263 commented on #550
Could you tell me what the use case is? If you need to parse it, I recommend using JSON. The table format is basically for human-readable in stdout.

[2020-07-09 06:24] knqyf263 commented on #555
Thank you for the contribution!

[2020-07-09 06:24] #555 closed

[2020-07-09 14:17] yrosaguiar commented on #282
We are facing the same problem, Trivy analyzes the gemfile.lock instead of analyzing the gems that are installed, the problem is that it is also looking at the gemfiles.locks downloaded from the main project's dependencies and actually the version of the gem that is installed is the main project and not the old versions that are listed in the gemfiles.locks of the premises I believe that a good ap

[2020-07-10 02:04] prasenforu commented on #550
Basically I was using it part of Jenkins CICD pipeline. I want two information,

1. Short output ```Total: 26 (UNKNOWN: 0, LOW: 3, MEDIUM: 16, HIGH: 5, CRITICAL: 2)```

2. Long output - what we got using ```--output``` filename.

Short output I going to use Slack and long output for mail attachment and in mai body also I want to use short output.

But problem is that using option  ```--output``` f

[2020-07-10 07:34] mslusarczyk opened #557 "Error retrieving template from path when --format is not template but --template is provided"
**Description**
When `--format` is set to `json` and at the same time `--template` is provided trivy fails trying to find the file.

**What did you expect to happen?**
I expect trivy to ingnore `--template` when `--format` is not `template` according to printed warning
`WARN	--template is ignored because --format json is specified. Use --template option with --format template option.`

**What happ

[2020-07-10 21:41] kgeorgiou commented on #491
👋 Just a fan of Trivy here. That's a great point!

These are the data source licenses I managed to collect so far:

**Language Specific Data Sources** (https://github.com/aquasecurity/trivy#data-sources):

- ✅ [GitHub Advisories](https://github.com/advisories) - [Creative Commons Attribution 4.0 license](https://docs.github.com/en/github/site-policy/github-additional-product-terms#12-advisory-data

[2020-07-11 17:37] rahul2393 commented on #547
@lizrice Please check the attached sarif file, I ran to check on image ruby:2.4.0 and exported using the template in PR.

[report.sarif.zip](https://github.com/aquasecurity/trivy/files/4907330/report.sarif.zip)

[2020-07-13 11:45] knqyf263 commented on #557
https://github.com/aquasecurity/trivy/pull/556

[2020-07-13 11:45] #557 closed

[2020-07-13 12:09] knqyf263 commented on #93
I released v0.9.2 including this feature.
https://github.com/aquasecurity/trivy/releases/tag/v0.9.2

[2020-07-14 07:59] knqyf263 commented on #282
Hi @yrosaguiar, thank you for your explanation. Parsing Gemfile.lock has advantages as well as downsides as you described. We have a plan to parse all gem packages instead of Gemfile.lock, but it isn't coming soon. At the moment, we can add an option to skip traversing directories. Does it make sense to your case?

[2020-07-14 10:51] irrandon opened #560 "HTML Report"
A feature to directly generate a HTML report would be awesome :)

[2020-07-14 10:55] mrueg commented on #560
With junit support in place, you could give something similar to https://github.com/inorton/junit2html a try

[2020-07-15 02:03] happylie commented on #550
I accidentally see the contents and write it to refer to it because it is similar to the contents I had in the past.

I use jq or Parsing the contents with Python.
Of course, we are using Trivy Engine in addition to the environment developed by Python.

1. jq
`
ex) Save a.json file
Total: 26 (UNKNOWN: 0, LOW: 3, MEDIUM: 16, HIGH: 5, CRITICAL: 2)

$ cat a.json jq '.[0]' jq '.[]' jq '.[] select (.Se

[2020-07-15 05:17] knqyf263 commented on #244
@rahul2393 Could you implement `--skip-dirs` as a workaround? I think we need to extend this function so that a user can pass directories via the cli option.
https://github.com/aquasecurity/fanal/blob/master/walker/walk.go

[2020-07-15 11:10] rahul2393 commented on #244
@knqyf263  Ok will implement

[2020-07-15 18:52] yrosaguiar commented on #282
@knqyf263 Thank you, this can help, but on the other hand there may be gems that are installed and will not be verified, the problem is the same gems that are present both in the main Gemfile.lock and in the other Gemfiles.locks except that the last updated version is always installed and Trivy is taking older versions that are not installed.

[2020-07-16 02:23] Gerry9000 commented on #486
Can the trivy server be run in an air-gap?  when running
`trivy server --skip-update -listen 0.0.0.0:8080 `
the error "The first run cannot skip downloading DB" is still received on trivy 0.9.1

[2020-07-16 08:42] knqyf263 commented on #282
Thank you for your reply. Let me clarify my understanding as follows:

[code]

In this case, if you run `bundle install` in `/main/`, only redis-4.0 is installed according to your comment, right?

In the example above, if redis-3.0 from `/main/vendor/other/Gemfile.lock` is not installed, why does Trivy take older versions that are not installed? If you ignore `main/vendor` directory, redis-3.0 is

[2020-07-16 11:01] yrosaguiar commented on #282
@knqyf263 Yes. That’s exactly what I realized in the tests I did

[2020-07-16 11:18] yrosaguiar commented on #282
@knqyf263 Yes. I will try to explain using examples:

**Trivy output:**

**usr/local/bundle/gems/rack-proxy-0.6.5/Gemfile.lock**
 ===================================================
 Total: 1 (UNKNOWN: 0, LOW: 0, MEDIUM: 0, HIGH: 0, CRITICAL: 1)
 +---------+------------------+----------+-------------------+---------------+--------------------------------+
 | LIBRARY | VULNERABILITY ID | SEVERITY |

[2020-07-16 13:17] knqyf263 commented on #282
@yrosaguiar Thank you for the example!

In your example, `usr/local/bundle/gems/rack-proxy-0.6.5/Gemfile.lock` and `usr/local/bundle/gems/webpacker-3.2.0/Gemfile.lock` just exist as the dependency in the image and the gems in those lock files are not installed actually. It looks like the image runs `bundle install` with `/app/Gemfile.lock` and installs only rake-13.0.1. So, the installed gems in t

[2020-07-16 13:37] yrosaguiar commented on #282
@knqyf263 I believe it will help, after this explanation that you showed, I believe it makes sense. Thanks for the answer =)

[2020-07-19 15:16] #547 closed

[2020-07-19 15:17] #525 closed

[2020-07-19 15:18] knqyf263 commented on #519
@rahul2393 could you work on it?

[2020-07-19 15:19] #498 closed

[2020-07-19 15:20] rahul2393 commented on #519
Sure, thanks

[2020-07-20 16:03] lizrice opened #563 "Add automated code coverage & badge"
We should measure test code coverage - we could use codecov like we do for other projects. I guess this would be needed here and also on fanal, any other projects?

[2020-07-21 13:37] rrupesh commented on #140
@gotthardp @stevespringett very crude code to get SBOM (OS and APP) from `trivy` in JSON output. Granted the output doesn't confirm to cyclonedx specs. But, this gets my work done.

https://github.com/aquasecurity/trivy/pull/566

[2020-07-22 07:26] irrandon commented on #560
#567

[2020-07-22 14:39] knqyf263 opened #568 "--timeout doesn't work"
It looks like `--timeout` option doesn't work after supporting fs/repo scan.

`context.WithTimeout()` should be called here.
https://github.com/aquasecurity/trivy/blob/020c4a3b140b3ee329eba8926de79e2889ec9312/internal/artifact/run.go#L68
https://github.com/aquasecurity/trivy/blob/020c4a3b140b3ee329eba8926de79e2889ec9312/internal/client/run.go#L48

[2020-07-22 14:39] knqyf263 commented on #568
@rahul2393 could you help us with this issue?

[2020-07-22 14:49] rahul2393 commented on #568
Sure

[2020-07-22 18:10] #292 closed

[2020-07-26 17:36] devlifealways commented on #423
Exactly what I was looking for, we're trying to download ahead of time the CVE database, and use it as part of CI pipeline behind our company proxy.

[2020-07-28 05:05] juan-chan opened #573 "PublishedDate and LastModifiedDate fields required"
The result of trivy does not contains `PublishedDate` and `LastModifiedDate` fields, but I think they are valuable, could you add these fields to the result? Thanks a lot!

[2020-07-28 09:38] knqyf263 commented on #519
Fixed by #570. Thanks, @rahul2393

[2020-07-28 09:38] #519 closed

[2020-07-28 10:26] #568 closed

[2020-07-28 10:37] knqyf263 commented on #550
@happylie Thank you for elaborating.

@prasenforu If you want to make the exit code work, you can run Trivy twice as a workaround.

[code]

The second scan is fast enough because of the cache.

[2020-07-28 13:30] knqyf263 commented on #548
@aytekinar Thank you for the issue. It makes sense.

@rahul2393 Could you work on this feature?

[2020-07-28 13:33] nbublikov commented on #265
Good day! What should the final string look like for a container scan in Google Registry?
For example, using Docker

[2020-07-28 15:12] rahul2393 commented on #548
Sure

[2020-07-29 07:41] nbublikov opened #576 "What does the Trivy startup string template for Google Registry look like?"
Hello!
You need to run trivy in the form of a docker image to scan our google container registry, to enter there we use the login and password.

How the command to run will look like?

[2020-07-29 07:54] #533 closed

[2020-07-29 09:30] knqyf263 commented on #576
There are some ways.
For example,

[code]

[2020-07-29 09:32] pealtrufo opened #577 "This OS version is not on the EOL list"
Hi,

I am scanning image 'openjdk:9-b130-jdk' but I get below output:
![image](https://user-images.githubusercontent.com/32867433/88782873-00f37700-d186-11ea-8649-eb7d208877cc.png)

Is this the expected behaviour? I am not sure I understand... If it is a no longer supported OS version, shouldn't trivy fail rather than report no vulnerabilities?

I am using trivy version 0.9.2
![image](https://user

[2020-07-29 09:56] nbublikov commented on #576
credential.json - how it's look like for example?)
image [YOUR_IMAGE] - how i should dpecify path to remote Google container registry?) it's not local image

[2020-07-29 12:11] aytekinar commented on #548
Thank you, both @knqyf263 and @rahul2393, for your fast response and understanding.

It will be useful for us to have a manifest of all the deployed packages inside the image.

[2020-07-29 14:23] #415 closed

[2020-07-29 14:26] knqyf263 commented on #437
Supported at v0.9.0

[2020-07-29 14:26] #437 closed

[2020-07-29 14:26] #329 closed

[2020-07-29 14:27] knqyf263 commented on #329
v0.9.0 supported it

[2020-07-29 14:28] knqyf263 commented on #92
CVSS score/vector were added at v0.9.2

[2020-07-29 14:28] #92 closed

[2020-07-29 14:29] #93 closed

[2020-07-30 06:57] aytekinar commented on #548
Because #574 is merged, I am closing this issue. I will check `v0.9.3` (or whatever version is the next to follow) and reopen the issue if needed.

[2020-07-30 13:32] xxxmadxxx commented on #282
@knqyf263 Hey, I'm having the same problem here. Do you have an ETA or some place that we can follow this new feature?

[2020-07-30 14:36] SGirousse opened #579 "unable to initialize a scanner - 0.10.0"
Hello,

We are using `aquasec/trivy:latest` and since 0.10.0 has been deployed (around 1h) our pipeline fails with error :
[code]

Here a `azure-pipeline.yml` snippet :
[code]

We will fix the version to 0.9.0 for now.

If needed, full logs of the script step :
[build_stage_aquasectrivy.txt](https://github.com/aquasecurity/trivy/files/5001820/build_stage_aquasectrivy.txt)

Have a nice day

[2020-07-30 14:45] NasAmin opened #580 "Trivy in docker not able to scan local image since verison v0.10.0"
**Description**

We use Trivy in our CI builds to scan local images. Since v0.10.0, trivy is not able to find the local images and expecting the image to exist in docker hub.

**What did you expect to happen?**
Expected trivy to scan local images.

**What happened instead?**
Trivy failed with the following error:
Command ran:
docker run --rm -v /var/run/docker.sock:/var/run/docker.sock -v $PWD:/tm

[2020-07-30 14:46] knqyf263 commented on #579
Please see it.
https://github.com/aquasecurity/trivy#others

[2020-07-30 14:47] knqyf263 commented on #580
Please see here.
https://github.com/aquasecurity/trivy#others

[2020-07-30 14:48] knqyf263 commented on #580
Ah, I'm sorry it looks like you have a problem with the connection to docker.sock. Could you try `docker run -u 0`

[2020-07-30 14:49] knqyf263 commented on #579
If you have a problem with the connection to docker.sock, could you try docker run -u 0?

[2020-07-30 14:52] NasAmin commented on #580
@knqyf263 Yes using `-u 0` works. So does this mean we have to run trivy as root when running in docker?

[2020-07-30 14:52] mjjames commented on #580
we get:
 * unable to inspect the image (index.docker.io/library/tenancyadmin:local): Error: No such image: index.docker.io/library/tenancyadmin:local
        * GET https://index.docker.io/v2/library/tenancyadmin/manifests/local: UNAUTHORIZED: authentication required; [map[Action:pull Class: Name:library/tenancyadmin Type:repository]]

if we use 0.9.0 we have no issues

[2020-07-30 14:53] knqyf263 commented on #580
@NasAmin Trivy ran as root user before, but we changed it to non-root user. If you want to use docker.sock, you have to run Trivy as root.

[2020-07-30 14:56] knqyf263 commented on #580
@mjjames If it still doesn't work with `-u 0`, could you open a new issue with the detail?

[2020-07-30 14:58] mjjames commented on #580
I'm using docker for windows via WSL 2.
If i run:
  `docker run -u 0 --rm -v /var/run/docker.sock:/var/run/docker.sock aquasec/trivy tenancyadmin:local`
I get
`  FATAL   unable to initialize a scanner: unable to initialize a docker scanner: 2 errors occurred:
          * unable to inspect the image (index.docker.io/library/tenancyadmin:local): Error: No such image:
  index.docker.io/library/tenanc

[2020-07-30 15:00] mjjames commented on #580
I'm running Ubuntu 18.04. I believe @NasAmin is running 20.04

[2020-07-30 15:03] knqyf263 commented on #580
It says

so I feel v0.9.0 also should not work.

[2020-07-30 15:05] dhananjaya-senanayake commented on #580
Had the same issue with the `latest` tag when running in Azure DevOps. Using the tag `0.9.2` fixed the failure
[code]

[2020-07-30 15:07] rahul2393 commented on #580
Hello, everyone, I am creating PR to fix mounting to /var/run, but please don't mount to /root/ folder because of security purpose use /tmp/ for caches.

[2020-07-30 15:10] rahul2393 commented on #580
Ack, fix currently in the way

[2020-07-30 15:12] SGirousse commented on #579
I will follow the issue https://github.com/aquasecurity/trivy/issues/580 as it is basically the same :)

[2020-07-30 15:12] knqyf263 commented on #579
OK, so let me close it.

[2020-07-30 15:12] #579 closed

[2020-07-30 16:05] knqyf263 commented on #580
Hmm... It works in my environment even without `-u 0`. I'm not sure why I can't replicate it.

[code]

[2020-07-30 16:19] SGirousse commented on #580
If do :
[code]
it is working fine but if I do :
[code]
then I got the error.

So something goes wrong when we need an authentication ?

[2020-07-30 16:36] knqyf263 commented on #580
@SGirousse Thanks, you're right. If you add `-u root`, it works, right?

[2020-07-30 16:43] knqyf263 commented on #580
@dhananjaya-senanayake Doesn't it work even with `-u root`?

[2020-07-30 16:46] SGirousse commented on #580
No, still the same error.

[2020-07-30 16:49] knqyf263 commented on #580
@SGirousse Could you tell me your environment and the permission of `/var/run/docker.sock`? Also, make sure it works with v0.9.2, please.

[2020-07-30 16:55] knqyf263 commented on #580
We just changed the user in the docker image, so it should work with `-u root` like:

[code]

[2020-07-30 17:11] SGirousse commented on #580
[code]
=> **success**
[code]
=> **failure**
[code]
=> **failure**
[code]
=> **failure**

[code]

[2020-07-30 17:14] knqyf263 commented on #580
It seems that you're running Docker on Windows and it uses a different user. What if you add `-u sgirouss`?

[2020-07-30 19:09] knqyf263 commented on #580
We reverted the change and released v0.10.1 because we found Docker actions must be run by the default Docker user (root).
https://docs.github.com/en/actions/creating-actions/dockerfile-support-for-github-actions#user

I apologize for the inconvenience this has caused you.

[2020-07-30 19:10] #580 closed

[2020-07-30 19:12] NasAmin commented on #580
@knqyf263 @rahul2393 Thanks very much for acting on it so fast. I can confirm, the latest version 0.10.1 now works as expected.

[2020-07-30 19:26] knqyf263 commented on #580
Thank you for telling us the issue quickly.

[2020-07-30 20:14] kostyrev opened #582 "filesystem scan with remote db"
is not architecturally possible to scan local filesystem and not to download trivy-db by using remote db?
my use case: I'm building packer images and do not want to download db every time in every image.

[2020-08-01 04:31] zeroc0d3 opened #585 "Bitbucket CI feature"
I've add tested with bitbucket ci
Pull Request: [584](https://github.com/aquasecurity/trivy/pull/584)

[2020-08-02 18:39] aytekinar commented on #548
Hi @knqyf263 and @rahul2393,

I have tried the following Dockerfile:
[code]
and built (and pushed it) with `docker build --tag aytekinar/dummy . && docker push aytekinar/dummy`.

I have the following output:
[code]

When I run `trivy`, however, I can't get to see all the packages listed:
[code]
regardless whether I use `TRIVY_LIST_ALL_PKGS=true` (which is the default, apparently) or `TRIVY_LIST_AL

[2020-08-03 07:53] rahul2393 commented on #548
@aytekinar Hey, We only implemented list-all-pkgs when --format is passed to the `trivy`, I just checked and it works fine
for the part of default value of TRIVY_LIST_ALL_PKGS is false.

[2020-08-03 07:54] rahul2393 commented on #548
<img width="1332" alt="Screenshot 2020-08-03 at 1 23 30 PM" src="https://user-images.githubusercontent.com/18293335/89159059-9a5ac880-d58c-11ea-97c0-92d8b21ff4dd.png">

<img width="1414" alt="Screenshot 2020-08-03 at 1 23 42 PM" src="https://user-images.githubusercontent.com/18293335/89159033-9038ca00-d58c-11ea-892f-31452d7db739.png">

[2020-08-03 09:05] aytekinar commented on #548
Hi @rahul2393,

I do confirm that it works without any problems when `format` is passed and that the default value is `true`:

[code]

<details>
<summary>Response in JSON format</summary>

[code]
</details>

[code]

<details>
<summary>Response in JSON format</summary>

[code]
</details>

I got confused when I checked the help section of `trivy` using the following:

[code]

I had expected to see `

[2020-08-03 09:05] #548 closed

[2020-08-04 05:54] knqyf263 opened #586 "Support AWS Security Finding Format (ASFF)"
Support ASFF via `--template` like JUnit XML and SARIF.
https://aws.amazon.com/jp/blogs/security/how-to-build-ci-cd-pipeline-container-vulnerability-scanning-trivy-and-aws-security-hub/
https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-findings-format.html

[2020-08-04 05:56] knqyf263 commented on #586
@rahul2393 Let me assign this task to you.

[2020-08-04 07:02] rahul2393 commented on #586
Thanks

[2020-08-04 10:04] rickymcgeehan commented on #527
@Johannestegner From what I can tell, this issue has been resolved in Lodash v4.17.19, however Trivy is still reporting a HIGH severity vulnerability.

Lodash PR: https://github.com/lodash/lodash/pull/4759
Npm advisory: https://www.npmjs.com/advisories/1523

Please could you let me know if this is the case and if so when the Trivy db will be updated?

[2020-08-04 11:03] Johannestegner commented on #527
Hi there @rickymcgeehan! I'm not in the trivy team, so can't help you there, sorry!

[2020-08-04 14:30] rickymcgeehan commented on #527
Sorry! I wrongly assumed!

[2020-08-04 14:42] rickymcgeehan opened #588 "Node.js package-lock.json : library: lodash v4.17.19, HIGH severity vulnerability id: NSWG-ECO-516 , title : Allocation of Resources Without Limits or Throttling"
**Description**

Trivy is reporting a HIGH severity vulnerability in the Lodash library v4.17.19 (NSWG-ECO-516: Allocation of Resources Without Limits or Throttling). From what I gather, the problem stemmed from the zipObjectDeep function within Lodash and has now been fixed in v4.17.19. However, Trivy is still reporting it as a HIGH severity vulnerability.

Lodash PR: lodash/lodash#4759
Npm advis

[2020-08-04 21:12] sukhinin opened #589 "Reusing initial scan results"
Our use case is as follows:
* Containers could run for a long time (months)
* Images could be heavy (gigabytes)
* There are a lot different images (hundreds)

The goal is to detect vulnerabilities that were announced after the image has been built.

Is it possible to save a list of packages found in some image and later check this list against up-to-date vulnerabilities database without pulling an

[2020-08-05 07:38] #301 closed

[2020-08-05 07:55] knqyf263 commented on #588
Trivy DB depends on `nodejs/security-wg` as for nodejs, but it looks like the vulnerability information hasn't been updated yet. Would you send PR or raise the issue in this repository?
https://github.com/nodejs/security-wg/blob/master/vuln/npm/516.json#L16

[2020-08-05 07:59] knqyf263 commented on #589
Trivy stores layer id in the cache so that it can skip downloading the layer next time. If your image is not updated often, the second scan should be pretty fast. You can also use the client/server mode for the purpose.
https://github.com/aquasecurity/trivy#client--server

Also, if your images share the base image, trivy can skip downloading the layers of the base image.

[2020-08-05 08:31] knqyf263 commented on #527
@Johannestegner Thank you for answering on my behalf!

[2020-08-05 10:39] sukhinin commented on #589
Does Trivy need the layer data to be available locally after the first scan or will it reuse data gathered during the first scan?

Do I get it right that the client scans the image, extracts software metadata, and then queries the server if there are any vulnerabilities? Is it a client or the server who maintains the cache in this case? I've read the docs but wasn't able to find an answer to this

[2020-08-05 12:09] sukhinin opened #591 "Unsupported MediaType when scanning image from private registry"
**Description**

I try to scan an image from our private registry and get "Unsupported MediaType" error.

When I inspect HTTP requests, I see that `Accept` header is set to `application/vnd.docker.distribution.manifest.v1+json,application/vnd.docker.distribution.manifest.v1+prettyjws,application/vnd.docker.distribution.manifest.v2+json,application/vnd.oci.image.manifest.v1+json,application/vnd.doc

[2020-08-06 08:41] knqyf263 commented on #591
Thank you for looking into the problem. I raised an issue in google/go-containerregistry.
https://github.com/google/go-containerregistry/issues/754

[2020-08-06 12:36] viniciusgarcia-hotmart opened #592 "Scan private git repositories"
Hello, I saw that currently private git repositories are not supported, although seems a very easy goal since you guys are using go-git v5, so my question is, is there any security reason to don't do that?

Thanks in advance

[2020-08-06 15:25] eddyv73 opened #593 "Add Azure DevOps Support"
Many organizations uses Azure DevOps, is good idea create a Azure DevOps marketplace item to add in the pipelines.

[https://marketplace.visualstudio.com/azuredevops](url)

[2020-08-06 17:02] jonjohnsonjr commented on #591
Do you happen to know what criteria the registry uses when selecting a media type? I wonder if we can use [content negotiation](https://developer.mozilla.org/en-US/docs/Web/HTTP/Content_negotiation) or just ordering of the accept header to indicate which media type we prefer. I would think that, given the choice between two options, registries should always reply with the most recent supported for

[2020-08-07 18:22] simar7 commented on #592
hi @viniciusgarcia-hotmart to keep things simple we started with only supporting public repos. What's your use case?

cc @knqyf263

[2020-08-07 18:29] simar7 commented on #582
hi @kostyrev – were you looking for something like client/server mode https://github.com/aquasecurity/trivy#client--server but with filesystem scanning?

Would this be your use case:
`$ trivy client <path/to/directory>`

[2020-08-07 21:06] simar7 commented on #577
hi @pealtrufo – looks like this image `openjdk:9-b130-jdk` is based on `debian:sid` which is an unstable version of debian https://wiki.debian.org/DebianUnstable. AFAIK there are no security advisories published for an unstable release https://www.debian.org/security/faq#unstable so Trivy is unable to determine if vulnerabilities exist or not.

Currently this is working as expected. If we don't ha

[2020-08-09 06:14] knqyf263 commented on #577
For example, Debian 7 has reached EOL and security patches will not be released anymore.
https://wiki.debian.org/DebianReleases

In this case, Trivy can detect vulnerabilities disclosed before EOL because there are security advisories. Even if it is no longer supported, I think we should detect vulnerabilities as much as possible. But they are not all vulnerabilities for the reason above. Therefor

[2020-08-09 13:16] viniciusgarcia-hotmart commented on #592
Sure, I understand. I was just wondering why this feature is not present.

[2020-08-10 06:08] knqyf263 commented on #592
Thank you for understanding. When you need the private repo scanning, feel free to reopen this PR.

[2020-08-10 12:35] kostyrev commented on #582
yep
[code]
but now it fails
[code]

[2020-08-11 08:25] knqyf263 commented on #316
no activity

[2020-08-11 08:25] #316 closed

[2020-08-11 10:38] ipsita2192 commented on #438
I am not able scan local image using client/server option on Trivy.Getting below error:
root@ipsita:/home/ubuntu# trivy client 127.0.0.1/8/vdbench_cnt
2020-08-11T07:19:55.784Z        WARN    You should avoid using the :latest tag as it is cached. You need to specify '--clear-cache' option when :latest image is changed
2020-08-11T07:19:55.874Z        FATAL   unable to initialize the docker scanner:

[2020-08-12 10:27] #563 closed

[2020-08-12 11:03] #244 closed

[2020-08-12 11:03] #366 closed

[2020-08-12 12:09] tisc0 commented on #323
Hi,
Is this change still planned ? Do you know when it will be added ?

For sure that will change a lot of pipelines for us, and we wonder:
- if you'll keep both syntax for a while
- what feedback did you get to make that decision

Thanks !

[2020-08-14 12:45] marsom opened #600 "OS is not detected: differences in local an client mode"
**Description**

Running
`trivy image docker.io/prom/prometheus:v2.20.0`
and
`trivy client --remote X docker.io/prom/prometheus:v2.20.0`
does not generate the same output

**What did you expect to happen?**
should be the same,

I expexted that I see in both cases that trivy cannot detect the os, but i only see that in the local mode

**What happened instead?**

[code]

[code]

**Output of `trivy -

[2020-08-17 06:10] knqyf263 commented on #588
It seems to be fixed

[2020-08-17 06:10] #588 closed

[2020-08-17 06:12] knqyf263 commented on #586
done

[2020-08-17 06:12] #586 closed

[2020-08-17 06:13] knqyf263 commented on #529
`--exit-code` is a global option. So, you have to specify it before subcommands.

[2020-08-17 06:16] knqyf263 commented on #589
Trivy reuses data gathered during the first scan.

The client sends software metadata with the layer id to the server and the server stores it in the cache. Next time, the client asks which layer ids are missing in the server cache and fetches missing layers only.

[2020-08-17 06:19] knqyf263 commented on #550
If you have any other questions, feel free to open the issue.

[2020-08-17 06:19] #550 closed

[2020-08-17 07:02] imdhruva opened #601 "Unable to load images built by Kaniko via gitlab"
I understand that `kaniko` images are [officially supported](https://github.com/aquasecurity/trivy/pull/171) however my GitLab CI pipeline throws up following err:
[code]
output of command `tar -tvzf image.tar`:
[code]
`gitlab-ci.yaml`:
[code]

[2020-08-17 07:02] zionio commented on #600
Same here on private registry with CentOS 7.6.1810 image

**Client/Server mode**

**Client**
[code]

With Server log
[code]

**Local mode**
[code]

**Version**
[code]

[2020-08-17 09:37] sukhinin commented on #589
Thank you, this answers my question.

[2020-08-17 09:38] #589 closed

[2020-08-17 16:46] Cian911 commented on #282
Could an alternative solution here be to perform `gem cleanup all` after running `bundle install`? This should remove old or stale gems from you system, therefore, trivy should only scan the latest installed gems.

[2020-08-18 03:17] genknife opened #602 "trivy fs has not --skip-update option"
--skip-update option should be one of global options, not command option
THX

[2020-08-18 09:31] aytekinar opened #603 "`--list-all-pkgs` gives false positives"
**Description**

**What did you expect to happen?**

When working with the following `Dockerfile`:

[code]

which I have also uploaded as `aytekinar/dummy` (see below for the history)

[code]

I get the following packages listed:

[code]

<details>
<summary>Contents of dummy.json</summary>

[code]
</details>

I had not expected to see `gcc` as listed in the packages --- `libgcc` is OK to be listed

[2020-08-18 09:33] rinx opened #604 "fullDescription field in SARIF output is not correctly escaped"
**Description**

When I try to upload a SARIF formatted output generated by Trivy using github/codeql-action/upload-sarif@v1, upload-sarif returns an error that indicates the JSON cannot be parsed.

To investigate this problem, I used SARIF Validator (https://sarifweb.azurewebsites.net/Validation) for validating the output SARIF. The result is `JSON0001: The schema is not a valid JSON document.` l

[2020-08-18 09:42] knqyf263 commented on #603
Thank you for the report. `gcc` is a parent package of `libgcc` and it is needed for vulnerability detection. But Trivy doesn't have to show it in `Packages`. We'll fix it.

[2020-08-18 09:43] knqyf263 commented on #604
@rinx Thank you for filing the issue. Could you look into it @simar7?

[2020-08-19 15:31] smijolovic opened #606 "Trivy is not scanning OCI images - index.json: not a directory"
Trivy is not working for any OCI images.

trivy image --input pilot-1.6.8-distroless.tar

2020-08-19T15:29:23.093Z	FATAL	unable to initialize a scanner: unable to initialize the archive scanner: 2 errors occurred:
	* unable to open pilot-1.6.8-distroless.tar as a Docker image: file manifest.json not found in tar
	* unable to open pilot-1.6.8-distroless.tar as an OCI Image: stat pilot-1.6.8-distrol

[2020-08-19 17:44] knqyf263 commented on #606
Trivy supports unarchived directory for OCI images.

[2020-08-19 18:41] #604 closed

[2020-08-20 16:22] sukhinin commented on #591
Sorry for the delay. We're using a quite old version of `docker-distribution` as our registry. I've ran a couple of tests to see how registry responds to different `Accept` header values. It seems v1 manifests are always preferred.

1. No header → `Content-Type: application/vnd.docker.distribution.manifest.v1+prettyjws`
[code]

2. `Accept: application/vnd.docker.distribution.manifest.v1+json` → `C

[2020-08-20 20:52] andrei-dascalu opened #609 "Reporting kernel CVEs"
Hello,

I have a few n00b-ish questions regarding reporting kernel CVEs:

1. How does trivy identify the kernel? Is it based on the generic version of the base image? Is it based on the host where the scan takes place (since an image actually shares the host's kernel)

2. Is there a way to optionally suppress listing kernel-related issues? I would find it useful since I may not scan an image on th

[2020-08-25 10:01] #603 closed

[2020-08-25 10:19] kaspernissen opened #612 "Question: trivy vs snyk results for node:8.15.0-alpine"
We are currently evaluating `trivy` and comparingthe results we get from our current container image scanner tool, `snyk`.

Here's an example:

trivy:
[code]

snyk:
[code]

As seen in the above example `snyk` finds 6 vulnerabilities for node@8.15.0, one example is this CVE: https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-16776 from mitre.org. I would expect `trivy` to find similar results

[2020-08-26 16:01] acobaugh commented on #577
In my case, I'm building an image based on `rocker/r-base:latest`, which is based on `debian:testing`. I get the exact same warnings about the image not being EOL'd, but in this case the message about the OS "no longer supported by the distribution" is maybe just a bit misleading. Testing is supposed to be pretty new, but apparently there are no security advisories published for testing, so techni

[2020-08-26 22:12] rjew24 commented on #486
Has anyone been able to get the initial run for air-gap to work with the cache DB?  I keep getting the error that first run needs to download the DB:
# trivy image --skip-update k8s.gcr.io/pause:3.1
2020-08-26T15:16:01.996-0700    ERROR   The first run cannot skip downloading DB
2020-08-26T15:16:01.997-0700    FATAL   database error: --skip-update cannot be specified on the first run

[2020-08-26 22:25] Gerry9000 commented on #486
The first time you run you need to have a current trivy-db or modify the metadata.json to be current and don't use --skip-update - after that use --skip-update.

[2020-08-26 22:51] rjew24 commented on #486
I went to https://github.com/aquasecurity/trivy-db/releases to download the latest trivy-offline.db.tgz and unpacked it to the default cache dir: /root/.cache/trivy and it contains the trivy.db and metadata.json files.  If I try to run with the --skip-update switch, then I get the error:

2020-08-26T15:54:52.331-0700    INFO    Need to update DB
2020-08-26T15:54:52.331-0700    INFO    Downloading

[2020-08-30 04:02] mozillazg commented on #486
@rjew24 You should put the DB file in the cache directory + `/db` (for example: `/root/.cache/trivy/db/trivy.db` and `/root/.cache/trivy/db/metadata.json` ), read more: https://github.com/aquasecurity/trivy/blob/master/docs/air-gap.md#put-the-db-file-in-trivys-cache-directory

[2020-08-30 07:48] knqyf263 commented on #602
Thank you for the report. `trivy client` doesn't need `--skip-update` option, so `--skip-update` is not a global option. But we should have it in `fs` and `repo` subcommand as well.

@rahul2393 Could you add it to `fs` and `repo`?

[2020-08-30 07:49] knqyf263 commented on #601
@rahul2393 Could you look into it?

[2020-08-30 08:06] knqyf263 opened #616 "Introduce golangci-lint"
https://github.com/golangci/golangci-lint

They have official GitHub Action.
https://github.com/golangci/golangci-lint-action

I think we can disable some of linters such as `errcheck`, `gochecknoglobals` and `gochecknoinits`. At first, we have to run golangci-lint on local machine and figure out how many errors Trivy has and fix them as much as possible.

[2020-08-30 08:07] knqyf263 commented on #616
@rahul2393 Would you work on it?

[2020-08-30 08:11] rahul2393 commented on #616
Yeah, thanks for tagging me, Let me check how many errors currently we have

[2020-08-30 13:24] computeralex92 opened #618 "Add all templates to the docker image"
In the last time multiple templates (like for AWS Security Hub) were added to the template folder, but this templates are not part of the docker image yet.
I think it is a good idea to add all existing templates and all future one to the docker image when the image gets built.

[2020-08-31 08:16] #618 closed

[2020-09-01 02:52] krol3 commented on #532
@knqyf263 could we close this issue?

[2020-09-01 04:13] knqyf263 commented on #532
@krol3 Yes, thanks.

[2020-09-01 04:13] #532 closed

[2020-09-01 09:54] shakenfr opened #620 "Many report for only one image ?"
**Description**
if I launch (for exemple-reproductible)
trivy image quay.io/fluentd_elasticsearch/fluentd:v2.9.0

Only this image

**What did you expect to happen?**
Only one report

**What happened instead?**
4 reports

**Output of run with `-debug`:**
trivy -d image quay.io/fluentd_elasticsearch/fluentd:v2.9.0
2020-09-01T09:52:56.034Z	DEBUG	Severities: UNKNOWN,LOW,MEDIUM,HIGH,CRITICAL
2020-09-01

[2020-09-01 13:25] shakenfr commented on #620
hi, I found it's a same bug as #282 but it's not close for me. I upgrade trivy to 0.11 to have the skip-dirs option; it removes 2 of 4 report for the fluentd image in exemple but one report not waited is always here :

because Gemfile.lock seems to be at /
It's not a good idea to exclude / to obtain a good report, so it is possible to exclude undesirated files, a sort of skip-files option in addit

[2020-09-02 11:58] spawnrider commented on #211
Same issue for me on WLS

My environment :
* Windows 10 Pro 1903
* WLS 1 Kali kali-rolling

[code]

[code]

[2020-09-03 14:52] antoinedeschenes opened #625 "Yarn v2 lockfiles not supported"
**Description**

**What did you expect to happen?**
Trivy should detect vulnerabilities in projects using yarn 2 lockfiles

**What happened instead?**
Trivy doesn't detect Yarn lockfile presence

**Output of run with `-debug`:**

[code]

**Output of `trivy -v`:**

[code]

**Additional details (base image name, container registry info...):**

Added a PR in `go-dep-parser`: https://github.com/aquase

[2020-09-03 15:34] bgoareguer opened #626 "Vendor CVSS score only for Redhat ?"
When scanning Ubuntu or Alpine Docker images with json output format Trivy (version 0.11.0) reports 2 vendors for CVSS scores:
- nvd
- redhat

I expected to get CVSS scores from Ubuntu and Alpine for those images.

Am I missing something ?

[code]

[2020-09-04 12:00] almahaja commented on #257
Hello,
Just wondering if there's any latest update on this?

Thanks

[2020-09-07 07:56] bgoareguer commented on #626
OK, thanks, closing this issue.

[2020-09-07 07:56] #626 closed

[2020-09-08 12:04] #620 closed

[2020-09-08 22:46] mkjpryor-stfc commented on #492
My team uses requirements.txt as a lock file, so support for that would be much appreciated.

More generally, I like the idea of just finding any `site-packages` directories and scanning the `dist-info`s.

An alternative approach could be to locate all `pip` executables and use the output of `pip freeze` to drive the analysis.

[2020-09-09 07:25] yaniv-s opened #630 "Severity on Vulnerability object was deprecated, VendorSeverity is nilled out"
I've recently updated Trivy, and noticed that Severity on Vulnerability was deprecated, users are being instructed to use VendorSeverity, but VendorSeverity return nul from FillInfo.

**What did you expect to happen?**
I expected to have all vendor severity information on the Vulnerability object.

**What happened instead?**
The vulnerability had only Severity and not VendorSeverity

**Output of r

[2020-09-10 02:04] apicht opened #631 "Missing contrib tpl files from release tarball"
At least for `trivy_0.11.0_Linux-64bit.tar.gz`, the only file included in `contrib` is `gitlab.tpl`. It would be convenient to have `*.tpl` included.

[2020-09-10 05:21] cho0o0 opened #632 "webhook support"
Hi, I came across a use case that I needed to send Trivy's scan results to another server. I believe it will be nice to support an  option like `webhook` so that people like me can easily integrate Trivy with webhook endpoints.
I already forked the repository thus I'd like to make a pull request later. It would be more than appreciated to have a review of it.

[2020-09-10 09:02] genknife opened #634 "trivy scan local filesystem not supported in client mode"
trivy should support scan local filesystem using client mode
THX

[2020-09-11 15:28] alterEgo123 opened #635 "Trivy not showing vulnerabilities"
Hello,
Running trivy  image --output json  nginx:1.16.1 doesn't return the vulnerabilities, only the count of each type.

[code]

How can I return the vulnerabilities?

[2020-09-12 15:59] computeralex92 commented on #635
The option ```--output``` is not defining the format of the output, but instead the name of file where is output is saved.
If you want to have a JSON output on stdout, the option ```--format``` is working:

[code]

See also https://github.com/aquasecurity/trivy#save-the-results-as-json

[2020-09-14 07:09] #635 closed

[2020-09-14 22:02] simar7 commented on #630
hi @yaniv-s does the [CVSS](https://github.com/aquasecurity/trivy-db/blob/6da6467703aa934ba1fc925f2cbba05632173bec/pkg/types/types.go#L14-L19) struct member not give you what you're looking for? VendorSeverity has been deprecated and will be removed in the future. We will make an announcement when that happens.

[2020-09-15 11:07] yaniv-s commented on #630
hi @simar7
Thanks for your reply!
Unfortunately, the CVSS does not help me.
As far as I understand, the Severity member on the Vulnerability was deprecated (from code):
`Severity         string         `json:",omitempty"` // Deprecated: Severity is only for backwards compatibility. Use VendorSeverity instead. `
I was looking at the VendorSeverity member, but it is not set (nil).
If Severity is dep

[2020-09-15 17:37] simar7 commented on #630
Could you explain if there was something missing that you were expecting in CVSS? CVSS has everything and more that VendorVectors has. For example:

[code]

[2020-09-15 18:23] yaniv-s commented on #630
Hello @simar7
Thanks again, for your prompt reply.
I might have not clarified myself, I don't mean VendorVector, I mean VendorSeverity map

[2020-09-15 22:59] simar7 commented on #630
Oh sorry I understand now. Yes that's a fair point. I see you've made a PR here: https://github.com/aquasecurity/trivy/pull/637

This would result in an output like this:
[code]

Does this help you or would you rather see a textual representation of the values? Like LOW,MEDIUM,HIGH?

What do you think about this @knqyf263?

[2020-09-15 23:09] #631 closed

[2020-09-15 23:47] simar7 commented on #631
thanks for catching this – the next trivy release should have it. credit to @mrueg for the PR!

cc @knqyf263

[2020-09-15 23:49] simar7 commented on #609
hi @andrei-dascalu – trivy scans by image not by kernel. So if you scan a `centos:7` image, all the packages and libraries contained within would be scanned for vulnerabilities.

for the second and third question, do you have an example?

[2020-09-15 23:51] simar7 commented on #573
hi @juan-chan – they will be once this PR is merged https://github.com/aquasecurity/trivy/pull/596

[2020-09-16 07:19] yaniv-s commented on #630
Hi @simar7
Yes, this would be great for me!

[2020-09-16 10:05] momalik11 opened #639 "OS version - apline 3.8.4 is not supported"
**OS version - alpine 3.8.4 is not supported**

While scanning an image in the ACR, we received a WARN message that OS version of alpine-3.7.3 and 3.8.4 is not supported. As per the GitHub document, it does have a support for alpine versions 3.2-3.12.
.

**What did you expect to happen?**
Scanning of the image with the list of vulnerabilities.

**What happened instead?**

**Output of run with `-de

[2020-09-16 16:35] jeff-cook opened #640 "Dockerfile line attribution"
Has there been any discussion of attributing the source of the vulnerability to how/where it was added to the image?

As I have been tracking back the source of vulnerabilities, so I know where to fix the issue I have found it can be hard to know where it was installed from/at.

An example would be to help determine that a vulnerability was existing in the base (FROM) image or added somewhere from

[2020-09-18 14:57] yaniv-s opened #643 "Replace version matching mechanism from Mastermind/semver to hashicorp/go-version"
Hello,

I've recently noticed some version matching bugs due to Trivy mechanism of normalizing any version into semantic versions.

Libraries' versions in trivy-db are usually using the semantic versioning, especially with vendors such as operating systems' official package managers, but with libraries version matching the situation is sometimes different, although most of the releases do follow t

[2020-09-18 21:49] #602 closed

[2020-09-21 08:04] knqyf263 commented on #634
What is your use case?

[2020-09-21 08:35] knqyf263 commented on #630
Hi @yaniv-s, I'm sorry for confusing you. I wanted to mean `Severity` is not used in trivy-db, but it is used in trivy. The comment is not good. I'll update this comment later.
https://github.com/aquasecurity/trivy-db/blob/6da6467703aa934ba1fc925f2cbba05632173bec/pkg/types/types.go#L123

- Severity
  - It is filled in a JSON result.
- VendorVectors
  - Deprecated
- VendorSeverities
  - Not depreca

[2020-09-21 11:17] yaniv-s commented on #630
Hello @knqyf263
Oh I see, OK. Thank you very much.
And yes, I'd love to have access to VendorSeverities (not VendorVectors)

Best

[2020-09-21 11:20] knqyf263 commented on #630
I'm sorry I made a mistake 😓 Do you have any benefit to access VendorSeverities? I'd like to keep a result as small as possible.

[2020-09-21 13:30] #534 closed

[2020-09-21 18:19] trevorrea commented on #639
Alpine Linux 3.7 and 3.8 are no longer supported by Alpine themselves so it's kind of redundant to try to scan them for security vulnerabilities. That's what the error message is getting at.  See https://wiki.alpinelinux.org/wiki/Alpine_Linux:Releases for the support lifecycles. The solution would be to move to a supported Alpine Linux version.

[2020-09-22 13:09] nayroben commented on #634
Hello,
This would indeed be useful to us as well.
Our use case actually follows from the db download rate's limitation... The scanner is used inside pipelines building docker images and we were thinking about hosting the db into a remote server and use the client/server approach to scan the image while creating it (filesystem mode).
Many Thanks

[2020-09-22 16:12] jeff-cook opened #647 "Add "No OS package is detected" to template as an issue?"
Is there a way to add an issue/failure to a report template for issues in the scan such as `No OS package is detected`?

What I'm running into is when this happens the scan doesn't fail (exit code other than 0), and the (JUnit) report doesn't report any failures. So there is no feedback to show there is an issue.

Not being able to report on vulnerabilities is very different from not having any vu

[2020-09-22 16:15] jeff-cook commented on #647
FYI I do have the exit code set to 1.

[2020-09-23 08:38] momalik11 commented on #639
Ok, this will resolve our issue since only these two versions were showing incompatible. Thank you for looking into it.

[2020-09-23 08:38] #639 closed

[2020-09-23 09:27] knqyf263 commented on #639
@trevorrea Thank you for answering.
@momalik11 As @trevorrea said, Alpine team doesn't provide a security patch of the latest vulnerability for Alpine Linux 3.7 and 3.8. It means Trivy doesn't detect vulnerabilities disclosed after support for alpine 3.7/3.8 has been ended.

[2020-09-23 10:59] knqyf263 commented on #647
@jeff-cook Thank you for filing the issue. A normal image won't cause that error. For example, busybox causes the error, but busybox doesn't have a package manager and Trivy can't find installed OS packages anyway. In what cases do you want to detect the error? I mean there's almost nothing you could do about vulnerability detection even if you detect it.

[2020-09-23 11:03] knqyf263 commented on #634
@nayroben In that case, can't you use `trivy client`? After building a docker image, you can scan the image with `trivy client`.

[2020-09-23 11:21] nayroben commented on #634
In our case, we are actually interested in not building the image (for various reasons...) if trivy scans (among other checks) fail. Building the image, pushing it to a registry, scanning it afterwards and then deleting it/throwing errors if scan failed would be in theory possible, but being able to use filesystem + client/server approach directly in trivy would make our life much easier and would

[2020-09-23 13:32] ar1em opened #649 "Can trivy filter false positive vulnerabilities for centos 7 (epel, remi)?"
Hi, Trivy team
I use Trivy to scan centos:7 based image. However, I get many false positives in result.

Trivy version: 0.11.0
Base image: centos:7 (centos 7.8.2003)
Trivy command: trivy --timeout 5m0s --vuln-type os -f json -q $image-name

<details>
<summary>Click to toggle contents of 'Dockerfile'</summary>

[code]
</details>

The result will contain the following:
<details>
<summary>Click to to

[2020-09-23 15:14] P1ng-W1n commented on #491
It would be definitely useful to have this option, especially as there are additional data sources used by Trivy (for example the Github Advisory Database used by pkg/vulnsrc/ghsa/ghsa.go (referenced by pkg/vulnsrc/vulnsrc.go)).
Those are seem to licensed under the Creative Commons Attribution 4.0 license (https://docs.github.com/en/github/site-policy/github-additional-product-terms#12-advisory-da

[2020-09-23 18:10] simar7 commented on #643
Thanks for the detailed report @yaniv-s

Could you expand more on this? What did you try that was currently not working with the library Trivy uses presently as compared to hashicorp/go-verison?

[2020-09-23 20:46] jeff-cook commented on #647
Primarily I want to have someway to report it with in the CI pipeline. For me that means two options.

- Quit with non-zero exit code
- Add details about warnings in the template function, so it can be added to the JUnit template

A few other warnings I see that would be helpful in the JUnit report.
WARN	This OS version is no longer supported by the distribution: alpine 3.6.2
2020-09-23T20:36:36.1

[2020-09-23 20:48] jeff-cook commented on #647
As a workaround I could look at wrapping Trivy in a testing framework, such as bats.

[2020-09-24 05:33] knqyf263 commented on #647
In other words, what's your next step if you detect "No OS package is detected" warning? Do you replace a base image? Actually, it's just a fact than a scanning issue.

[2020-09-24 09:27] knqyf263 commented on #643
@yaniv-s Thank you for reporting the issue. Unfortunately, we had some problems with `hashicorp/go-version` and replaced it with `Masterminds/semver`. For example, RubyGems allows prerelease with a dot like `1.2.3.a` and it is less than `1.2.3`. `go-version` doesn't work with it.
https://play.golang.org/p/t9zfV3Etfmf

But it looks like there is still an issue even with `Masterminds/semver`. This i

[2020-09-24 10:41] yashvardhan-kukreja commented on #330
I dug into this and this seems like more of an issue/enhancement on the side of fanal.
Because the "Inspect" function which is the entry point for an image to get scanned is a part of fanal under `artifact/image/image.go`
Entrypoint:
https://github.com/aquasecurity/trivy/blob/014be7e143b2d77671908ace785c1b2b06398721/pkg/scanner/scan.go#L85

Function performing the scan:
https://github.com/aquasecu

[2020-09-24 16:03] ca-scribner opened #650 "Cannot run multiple instances in parallel"
**Description**

I would like to run trivy on multiple images in parallel (eg: two scripts are running separately and both will call `trivy` on different images)

**What did you expect to happen?**

Trivy processes would be isolated and proceed as if only one was running

**What happened instead?**

The second trivy process to start appears to wait until the first trivy process has completed befor

[2020-09-25 18:07] simar7 commented on #649
Thanks for the report @ar1em – we're taking a look and will get back to you.

[2020-09-28 10:46] BigFab commented on #612
Hello,

We are running into the same kind of issues here. It appears to us that trivy is not able to analyze the node runtime we are running our container with.
Take node:10.15.3, it contains CRITICAL (9.8 !) vulnerability 2019-15606 https://nvd.nist.gov/vuln/detail/CVE-2019-15606, which is supposed to be fixed after node 10.19.
Trivy is not finding this vulnerability when basing the image on "nod

[2020-09-30 07:47] knqyf263 commented on #491
It makes sense. In fact, we're now considering the option. As for ruby-advisory-db, it includes some data from OSVDB which doesn't allow commercial usage. Now, we're trying to remove those data to make it a commercial friendly data source.
https://github.com/rubysec/ruby-advisory-db/pull/456

After this PR gets merged, we can add the option.

[2020-10-01 00:09] pryorda opened #652 "Excluding Paths in Rego"
Is there a way to exclude paths within the example rego files?

[2020-10-01 06:08] knqyf263 opened #653 "Hacktoberfest at Aqua Security"
Dear community, we appreciate you and your contribution to the success of our open source projects! In celebration of [Hacktoberfest](https://hacktoberfest.digitalocean.com/), we would like to extend our appreciation and reward your hard work. This repository is participating in Aqua Security 2020 Hacktoberfest campaign. For full details and guidelines please visit the official repo: [Hacktoberfes

[2020-10-01 07:08] knqyf263 commented on #652
What is the path? Do you mean a path to a lock file like `/app/Gemfile.lock`?

[2020-10-01 07:15] knqyf263 commented on #650
@ca-scribner Thank you for pointing it out. This limitation is from boltdb.

https://github.com/boltdb/bolt#opening-a-database

As you said, it should be mentioned in README.

[2020-10-01 09:56] knqyf263 commented on #649
It looks like this issue is caused by `remi` repository. `yum install php` usually installs php 5.x, but `remi-php73` installs php 7.x. `remi` repository doesn't seem to provide security advisories and we can't detect vulnerabilities. We should skip the version with `.remi` suffix for now. I think we can insert the process here.
https://github.com/aquasecurity/trivy/blob/329f2452835b241c85659abceb

[2020-10-01 09:58] knqyf263 commented on #649
We can fix this issue shortly, but let me keep it for the first contributor.

[2020-10-01 13:28] KrishKayc commented on #649
@knqyf263

I was trying to contribute by fixing this issue. But unable to reproduce the issue.

Created the image with the given  Dockerfile.

./trivy --timeout 5m0s --vuln-type os -f json -q testimage
[
  {
    "Target": "testimage (centos 7.8.2003)",
    "Type": "centos",
    "Vulnerabilities": null
  }
]

[2020-10-01 16:31] pryorda commented on #652
@knqyf263 Correct

[2020-10-01 17:21] yaniv-s commented on #643
Hello @simar7 @knqyf263
Thank for you replies!

@simar7 - I was planning on creating a report for you, but as @knqyf263 , it seems like it is not the correct solution.

@knqyf263 - in the scenario that you've mentioned, seems like developing a matching function for each programming language is the correct way. I'm still concerned about the examples above - which are an exception, the Python develo

[2020-10-01 17:31] yaniv-s commented on #630
@knqyf263 I would benefit from VendorSeverities, but the root cause is Amazon Linux wrong severity due to the Amazon's advisory which aggregated different CVEs under one object (advisory) and the advisory severity is the highest severity of all of the CVEs under this advisory.
I thought about it and I'll open an issue about it.
Thanks!

[2020-10-01 18:03] computeralex92 opened #654 "Move all templates to a seperate folder"
As discussed already (partly) in #638, it might be a good idea to seperate all templates in a seperate folder and copy only this folder to the container image and the archives.

@knqyf263 To classifier the new structure:
If we move all templates to ```/contrib/templates``` it is a breaking change for all users when using e.g. ```--template "@contrib/sarif.tpl"```.
Is this acceptable for you or sho

[2020-10-02 14:26] yaniv-s opened #656 "Support package manager private repositories/deb/rpm files"
Hi guys

Many products are being installed on Linux machines from private repositories/deb/rpm files, and not from the official package manager's repository.

For example, [MongoDB installation instructions for Ubuntu](https://docs.mongodb.com/manual/tutorial/install-mongodb-on-ubuntu/#install-mongodb-community-edition) instructs to add their private repository, and install it from there. The inst

[2020-10-03 04:47] avats-dev commented on #650
@ca-scribner @knqyf263 can you guide a bit how to resolve this? Thanks

[2020-10-04 19:56] dlemel8 commented on #139
Hey @knqyf263  @masahiro331 , is this issue is still relevant?
I've tried to contribute by resolving this issue, but I can't reproduce it.
It also seems the the cli has changed.

[2020-10-05 07:08] knqyf263 commented on #139
@christian-weiss I'm sorry to miss your message for a long time.

We have a progress bar now and you can know if the DB has finished downloading.

`--debug` shows the detail now.

Thanks.

[2020-10-05 07:12] knqyf263 commented on #139
@dlemel8 Thank you for the offer. I believe this issue was fixed with `--timeout` option, so let me close it. If someone is still facing this issue, please feel free to mention it here.

[2020-10-05 07:12] #139 closed

[2020-10-05 08:25] Surajv311 opened #664 "Readme doc Update"
I believe that the README.md file can be updated.
I can add the **Credits** section in the **Table of Contents** in the README.md file.
(As it has been followed in other participating repos.)
@knqyf263

[2020-10-05 09:34] knqyf263 commented on #664
Thank you for the suggestion! Could you tell me other repos you mentioned?

[2020-10-05 09:42] Surajv311 commented on #664
@knqyf263 Sir, I mean that the table of contents in the repos has been referenced to every part of Readme.md file. Hence I thought adding & referencing the credits section may enhance the readme file of current repo.

[2020-10-05 09:46] knqyf263 commented on #664
I see. I thought you meant other repositories. I'm sorry, but I don't think `Credits` is necessary in the TOC for now. I have intentionally omitted some parts of README to avoid making the TOC longer.

[2020-10-05 09:55] Surajv311 commented on #664
@knqyf263 Okay. Thanks for the info 👍

[2020-10-05 09:55] #664 closed

[2020-10-05 10:51] Alexc0007 opened #665 "make --skip-dirs / --skip-files available when using trivy client"
Hi,
i think it would be useful to make the option --skip-dirs / --skip-files available when using trivy client.
to tell the server which directories of files to skip when traversing.

for now the option is only available when using trivy image...

[2020-10-05 14:20] strowi opened #666 "Difference "fs" vs "repo" scan"
Hi,

i was wondering about the difference between fs and repo scan (if there is any besides the "git clone"-process).
I noticed at least a difference in results:

1. git clone ssh://git@yxzt/..git ./repo
2. trivy fs ./repo:
[code]
3. trivy repo "ssh://git@yxzt/..git":
[code]

Why is "trivy repo" finding the *lock-files but missing vulnerabilities?

regards,
strowi

[2020-10-05 14:20] strowi opened #667 "Difference "fs" vs "repo" scan"
Hi,

i was wondering about the difference between fs and repo scan (if there is any besides the "git clone"-process).
I noticed at least a difference in results:

1. git clone ssh://git@yxzt/..git ./repo
2. trivy fs ./repo:
[code]
3. trivy repo "ssh://git@yxzt/..git":
[code]

Why is "trivy repo" finding the *lock-files but missing vulnerabilities?

regards,
strowi

[2020-10-05 16:29] Mansimar27 opened #668 "Documentation Improvements."

[2020-10-05 16:56] #668 closed

[2020-10-05 18:30] strowi commented on #666
dupe

[2020-10-05 18:30] #666 closed

[2020-10-05 18:48] ca-scribner commented on #650
Sorry I don't really know boltdb or the inners of trivy, but the ideal behaviour would be that one could run two instances of trivy at the same time.  Maybe trivy doesn't need to keep a lock on the database for the whole scan and can instead grab the db at the start, do some things, release the lock, scan, then grab the db again?  That might help with concurrent uses.

I haven't tried it, but I'm

[2020-10-05 19:44] strowi commented on #634
Same here. I think it would be very useful to allow the "--remote" option for all scan options repo, fs, etc. to reduce dependency on github/external sources.
Currently we run a trivy server and scan the resulting container image, but stopping the pipeline as early as possibe will save resources.

[2020-10-05 20:47] #406 closed

[2020-10-05 21:14] neha-viswanathan opened #670 "Help command or flag?"
Currently, we have both flags and command for help.

[code]

We may want to have one, not both.

[2020-10-05 22:17] simar7 commented on #656
hi @yaniv-s thanks for the feedback! You raise a good point. This is a limitation today for packages that are not installed through package manager.

Slightly tangential to your point, we recently developed a new open source tool called [binfinder](https://github.com/aquasecurity/binfinder) that finds such binaries within docker images that are not installed through package manager. It's still in

[2020-10-06 07:07] knqyf263 commented on #656
Thank you for the detailed report. It's a very good point and interesting. As you said, there are two challenges.

1. Data source for each product such as MySQL and PostgreSQL
1. Determine from which repository the package was installed

As for No.2, we're working on it. `rpm` doesn't seem to support repository information, but I believe we can manage to sort it out.

The problem is No.1. There ar

[2020-10-06 09:17] knqyf263 commented on #670
`kubectl` and `docker` accept `help` and `--help` both, so I think we can keep it as is. Let me know if you have any reason we should not have both.

[2020-10-06 18:21] BenjaDiaz opened #672 "Incorrect brew install command in README"
**Description**

The brew install command in the README is incorrect.

**What did you expect to happen?**

Install trivy by running the documented command `brew install aquasecurity/trivy/trivy`

**What happened instead?**

[code]

**Recommended solution**

Replace brew install `aquasecurity/trivy/trivy` with `brew install trivy`

[2020-10-07 00:13] #670 closed

[2020-10-07 16:41] simar7 commented on #672
Hmm interesting, did this recently change upstream on brew? It has worked for me in the past just fine. Would you know @knqyf263?

[2020-10-07 19:34] sanjana1604 commented on #379
@heidemn I would like to contribute.

[2020-10-08 04:14] knqyf263 commented on #672
`brew install trivy` doesn't work in my environment. It makes sense as there is no official formula.

[code]

On the other hand, `brew install aquasecurity/trivy/trivy` works.

[code]

@BenjaDiaz Could you try it again after `brew uninstall trivy` and `brew untap aquasecurity/trivy`? I believe `brew update` is done automatically, but it might be better to do it just in case. Also, what is your bre

[2020-10-08 04:45] knqyf263 commented on #53
OPA was supported at v0.10.0.
https://github.com/aquasecurity/trivy/pull/562

[2020-10-08 13:31] ajinkya599 opened #674 "Output the vulnerabilities that are ignored"
At the moment, Trivy doesn't list the vulnerabilities that got ignored because of being present in `.trivyignore`.
It is useful information for someone reviewing/auditing an image to know which vulnerabilities are present but ignored.

[2020-10-08 15:19] pznamensky opened #675 "Trivy doesn't cache db in "image" mode"
**Description**
It looks like trivy doesn't cache its database that's why after several checks github blocks db downloading.
[code]
I know that it is possible to use api key as a workaround for this issue. But it would be very helpful to use cache instead.

**What did you expect to happen?**
Trivy uses cached db until it expires.

**What happened instead?**
Trivy downloads its db every check.

**O

[2020-10-09 01:12] simar7 commented on #675
hi @pznamensky – thanks for the report. I tried to reproduce it locally but couldn't so I'll need a few more bits of information from you.

A few things of interest here:

1. What OS are you running Trivy on?
2. Do you have write permissions as the user running the Trivy process to create (write) a `metadata.json` file to disk?
If so, could you verify what's inside of it and it's last modified dat

[2020-10-09 08:24] pznamensky commented on #675
Hi @simar7,
thanks for the quick reply.
But actually, I can't reproduce this too :)
[code]
But it appeared twice: on our CI server and locally when I ran in debug mode.

CentOS Linux release 7.8.2003 (Core)

Yes, no doubt.
Though I guess it's not relevant right now because I can't reproduce this issue, but here are output of that commands:
[code]
[code]

No, we're syncing the clock every several h

[2020-10-09 23:50] simar7 commented on #675
Hmm that's interesting. Keep us posted!

[2020-10-10 07:22] mozillazg commented on #675
@simar7 @pznamensky The root case is the cron job to update trivy db was failed during 10.1 ~ 10.7,  so the trivy download an old db and try to download latest db again at every start time. read more: https://github.com/aquasecurity/trivy-db/issues/73

[2020-10-11 07:24] #650 closed

[2020-10-11 13:15] knqyf263 commented on #675
As @mozillazg explained, that is because the DB build was failing and Trivy downloaded an old DB every time. I think we should introduce a mechanism to cache the DB even when the DB build is failing.

[2020-10-12 10:41] alterEgo123 opened #680 "PDF output format"
I think it might useful to generate trivy reports as pdf. I, for example need to report image scans to my manager and it would be better for him to read a pdf rather than screenshots.

[2020-10-12 10:59] sean-redmond opened #681 "NuGet Support"
I am using trivy and really like the tool, I would love to see support for checking NuGet packages for .net core containers.

[2020-10-12 12:04] pznamensky commented on #675
Thank you all!
Should I close this issue, then?

[2020-10-12 20:58] exactlyaron opened #682 "CircleCI remote docker version"
Per - https://discuss.circleci.com/t/old-linux-machine-image-remote-docker-deprecation/37572

Remote Docker version 18.06.0-ce will soon be deprecated.  Should be updated with a newer version.

[2020-10-12 23:09] ng29 commented on #667
hey @strowi

Can i get more insight of this so that can pick it up.

[2020-10-13 08:15] knqyf263 commented on #675
Yes, please. I'll raise another issue to fix the root cause.

[2020-10-13 08:19] #675 closed

[2020-10-13 12:29] knqyf263 opened #684 "Skip downloading DB if a remote DB is not updated"
When the cron job building trivy-db on GitHub Actions fails, trivy downloads an old DB and tries to download the latest db again at every start time.
https://github.com/aquasecurity/trivy/issues/675

Trivy should skip downloading DB if a remote DB is not updated.

[2020-10-13 12:39] #682 closed

[2020-10-13 14:42] 06kellyjac opened #685 "package trivy for nix/nixOS in nixpkgs"
package trivy for nix/nixOS in nixpkgs

issue created as per [aquasecurity/Hacktoberfest](https://github.com/aquasecurity/Hacktoberfest) requirements

Resolved by https://github.com/NixOS/nixpkgs/pull/99407

---

Trivy is now in `nixpkgs` on `master`, I'm happy to close the issue now or if you'd prefer we can close this once it hits `unstable` (a more commonly used release channel) or a stable rel

[2020-10-13 20:57] pippo commented on #649
Same here. Can't reproduce with trivy built from `master` branch and provided Dockerfile:
[code]

[2020-10-13 21:50] pippo commented on #680
I'd like to give this a try.

[2020-10-14 01:34] simar7 commented on #680
hi @alterEgo123 there has been some previous work w.r.t. adding support for HTML template [here](https://github.com/aquasecurity/trivy/pull/567), which could be rendered as a PDF as well. Was that what you had in mind or something else?

[2020-10-14 06:32] neha-viswanathan commented on #684
Hi @knqyf263 do you think this would help - https://docs.github.com/en/free-pro-team@latest/actions/guides/caching-dependencies-to-speed-up-workflows#using-the-cache-action

[2020-10-14 07:41] alterEgo123 commented on #680
@simar7 in the simplest of ways, I thought about generating a PDF with Trivy's output as it is, but I think that an HTML template would be much nicer

[2020-10-14 08:00] knqyf263 commented on #684
No, I don't think so. It is a cache for GitHub Actions, right? I meant Trivy's runtime cache.

[2020-10-14 08:29] knqyf263 commented on #649
@rahul2393 Can you help them reproduce it?

[2020-10-14 08:30] knqyf263 commented on #685
Thanks a lot!

[2020-10-14 08:30] #685 closed

[2020-10-14 08:33] rahul2393 commented on #649
Checking

[2020-10-14 08:54] knqyf263 commented on #681
It sounds nice.

1. Implement a new parser of `packages.lock.json` in [go-dep-parser](https://github.com/aquasecurity/go-dep-parser)
1. Add a new analyzer like other package managers in [fanal](https://github.com/aquasecurity/fanal/tree/master/analyzer/library)
1. Implement a new detector in [trivy](https://github.com/aquasecurity/trivy/tree/master/pkg/detector/library) at last

[2020-10-14 08:57] knqyf263 commented on #674
How do you want to see those vulnerabilities? Can we just display them as a log message or need to output them in the JSON result?

[2020-10-14 09:01] masahiro331 commented on #649
reproduced
[code]

[2020-10-14 11:14] Johannestegner commented on #681
I'll gladly take a look at this. Will set up a PR draft in `go-dep-parser` as soon as I have something started on that part if noone else have done it before ;)

[2020-10-14 11:28] Johannestegner commented on #681
@knqyf263 , I have a question:

NuGet does not create a lock file by default, it's more of an opt-in thing. The default dependency file is basically the csproj file, with the `PackageReference` xml node, while if activating the lock functionality, a `packages.lock.json` file is created.

Should the parser _only_ look for the `packages.lock.json` file, or should it use the PackageReference nodes as

[2020-10-14 11:38] rahul2393 commented on #649
<img width="1440" alt="Screenshot 2020-10-14 at 5 08 10 PM" src="https://user-images.githubusercontent.com/18293335/95983783-d8ebe980-0e3f-11eb-84a2-267e846bc490.png">
Interestingly  at my end also it's not replicated

[2020-10-14 11:45] pippo commented on #649
@masahiro331  thanks, but still no.

Runnunig the shell script ends up with a successful run:
[code]

[2020-10-14 13:40] knqyf263 commented on #681
Hi @Johannestegner, thank you for the quick action! I'm not familiar with NuGet yet. Does `PackageReference` include the exact version or just a package name?

[2020-10-14 13:42] knqyf263 commented on #649
@pippo Do you have `rpm` command in your local env? If no, you have to install it.
https://github.com/aquasecurity/trivy#binary

[2020-10-14 13:46] Johannestegner commented on #681
Hi there!

Well, the `PackageReference` contains a package name, some extra data (both as props and sub-nodes) and a version property which can be a "floating version" (quite annoying yes!). I think that the packages.lock.json file is good to have as a primary target (like for example npm's package-lock.json) while the .csproj's PackageReference entries might be a good idea to parse too (if none-l

[2020-10-14 13:58] knqyf263 commented on #681
I see. Let's start with `package-lock.json` as a first step. Then, we can support a `.csproj` file. But my concern is that we might need to communicate with the repository to determine the exact version. It is like reimplementing of NuGet partially. I'm not sure how hard it is.

[2020-10-14 14:22] Johannestegner commented on #681
Aye, was basically what I was thinking too. And honestly, I would think that if someone scans their code for vulnerabilities, it's quite likely that they lock their versions anyway :)

[2020-10-14 14:35] pippo commented on #649
Thanks for the hint, @knqyf263. I didn't have it installed, indeed.
However, installing it didn't change anything.
[code]

[2020-10-14 14:38] knqyf263 commented on #649
Did you clear the cache?

[2020-10-14 14:43] knqyf263 commented on #681
Or, does NuGet have a metadata file for an installed package like *.gemspec in RubyGems? If so, we can look for all files with such a suffix and parse those files.

[2020-10-14 14:45] pippo commented on #649
Nope, I hadn't and that was the issue for me. 🤦
Now I can reproduce it both with the shell script provided & manually. Thanks.

I can try working on the fix later today.

[2020-10-14 15:13] Johannestegner commented on #681
When it is compiled, is have a `Project.deps.json` which contains all dependencies, but that would not work on a Repository or a none-compiled application, only when compiled and all debug data is left.
So quite uncertain file that is.

@sean-redmond, which file would you expect that the scanner scanned in a netcore project?

[2020-10-14 17:41] nycalex opened #687 "not detecting CVE-2019-15903"
**Not detecting CVE-2019-15903**

when scanning an older version of postgres:9.6 (based on debian 9.9)  with the latest db & trivy version 0.12 is not detecting that CVE.
I manually connected into the container bash via docker, and validated that the vulnerable version of the package is there.
Other vulnerabilities are detected accurately in this image

**Output of run with `-debug`:**

[code]

**

[2020-10-15 05:17] knqyf263 commented on #687
@rahul2393 Could you look into it?

1. Check the fixed version of CVE-2019-15903 in vuln-list
1. Check the fixed version in [JSON API](https://security-tracker.debian.org/tracker/data/json)
1. Make sure that they are the same
1. Check the installed version in postgres:9.6
1. Compare those versions

[2020-10-15 07:40] Hokwang opened #688 "[FR] provide helm chart for trivy server"
Hi,

I am using Harbor but didn't integrate with trivy.
Because I experienced harbor performance issue. (actually it was clair anyway)

I just want to deploy trivy server
for any trivy commands can use it.

can you provide helm chart or operator?

key features are
1) save db at PV
2) schedule db update
3) provide endpoint

[2020-10-15 08:01] rahul2393 commented on #687
Ack

[2020-10-15 10:16] sean-redmond commented on #681
Hey @Johannestegner - Thanks for taking a look at this feature request.

The .csproj file is XML but can be useful if trivy is used maybe with a flag such as `fs` to scan an uncompiled repo, a sample of what it has is looks like this:

`<PackageReference Include="Serilog" Version="2.9.0" />`

Its worth pointing out however the Version can be set to a value of `*` meaning latest, or something like

[2020-10-15 11:26] Johannestegner commented on #681
Hi @sean-redmond ! Thanks for the response, and happy to have the chance to work on trivy, I use it a lot and have wanted to contribute for some time now, hehee.

Looking at the other analyzers in the project, most (if not all) of them uses the `lock` files for scanning. This is probably (I'm guessing here) partially because the lock files have specific versions (not floating versions but exact on

[2020-10-15 12:32] darkwizard242 opened #689 "Debian Stretch - Installation fails with: No package matching 'trivy' is available"
**Description**

Unable to locate trivy package on Debian Stretch (9) when using repository source:

[code]

This has started to occur from a day or two.

**What did you expect to happen?**

Able to find the package and install it.

**What happened instead?**

After adding the repository source and updating the repository cache, getting the following:

[code]

**Additional details (base image name

[2020-10-15 14:27] nycalex commented on #687
if it helps in any way:

running **apt list --installed | grep libexpat1** from inside the container shows version **2.2.0-2+deb9u2**
libexpat1/now 2.2.0-2+deb9u2 amd64 [installed,local]

This container is based on debian release named Stretch.

Per https://security-tracker.debian.org/tracker/CVE-2019-15903, in Stretch, the fixed version is **2.2.0-2+deb9u3**

Thanks for looking into this!!!

[2020-10-15 14:39] rahul2393 commented on #687
I think this is because of the version check issue, I ran a unit test to compare 2.2.0-2+deb9u2 with 2.2.0-2+deb9u3 and it was failing, let me push a unit test in a PR covering this case
https://github.com/aquasecurity/trivy/issues/643
@knqyf263

[2020-10-15 14:49] zidhumenon commented on #531
Hey @knqyf263 any update on this?

[2020-10-15 14:54] prabha1331 opened #690 "Do you have a Plan to develop an API for Trivy?"
If yes, When we can expect API to be available for Trivy?

[2020-10-15 15:36] fpytloun opened #691 "Option to export and re-test package references"
My use-case is to monitor vulnerabilities in image over time, eg. to have daily job that will run trivy against given image.

But pulling image all the time is resource wasting, might require credentials, etc. Instead it would be great to have option to export package references and support in `trivy fs` to use it as an input.

Format could be JSON and this feature should work for both OS and libr

[2020-10-15 19:38] bitsofinfo opened #692 "feature: server mode: auto update database"
We run trivy on a CI cluster in server mode, how often does the vulnerability database auto update? or is it only on startup?

If only on startup can an option please be added to auto update it?

[2020-10-16 07:19] simar7 commented on #690
hi @zidhumenon - could you explain a bit more by what you mean by API? Are you wanting to use Trivy as a library or something else?

[2020-10-16 09:50] irizzant opened #693 "False positive detected in bitnami/fluentd image"
**Description**

I had launched trivy for image bitnami/fluentd:
[code]
and got the following results:
[code]

In reality the rake versions are correct:
[code]

**What did you expect to happen?**
The CRITICAl issues should not be reported

**What happened instead?**
The CRITICAl issues are reported

**Output of run with `-debug`:**

[code]

**Output of `trivy -v`:**

[code]

**Additional details (

[2020-10-16 11:57] Asgoret commented on #257
Any information?

[2020-10-16 13:10] gstolz opened #694 "authentication problem with AWS ECR"
**Description**

I would like to scan Docker images stored in AWS ECR. The registry requires authentication.
`docker login && docker pull` works. Scanning image locally works without a problem. But for automation purposes I don't have  DinD and I would like to avoid extra pulling.
Therefore I followed the instruction to use AWS ECR remote repo. As described in[ AWS SDK envvars](https://docs.aws.am

[2020-10-18 08:14] knqyf263 commented on #694
`repo` is not for a container registry. Could you try `trivy image`?

[2020-10-18 08:18] knqyf263 commented on #693
If you want to suppress vulnerabilities of existing gems, you can use `--skip-files` or `--skip-dirs`.
https://github.com/aquasecurity/trivy#skip-traversal-in-the-specific-directory

[2020-10-18 08:18] #693 closed

[2020-10-18 08:21] knqyf263 commented on #692
It is updated automatically on startup and every 12 hours.

[2020-10-18 08:21] #692 closed

[2020-10-18 13:50] mozillazg commented on #684
@knqyf263 What do you think about add a new field `DownloadedAt` to `metadata.json` after download db, and check value of this new field to see whether it should to download new version of db (only download when `DownloadedAt < now - 1hour`).

[2020-10-18 13:51] irizzant commented on #693
~/reopen
This is not what is needed. Ignoring a directory doesn't fix a false positive and indeed exposes to real vulnerabilities that would be otherwise pass undetected.

[2020-10-18 14:03] mozillazg commented on #601
@imdhruva That's because your CI not export the docker image as `image.tar`, so trivy can't scan the tar file and raise `unable to open image.tar as a Docker image: unable to open the file: open image.tar: no such file or directory` because of it is not exist.

Change

[code]

to

[code]

it will work as expected. Otherwise you should scan image digest instead of tar file.

[2020-10-18 19:19] gstolz commented on #694
Thank you very much for the clarification! I don't know why I mixed that up...

[2020-10-18 19:19] #694 closed

[2020-10-19 09:03] knqyf263 commented on #693
Could you explain which vulnerability are you talking about? CVE-2020-8130? It looks like it's not wrong. Also, it is scored 9.3 as cvss_v2.
https://github.com/rubysec/ruby-advisory-db/blob/2dd2668e0155c33bb802088b93bdf5b25ae6e9e0/gems/rake/CVE-2020-8130.yml

[2020-10-19 09:06] knqyf263 commented on #684
@mozillazg Nice! That is exactly the same as my idea.

[2020-10-19 09:27] anushkrishnav opened #698 "Greetings Github Action"
# What would you like to be added
Create a Contributor Greetings Bot

# Why is this needed
Every Contributor to an OpenSource Project is special that is why I feel We should add a small GithubAction to give a warm welcome to the contributors.

[2020-10-19 09:58] irizzant commented on #693
If you have a look at the issue I reported the following:
[code]
which means that the rake versions installed in the image are 13.0.1 and 12.3.3.

It means that CVE-2020-8130 is actually present but in versions that are not the ones installed, so Trivy is reporting issues that do not affect this image at all as reported [here](https://quay.io/repository/bitnami/fluentd/manifest/sha256:2b6edd422d16

[2020-10-19 11:35] knqyf263 opened #700 "feat(ruby): support gemspec"
Currently, Trivy traverses all paths and looks for all Gemfile.lock in a container image. However, the image sometimes has only Gemfile.lock and doesn't install gems listed in the Gemfile.lock. I think a gem should have *.gemspec file if it is installed. e.g. `rake.gemspec` has the information about `rake`.

To avoid false positives from Gemfile.lock, we are probably able to take advantage of `*.g

[2020-10-19 11:37] knqyf263 commented on #693
I see. It is the same as https://github.com/aquasecurity/trivy/issues/282. As a workaround, you can use `--skip-files` and `--skip-dirs`. I raised [a new issue](https://github.com/aquasecurity/trivy/issues/700) to address the root cause.

[2020-10-19 11:56] masahiro331 commented on #690
@zidhumenon
This is minimum trivy client library.
https://github.com/masahiro331/trivy-client-py

[2020-10-19 13:04] Johannestegner commented on #681
There is another discussion going on in one of the PR's, that I just wanted to add a reference to here so (to make it easier to navigate between the different problems with the implementation! hehe): https://github.com/aquasecurity/trivy/pull/686#issuecomment-712138896

In short: Legacy packages can have a versioning which looks like: `<major>.<minor>.<build>.<revision>` while newer follow SEMVER-

[2020-10-19 13:40] tspascoal opened #702 "False positive with rubygem activesupport (rails)"
**Description**

**What did you expect to happen?**

No vulnerabilities reported

**What happened instead?**

Reporting a vulnerability  ([CVE-2020-8165](https://nvd.nist.gov/vuln/detail/CVE-2020-8165) which states only < 6.0.3.1 is vulnerable) on a version that no longer is vulnerable

Version being detected is `6.0.3.4` whereas the fix was made in `activesupport 6.0.3.1`

If I use a dummy versio

[2020-10-19 21:37] jeff-cook commented on #647
Possible replace the base image, or find why no packages are reported. The issue is by looking at the report all you see is there are no vulnerabilities. Which is not true.

I agree it is a fact. How can we include a fact in the output?

[2020-10-19 22:01] #698 closed

[2020-10-20 07:29] BobVanB opened #703 "Warning output in client, for unsupported images (like scratch)"
**Our setup:**
* trivy server
* trivy client

**When we try an image that is not supported:**
trivy client wil report the following:
[code]
And the server gives a warning:
[code]
**My request is:**
1. show the warning in the client
2. or make this an unsupported error
3. return valid json when running with `-f json`
4. return json with the error in output
    `{ "status": "failed", "reason", "unsu

[2020-10-20 18:12] Johannestegner commented on #702
I think this might be an issue with the parsing of the package, currently Trivy expects a version to be in semver format while the format of the specific package seems to be in the same format as legacy nuget packages. I'm currently working on that in #686.

The big difference here seems to be that the final value does _not_ indicate build version. So I kind of wonder what it means in the ruby eco

[2020-10-21 01:27] juan-chan commented on #573
wow wonderful! thanks again.

![image](https://user-images.githubusercontent.com/49066821/96661786-8484c480-137f-11eb-816f-dd0c3f077825.png)

version: v0.12.0

[2020-10-21 01:27] #573 closed

[2020-10-21 01:28] juan-chan commented on #573
ps: I didn't see them on the table format, could I config output fields in default format?

![image](https://user-images.githubusercontent.com/49066821/96661872-b5fd9000-137f-11eb-8854-05d8ecff0140.png)

[2020-10-21 08:16] knqyf263 commented on #531
Trivy displays an image id. You can find the difference between an image id and a digest.
https://stackoverflow.com/questions/56364643/whats-the-difference-between-a-docker-images-image-id-and-its-digest

A digest sometimes doesn't exist.
https://stackoverflow.com/questions/39811230/why-doesnt-my-newly-created-docker-have-a-digest

You can use the image id for this purpose. Do you still need a dig

[2020-10-21 08:23] knqyf263 commented on #687
It's pretty confusing, but `2.2.0-2+deb9u3` is not a fixed version, just the latest version. The problem seems that OVAL doesn't have `expat` here.
https://github.com/aquasecurity/vuln-list/blob/master/oval/debian/stretch/2019/CVE-2019-15903.json

@rahul2393 Could you look into it?

[2020-10-21 08:25] knqyf263 commented on #687
Ah, but in this case, the latest version and the fixed version might be the same.
https://security-tracker.debian.org/tracker/DSA-4530-1

[2020-10-21 11:28] knqyf263 commented on #257
We don't have a plan to release a Jenkins plugin for Trivy. But it sounds like a nice idea. We really welcome your contribution. You can publish a new plugin following the official guides.
https://www.jenkins.io/doc/developer/publishing/#how-to-guides

[2020-10-21 11:29] knqyf263 commented on #689
Thanks for your report! This is because `stretch` recently reached End-of-Life.
https://wiki.debian.org/DebianReleases

The following command no longer return `stretch`.
[code]

I updated the deb repository manually and this issue should have been fixed. Could you check it?

[2020-10-21 12:09] knqyf263 commented on #688
You can use `--with-trivy` in Harbor. Doesn't it work to you?
https://goharbor.io/docs/2.0.0/administration/vulnerability-scanning/

[2020-10-21 14:02] angelbarrera92 commented on #94
We are doing it here: https://github.com/sighupio/trivy-offline

[2020-10-21 14:35] 06kellyjac opened #707 "why was trivy 0.12.0 re-released?"
I updated `trivy` from `0.11.0` to `0.12.0` in nixpkgs 8 days ago https://github.com/NixOS/nixpkgs/pull/100421

Now there's been a new release of `0.12.0` within the last 4 hours

![image](https://user-images.githubusercontent.com/9866621/96734393-67b5b480-13b2-11eb-9774-dd707655fbf5.png)

The sha256 nix generated seems to still be the same: `0vgir7sc14lb0wqwr786sq77pda6rw7svwr6hxklckkn20d9z7z0`

[2020-10-21 14:54] knqyf263 commented on #707
Oh, sorry about that. We had a problem with Debian stretch (see https://github.com/aquasecurity/trivy/issues/689) and needed to release v0.12.0 again. It just modified the Debian release script, so no changes to Trivy itself.

[2020-10-21 14:57] 06kellyjac commented on #707
Ah awesome. Just to clarify there weren't any changes to the files in this repo?

[2020-10-21 15:01] knqyf263 commented on #707
No changes in Trivy repository. I just updated `trivy-repo` manually, but it was difficult to update only Debian repo.
https://github.com/aquasecurity/trivy-repo/commit/c111ae2c2ac0fa8fda9ee0df35cd01c114e6395e

Also, I'm fixing the script to address the issue.
https://github.com/aquasecurity/trivy/pull/706

I'll take NixOS into consideration next time. Sorry for the inconvenience.

[2020-10-21 15:06] 06kellyjac commented on #707
No problem at all. As long as the re-release is on the same commit everything's all good for nix.
If the re-release uses a different commit e.g. a release had a secret so you want to force push and re-release to get rid of it, ideally the new one would have an incremented version number. Worst case where you have to re-release and keep the version number that's still ok, I can just update the `sha

[2020-10-21 15:06] #707 closed

[2020-10-21 15:15] knqyf263 commented on #707
I'm relieved to hear that.

I believe it will never happen.

I got it.

Thanks for your confirmation!

[2020-10-21 18:01] WolfangAukang opened #708 "Specify on SARIF report which Dockerfile/image is being scanned"
I want to implement Trivy Github Action on a repo that contains multiple variants of a container image. The idea is that I am running a workflow for each version, like:

- Workflow 1 will build image `myimage:variantX` and scan it
- Workflow 2 will build image `myimage:variantY` and scan it

The problem I'm having currently and I don't know if a solution is already available is that on the *Securi

[2020-10-21 23:53] pascalandy commented on #94
Exactly what I was looking for @angelbarrera92

[2020-10-21 23:53] #94 closed

[2020-10-22 01:14] simar7 commented on #708
hi @WolfangAukang - good question! Currently GitHub Code Scanning requires the service (Trivy Github Action) to specify a source of the vulnerability that is being flagged. For the initial release of the Trivy Github Action we went in with assumption that the user is scanning an image that they've built from a Dockerfile. And that the said Dockerfile is present inside the repo being scanned (so we

[2020-10-22 01:39] pascalandy opened #710 "There are no results when I scan my git repo (no lock files)"
**Description**

I use Trivy in my CI. The Dockerfile scan works as expected.

I saw I can **scan a git repo** in your README. So I added the steps:

[code]

The CI run normally, there are no results when I scan my git repo.

**What did you expect to happen?**

Results about my git repo.

**What happened instead?**

https://github.com/firepress-org/ghostfire/runs/1290151071?check_suite_focus=true#

[2020-10-22 01:54] pascalandy opened #711 "PR: ISSUE_TEMPLATE formatting"
On https://github.com/aquasecurity/trivy/blob/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md
In this template, for the sections, I suggest to use **H2** instead of **bold**
Let me know if you would like a PR :)

# TEMPLATE SUGGESTION
[code]

## Description
This text is used as a placeholder. Words that will follow won't make any sense and this is fine. At the moment, the goal is to build a structure

[2020-10-22 04:16] knqyf263 commented on #710
The `repo` scan looks for lock files and detects vulnerabilities of a library for programming language. The repository doesn't include any lock files.
https://github.com/firepress-org/ghostfire/

[2020-10-22 05:36] ajinkya599 commented on #674
@knqyf263 We are building some tooling around Trivy. So we want the vulnerabilities in the JSON result.

[2020-10-22 11:47] darkwizard242 commented on #689
@knqyf263 - Ah, that makes sense. Btw, was able to install trivy package after your manual update to the repository. Thanks very much !

[2020-10-22 12:19] WolfangAukang commented on #708
Thank you @simar7! Will stay tuned for sure

[2020-10-22 13:51] pascalandy commented on #710
OK, so you are saying everything runs normally right? I think we should see a message confirming this statement :)

[2020-10-22 14:13] shosca opened #713 "Possible false positive on django 3.0.10"
**Description**

Possible false positive for django 3.0.10 for [CVE-2019-19844](https://www.djangoproject.com/weblog/2019/dec/18/security-releases/)

**What did you expect to happen?**

trivy check to pass

**What happened instead?**

[code]

**Output of run with `-debug`:**

[code]

**Output of `trivy -v`:**

[code]

**Additional details (base image name, container registry info...):**

To replic

[2020-10-22 14:28] simar7 commented on #711
Sounds good @pascalandy - go ahead and open a PR!

[2020-10-22 15:40] pascalandy commented on #711
PR: https://github.com/aquasecurity/trivy/pull/714/

[2020-10-22 21:15] simar7 commented on #711
Thanks!

[2020-10-22 21:15] #711 closed

[2020-10-23 02:01] Hokwang commented on #688
@knqyf263 Thanks for your comment, I was waiting your comment.

I think that
- anyone can use trivy without harbor,
- actually deploying trivy (server) in kubernetes will be simple and easy.
- I am using harbor really but I think really good process is that if container has vul. issue, we can find out in CI process, and that container should not push to harbor. I want to prevent it.
so admin, mana

[2020-10-23 11:19] bgoareguer opened #715 "Add version endpoint to trivy server"
As an end user, I want to always make sure that I use the Trivy client version that corresponds to the Trivy version deployed on the server.

Trivy has client/server mode and the server provides some endpoints. It would be useful if it could provide /version that returns status code 200 and the same information as when calling `trivy --version --format json` from the command line:
[code]

With the

[2020-10-24 05:32] knqyf263 opened #716 "feat(python): support PKG-INFO and METADATA"
Currently, Trivy traverses all paths and looks for all Pipfile.lock or poetry.lock in a container image. However, the image sometimes has only Pipfile.lock and doesn't install python packages listed in the Pipfile.lock. A python package should have PKG-INFO and METADATA depending on `egg` or `wheel`.

https://packaging.python.org/discussions/wheel-vs-egg/

To avoid false positives from Pipfile.loc

[2020-10-24 13:22] alapierre opened #719 "trivy do not use cached database and download it every time when start"
## Description

Version: 0.12.0
Vulnerability DB:
  Type: Light
  Version: 1
  UpdatedAt: 2020-10-21 12:21:42.374715307 +0000 UTC
  NextUpdate: 2020-10-22 00:21:42.374714307 +0000 UTC

but every time I run trivy it start downloading database again

[2020-10-24 20:53] tisc0 commented on #719
Hi,
I also have the problem now with 0.10.2, and had that problem a couple of weeks ago, with older version (0.9.2) but had no time to post since it took me a day to fix the issue in all our CI chains... for nothing since it fell back to work properly 2 days after.
Had ideas of why that would happened, and since I didn't change anything on my local binaries, the problem would have been from the se

[2020-10-24 22:16] jeff-cook commented on #703
This would be a good answer to #647.

[2020-10-24 22:20] jeff-cook commented on #674
Knowing what was ignored in the JSON would be ideal.

The best option would be to show all entries in the ignore file, and which of them were also found in the image.

Having that would allow us to know if something was ignored and found, and if there is something that may not need to be ignored anymore. (ie it was fixed in the base image and no longer needs to be ignored.)

[2020-10-24 22:28] jeff-cook commented on #382
It would also be nice to have the database version or date.

[2020-10-24 22:41] jeff-cook opened #720 "Multiple report options"
Is there a way to save the JSON output then run Trivy with that as input to get the output in a second format? Without having to perform the scan twice?

I need one format (XML) for feedback to the pipeline system, and another (JSON) for our security team.

I'm currently running the scan twice. Luckily it is fast enough, but seems a waste.

Thanks

[2020-10-24 23:25] BobVanB commented on #703
I dont mind the solution, if i can parse it from the client side.

[2020-10-25 00:43] mozillazg commented on #719
@alapierre @tisc0 This case is same as #675 and the root case is described in #684.

[2020-10-25 06:37] alapierre commented on #719
today everything works fine

[code]

[code]
[code]

[2020-10-25 06:37] #719 closed

[2020-10-25 09:04] knqyf263 commented on #719
@alapierre @tisc0 I'm sorry for the inconvenience. GitHub Advisory Database recently added unexpected value and Trivy DB has failed due to the change. I changed trivy-db to handle the value.

Now, @mozillazg is trying to fix the root issue (thank you, btw) and this problem won't happen again after merging his PR.

[2020-10-25 13:30] knqyf263 commented on #681
I'm sorry for the late reply. I agree with you. `packages.lock.json` looks fine as a primary target.

[2020-10-26 07:07] #684 closed

[2020-10-26 11:03] knqyf263 commented on #720
The scan result is cached and the second scan will skip downloading layers, so it should be fast enough. Trivy doesn't support multiple reports as of today.

[2020-10-26 11:14] #649 closed

[2020-10-26 11:18] knqyf263 commented on #674
@simar7 @lizrice Any thought?

[2020-10-26 11:23] knqyf263 commented on #689
We merged the PR to keep EOL versions, so I hope that it will never happen. Thank you for reporting!

[2020-10-26 11:23] #689 closed

[2020-10-26 11:29] knqyf263 commented on #710
Yes, it seems that everything is fine in your case. Do you mean "no lock files are detected" or something like that?

[2020-10-26 11:29] lyssix opened #721 "Trivy unable to scan any images"
## Description

Trivy is showing the same error whenever I try to scan a Docker image.

## What did you expect to happen?
Scan Docker image

## What happened instead?
Trivy is showing this error

[code]

## Output of `trivy -v`:

[code]

[2020-10-26 11:39] knqyf263 commented on #688
It makes sense. I'm sure we can easily provide the helm chart based on [harbor-scanner-trivy](https://github.com/aquasecurity/harbor-scanner-trivy/tree/master/helm/harbor-scanner-trivy)

PR welcome!

[2020-10-26 12:38] knqyf263 commented on #680
If you still need PDF, please feel free to reopen the issue. Thanks.

[2020-10-26 12:38] #680 closed

[2020-10-26 13:09] pascalandy commented on #710
Yes.

Or better:

[code]

At the moment, the "none feedback" make me unsecure.

[2020-10-26 13:11] knqyf263 commented on #652
Rego receives detected vulnerabilities only. If you want to exclude paths, you can use `--skip-files` or `--skip-dirs`.

[2020-10-26 13:13] knqyf263 commented on #710
OK. Could you raise a new issue?

[2020-10-26 13:17] angelbarrera92 opened #722 "How the fixed_version attribute works? CVE-2019-20367"
Hi team!

I am trying to understand how the `fixed_version` works.

In my use case, I want to patch a CVE (CVE-2019-20367) in the upstream `python:3.8.6-buster` image.

If you run:
[code]

Ok, based on the information available here: https://security-tracker.debian.org/tracker/CVE-2019-20367 and in the json api: https://security-tracker.debian.org/tracker/data/json

It is resolved in the `sid` rel