[2022-02-14 09:33] afdesk commented on #1719
@marinpurgar thanks for your interest in `trivy`!
`trivy` has next using global options:
[code]
in your case:
[code]

[2022-02-14 09:35] afdesk commented on #1718
@AErmie thanks for your report!
I'll try to clarify this issue. It's important for us!

[2022-02-14 09:38] marinpurgar commented on #1719
Yes, I just figured it out. Please close the issue.

[2022-02-14 09:38] #1719 closed

[2022-02-14 12:11] guyb1 opened #1721 "Change default os.Stdout output when using Trivy directly from Go project"
I am calling Trivy directly from my Go project the following way:

[code]

I would like to be able to set the Writer in the struct `cli.App` (received by `commands.NewApp`) and supply a different Writer rather than the default os.Stdout.
That way I could read the output of Trivy directly from my Go code without manipulating files.

[2022-02-14 15:55] krol3 commented on #1717
[code]
@knqyf263  thanks for your help! If you think this is relevant, I could add a section in the documentation about troubleshooting DB trivy connection. Also how can be bypass this error? For example download the DB manually.

[2022-02-14 20:04] jdesouza commented on #1613
Hey, how are you? Any update on this one?

[2022-02-15 09:13] alecsz commented on #748
Hi @afdesk,

no this is not the issue. i added here two report files from the same pom.xml, where `trivy -d fs .` in one rund detects no cve and in another one cve.

[report_with_cve.txt](https://github.com/aquasecurity/trivy/files/8067533/report_with_cve.txt)
[report_without_cve.txt](https://github.com/aquasecurity/trivy/files/8067536/report_without_cve.txt)

[2022-02-15 11:25] skuethe opened #1725 "Add `s390x` docker images to build automation"
Hey there,

I wanted to request `s390x` arch support for docker images.
Since you have multi arch builds setup perfectly already, it should be easy to adapt the goreleaser settings and just add it to the multi arch container image manifests.

I will create a PR for this.

Thanks

[2022-02-15 12:59] afdesk commented on #1698
@si-dra-no thanks for your report!
but we didn't support OS Windows yet.

[2022-02-15 13:03] afdesk commented on #1725
@skuethe thanks for your contribution!
We'll take a look at the PR!

[2022-02-15 13:07] afdesk commented on #1714
@javixeneize thanks for your interest in `trivy`!
could you show your `trivy` options?
I'd like to reproduce an issue.
thanks a lot.

[2022-02-15 13:56] javixeneize commented on #1714
Hi
It is quite weird, it happens randomly, i have not seen any pattern that helps me to identify what might be the problem. As explained, adter cleaning the cache, if i rescan the image again it works

Options are pretty straightforward. trivy -d image $IMAGE

[2022-02-15 14:26] javixeneize opened #1727 "Scanning libraries in private repository (codeartifact)"
Hi

I am trying to scan a pom.xml i have with trivy filesystem.
In the pom.xml i have some dependencies that i have built and are in codeartifact, those are not in the public maven repository. I am having an error saying those dependencies cant be resolved

Is there any way to force trivy to use a custom settings.xml to point to a specific repository to resolve my dependencies?

My understanding i

[2022-02-15 15:41] pimperator commented on #1700
Same issue here!

The documentation [here](https://aquasecurity.github.io/trivy/v0.18.3/integrations/gitlab-ci/) with the headline `GitLab CI using Trivy container`
with the following error:
[code]

[2022-02-15 15:42] YuviGold commented on #1692
According to https://aquasecurity.github.io/trivy-repo/, it's not supported
At least we can make the [trivy docs](https://github.com/aquasecurity/trivy/blob/9e08bd44fb3c50360d4b992a4d843824c8272c95/docs/getting-started/installation.md#debianubuntu) to mention it

[2022-02-15 15:44] pimperator commented on #1700
ok, my bad. I just saw that I am reading the documentation of an older tag. this is the new one: https://aquasecurity.github.io/trivy/v0.23.0/advanced/integrations/gitlab-ci/

[2022-02-15 16:30] javixeneize opened #1728 "Different results when there are multiple versions of the same library"
Hi

I have an application that is poorly packaged, it uses different springboot versions underneath. It uses kerberos-core, which uses springboot-core 4.1.6, (https://mvnrepository.com/artifact/org.springframework.security.kerberos/spring-security-kerberos-core/1.0.1.RELEASE)

But i also have springboot-starter-test (https://mvnrepository.com/artifact/org.springframework.boot/spring-boot-starter-t

[2022-02-15 16:40] macedogm commented on #481
@knqyf263 is this feature planned to be in Trivy's roadmap? This seems to be an important feature to have, at least IMO. I'm willing to help implement this in my free time if some guidance is provided.

[2022-02-15 21:45] Brcrwilliams commented on #1691
@dinvlad @afdesk It looks like this happens if the vulnerability doesn't have an entry in the `vulnerabilities` bucket in the DB. I opened https://github.com/aquasecurity/trivy-db/pull/190 to improve the error messaging related to this.

[2022-02-16 07:32] nvuillam opened #1729 "Split properties for SARIF result"
Hi,

Thanks for your great tool !

As SARIF format supports `properties` with any key / value in it, would it be possible, to make a result more exploitable, to add the following values in those extra properties ?

https://github.com/aquasecurity/trivy/blob/11f4f811236ca05cfb30827e25f312eec45ca097/pkg/report/sarif.go#L143

Properties could be the ones not already present as standalone value on a r

[2022-02-16 11:17] mbentley commented on #548
Just in case it isn't clear, it's not just when `--format` is passed, it doesn't work for `table`, only `json` as far as I can tell.

[2022-02-16 14:16] si-dra-no commented on #1698
@afdesk, thanks for your response. Do you plan to support this in the short term?

[2022-02-16 15:12] #1292 closed

[2022-02-17 00:03] #1421 closed

[2022-02-17 05:25] afdesk commented on #1698
We don't have such plans right now

[2022-02-17 05:31] afdesk opened #1731 "Add integration tests for misconfiguration reports"
`trivy` doesn't contain testdata for reports with misconfiguration problems.
It seems we should add such golden files to integration tests.

[2022-02-17 05:34] afdesk commented on #1729
@nvuillam thanks for your interest in `trivy`.
we'll definitely consider this suggestion.

[2022-02-17 07:33] nvuillam commented on #1729
Many thanks ! :)

[2022-02-17 08:16] saivenkateshedem opened #1732 "Unable to push Trivy security hub report to AWS security hub as its file size is greater than 240kb"
I have scanned my image with trivy and formatted to security hub report using [this](https://github.com/aquasecurity/trivy/blob/main/contrib/asff.tpl).However i got final report size as 275kb which aws security hub doesnt support.It should have file size less than 240kb. Is there any way we can reduce the size?

[2022-02-17 11:09] DmitriyLewen commented on #1732
Hello @saivenkateshedem
Thanks for your interest in trivy.
You can use the `--severity` [flag](https://github.com/aquasecurity/trivy/blob/main/docs/getting-started/cli/image.md) and create 2 results with different severity, if that okay for you.

Regards, Dmitriy

[2022-02-17 15:40] AdamSzendrei opened #1733 "snyk vs trivy result difference"
Hi Guys,
how is it possible that snyk and trivy finds different vulnerabilties?

`trivy image bitnami/postgresql:latest`

**Result:**

bitnami/postgresql:latest (debian 10.11)
**Total: 219 (UNKNOWN: 0, LOW: 139, MEDIUM: 28, HIGH: 36, CRITICAL: 16)**

`snyk container test bitnami/postgresql:latest`

**Result:**

Package manager:   deb
Project name:      docker-image|bitnami/postgresql
Docker image:

[2022-02-17 17:10] afdesk commented on #1733
@AdamSzendrei thanks for your report!
Let me investigate it.

[2022-02-18 04:45] saivenkateshedem commented on #1732
Hello @DmitriyLewen
Thanks for the solution.I have tried it but for one of the severity(LOW) while pushing it to security hub throwing below **error
An error occurred (InvalidInputException) when calling the BatchImportFindings operation: Invalid parameter 'Findings'. Size '109' is greater than maximum value: 100.**

AWS security hub allows only 100 requests per batch.Is it possible to even reduce

[2022-02-18 06:13] knqyf263 commented on #1718
Which version of vim-minimal are you using? You don't pin the version, so your Dockerfile installs the latest version and vulnerabilities should not be detected.

[2022-02-18 06:23] DmitriyLewen commented on #1732
Hello @saivenkateshedem
Thanks for your report.
Trivy is now unable to split the result file.
We will work to resolve your issue.

Regards, Dmitriy

[2022-02-18 08:46] ichasco-heytrade opened #1735 "[AWS] SSE encryption in SQS is not recognized"
Hi!

Encrypting a SQS queue with SSE `sqs_managed_sse_enabled` is not recognized as encrypted and gives errors.

[code]

Trivy version: `v0.23.0`

[2022-02-18 08:47] #1735 closed

[2022-02-18 10:06] frjonsen commented on #1556
Was also facing this issue, where we scan a large number of .NET projects at the same time, and each project would only get the header "nuget". Would be great to see the modifications by @jpinkham implemented.

[2022-02-18 11:16] javixeneize commented on #1728
@knqyf263 @krol3 is this something you are aware of?

[2022-02-18 11:43] afdesk commented on #1728
@javixeneize thanks for your interest in `trivy`.
could you take a look at the results  in json format? e.g.:
[code]
`PkgPath` field shows a file path where a package was found. it should get more information about versions and packages.

[2022-02-18 12:11] afdesk commented on #1556
@frjonsen you can use any custom templates for `trivy` results:
[code]
it seems that @jpinkham's changes are here: https://github.com/aquasecurity/trivy/commit/7b4fb9daadffa758337a9042ff37b057b602a772

[2022-02-18 12:39] javixeneize commented on #1728
Hi

I think the command is trivy fs and not rootfs. Rootfs doesnt report back anything other than the main jar file.

Also, the field with the path is FilePath, not PkgPath. This field is only generated with trivy rootfs and not with trivy fs

Thanks

[2022-02-18 12:53] afdesk commented on #1714
we saw such problems for scanning jar apps.
it was due to a lot of API requests.
so `trivy` has `--offline-scan` option now.

Could you check this option?
[code]

[2022-02-18 12:56] javixeneize commented on #1714
Thanks for the answer. Ok, i will try that.

Will the DB be updated with this command, or do i need to do an update-only before running it?

Thanks

[2022-02-18 13:31] afdesk commented on #1714
the DB will be updated.

[2022-02-18 13:35] AndreyLevchenko commented on #1727
Hi @javixeneize
Thank you for feedback
Unfortunatelly trivy doesn't support access to repositories configured in `settings.xml` at the moment

[2022-02-18 13:40] afdesk commented on #1728
Now `rootfs` command scans JAR/WAR/PAR/EAR files, `fs` scans `pom.xml`.
https://aquasecurity.github.io/trivy/v0.23.0/vulnerability/detection/language/

yeap, there is `Target` field for `fs` command where you can see a path to `pom.xml`.

I meant these fields:
[code]

[2022-02-18 13:50] afdesk commented on #748
@alecsz
this is a strange situation. I took a look at the logs and can see two different versions of `io.netty:netty-codec-http`.
the first version has a vulnerability, but the second was fixed.

With CVE:
[code]
Without  CVE:
[code]

[2022-02-18 13:56] AnaisUrlichs opened #1736 "Restructuring Docs under the Diataxis framework"
The [diataxis framework](https://diataxis.fr/) structures documentation under four major categories:
* Tutorials
* How to guides
* Explanation
* References
![image](https://user-images.githubusercontent.com/33576047/154695447-59db19de-5726-415f-8d28-42b0eea40d17.png)

**Goals**
1. Using a framework to ensure the documentation can be updated in a coherent manner by different people over time
2. Est

[2022-02-18 13:59] natefear opened #1737 "Trivy TF sec ingress false positives (upgrade tfsec)"
## Description

False positives on ingress resources when using Trivvy's integrated TF sec v0.63.1 vs standalone TF sec v1.4.1

## What did you expect to happen?

Shouldn't see "AVD-K8S-0001: Public egress should not be allowed via network policies" on polices with no egress.
As I do not get these false positives when running TF sec v1.4.1 looks like Trivvy needs to update to tfsec latest.

Looks

[2022-02-18 14:09] javixeneize commented on #1728
I have used the list all packages flag too and i have this

        {
          "Name": "org.springframework:spring-core",
          "Version": "4.1.6.RELEASE",
          "Layer": {}
        },

As per the vulnerabilities this is what i have:

        {
          "VulnerabilityID": "CVE-2018-1270",
          "PkgName": "org.springframework:spring-core",
          "InstalledVersion": "4.1.6.RELEASE

[2022-02-18 14:15] AndreyLevchenko commented on #1733
Hi @AdamSzendrei
I tried to scan `bitnami/postgresql:latest` with `snyk`. I'm definitely not a snyk expert but it seems snyk uses own vulnerability db along with regular CVEs.
In snyk report I found following CVE:

- CVE-2022-0563
- CVE-2005-2541
- CVE-2021-3997
- CVE-2019-19244
- CVE-2019-19603
- CVE-2020-13631
- CVE-2021-4160
- CVE-2018-1000654
- CVE-2019-9893
- CVE-2004-0971
- CVE-2021-3998
- C

[2022-02-18 14:16] afdesk commented on #1718
For tests I've built next image:
[code]
and run `trivy` - there are no vulnerabilities.

then I've took a loot at package versions inside this image:
[code]
for example, NVD tells that `CVE-2021-4187` affected up to (including) 8.2.3912: https://nvd.nist.gov/vuln/detail/CVE-2021-4187

so, it seems that this image doesn't contain vulns.

also `trivy-db` contains these vulnerabilities:

[2022-02-18 18:33] jfowl opened #1739 "Cargo: Don't display withdrawn ("yanked") rustsec advisories"
## Description

I ran trivy on a [Cargo project](https://gitlab.com/famedly/conduit) and it found [RUSTSEC-2020-0054](https://rustsec.org/advisories/RUSTSEC-2020-0054.html).

This advisory is [currently yanked](https://github.com/rustsec/advisory-db/blob/84e3fb312152c662a4962cd51052d6ac2ae831ce/crates/directories/RUSTSEC-2020-0054.md).

## What did you expect to happen?

Trivy should not list yank

[2022-02-18 22:04] krol3 commented on #1717
@Stef-33560  same message in my browser too.

[2022-02-18 22:42] knqyf263 commented on #1733
Trivy prefers vendor severity, but Debian doesn't have severity.
https://security-tracker.debian.org/tracker/CVE-2022-23218

Trivy uses NVD in that case. It says critical.
https://nvd.nist.gov/vuln/detail/CVE-2022-23218

[2022-02-19 14:02] AErmie opened #1740 "🐛 False-Positive Against Multi-Line Dockerfile Commands"
## Description

When using Trivy to scan a Dockerfile, it reports that DS015 (ie. 'yum clean all' missing) as a Dockerfile Security Check failure. If you include the `yum clean all` command on a new line, the vulnerability is still detected. However, if you include the `yum clean all` command on the **same** line, Trivy will successfully see it as present and the vulnerability will no longer be re

[2022-02-19 14:07] AErmie commented on #1718
Hey @knqyf263 and @afdesk, apologies for this.

I **just** learned that the AWS Inspector was reporting against old container images that were not cleaned up/removed. Therefore, my current scan using Trivy would correctly identify no vulnerabilities, since the referenced AmazonLinux image has been updated.

[2022-02-20 17:54] afdesk commented on #1718
@AErmie no problem!
we can close this issue, right?

[2022-02-20 18:30] Fenderstuen opened #1743 "Trivy doesn't detect httpd24-httpd vulnerabilities"
## Description
I'm trying to scan openshift catalog images, specifically the httpd image in openshift origin 3.9 and 3.11. This image provides apache httpd from softwarecollections package httpd24-httpd. The following packages are of interest:

[code]

These are very old and have several known vulnerabilities, but trivy doesn't seem to detect the any of them. Since they are from software collectio

[2022-02-20 18:56] afdesk commented on #1714
@javixeneize it's really strange behavior, but i couldn't reproduce it.
can you try to scan next image (I use it for tests):
[code]

[2022-02-21 09:02] javixeneize commented on #1714
Yeah its strange. I scanned that image and it works fine. It is a random behaviour i think when i scan a lot of images in a row

Using debug doesnt add much value, is there anything else i can do to provide more level of detail?

Thanks

[2022-02-21 09:31] #1725 closed

[2022-02-21 11:10] knqyf263 commented on #1740
@owenrumney @liamg Could you take a look?

[2022-02-21 13:33] #1718 closed

[2022-02-21 13:42] knqyf263 commented on #1717
@Stef-33560 "UNAUTHORIZED" is an intended message. GHCR needs a credential to access it even for anonymity.

[2022-02-21 13:47] albertschwarzkopf opened #1746 "Trivy itself has vulnerabilities"
Trivy itself has vulnerabilities:

`trivy image public.ecr.aws/aquasecurity/trivy:0.23.0`

2022-02-21T14:39:47.496+0100	INFO	Detected OS: alpine
2022-02-21T14:39:47.496+0100	INFO	Detecting Alpine vulnerabilities...
2022-02-21T14:39:47.498+0100	INFO	Number of language-specific files: 1
2022-02-21T14:39:47.498+0100	INFO	Detecting gobinary vulnerabilities...

public.ecr.aws/aquasecurity/trivy:0.23.0

[2022-02-21 13:52] liamg commented on #1740
Hi @AErmie, Trivy is actually finding the issue on the first command in your example. It has picked up that you have a `yum install ...` command without a `yum clean` as part of the same `RUN`. The multiline step is not the issue here.

It is generally considered best practice to combine your package manager commands together to reduce layers, i.e.:

[code]

If you combine all actions into one `RU

[2022-02-21 13:55] AErmie commented on #1740
Thanks @liamg. I'm curious though, since the `yum install` command is chained with a `yum clean` command at the end, why is it still flagged as an issue?

[2022-02-21 14:07] #1740 closed

[2022-02-21 14:47] #1721 closed

[2022-02-21 14:50] javixeneize opened #1748 "CVE-2021-4104 not reported"
Hi

Im testing trivy with a known vulnerable app and i have seen CVE 2021-4104 is not returned when i use log4j:log4j:1.2.12

The advisory was under review till last week, but it is completed now so it should be reported. The NVD link is https://nvd.nist.gov/vuln/detail/CVE-2021-4104

Thanks

[2022-02-21 16:58] jdesouza commented on #1748
This may be related to this:

[2022-02-21 18:46] owenrumney commented on #1737
Hey @natefear - Trivy has got behind on tfsec but as you say, that fanal merge should solve this issue.

#1747 updates to the latest fanal so it will be in the next release

[2022-02-21 20:17] RobMaskell commented on #1692
code is using `UBUNTU_RELEASES=$(sort -u <(ubuntu-distro-info --supported-esm) <(ubuntu-distro-info --supported))` and `ubuntu-distro-info --supported-esm` gives
[code]
on my impish system even though `ubuntu-distro-info --supported` and `ubuntu-distro-info --stable` both include `impish`
In the end I edited `/etc/apt/sources.list.d/trivy.list` and replaced `impish` with `focal` installed trivy an

[2022-02-22 06:48] #1592 closed

[2022-02-22 06:48] #1626 closed

[2022-02-22 07:14] knqyf263 commented on #1692
We use Ubuntu 18.04 for releasing our deb packages on GitHub Actions. I'm wondering if it returns `impish` or not.

[2022-02-22 07:29] madianas21 commented on #1692
`https://aquasecurity.github.io/trivy-repo/` must be outdated too, since changing `impish` to `focal` installs and works fine for me.

[2022-02-22 08:27] YuviGold commented on #1692
I added this PR to have a GHA that tests different distributions' installations.
https://github.com/aquasecurity/trivy-repo/pull/9
I removed `impish` from there since it wasn't supported, but it can be added after the release will be fixed.

[2022-02-22 08:32] a639612262010 commented on #1717
I also made the same mistake. How should we download the DB manually`FATAL   DB error: failed to download vulnerability DB: OCI artifact error: OCI artifact error: OCI repository error: Get "https://ghcr.io/v2/": dial tcp 20.205.243.164:443: i/o timeout`

[2022-02-22 08:38] afdesk commented on #1692
I run Ubuntu 18.04 on DigitalOcean droplet:
[code]
it's really strange, because `deb repo` doesn't contain `impish`: https://github.com/aquasecurity/trivy-repo/tree/8acff2496b2a45e967a5c65b1573a69c232ccfe4/deb/dists

but I found errors in logs for `create deb repository` action:
[code]

[2022-02-22 09:47] natefear commented on #1737
Thanks for the quick action Owen :)

[2022-02-22 10:46] 616b2f commented on #1746
@knqyf263 would that be not enough for a patch release? If not when we can expect those changes to be released?

[2022-02-22 16:33] Stef-33560 commented on #1717
I doubt it 🙂 the docker image is ok, the db upgrade is ok since the bearer is burried in it... But I need this token to build [My own alpine image](RUN curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sh -s -- -b /usr/local/bin )

[2022-02-22 22:30] krol3 commented on #1717
@knqyf263 It works downloading the db. Thanks

[2022-02-23 01:10] krol3 commented on #1728
@javixeneize is this problem using the pom.xml ? Maybe you can share some part of the structure to try to reproduce locally.

[2022-02-23 06:26] geowalrus4gh opened #1757 "Trivy config scan for helm files"
Would like to see Trivy conf scan for helm files.

[2022-02-23 07:45] rethab commented on #674
Since #1378 was merged, can this issue be closed?

[2022-02-23 07:49] rethab opened #1758 "Improve handling for ignored vulnerabilities that are no longer a problem"
The `.trivyignore` file gets bigger and bigger as new vulnerabilities are added. From what I understand, the best way to know when a line could be removed is to run the scan again and see if it shows up again.

It would be nice if trivy provided better support for this. This could be done either by:
- log a warning for any vulnerability that is ignored but not present anymore
- add a flag to fail

[2022-02-23 08:52] AdamSzendrei commented on #1733
I have just got an answer from snyk regarding why the severity calculation is different.
https://updates.snyk.io/#:~:text=Debian%20Severity%20Improvements%20%2D%20Upcoming%20Changes

_"For example: In analyzing this vulnerability: [SNYK-DEBIAN11-GLIBC-2340922](https://security.snyk.io/vuln/SNYK-DEBIAN11-GLIBC-2340922), although NVD assigned the [CVE-2022-23218](https://nvd.nist.gov/vuln/detail/CVE

[2022-02-23 09:08] bhagyasakalanka opened #1759 "Trivy Failed to Scan Application vulnerabilities time to time."
## Description
I uses trivy scanner to scan docker images. I have setup a Jenkins job and via the job, Newly generated docker images are scanned through trivy. For some jenkins builds, trivy scanner failed to list down the application vulnerabilities in the docker image. (Trivy recognized the OS-level vulnerabilities). But If I re-trigger the build again, Trivy identify all the vulnerabilities (Ap

[2022-02-23 09:52] javixeneize commented on #1728
Yep, its scanning pom.xml with fs option

This is my pom.xml

[code]
If you run that several times, you will have different versions of spring-core

Thanks

[2022-02-23 13:43] Usama42 commented on #526
@knqyf263  Can you please mention the solution as well, I am facing same error for some jobs while using starboard operator

[2022-02-23 13:45] knqyf263 commented on #140
It's been a while, but we finally added support for CycloneDX 🚀
https://github.com/aquasecurity/trivy/discussions/1760

[2022-02-23 13:45] #140 closed

[2022-02-23 16:29] michaelpigg commented on #1717
I saw the same issue after updating to 0.23 last week, and continued after updating to 0.24 today. I was able to do the `oras pull` method to get the db.

[2022-02-23 16:57] afdesk commented on #1728
@javixeneize thanks for your report!
I've run `trivy` twenty times and have the same result:
[code]

@krol3 I hope that you'll reproduce this issue

[2022-02-23 17:10] michaelpigg commented on #1717
The download fails in 0.23+ on my work Mac but is successful with 0.24 on my personal Mac, so I suspect some security software is interfering with the download. Confirmed that 0.22 still works on my work Mac.

[2022-02-23 17:11] afdesk commented on #1728
maybe are there any actions between runs `trivy`?

[2022-02-23 17:39] knqyf263 commented on #1733
Thanks for checking. It is interesting. We already have the information in our database, so it is easy to do the same thing. But I'm not sure if we should mark it low severity.
https://github.com/aquasecurity/vuln-list/blob/d2da599ad8cdf43fed8f3a1ae0cbcef92fca5329/debian/CVE/CVE-2022-23218.json#L24

For example, Red Hat marked 7.0 and moderate impact. I'm curious how Debian evaluated this vulnerab

[2022-02-23 18:55] nvuillam commented on #1729
it seems that SARIF format returns many less details than the JSON one :/

![image](https://user-images.githubusercontent.com/17500430/155387713-1f0d7030-5675-4d64-8c25-06bdc2b2fb45.png)

Would it be possible to also return in "properties" SARIF item everything that is returned by JSON result ? thanks :)

![image](https://user-images.githubusercontent.com/17500430/155387820-f3a5086d-3e83-4abb-9a97

[2022-02-24 10:11] #1737 closed

[2022-02-24 11:02] bgoareguer opened #1765 "--list-all-pkgs does not show all packages"
## Description

I have a Python project with a `requirements.txt` file with the following content:
[code]

I run Trivy with the following command:
[code]

## What did you expect to happen?
I expected to see the 3 dependencies of my project in the `output.json` file, just as Syft does:
[code]

## What happened instead?
Instead, Trivy only found the waitress package but not the 2 others:
[code]

##

[2022-02-24 11:50] javixeneize commented on #1728
Hi

No, nothing run inbetween

Try this pom.xml

`<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>
    <groupId>test</groupId>

    <artifactId>test</artifactId>

[2022-02-24 12:08] afdesk commented on #1728
@javixeneize thanks for your efforts!
It seems I can see a strange behavior for this case. will investigate more.

[2022-02-24 12:49] afdesk commented on #1765
@bgoareguer thanks for your report! I could reproduce this issue.
and it seems that there is a problem if a package contains hyphen...
I'll try to investigate it

[2022-02-24 14:48] NissesSenap opened #1766 "Helm be able to define custom labels in statefulset"
I would like to be able to define custom labels in the trivy statefulset.
This way I could use:

[code]

This feature was added in: https://github.com/aquasecurity/trivy/pull/1611. And it would be great to be able to use MSI.

But I can also see how other people might want to add custom labels to there statefulsets.

[2022-02-24 18:36] krol3 commented on #1164
@knqyf263 trivy support SBOM currently, doesn't it? does it generate using image, fs, and rootfs? Could you guide me with this feature? I could improve the documentation about this.

[2022-02-25 00:04] #1438 closed

[2022-02-25 01:42] krol3 commented on #1717
@michaelpigg  same case! I am using Mac, It's working with the 0.24.

[2022-02-25 01:42] #1717 closed

[2022-02-25 02:25] YangJiao0817 opened #1769 "Trivy itself has vulnerabilities"
Trivy itself has vulnerabilities:
trivy version:v0.22.0
CVEs:
containerd v1.5.8:
[CVE-2021-43816](https://nvd.nist.gov/vuln/detail/CVE-2021-43816)
golang-runtime 1.17.5:
[CVE-2022-23806](https://nvd.nist.gov/vuln/detail/CVE-2022-23806)
[CVE-2022-23772](https://nvd.nist.gov/vuln/detail/CVE-2022-23772)
[CVE-2022-23773](https://nvd.nist.gov/vuln/detail/CVE-2022-23773)

Can you fix these CVEs?

[2022-02-25 07:07] #1766 closed

[2022-02-25 08:27] albertschwarzkopf opened #1770 "[Helm Chart] Enable Trivy Server Token and TokenHeader options"
Hi,

coud you please add the trivy server token and token header options in the trivy helm chart?

Now it is not possible to configure this values via helm chart (possible only via cli).

After implementation it would be possible to use this values in starboard operator:
[code]

(https://github.com/aquasecurity/starboard/blob/main/deploy/helm/values.yaml)

[2022-02-25 10:21] afdesk commented on #1769
@YangJiao0817 thanks for your report!
it seems we already investigated such issue:
https://github.com/aquasecurity/trivy/issues/1439#issuecomment-998523969

briefly: there are dependencies with vulnerabilities for tests.

[2022-02-25 10:38] AndreyLevchenko commented on #1728
Hi @javixeneize
I investigated issue and it turns out it works as expected.
You can run ``` mvn dependency:tree -Dverbose ``` to see that both `4.1.6.RELEASE` and `4.1.4.RELEASE` versions are included.(4.1.6 comes from `spring-security-kerberos-core` ) As workaround I would suggest to modify pom.xml to exclude `spring-core` from all dependencies and explicitily specify required version as direct d

[2022-02-25 10:56] afdesk commented on #1746
@616b2f `trivy:0.24.0` shouldn't contain this vulnerability

[2022-02-25 11:02] albertschwarzkopf commented on #1746
Yes, i can confirm it.

[code]

[2022-02-25 11:02] #1746 closed

[2022-02-25 11:49] javixeneize commented on #1728
no, thats not what is expected. The verbose tree has all the transitive dependencies on the original dependencies, but the final tree has only one version of springboot-core. If you build the jar and unpack it, it has only one springboot-core version.

If you are using mvn dependency:tree -Dverbose as your source, this is incorrect, the source should be what is in the mvn:dependency tree

In any c

[2022-02-25 20:42] AErmie opened #1772 "Error `mkdir /.cache: permission denied` when using Trivy Docker container"
## Description

While running Trivy via the Docker container method, I encounter an error when Trivy tries to create the cache directory.

[code]

## What did you expect to happen?
I expect to be able to mount a pre-created directory for use as the temp directory, since (because of setting the container to run as the agent user and not root), it should have the same permissions to the pre-created

[2022-02-25 21:20] mxmeinhold opened #1773 "Trivy >=v0.23.0 panics on interface conversion when scanning some images"
## Description

`trivy image` is failing for a small subset of images on both v0.23.0 and v0.24.0 with `panic: interface conversion: interface {} is convert.jsonObj, not []interface {}`

## Output of run with `-debug`:

<details>
<summary>Debug output</summary>

[code]
</details>

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):

The image I'm

[2022-02-27 12:08] afdesk commented on #1772
@AErmie thanks for your report!
I've set `--cache-dir` option and it works for me:
[code]

[2022-02-27 15:47] #1765 closed

[2022-02-27 18:57] #1691 closed

[2022-02-27 18:59] afdesk commented on #1765
@bgoareguer thanks!
we fixed this issue, and a new version `v0.24.1` was released.

[2022-02-27 21:06] afdesk commented on #1773
@mxmeinhold thanks for your report!
Could you give a sample of your scans?
It'll be really useful!

[2022-02-27 22:46] AErmie commented on #1772
Hey @afdesk, I got this to work, but I had to set the `--cache-dir` to a different path, namely `/.cache` instead of `/tmp/.cache`.

The challenge is, the documentation is inconsistent.

For example, on the GitHub repo, there is no reference or example about the cache directory.

On the AquaSecurity Trivy documentation [(specifically the Docker installation section)](https://aquasecurity.github.io

[2022-02-28 14:24] Dentrax commented on #1773
Getting exact same issue:

[code]

Eventually it panics:

[code]

[code]

[2022-03-01 06:40] hazcod commented on #1530
Unstale

[2022-03-01 09:01] javixeneize commented on #1728
Hi @AndreyLevchenko @afdesk

Do you agree with my analysis there? I still think there is a problem in the scanner

Thanks

[2022-03-01 14:31] stealthrabbi opened #1779 "Add "ignore until date" feature to .trivyignore"
It would be nice if there was a way to optionally specify the length of time to ignore a finding by trivy in trivyignore. e.g. there may be a vulnerability I want to ignore now, but want to revisit it in 3 months.

For example, in the gradle plugin for DependencyCheck, an `until=date` attribute can be added to the suppressions file per suppression.
https://jeremylong.github.io/DependencyCheck/inde

[2022-03-01 15:41] sklakegg opened #1780 "Add option to show filepath in the jar scanner"
When using the trivy image scanner on a maven project, I have noticed that some of the reported vulnerabilities (jars) can not be found in the .pom/when I check the project dependencies (even with transitive ones). In these cases, it would be nice to know more than the library name/version, but also a filepath to the .pom/jar that contains the reference, so we have some more context.

I tried taki

[2022-03-01 17:21] vaboston commented on #1531
Up ?

[2022-03-02 07:25] AndreyLevchenko commented on #1728
Hi @javixeneize
Yes and no :)
We should fix version conflict handling to always return same version. But I'm not sure if trivy should mimic maven behaviour in dependency conflict resolution (we will discuss this internally @knqyf263). But from perspective of your app I'm still suggesting to use exclusions/level 1 dependency to specify version required. It's both a workaround and an explicit way to

[2022-03-02 08:38] knqyf263 commented on #1780
`-f json` shows `PkgPath` to JAR files. Do you need something else?

[2022-03-02 10:10] knqyf263 commented on #1728
Hi @javixeneize, thanks for the report. I've caught the thread right now. You're definitely correct. Trivy is supposed to behave the same as Maven. You can see the soft requirement.

https://maven.apache.org/pom.html#Dependency_Version_Requirement_Specification

It should be a bug in our parser. I'll look into it.

[2022-03-02 10:52] sklakegg commented on #1780
Perfect, that's what I need. Other then possibly adding this to the table view as well, I'm happy 👍

[2022-03-02 11:45] dwertent opened #1782 "Any github actions support available"
Hi, I want to scan my repo before publishing a new release.
I was thinking of adding trivy to detect vulnerable packegs, and if there are the action will fail.
Is there a github actions plugin for that?
Than you.

[2022-03-02 12:36] knqyf263 commented on #1782
Here it is
https://github.com/aquasecurity/trivy-action

[2022-03-02 12:41] dwertent commented on #1782
Thank you @knqyf263

[2022-03-02 12:41] #1782 closed

[2022-03-02 13:21] manish7277 commented on #1025
I am facing these vul while checking trivy report
+-------------+------------------+----------+-------------------+---------------+---------------------------------------+
| log4j:log4j | CVE-2019-17571   | CRITICAL | 1.2.17            |               | log4j: deserialization of             |
|             |                  |          |                   |               | untrusted data in Socket

[2022-03-02 13:42] itaysk opened #2884 "use rego generic annotations"
OPA has recently added support for generic annotations in Rego: https://github.com/open-policy-agent/opa/issues/4331
This can potentially replace our `__rego_metadata__` convention with a standardized format

tracking issue in OPA: https://github.com/open-policy-agent/opa/issues/4113

[2022-03-02 15:07] tenstad opened #1783 "Configurable database repository (`dbRepository`)"
Add ability to configure repository where trivy database is pulled.

[`dbRepository`](https://github.com/aquasecurity/trivy/blob/2f2d8222e468688bd024322e3d675dd18c2f3398/pkg/db/db.go#L19) is currently `"ghcr.io/aquasecurity/trivy-db"`.
I would like it to be configurable, so that the trivy db may be updated in an air-gapped envionment where a local container registry is used.

[2022-03-02 15:39] geowalrus4gh opened #1785 "Trivy config to query policy from an OPA server"
Can trivy config scanner query OPA policies from an OPA server rather than loading from an OPA bundle ?

[2022-03-02 22:07] mxmeinhold commented on #1773
Dug through the image I've been testing, looks like it starts failing to scan after `RUN go get -v github.com/CiscoCloud/consul-cli` with go 1.14.

[2022-03-02 22:19] mxmeinhold commented on #1773
I've got another version of the same image that's built with multiple stages, so it doesn't have any go build cache in the final image. That's my best lead at the moment.

[2022-03-03 00:04] #1460 closed

[2022-03-03 00:04] #1454 closed

[2022-03-03 04:12] mih-kopylov commented on #1454
Bump

[2022-03-03 10:36] #1728 closed

[2022-03-03 11:18] javixeneize commented on #1695
Hi

Any update on this ticket?

[2022-03-03 11:27] knqyf263 commented on #1728
v0.24.2 should fix this issue.
https://github.com/aquasecurity/trivy/releases/tag/v0.24.2

[2022-03-03 11:28] javixeneize commented on #1728
i will test it in a minute :)

Thanks!

[2022-03-03 11:49] javixeneize commented on #1728
Hi

It is still not working as it should. The results are now consistent, i cant replicate the problem with different results in the same scan, but in another project i have in my tree a version of spring-core, and trivy is resolving another one

trivy -d  fs . | grep spring-core
2022-03-03T11:47:31.331Z	DEBUG	Resolving org.springframework:spring-core:4.1.6.RELEASE...
2022-03-03T11:47:31.414Z	DEBU

[2022-03-03 11:59] knqyf263 commented on #1728
It sounds like another issue.

[2022-03-03 12:04] knqyf263 commented on #1454
You can search the ID in this repository.
https://github.com/aquasecurity/vuln-list/

[2022-03-03 12:06] knqyf263 commented on #1773
This issue might be related.
https://github.com/aquasecurity/fanal/issues/414

[2022-03-03 12:17] javixeneize commented on #1728
yeah, probably related, but not exactly the same one as this is consistent now. do you want me to open another issue?

[2022-03-03 12:21] knqyf263 commented on #1728
Yes, please. And we need an example pom.xml reproducing the issue.

[2022-03-03 12:29] mih-kopylov commented on #1454
yeah, thanks @knqyf263, but it needs to make sure which commit of that repository is in the database that trivy works with at the moment. And that's not trivial.

The feature is helpful to find out issues like #1453.
In such cases it's really helpful to have a tool to query the downloaded database to make sure the CVE is in database, and the reason why trivy doesn't show it up is defenitly not the

[2022-03-03 12:37] knqyf263 commented on #1454
Trivy DB is built every 6 hours. You can see when the database was built by `trivy -v`.

[code]

Actually, querying the database is not so easy because it depends on vendors. For example, Debian has an advisory for the vulnerability, while Red Hat may not have. Also, it depends on major version like Debian 9 has and Debian 8 doesn't. So, querying the database is almost the same as scanning an imag

[2022-03-03 12:44] knqyf263 commented on #1785
Trivy cannot do it as of today, but it sounds interesting.

[2022-03-03 12:54] knqyf263 commented on #1783
Thanks for your suggestion. You probably already know, but Trivy can work even in an air-gapped environment.
https://aquasecurity.github.io/trivy/v0.24.2/advanced/air-gap/

Please let me see how many users are using a local OCI registry in an air-gapped environment.

To the community: Please add a comment or upvote if you need this feature.

[2022-03-03 12:57] LoicAG opened #1787 "The output file of 'trivy image -o output.json' lacks a final newline"
When using `trivy image -o output.json -f json foo:latest`, the output file lacks a final newline.

This is not [POSIX-compliant](https://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap03.html#tag_03_206), and causes issues when processing the file.

Can you please add the final newline?

[2022-03-03 13:06] tamirkiviti13 opened #1788 "Adding a dedicated subcommand for SBOM generation"
I want to use trivy for SBOM generation, but the current command structure is inconvenient.

Currently the right way to use trivy for SBOM generation is:
- `trivy image --format cyclonedx my-image:tag` for docker containers.
- `trivy fs --format cyclonedx path/to/package` for language specifeic packages.

I would like to have a single dedicated subcommand for SBOM generation - `trivy sbom`, and tr

[2022-03-03 13:09] knqyf263 commented on #1779
I think you can leverage Rego.
https://aquasecurity.github.io/trivy/v0.24.2/vulnerability/examples/filter/

The policy will be something like this:
https://play.openpolicyagent.org/p/nGmZEQrB2t

[2022-03-03 13:18] knqyf263 commented on #1788
I don't think we need to move SBOM generation to `trivy sbom`. All other formats such as JSON can be specified as `--format` and SBOM is one of the report formats. It means `--format cyclonedx` can be specified as well as other formats so that the behavior can be consistent.

We can add `trivy sbom` in addition to the existing option.

[2022-03-03 13:19] knqyf263 commented on #1757
Thanks for your suggestion. It is actually in our backlog.
https://github.com/aquasecurity/trivy/projects/1

[2022-03-03 13:20] knqyf263 commented on #1757
I'll replace the existing card with this issue.

[2022-03-03 13:28] #1684 closed

[2022-03-03 13:38] #1305 closed

[2022-03-03 14:16] tamirkiviti13 commented on #1788
That's what I meant, the title and the description were not clear enough.
I edited the title to clearer.

[2022-03-03 14:22] javixeneize opened #1790 "Wrong version of transitive dependency picked by trivy in maven applications"
Hi

I briefly explained this on #1728, but i will open a new ticket to avoid mixing both issues

Trivy is not resolving transitive libraries in the same way as maven does. In my example, the maven tree contains org.springframework:spring-core:jar:5.2.15.RELEASE, while trivy reports i am using  org.springframework:spring-core:jar:4.1.4.RELEASE

To replicate it, use the following dependencies in a p

[2022-03-03 15:08] afdesk commented on #1773
@knqyf263 yes, It seems you're right, but i couldn't reproduce this issue.

@mxmeinhold can you run tha latest tivy code for your image? thanks a lot for your help
[code]

I tried next `Dockerfile` but couldn't build it:
[code]

[2022-03-03 15:11] afdesk commented on #1729
@nvuillam sorry, i missed your comment.

it would be great! we welcome contributors!

[2022-03-03 15:23] mxmeinhold commented on #1773
Still running into this with 0.24.2 and `HEAD`. I'll try and make a reproducible dockerfile today.

[2022-03-03 15:26] tenstad commented on #1783
Thank you for the response! oras is a bit more work, compared to a configurable `dbRepository`, but not that bad.

[code]
[code]

[2022-03-03 15:41] afdesk commented on #1633
@sc30 sorry for waiting, I got confused.
I took a look at this issue again, and at [nvd](https://nvd.nist.gov/vuln/detail/CVE-2017-7536) information about CVE-2017-7536.
It seems that version `5.2.5` are included the vulnerability, doesn't it?

[2022-03-03 16:02] avestuk opened #1792 "Trivy 0.24.0 Segfaults on Terraform config scan"
## Description

Trivy 0.24.0 and 0.24.1 throws a segfault when I run `trivy config`. Trivy 0.23.0 works without segfaulting.

I am running Trivy inside the aquasec/trivy container.

[code]
## What did you expect to happen?

Trivy would produce it's incredibly helpful security output message

## What happened instead?
It segfaulted.

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[2022-03-03 16:12] mxmeinhold commented on #1773
🎉 Scans complete without panics after #1791. Debug output still has a lot of noise about parsing hcl which I'm including below incase it's useful, but everything seems to be working.

<details>
<summary>Debug snippet</summary>

[code]
</details>

[2022-03-03 16:21] #1773 closed

[2022-03-03 16:41] afdesk commented on #1442
`trivy` has the HTML template for misconfigurations now. I think we can close this issue.
If I'm wrong, please feel free to reopen it. thanks

[2022-03-03 16:41] #1442 closed

[2022-03-03 16:54] afdesk commented on #1250
I've created a PR to Github Advisory, we'll see how it works https://github.com/github/advisory-database/pull/61

[2022-03-03 17:02] afdesk commented on #1503
@jplimack I forgot to write you, that we released new versions.
now the current `trivy` v0.24.2 supports sarif format:
[code]

[2022-03-03 17:11] afdesk commented on #1691
@dinvlad these warnings were fixed for the latest database.
if you have time, you can take a look at it. thanks a lot!

[2022-03-03 18:18] afdesk commented on #1613
@jdesouza sorry for waiting. we're working on it right now.

[2022-03-03 19:10] dinvlad commented on #1691
LGTM, thanks!

[2022-03-03 19:54] krol3 commented on #1792
Same issue using trivy 0.24.1, It works fine using the 0.23

[code]

[2022-03-04 05:47] dowlingw opened #1794 "ServiceAccount annotations in helm chart are broken"
## Description
The ServiceAccount annotations implemented for #1676 contains a bug that renders invalid YAML.

## What did you expect to happen?
Provide `trivy.serviceAccount.annotations` value and have valid YAML generated.

## What happened instead?
YAML generated with incorrect indentation level for `annotations` block on Trivy ServiceAccount resource:

[code]

## Additional details (base image

[2022-03-04 07:34] richbecks commented on #1464
@afdesk - Why has github actions closed this... It doesn't appear to have been resolved in any way?

[2022-03-04 07:38] richbecks commented on #1464
Just confirmed that 0.24.2 (latest version at time of writing) doesn't have HTTP links in text table output, so can't see a valid reason for closing this.

[2022-03-04 08:16] afdesk commented on #1464
@richbecks ok, it seems that you're right. because there is no decision about this feature.

[2022-03-04 08:29] afdesk commented on #1250
@tklein thanks a lot!
[CVE-2021-27568](https://github.com/advisories/GHSA-v528-7hrm-frqp) was updated and this issue was fixed now.

[2022-03-04 08:29] #1250 closed

[2022-03-04 08:46] afdesk commented on #1663
@skothandan we took a look at the image `mraja3007/imagescanning`:
[code]
and then we took a look at the several of missed vulnerabilities.
the CVEs have an ignored status for `xenial`:
[code]
so `trivy` doesn't detect these vulns.

[2022-03-04 08:51] afdesk commented on #1663
@skothandan also you can see all packages in json format:
[code]

thanks for your report and help!

[2022-03-04 12:07] afdesk commented on #1617
@DmitryZ-outten thanks for your report and sorry for delay!
They only excluded `log4j-api`, but versions weren't fix...

[2022-03-04 12:23] afdesk commented on #1617
I've created a PR, https://github.com/github/advisory-database/pull/64
will wait.

[2022-03-04 12:30] afdesk commented on #1617
created a new PR https://github.com/github/advisory-database/pull/65

[2022-03-04 12:39] afdesk commented on #1617
PR for CVE-2021-45046 https://github.com/github/advisory-database/pull/66

[2022-03-04 15:10] murugananthsubramani opened #1796 "Trivy 0.23.0 - No space left issue with trivy image scan"
Hi Team,

I'm facing the below issue when i initiate a new image scan in trivy.

trivy --cache-dir /data/disk1/ --debug image --severity HIGH,CRITICAL  --timeout 15m <<image_name>>

Please help me on this.

logs:
github.com/aquasecurity/trivy/pkg/commands/artifact.runWithTimeout
        /home/runner/work/trivy/trivy/pkg/commands/artifact/run.go:70
  - image scan failed:
    github.com/aquasecurity

[2022-03-05 00:05] #1478 closed

[2022-03-05 10:16] mih-kopylov commented on #1454
I know, trivy DB is updated quite often, but there might be cases when a new version of database is already available, but when trivy runs it still uses the previous version.
I can check the database version update timestamp, for sure, but if I'm interested in the specific CVE details, there're several steps to do:
* check database version of trivy, get its timestamp
* find a commit by timestamp i

[2022-03-06 00:05] #1476 closed

[2022-03-06 00:05] #1470 closed

[2022-03-06 06:31] bluefriday opened #1798 "Commercial use for Current version trivy's license."
In previous version(v0.17.0), there was some data sources that was a non-commercial in trivy.
- https://aquasecurity.github.io/trivy/v0.17.0/vuln-detection/data-source/
---
After two releases, the current version does not appear to have any non-commercial data sources.
- [7fcbf44](https://github.com/aquasecurity/trivy/commit/7fcbf44bb8d3686243e34db45ec881a00f1f5bba) refactor(python): drop Safety D

[2022-03-06 07:31] knqyf263 commented on #1798
We tried to remove OSV advisories.
https://github.com/rubysec/ruby-advisory-db/pull/456

But some of the OSV advisories still remain.
https://github.com/rubysec/ruby-advisory-db/issues/487

We skipped them in the below PR.
https://github.com/aquasecurity/trivy-db/pull/148

[2022-03-06 07:33] knqyf263 commented on #1796
Looks like your storage just doesn't have space left.

[2022-03-06 07:34] #1794 closed

[2022-03-06 07:44] knqyf263 commented on #1454
First of all, there are two types of packages.
1. OS packages
2. Language-specific packages

#1 depends on distributions. #2 has multiple data sources such as GitHub and GitLab. It will not just lookup.

But if you still want such kind of tool, you can create it and we can add a link to your tool [here](https://aquasecurity.github.io/trivy/v0.24.2/advanced/community/tools/).

[2022-03-06 07:52] knqyf263 commented on #1779
I realized this issue is duplicate of https://github.com/aquasecurity/trivy/issues/1779.

[2022-03-06 07:52] #1779 closed

[2022-03-06 07:52] knqyf263 commented on #1450
I think you can leverage Rego policies.
https://github.com/aquasecurity/trivy/issues/1779#issuecomment-1058025832

[2022-03-06 07:56] knqyf263 commented on #1792
@owenrumney @liamg Looks like this error is from defsec. Could you look into it?

[2022-03-06 07:59] knqyf263 commented on #1503
Please feel free to reopen it if you still have any issues.

[2022-03-06 07:59] #1503 closed

[2022-03-06 08:25] mih-kopylov commented on #1454
Thanks, @knqyf263

Could you please explain a bit about OS packages - what kind of distribution do they depend on? Are there several database distributions?

[2022-03-06 08:30] knqyf263 commented on #1454
Each vendor have backport fixes.
https://access.redhat.com/solutions/57665#:~:text=Red%20Hat%20use%20the%20term,package%20distributed%20by%20Red%20Hat.

[2022-03-06 18:00] #1697 closed

[2022-03-07 05:05] bluefriday commented on #1798
Thanks for your reply.
I understand now that current Trivy db is available for commercial use :D
But I don't know why the '[Ruby Advisory Database](https://github.com/rubysec/ruby-advisory-db)' still exists in the Trivy datasource(https://github.com/aquasecurity/trivy/blob/main/docs/vulnerability/detection/data-source.md)

[2022-03-07 10:46] geowalrus4gh opened #1802 "Trivy Misconfiguration - Custom policies support for Terraform"
Trivy misconfiguration document says as follows,

"Custom policies do not support Terraform at the moment"

Any plan to bring support for custom policies for terraform as well?

[2022-03-07 12:41] jdesouza commented on #1613
Thanks @afdesk

[2022-03-08 09:51] owenrumney commented on #1792
@krol3 - have you got a snippet of terraform that led to this? I'm struggling to reproduce.

[2022-03-08 11:19] javixeneize commented on #1790
@knqyf263 this is the ticket for what we briefly discussed in #1728

[2022-03-08 12:10] anders-rydbirk opened #1805 "Trivy reports vulnerabilities from other GHA workflow that are not scanning anymore"
Hi,

I have a repo that uses trivy to scan and report vulnerabilities. However, we had some misconception about the flow, so we included it in an already existing workflow that ran on `on: push`.

However, for trivy to fully work with dependabot-PRs, we moved the trivy-part to it's own workflow with `on: pull_request`.

This means that now we have a base-branch scan from both a `workflows/ci.yaml`

[2022-03-08 13:43] mario-platt commented on #480
I'm also trying the same and not being able to. would love to hear response on how to do it

[2022-03-09 00:17] jasonumiker-plerion commented on #1792
I am having the same issue scanning a CloudFormation template. Here is the error:
[code]

Here is the template (which was generated by CDK):
[code]

[2022-03-09 06:17] afdesk commented on #480
@mario-platt how do you scan local images?
it should work correctly:
[code]

[2022-03-09 07:55] knqyf263 commented on #1798
As you can see in the above PR, we didn't drop Ruby Advisory Database completely. We just dropped only advisories from OSVDB.

[2022-03-09 07:56] knqyf263 commented on #1790
@javixeneize Thanks for the detail.
@DmitriyLewen Can you look into it?

[2022-03-09 11:01] kochn opened #1809 "Update to latest sprig version"
Currently trivy seems to use an very old sprig version, so that many function like: Regex, mustToJson etc. are not supported. Would it be possible to update the version, so that it is possible to use the newest sprig fuction documented in: http://masterminds.github.io/sprig/

In the report documentation is a reference to sprig an many commands are currently not compatible with the latest trivy ver

[2022-03-09 11:48] max-allan-surevine commented on #480
@afdesk I know it _should_ work but it doesn't that's why we're reporting it as a fault....

[code]

If I install trivy locally and scan I get similar errors :
[code]

[2022-03-09 11:52] max-allan-surevine opened #1810 "Can't install with brew"
## Description

[code]

## What did you expect to happen?
Trivy to install

## What happened instead?
It didn't

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):
Following instruction on installing with brew from here :

https://aquasecurity.github.io/trivy/v0.24.2/getting-started/installation/

[2022-03-09 12:36] max-allan-surevine commented on #1810
Stupid GitHub have expired my token.
_Thanks_ GitHub.

[2022-03-09 12:36] #1810 closed

[2022-03-09 12:43] afdesk commented on #480
@max-allan-surevine it's strange, because I've build a custom image and scanned a few minute ago. it works for me.

maybe is there any problem other than `trivy`?

[2022-03-09 13:15] DmitriyLewen commented on #1790
Hello @javixeneize

Thank you for your report!
Checked your pom file.
*org.springframework.boot:spring-boot-starter-test* is ignored because it has the `test` scope tag . Trivy skip this tag.
[org.springframework.boot:spring-boot-starter-web](https://mvnrepository.com/artifact/org.springframework.boot/spring-boot-starter-web/1.2.1.RELEASE) has org.springframework:spring-core:jar:**4.1.4.RELEASE**

[2022-03-09 16:37] #1792 closed

[2022-03-09 21:04] knqyf263 commented on #1809
@DmitriyLewen Can you take it? We have to make sure our templates work with the latest sprig.

[2022-03-10 05:14] DmitriyLewen commented on #1809
Hello @kochn @knqyf263
Okay! I will check and write late.

[2022-03-10 06:12] shimish2 opened #1812 "external api/method to run trivy scan"
Can trivy provide an api that runs scan and returns result in report format or if trivy has it can I get steps on how can I call that

[2022-03-10 06:17] vishaljain088 opened #1813 "Trivy Report in JSON Format"
Hi Team,

I am trying to download the trivy scan report in JSON format but the report is not coming in proper format. Result part is also getting appended in the JSON response. I want only JSON response so that I can parse the same in Jenkins pipeline. For Example:

2019-05-16T01:46:31.777+0900    INFO    Updating vulnerability database...
2019-05-16T01:47:03.007+0900    INFO    Detecting Alpine v

[2022-03-10 07:57] afdesk commented on #1813
@vishaljain088 thanks for yout interest in `trivy`.
use `--output` option please:
[code]

[2022-03-10 09:40] javixeneize commented on #1790
right, it makes sense, it confused me that the library was in the tree with a different version

[INFO] |  +- org.springframework:spring-core:jar:5.2.15.RELEASE:compile

Thanks

[2022-03-10 11:16] vishaljain088 commented on #1813
@afdesk I am still getting the same results. Screenshot attached for the reference.

<img width="927" alt="TrivyReport" src="https://user-images.githubusercontent.com/21166884/157650850-b243f924-a11a-400a-9ed3-804ccdd2eb79.PNG">
<img width="831" alt="Jenkin Snippet" src="https://user-images.githubusercontent.com/21166884/157650864-66c8fdef-7c6e-40ae-bf80-6dc7cb1878b1.PNG">

[2022-03-10 11:32] #1790 closed

[2022-03-10 11:54] afdesk commented on #1813
@vishaljain088 it's strange.
I've pulled your image and scanned it. `result.json` is a big file with correct json.
[code]
`result.json` is [here](https://gist.githubusercontent.com/afdesk/7139c365d35d3daf617ac0a426aa144b/raw/2e4f3954ac6aa8e9bb28ec1c4c11fb4cca4708d9/vishaljain088-dockerwebapp)

[2022-03-10 13:44] anders-rydbirk commented on #1805
I've figured it out, I can simply delete them via the github API:
https://docs.github.com/en/rest/reference/code-scanning#delete-a-code-scanning-analysis-from-a-repository

[2022-03-10 13:44] #1805 closed

[2022-03-10 15:13] ajw3-msw opened #1815 "Different vulnerability lists after upgrade to 0.20.0"
## Description

Running a vulnerability scan against the same image on Trivy v0.19.2 and v0.20.0 produces a list of different CVEs

## What did you expect to happen?

The list of CVEs should be the same (or at least, the new Trivy version list should contain a superset of the previous CVEs) when run against the same image.

## What happened instead?

The list of CVEs was different.

## Output of r

[2022-03-10 16:20] dachrillz commented on #90
A workaround for this that I've used is to run
[code]
since this can prune the yarn.lock

Somewhat awkward in situations where you don't really want to touch the yarn.lock file (e.g. in a build pipeline), but helps if you don't want to get overwhelmed by development vulnerabilities.

Anyone that understands yarn well could correct me here if I'm wrong but one could do something like:
[code]
The fi

[2022-03-10 16:46] avestuk opened #1816 "Trivy 0.24.2 Terraform Scan Fails - Can't make relative to..."
## Description

Trivy reports a failure to "make relative" to the file path that is being scanned. It's not clear to me why this would be as Trivy is being run as root, and root has RWX perms on the directory that is being scanned.

## What did you expect to happen?

The scan would run

## What happened instead?

The scan did not run

## Output of run with `-debug`:

[code]

## Output of `trivy -v

[2022-03-10 19:21] jdesouza commented on #1613
trivy i  docker.io/library/elasticsearch:5.6.13 <---- this does not work

trivy i  docker.io/library/elasticsearch:8.0.1  <--- this works

[2022-03-11 00:04] #1496 closed

[2022-03-11 07:38] RoyeeW commented on #1690
/root/.cache/trivy/db
-rwx------. 1 root root       149 Mar 11 08:50 metadata.json
-rwx------. 1 root root 227598336 Mar 11 08:50 trivy.db

 trivy image **--skip-update** alpine:3.12
 ERROR   The local DB has an old schema version which is not supported by the current version of Trivy CLI. It needs to be updated
FATAL   DB error: database error: validate error: --skip-update cannot be specified wi

[2022-03-11 14:22] liamg opened #1818 "feat: Improve Config/IaC Scanning"
This issue covers the design for config/IaC scanning functionality and its migration into into defsec.

Individual tasks will be [tracked in this project](https://github.com/orgs/aquasecurity/projects/19/views/1).

### Overview

Currently, Trivy scans configuration/IaC content using [fanal](https://github.com/aquasecurity/fanal), which in turn uses [tfsec](https://github.com/aquasecurity/tfsec) fo

[2022-03-11 14:48] stevehipwell opened #1819 "Support SPDX in addition to CycloneDX"
I'd like to see Trivy support SPDX; both as a release artefact and as an output of the scan. As Trivy is built with GoReleaser the SPDX SBOM can be generated at build time ([docs](https://goreleaser.com/customization/sbom/)).

It would also be great if SPDX was included in the spec for #1164 as a lot of OSS projects already output SPDX SBOMs.

[SPDX](https://spdx.dev/) is the Linux Foundation Open

[2022-03-11 16:13] afdesk commented on #1633
NVD was updated this CVE, but GitLab didn't' do it.
I've created an issue: https://gitlab.com/gitlab-org/security-products/gemnasium-db/-/issues/187

[2022-03-12 03:44] JaneJeon opened #1821 "What makes detection “more accurate” from one distro to another?"
I’ve always been curious about this statement on the overview page:

What does this mean? Why? What makes it more “accurate” than debian/other distros?

Sorry if this is a dumb question

[2022-03-12 15:02] jpinkham commented on #1555
This issue can be closed

[2022-03-13 09:58] #1787 closed

[2022-03-13 13:25] knqyf263 commented on #1819
Sounds nice.

[2022-03-13 13:35] #1660 closed

[2022-03-14 09:48] DmitryZ-outten commented on #1617
Hi! I see that the PRs are merged. But I still see one CVE detected by Trivy:
<img width="1018" alt="Screen Shot 2022-03-14 at 11 48 26 AM" src="https://user-images.githubusercontent.com/38694694/158147376-9d014d11-180a-4ce3-a9f1-7ba4b147c81a.png">

[2022-03-14 12:15] knqyf263 commented on #1816
@owenrumney Can you please look into it?

[2022-03-14 12:16] knqyf263 commented on #1815
@DmitriyLewen Can you look into it?

[2022-03-14 12:18] knqyf263 commented on #1739
@DmitriyLewen Looks like we should check the `yanked` field.

[2022-03-14 12:20] knqyf263 commented on #1700
Looks like you found out the cause. Please let me close this issue, but feel free to reopen it if you have any other issues.

[2022-03-14 12:20] #1700 closed

[2022-03-14 12:40] #1809 closed

[2022-03-14 14:20] stone-z opened #1824 "Support for overriding Service name"
It would be helpful to be able to set the Service name where Trivy is exposed in a cluster. We deploy Trivy using automation which makes the Release name unpredictable for other downstream components in the cluster, so we'd like to give the Service a predictable name independently of the Release.

[2022-03-14 14:40] stuart-warren opened #1826 "Snap support"
Related to #874 It would be nice to be able to be able to scan snaps present on the system.

Potentially through looking for `/snap/*/current/snap/manifest.yaml` files - may not always be present

I believe it's the `snapcraft.yaml` file with extra data from: https://github.com/snapcore/snapcraft/blob/main/snapcraft/internal/meta/_manifest.py

[2022-03-14 15:26] owenrumney commented on #1802
@geowalrus4gh  - we're addding support for custom rego policies to the Terraform scanning engine.

If you need a solution in the short term, Trivy supports tfsec custom check files https://aquasecurity.github.io/tfsec/v1.8.0/getting-started/configuration/custom-checks/

[2022-03-14 15:32] owenrumney commented on #1816
Hey @avestuk  - I'm trying to reproduce this issue - does you Terraform in `..../dev/aws_health` walk back up the tree to find modules or anything like that?

Are you able to provide a cut down example that reproduces?

[2022-03-14 16:22] mxmeinhold commented on #1773
Is there a timeline for when this is expected to be in a release? I can also build from source, but if it's soon I'll avoid that.

[2022-03-14 17:52] vishaljain088 commented on #1813
Hi @afdesk ,

I am basically using **docker run ghcr.io/aquasecurity/trivy:latest** in the jenkins pipeline and result is getting appended with the json.

I have to basically scan the docker images and there can be a scenario where trivy may not be installed and that the reason I am using the same.

Please help how I can get it with **sh 'docker run ghcr.io/aquasecurity/trivy:latest**?

Regards,
V

[2022-03-14 18:23] afdesk commented on #1813
Hi @vishaljain088
maybe I miss something, it seems you need to copy `trivyreport.json` from a docker container.
I'd mount a volume and save the result there.

[2022-03-14 19:04] mattfarina opened #1830 "Not detecting Alpine vulnerabilities"
## Description

Trivy is said to work on Alpine images. Yet, I can scan alpine images with Trivy and find no issues, even for old versions that are sure to have vulnerabilities due to age. Other scanner, such as Clair, are able to find vulnerabilities in Alpine images when Trivy finds nothing.

## What did you expect to happen?

I expect Trivy to find the known vulnerabilities in Alpine.

## What

[2022-03-14 20:08] mattfarina commented on #1830
Did some more digging. Seems it was a bug in the other scanner I was using that was mis-detecting the version of the package within Alpine.

[2022-03-14 20:09] #1830 closed

[2022-03-15 00:49] kaniini opened #1831 "Improved output for rejected CVEs"
Distribution vendors, such as Alpine, occasionally reject CVEs because they are not applicable to the underlying package as configured.  Trivy correctly recognizes and processes these rejections (fixed in magic version `0` in Alpine), but this can lead to confusion amongst Trivy's users when they compare to other scanners.  #1830 is an example of why this sort of confusion can be undesirable.

Acc

[2022-03-15 06:29] DmitriyLewen commented on #1739
Hello @jfowl
Thanks for your report!
You are using Trivy DB v1.
After trivy v0.23.0 switched to Trivy DB v2.
Trivy DB v2 gets vulnerabilities from [OSV](https://osv.dev/). OSV doesn't include `yanked` rustsec advisories.
Please, update Trivy to resolve your issue.

Regards, Dmitriy

[2022-03-15 09:35] Greyh4t opened #1833 "False positive for CVE-2016-5195"
## Description

When I scan a docker image, trivy reported that the CVE-2016-5195 vulnerability was found in the kernel-headers `3.10.0-1127.19.1.el7`, but the redhat has fixed the vulnerability in an earlier version `3.10.0-327.36.3.el7`

Here are the related links
[CVE-2016-5195- Red Hat Customer Portal](https://access.redhat.com/security/cve/CVE-2016-5195)
https://www.redhat.com/security/data/c

[2022-03-15 09:38] knqyf263 commented on #1831
Hi, thanks for your suggestion. It sounds interesting. We sometimes see such confusion, so this idea would be great.

We currently try to keep Trivy DB as small as possible since it is downloaded to local periodically. A large database could be problematic in CI/CD. To keep it small, our database doesn't store rejected vulnerabilities, unrelated vulnerabilities, etc. We should see how our database

[2022-03-15 09:44] knqyf263 commented on #1833
@DmitriyLewen Can you please see where 4.5.0-15.2.1.el7 comes from?

[2022-03-15 10:24] #1576 closed

[2022-03-15 11:50] DmitriyLewen commented on #1833
Hello @Greyh4t
Thank you for your report!
I will check this and write later.

Regards, Dmitriy

[2022-03-15 14:30] JSGUYOT opened #1834 "Choice possibility directory for image download"
Hello,

Trivy use /tmp for download image before scan it.
But my /tmp is in small size, and i dont want increase /tmp (production server)

TRIVY_CACHE_DIR not seems work for that ...,, is just for DB data

Is it possible to add parameter for change image download directory and let user choice ?

Regards,

[2022-03-15 15:29] ajw3-msw commented on #1815
Hi Dmitriy.

Thanks for investigating promptly for me - I understand your explanation.

I'll close the ticket.

Best regards.

[2022-03-15 15:31] knqyf263 commented on #1815
@DmitriyLewen Cool! Thanks for investigating!

[2022-03-15 15:33] knqyf263 commented on #1834
`--cache-dir` should work. @DmitriyLewen Could you help with it?

[2022-03-15 17:47] VaismanLior opened #1835 "Add OS dependencies license scans"
I would like to use trivy for getting the licenses of a project's dependencies.
This option will help the developer to avoid legal license problems in the development process.

The command can look something like`trivy fs --licenses /path/to/repo` or `trivy licenses /path/to/repo`.

It will be helpful to add this feature for Go libraries first and extend it to other programming languages later.

[2022-03-15 19:21] knqyf263 commented on #1835
I thought we might want to enable it by default, but if we call GitHub API a lot to get licenses, it will slow down scanning and reach GitHub API rate limiting (we faced this issue many times). --licnese may be good as a first step.

[2022-03-15 21:47] VinodAnandan opened #1836 "CycloneDX VEX support"
The known vulnerabilities inherited from the use of third-party and open-source software and the exploitability of the vulnerabilities can be communicated with CycloneDX.  This may help with this related issue - https://github.com/aquasecurity/trivy/issues/1831

CycloneDX VEX examples : https://github.com/CycloneDX/bom-examples/tree/master/VEX

Cc : @kaniini, @knqyf263, @masahiro331, @raesene, @st

[2022-03-16 02:46] masahiro331 commented on #1836
We can't create vex, because our database doesn't have vulnerability analysis information.

In my opinion, CycloneDX vulnerability exploitability(VEX) has two factors.
https://cyclonedx.org/use-cases/#vulnerability-exploitability

1. vulnerability assessment
  vulnerability assessment has CVE-id, CWEs, rating, and so on.
2. vulnerability exploitability
  vulnerability exploitability has real effec

[2022-03-16 02:48] masahiro331 commented on #1836
Hi @VinodAnandan, @stevespringett, We are working on that now.
https://github.com/aquasecurity/trivy/pull/1832

We can't create vex, because our database doesn't have vulnerability analysis information.

In my opinion, CycloneDX vulnerability exploitability(VEX) has two factors.
https://cyclonedx.org/use-cases/#vulnerability-exploitability

1. vulnerability assessment
  vulnerability assessment ha

[2022-03-16 04:41] DmitriyLewen commented on #1834
Hello  @JSGUYOT
Thanks for your interest in trivy!
Hello @knqyf263
@JSGUYOT is right. Trivy only [uses temp dir](https://github.com/aquasecurity/fanal/blob/5862b1978a8cc0c3064489850826f32ca004712c/image/daemon/docker.go#L38-L41) to [copy image](https://github.com/aquasecurity/fanal/blob/5862b1978a8cc0c3064489850826f32ca004712c/image/daemon/image.go#L39-L41).
@knqyf263  do you want to move the imag

[2022-03-16 07:48] knqyf263 commented on #1834
The temp dir is removed after execution. @JSGUYOT Cannot you accept even one shot?

[2022-03-16 08:36] VaismanLior commented on #1835
You are right, I thought about checking other options, like [go-licenses](https://github.com/google/go-licenses).
I am not sure how they do it yet

[2022-03-16 08:38] #1824 closed

[2022-03-16 09:10] phoenixadb opened #1837 "Detect the version of the Go binary itself"
## Description

Hello, we found a strange behaviour with **Trivy** while analyzing the **Docker** image [minio/minio:RELEASE.2021-09-03T03-56-13Z](https://hub.docker.com/layers/minio/minio/RELEASE.2021-09-03T03-56-13Z/images/sha256-5507c494fe4946d4c8b55c69b020ccd497eb259a6c878e6d831d1cb4397d4b00?context=explore).

The vulnerability [CVE-2021-43858](https://nvd.nist.gov/vuln/detail/CVE-2021-43858)

[2022-03-16 10:01] knqyf263 commented on #1739
Thanks, @DmitriyLewen. I'll close this issue, but please feel to reopen it if you have any other issues.

[2022-03-16 10:01] #1739 closed

[2022-03-16 12:09] bmnielsen opened #1840 "Include fingerprints in SARIF output"
I use Trivy in a GitHub Actions workflow, where the steps are roughly:

1. Build my container image
2. Run Trivy with SARIF output
3. Upload the SARIF file to GitHub to add the alerts to the GitHub Security tab

The problem I am seeing is that if the container image name changes between workflow runs (which normally happens when a new version of the code is being built), GitHub's alert deduplicati

[2022-03-16 14:17] jkamenik opened #1842 "Trivy image scan panics with `runtime error: slice bounds out of range [238:237]`"
## Description

Running Trivy against an image panics with `panic: runtime error: slice bounds out of range [238:237]`

## What did you expect to happen?

It not to panic.

## What happened instead?

It panic-ed.

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):

From the output it might be due to an inv

[2022-03-16 14:42] JSGUYOT commented on #1834
Hello,

@knqyf263
No, I can't ...
I use trivy for a big images (~ 3 / 4 Go) ==> I Know is too big, but are not my images :)
My /tmp FS is at 1Go, I can't increase /tmp FS because is production server define with special template

Regards,

[2022-03-16 19:46] isuftin opened #1843 "Trivy v0.24.3 (possibly previous as well) contains moderate vulnerability"
## Description

Trivy uses the Go containerd lib github.com/containerd/containerd @ version 1.5.9

This library contains a moderate vulnerablity: GHSA-crp2-qrr5-8pq7

https://github.com/containerd/containerd/security/advisories/GHSA-crp2-qrr5-8pq7

This is fixed in v1.5.10

This was found using Grype on a built Docker image

## What did you expect to happen?

No vulnerabilities to be found in offe

[2022-03-16 21:05] amfleurke opened #1844 "firewall documentation not complete, timeout on scanning image"
## Description

When behind corporate firewall, scanning an image with maven artifacts will fail with timeout.

The https://aquasecurity.github.io/trivy/v0.24.3/getting-started/troubleshooting/ page mentions to allow
- ghcr.io to download the database
- pkg-containers.githubusercontent.com (not sure for what yet, the database download works without it)

It turns out that trivy also tries to reach

[2022-03-16 21:27] dinvlad commented on #609
Could we perhaps add a switch to ignore all kernel CVEs?

[2022-03-16 21:53] thiago-gitlab commented on #1598
@knqyf263 @krol3 GitLab is bringing container scanning to free on version 15.0: https://gitlab.com/groups/gitlab-org/-/epics/2233

While this integration will still break, Trivy users should be able to use the GitLab container scanning template instead. This can be an update to https://github.com/aquasecurity/trivy/blob/main/docs/advanced/integrations/gitlab-ci.md

From:

To:

[2022-03-16 23:05] jasonumiker-plerion opened #1845 "Consistency with integer vs. floating point numbers in numerical fields in output JSON"
I am trying to import Trivy results JSON into Elastic/OpenSearch and get errors like `mapper [Results.Vulnerabilities.CVSS.nvd.V2Score] cannot be changed from type [long] to [float]"` because that V2Score sometimes has a decimal in it and sometimes it doesn't.

I am looking at needing a pipeline to go through and find all the integers/longs and add the .0 to turn them into floats to resolve this -

[2022-03-17 00:11] github-actions[bot] opened #1846 "github.com/nats-io/jwt: CVE-2020-26892"
## Title
The JWT library in NATS nats-server before 2.1.9 has Incorrect Access  ...

## Description
The JWT library in NATS nats-server before 2.1.9 has Incorrect Access Control because of how expired credentials are handled.

## Severity
CRITICAL

## Primary URL
https://avd.aquasec.com/nvd/cve-2020-26892

## References
- https://advisories.nats.io/CVE/CVE-2020-26892.txt
- https://github.com/advis

[2022-03-17 00:11] github-actions[bot] opened #1847 "github.com/nats-io/nats-server/v2: CVE-2020-26892"
## Title
The JWT library in NATS nats-server before 2.1.9 has Incorrect Access  ...

## Description
The JWT library in NATS nats-server before 2.1.9 has Incorrect Access Control because of how expired credentials are handled.

## Severity
CRITICAL

## Primary URL
https://avd.aquasec.com/nvd/cve-2020-26892

## References
- https://advisories.nats.io/CVE/CVE-2020-26892.txt
- https://github.com/advis

[2022-03-17 03:21] krol3 commented on #1598
@thiago-gitlab great news! Could you help us with the documentation about Trivy and Gitlab?  to have this information in the oficial Trivy documentation too.

[2022-03-17 07:13] knqyf263 commented on #1847
@DmitriyLewen Could you look into it?

[2022-03-17 07:13] knqyf263 commented on #1846
@DmitriyLewen Could you look into it?

[2022-03-17 07:15] knqyf263 commented on #1843
It's related to CRI implementation. Trivy doesn't use that feature.

[2022-03-17 07:15] #1843 closed

[2022-03-17 07:17] knqyf263 commented on #1842
@afdesk Seems like the error is from BurntSushi/toml. Can you please take a look?

[2022-03-17 07:23] DmitriyLewen commented on #1846
@knqyf263 I will check it.

[2022-03-17 07:23] DmitriyLewen commented on #1847
@knqyf263 I will check it.

[2022-03-17 09:34] DmitriyLewen commented on #1833
Hello @knqyf263
Trivy gets 4.5.0-15.2.1.el7 from [kernel-aarch64 package](https://www.redhat.com/security/data/oval/com.redhat.rhsa-20170372.xml). This package has the same package names as [kernel package](https://www.redhat.com/security/data/oval/com.redhat.rhsa-20162098.xml). Because of that, trivy-db overwrites `kernel` package version from 3.10.0-327.36.3.el7  to 4.5.0-15.2.1.el7, after addin

[2022-03-17 10:06] VaismanLior commented on #1835
After a bit of research, every solution available right now for license information requires the actual libraries and scans their LICENSE file to get this information.
A solution that will work without the actual libraries will require some kind of cache DB to prevent reaching the GitHub rate limit. Something similar to Aqua's vulnerability database(with an update algorithm etc.).
What do you thin

[2022-03-17 10:11] ross211 opened #1848 "Image scan errors on 0.24.3"
## Description

Today I got a scan error on a freshly built local Docker image. This had previously worked fine, it appears related to 0.24.3 as I cannot reproduce the error if I rollback to 0.24.2.

I was able to reproduce on a few systems with the following:
[code]

## What did you expect to happen?

[code]

## What happened instead?

[code]

## Output of run with `-debug`:

[code]

## Output of

[2022-03-17 15:08] afdesk commented on #1848
@ross211 I could reproduce this issue.
`trivy` can't select an image correctly. I need to investigate it more.
as a workaround - you can set a tag for your image:
[code]

[2022-03-17 16:55] houshym opened #1851 "404 error after I install trivy on kubernetes cluster"
## Description

## What did you expect to happen?
trivy web page

## What happened instead?
404 error

## Output of run with `-debug`:

This is in K8s cluster and the only log are
2022-03-17T20:46:06.922Z    INFO    Need to update DB
2022-03-17T20:46:06.922Z    INFO    Downloading DB...
2022-03-17T20:46:11.937Z    INFO    Listening 0.0.0.0:4954...
2022-03-18T00:46:11.939Z    INFO    Updating DB...

[2022-03-17 17:14] knqyf263 commented on #1851
Need more info

[2022-03-17 17:29] houshym commented on #1851
what information do you need?

[2022-03-17 17:30] knqyf263 commented on #1835
If I understand correctly, go modules will be stored in local cache like `$GOPATH/pkg/mod/github.com/stretchr/testify@v1.7.0/LICENSE `. In CI/CD, it is common that users run `go build` or `go test`, so we may be able to assume that go modules in local. But it may not exist if the scanning is dependent from other tests. In case we don't find `$GOPATH/pkg`, we can show a warning like `you must run `

[2022-03-17 19:05] #1848 closed

[2022-03-17 19:57] thiago-gitlab commented on #1598
@krol3 I'd be happy to provide an MR with the suggestion above.

There's already a link to https://docs.gitlab.com/ee/user/application_security/container_scanning/ from https://github.com/aquasecurity/trivy/blob/main/docs/advanced/integrations/gitlab-ci.md.

Do you think we should add anything else?

[2022-03-18 08:39] deryoman commented on #1816
I am experiencing the same problem with version `0.24.4` on `macOS 12.2.1`

Running a trivy filesystem scan with terraform hlc files results in the following error
[code]

[2022-03-18 10:16] tklein opened #1855 "False positive for CVE-2021-31684 json-smart"
## Description

Scanning a custom Docker images finds a vulnerability in

[code]

According to [1] it seems to me that version 2.3.x is not affected and that even version 2.4.4 is to be consired as fixed.

[1] https://nvd.nist.gov/vuln/detail/CVE-2021-31684

## What did you expect to happen?

Version 2.3.1 of net.minidev:json-smart is not considered vulnerable.

[2022-03-18 10:34] afdesk commented on #1842
@jkamenik thanks for your report!
I'll take a look at this issue

[2022-03-18 10:40] afdesk commented on #1633
this PR was merged and now `trivy` shows fixed versions correctly.

I close this issue.
@sc30 feel free to reopen this issue if this one is exist.

[2022-03-18 10:40] #1633 closed

[2022-03-18 10:45] afdesk commented on #1848
@ross211 thanks again!
`trivy` v.24.4 should fix this issue

[2022-03-18 15:30] ross211 commented on #1848
Thanks for the quick fix, I can confirm 0.24.4 resolved it.

[2022-03-18 16:39] remidebette opened #1856 "Add support to conda lock files"
Hi,

Additionally to #492, would it be possible to add support to conda [explicit files](https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html#building-identical-conda-environments) (as obtained by `conda list --explicit`)

These files can also be generated by the package [conda-lock](https://github.com/conda-incubator/conda-lock), so in the end they cover pretty

[2022-03-20 15:52] tspearconquest opened #1858 "Pre-commit hook"
Hi, I want to contribute a pre-commit hook to run Trivy while doing git commit with pre-commit installed.

This issue is to track the effort in case anyone would like to collaborate.

I plan to start this hopefully within a couple of weeks. I'm currently pressed for some time to work on it, but I wanted to get the issue open in case anyone would like to discuss anything about it. :)

[2022-03-20 16:54] tao12345666333 commented on #1773
@mxmeinhold It has been released https://github.com/aquasecurity/trivy/releases/tag/v0.24.3

[2022-03-20 18:11] Fenderstuen commented on #1743
Bump or something?

[2022-03-21 09:12] knqyf263 commented on #1743
@DmitriyLewen Can you take a look?

[2022-03-21 09:30] DmitriyLewen commented on #1743
Hello @Fenderstuen
Thanks for your report!
I will try to reproduced your problem and write to you later.

Regards, Dmitriy

[2022-03-21 12:07] jkamenik commented on #1842
Any update or at least suggestion on fix?  Right now we have disabled Trivy in our CI/CD which is less then idea.

[2022-03-21 12:19] afdesk commented on #1842
@jkamenik oh, give me some time. I'm going to investigate it today.

[2022-03-21 12:19] rohan-kumar-nutanix opened #1860 "trivy client --clear-cache not working"
## Description

## What did you expect to happen?
Remove artifact cache

## What happened instead?
Issued a warning and did not remove artifact cache

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):
Trivy server works fine

[2022-03-21 12:42] afdesk commented on #1842
@jkamenik sorry for waiting, I forgot that it's a known issue in [BurntSushi/toml](https://github.com/BurntSushi/toml).
duplicate #1372

I asked to fix it, but it isn't important...
https://github.com/BurntSushi/toml/issues/329
https://github.com/BurntSushi/toml/pull/330#issuecomment-970369632

so, there is a solution (https://github.com/aquasecurity/trivy/issues/1372#issuecomment-970404519) to sk

[2022-03-21 12:46] knqyf263 commented on #1860
As the log message says, a client doesn't have any cache.

[2022-03-21 13:23] rohan-kumar-nutanix commented on #1860
trivy client --help shows an option to clear cache by using the flag --clear-cache. If this does not work, how am I supposed to clear the server cache in a client-server configuration.

Thanks

[2022-03-21 13:51] #634 closed

[2022-03-21 13:51] afdesk commented on #1855
@tklein thanks for your report!
It seems you're right!
`trivy` depends on [GitHub Advisory Database](https://github.com/advisories): https://github.com/advisories/GHSA-fg2v-w576-w4v3. and it shows that CVE-2021-31684 affect on version 2.3.1. will try to change it.

[2022-03-21 14:00] afdesk commented on #1855
I've created PR: https://github.com/github/advisory-database/pull/131
we'll wait for review

[2022-03-21 16:09] dinvlad commented on #1558
It would be nice to be able to ignore by `os`/`library` as well.

[2022-03-21 18:02] Fenderstuen commented on #1743
Thanks.

Let me know if you need the exact container image and I'll create an export.

Kind regards

[2022-03-21 20:06] trevor-vaughan opened #1863 "Running the filesystem scanner with the -o option results in an empty file"
## Description

When running `trivy fs -o report.txt` the results are printed to the screen and an empty `report.txt` file is generated.

## What did you expect to happen?

I expected all results to be added to the `report.txt` file.

## What happened instead?

The results were printed to the screen and an empty file resulted.

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[co

[2022-03-22 06:12] DmitriyLewen commented on #1743
Hello @Fenderstuen
This is great! Export the container image, please. This will help me a lot!

[2022-03-22 06:40] knqyf263 commented on #1863
Your directory doesn't have any language-specific files. If there are Gemfile.lock, Pipfile.lock or things like that, it will show some results.

[2022-03-22 06:45] knqyf263 commented on #1856
Let's see how many users need the conda support. Also, we welcome contribution from anyone.

[2022-03-22 06:48] knqyf263 commented on #1837
@DmitriyLewen Would you take a look?

[2022-03-22 06:51] knqyf263 commented on #1821
As for Alpine, you can see this discussion. We correctly handle version comparison, rejected vulnerabilities, etc.
https://twitter.com/ariadneconill/status/1503505721157206017

Also, Trivy is certified by Red Hat.
https://www.redhat.com/ja/blog/introducing-red-hat-vulnerability-scanner-certification

[2022-03-22 07:11] #1555 closed

[2022-03-22 07:26] DmitriyLewen commented on #1837
Hello @phoenixadb
Thanks for your report!
I will try to reproduce your problem and write to you later.

Regards, Dmitriy

[2022-03-22 12:16] DmitriyLewen commented on #1743
@Fenderstuen Thank you!
I will test and write to you.

[2022-03-22 13:13] trevor-vaughan commented on #1863
Maybe it will make more sense with an example:

* `trivy fs -o report.txt .`
  * Nothing should be printed to stdout, I specified a file
    * **This is the issue**
  * `report.txt` is created but empty
  * Things are printed to stdout
  * This occurs with, or without, findings

* `trivy fs -o report.json -f json .`
  * Nothing is printed to stdout (good)
  * report.json is filled properly

[2022-03-22 14:34] neongreenplants opened #1867 "Trivy scan vulnerabilities in the application dependencies"
Hi, Is it possible to use `Trivy fs`  with custom rego policy (for example I want to find specific packages by name) for scans vulnerabilities in application dependencies?

[2022-03-22 15:27] kobus-v-schoor opened #1869 "Missing vulnerabilities for jar files after v0.19.2"
## Description

Trivy (v0.24.4) detects the packages inside a jar file downloaded in a docker container, but does not report the vulnerabilities associated with old packages inside the jar. This however does not happen with a very old version of trivy (0.19.2), which I tested due to  #1385.

## What did you expect to happen?

The vulnerabilities should be reported

## What happened instead?

The v

[2022-03-22 15:34] AndreyLevchenko commented on #1867
Hi Sergey
you can use `--list-all-package` and `--format json` and then process output with `opa` tool

Regards
Andrey

[2022-03-22 16:27] kobus-v-schoor commented on #1869
It seems like the detection of vulnerabilities in jar files is sporadic. Unfortunately I cannot post examples, but successive scans of builds of the same project with the same jar files yields different results: some vulnerabilities are missing from some of the scans, and all of them are from jar files

[2022-03-22 16:31] pmuz opened #1870 "Trivy vulnerability distribution"
## Description

## What did you expect to happen?

Expected no vulnerabilities

## What happened instead?

LIBRARY | VULNERABILITY ID | SEVERITY | INSTALLED VERSION | FIXED VERSION
-- | -- | -- | -- | --
libcrypto1.1 | CVE-2022-0778 | HIGH | 1.1.1l-r7 | 1.1.1n-r0
libretls | CVE-2022-0778 | HIGH | 3.3.4-r2 | 3.3.4-r3
libssl1.1 | CVE-2022-0778 | HIGH | 1.1.1l-r7 | 1.1.1n-r0
github.com/docker/distrib

[2022-03-23 00:36] JaneJeon commented on #1821
Ah, makes sense. Would be good if you documented it but if not, at least there’s this issue others can look up. Thanks!

[2022-03-23 00:36] #1821 closed

[2022-03-23 00:52] chroju commented on #1816
I also encountered the same error with `0.24.0`.

In my environment, to find the module, it has to go back through the file path. `../modules/foobar` . It worked fine in terraform files without using the module.

`0.23.0` seems to work fine.

[2022-03-23 05:09] DmitriyLewen commented on #1837
Hello @phoenixadb
Thanks for waiting!
[minio/minio:RELEASE.2021-09-03T03-56-13Z](https://hub.docker.com/layers/minio/minio/RELEASE.2021-09-03T03-56-13Z/images/sha256-5507c494fe4946d4c8b55c69b020ccd497eb259a6c878e6d831d1cb4397d4b00?context=explore) includes `usr/bin/minio` binary file. This binary has vulnerability [CVE-2021-43858](https://nvd.nist.gov/vuln/detail/CVE-2021-43858).
Trivy can parse t

[2022-03-23 06:27] caseyhyde commented on #1869
Same here as @kobus-v-schoor  - Sporadic results and I didn't take notes, so this will probably be just noise, but here's my experience:

`trivy image <my-image:tag>` would scan the image fine, but not the jar inside, printing the `INFO` message: `Number of language-specific files: 0` every time.

`trivy fs .` returned the same in a local directory containing a the jar.

`trivy rootfs .` actually

[2022-03-23 06:33] DmitriyLewen commented on #1743
Hello @Fenderstuen
Thank you for your image a lot! I checked it.

I scanned your image. Trivy found `httpd24...` packages, but doesn't include vulnerabilities for those packages in result.
<details><summary> trivy image --list-all-flags --format json issue1743:issue1743/user </summary>

[code]

</details>

If i understand correctly, your image is based on `Red Hat Enterprise Linux 7`.
[CVE-2021-40

[2022-03-23 06:49] kobus-v-schoor commented on #1869
Thanks @caseyhyde - I also think I've found some related issues: #1613, #1714, and #1748 seem very similar

[2022-03-23 07:08] kobus-v-schoor commented on #1869
I've tested exporting my `kobusvschoor/trivy-test` container and using the `rootfs` command, but the jar vulnerabilities are still not detected

[2022-03-23 08:34] kobus-v-schoor commented on #1869
Unfortunately it seems like the issue is also present in v0.19.2, although to a lesser extent. Just to give a bit more info, In our setup we have worker nodes that scan hundreds of images rapidly after each other. I've tested clearing the cache between each scan, as well as running in offline mode (for the newer versions which support it) and neither helped

[2022-03-23 10:39] phoenixadb commented on #1837
Hi @DmitriyLewen,

Even when compiled **readelf** displays no version number. When using the compiled binary (**./minio --version**), it displays "**minio version DEVELOPMENT.GOGET**".

The only way will be to compare URL from downloaded release with **CPE** from **MITRE** to check vulnerabilities.
`curl -s -q https://dl.min.io/server/minio/release/linux-${TARGETARCH}/archive/minio.${RELEASE} `

[2022-03-23 12:37] oliviergaumond commented on #1684
I also commented in the PR. After further investigation, the API does require the wrapping Findings object, but the CLI expects directly the array.

Therefore the sample provided here: https://aquasecurity.github.io/trivy/v0.17.0/integrations/aws-security-hub/ no longer works with the new template. At a minimum the documentation should be updated.

[2022-03-23 12:51] oliviergaumond commented on #815
This can be managed by providing a default value for the description.

For example, on line 32
`"Description": {{ escapeString (default "No description available" $description) | printf "%q" }},`

There is also a potential issue of the description field being too long, because of the use of the escapeString after the trim.

[2022-03-23 13:41] neuwerld2 opened #1872 "CVE-2020-36518 should be fixed in 2.13.2 in maven central but Trivy wants 2.14"
## Description
Today when building one of our applications we got a failure on the CVE-2020-36518. According to Trivy this should be fixed in version 2.14 of Jackson bind.
According to https://github.com/FasterXML/jackson-databind 2.14 should be artifact version 2.13.2 in Maven central but when using 2.13.2 artifact as dependency in our application Trivy still say that this vulnerability exists.

[2022-03-23 15:35] cwrau commented on #1872
We seem to be getting the same error;

[code]

As you can see we're using jackson-databind 2.13.2, and this CVE is apparently fixed in 2.14, but 2.14 is not released yet 😅

We're running with `--ignore-unfixed`, fyi

[2022-03-23 21:42] #1788 closed

[2022-03-24 02:58] AXDOOMER opened #1874 "Trivy returns invalid JSON"
When running Trivy on some projects, the description may contain special characters such as `\n` and `\"`. This prevents parsing the result with Javascript as the JSON.parse() function will complain about a bad control character. To be valid JSON, `\n`should be correctly escaped as `\\n` and `\"` as `\\"`.

This Javascript function behaves correctly as there shouldn't be such control sequences in

[2022-03-24 07:35] thangamani-arun commented on #1357
With latest image, it got fixed. Thanks @afdesk for the pointers.

[2022-03-24 10:17] stickycode commented on #1872
From https://nvd.nist.gov/vuln/detail/CVE-2020-36518

CVE-2020-36518 DetailCurrent Descriptionjackson-databind before 2.13.0 allows a Java StackOverflow exception and denial of service via a large depth of nested objects.

That is to say its fixed in any 2.13 version, this is super annoying and blocking lots of our builds. Simple fix?

[2022-03-24 10:42] knqyf263 commented on #1872
@DmitriyLewen Can you take a look?

[2022-03-24 10:45] stickycode commented on #1872
Ive raised a pr in the GitHub advisory repo and on the vulnlist repo

On Thu, 24 Mar 2022, 23:42 Teppei Fukuda, ***@***.***> wrote:

[2022-03-24 11:08] javixeneize opened #1875 "can you report vulnerabilities but dont consider those for the exit code?"
Hi

I would like to know if it is possible for trivy to report all the vulnerabilities detected, independently of the severity, but consider only vulnerabilities with a given severity for the exit code value.

Moreover what i want to do is trivy to report all the vulnerabilities in the report, but return an exit code 2 only if there are high or critical vulnerabilities. Would it be possible?

Than

[2022-03-24 11:41] javixeneize opened #1876 "Rego policy"
Hi

I have a question regarding the rego policy. I would like to suppress a vulnerability in a given package using the CVE identifier. I have not been able to find out what is the name of the field that contains the CVE.

Is there any document where the fields in the policy is described? I have seen for example input.Severity, input.PkgName etc... but cant find the name for the cve identifier

Als

[2022-03-24 12:01] DmitriyLewen commented on #1872
Hello @neuwerld2 , @cwrau, @stickycode
Thanks for your report!

Trivy takes patched versions from [GitHub Advisory](https://github.com/advisories/GHSA-57j2-w4cx-62h2), where it is version 2.14.

Thanks @stickycode for your PR on GitHub!
@stickycode Your PR in `vuln-list` doesn't make sense, because [vuln-list-update](https://github.com/aquasecurity/vuln-list-update) automation updates vulnerabilit

[2022-03-24 12:30] eoraita opened #1877 "FATAL DB error: failed to download vulnerability DB: OCI artifact error: OCI artifact error: OCI repository error:"
We upgraded to trviy version 0.24.4 and when running the trivy Scan we are getting the following error:

FATAL	DB error: failed to download vulnerability DB: OCI artifact error: OCI artifact error: OCI repository error: Get "https://ghcr.io/v2/": x509: certificate signed by unknown authority

We where using release 0.21.3 prior and had now issues and then yesterday afternoon we started getting 👍

[2022-03-24 12:48] DmitriyLewen commented on #1837
Hello @phoenixadb
This way will only work for `mini`.
But we need a generic method for any goBinary files.

[2022-03-25 03:27] stonezdj opened #1879 "Trivy scanner report Low serverity CVE-2017-9117 with package libtiff5"
We have an image `firstfloor/mepsqc:latest` which the trivy scanner report the following CVE
[code]
From the https://avd.aquasec.com/nvd/2017/cve-2017-9117/, it is already fixed in LibTIFF 4.0.7, the current version 4.2.0-1 should not be affected.
Not sure why the scan reported this CVE?

[2022-03-25 04:49] DmitriyLewen commented on #1876
Hello @javixeneize
Thank you for your interest to Trivy!

The structure of each vulnerability input is the same as for the Trivy JSON output. To ignore packages by CVE ID use: `input.VulnerabilityID`.

Also you can use [.trivyignore](https://aquasecurity.github.io/trivy/v0.24.4/vulnerability/examples/filter#by-vulnerability-ids) file to skip packages by CVE.

Thanks for information about broken li

[2022-03-25 05:20] DmitriyLewen commented on #1877
Hello @eoraita
Thank you for your report!

If trivy is running behind corporate firewall, you have to add the following urls to your allowlist.:
-  ghcr.io
-  pkg-containers.githubusercontent.com

[Read more about some of the issues here ](https://aquasecurity.github.io/trivy/v0.24.4/getting-started/troubleshooting)

Regards, Dmitriy

[2022-03-25 05:29] eoraita commented on #1877
Thankyou For the response.  I will try this out

[Ericsson]<http://www.ericsson.com/>
ORAZIO ITALIANO
Service Delivery Sr. Integration Engineer
MANA ITC TI OSS Inventory Management

Phone 1 913 241 5735
Mobile 732 910 2959
***@***.******@***.***>

Ericsson
One Ericsson Drive, Bldg 6
08854-4182,Piscataway, New Jersey
United States
www.ericsson.com<http://www.ericsson.com/>

[http://mediabank.ericss

[2022-03-25 07:15] javixeneize commented on #1876
Thanks! So, the name of the fields match with the ones in the json output, correct? This applies to other fields like lobrary version for example

[2022-03-25 07:32] DmitriyLewen commented on #1879
Hello @stonezdj
Thanks for your report!

I don't have access to image `firstfloor/mepsqc:latest`. Without image i can't reproduce your issue.
Can you send your image or dockerfile and I will try to figure out why you are getting this vulnerability.
Also post result of the `trivy -v` command.

Thanks!
Regards, Dmitriy.

[2022-03-25 07:38] DmitriyLewen commented on #1876
Yes! You are right. You can filter by library version by using `input.InstalledVersion`.

[2022-03-25 08:05] stonezdj commented on #1879
sorry, my first push failed, I repushed it, could you please retry
[code]

[2022-03-25 09:42] DmitriyLewen commented on #1879
Hello @stonezdj
Thanks for your image!

`tiff` package has unfixed vulnerability in Debian 11: [CVE-2017-9117](https://security-tracker.debian.org/tracker/CVE-2017-9117).
Trivy has discovered it.

Regards, Dmitriy

[2022-03-25 09:52] kobus-v-schoor commented on #1869
Ok I think I might've found some extra info - the Gitlab and Github advisories for the same vuln are not the same? See

- https://advisories.gitlab.com/advisory/advmaven_org_yaml_snakeyaml_CVE_2017_18640.html
- https://github.com/advisories/GHSA-rvwf-54qp-4r6v

While debugging it seems like the latest version uses Gitlab for its report, whereas the older version used GHSA (Github)

[2022-03-25 11:07] kobus-v-schoor commented on #1869
Ok another piece of information, it looks like enabling `--offline-scan` at least fixes the inconsistency issue. Once I enabled that, subsequent scans reported the same number of vulns. They do however report fewer vulns than some of the other scans that were run without the `--offline-scan` option, so the lookup on `search.maven.org` is resulting in more vulns being detected. I think this is rela

[2022-03-25 16:57] isuftin opened #1881 "Image scan using --output hides the vulnerability output in stdout"
## Description

Image scan using --output hides the vulnerability output in stdout. We run a nightly scan and the log output shows a vulnerability has been found but we have to look at build artifacts to find out what they are. I can't tell if this is the expected behavior or if there's a way to get full output when writing to a file?

## What did you expect to happen?

stdout includes the vulnera

[2022-03-25 22:24] AXDOOMER commented on #1816
With Trivy `0.24.4`, I got the same error when scanning a Terraform file containing the following:
(some content was cut, but this is the essential part that causes the crash)
[code]
Command used: `trivy --debug fs  --security-checks vuln,config splunk-alert-manager`

Error:
[code]

[2022-03-26 18:36] maestropandy opened #1882 "Add CLI support to pass CVE instead of adding them into trivyignore file"
avd.aquasec.com/nvd/cve-2018-20843 |
+              +------------------+          +                   +---------------+---------------------------------------+
|              | CVE-2019-15903   |          |                   | 2.2.7-r1      | expat: heap-based buffer              |
|              |                  |          |                   |               | over-read via crafted XML input

[2022-03-27 08:03] knqyf263 commented on #1881
It is expected. I'm not sure what you need, but you can export the result to a file and show it in stdout.

[code]

[2022-03-27 17:14] javierfreire commented on #1581
Thank you

[2022-03-27 17:14] #1581 closed

[2022-03-28 00:05] #1547 closed

[2022-03-28 05:03] DmitriyLewen commented on #1882
Hello @maestropandy
Thanks for you interest for Trivy!

You can use `.trivyignore` file or filter with `Open Policy Agent`.
[More information here](https://aquasecurity.github.io/trivy/v0.24.4/vulnerability/examples/filter/).

Regards, Dmitriy

[2022-03-28 08:30] #1846 closed

[2022-03-28 08:30] #1847 closed

[2022-03-28 09:12] #1876 closed

[2022-03-28 12:53] knqyf263 commented on #1874
@afdesk Could you look into it? We use a standard JSON library provided by Go.

[2022-03-28 12:57] javixeneize opened #1884 "different report when using fs and rootfs"
Hi

I am scanning my application both with fs and rootfs options. I expected to have the same results, but, i have a vulnerability, CVE-2020-15522 (org.bouncycastle:bcprov-jdk15on:1.64), which is reported with fs but not with rootfs.

When running rootfs scan, i can see the bouncy castle library is detected and scanned, but no vulnerability is reported in there

**2022-03-28T13:55:09.271+0100	DEBU

[2022-03-28 13:25] javixeneize opened #1885 "CVE-2021-33037 and CVE-2021-43466 not detected"
Hi

There are some vulnerabilities in an application i am scanning that are not detected by trivy. CVE-2021-43466 and CVE-2021-33037, both are listed in github advisories.

I have seen #1227 where somebody reports that vulnerability not detected, and the answer was that trivy doesnt scan unpacked applications.

I have that tomcat library (tomcat-embed-core:9.0.46) inside my application, you can us

[2022-03-28 13:27] #1377 closed

[2022-03-28 13:28] javixeneize commented on #1869
Could it be related to this? https://github.com/aquasecurity/trivy/issues/1728

[2022-03-28 13:43] kobus-v-schoor commented on #1869
@javixeneize I don't think its the same issue, for the first issue with the missing vuln it's due to the Gitlab & Github security advisories having different affected versions listed. I think your issue is related to your image having two versions of the same package installed?

[2022-03-28 14:45] afdesk commented on #1855
the PR was merged, `trivy` db was updated and the problem was fixed.

@tklein otherwise, please, feel free to re-open this issue! thanks

[2022-03-28 14:45] #1855 closed

[2022-03-28 14:46] afdesk commented on #1869
@kobus-v-schoor thanks for your report!
I'll try to clarify this issue.

[2022-03-28 14:47] afdesk commented on #1874
@AXDOOMER thanks for your report!

@knqyf263 I'll try to investigate it.

[2022-03-28 15:05] owenrumney commented on #1816
@AXDOOMER thanks for this - its allowed to find the actual issue. It seems like the permission you mention is orphan in that its not associated to a lambda - is that the case?

Regardless of whether it is, we need to be more defensive on our end so I'm putting together a fix - I just wanted to be clear I'd pinpointed the issue

[2022-03-28 15:26] AXDOOMER commented on #1816
It's associated to a lambda function. I didn't share it for privacy reasons and whether it was present or not, it didn't prevent the crash from happening when Trivy scans this snippet of code.

[2022-03-29 06:29] PenelopeFudd opened #1886 "InstalledVersion comparison doesn't process "epoch" value in debian package version numbers"
## Description

`trivy rootfs -s HIGH -f json /` shows several packages are vulnerable due to incorrect version comparison.

For example, the debian package named `zabbix-get` with version `1:5.0.20-1+bionic` is flagged as a "HIGH" severity vulnerability, but the details indicate that only versions before 2.2.x, 3.0.31 and 3.2 are vulnerable.

## What did you expect to happen?
I expected that the

[2022-03-29 10:26] knqyf263 commented on #1886
@DmitriyLewen Could you take a look? We are supposed to handle epoch properly.

[2022-03-29 11:57] DmitriyLewen commented on #1886
Hello @PenelopeFudd
Thanks for your report!

I will try to reproduce your problem and write to you later.

Regards. Dmitriy

[2022-03-29 11:57] afdesk commented on #1617
PR was merged and CVE-2021-44228 was updated, so this issue should be fixed.
@DmitryZ-outten otherwise, please, feel free to re-open it. thanks

[2022-03-29 11:57] #1617 closed

[2022-03-29 14:06] DmitryZ-outten commented on #1617
@afdesk Thank you for the help! All is good now!

[2022-03-29 14:34] albertschwarzkopf opened #1889 "Feature: Add podAnnotations"
Hi,

it would be nice, if pod annotations would be configurable via values file. E.g:

values.yaml:
[code]

statefulset.yaml:

[code]

[2022-03-29 16:51] tschmidtb51 commented on #1475
Just a quick remark: [Here](https://github.com/oasis-tcs/csaf/issues/484) is a description how you link an SBOM component in CSAF as well as examples for [CycloneDX](https://github.com/oasis-tcs/csaf/issues/484#issuecomment-1076299031) and [SPDX](https://github.com/oasis-tcs/csaf/issues/484#issuecomment-1077745182).

[2022-03-29 17:44] PenelopeFudd commented on #1886
If you want to reproduce it with zabbix_get, installation instructions are here: https://www.zabbix.com/download?zabbix=5.0&os_distribution=ubuntu&os_version=18.04_bionic&db=postgresql&ws=nginx

[code]

[2022-03-29 19:04] PenelopeFudd opened #1890 "image scan failed: too many open files"
## Description

Got this error on Ubuntu 18.04:
[code]

## What did you expect to happen?
Successful scan

## What happened instead?
Fatal error

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):
During the next scan, I hit Ctrl-Z and ran `lsof` on the trivy process.  It showed that trivy had quite a few

[2022-03-29 19:15] PenelopeFudd commented on #1890
Ok, tried `ulimit -n 102400` and got a new error:
[code]

Found https://github.com/aquasecurity/trivy/issues/1519 , added `--timeout 15m` after `rootfs`, we'll see how it goes.

[2022-03-29 19:28] PenelopeFudd commented on #1890
Ok, that worked!

[2022-03-30 04:44] DmitriyLewen commented on #1886
Hello @PenelopeFudd
Thank you for instruction!

You are installing `zabbix-get` package from `apt`.
Trivy gets list of vulnerabilities for `apt` packages from [ubuntu database](https://ubuntu.com/security/cves).
[CVE-2020-11800](https://ubuntu.com/security/CVE-2020-11800) doesn't have fixed version for `bionic ubuntu`.
That's why Trivy includes `CVE-2020-11800` in the result.

[2022-03-30 05:10] PenelopeFudd commented on #1886
Excellent troubleshooting, I now see how Trivy made its determination.

However, the zabbix-get package being flagged as a high-severity vulnerability is not from Ubuntu, it's from the original developers (Zabbix), and the Ubuntu CVE database won't (and arguably shouldn't) have information about non-Ubuntu packages.

Could Trivy check the package metadata to help decide on the CVE database to chec

[2022-03-30 05:33] PenelopeFudd opened #1892 "panic: interface conversion: interface {} is map[string]*parser.Property, not string"
## Description

[code]

## What did you expect to happen?
It should have worked.

## What happened instead?
It died with a big error message.

## Output of run with `-debug`:

[debug.txt](https://github.com/aquasecurity/trivy/files/8377303/debug.txt)

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):
Trivy is working on most of our machines, it'

[2022-03-30 05:37] DmitriyLewen commented on #1886
Hello @knqyf263
What do you think about use `Maintainer` field when Trivy scans `apt` packages?

[2022-03-30 05:43] PenelopeFudd commented on #1892
From the debug log, the last filename it printed was: https://github.com/hashicorp/hcl/blob/v1.0.0/test-fixtures/multiline_literal.hcl
The line that died: https://github.com/aquasecurity/defsec/blob/v0.17.1/parsers/cloudformation/parser/property_helpers.go#L105

[2022-03-30 06:11] knqyf263 commented on #1886
Is there any field like `Vendor`? If no, `Maintainer` looks good.

[2022-03-30 06:28] DmitriyLewen commented on #1886
There is no  `Vendor` field. What the database should  we  use for `non-ubuntu` packages? NVD or something else?
To use NVD, we need a list of affected packages and fixed versions. Trivy-db doesn't currently collect this information.

[2022-03-30 06:29] PenelopeFudd commented on #1886
I did a quick check of the Ubuntu 20.04 package lists, and came up with this:
[code]
It looks like the presence of `Origin: Ubuntu` is your best bet.  That said, it's an optional field, according to the docs: http://manpages.ubuntu.com/manpages/trusty/man5/deb-control.5.html

Here's a list of field "popularity":
[code]
From this bare-bones analysis, it's hard to say if there are some packages with

[2022-03-30 06:36] PenelopeFudd commented on #1892
After a bit more work, it looks like this file is the culprit: /etc/heat/templates/AWS_RDS_DBInstance.yaml , from this package:
[code]

File: [AWS_RDS_DBInstance.yaml.txt](https://github.com/aquasecurity/trivy/files/8377659/AWS_RDS_DBInstance.yaml.txt)
The .txt extension was added to allow attaching it to this ticket.

[2022-03-30 07:52] rohan-kumar-nutanix opened #1894 "Integrating Trivy with private registry"
Hi, I have a specific use-case I am targeting. I am running trivy in client-server mode. I am able to integrate it with my private registry. I can use the command line tool to scan an image in my registry. However, I am trying to build a REST API on top of this. When I send a request to my REST API endpoint, I want to scan that image in the backend using trivy. How am I supposed to do this? I am n

[2022-03-30 11:43] knqyf263 commented on #1886
Currently, we cannot detect vulnerabilities since 3rd-patry maintainers usually don't provide security advisories. Even though they do, it would be a big effort to support each of them. One of options is NVD, but they may have backport fixes. In that case, using NVD will lead to false positive.
We should skip those non-debian/ubuntu packages for now.

@PenelopeFudd Thanks for your quick research.

[2022-03-30 11:43] #1642 closed

[2022-03-30 12:48] DmitriyLewen commented on #1886
@knqyf263 I checked `ubuntu:16.04` docker image.
Image has 480 packages:
[code]
Only one package includes `Origin` field:
[code]
94 packages include `Maintainer` field:
[code]

[2022-03-30 13:04] afdesk commented on #1869
it seems that this isn't an issue in `trivy` but in the vulnerability.
at first I'd like to confirm that CVE-2017-18640 affects on `org.yaml:snakeyaml`.

the CVE's description is next:

but affected range is Up to (excluding) 1.26...

[2022-03-30 13:09] afdesk commented on #1869
so there is a difference in the descriptions of this vulnerability in [GitHub Advisory Database](https://github.com/advisories/GHSA-rvwf-54qp-4r6v) and [GitLab Advisory Database](https://gitlab.com/gitlab-org/advisories-community/-/blob/main/maven/org.yaml/snakeyaml/CVE-2017-18640.yml): the first includes all versions before 1.26, but the second include only 1.18.

where is a mistake?

[2022-03-30 13:33] afdesk commented on #1869
it seems that Github is right: https://lists.fedoraproject.org/archives/list/package-announce@lists.fedoraproject.org/message/PTVJC54XGX26UJVVYCXZ7D25X3R5T2G6/

[2022-03-30 13:43] afdesk commented on #1869
I've created an issue on Gitlab Advisory: https://gitlab.com/gitlab-org/security-products/gemnasium-db/-/issues/188

[2022-03-30 14:49] knqyf263 commented on #1890
Good to hear it works. So, can we close this issue?

[2022-03-30 14:53] knqyf263 commented on #1860
Oh, you're right. We should remove it.

A client cannot trigger the cache clear as of today. You need to stop a server and clear the cache. If you use Redis as the cache backend, you can log in to the Redis server and remove it.
https://aquasecurity.github.io/trivy/v0.24.4/vulnerability/examples/cache/#cache-backend

[2022-03-30 15:05] ben-harvey opened #1896 "Issues with importing the ASFF generated by `asff.tpl`"
I'm using `asff.tpl` and running into some issues with importing the resulting ASFF that have led me to use a modified version the template.  However, it would be great to use the provided template directly, since updates to Trivy can introduce changes that break older versions of the template.
1. The `description` is escaped after truncating.  Since escaping adds characters, this can lead to a de

[2022-03-30 16:53] ghost opened #1897 "Trivy vs Clair"
Hi,

I have noticed a different score and amount of cve entered between products is this normal?

https://youtu.be/mhzKCz__dS0

Best Regards,
Fabio Sbano

[2022-03-31 00:01] oliviergaumond opened #1898 "ASFF Template need a different format depending on the context"
## Description
A recent PR (#1685) modified the format of `contrib/asff.tpl` to include a wrapping structure. As reported in issue #1684

However, depending on how the report is sent to Security Hub it may or may not need the wrapping structure.
- If using the AWS API or an SDK, the wrapping structure is needed
- If using the AWS CLI the wrapping structure should not be used

## What happened?
Wit

[2022-03-31 00:04] oliviergaumond commented on #1898
@afdesk I can submit a PR for this if you want. Just want some guidance on how to address.

What I think:
- Create two versions of the template: asff-api.tpl ans asff-cli.tpl
- Update the documentation to provide usage using the CLI and the API with the respective template

Any other suggestions?

[2022-03-31 05:13] DmitriyLewen commented on #1886
I checked all the packages in more detail.
Some packages have `State: not a real package (virtual)` and don't have `Version` field.
Trivy [will ignore](https://github.com/aquasecurity/fanal/blob/4487565cbf7a1fa388b49c172239cf5157137222/analyzer/pkg/dpkg/dpkg.go#L163)  these packages.
Ubuntu has 97 packages with `Version` field:
[code]
So, all packages with a `Version` field have `Maintainer` field

[2022-03-31 06:27] DmitriyLewen commented on #1872
Hi @neuwerld2 @cwrau
PR151 merged.
Fixed version for [CVE-2020-36518](https://github.com/advisories/GHSA-57j2-w4cx-62h2) has been changed to 2.13.2.1.

Regards, Dmitriy

[2022-03-31 06:37] neuwerld2 commented on #1872
Works like a charm. Thanks!

[2022-03-31 07:18] DmitriyLewen commented on #1870
Hello @pmuz
Tnhank for your report!

If i understand correctly, you are using `Alpine Linux`.
Alpine has [CVE-2022-0778](https://github.com/advisories/GHSA-x3mh-jvjw-3xwx) with fixed verions witch you see in the table.
`github.com/docker/distribution` library found in `giltab advisories-community`: [GMS-2020-20](https://gitlab.com/gitlab-org/advisories-community/-/blob/main/go/github.com/docker/di

[2022-03-31 07:27] knqyf263 commented on #1886
Do you mean we cannot know the following package is provided by Debian? How about other fields?

[code]

[2022-03-31 07:35] DmitriyLewen commented on #1886
Yes. The `liblzma5` package fields do not include information that this package is provided by Debian:
[code]

[2022-03-31 08:19] knqyf263 commented on #1886
Oh, it is a big problem... we don't want to ignore these debian/ubuntu packages.

[2022-03-31 08:22] pmuz commented on #1870
Hello @DmitriyLewen,

thank you for checking. This report is for image `aquasec/trivy:0.24.4`, the issue being that there are HIGH vulnerabilities in it and 1 UKNOWN. Expected solution would be to fix them by updating libraries / base image as you have pointed out.

Cheers,
Piotr

[2022-03-31 08:55] tiboun opened #1900 "Make built-in policies downloadable only"
It would be great to have another option such as --download-db-only for built-in policies. For instance, having a --download-policies-only.

This would make https://github.com/sighupio/trivy-offline/blob/master/Dockerfile covering more offline scan.
What do you think about providing an offline version of your image as well, then it will allow to have an official one ?

Best regards

[2022-03-31 09:41] DmitriyLewen commented on #1884
Hello @javixeneize
Thanks for your report.
I checked bcprov-jdk15on-1.64.jar.
Jar doesn't include `pom.properties` file.
Then, Trivy parses `MANIFEST.MF` file.
`MANIFEST.MF` has `Bundle-Name` field with value `bcprov`.
[code]
But in maven database it is [bcprov-jdk15on](https://mvnrepository.com/artifact/org.bouncycastle/bcprov-jdk15on) package.

That why Trivy can't get information about this vul

[2022-03-31 09:43] mpumford commented on #90
Its a bad idea as you don't want to have to modify yarn.lock to remove devDependencies. You need to keep those in the lock file for development usage of the code.
e.g in Typescript/angular projects yarn.lock defines a lot about your build environment and you don't want that changing just because you decide to do a production build for deployment.

[2022-03-31 09:46] javixeneize commented on #1884
Wow this is bad. So, fs scan would work better than rootfs then, as this might happen with other libraries

thanks!

[2022-03-31 09:53] DmitriyLewen commented on #1884
We don't have other places for getting information about package.
We can only hope, that MANIFEST.MF or pom.properties files don't incude mistakes.

[2022-03-31 10:00] #1884 closed

[2022-03-31 10:43] DmitriyLewen commented on #1870
I understand now. Thanks!
We will fix it!

Regards, Dmitriy

[2022-03-31 10:52] baldwicc opened #1902 "Docs - Multi-stage build snippet fails DS018"
The following snippet in the docs triggers [DS018](https://avd.aquasec.com/misconfig/dockerfile/ds018/):

https://github.com/aquasecurity/trivy/blob/4470a181e2daf993d2e0402d8f29f6c0a6c5c2e9/docs/advanced/container/embed-in-dockerfile.md?plain=1#L20-L25

Would this do the trick instead?

[code]

#### Related
- https://github.com/aquasecurity/trivy/issues/1621
- https://github.com/aquasecurity/appsh

[2022-03-31 11:53] AutomatonRob commented on #257
Personally I try to avoid Jenkins plugins wherever I can (as our Jenkins is cluttered already and maintenance is really annoying). I don't know if this would make your life easier but I use an alpine image as base and copy trivy over. A little bit of maintenance to update it every once in a while but works like a charm. :)
The Dockerfile looks something like this:
[code]

[2022-03-31 12:50] apeyrat opened #1906 "trivy crash (cfsec issue)"
## Description
Running the following command makes trivy crash:

trivy fs cf-test.yaml

(I found the issue while using cfsec but logging it in trivy as it seems now embedded)

I'm running it on debian11 in WSL2

Error:
[code]

## Content of cf-test.yaml
[code]

## What happened instead?

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image na

[2022-03-31 13:37] afdesk commented on #1885
@javixeneize you're are doing a very good job, your reports are important. thanks!

and sorry for waiting, I'm trying to be faster )

[2022-03-31 13:46] afdesk commented on #1885
@javixeneize
about tomcat.
unfortunately, `trivy` can't detect vulnerabilities inside an application yet.
I mean that there is no way to recognize several files as an application now.
there is no file like `tomcat-9.0.46.jar`, tomcat 9.0.46 is a scope of files.

[2022-03-31 13:57] afdesk commented on #1896
@ben-harvey thanks for your suggestions.

at first glance it looks really reasonable.

Is it possible to create a PR with your a modified version the template?

[2022-03-31 14:02] Simsjustin91 opened #1908 "Error: Failed to download vulnerability DB - Trivy v0.24.2"
`2022-03-30T21:41:44Z [INFO] [/pkg/scan/job.go:167]: Report mime types: [application/vnd.security.vulnerability.report; version=1.1]
2022-03-30T21:41:44Z [INFO] [/pkg/scan/job.go:222]: Get report for mime type: application/vnd.security.vulnerability.report; version=1.1
2022-03-30T21:41:46Z [INFO] [/pkg/scan/job.go:243]: Report with mime type application/vnd.security.vulnerability.report; version=1

[2022-03-31 14:15] afdesk commented on #1898
@oliviergaumond thanks for your interest!
if you can create a PR, it'll be really useful.
we welcome contributors!

I'm wondering about 2 templates, is it really need?

in any case, It would be cool to use something like nested templates. but I have no idea right now...

[2022-03-31 15:15] afdesk commented on #1885
about `thymeleaf`.
`trivy` depends on GitLab Advisories, that contained a mistake for [CVE-2021-43466](https://gitlab.com/gitlab-org/advisories-community/-/blob/main/maven/org.thymeleaf/thymeleaf-spring5/CVE-2021-43466.yml).

this mistake was fixed today (1 hour ago), and `trivy` will detect it soon.

[2022-03-31 15:19] afdesk commented on #1885
oh, maybe I'm wrong. this mistake didn't fix yet.

@javixeneize could you create a PR to Gitlab Advisory?

[2022-03-31 15:33] javixeneize commented on #1885
I assume theres a typo and you mean github advisory, right? If so, yes, i can do it :) Happy to contribute

[2022-03-31 16:01] djuarezg opened #1909 ""Detected OS: unknown" with Docker disk images"
## Description

When scanning Docker images built with Koji (ref. https://docs.pagure.org/koji/image_build/#building-disk-images) they do not show vulnerabilities.

[code]

## What did you expect to happen?

## What happened instead?

No OS is detected and no vulnerability is shown.

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):

Any other D

[2022-03-31 19:32] isuftin commented on #1906
Same:

[code]

[2022-04-01 06:34] DmitriyLewen commented on #1909
Hello @djuarezg
Thanks for your report!
I can to reproduce your problem.
We will fixed this problem soon!

Regards, Dmitriy

[2022-04-01 07:02] DmitriyLewen commented on #1909
Hello @djuarezg
I checked your image.
Image based on `CentOS Stream`:
[code]
Trivy doesn't currently support `CentOS Stream`.

Regards, Dmitriy

#### Related issues:
- aquasecurity/trivy/issues/1622

[2022-04-01 07:39] fighterhit opened #1911 "CVE-2022-22965 and CVE-2022-22963 not detected"
This morning I saw that the GitHub Advisory Database already included [CVE-2022-22965](https://github.com/advisories/GHSA-36p3-wjmg-h94x), and trivy can also detect CVE-2022-22965 when scanning container images, but it doesn't work at present, what's the reason?

[2022-04-01 07:45] afdesk commented on #1885
no, I told about GitLab Advisory Database: https://gitlab.com/gitlab-org/advisories-community

you can create a new issue here: https://gitlab.com/gitlab-org/security-products/gemnasium-db/-/issues?sort=created_date&state=opened

information about CVE is here: https://gitlab.com/gitlab-org/advisories-community/-/blob/main/maven/org.thymeleaf/thymeleaf-spring5/CVE-2021-43466.yml

[2022-04-01 07:48] javixeneize commented on #1885
Ah, it also uses gitlab advisories. I thought trivy only used GitHub advisories at sources. This is interesting ;)  ok, I will raise it there

out of curiosity, how does trivy work if github advisory flags this as vulnerable, but gitlab advisory doesn’t? I checked the github advisory and it detects that vulnerability correctly
Thanks

[2022-04-01 07:59] marrek13 opened #1912 "CVE-2020-36518 is still detected even if library is updated"
## Description

In 3 of my projects, I'm using Spring Boot and not directly jackson-databind (which is the cause of this CVE). I updated Spring Boot to the latest 2.6.6 version to fix Spring CVE and it worked, at the same moment jackson-databind still fails

![image](https://user-images.githubusercontent.com/3691208/161220184-48bc8b07-fdf7-48f0-b53d-683ee2897161.png)

However when I run the comman

[2022-04-01 08:06] DmitriyLewen commented on #1911
Hello @fighterhit
Trivy-db was updated an hour earlier.
I have now updated the database and can find `CVE-2022-22965`.
[code]

Regards, Dmitriy

[2022-04-01 08:15] 3XC1T3D commented on #1911
I dont get it. You mean the named CVE's will not recognized by triviy?

I placed the malicious spring-webmvc.jar in a docker image and checked it with triviy.

Trivy recognized it as critical .jar

[2022-04-01 08:25] fighterhit commented on #1911
Hi @DmitriyLewen , thanks for your quick reply. But even if I execute `trivy reset`, `CVE-2022-22965` still cannot be detected.
[code]

`CVE-2022-22963` is reported in [https://cve.mitre.org/](https://cve.mitre.org/). And I have a [question](https://github.com/aquasecurity/trivy/discussions/1910) about trivy [Data Sources](https://aquasecurity.github.io/trivy/v0.25.0/vulnerability/detection/data-s

[2022-04-01 08:27] DmitriyLewen commented on #1911
Hello @3XC1T3D
Last version trivy-db includes`CVE-2022-22965`. Trivy will find this CVE, if you use last database.
[GitHub Advisory Database](https://github.com/advisories?query=CVE-2022-22963) or [NVD](https://nvd.nist.gov/vuln/detail/CVE-2022-22963) don't incude `CVE-2022-22963`. That is why Trivy doesn't find `CVE-2022-22963`.

[2022-04-01 08:32] 3XC1T3D commented on #1911
Hi @DmitriyLewen,

yep i tested it and it was recognized. I only was wondered of the Statement from @fighterhit . But nownit's clear. The missing cve is reported outside NVD and GitHub Advisory.

[2022-04-01 08:34] fighterhit commented on #1911
Hi @DmitriyLewen , my `trivy -v` show that the `Vulnerability DB` has updated but it still can't find `CVE-2022-22965`.

[code]

[2022-04-01 08:36] fighterhit commented on #1911
Yes @3XC1T3D , my trivy can't detect `CVE-2022-22965` and I have updated the Vulnerability DB.

[code]

[2022-04-01 08:37] DmitriyLewen commented on #1911
@fighterhit You are using old trivy-db schema. Update this `db` may take longer time.
Can you update your Trivy and check again?

[2022-04-01 09:13] fighterhit commented on #1911
I have update my Trivy to v0.25.0 and it can detect CVE-2022-22965 now. @DmitriyLewen

[2022-04-01 09:13] #1911 closed

[2022-04-01 09:56] djuarezg commented on #1909
@DmitriyLewen Then how come images based on this base image report vulnerabilities?

[2022-04-01 10:03] DmitriyLewen commented on #1909
@djuarezg Can you give an example of such an image when Trivy discovered the vulnerabilities?

[2022-04-01 10:05] djuarezg commented on #1909
`trivy image gitlab-registry.cern.ch/linuxsupport/rpmci/kojicli` which uses https://gitlab.cern.ch/linuxsupport/rpmci/-/blob/master/kojicli/Dockerfile for the build.

[2022-04-01 11:28] DmitriyLewen commented on #1909
@djuarezg Thank your for image.
If I understand correctly, you want the result of scanning Python packages.
All Python packages installed in `gitlab-registry.cern.ch/linuxsupport/cs8-base:latest` image are SystemFiles.
Trivy gets a list of SystemFiles from `RPM` and excludes them.
Trivy gets vulnerabilities for these files from the database of OS vendors.
That is why you get `Number of language-sp

[2022-04-01 11:58] thorstenhuhn opened #1913 "Understanding Trivy Cache Backend"
I would like to understand when cached objects get invalidated or deleted to get fresh results. Updating the vulnerability database did not result in any new findings compared to a "trivy image" run on a clear cache.
Could you add more details on https://aquasecurity.github.io/trivy/v0.25.0/vulnerability/examples/cache/ ?

[2022-04-01 12:04] djuarezg commented on #1909
@DmitriyLewen Ha! I understand. But I am more interested into RPM vulnerablities, of all kind of packages. This way we can see if a CentOS Stream image is vulnerable on build time. Something similar as what you get when running `trivy image redhat/ubi8`

[2022-04-01 12:15] DmitriyLewen commented on #1909
@djuarezg `redhat/ubi8` based on `Red Hat Enterprise Linux`
[code]
`Red Hat Enterprise Linux` has advisories [database](https://access.redhat.com/security/security-updates/#/cve).
`CentOS stream` doesn't have security advisories. We cannot support it in a canonical manner.

[2022-04-01 13:52] ben-harvey commented on #1896
Sure, @afdesk, I created https://github.com/aquasecurity/trivy/pull/1914

[2022-04-02 02:39] fighterhit commented on #1911
Hi @DmitriyLewen @3XC1T3D , I still have a little doubt about the result of trivy scanning CVE-2022-22965, according to the description of GitHub Advisory Database, this vulnerability requires jdk version greater than or equal to 9, but it seems that trivy does not take this into account?

[2022-04-02 05:42] xiaoxiong581 commented on #1911
I also report this vulnerabiliby when use jdk8

[2022-04-02 09:06] kobus-v-schoor commented on #1869
Thank you for opening the issue @afdesk, I see the issue has been fixed and trivy is now correctly reporting CVE-2017-18640.

As for the Maven rate-limiting issue, I was thinking and it would be really helpful if it would be possible to specify the maven API url via a cmd flag to trivy. This way you can implement rate-limiting to Maven Central through a forward proxy like nginx, or possibly point

[2022-04-02 10:26] kobus-v-schoor commented on #1869
I've attempted to create a possible solution which should allow setting the maven central url via an environment variable, I've opened a pull request here: https://github.com/aquasecurity/go-dep-parser/pull/90

[2022-04-02 10:52] dirsigler opened #1928 "Update Trivy Helm version"
Trivy was now released with version [0.25.0](https://github.com/aquasecurity/trivy/releases/tag/v0.25.0) but the Helm Chart does still install version [0.24.0](https://github.com/aquasecurity/trivy/blob/main/helm/trivy/Chart.yaml#L4).

Are there any objections to bump the version there, too ?

[2022-04-03 05:30] PenelopeFudd commented on #1886
You may want to go a different route:
* For systems running Ubuntu 18.04 or later, seeing "Origin: Ubuntu" is sufficient to say "this is from Ubuntu".
* For systems Ubuntu 16.04 or earlier, they've reached end-of-life, the set of Ubuntu-generated packages for them is now fixed in stone, and you could enumerate them (either name+version, or a checksum of all the fields).  If there are packages foun

[2022-04-03 05:41] PenelopeFudd commented on #1886
Ooo, just had another thought: Since packages contain vulnerabilities, you could enumerate all known vulnerable packages and put them into a [Bloom filter](https://en.wikipedia.org/wiki/Bloom_filter).  A Bloom filter can say with 100% accuracy if a string is NOT in a set of known strings (and therefore 'not vulnerable').  Of course, if it says a string IS in the set, you'd want to double-check it,

[2022-04-04 01:06] PenelopeFudd opened #1930 "panic: runtime error: invalid memory address or nil pointer dereference"
## Description

`/usr/local/bin/trivy rootfs  /` -- command dies with SIGSEGV.

## What did you expect to happen?
It should "just work".

## What happened instead?
It "just bombed", after 3.5 minutes.

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):
Ubuntu 18.04.6 LTS

[2022-04-04 05:53] DmitriyLewen commented on #1886
Hello @PenelopeFudd

Some container images don't include `Origin` filed. e.g.
[code]
We can't use this field to check upackages for any version of Ubuntu.

I think this is not a solution because Trivy currently checks all vulnerable packages from [Ubuntu Database](https://ubuntu.com/security/cves).

[2022-04-04 06:19] PenelopeFudd commented on #1886
It's true that it won't work on end-of-life (EOL) versions of Ubuntu, but don't throw the baby out with the bathwater.  :-)

Possible solution:
* If the version of Ubuntu is less than 18, then check the Ubuntu Database.  (Same behaviour as now)
* Else if the "Origin:" field is found, and the value of the field is "Ubuntu", then check the Ubuntu Database.  (Same behaviour as now)
* Otherwise, check

[2022-04-04 06:37] DmitriyLewen commented on #1930
Hello @PenelopeFudd
Thanks for your report!

I checked `home/user/catapult/telemetry/telemetry/internal/backends/chrome/chromeos_login_ext/manifest.json` file. If I understand correctly this is `Google Chrome Extensions` manifest.
[I found](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json), that this file may contain comments:

Trivy only parses [JSON](https://w

[2022-04-04 06:52] knqyf263 commented on #1930
@DmitriyLewen Can we skip invalid JSON? The panic is problematic.

[2022-04-04 06:53] knqyf263 commented on #1928
Yes, we should update it as well. We just need contribution 😄

[2022-04-04 06:56] knqyf263 commented on #1912
@DmitriyLewen Could you look into it? `PkgPath` in JSON may help.

[2022-04-04 07:08] DmitriyLewen commented on #1912
Hello @marrek13
Thanks for your report!

Can you scan your projects with `-f json` flag and send me result.

Regards, Dmitriy

[2022-04-04 07:22] marrek13 commented on #1912
@DmitriyLewen here you are.

[trivy-json.txt](https://github.com/aquasecurity/trivy/files/8407555/trivy-json.txt)

[2022-04-04 07:29] DmitriyLewen commented on #1912
Thanks a lot!
Trivy found `home/sumup/pos-platform-catalog-consumer/honeycomb-opentelemetry-javaagent.jar` file witch includes  `com.fasterxml.jackson.core:jackson-databind` v.2.12.3.
Could you check this file, please?

[2022-04-04 07:43] marrek13 commented on #1912
Thank you @DmitriyLewen, that was the case. I've updated this library to the latest version and CVE is gone. Sorry for taking your time!

[2022-04-04 07:43] #1912 closed

[2022-04-04 07:58] knqyf263 commented on #1912
@DmitriyLewen We saw these kinds of issues. We may want to display the path in the result table. Can you start it?

[2022-04-04 07:59] DmitriyLewen commented on #1912
@knqyf263 okay, i will do it

[2022-04-04 08:02] bammond5 commented on #1816
I am still hitting this error in 0.25.0 and I see that you have closed the MR you linked here; what is the status of this problem? Is it expecting to be fixed in a future version?

[2022-04-04 08:12] knqyf263 commented on #1565
@Dentrax Sorry we missed the issue. Trivy has a cache for images and layers and tries to fetch only missing layers. `DiffID` represents uncompressed layer id.

@DmitriyLewen I think we should update those messages. `Missing XXX in cache` is better.

[2022-04-04 08:15] DmitriyLewen commented on #1930
I have mistake.
Invalid JSON does not call a panic.
There was a problem parsing the `*.egg` file.
I will check it more further and write result.

[2022-04-04 08:18] knqyf263 commented on #1664
Thanks. We will update it shortly.

[2022-04-04 10:23] #1890 closed

[2022-04-04 11:53] kobus-v-schoor commented on #1869
With the patch that was merged in https://github.com/aquasecurity/go-dep-parser/pull/90 I was able to set up a solution for the maven rate limiting that scales up well with multiple instances of trivy scanning images at the same time. I set up an nginx forward proxy with the following config:

[code]

This set up nginx to forward all incoming requests to `search.maven.org`, but it rate limits thos

[2022-04-04 13:22] knqyf263 commented on #1869
We need 2 PRs additionally.

1. Update fanal pointing to your commit in go-dep-parser
2. Update trivy pointing to the updated fanal

[2022-04-04 14:10] kobus-v-schoor commented on #1869
I've opened the first PR to update fanal here: https://github.com/aquasecurity/fanal/pull/448

[2022-04-04 14:43] pmuz opened #1934 "Difference in severity between trivy versions."
## Description

Hi, since trivy v0.23.0 I have noticed changes in severity of vulnerabilities returned by trivy.

For example scanning node:16-alpine3.15 with:

trivy:0.22.0 returns two node-pkg related vulnerabilities  of severity HIGH

<img width="937" alt="Screenshot 2022-04-04 at 16 44 54" src="https://user-images.githubusercontent.com/84736779/161569367-d34bca65-d626-499d-9461-2d5f4f8cbceb.pn

[2022-04-04 16:13] koshauser opened #1936 "Trivy vulnerability scanner wrongly indicates all com.hazelcast:hazelcast versions prior to 5.1 with the vulnerability: CVE-2022-0265"
## Description

Trivy Vulnerability Scanner wrongly marks all com.hazelcast:hazelcast versions prior to 5.1 with the vulnerability: CVE-2022-0265.
This is wrong, as only the hazelcast version 5.1 Beta1 is affected.
Link to the vulnerability: https://www.cvedetails.com/cve/CVE-2022-0265/

Also the discussion about hazelcast vulnerability at the following link: https://huntr.dev/bounties/d63972a2-b9

[2022-04-04 18:35] #1816 closed

[2022-04-04 18:35] #1892 closed

[2022-04-04 18:35] #1906 closed

[2022-04-04 19:41] knqyf263 commented on #1936
@DmitriyLewen Would you take a look?

[2022-04-04 20:42] knqyf263 opened #1937 "unknown target with CloudFormation scanning"
## Description
CloudFormation doesn't show the config path.

[code]

## What did you expect to happen?
Show target

## What happened instead?
unknown

## Additional details (base image name, container registry info...):
Terraform scanning works

[code]

[2022-04-04 21:00] liamg commented on #1937
@knqyf263 This may already be taken care of by the `fs.FS` changes, I'll take a look tomorrow.

[2022-04-04 21:11] PenelopeFudd commented on #1930
The file that triggers the problem may not show up in the debug output.
I reported a previous bug where that was the case; strace was necessary to figure it out.

[2022-04-04 23:33] arp242 commented on #1842
Should be fixed if you update your dependency to github.com/BurntSushi/toml@v1.1.0, which I just released.

[2022-04-05 00:04] #1583 closed

[2022-04-05 00:04] #1582 closed

[2022-04-05 04:30] afdesk commented on #1842
@arp242 thanks a lot for your effort! I'll update it

[2022-04-05 05:05] DmitriyLewen commented on #1936
Hello @koshauser
Thanks for your report!

Trivy got affected version list from [GitLab Advisory](https://gitlab.com/gitlab-org/security-products/gemnasium-db/-/blob/master/maven/com.hazelcast/hazelcast/CVE-2022-0265.yml#L13)

We have created [issue](https://gitlab.com/gitlab-org/security-products/gemnasium-db/-/issues/191) about this mistake and are awaiting update to this advisory.

Regards, Dmit

[2022-04-05 07:18] afdesk commented on #1898
@oliviergaumond could you explain me a moment about AWS CLI?
can we use next command?
[code]
instead of
[code]
or i miss something...

thanks

[2022-04-05 07:47] bgoareguer opened #1940 "Failed to download vulnerability database in client/server mode"
## Description

With trivy 0.25.1, when trivy is launched in server mode, the vulnerability database download fails.

## What did you expect to happen?
The vulnerability database download should succeed.

## Output of run with `-debug`:
[code]

The `DB Repository` is empty.

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):
When running trivy in

[2022-04-05 07:57] knqyf263 commented on #1940
Thank for raising an issue. Looks like this is a critical bug. We'll fix it soon.

[2022-04-05 08:27] deryoman opened #1941 "Trivy > 0.24.2 Terraform Scan Fails"
## Description

Trivy filesystem scan in all versions > 0.24.2 reports a failure
[code]
when scanning terraform files.

I am not using any relative paths in the terraform configuration but I found out that when I remove
[code]
the scan runs successfully.

## What did you expect to happen?
The scan would run as it does in version <= 0.24.2

## What happened instead?
The scan fails with a FATAL

##

[2022-04-05 08:43] #1940 closed

[2022-04-05 08:49] jkroepke opened #1943 "Wrong detection of maven dependency versions if multiple dependency imports are defined."
## Description

Using the fs scanner to detect vulnerable libraries of the pom.xml leads to incorrect version detection and false-positive reports.

## What did you expect to happen?

A report based on the correct detected dependency versions.

## What happened instead?

A false-positive report based on the incorrect detected dependency versions.

## Output of run with `-debug`:

[code]

## Output

[2022-04-05 09:15] 06kellyjac commented on #1673
This is still important to me. As I said I'm happy to work on this but I need some guidance

[2022-04-05 09:22] jkroepke commented on #1943
Posible fix: https://github.com/aquasecurity/go-dep-parser/pull/91

[2022-04-05 09:26] malmor commented on #1816
We are still experiencing this issue running trivy 0.25.1:
[code]

Also mentioned in this new issue: https://github.com/aquasecurity/trivy/issues/1941

[2022-04-05 13:33] LivingInSyn commented on #1934
We have a very similar issue. `expat` is showing up as a medium when the severity is definitely high:
[code]

Command to generate the issue:
[code]

Version:
[code]

Running on macos

[2022-04-05 13:34] knqyf263 commented on #1673
Sorry we missed it. Doesn't it have security advisories?

[2022-04-05 13:36] #1928 closed

[2022-04-05 13:53] LivingInSyn commented on #1934
I confirmed that this issue does not exist in `v0.23.0` with the following command:

[code]

results:
[code]

[2022-04-05 13:58] trevor-vaughan opened #1946 "Rule DS017 has a false positive"
## Description

DS017 - `'RUN <package-manager> update' instruction alone` does not account for the following:

[code]

## What did you expect to happen?

There should be no finding

## What happened instead?

There was a finding

## Output of `trivy -v`:

[code]

[2022-04-05 14:00] trevor-vaughan commented on #1902
I'm seeing this as well with all multi-stage builds such as:

[code]

[2022-04-05 14:06] neongreenplants commented on #1867
Hi Andrey,
Thanks for response. Yeap `--list-all-pkgs` gives me info about dependencies, this is a half of task). Can you please give advanced information about  _process output with `opa` tool_ . Does it mean i need 2 use open policy agent on k8s cluster?

[2022-04-05 14:17] LivingInSyn commented on #1934
This commit is suspicious: https://github.com/aquasecurity/trivy/commit/8d5882be03d3e27eeaa48825b064d4235974a730

at pkg/result/result.go:68 to 71

[2022-04-05 15:00] afdesk commented on #1934
@pmuz @LivingInSyn thanks for your interest!

`trivy` depends on [Github Advisory Database](https://github.com/advisories) and [Gitlab Advisory Database](https://advisories.gitlab.com/). Sometime there are differences between these sources.

it seems Gitlab has higher priority than Github  since `trivy` v0.23.0

[2022-04-05 15:12] LivingInSyn commented on #1934
I think I had a misunderstanding of the `-s` argument, sorry for confusing the issue

[2022-04-05 15:15] knqyf263 commented on #1946
Thanks for the report, but please raise an issue in [DefSec](https://github.com/aquasecurity/defsec).

[2022-04-05 15:15] #1946 closed, assigned to nobody

[2022-04-05 15:21] 06kellyjac commented on #1673
We just consume advisories from https://nvd.nist.gov & https://openwall.com AFAIK. We automatically put nvd posts into issues (e.g. https://github.com/NixOS/nixpkgs/issues/166626) and vulnix (the tool linked above) also uses NVD

Other than that it's just discussion in matrix and sometimes listing them in our packaging:

https://github.com/NixOS/nixpkgs/blob/nixos-unstable/pkgs/applications/graphi

[2022-04-05 15:39] kobus-v-schoor commented on #1869
I've opened the final PR needed to merge the new changes (with documentation detailing the rate-limiting proxy setup) in #1939

[2022-04-05 15:42] JonasGroeger commented on #1943
Hi @jkroepke :)

I have a very similar issue. Trivy shows me that I'm using the vulnerable `org.springframework:spring-beans:5.3.17` dependency. The version im using however is the not vulnerable `5.3.18`. Yet, trivy complains.

---

**Trivy FS check**
[code]

**Version in `pom.xml`**
[code]

[2022-04-05 17:40] #1941 closed

[2022-04-05 18:02] knqyf263 opened #1949 "Add Go license detection"
## Description
Detect licenses of go modules.

1. Assume `go mod download`
2. Looks for license files in $GOPATH/pkg/mod
    - e.g. $GOPATH/pkg/mod/github.com/stretchr/testify@v1.7.0/LICENSE
3. Classify the license type

## Related
https://github.com/aquasecurity/trivy/issues/1835

[2022-04-05 18:09] knqyf263 opened #1950 "Add secret scanning"
## Description
Detect secrets such as GitHub PAT and AWS access key.

## Requirements
1. Built-in rules
1. Configurable via a config file
    - Define regular expressions
1. Show file names
1. Show line numbers
1. Support allow list
    - global
    - per rule
1. Severities

## Support scanning
- Container images (`trivy image` )
    - Consider performance
- Filesystem (`trivy fs`) and Rootfs (`tr

[2022-04-05 18:13] #1842 closed

[2022-04-05 18:15] knqyf263 commented on #1164
@krol3 I missed your question. Trivy supports CycloneDX output, but it doesn't support CycloneDX input.

[2022-04-05 18:16] eliastsironis opened #1951 "alpine 3.15 reported as unsupported"
## Description

## What did you expect to happen?

Alpine 3.15 should be reported as supported
https://alpinelinux.org/releases/

## What happened instead?

2022-04-05T17:12:50.558Z	[34mINFO[0m	Detected OS: alpine
2022-04-05T17:12:50.559Z	[33mWARN[0m	This OS version is not on the EOL list: alpine 3.15
2022-04-05T17:12:50.559Z	[34mINFO[0m	Detecting Alpine vulnerabilities...
2022-04-05T17:12:5

[2022-04-05 18:26] knqyf263 opened #1952 "Support CycloneDX as input"
## Description
Trivy can generate CycloneDX output, but it can't take CycloneDX as input. It would be great if Trivy supports CycloneDX as input and scans dependencies.

## Related issues
- https://github.com/aquasecurity/trivy/issues/1164

## Example

[code]

## Implementation (Draft)
1. Define sbom.Artifact
    - https://github.com/aquasecurity/fanal/tree/b7afb9b29421d18bb508a50c335a2727c799a1e4

[2022-04-05 18:36] AXDOOMER commented on #1816
I no longer see the error that I had since I've updated to 0.25.2.

[2022-04-05 18:38] knqyf263 commented on #1951
Please try the latest version.
https://github.com/aquasecurity/trivy/pull/1422

[2022-04-05 18:38] #1951 closed

[2022-04-05 20:25] oliviergaumond commented on #1898
No, the --cli-input-json is to provide the parameters for the actual command in json instead of directly on the command line.

In the end I am thinking maybe we should revert the asff.tpl to the version which doesn't generate the wrapping Findings object. Thus the already documented exemple to upload with the CLI will work.

Then we can add documentation that if someone want's to upload the findin

[2022-04-05 20:52] Miladbr opened #1953 "Failed to download vulnerability database in rootfs scan"
## Description

Similar to issue #1940 rootfs scan fails at downloading vulnerability database.

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

[2022-04-06 00:05] #1564 closed

[2022-04-06 00:05] #1563 closed

[2022-04-06 01:18] AXDOOMER opened #1954 "panic: runtime error: slice bounds out of range [8:0]"
## Description

I scan a YAML file with the following command:

`./trivy fs -f json   --security-checks vuln,config project-backend/backend-template.yml`

File linked bellow with some information redacted. The file can be used to reproduce the crash.

## What did you expect to happen?

A successful scan and a JSON output.

## What happened instead?

[code]

## Output of run with `-debug`:

[code]

[2022-04-06 03:22] xiaoxiong581 opened #1955 "CVE-2022-22965 vulnerability result not rigth when detect container image"
## Description
When detect container image base jdk8，trivy report CVE-2022-22965 vulnerability

## What did you expect to happen?
no CVE-2022-22965 vulnerability

## What happened instead?
exist CVE-2022-22965 vulnerability

## Output of run with `-debug`:
![6e6de1f27c7a205c0a124c705f1b88f7_7588](https://user-images.githubusercontent.com/19368482/161889488-6f81676b-17bb-4ec7-8353-c96c771ed242.png)

[2022-04-06 04:35] DmitriyLewen commented on #1955
Hello @xiaoxiong581
Thanks for your report!
We already had [discussion](https://github.com/aquasecurity/trivy/discussions/1929) about this.

Trivy can't detect JDK version and we include CVE-2022-22965 in result for any JDK version.

Best Regards, Dmitriy

[2022-04-06 05:06] DmitriyLewen commented on #1953
Hello @Miladbr
Thanks a lot for your report!

We will fix it soon.

Best Regards, Dmitriy

[2022-04-06 05:46] xiaoxiong581 commented on #1955
Also package as JAR, not war, this also cann't detect? @DmitriyLewen

[2022-04-06 05:51] #1953 closed

[2022-04-06 05:58] DmitriyLewen commented on #1953
@Miladbr fix this bug will be in v0.25.3.

[2022-04-06 06:14] DmitriyLewen commented on #1955
At the moment, [GitHub Advisory Database](https://github.com/advisories) or [GitLab Advisory Database](https://advisories.gitlab.com/) doesn't have specific field with information about affected java file format.
Without this field we can't exclude non-war files for [CVE-2022-22965](https://github.com/advisories/GHSA-36p3-wjmg-h94x)

[2022-04-06 06:15] afdesk commented on #1898
@oliviergaumond oh sure, you're right. my mistake.

[2022-04-06 07:17] DmitriyLewen opened #1958 "Add filePath to table result"
## Description
Trivy currently have `filePath` field for `json` format result.
Some users are unaware of this and create issues asking `where did Trivy find this package`.

Should add `filePath` to `table` result.

[2022-04-06 07:21] knqyf263 commented on #1941
We hope v0.23.3 fixed it.

[2022-04-06 07:32] knqyf263 commented on #1673
As you are aware, other distributions have backport fixes and fixed versions are different from NVD. If we use NVD, it will lead to a lot of false positives. We're concerned about it.

[2022-04-06 07:38] knqyf263 commented on #1954
Could you try v0.23.3?

[2022-04-06 08:40] #1943 closed

[2022-04-06 10:36] malmor commented on #1941
Thanks @knqyf263 and @liamg,
I can confirm that this issue does no longer occur in our jobs after upgrading to trivy v0.25.3 🚀 👏

[2022-04-06 10:36] malmor commented on #1816
I can confirm that this issue does no longer occur in our jobs after upgrading to trivy v0.25.3 🚚 👏

[2022-04-06 11:14] AndreyLevchenko commented on #1867
Hi Sergey
I meant small CLI tool
https://www.openpolicyagent.org/docs/latest/cli/#opa-eval

[2022-04-06 11:19] deryoman commented on #1941
Thanks a lot to everyone for this fast fix.
The issue no longer occurs in trivy `0.25.3` 👍

[2022-04-06 11:31] knqyf263 commented on #1941
@malmor @deryoman Thanks for confirming!

[2022-04-06 12:31] eliastsironis commented on #1951
New version works as expected.

[2022-04-06 15:46] 06kellyjac commented on #1673
Ok cool. I can have a chat with the NixOS team and see if people want to maintain a list :)
Thanks

[2022-04-06 19:38] AXDOOMER commented on #1954
This issue is still there in this version.

[2022-04-07 00:04] #1553 closed

[2022-04-07 00:04] #1557 closed

[2022-04-07 03:32] vysecurity opened #1962 "Trivy Trivy"
I tried to Trivy Trivy, and Trivy showed:

[code]

[2022-04-07 04:47] knqyf263 commented on #1954
Sorry, I wanted to say v0.25.3.

[2022-04-07 08:00] Im2451soon commented on #1889
![Uploading Screenshot_20220407-170039_Chrome.png…]()

[2022-04-07 08:44] javixeneize commented on #1885
Hi

The advisory has been updated - https://gitlab.com/gitlab-org/security-products/gemnasium-db/-/issues/189

but it is still not being flagged as vulnerable

Can you help me to understand how does trivy work internally? I know it uses github and gitlab advisories, but how is assessed if a library is vulnerable? It is, if github advisory reports it as vulnerable but gitlab doesnt, as happens here

[2022-04-07 12:28] mavo86 opened #1963 "Bug<trivy>: A trivy kubernates deployment not start scanning"
Hi,

we will scan our kubernates Cluster with trivy and starboard. So we have deployed them by the helm charts.

The Starboard create scann jobs, but no reports are seen in any Namespace. So we connect to "bin/sh" form the trivy Pod for testing the scann.

If we try to cheack the Funktion it look like hangs up

~ $ trivy --debug image httpd:2.4.51
2022-04-07T10:48:32.260Z	DEBUG	Severities: UNKNOWN

[2022-04-07 13:43] AXDOOMER commented on #1954
I tested with this version. I thought this was a typo and I didn't think you meant an older version.

[2022-04-07 13:48] MatthewEppelsheimer commented on #1692
This seems related:

With Ubuntu 21.10 when I `sudo apt-get update` I get:
[code]

After taking @RobMaskell's suggestion to edit `/etc/apt/sources.list.d/trivy.list`, replacing `impish` with `focal`, it runs without error.

[2022-04-07 15:04] esoni opened #1965 "trivy is sca"
Hi Everyone,
I am looking for a tool that offers SCA (Software Composition Analysis) feature ? trivy offer SCA ?

[2022-04-07 21:06] knqyf263 commented on #1965
Yes, it also offers misconfiguration detection in addition to SA.

[2022-04-07 22:26] Fenderstuen commented on #1743
Hi

I had an emergency issue at home for thel ast couple of weeks, hence the late answer.

Wi, what you are saying is that this is basically an issue with the image not reporting installed assets in a way that makes it possible for trivy to pick it up. I guess that's on RedHat, then. Thanks for investigating.

I'll discuss this with the customer and we'll probably end up building our own image and

[2022-04-07 22:26] #1743 closed

[2022-04-08 00:04] #1545 closed

[2022-04-08 06:33] abelsromero commented on #1542
There's been no answer from enyone and is consled by "stale". Can anyone point ot alternatives, or design options, or how to proceed with long standing issues?

[2022-04-08 14:51] istaveren opened #1967 "False Positives being reported from Trivy 0.24.2 - oraclelinux:8 image"
## Description

When you scan an oraclelinux:8 image

## What did you expect to happen?

There should not be any issue

It thinks I need 10:1.8.5-6.el8_fips -> https://linux.oracle.com/errata/ELSA-2022-9263.html
Where https://github.com/aquasecurity/vuln-list/blob/main/oval/oracle/2021/ELSA-2021-4409.json looks ok.

Related to #issue 736

## What happened instead?

I got vulnerabilities

[code]

#

[2022-04-08 15:16] tvierling commented on #1967
(Disclaimer: I'm in the Oracle Linux support/development group.)

Basically this is similar to issue #736.

Oracle Linux ships with up to three flavors of system packages for different purposes:

* normal
* Ksplice Userspace
* FIPS-validated

The user determines which flavor is installed based on their system requirements, but Oracle issues advisories (ELSAs) and related OpenSCAP (OVAL) data for a

[2022-04-08 15:26] tvierling commented on #1967
FWIW please feel free to email me at my work email address (todd.vierling@oracle.com) if any clarification is needed on the above, we're happy to help Trivy developers on any Oracle Linux related issue.

[2022-04-09 00:05] #1536 closed

[2022-04-10 00:05] #1595 closed

[2022-04-10 00:05] #1566 closed

[2022-04-10 00:05] #1534 closed

[2022-04-11 00:04] #1543 closed

[2022-04-11 00:04] #1524 closed

[2022-04-11 00:04] #1526 closed

[2022-04-11 02:24] #1955 closed

[2022-04-11 09:20] kraken0909 commented on #1564
Hi there! The issue is still relevant today.

[2022-04-11 12:53] bgoareguer opened #1969 "Proxy is not used to reach Trivy server"
## Description

I am in an environment where the Trivy client needs to go through an HTTP proxy to reach the Trivy server.

## What did you expect to happen?
With Trivy client before v0.24.0, the Trivy client reached the Trivy server through the HTTP proxy configured via HTTP_PROXY and HTTPS_PROXY environment variables.

## What happened instead?
Starting with Trivy client v0.24.0, the Trivy clien

[2022-04-11 15:21] afdesk commented on #1874
@AXDOOMER thanks! it seems i understood this problem. will fix

[2022-04-11 16:17] mattfarina opened #1973 "Go module false positives"
## Description

Trivy is reporting false positives for Go modules.

Specifically, there can be modules referenced/imported by dependencies that are _**not**_ included in an application that have vulnerabilities. The application isn't using them so they are a false positive. There are several projects that currently show false positives including Helm and containerd, the CNCF projects.

This appear

[2022-04-11 16:43] knqyf263 commented on #1973
Thanks for the report. Yes, Go 1.17 added the information and we can support it now. We needed to depend on go.sum before Go 1.17. It makes sense to support go.mod for Go 1.17+ projects.

[2022-04-11 17:23] kaniini opened #1975 "trivy fails to scan apk-based containers without /etc/os-release matching alpine"
## Description

Trivy fails to scan packages in the apk database unless it thinks the image is alpine-derived.  This makes trivy incapable of scanning many containers based on APK distributions that do not use `alpine-base` package, such as containers based on [Adelie Linux](https://adelielinux.org) or [Distroless Alpine](https://github.com/distroless).

## What did you expect to happen?

Trivy su

[2022-04-11 17:52] knqyf263 commented on #1975
Thanks for the report. How can we identify Alpine version?

[2022-04-11 18:19] kaniini commented on #1975
Figuring out which security feeds apply to a given image is what the new /etc/secfixes.d stuff is supposed to address, but you could also figure it out from `/etc/apk/repositories` perhaps.  There are other distributions using apk which trivy cannot scan right now, but grype can.

[2022-04-11 19:10] knqyf263 commented on #1975
Thanks. I played with `ghcr.io/distroless/busybox`

[code]

We should take `/etc/apk/repositories`. And `edge` is actually interesting. Can we always take the latest alpine version?

[2022-04-11 19:44] kaniini commented on #1975
We haven't added secfixes.d feeds for the distroless images yet.  It's coming soon.  `ghcr.io/distroless/alpine-base:latest` is based on alpine-base in edge and has the feeds.

[2022-04-11 20:33] knqyf263 commented on #1975
Oh, I see. I thought `edge` is an alias of the latest version, but it seems to be wrong. We'll add the support for `/etc/apk/repositories` and `/etc/secfixes.d` soon. Thanks!

[2022-04-11 21:00] eric-desrochers opened #1976 "Mariner 1.0 | CVE-2019-9192 | false positives ?"
Trivy scanning report of our Mariner 1.0 images is raising a high CVE in glibc, CVE-2019-9192.

Our Mariner team look at the OVAL file and everything look good on their end.
This properly shows in the OVAL file as "not patchable", and no upstream fix exist as this CVE has been disputed:
https://nvd.nist.gov/vuln/detail/CVE-2019-9192

The fact that Trivy detected the CVE is correct., if Trivy think

[2022-04-12 00:05] #1609 closed

[2022-04-12 00:05] #1521 closed

[2022-04-12 00:05] #1517 closed

[2022-04-12 00:05] #1510 closed

[2022-04-12 09:17] javixeneize opened #1979 "rate limit when downloading database?"
Hi

Does the database update consume any github rate limit? I was under the impression that it was, but i have ran a curl (curl -I https://api.github.com/users/octocat) to check my rate limit, then, i ran the trivy db update, and again, the same curl, and the rate limit was not decreased.

Can you confirm if updating trivy database uses your github rate limit?

Thanks

[2022-04-12 09:23] knqyf263 commented on #1979
Trivy DB is now hosted on [GHCR](https://github.com/aquasecurity/trivy-db/pkgs/container/trivy-db), so it should not consume the rate limit.

[2022-04-12 09:33] javixeneize commented on #1979
love it! thanks

[2022-04-12 09:33] #1979 closed

[2022-04-12 11:15] gdemoya opened #1980 "Support 'Containerfile' as config filename"
## Description

Podman uses Dockerfile as well as Containerfile as filenames for the container build ([ref](https://docs.podman.io/en/latest/markdown/podman-build.1.html)), but at the moment, trivy does not detect `Containerfile` as a valid config file to be analyzed.

Since the same syntax is used for the image building, it would be interesting to add `Containerfile` as a "synonym" of `Dockerfile

[2022-04-12 20:53] knqyf263 commented on #1980
Thanks for filing an issue. It is interesting. Trivy doesn't support Containerfile for now, so it is the intended behavior. It is kind of like a feature request. I guess it is easy to support Containerfile if it is the same syntax as Dockerfile.

Trivy looks for `Dockerfile` here.
https://github.com/aquasecurity/fanal/blob/e51d560d5bad1aa2d079fa7181b3e1abdb7cab3a/analyzer/config/docker/docker.go#L

[2022-04-12 21:13] knqyf263 commented on #1976
Thanks for the report. As you can see, the fixed version in CVE-2019-9192 is empty. It means unpatchable. On the other hand, CVE-2021-3737 has a fixed version and it means patchable.

[code]

If you want to see only patchable vulnerabilities, you can use `--ignore-unfixed`. Then, CVE-2019-9192 will not appear.

[code]

[2022-04-12 23:12] d-niu commented on #1953
I'm on v0.25.3 and getting this error

[code]

In particular:

[code]

When running `trivy sbom --artifact-type fs reponame`

[2022-04-13 02:30] peter-cui1221 opened #1983 "CVE-2022-22947 not detected"
## Checklist
- [ Y ] I've read [the documentation regarding wrong detection](https://aquasecurity.github.io/trivy/latest/community/contribute/issue/#wrong-detection).
- [ Y ] I've confirmed that a security advisory in data sources was correct.
    - Run Trivy with `-f json` that shows data sources and make sure that the security advisory is correct.

## Description

In spring cloud gateway version

[2022-04-13 02:34] krol3 commented on #1502
@AkselAllas please join to [Aqua slack](https://blog.aquasec.com/open-source-developer-slack-community) for trivy contributors

[2022-04-13 03:07] AXDOOMER opened #1984 "Filesystem scan for images"
What would you think about adding image detection support to the filesystem scan?

Could it be implement in a way that's coherent with the misconfiguration and vulnerability checks?

For example `trivy fs --security-checks image myproject/`. This way it would detect the image versions of all the Dockerfiles in a project. The same could also be done for `docker-compose.yml` and `gitlab-ci.yml` file

[2022-04-13 05:43] knqyf263 commented on #1953
@d-niu Thanks for the report. It was fixed in 0.25.4.
https://github.com/aquasecurity/trivy/releases/tag/v0.25.4

[2022-04-13 13:02] #1973 closed

[2022-04-13 13:03] knqyf263 commented on #1973
We just added support for go.mod in Go 1.17+. It will be released this week. Thanks for your great help, @jerbob92!

[2022-04-14 00:05] #1477 closed

[2022-04-14 03:06] indrasenakatam opened #1988 "CVE-2022-28391 affecting package busybox 1.35.0"
## Description

Docker container scanning showing  CRITICAL severity issue with **busybox 1.35.0**.
and this busybox causing another security issue **ssl_client**

my gitlab pipeline docker
  **image:
      name: docker.io/aquasec/trivy:latest**

## What did you expect to happen?
Busybox should update with fixed version in TRIVY latest releases (v0.25.4)

## What happened instead?
It showing criti

[2022-04-14 06:52] #1975 closed

[2022-04-14 07:19] DmitriyLewen commented on #1983
Hello @peter-cui1221
Thanks for your report!

I checked your image.
I found `spring-cloud-gateway` package, but this package has `org.vulhub` prefix:
[code]

 `MANIFEST.MF` and `pom.properties` files from `spring-cloud-gateway-0.0.1-SNAPSHOT.jar` also have this prefix.

[Github Database](https://github.com/advisories/GHSA-3gx9-37ww-9qw6) and [GitLab Database](https://gitlab.com/gitlab-org/security

[2022-04-14 07:24] knqyf263 commented on #1983
@DmitriyLewen Thanks for your help!

[2022-04-14 10:13] #1930 closed

[2022-04-14 12:35] DmitriyLewen commented on #1988
Hello @indrasenakatam
Thanks for your report!

You scanned `docker.io/aquasec/trivy:latest` image right?

We have updated the alpine image in [this PR](https://github.com/aquasecurity/trivy/pull/1993).
Vulnerabilities will be fixed in the next version of Trivy.

Regards, Dmitriy

[2022-04-14 13:21] indrasenakatam commented on #1988
Hi @DmitriyLewen
Thankyou so much for your quick response and update.

Yes I am using **docker.io/aquasec/trivy:latest**

Until we release the next version, do we have any work-around solution to fix this?.
I mean with specific older version OR  **.trivyignore**
I have tried with multiple old versions, but all are throwing this same error

Can you please suggest on this ...?  Thank you in advance.

[2022-04-15 00:05] #1456 closed

[2022-04-15 00:12] github-actions[bot] opened #1996 "github.com/satori/go.uuid: CVE-2021-3538"
## Title
satori/go.uuid: predictable UUIDs generated via insecure randomness

## Description
A flaw was found in github.com/satori/go.uuid in versions from commit 0ef6afb2f6cdd6cdaeee3885a95099c63f18fc8c to d91630c8510268e75203009fe7daf2b8e1d60c45. Due to insecure randomness in the g.rand.Read function the generated UUIDs are predictable for an attacker.

## Severity
CRITICAL

## Primary URL
https

[2022-04-15 04:04] DmitriyLewen commented on #1988
Hello @indrasenakatam

Trivy v0.26.0 will releasing soon.
For skip this vulnerabilities you can add CVE IDs in `.trivyignore` file.
More information [here](https://aquasecurity.github.io/trivy/v0.25.4/docs/vulnerability/examples/filter/#By-Vulnerability-IDs)

Regards, Dmitriy

[2022-04-15 11:11] afdesk commented on #1874
@AXDOOMER
this issue comes from the data source about vulnerability:
https://storage.googleapis.com/go-vulndb/golang.org/x/text.json
https://storage.googleapis.com/go-vulndb/github.com/dgrijalva/jwt-go.json

now we don't know a good way how to fix it.

as workaround, you can use `sed` for it. something like it:
[code]
i hope it will help you.

[2022-04-15 15:27] ntkach commented on #1908
I think I'm getting the same type of issue {code}$ trivy i rancher/k3s
2022-04-15T10:24:23.653-0500	INFO	Need to update DB
2022-04-15T10:24:23.653-0500	INFO	DB Repository: ghcr.io/aquasecurity/trivy-db
2022-04-15T10:24:23.653-0500	INFO	Downloading DB...
2022-04-15T10:24:52.975-0500	FATAL	DB error: failed to download vulnerability DB: OCI artifact error: OCI artifact error: OCI repository error: Ge

[2022-04-15 20:24] ben-harvey opened #1999 "`asff.tpl`: empty `.PrimaryURL` breaks import to Security Hub"
The ASFF spec states that the `Remediation` field [is optional](https://docs.aws.amazon.com/securityhub/latest/userguide/asff-top-level-attributes.html#:~:text=AcmeNerfHerder%2D111111111111%2Dx189dx7824%22%20%7D%0A%5D-,Remediation,-Optional).  However if the field is included, even though `Remediation.Recommendation`, `Remediation.Recommendation.Text`, and `Remediation.Recommendation.Url` are [all

[2022-04-15 22:06] knqyf263 commented on #1973
v0.26.0 is out.
https://github.com/aquasecurity/trivy/discussions/2001

[2022-04-15 22:07] knqyf263 commented on #1975
v0.26.0 is out.
https://github.com/aquasecurity/trivy/discussions/2001

[2022-04-16 00:06] #1622 closed

[2022-04-16 00:06] #1619 closed

[2022-04-16 00:06] #1608 closed

[2022-04-16 10:00] indrasenakatam commented on #1988
Hi @DmitriyLewen
**.trivyignore**  has worked  for me.

thank you  so much for your time and support.

[2022-04-16 16:00] afdesk commented on #1999
@ben-harvey sure, we agree.  we welcome contributors.

[2022-04-17 00:05] #1439 closed

[2022-04-17 17:54] afdesk commented on #1714
Hi @javixeneize!
could you try to reproduce your issue with the latest version `v0.26.0`?
thanks!

[2022-04-17 17:56] afdesk commented on #1885
@javixeneize could you try the latest verstion `v0.26.0`?
thanks!

[2022-04-17 18:17] afdesk commented on #1898
@oliviergaumond  saw your issue on AWS CLI: https://github.com/aws/aws-cli/issues/6804
it's a bit unusual situation, but you're right!

I'd prefer to use the current template with `jq`:
[code]

what do you think about this way? thanks for your help and sorry for waiting!

[2022-04-17 18:46] #1954 closed

[2022-04-17 18:46] afdesk commented on #1984
@AXDOOMER sorry, didn't understand.
`image` contains `--input` option and `fs` scan config files now.

[2022-04-17 18:50] knqyf263 commented on #1559
We hope it was fixed in v0.26.0.

[2022-04-17 18:50] #1559 closed

[2022-04-17 18:52] afdesk commented on #1898
I think so because the documentation about [ASFF syntax](https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-findings-format-syntax.html) contains only one format with `Findings`.

[2022-04-18 00:05] #1607 closed

[2022-04-18 07:59] abelsromero commented on #1542
Thanks for re-opening, does that mean there's some interest?

[2022-04-18 09:02] munntjlx commented on #1608
I guess we don't care about false positives? The commercial verison then?

[2022-04-19 00:05] #1629 closed

[2022-04-19 00:58] nishipy commented on #1980
Hi, can I work on this issue? Thanks.

[2022-04-19 06:26] Talkapon opened #2007 "Extracting the vendor name in OS packages"
When using --list-os-packages, it would be beneficial for our use case to extract the vendor/maintainer name where available.

With rpm its the equivalent of rpm -q -a --qf 'Package: %{NAME}\nMaintainer: %{**VENDOR**}\nVersion: %{VERSION}\nRelease: %{RELEASE}

With dpkg its the equivalent of cat /var/lib/dpkg/status | egrep '^Status:|^Package:|^**Maintainer**:|^Version:'

[2022-04-19 07:03] #1983 closed

[2022-04-19 08:21] javixeneize commented on #1885
Thanks for the update. This is reported now

| org.thymeleaf:thymeleaf-spring5                  | CVE-2021-43466   |          | 3.0.12.RELEASE    | 3.0.13.RELEASE     | Template injection                    |
|                                                  |                  |          |                   |                    | in thymeleaf-spring5                  |
|

[2022-04-19 13:54] mrjonstrong opened #2010 "resolving org.fasterxml.jackson.core without adhering to jackson.version in properties"
## Checklist
- [x] I've read [the documentation regarding wrong detection](https://aquasecurity.github.io/trivy/latest/community/contribute/issue/#wrong-detection).
- [x] I've confirmed that a security advisory in data sources was correct.
    - Run Trivy with `-f json` that shows data sources and make sure that the security advisory is correct.

## Description

org.fasterxml.jackson.core:jackson-

[2022-04-19 14:10] afdesk commented on #2010
@mrjonstrong thanks for your report!
your log contains `com.fasterxml.jackson.core:jackson-databind:2.13.0`.
it seems this package has a problematic dependency:
[code]

[2022-04-19 15:57] AXDOOMER commented on #1984
The image option is buggy. I tried it on two different dockerfiles. I invoke it like this:
`./trivy image --input my-repo/Dockerfile`

Here are two outputs:
[code]

[code]

What I'd like is to be able to use the image scanner with the `fs` option. You can already tell the `fs` option to scan config files, but it won't scan dockerfiles for images. I already use Trivy like this `trivy fs --security-

[2022-04-19 15:57] AXDOOMER commented on #1984
@afdesk  The image option is buggy. I tried it on two different dockerfiles. I invoke it like this:
`./trivy image --input my-repo/Dockerfile`

Here are two outputs:
[code]

[code]

What I'd like is to be able to use the image scanner with the `fs` option. You can already tell the `fs` option to scan config files, but it won't scan dockerfiles for images. I already use Trivy like this `trivy fs --

[2022-04-19 17:10] ctrung commented on #2010
Hi, i have a similar behaviour.

Dont know if it is a bug or related to #1912 but after looping through all my dependencies, I just found out that ehcache-2.10.9.2.jar is the culprit for me.

[code]

[2022-04-19 18:43] arix-dev opened #2011 "No output when using --template "@contrib/html.tpl" with docker image"
Hi I'm using the following command but I'm not getting output
docker run --rm aquasec/trivy:latest i --format template --template "@contrib/html.tpl" --output trivy_high.html openjdk:8-jdk-alpine

[2022-04-19 18:58] sanferjesus commented on #1411
I have the same issue,  I have deployed the trivy in server mode from helm chart in k8s cluster with the replica count 2 and with the latest version 0.26.0. I'm getting the error:

`/usr/local/bin/trivy fs --server https://trivy-server.example.com /
2022-04-19T18:49:49.101Z	FATAL	scan error: image scan failed: scan failed: failed to detect vulnerabilities via RPC: twirp error internal: failed scan

[2022-04-20 02:55] kaniini opened #2012 "apply OS-level CVE data to OS-provided go and rust binaries"
I am working on using Trivy to scan Alpine-provided Go and Rust packages for vulnerabilities.  This has already proven to be very useful, we have already mitigated a few CVEs that we had no visibility into.

However, the security team may choose to issue "true negative" secfixes data for some packages.

The problem is that Trivy does not consider OS-level security fix data when listing vulnerabili

[2022-04-20 05:00] DmitriyLewen commented on #2011
Hello @arix-dev
Thanks for your interest to Trivy!

`trivy_high.html` created incide docker container.

You need to get result file to your local machine.

You can create directory and use it as docker volume.
For example:
[code]

Best Regards, Dmitriy

[2022-04-20 10:49] mrjonstrong opened #2013 "How long for a GitLab advisory update to be used by trivy"
Hi folks, thanks for the awesome scanner!

I can see that CVE-2021-42550 has been updated on the GitLab advisories
https://gitlab.com/gitlab-org/security-products/gemnasium-db/-/commit/50bab2cd4ad5ff032ac620035faa83a4f373f939
And looks now correct on their site: https://advisories.gitlab.com/advisory/advmaven_ch_qos_logback_logback_core_CVE_2021_42550.html

How long until that is reflected in a tr

[2022-04-20 11:13] mrjonstrong commented on #2010
Thanks @afdesk but I think I didn't explain it well.

trivy is misidentifying it as a different version, as you pointed out installed version trviy thinks is com.fasterxml.jackson.core:jackson-databind:2.13.0

But as per maven tree I'm using com.fasterxml.jackson.core:jackson-databind:2.13.2
[INFO] | - com.fasterxml.jackson.core:jackson-databind:jar:2.13.2:compile

If it helps I can share the pom.

[2022-04-20 11:51] arix-dev commented on #2011
Thanks @DmitriyLewen, I'll give it a try but it makes sense. Just hope Azure Devops pipeline co-operates now.

[2022-04-20 11:51] #2011 closed

[2022-04-20 11:58] valorl commented on #720
I'm for this one too, maybe as a separate `trivy convert` command. It's more flexible and allows for good UX in the scenario when you're storing JSON reports and would like to occasionally view them in the human-readable table format on the CLI.

[2022-04-20 12:43] ThiefaineM opened #2015 "SPDX SBOM generation"
Hello,
Since Trivy can generate SBOM, it could be nice to be able to generate it in SPDX format.
It "recently" got the ISO seal, so it might be interesting.

[2022-04-20 12:52] DmitriyLewen commented on #2013
Hello @mrjonstrong
Thanks for your interest to Trivy.

This is how `trivy-db` gets new vulnerabilities from GitLab:
`trivy-db` <- [vuln-list-update](https://github.com/aquasecurity/vuln-list-update) <- [GitLab advisories database](https://gitlab.com/gitlab-org/security-products/gemnasium-db).

`vuln-list-update` is updated every 6 hours.

In this way, max time to add new/update CVE to `trivy-db` i

[2022-04-20 18:13] eric-desrochers opened #2016 "Mariner 2.0 OVAL file renamed"
Mariner recently renamed its OVAL file from 'cbl-mariner-2.0-preview-oval.xml' to 'cbl-mariner-2.0-oval.xml'
I wanted to bring this up quickly to prevent any potential disruption in Trivy on Mariner 2.0

[2022-04-20 18:31] PenelopeFudd opened #2017 "Out of memory: Kill process 3991 (trivy) -- version 0.27.0"
## Description

Trivy uses up all available memory and is terminated by the Linux OOM killer.

Is there a way to tell Trivy to trade memory for speed?

## What did you expect to happen?

It should "just work".

## What happened instead?

Trivy was killed while running, because memory ran out.

## Output of run with `-debug`:

n/a

## Output of `trivy -v`:

Version: 0.27.0

## Additional details (b

[2022-04-20 21:33] thepwagner commented on #2015
Duplicate of https://github.com/aquasecurity/trivy/issues/1819 ?

[2022-04-20 21:39] AErmie opened #2018 "💡 Ignore Expiration Dates"
It would be very useful to have the ability to set an ignore expiration date, so that we can ensure ignored issues won't be forgotten and should be revisited in the future.

Something similar to how this is implemented in Trivy would be great!
- Reference documentation: [https://github.com/aquasecurity/tfsec#expiration-date](https://github.com/aquasecurity/tfsec#expiration-date)

[code]

Perhaps i

[2022-04-21 03:33] ThiefaineM commented on #2015
Definitely, sorry for that

[2022-04-21 03:33] #2015 closed

[2022-04-21 04:32] DmitriyLewen commented on #2016
Hello @eric-desrochers
Thanks a lot for your help.

We [remove](https://github.com/aquasecurity/vuln-list-update/blob/bc6508033e204b7e5da58313f924ebab8dfcd51b/mariner/mariner.go#L107) `preview` substring when working with `cbl-mariner*.xml` file.
Trivy will work as before.

Best Regards, Dmitriy

[2022-04-21 05:50] #2013 closed

[2022-04-21 06:15] maulik-modi commented on #1908
With Privy 0.26, getting the same error - Failed to download vulnerability DB. Also attached debug mode screenshot

<img width="1295" alt="trivy scan error" src="https://user-images.githubusercontent.com/34910430/164386236-c9a6680d-bda7-46cc-a64a-92d3b42a085e.png">

[2022-04-21 08:13] knqyf263 commented on #1908
I guess GHCR was down for a while or your network was just slow. Could you try again with `--timeout 20m`?

[2022-04-21 08:19] knqyf263 commented on #2016
Hi @eric-desrochers, thanks for letting us know! Our script is working even after renaming. Please let me close as we don't need any updates.
https://github.com/aquasecurity/vuln-list/tree/main/mariner/2.0

[2022-04-21 08:19] #2016 closed

[2022-04-21 09:26] knqyf263 commented on #1411
We'd recommend using Redis as a cache backend.
https://github.com/aquasecurity/trivy/tree/v0.26.0/helm/trivy#caching

@krol3 I think we should document it. Trivy server cannot be scaled out due to BoltDB.

[2022-04-21 09:29] #1980 closed

[2022-04-21 09:32] #1969 closed

[2022-04-21 11:24] javixeneize commented on #720
Hi

I agree this is an useful thing, specially with the cyclonedx format. I want to generate a html format and also a cyclonedx output

[2022-04-21 13:24] mrjonstrong commented on #2010
If it helps here is the pom
'
<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>
    <groupId>your.group.id</groupId>
    <artifactId>your-artifact-id</artifac

[2022-04-21 14:06] knqyf263 commented on #2018
Duplicate of https://github.com/aquasecurity/trivy/issues/1450

[2022-04-21 14:06] #2018 closed

[2022-04-21 14:09] knqyf263 commented on #1450
We saw some same requests and added it to backlog. The following format looks good to me as we may want to add other values in addition to expiration.

[code]

[2022-04-21 14:13] knqyf263 commented on #1450
Trivy parses `.trivyignore` here.
https://github.com/aquasecurity/trivy/blob/7a148089ece78746f363d5358048d9a74599cedf/pkg/result/result.go#L296-L305

I think we can use `strings.Fields` to split a line.
https://pkg.go.dev/strings#Fields

And, it takes the first element as a vulnerability id and iterates other elements. If the key is `exp`, we will parse it and compare it with `time.Now()`. It it i

[2022-04-21 14:40] knqyf263 commented on #1736
https://github.com/aquasecurity/trivy/pull/1887

[2022-04-21 14:40] #1736 closed

[2022-04-21 14:48] indrasenakatam commented on #1988
Hi @DmitriyLewen
Still I have observed above issue with Trivy v0.26.0.

can you please correct me if anything is wrong.

(alpine 3.14.3)

![image](https://user-images.githubusercontent.com/13271493/164484492-68347573-b11a-4a38-afb5-429736ceb915.png)

![image](https://user-images.githubusercontent.com/13271493/164483933-59d2146b-0f96-4d7b-9e9c-9103a16b02c5.png)

[2022-04-21 15:05] computeralex92 opened #2023 "ASFF Json is unvalid when using AWS CLI Import"
## Description

When using the current AWFF template the AWS CLI is not able to upload the report

## What did you expect to happen?

ASFF report is valid and the AWS CLI is able to upload it.

## What happened instead?

This error happen:

[code]

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):

I foun

[2022-04-21 16:38] avenegasm commented on #1367
Muchas gracias maestro maquina !!!!!!!!!

[2022-04-21 23:33] adazzi93933 opened #2024 "trivy 0.26.0 panic scanning local fs while 0.25 works"
## Description

## What did you expect to happen?
build should pass and can should work not panic

## What happened instead?
got a #15 6.792 panic: runtime error: invalid memory address or nil pointer dereference

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):

run trivy this way inside my dockeffile/b

[2022-04-22 03:31] daniellawson opened #2026 "CycloneDX output has badly formatted datetime strings"
## Description

When using the cyclonedx output, the datetime strings include a three-letter TZ annotation, which isn't compliant with the cyclonedx spec.  Using the cyclonedx-cli (https://github.com/CycloneDX/cyclonedx-cli) to analyze the resulting output throws an exception regarding the format of the datetime, pointing to the additional three-letter timezone descriptor, eg "UTC".

Trivy's cyclo

[2022-04-22 04:35] DmitriyLewen commented on #1988
Hello @indrasenakatam
Can you send me command you are using to scan?
I can't reproduce your issue.
[code]

Regards, Dmitriy

[2022-04-22 05:30] indrasenakatam commented on #1988
Hi @DmitriyLewen ,
Thankyou for your response.

We are using below command.
![image](https://user-images.githubusercontent.com/13271493/164608023-2489e1bf-e183-4681-8aaa-65a62b447103.png)

![image](https://user-images.githubusercontent.com/13271493/164608799-c308d7ea-2dad-4cb4-aa96-da8e02031de1.png)

We followed this reference:  https://aquasecurity.github.io/trivy/v0.26.0/docs/integrations/gitlab

[2022-04-22 06:12] DmitriyLewen commented on #1988
alpine 3.14.3 is used in trivy v0.25.x.
`$IMAGE_TAG` is `docker.io/aquasec/trivy:latest`?

[2022-04-22 07:35] DmitriyLewen commented on #2024
Hello @adazzi93933
Thanks for your report!

If i understand correctly, your container contains `go.mod` file without go version.

We will fix this panic error.
Currently you can add go version string to this file if possible.

Regards, Dmitriy

[2022-04-22 08:12] indrasenakatam commented on #1988
Yes my image tag is latest one only.

  image:
    name: **docker.io/aquasec/trivy:latest**

  And even it is printing trivy version

![image](https://user-images.githubusercontent.com/13271493/164646497-b22f4605-64c6-4d08-90c3-8d01f81447bf.png)

[2022-04-22 08:30] DmitriyLewen commented on #1988
what do you have in `IMAGE_TAG` variables?

[code]

[2022-04-22 08:47] #2012 closed

[2022-04-22 08:55] indrasenakatam commented on #1988
the` $IMAGE`  variable contains our targeted DOCKER image.
**Ex**:   registry.aldidevops.com/XXXX/XXX/project/branch:9495525f8ad1778363c5e2c283ce902eded1e655

we are using `GitLab ` CI/CD for this docker container scanning.

please correct me if anything is missing from my side. thank you in advance.

[2022-04-22 09:38] DmitriyLewen commented on #1988
Your image based on `alpine v3.14.3`.
This image has vulnerability `CVE-2022-28391`.
For alpine packages trivy use [alpine database](https://secdb.alpinelinux.org).

You need to update your base image to fix this vulnerability.

[2022-04-22 10:28] indrasenakatam commented on #1988
Hi @DmitriyLewen ,
Thank you for quick response. Yes we are using node alpine image (`node:14.18-alpine3.14)` for docker build
Will update my side and fix this vulnerability.

Once again thank you for your support.

[2022-04-22 10:28] #1988 closed

[2022-04-22 14:08] #1950 closed

[2022-04-24 07:59] mayrstefan opened #2033 "Self-testing trivy finds vulnerabilities on its own binary"
## Description

Self-test trivy for vulnerabilities

## What did you expect to happen?
I would expect the latest trivy image to be free (of at least fixed) vulnerabilites

## What happened instead?
The current trivy go binary contains two vulnerabilities

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):

As of today this version is only

[2022-04-24 08:02] mayrstefan commented on #2033
Does Aqua use trivy on its own build and release pipeline? From the age of the vulnerabilites this should have been detected.

[2022-04-24 08:19] mayrstefan opened #2034 "Unkown Github Vulnerability Id GMS-2022-20"
## Description

Looking at the findings of #2033 we see GMS-2022-20 reported as a vulnerability id. This seems to be an unkown format.

## What did you expect to happen?
I expected an id to be reported that I can find on the internet.

## What happened instead?
Instead I found [GHSA-qq97-vm5h-rrhg](https://github.com/distribution/distribution/security/advisories/GHSA-qq97-vm5h-rrhg) which seems to

[2022-04-24 09:09] mayrstefan commented on #2034
I think I would prefer to have the CVE (if one exists) reported because CVE-2021-41190 affects multiple projects and I have found three Github Security Advisories that reference the CVE so far.

[2022-04-24 11:42] mayrstefan commented on #2034
Okay, I've found [GMS-2022-20](https://gitlab.com/gitlab-org/advisories-community/-/blob/main/go/github.com/docker/distribution/GMS-2022-20.yml). But this seems to be more like an internal id of Gitlab Advisory Database and nothing public. Also, this YAML includes the original id of the Github advisory which should be shown in trivy instead of the Gitlab id:
[code]

[2022-04-24 12:06] mayrstefan commented on #2034
More deep diving into the details:

Gitlab Source seems to be https://github.com/github/advisory-database/blob/main/advisories/github-reviewed/2022/02/GHSA-qq97-vm5h-rrhg/GHSA-qq97-vm5h-rrhg.json which I would say is the source for https://github.com/advisories/GHSA-qq97-vm5h-rrhg

But the origin seems be https://github.com/distribution/distribution/security/advisories/GHSA-qq97-vm5h-rrhg directly

[2022-04-24 18:11] vishiy opened #2037 "Inconsistent results when scanning with rootfs"
## Description

We have an image that we unpack and scan with rootfs  as specified here - https://aquasecurity.github.io/trivy/v0.20.0/advanced/container/unpacked-filesystem/

Trivy version v0.26.0

docker export $(some image) | tar -C ./trivytemp -xvf -

1) I am scanning rootfs pointing to the root (./trivytemp), looking for a sample CVE that exists on a ruby gem

`trivy rootfs ./trivytemp/usr/bi

[2022-04-24 19:28] knqyf263 commented on #2037
First of all, you are not scanning `./trivytemp`.

Even if you tried `./trivytemp` and it returned nothing, it may be related to system-installed packages. How was bundler installed? If it comes from a package manager such as `yum` and `apt`, Trivy uses security advisories from vendors such as Red Hat and Debian, not from the upstream because the vendor fixed version is different from the upstream

[2022-04-24 19:31] knqyf263 commented on #1976
Please feel free to reopen it if you still have a quesiton.

[2022-04-24 19:31] #1976 closed

[2022-04-24 19:31] knqyf263 commented on #1965
Please feel free to reopen it if you still have a quesiton.

[2022-04-24 19:31] #1965 closed

[2022-04-24 21:17] vishiy commented on #2037
@knqyf263 - i am seeing the opposite. when i scan "/' with rootfs option, i dont get certain CVEs, which i get them when i scan with specific pathy in the file system with rootfs option ex;- /usr/lib. Is rootfs is doing the same thing when scanning the root v a sub path ? it seems not.

[2022-04-24 22:15] knqyf263 commented on #2037
This is exactly what I said. Let's say an upstream of bundler has a patch in v1.1.2 and a vendor backports it to v1.0.1-1. There are two security advisories for the same vulnerability. We need to know which advisory should be applied, otherwise, it leads to false detection. If your installed bundler is v1.0.2, nobody knows whether it is vulnerable or not until we know where it comes from. If it is

[2022-04-25 04:42] DmitriyLewen commented on #2017
Hello @PenelopeFudd
Thanks for your report.

Trivy doesn't have ability to limit memory.
To reproduce your issue, could you please provide more information: what are you scanning, computer resources, etc.

Regards, Dmitriy

[2022-04-25 07:35] knqyf263 commented on #2026
Hi, thanks for raising an issue! We'll take a look. @afdesk Could you look into it?

[2022-04-25 13:04] #2024 closed

[2022-04-25 14:22] loicMugny opened #2040 "Windows Defender flags JSON report files as Backdoor:PHP/Remoteshell.V"
I am having an issue with the Windows Defender when I'm running a Trivy scan on some of the docker images of my company and create a JSON file with the result of the scan.

It detects a Backdoor:PHP/Remoteshell.V vulnerabilty and deletes my JSON file without giving more information.

I run a Java program that sends loads of Trivy calls and they all work and generates the files I want but if I don'

[2022-04-25 14:39] felix-dpg opened #2041 "html template does not work"
## Description

Since days ago Im getting trivy output errors when using html template as output. This was working fine, but not now.

## What did you expect to happen?

HTML report work properly

## What happened instead?

FATAL   unable to write results: failed to initialize template writer: error parsing template: template: output template:55: function "getCurrentTime" not defined

## Output of

[2022-04-25 15:02] sdlarsen commented on #1282
Any chance of getting this re-opened? I'd love to se cri-o support, even help out if someone could point me in the right direction...

[2022-04-25 15:13] knqyf263 commented on #1282
We're [working on containerd](https://github.com/aquasecurity/trivy/issues/851) now. I think we should have a dedicated issue for CRI-O. Could you open a new issue?

[2022-04-25 15:20] gnadaban opened #2043 "Ubuntu 22.04 LTS support"
Hi, when will Ubuntu 22.04 be supported for APT?

Attempting to install on Jammy using APT shows an error:

[code]

[2022-04-25 16:35] jeffalder commented on #2043
https://github.com/aquasecurity/trivy/pull/2044

I'm a new contributor and added the EOL support here. Lemme look at the repo and see if I can figure it out.

[2022-04-25 16:39] jeffalder opened #2045 "Add EOL date for Ubuntu 22.04"
This is not full support; there are changes required in trivy-repo.

[2022-04-26 04:19] DmitriyLewen commented on #2034
Hello @mayrstefan
Thank you for such an informative report!

We will add logic to select advisory id.

Regards, Dmitriy

[2022-04-26 06:37] felix-dpg commented on #2041
Maybe related with this PR??

https://github.com/aquasecurity/trivy/pull/1741#issuecomment-1053669052

[2022-04-26 07:10] felix-dpg commented on #2041
Test the new release 0.27 and the result is the same:

[code]

[2022-04-26 07:24] #1692 closed

[2022-04-26 07:34] #2045 closed

[2022-04-26 07:41] knqyf263 commented on #2043
There are two types of "Ubuntu 22.04 support".

1. Install Trivy on Ubuntu 22.04
2. Scan Ubuntu 22.04 images

I think @gnadaban is talking about #1, while @jeffalder is referring to #2.

#1 is done. https://github.com/aquasecurity/trivy-repo/pull/10
#2 requires contribution.
https://github.com/aquasecurity/trivy-db/blob/df65ebde46f4ab443fb6f4702b05b8fe6332c356/pkg/vulnsrc/ubuntu/ubuntu.go#L27-L48

[2022-04-26 08:09] PatrykKlimowicz opened #2047 "Installation issue with deb package Ubuntu 20.04"
## Description

Installation with .deb package is broken

## What did you expect to happen?

trivy will be installed in correct version

## What happened instead?

trivy is installed in older version

## Steps to reproduce

[code]

results:
[code]

[2022-04-26 08:11] liad5h opened #2048 "Trivy image scans inside docker hangs"
## Description

Hey,

In my jenkins pipeline I run trivy image scans before publishing the images.
Trivy is running as a container:
[code]

In the last couple of days my jobs are failing when they reach the scan due to one of the following:
- trivy consuming 100% CPU
- trivy reaching timeout of 5 or 10 minutes

This happens with small (30 MB) and large (> 1GB) images.
All images are stored locally

[2022-04-26 08:18] knqyf263 commented on #2048
Could you try `/usr/local/bin/trivy image --security-checks vuln`? We want to check if secret scanning causes it or not.

[2022-04-26 08:20] knqyf263 commented on #2047
We need the error message, but did you try removing the existing package like `apt remove --purge trivy`?

[2022-04-26 08:31] PatrykKlimowicz commented on #2047
During the installation there is no error message. Yes, I tried `apt remove --purge trivy`, also the installation with `dpkg` command gives the same result in version mismatch.

[code]

[2022-04-26 08:34] knqyf263 commented on #2047
It is weird. What if you remove the old binary manually?

[2022-04-26 08:42] liad5h commented on #2048
@knqyf263 with this flag trivy completed in 10 seconds again, is this a new feature?

[2022-04-26 08:44] Gellardo opened #2049 "Trivy does not handle long lines gracefully and hangs"
## Description

After upgrading to trivy:0.27.0, `trivy image` for some internal images "idled" after printing the known alpine scan result table.
The command can then take >1h to finish. When producing JSON results instead (`--format json --output out.json`), the command finished in under 2m and produces a 250MB findings file.

The large findings are all related to the new secret scanning.

## Wh

[2022-04-26 08:44] knqyf263 commented on #2048
We enabled secret scanning by default. If you pass `--skip-dirs` or `--skip-files` to skip your large directories/files, the scanning would be faster.

[2022-04-26 08:44] PatrykKlimowicz commented on #2047
I managed to resolve. Sorry for inconvenience. The issue was in WSL2 config - for some reason binary file was mounted to windows path which force the version...? I'm confused, but after removing that link the version updated itself to 0.27 automatically. Thx for such quick response! Love the project!

[2022-04-26 08:44] #2047 closed

[2022-04-26 08:45] knqyf263 commented on #2047
Thanks for confirming!

[2022-04-26 08:46] Gellardo commented on #2049
Might be related to #2048

[2022-04-26 08:55] DmitriyLewen commented on #2041
Hello @felix-dpg
Thanks for your report!

Are you using latest version `html.tpl`?
Template [doesn't currently contain](https://github.com/aquasecurity/trivy/blob/cf78a436d29f8131db97cab16ffc9f0525981b49/contrib/html.tpl#L55) `getCurrentTime` function. This function [has been removed](https://github.com/aquasecurity/trivy/pull/1644/files#diff-2cd0cbc37b819eeeae50cba02ee81b39e4e31ab9b3ea664811f9919

[2022-04-26 09:04] knqyf263 commented on #2049
Oh, I see. Thanks for reporting an issue.

[2022-04-26 09:04] knqyf263 commented on #2049
@VaismanLior Should we truncate matched values if it is too large?

[2022-04-26 09:46] VaismanLior commented on #2049
Sure, there is no use to print that large line anyway.
And we should skip minified files in the default config.

[2022-04-26 09:48] knqyf263 commented on #2048
@liad5h Does your image contain large files like minified javascript file? We'd like to know why it got slow.

[2022-04-26 12:32] pealtrufo opened #2053 "Missing vulnerabilities when scanning RedHat nodejs14 UBI ?"
Hi,

I am scanning image `registry.access.redhat.com/ubi8/nodejs-14:1-63.1647451870` and comparing Trivy results with Clair results. There are some vulnerabilities detected by Clair that I am not sure I understand why they're not reported by Trivy.

Trivy results:
![image](https://user-images.githubusercontent.com/32867433/165299847-43d40049-2e7b-4af0-bd47-d2a40567bc76.png)

Clair results:
<img wi

[2022-04-26 12:56] #2049 closed

[2022-04-26 14:24] StijnNoot commented on #2048
So I was experiencing the same issue when running trivy on a docker image. We basically ran the following commands in our `bamboo-build.sh`:
`scan --exit-code 0 --format template --template "@contrib/html.tpl" -o /reports/report.html`
`scan --exit-code 1 --ignore-unfixed --severity CRITICAL --offline-scan`

The first of these seemed to be doing fine, and exiting the scan as expected. The second on

[2022-04-26 14:52] amirdamirov opened #2054 "trivy image scan not detecting jar files"
## Description
I configured trivy in my pipeline. It was working normally since yesterday.
I put the "--debug" option please check below.  Is it related to bugs ?

## What did you expect to happen?
Normal scan with vulnerability report

## What happened instead?
Parsing Java artifacts...	{"file": "usr/lib/jvm/java-1.8.0-openjdk-1.8.0.322.b06-1.el7_9.x86_64/jre/lib/ext/dnsns.jar"}
No such POM in th

[2022-04-26 19:22] PenelopeFudd commented on #2017
I've got a script that runs this as root:
[code]
This server has 64GB of ram:
[code]
The system has about 1 TB of data, but most of that is used by 5 virtual machines.

Here's the memory usage of my server from when trivy started until it was killed:
![History  refreshed every 30 sec](https://user-images.githubusercontent.com/1606480/165374318-7bbe7f1e-5fb3-4bc2-a888-92eebdc80326.png)

Essentially

[2022-04-26 20:17] PenelopeFudd commented on #2017
Here's the stderr of the process, with newlines inserted:
[code]

[2022-04-26 20:57] PenelopeFudd commented on #2017
With a limit on memory usage, it dies after a minute or two:
[code]

In another window, I was running 'pstree' repeatedly, and saw this:
[code]
It looks like trivy is spawning lots of sub-processes (or threads), and ends up running out of resources (e.g. memory).

[2022-04-26 22:28] liad5h commented on #2048
@knqyf263 this happened both with rather small (30MB) and large (>1GB images).
Let me know if I misunderstood your question.

[2022-04-27 00:06] #1678 closed

[2022-04-27 05:01] DmitriyLewen commented on #2054
Hello @amirdamirov
Thanks for your report!

I think your image is so big and Trivy can't scan it for 5 min(default timeout)
Can you use --timeout flag with larger value.
More information about image CLI [here](https://aquasecurity.github.io/trivy/v0.27.0/docs/references/cli/image/)

Regards, Dmitriy

[2022-04-27 06:21] mkruliv commented on #2048
Same situation for me too. Revert back to trivy 0.26.0 helped

[2022-04-27 06:35] knqyf263 commented on #2048
@StijnNoot Looks like your case is different. You just ran two processes and got stuck. Trivy uses BoltDB that obtains a file lock on the data file so multiple processes cannot open the same database at the same time.

[2022-04-27 06:40] knqyf263 commented on #2048
I was asking if your container image contains a large file. Trivy uses regexp for secret detection and it takes some time when an image contains a lot of files or large files.

Could you give me an example image or Dockerfile building your image? You can remove lines that you don't want to share. We want to reproduce it in our environment.