[2021-05-30 10:59] knqyf263 commented on #994
Yeah, the doc is stale. We'll fix it. Thanks.

[2021-05-30 11:13] #994 closed

[2021-05-30 12:43] #1011 closed

[2021-05-30 18:02] masahiro331 commented on #1025
@mbreevoort
Thank you report issue.
This advisory is provided by the gitlab advisory database.

I will send a PR to fix the Adivosory.
https://gitlab.com/gitlab-org/security-products/gemnasium-db/-/merge_requests/6889

[2021-05-31 01:13] Artiver opened #1031 "Does TRIVY Support OpenEuler OS?"
As the title says, does TRIVY support openEuler?
link: https://openeuler.org/zh/

[2021-05-31 07:52] zubcevic commented on #982
I am also facing the same problem. Even if you specify --vuln-type os , it will still try to connect to http://search.maven.org/solrsearch.... if it detected any jar in the container image. The option --vuln-type seems to effect the reporting part only.
Both the outgoing requests and information as well as the http protocol are undesired in financial/governmental enterprise environments.
The OWASP

[2021-05-31 08:21] #894 closed

[2021-05-31 14:48] masahiro331 commented on #1025
PR merged.
I think it will be reflected in Trivy DB the day after tomorrow.

[2021-06-01 03:44] krol3 commented on #900
@Hokwang Sorry for the delay, difficult times these days. I created a PR to update the version of the image, as the next step, I will automate the chart release.

[2021-06-01 04:20] festheray opened #1034 "my trivy works in one region and fails another: aws ECR"
## Description

## What did you expect to happen?
Image can be scanned in both regions

## What happened instead?
scan only works in us-east-1

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):
AWS ECR

I have previous logged into aws ecr with:
`aws ecr get-login-password --region us-west-2 | docker login

[2021-06-01 05:39] knqyf263 commented on #1026
If you set AWS_DEFAULT_REGION=eu-central-1, does it work?

[2021-06-01 06:32] festheray commented on #1026
yes, @knqyf263
I opened the same issue: https://github.com/aquasecurity/trivy/issues/1034  and realized someone had already opened this one, but I will go close it now, thanks for the tips

any possibility that you provide some leads on how trivy reads `~/.aws/config`? I would like to switch a few regions back and fourth, would be nice to understand that rather than going to switch `[default] regi

[2021-06-01 06:33] festheray commented on #1034
replica of: https://github.com/aquasecurity/trivy/issues/1026

solved by setting default region in `~/.aws/config`

[2021-06-01 06:33] #1034 closed

[2021-06-01 07:40] knqyf263 commented on #1031
Trivy currently doesn't support openEuler. If someone wants to support it, you have to add a script fetching security advisories of openEuler in vuln-list-update.
https://github.com/aquasecurity/vuln-list-update

Those advisories need to be committed to vuln-list.
https://github.com/aquasecurity/vuln-list

Please feel free to ask any questions!

[2021-06-01 07:48] knqyf263 commented on #1021
Sounds nice! Is there a specific security advisory for AlmaLinux? Or does AlmaLinux just import packages from RHEL/CentOS?

[2021-06-01 08:50] sll552 commented on #1021
They seem to have a bug tracker for security related things (https://almalinux.atlassian.net/jira/software/c/projects/SEC/issues/) but I haven't found anything related for their packages, so I guess it would be a good start to treat it as RHEL/CentOS.

[2021-06-01 09:39] PavloZabudskyi opened #1035 "Scanning intermediate layer"
## Description

I have simple Dockerfile
[code]
And build it
[code]

## What did you expect to happen?
I expect to pass scan as I have upper layer with package update
`(6/6) Installing gnutls (3.7.1-r0)`
Can I pass scanning build stage image? Why should I care about it if image I end up working with is application stage image?

## What happened instead?
[code]
## Output of run with `-debug`:

[cod

[2021-06-01 11:00] msw-kialo commented on #1026
@knqyf263 Specifying a matching region to the image location via `AWS_REGION` / `AWS_DEFAULT_REGION` resolves the issue.

I discovered that EKS clusters have a [pod-identiy-webhook](https://github.com/aws/amazon-eks-pod-identity-webhook#aws_default_region-injection) configured to inject needed environment variables to assume roles via OIDC / web-identity. This also injects `AWS_REGION` and `AWS_DE

[2021-06-01 11:32] JorritSalverda commented on #1018
Hi @knqyf263 it's resolved now! Thanks for your help.

[2021-06-01 11:32] #1018 closed

[2021-06-01 12:09] knqyf263 commented on #1018
My pleasure!

[2021-06-01 15:40] dberecz commented on #491
I'd like to ask if there is any update on this topic? I cannot find such flag in the documentation, neither an official list of the sources that can be used in commercial/non-commercial scenarios. If neither are available, what would be the best way to contribute?

[2021-06-01 16:02] msymons commented on #140
As a non-developer, I am afraid that I cannot contribute code.  However, I can say that cyclonedx support would be really useful, as we are already using Trivy and yet also using solutiions that expect to import in cyclonedx format.

[2021-06-02 07:13] mgmgwi opened #1038 "GitHub Action - analysis fails after sarif upload"
## Description

I'm scanning a docker image and want to upload the result via the `github/codeql-action/upload-sarif@v1` action.

[code]

## What did you expect to happen?

sarif file gets analyzed correctly.

## What happened instead?

The error 'Analysis failed for trivy-workflow' is shown on the Code scanning alerts tab.

![Trivy Analysis Fails](https://user-images.githubusercontent.com/4302725

[2021-06-02 18:42] mpoindexter opened #1039 "Better detection of Python and Node packages"
It seems like for NPM and Python packages, Trivy takes the approach of looking for lockfiles (package-lock.json, Poetry lock files, etc) vs actual packages installed on the system. This means that if a Python or Node package is installed via other means, or the lockfile is not copied into the image the package will not be detected. I think a better approach is to look for installed packages in the

[2021-06-03 00:19] #632 closed

[2021-06-03 04:12] abhinavkhanna-sf opened #1040 "Helm Chart: Ingress does not work on AWS EKS"
## Description

Helm Chart: Ingress does not work on AWS EKS. AWS ELB is unable to forward request to trivy service.
AWS Ingress Path expected  "/*" however trivy helm chart has it hard coded to "/"

Can you please parametrize ingress path as well ? I can do a PR as well if you are open for that,

## What did you expect to happen?

Request should go to trivy service

## What happened instead?

Not

[2021-06-03 06:56] knqyf263 commented on #632
We have a plugin feature now. Please try it out.
https://aquasecurity.github.io/trivy/v0.18.3/plugins/

[2021-06-03 09:13] mbreevoort commented on #1025
Thnx for fixing the gitlab report.
Tested and no false positive on nimbus-jose-jwt-9.8.1.jar -> shadowed json-smart 1.3.2 anymore :-)

[2021-06-03 13:46] desolatorxxl opened #1041 "Support multiple ignore policy files"
It would be nice if one could use multiple policy files to filter out unwanted CVEs.

As I have many images and even more CVEs to cater, some kind of high level default policy wich can be extend by a project level policy would be desireable.

E.g. something like this:

[code]

[2021-06-07 00:08] #898 closed

[2021-06-07 03:46] masahiro331 commented on #1025
If Fixed this probrem, please close issue!!

[2021-06-07 04:45] mbreevoort commented on #1025
Fixed

[2021-06-08 12:38] #1035 closed

[2021-06-08 12:50] TauseefMalik opened #1051 "Feat (registry): Support STS temporary access method for ECR registry"
Currently, Trivy only supports ECR registry scanning using Access/Secret keys which grants long-term access.
We can instead use AWS Security token service (STS) to fetch short-term temporary access(Assume role approach) to the resource.

[2021-06-08 12:53] Morl99 commented on #967
@knqyf263 are you interested in adding a link to the vulnerability explorer? If not, we could close this issue.

[2021-06-08 17:30] annmuor opened #1052 "Support for Arch Linux"
[Arch Linux](https://archlinux.org) is one of the most popular advanced linux distro and it is used as a container base image. Arch also provides latest versions of popular ( and unpopular, via AUR ) and this makes it the best option for developers.

[2021-06-08 20:30] DecayingSec opened #1053 "Support for Rocky Linux"
Rocky Linux should be detected as RHEL/CentOS. See https://rockylinux.org/ for details. Similar to classic CentOS, Rocky Linux is a RHEL clone so Red Hat Security advisories apply to it. This is the same exact situation as AlmaLinux https://github.com/aquasecurity/trivy/issues/1021

[2021-06-09 07:06] apollo13 commented on #1053
This is sadly no longer (easily) true for CentOS 8 and as such also not for Rocky Linux. This is due to how modules

As an example of running trivy against CentOS 8 yesterday:

[code]
You can see that the affected version is:
 * 4.3.1-1.module_el8.4.0+575+63b40ad7
and the fixed version is supposed to be:
 * 4.3.1-1.module+el8.4.0+10607+f4da7515

Looking at the covering redhat advisory: https://acc

[2021-06-09 07:16] apollo13 commented on #1053
As another example, I just checked Rockylinux for libslirp (they seem to have rebuilt the package twice):
 * 4.3.1-1.module+el8.4.0+537+38cf4e42
 * 4.3.1-1.module+el8.4.0+538+900cb89c

[2021-06-09 07:18] apollo13 commented on #1053
And just for fun, AlmaLinux:

 * 4.3.1-1.module_el8.4.0+2331+dd38312c
 * 4.3.1-1.module_el8.4.0+2332+f4da7515

That is now 4 distributions, all with different versions.

[2021-06-09 11:03] XJDwakng opened #1054 "report template"
add format can output multi , for example   --format  table, json, template

[2021-06-09 13:45] DecayingSec commented on #1053
Thank you for that information, I did't realize they did't synchronize version numbers.

Does that mean Trivy is currently broken for CentOS 8?

Does this mean Trivy support for will have to wait until Rockylinux and AlmaLinux both independently publish their own advisories with the correct revision numbers?

[2021-06-09 13:50] apollo13 commented on #1053
Define "broken". Trivy doesn't list CentOS 8 as supported https://aquasecurity.github.io/trivy/v0.17.2/vuln-detection/os/ -- so in that sense it is simply not supported and not technically broken.

No idea, if the version check were adjusted to strip everything after `.module` it should work. Because as far as RHEL is concerned very new version will increase the release number before `.module`. Ev

[2021-06-09 15:07] dohnto commented on #766
This is affecting us as well when we skip `/var/lib/docker` directory. Is there any known workardound? I tried adding `--skip-dirs /proc`, but it doesn't help.

[2021-06-09 17:19] Gerry9000 opened #1056 "Support for Air-Gap environments for usage other than 'image'"
When running trivy against a docker image, the --skip-update option will allow the scan to proceed without requiring a DB update.

However, when running with the "fs" or other usage, the --skip-update option is ignored and an error "The first run cannot skip downloading DB" and "--skip-update cannot be specified on the first run" is produced, making the tool unusable for modes other then image sca

[2021-06-09 22:21] leopold2410 opened #1057 "Scanning of Java App in Airgap Environment"
Hi,
I tried to use trivy image scan in standalone mode in a gitlab CI Runner. The environment is  air-gapped.
The scan is executed on a OCI tarball produced with kaniko.
The scan starts as expected (the configured cached offline DB seems to work), but then issues a lot of HTTP requests to search.maven.org and finally I got:

2021-06-09T17:35:59.540Z	DEBUG	request failed	{"error": "Get \"http://sea

[2021-06-10 07:46] fboender commented on #993
I'm running into a similar problem. For various reasons we can't always integrate Trivy into a build pipeline or scan a registry. So I was very excited when I found out Trivy can scan an entire filesystem on a host. That incredibly simplifies scanning many hosts for us, since we can just automate it all with Ansible. However, the memory usage makes this unfeasible.

For example, peak memory usage

[2021-06-10 10:57] fboender commented on #993
Out of curiosity, I tried some garbage collection things. Keep in mind that I know next to nothing about Go's GC and none of this may be relevant.

Running Trivy with `GODEBUG=gctrace=1` shows increasing wait periods between GCs (or just trace reports??) as Trivy approaches its maximum memory usage while scanning the entire filesystem. Once the period between GCs speeds up again, the memory usage

[2021-06-10 13:03] #1040 closed

[2021-06-11 00:02] #883 closed

[2021-06-11 12:21] SamarSidharth opened #1061 "Trivy integration with OPA"
I want to know if there is a way to integrate Trivy with OPA in an environment that has no internet access and uses local repositories for hosting images.

Thanks

[2021-06-11 14:03] DecayingSec commented on #1053
Support for modular packages was added in https://github.com/aquasecurity/trivy/pull/790.

[2021-06-11 17:41] SamarSidharth opened #1063 "Having issue while scanning host images from Trivy container"
## Description

I am trying to scan host image using trivy from a container. Following the steps mentioned in the document  for running as docker image https://aquasecurity.github.io/trivy/v0.18.3/installation/

## What did you expect to happen?
Trivy should return the scan results for images present on the host.

## What happened instead?
I get below errors
        * unable to inspect the image (

[2021-06-12 00:02] #422 closed

[2021-06-12 00:02] #471 closed

[2021-06-12 00:02] #379 closed

[2021-06-12 00:02] #421 closed

[2021-06-12 00:02] #348 closed

[2021-06-12 00:02] #259 closed

[2021-06-12 00:02] #243 closed

[2021-06-12 00:02] #254 closed

[2021-06-12 00:02] #80 closed

[2021-06-12 00:02] #71 closed

[2021-06-13 00:02] #601 closed

[2021-06-14 13:41] laurentdelosieresmano opened #1064 "Trivy is not scanning standalone java / nodejs / PHP binaries"
Hello AquaSecurity Team,

Trivy is not detecting / scanning standalone versions of java / nodejs / PHP / etc binaries. Is this something that you are planning to support ?

Best,
Laurent

[2021-06-15 01:16] Artiver commented on #1031
Thank you for your answer. Trivy is a new tool for me. I want to customize it for scanning specific OS images. Do you have a detailed operation procedure? Thank you. @knqyf263

[2021-06-15 05:24] Gerry9000 commented on #492
Looks like this issue has the same goal for python and node packages, using approach #3 from this issue, and the contributor mentioned they have code they can submit:
https://github.com/aquasecurity/trivy/issues/1039

[2021-06-15 05:24] Gerry9000 commented on #1039
@mpoindexter It looks like this issue has overlap: https://github.com/aquasecurity/trivy/issues/492

[2021-06-15 06:29] piyush94 opened #1065 "failed to detect CVE"
Trivy is failing to detect this vulnerability.
https://avd.aquasec.com/nvd/cve-2018-10054/
[code]

[code]

[2021-06-15 14:50] mozillazg opened #1066 "Add OS info to the new JSON schema"
Add new `OS` field to the new JSON schema to include detected os info from image, like this:

[code]

before:

[code]

after:

[code]

In some cases, we want to get os info of the image when there are CVEs and use it to decide how to fix found CVEs.
At current, we have to parse the value of `Target` field (to get os name and version) and stdout/stderr of trivy command (to get `no longer supported`

[2021-06-15 21:14] tspearconquest opened #1067 "False positive finding by Trivy"
## Description

We ran into a scan failure for an app we use which has a dependency on Lucene Core v5.5.5.
After discussing with the app vendor, they provided evidence that this version of Lucene Core is already fixed for the vulnerability below.

We downloaded the Lucene Core package zip file manually from the lucene download page [here](https://archive.apache.org/dist/lucene/java/5.5.5/)
Then we

[2021-06-16 08:06] knqyf263 commented on #1067
@tspearconquest The advisory comes from GitHub Security Advisories (GHSA). Could you open an issue on GHSA?
https://github.com/advisories/GHSA-mh7g-99w9-xpjm

[2021-06-16 08:12] knqyf263 commented on #1065
@piyush94 Trivy depends on GitHub and GitLab databases. Could you raise an issue on them?
https://gitlab.com/gitlab-org/security-products/gemnasium-db
https://github.com/advisories

[2021-06-16 08:17] knqyf263 commented on #1066
Agree. But why is it an array?

[2021-06-16 08:20] knqyf263 commented on #1064
What is a Java binary? If you are talking about a Java archive, Trivy can detect it.
https://aquasecurity.github.io/trivy/v0.18.3/vuln-detection/library/

[2021-06-16 08:21] knqyf263 commented on #1063
Did you mount docker socket?
https://aquasecurity.github.io/trivy/v0.18.3/installation/#docker-hub

[2021-06-16 08:23] knqyf263 commented on #1061
You can filter vulnerabilities by OPA even under an air-gapped environment.
https://aquasecurity.github.io/trivy/v0.18.3/examples/filter/#by-open-policy-agent

[2021-06-16 08:26] piyush94 commented on #1065
Created: https://gitlab.com/gitlab-org/security-products/gemnasium-db/-/issues/161
Not sure where to raise an issue for GitHub advisory.

[2021-06-16 08:30] knqyf263 commented on #995
Yes, Trivy uses NVD to display vulnerability details.

[2021-06-16 08:30] #995 closed

[2021-06-16 08:48] laurentdelosieresmano commented on #1064
Hi knqyf263,

I was referring to java / PHP / node.js binaries that are shipped to the Docker images via tarballs and not OS packages. One example is openjdk:11.0.11-jre-buster which downloads and extracts the tarball [1]. Trivy is not scanning the "Java" binary issued from those tarballs. Same applies to nodejs / php / etc.

Let me know if this clarifies your doubt.

[1] github.com/AdoptOpenJDK/o

[2021-06-16 09:18] knqyf263 commented on #1065
Looks good! Thanks.

[2021-06-16 09:23] knqyf263 commented on #1024
Are you using an old Trivy server?

[2021-06-16 10:29] SamarSidharth commented on #1063
@knqyf263 thanks for you reply.
Yes the docker socket was mounted. The problem was resolved by giving root privilege to the trivy container. I got this solution from an old issue.

[2021-06-16 11:29] knqyf263 commented on #1063
Nice. I'll close this issue.

[2021-06-16 11:29] #1063 closed

[2021-06-16 12:17] tspearconquest commented on #1067
Hi @knqyf263 I don't seem to have any ability to open an issue on the GHSA pages at all as there is no issue tracker visible there for me. Any advice will be appreciated here, as I'm not sure how to go about doing that otherwise.

[2021-06-16 12:40] mozillazg commented on #1066
@knqyf263 Because the value of `RepoTags` is an array, I don't why but just follow it.

BTW, I prefer to use Object instead of Array as type of `RepoTags` / `RepoDigests` and the new `OS` fields.

[2021-06-16 12:58] SamarSidharth commented on #1061
@knqyf263 thanks for your reply.
I followed the document and was able to get the trivy server running.
Question:
Does trivy client certificate option ?

[2021-06-17 07:52] knqyf263 commented on #1067
I used to open an issue of GHSA here.
https://support.github.com/contact

[2021-06-17 07:58] knqyf263 commented on #1066
I see. Multiple tags can be assigned to a single image such as `alpine:latest` and `alpine:3.14`.

[code]

`RepoDigests` is the same

[code]

They are all the same images. We can hold only one OS info.

[2021-06-17 10:07] JoshKeegan opened #1071 "Alpine 3.14.0 detected as unsupported"
## Description
alpine 3.14.0 (latest release from 2021-06-15) detected as unsupported.
Appears to be similar to #833, #819 which were for 3.13.

## What happened instead?
[code]

## Output of `trivy -v`:

[code]

[2021-06-17 10:10] JoshKeegan commented on #1071
Happy to submit a PR for this, if that's welcome?

[2021-06-17 13:02] mozillazg commented on #1066
👌

[2021-06-17 13:30] tspearconquest commented on #1067
Thank you, I reported it on the community forum and someone took it up internally on my behalf.
URL for tracking: https://github.community/t/reporting-an-issue-with-github-security-advisories/185427

[2021-06-17 13:58] joaoaraujo-hotmart opened #1073 "Trivy reporting a required version of package instead of the installed version"
I've a problem when trivy is scanning a package-lock.json file:

The package "trim-newlines" has a vulnerability. "meow" package don't updated yet so I've added a resolution for "trim-newlines": "^3.0.1".

It looks like trivy is reading the line with the description of which version of package meow expects (requires object) instead of the version is installed in the dependencies object.

An exampl

[2021-06-17 14:54] tetraal opened #1075 "Capability to disable or exclude scanners that require internet access for use in air-gap environments"
Currently, Java scanning requires Internet access and does not work in an air-gapped environment. Therefore, air-gapped users are forced to be at release 0.16 until an option is provided to exclude certain scanners. In addition, we do not have the capability to scan new application dependencies that have since or may be released.

Also reference: https://github.com/aquasecurity/trivy/issues/1057

[2021-06-18 00:02] #890 closed

[2021-06-18 09:51] mbreevoort commented on #1025
I don't understand the problem is back but now for version 2.3.1
[code]

In https://gitlab.com/gitlab-org/security-products/gemnasium-db/-/blob/master/maven/net.minidev/json-smart/CVE-2021-27568.yml version 2.3.1 is not vulnerable

[2021-06-19 00:02] #910 closed

[2021-06-19 12:35] leopold2410 commented on #1057
Is there any workaround? Can I  use a maven mirror?
I tried as well the --skip-dirs option and excluded the directory of my java app, but it did not work for me when I scanned an OCI image in tar format. The java scanner seems to ignore this option.

[2021-06-20 00:05] #922 closed

[2021-06-20 00:05] #531 closed

[2021-06-20 08:15] #1071 closed

[2021-06-20 21:39] anthr76 opened #1080 "Buildah manifest images aren't being detected by trivy"
## Description

Consider the following multi-arch build with Buildah.

[code]

## What did you expect to happen?

## What happened instead?

Trivy fails with:

[code]

## Output of run with `-debug`:

[code]

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):

Giving trivy the `oci:build/amd64` artifact instead of the multi-arch one succe

[2021-06-21 00:02] #926 closed

[2021-06-21 11:54] apollo13 commented on #1053
@knqyf263 Could you provide your insights here? Since CentOS is basically bug compatible with RHEL it could make sense to relax the module comparison, what do you think?

[2021-06-22 00:02] #928 closed

[2021-06-22 00:02] #923 closed

[2021-06-22 00:02] #925 closed

[2021-06-22 10:51] philnichol opened #1082 "Add option to treat unsupported OS as a failure"
Hi, first off, thanks for creating and maintaining this awesome project!

At the moment, if we scan an OS which is no longer supported, the scan shows no vulnerabilities and exits with code 0.

[code]

While I understand this may be desirable default behaviour, it would be good to be able to configure how Trivy will exit based on this condition (in our case, we want our pipeline to fail if an imag

[2021-06-23 00:02] #836 closed

[2021-06-23 23:59] shpml opened #1084 "Trivy Plugin Install Missing Some files"
I'm currently creating a plugin to export trivy results to csv format and upload to my cloud provider.

My plugin git repository contains the following files
-  README.md
-  plugin.yaml
-  trivy_plugin.sh
-  trivy_full_csv.tpl
-  trivy_simple_csv.tpl

When I install the plugin with `trivy plugin install "git@bitbucket.org:my_org/trivy-plugin"` there are only two files downloaded to the plugin dire

[2021-06-24 19:57] srbala commented on #1021
`AlmaLinux` and `Rocky` would be family of `RHEL`, Any issues reported would affect all

[2021-06-24 19:58] kfox1111 commented on #1021
unfortunately not. see https://github.com/aquasecurity/trivy/issues/1053 for details.

[2021-06-24 21:10] carlwgeorge commented on #1053
This isn't always true.  For example, [CVE-2020-25097](https://access.redhat.com/security/cve/CVE-2020-25097) was fixed in [RHSA-2021:1979](https://access.redhat.com/errata/RHSA-2021:1979) with `squid-4.11-4.module+el8.4.0+10676+a969168e.2` (note the `.2` after the modular information).  This is because the modular build information is injected into the build via the `%{dist}` macro, and sometimes

[2021-06-24 23:57] shpml opened #1086 "Trivy Executing Incorrect Plugin."
## Description
Trivy is executing the wrong plugin. I have two plugins installed. My own and the [kubectl](github.com/aquasecurity/trivy-plugin-kubectl) example one. When I try to execute my own plugin it executes the kubectl plugin.

[code]

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Work around
Uninstalling the kubectl plugin with `trivy plugin uninstall kubect

[2021-06-25 06:48] apollo13 commented on #1053
@carlwgeorge Uff, that is unfortunate. So effectively RedHat did find a way to ensure that the security feed is only usable for RHEL no matter what :/ If that is really the case I think trivy should fully remove support for CentOS 8 and not pretend that it works by showing open issues…

[2021-06-25 13:15] srbala commented on #1053
Actually it make sence. CentOS, AlmaLiux and Rocky are RHEL family products. Any Security related issues related to sources are applicable all which might be 80%. Build, packageing and optimization might vary.

So the chalenge would be mater of findng the packaging pattern. May be related community members can help to improve the process

[2021-06-25 15:22] Liarick opened #1089 "trivy image failed to download vulnerability TLS handshake timeout"
## Description

Hello,

I m trying to use trivy to scan images on our Centos 7 servers. This servers are behind a corporate proxy on a private network.
I ve tried both ways :
- by using trivy docker image
- by installing trivy

In both case, when I run the trivy command I found that error :
[code]

## What did you expect to happen?
No fatal error and a scanning report

## What happened instead?
A

[2021-06-25 16:03] carlwgeorge commented on #1053
There was no ill intent.  Modularity was designed in Fedora, and that's where the decision to inject modular build information via the `%{dist}` macro happened.  This is just an unfortunate side effect years later.  If RHEL wanted to make life harder on rebuilds there are many easier ways for them to do it than inventing modularity.

The correct answer is for rebuilds to publish their own errata (

[2021-06-25 16:43] Conan-Kudo commented on #1021
Alma has their own OVAL and Errata metadata, @jaboutboul would be able to help here.

[2021-06-26 08:46] apollo13 commented on #1053
Rereading my comment, I realize it sounded way harsher than intended. I am sorry if it created the impression that RHEL did this on purpose to cripple CentOS -- this was not my intention.

Sure, but that was easy to understand and argue about :)

Do you happen to know the reason for this? The versioning guidelines seem to mention it as `minor release bump (<minorbump>)` which should be used when c

[2021-06-26 11:31] knqyf263 commented on #1089
What is your proxy setting? Please make sure your proxy works with `go get` as below.

[code]

[2021-06-26 22:24] sherif84 commented on #1057
+1 . we are facing the same issue . we need to be able to scan java components in an airgap environment since our CI servers sit behind a corporate firewall and are blocked from the internet . we have some servers with limited internet access (https/443) only . and these also failed since in java scans it is reaching out to http/80 endpoints

[code]

any suggestions of a workaround  with a local m

[2021-06-27 21:29] carlwgeorge commented on #1053
Yes, this is a case of a "minor release bump", exactly what you found documentation for.  It may mean that the next RHEL branch (rhel-8.5.0 in this case) already has a build using the next whole release number, but it's necessary to apply a fix to the previous (rhel-8.4.0) branch.

The strictest interpretation of this would be that if a distro doesn't publish errata, it can't be supported.  The Ce

[2021-06-28 07:02] Liarick commented on #1089
Hello,

Thanks for your quick answer. My proxy is working because all other tools that I have installed are working fine with this proxy. I can't make the test with go, because I do not have go installed on my servers.
As an example, when I set my proxy, this command :
[code]
it returns :
[code]
(because the token is a fake one, but I have an answer from Github server)

When I unset my proxy setti

[2021-06-28 07:24] apollo13 commented on #1053
Oh -- my naive assumption was that in this case one would set a `Requires` to ensure that the fixes are part of the build. But if that isn't done I understand how one can end up in a world of pain with rebuild order.

[2021-06-29 07:51] rahul2393 commented on #1038
Hello @mgmgwi I have created a test public repo https://github.com/rahul2393/trivy-workflow, I am trying to replicate the error, can you help me upload step work fine.

[2021-06-29 08:55] mgmgwi commented on #1038
Did you enable `Code scanning` in the repo settings (in Security & analysis)? There should be entries in https://github.com/rahul2393/trivy-workflow/security (Code scanning alerts) if the analysis worked.

[2021-06-29 08:57] mgmgwi commented on #1038
One more note: they recently updated `python:3.6-slim-buster` to Debian 10.10 so maybe it got "fixed" that way.

[2021-06-29 08:59] rahul2393 commented on #1038
I am trying to setup, but not able to set it, do you have access to setup?
![Uploading Screenshot 2021-06-29 at 2.28.53 PM.png…]()

[2021-06-29 09:01] rahul2393 commented on #1038
Can you also check if putting this template on your root directory
https://github.com/rahul2393/trivy-ci-test/blob/sarif_test/sarif_test.tpl
and using the above template in your action like this
https://github.com/rahul2393/trivy-ci-test/blob/sarif_test/.github/workflows/scan.yml#L16
instead of '@/contrib/sarif.tpl' makes any difference?

[2021-06-29 09:21] mgmgwi commented on #1038
Hmm, there might be a problem with GitHub right now. I tried setting it up [on a fork](https://github.com/mgmgwi/trivy-workflow/security/code-scanning) but it doesn't work. So we may need to wait for GitHub until they fix their code scanning.

[2021-06-29 09:23] rahul2393 commented on #1038
Ok thanks for the quick checking, can you also check the above sarif_test.tpl, I run on validator the output from above is passing, let me know if you still face error with above template.

[2021-06-29 09:39] mgmgwi commented on #1038
I tried the new template, you can see the result file here: https://github.com/mgmgwi/trivy-workflow/actions/runs/982158248

The [SARIF Validator](https://sarifweb.azurewebsites.net/Validation) complains about

- GH1001: Each result location must provide the property 'physicalLocation.artifactLocation.uri'. GitHub Advanced Security code scanning will not display a result whose location does not pr

[2021-06-29 12:38] dmivankov opened #1090 "failed to open db on read-only filesystem with --skip-update"
## Description

Following https://github.com/aquasecurity/trivy/blob/main/docs/air-gap.md
[code]
can produce
[code]

## What did you expect to happen?

In skip-update mode database should be opened as read-only.

## What happened instead?

Trivy failed to scan image

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registr

[2021-06-29 13:20] dmivankov opened #1091 "--no-color option"
When output is saved into text files/CI logs color markers make it harder to rid
[code]
--no-color, and/or [NO_COLOR](https://no-color.org/) would be nice to have

[2021-06-30 02:21] shpml commented on #766
This is still happening on version 0.18.3.

[code]
Any idea when it will be fixed
[code]

[2021-06-30 09:53] #1066 closed

[2021-06-30 12:57] mbreevoort commented on #1025
@masahiro331 can you help me how to fix the false positive for version 2.3.1 ?

[2021-07-01 00:02] #929 closed

[2021-07-01 13:28] philnichol commented on #1082
I've raised a PR that (hopefully) addresses this, just wanted to see if I'm on the right track before updating docs

[2021-07-03 03:02] krol3 commented on #1091
@dmivankov could you share the commands that you are using in trivy?

[2021-07-03 20:36] dmivankov commented on #1091
[code]
can probably add output post-processing to remove color markers too

[2021-07-05 19:13] francardoso93 opened #1094 "OPA Multiple Ignore Policy files"
I've realized that I cannot split my policies into different files because if use multiple --ignore-policy args, it will use only the last one. I also cannot set directories. How could this be done? Also, what if I wanted to place variables in a file and the policy into another also not possible. [Working with single file only]

[2021-07-06 08:55] philnichol commented on #1082
Apologies, just realized this is a duplicate of #897

[2021-07-07 00:02] #176 closed

[2021-07-07 16:16] lucj opened #1096 "Document json format in the --help"
The --help does not indicate the output format.

[code]

It would be great to have the documentation of the -f flag, as for instance
`trivy -f json ...` is just so great :)

[2021-07-07 16:21] knqyf263 commented on #1096
You have to specify a subcommand such as `image`.
[code]

[2021-07-07 18:53] jsjoeio commented on #1080
@anthr76 did you ever find a workaround for this? I'm running into the [same issue](https://github.com/cdr/code-server/pull/3727/checks?check_run_id=3002783482#step:5:18).
[code]

[2021-07-07 20:09] anthr76 commented on #1080
My "fix" was to use a OCI image over a image manifest. You can track my usage at https://gitlab.com/kutara/gitlab-ci-templates

Tl;dr is I just to do a image push of the amd64 image to a OCI registry and use it as a artifact. Not as ideal or pretty as using a image manifest with all the archs.

[2021-07-08 05:49] designanderror opened #1097 "Alpine EOL changes aren't reflected."
## Description

Used Trivy to scan Docker images.
The images that make use of alpine 3.14 show a WARN. Inspite of the EOL updated for the alpine 3.14 the changes aren't reflected.

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

[2021-07-08 06:19] knqyf263 commented on #1097
It is not released yet. We are planning to release a new version next Monday.
https://github.com/aquasecurity/trivy/pull/1072

[2021-07-08 06:28] designanderror commented on #1097
Ah okay!

[2021-07-08 06:28] #1097 closed

[2021-07-08 06:57] mparuszewski opened #1098 "Inconsistency between InstalledVersion and Description of the Vulnerability"
## Description

When testing Trivy on `registry.access.redhat.com/ubi8/ubi-minimal:8.4` I've noticed difference between the Description and `InstalledVersion` fields. I understand that the Description is taken from Vulnerability Database (ie. https://nvd.nist.gov/vuln/detail/CVE-2019-9937), but I wonder if the reported vulnerability is false positive or the description is not accurate and installe

[2021-07-08 07:51] thiago-gitlab commented on #1098
@mparuszewski, the CPE for CVE-2019-9937 is `cpe:2.3:a:sqlite:sqlite:3.27.2:*:*:*:*:*:*:*`. The installed version is `3.26.0-13.el8` so, unless this is patched downstream by the OS packaging, this seems to be a true positive.

Am I misinterpreting something?

[2021-07-08 08:39] knqyf263 commented on #1098
If an image is based on Red Hat, the description comes from Red Hat's advisory.
https://access.redhat.com/security/cve/cve-2019-9937

In this case, the description describes the status in upstream. The vulnerability was fixed in SQLite 3.27.2. According to the above advisory, RHEL8 is affected by this vulnerability, but Red Hat decided not to fix it because of low severity probably. Therefore, `3.

[2021-07-08 08:55] mparuszewski commented on #1098
Thank you @knqyf263 for the detailed information!

[2021-07-08 11:35] knqyf263 commented on #1098
Anytime! Can we close this issue?

[2021-07-08 13:39] materemias commented on #783
sorry for necrobumping, but I could not find if there is any solution to get authenticated to GCR with a credentials json file... I am trying to run the `aquasec/trivy` image with `GOOGLE_APPLICATION_CREDENTIALS=/gcr.json` env var

[2021-07-08 14:34] mparuszewski commented on #1098
I believe we can, there is nothing we can do here, thanks!

[2021-07-08 14:34] #1098 closed

[2021-07-08 16:03] prudhvigodithi opened #1099 "URL to whitelist in corporate proxy for trivy to download trivy.db.gz."
Hey we are using trivy helm chart to install trivy
Helm chart location: https://github.com/aquasecurity/trivy/tree/main/helm/trivy
As part of this we have set our squid proxy under https_proxy and http_proxy values, but trivy still fails to reach the external URL and download the trivy.db.gz file, upon debug mode the URL it showed as
https://github-releases.githubusercontent.com/216830441/1f2d2100

[2021-07-09 17:58] rkday opened #1102 "Trivy reports a false positive for CVE-2021-25217 on CentOS 7"
Here's a minimal repro:

[code]

https://centos.pkgs.org/7/centos-updates-x86_64/dhcp-common-4.2.5-83.el7.centos.1.x86_64.rpm.html shows that 4.2.5-83.el7.centos.1 (the installed version) is more recent than the "Fixed Version" that trivy reports, and it has the fix:

[code]

I realise that this may not be a `trivy` issue, but hopefully you can point me at the right place (an incorrect vulnerabili

[2021-07-09 19:24] ericpromislow opened #1103 "Any plans to have this run natively on Windows?"
Despite #211 I was able to install this in an Ubuntu/WSL partition and run it there. But would be good to run it from Windows directly.

[2021-07-11 00:02] #946 closed

[2021-07-11 00:02] #939 closed

[2021-07-12 07:19] onlyonepercent opened #1108 "Failed to download Vulnerability DB: DB File not found"
Im getting "Fatal" error while downloading the Vulnerability DB. This is same when scanning the image too.

It was working till yesterday, but not working since this morning.

I tried to run curl to see the connectivity to github repos for trivy-db , which is working and can see the list of releases.

![trivy_error](https://user-images.githubusercontent.com/77245934/125246029-f0d29a00-e2f9-11eb-99

[2021-07-12 07:25] knqyf263 commented on #1108
Hmm. It works in my environment. Does it always fail in your env?

[code]

[2021-07-12 07:59] onlyonepercent commented on #1108
@knqyf263 till yesterday it worked fine, today i'm getting the error

$ trivy image --download-db-only
2021-07-12T07:57:43.038Z        INFO    Need to update DB
2021-07-12T07:57:43.038Z        INFO    Downloading DB...
2021-07-12T07:57:43.232Z        FATAL   DB error: failed to download vulnerability DB: failed to download vulnerability DB: DB file not found

[2021-07-12 12:20] raesene opened #1113 "Trivy config scan gets SIGSEGV"
## Description

Running the Trivy configuration scanner on a directory of manifests generates a runtime error. Other scans (e.g. Docker image scan) seem to work ok.

[code]

## What did you expect to happen?

An analysis of the manifest(s) in the directory specified

## What happened instead?

Panic!

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details

[2021-07-12 12:59] savujevi opened #1114 "Missed vulnerability"
Hello developers,

i have tested trivy against following image of RedHat:

https://access.redhat.com/containers/#/registry.access.redhat.com/rhscl/nodejs-14-rhel7/images/1-23

Following vulnerability I missed which are found by anchore:
CVE-2020-28469
CVE-2021-33502
CVE-2020-7788
CVE-2021-27290
CVE-2020-7774

Is this because of the it is a nist databes ?

Thank you for your help.

Best regards

[2021-07-12 13:39] muffin87 opened #1115 "Trivy Cache: Redis Sentinal Support"
I everyone,

first of all thank you for creating trivy I migrated over from CoreOS's Clair and I love it so far.
I would like to host the trivy DB by myself and want to make it a little more robust.
I deployed trivy on my Kubernetes cluster which works fine but here comes to problem.
I want to make it high available, so I decided to scale the Statefulset to 2 replicas.

With more than one replica

[2021-07-12 13:39] knqyf263 commented on #1113
Oh, thanks. I'll have a look.

[2021-07-12 14:43] danielhass commented on #1113
Ran into the same issue on Arch Linux with the binary release `trivy_0.19.0_Linux-64bit.tar.gz`.

[2021-07-12 15:49] prudhvigodithi commented on #1099
Hello just checking back again, if I can get any specific information for whitelisting the trivy DB URL within our proxy.
Thank you

[2021-07-12 15:53] miglen commented on #1113
Ran into the same issue on macOS with Big Sur 11.3.1 (20E241)
[code]

[2021-07-12 18:38] #1113 closed

[2021-07-12 19:04] knqyf263 commented on #1113
It was a really stupid mistake. Hopefully, this bug was fixed at v0.19.1. Please check it out.
https://github.com/aquasecurity/trivy/releases/tag/v0.19.1

Thanks for all your help.

[2021-07-13 00:02] #942 closed

[2021-07-13 01:00] mozillazg opened #1118 "Add EOL info to the Metadata.OS field of JSON schema"
The `Metadata.OS` field does not include EOL info as describe in https://github.com/aquasecurity/trivy/issues/1066. At current, we have to parse the stdout/stderr message (e.g. `This OS version is no longer supported by the distribution: alpine 3.3.3`) to get EOL info（no longer supported info）.

[code]

or

[code]

[2021-07-14 02:18] PrakashFromBunnings opened #1120 "trivy scan fails for terraform code build after image aquasec/trivy:0.18.3"
trivy scan fails for terraform code build after image aquasec/trivy:0.18.3

Trivy scan to work as it was happening and output vulnerability information

Last successful run was with aquasec/trivy:0.18.3, we wanted to see same with latest trivy images,

[code]

We are running below command, which uses latest trivy image.
[code]

https://hub.docker.com/r/aquasec/trivy/tags?page=1&ordering=last_updat

[2021-07-14 06:15] onlyonepercent commented on #1108
It seems this is the issue because of our build machines, some security/network restrictions. Our network team is working on it to resolve. Closing the issue. Thanks.

[2021-07-14 06:15] #1108 closed

[2021-07-14 20:10] craig-fidus opened #1122 "No output when using trivy Conf"
I am running the follwoing command:
`trivy -f json -o /location/output.json config /location/configs/`

But I do not get an output, is this common?

Thanks in advance

[2021-07-14 22:45] anantshri opened #1123 "Package HTML and other report templates"
## Description

https://aquasecurity.github.io/trivy/v0.18.3/examples/report/ describes ways to generate reports such as HTML etc. However this at this point only works once we download the specific file from contrib folder.

## What did you expect to happen?

If i am installing via deb or other package manager. I would expect the templates etc to be stored either in the binary itself or in the /u

[2021-07-15 00:02] #690 closed

[2021-07-15 00:02] #472 closed

[2021-07-15 00:02] #136 closed

[2021-07-15 10:23] dmivankov commented on #1090
coming from around https://github.com/aquasecurity/trivy-db/blob/main/pkg/db/db.go#L92

[2021-07-16 08:41] monwolf commented on #1025
I'm getting the same behaviour using the version 2.4.7
[code]
And in the report we are getting:

[code]

[2021-07-16 09:20] mbreevoort commented on #1025
That's strange. I still get
[code]
With fixed version 2.4.1 and 1.3.2
@monwolf is your trivy database updated?

[2021-07-16 09:59] monwolf commented on #1025
[code]
Today is the last time it was updated

[2021-07-16 12:26] SunOfDawn opened #1125 "Debian scan always return empty result, even there have vulns"
## Description
Debian scan always return empty result, even there have vulns
Other effected os：
alpine
amazon

## What did you expect to happen?
Show vulns and fixversion

## What happened instead?
empty result

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## bug detail:
example:
pkg/detector/ospkg/debian/debian.go line.83
[code]

[2021-07-16 15:17] AndreyLevchenko commented on #1122
Hi @craig-fidus
Could you modify your command a bit:
```trivy config -f json -o /location/output.json /location/configs/```
and check again

Thanks

[2021-07-16 15:26] craig-fidus commented on #1122
Hi @AndreyLevchenko

Yup this worked, this is probably the one variation of the command I mustn't have tried.

Thank you!

[2021-07-16 15:26] #1122 closed

[2021-07-16 15:39] mbreevoort commented on #1025
The gitlab bot committed wrong ranges again: https://gitlab.com/gitlab-org/security-products/gemnasium-db/-/commit/bf86ae0c1236d9a0f4d26eba08fff3786be4b5f7

[2021-07-16 15:45] strowi opened #1126 "Bug/Feature: Support Terraform git/ssh-modules"
Hi,

happy about the terraform integration i fiddled around a little with our repositories.
I noticed a weird behavior with 0.19.1:

without a .terraform folder:
[code]

after running terraform init:

[code]

regards,
strowi

[2021-07-18 05:22] chirangaalwis commented on #343
remove lifecycle/stale

[2021-07-18 08:38] knqyf263 commented on #1120
Could you confirm that the version you are using is really v0.18.3? Looks like v0.19.1.

[2021-07-18 14:35] tspearconquest commented on #1067
Hello,

I have followed up today and observed that GHSA is now updated and Trivy is no longer flagging this vulnerability. Thank you very much for the assistance!

[2021-07-18 14:35] #1067 closed

[2021-07-18 14:50] knqyf263 commented on #1067
@tspearconquest Thanks for fixing the advisory! It is really helpful for all Trivy users.

[2021-07-19 00:02] #949 closed

[2021-07-19 02:21] ventz commented on #949
Sadly, no one from the dev team looked at this. It does seem like an active bug as the OS is listed on the supported list within Trivy.

[2021-07-19 10:04] dietervds commented on #1120
Hey 👋  Just confirming that this is an issue on v0.19.1, running in to the same kind of problem:

![Screenshot 2021-07-19 at 12 03 49](https://user-images.githubusercontent.com/1225429/126143429-4ab96c81-08d4-4e6c-8ab2-b7240cb52fea.png)

[2021-07-19 10:06] PrakashFromBunnings commented on #1120
till v0.18.3  no issues , after this version (aything above this ) has issue.

[2021-07-19 10:13] dietervds commented on #1120
If it helps: Trivy is trying to stat `/service/service/terraform`, when the actual path is `/service/terraform`. It might simply be a little path parsing problem.

[2021-07-19 10:15] dietervds commented on #1120
I'm not actually sure my problem is the same as @PrakashFromBunnings :D Apologies for the confusion. Shall I create another issue thread?

[2021-07-19 10:18] PrakashFromBunnings commented on #1120
@dietervds  True :) , But can you give test with older trivy like 0.18.3 , that might help to confirm if your issue is same as mine or not. if you dont want , that is also fine :)

[2021-07-19 10:34] dietervds commented on #1120
👍  Trying that right now, but running in to some issues. We install Trivy through the apt repo but that only seems to get me the latest version. Trying installs through wget. Will fiddle with it and let you know what I find.

[2021-07-19 10:44] dietervds commented on #1120
@PrakashFromBunnings Sorry m8, tried installing `0.18.3` through `wget`, which works fine for `0.19.1` but it gives me a segmentation fault on `0.18.3`. I won't pursue further probably, as I'm really only concerned with the latest version :/

![Screenshot 2021-07-19 at 12 43 18](https://user-images.githubusercontent.com/1225429/126148263-177f5652-5422-4053-9822-1f1fd60f0ba8.png)

[2021-07-19 12:17] dietervds commented on #1120
I was able to run my scan on `0.18.3` and did not encounter my "terraform stat" issue. It seems the two were unrelated, apologies. I'll create a separate thread.

For anyone coming across the same segfault issue I had when trying to run `0.18.3`: it has something to do with me running that in Docker on my M1 machine. When I ran it on my older Mac the scan with `0.18.3` worked fine. It's probably j

[2021-07-19 12:43] PrakashFromBunnings commented on #1120
@dietervds  If your scan is working on 0.18.3 and not working on any latest after that version and see same error as mine.
I think we are seeing the same issue, unless I didnt understand what you are doing .

[2021-07-19 12:53] dietervds commented on #1120
@PrakashFromBunnings Sorry, I thought your scan -wasn't- working on `0.18.3`, but when re-reading it all, yep you're right. I'm all over the place today it seems.

So yes: both our cases started at `0.19.1` and have something to do with terraform :-)

@knqyf263 Sorry for the confusing thread. Happy to try out stuff locally if I can help in any way. I'll try and get a proper `--debug` run of Trivy

[2021-07-19 13:23] dietervds commented on #1120
Yep, definitely the same issue :-) Screenshot of a `--debug` run with `0.19.1`:

![Screenshot 2021-07-19 at 15 22 38](https://user-images.githubusercontent.com/1225429/126166495-e3890b39-1ea0-4fa2-bfbd-e99ef74a0315.png)

[2021-07-19 14:49] kungfoome opened #1132 "False-Positives with golang dependencies?"
Not sure if I am missing something, but it seems like I am getting false-positives for some Golang binaries I have in an image.

Examples:
[code]

Helm doesn't have github.com/opencontainers/runc as a dependency as far as I can tell. Where is Trivy getting this from?

Another Example:
[code]
Again, jwt-go and protobuf don't seem to be dependencies for kapp. Also, the crypto dependency is `golang.o

[2021-07-20 00:02] #972 closed

[2021-07-20 07:15] #1120 closed

[2021-07-20 10:34] knqyf263 commented on #1099
Here it is.
https://github.com/aquasecurity/harbor-scanner-trivy/issues/177#issuecomment-879696521

[2021-07-20 10:34] knqyf263 commented on #1099
@AndreyLevchenko Could you add this information to docs?

[2021-07-20 10:39] AndreyLevchenko commented on #1132
Hi @kungfoome
The dependencies you mentioned are transitive dependencies
for example if you run
`go mod graph | grep jwt`
within `carvel-kapp` repository it shows:
`github.com/spf13/viper@v1.7.0 github.com/dgrijalva/jwt-go@v3.2.0+incompatible`
it means `jwt-go` dependency goes from `viper` dependency

[2021-07-20 10:45] AndreyLevchenko opened #1134 "Modify gobinary check to show transitive dependencies"
for example 'helm' doesn't depends directly on `opencontainers/runc` but this dependency goes from `github.com/deislabs/oras@v0.11.1`. So change is to display `github.com/deislabs/oras@v0.11.1` as upper level dependency somewhere in trivy vulnerability report

[2021-07-20 11:07] knqyf263 commented on #1120
v0.19.2 should address this issue. Thanks for your patience.

[2021-07-20 11:14] dietervds commented on #1120
Tried it just now and works like a charm again. Thanks @knqyf263!

![Screenshot 2021-07-20 at 13 13 31](https://user-images.githubusercontent.com/1225429/126314768-21ae0cd8-639a-4dc8-8b94-8c6be2e90091.png)

[2021-07-20 13:15] prudhvigodithi commented on #1099
Hey @knqyf263, thanks for the update, ya adding to docs would be a great idea.

[2021-07-21 00:02] #703 closed

[2021-07-21 13:46] Samikhed opened #1140 "False positive with qemu-ipxe, qemu-sgabios, qemu-vgabios,qemu-seabios (SLES)"
Trivy report issue on the sub-component (e.g.  qemu-ipxe  1.0.0+-11.19.2  and suggest fix on the main component of qemu e.g. 4.2.1-11.4.4).

![qemu_components](https://user-images.githubusercontent.com/87763550/126496078-6bcb69d9-18e3-43c8-a720-109d0efd0d9e.png)

If we check the advisory, the corrected versions-release are as follows:
https://lists.suse.com/pipermail/sle-security-updates/2021-June

[2021-07-22 00:02] #952 closed

[2021-07-22 07:51] AlanTT1 opened #1141 "Trivy scan shows old version of jar"
### Discussed in https://github.com/aquasecurity/trivy/discussions/1129

<div type='discussions-op-text'>

<sup>Originally posted by **AlanTT1** July 19, 2021</sup>
Hi! I am running Trivy on a Java war file.

Firstly, when I started the scan using this command:

`trivy fs -s HIGH,CRITICAL -f template -t "@/media/sf_vmsharedfolder/html.tpl" -o fse-trivy-report.html mydir`

there is an warning messa

[2021-07-22 12:48] christian-weiss opened #1143 "Latest Trivy is not finding security issues, while old trivy does"
## Description

I scaned a docker image with trivy 0.19.2 but it do not find security issues, while an older version of Trivy finds security issues.

## What did you expect to happen?
I expect to get at least the following security issue in the report:
[code]

## What happened instead?
Trivy 0.19.2 do not find / do not report security issues for that docker image.

## Steps to reproduce
Download t

[2021-07-22 12:55] knqyf263 commented on #1143
The older version had a bug that was already fixed.
https://github.com/aquasecurity/trivy/pull/520

The fix is included in v0.9.2.
https://github.com/aquasecurity/trivy/releases/tag/v0.9.2

[2021-07-22 13:00] christian-weiss commented on #1143
Do you mean, that showing security issues with 0.9.1 (and before) was "a bug"?

[2021-07-22 13:03] knqyf263 commented on #1143
Yes, the version after v0.9.2 is correct.

[2021-07-22 13:23] ayush42 opened #1144 "Download the latest trivy version"
Hello,
I have an Ubuntu system in my CI/CD pipeline on which I am trying to install Trivy using the series of following commands.

`

sudo apt-get install wget apt-transport-https gnupg lsb-release
wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
echo deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main | sudo tee -a /etc/apt/sources.lis

[2021-07-22 13:28] christian-weiss opened #1145 "Getting DEBUG messages, even when `--debug` is not set"
After investigating https://github.com/aquasecurity/trivy/issues/1143 i found why "my first guess" was wrong

To reproduce run:
`docker run --rm --name reproduceError -v $(pwd):/data aquasec/trivy:0.19.2 -d --no-progress --format json --output /data/report.json --input /data/this.tar`
(see issue above for prepartion steps)

When i run trivy `0.19.2` i wonder about its stdout output:
[code]

Execut

[2021-07-22 13:28] #1143 closed

[2021-07-22 13:37] christian-weiss commented on #1145
I did not spot the `-d` in my command line (a to long command line ;-) )

This kind of debug messages seams to be introduced in 0.18.2.

[2021-07-22 13:39] ayush42 opened #1146 "Jar file also scanned along with Docker image scan"
I have a Docker container which runs a java jar command on bootstrap.
The jar file is copied inside the docker while building the docker image.

When I run the foolowing command :
**trivy image --exit-code 0 --ignore-unfixed --severity MEDIUM <DOCKER_IMAGE_TAG>**

I get the following output :

[trivy_logs.txt](https://github.com/aquasecurity/trivy/files/6862588/trivy_logs.txt)

I am unable to unde

[2021-07-22 13:58] christian-weiss commented on #1145
Gussing that this message was triggered at: https://github.com/aquasecurity/trivy/blob/main/pkg/github/github.go#L106

@knqyf263 please have a look. I am not sure if this error effects scanning or reporting of issues.

[2021-07-22 14:10] knqyf263 commented on #1145
Which message are you talking about?

[2021-07-22 14:18] christian-weiss commented on #1145
Messages like: `Analysis error: unable to parse xyz: failed to parse xyzl: EOF`

[2021-07-22 14:26] knqyf263 commented on #1145
That's simply why you enable debug mode. No mistake there. But it might be noisy. We may suppress the messages.

[2021-07-22 14:38] #1145 closed

[2021-07-23 13:07] mwcampbell opened #1148 "Add AlmaLinux distro (RHEL rebuild)"
It looks like [AlmaLinux](https://almalinux.org/), one of the newer RHEL rebuilds, is now production-ready, and could be supported using the same vulnerability data as CentOS and RHEL itself.

[2021-07-23 14:00] AndreyLevchenko commented on #1144
Hi @ayush42
The steps you specified above should install the latest version.

[2021-07-23 14:53] AndreyLevchenko commented on #1146
@ayush42
It's expected behavior since 0.17.0
https://github.com/aquasecurity/trivy/discussions/966

[2021-07-24 00:02] #975 closed

[2021-07-24 05:00] AlanTT1 commented on #1141
Please help. Thanks.

[2021-07-25 00:02] #981 closed

[2021-07-25 13:22] #716 closed

[2021-07-26 06:05] ayush42 commented on #1144
@AndreyLevchenko

I tried both the commands. ("trivy -v" and "which trivy"). The output was as follows :

Version: 0.16.0
/usr/local/bin/trivy

[2021-07-26 06:13] ayush42 commented on #1144
Attaching the installation logs for your reference :

##[section]Starting: Download and install Trivy
------------------------------------------------------------------------------------------------------------------------
Task         : Bash
Description  : Run a Bash script on macOS, Linux, or Windows
Version      : 3.182.0
Author       : Microsoft Corporation
Help         : https://docs.microsof

[2021-07-26 07:40] ayush42 commented on #1146
@AndreyLevchenko
Could you please elaborate on the need for this ?
What other things are automatically scanned while doing a Trivy image scan ?

[2021-07-26 08:33] ayush42 opened #1150 "Client-Server v/s Standalone"
Hi,

I have been looking for some insights in order to make a choice of the two Trivy modes - Standalone and Client/Server.
I am unable to find anything on this topic.
Could you please elaborate on the advantages and disadvantages for both the modes ?
Could you please elaborate on the similarities and differences between the 2 modes ?
Or some good article to read about the same will be good to hav

[2021-07-26 09:09] AndreyLevchenko commented on #1141
Hi
I don't think the warning related with jackson-core vulnerability detected. Can you add a bit more output for the vulnerability found?

Thanks

[2021-07-26 09:49] #1144 closed

[2021-07-26 09:59] AndreyLevchenko commented on #1146
Basically all data sources specified here
https://aquasecurity.github.io/trivy/v0.19.2/vulnerability/detection/data-source/
are applied to image to ensure container running with it is secure.

[2021-07-26 11:17] ayush42 commented on #1144
@AndreyLevchenko

The behavior is still the same.
It is downloading 0.16.0 version.

`

sudo apt-get install wget apt-transport-https gnupg lsb-release
wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
echo deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main | sudo tee -a /etc/apt/sources.list.d/trivy.list
sudo apt-get update
sudo apt-ge

[2021-07-26 12:02] AlanTT1 commented on #1141
Hi Andrey,

Thank you for your response.

What Trivy has found is Installed version is 2.3.3, fixed version is 2.9.4, 2.8.11

![jackson](https://user-images.githubusercontent.com/85975007/126984729-e47d1c99-b242-4980-8e47-57e71ef3d3a1.png)

But I have opened up my war file. The jackson version are 2.12.3.jars

![core 2](https://user-images.githubusercontent.com/85975007/126985602-e9c70534-2fd6-428

[2021-07-26 12:37] #1146 closed

[2021-07-26 13:08] ayush42 commented on #1141
@AlanTT1 @AndreyLevchenko
I am also facing a similar issue.

My java jar file has **4.1.65.Final** version of **netty-codec-http** and **netty-codec-http2** dependencies.
This jar file is copied in the Docker image at the time of building the docker image.
But the Trivy scan shows me medium level vulnerability of the above dependencies with a version of **4.1.52.Final**.

Command -> **trivy image

[2021-07-27 08:23] sospirited commented on #1141
I am also seeing a similar issue with this.
- We have a project that uses `com.fasterxml.jackson.core:jackson-databind`, this resolves to version `2.12.1` and is also what `gradlew dependencies` shows
- The project also has a transitive dependency on `ehcache` `v2.10.6`
- ehcache contains a pom.xml inside `<ehcache-2.10.6.jar>\rest-management-private-classpath\META-INF\maven\com.fasterxml.jackson.

[2021-07-27 14:08] #1118 closed

[2021-07-28 01:18] austin-engle opened #1156 "Trivy Config: Scan all levels but only fail if critical is found"
I wanted to run this for an automation but thought it could be more useful if we were able to see the outputs of all levels but only fail if a particular level showed up.

Example: I want to see Low and Above but only stop the code if a Critical is found.

I am using this in a GitHub action using the trivy-action repo and they said it would need to be implemented here first before we could impleme

[2021-07-28 07:48] knqyf263 commented on #1156
We recommend running Trivy twice.
https://aquasecurity.github.io/trivy/v0.19.2/advanced/integrations/travis-ci/

[2021-07-28 08:05] #1123 closed

[2021-07-28 09:59] Partunaks opened #1157 "Trivy image scan timeout"
## Description

## What did you expect to happen?
Properly scan of image

## What happened instead?
Scan error

## Output of run with `-debug`:

Analysis error: unable to parse usr/share/file/magic: failed to parse usr/share/file/magic: EOF Analysis error: unable to parse usr/lib64/.libcrypto.so.1.1.hmac: failed to parse usr/lib64/.libcrypto.30.1.1.hmac: EOF
Analysis error: unable to parse usr/lib

[2021-07-28 20:41] kb7791 opened #1160 "report templates not available via rhel/centos yum install"
Trivy Version installed via yum on rhel 7
[code]

Installed via the following instructions.
[code]

[code]
Ran following command to build report
[code]
Got the following output that it can't find the template. Not sure why template isnt available. Do the templates not come as option when yum installing?
[code]

[2021-07-29 12:42] AndreyLevchenko commented on #1141
Hi guys
Yes dependencies which are included into jar are scanned. But I need to point out the difference between @sospirited and @ayush42  cases. In last case `reactor-netty-http` has no included dependencies. (I mean jar itself contains no third-party classes - everything required is downloaded by maven on project build)  and it gives an option to configure exclusions in project pom. In case of `

[2021-08-01 00:03] #988 closed

[2021-08-01 11:02] Alexc0007 commented on #665
Hi,
is there a plan to make this happen?
it could be super useful

[2021-08-01 14:18] wagde-orca opened #1161 "Add an option to follow soft links links in case we do not want to scan the whole FS"
If I want to scan a specific directory and it may have a link to another dir with the "real" file I want the ability to follow the soft link to the real file

[2021-08-01 14:18] wagde-orca opened #1162 "Add an option to scan a list of files"
add an option to scan list of files (in fs) instead of giving one directory

[2021-08-02 11:25] mbreevoort commented on #982
Most annoying is of this issue that if there is nog connection to maven.org and `--vuln-type os` it gets very slow and a scan will timeout :-(
Please add a setting so it wouldn't go to the internet.

[2021-08-02 14:21] knqyf263 commented on #665
I've added this task to the backlog. It is good the first issue.

[2021-08-02 14:25] knqyf263 commented on #1160
The template files are included in the rpm file in the next version. You have to download it from GitHub as of today.

[2021-08-02 15:16] kb7791 commented on #1160
Thank you. Do you know what the cadence for new patch releases looks like?

[2021-08-02 19:39] jhzab opened #1163 "Unreasonable number of CVEs wtih UBI8"
## Description
We are trying to integrate trivy in our CICD, scanning a UBI8 base image with some few additions for our application and see a lot of CVEs.

## What did you expect to happen?
None or only a few CVEs are shown.

## What happened instead?

124 CVEs are shown.

At the time of the writing, the image has a Health index of "A" according to RedHat:
https://catalog.redhat.com/software/conta

[2021-08-02 20:49] mrueg opened #1164 "Support Software Bill of Materials (SBOM) scanning"
It would be nice if trivy would support scanning Software Bill of Materials (SBOM) for vulnerabilities, similar to https://github.com/anchore/grype

This would potentially allow faster scanning as one does not need to fetch the whole container image but only the generated SBOM (which can be stored via e.g. https://github.com/sigstore/cosign on the same container registry).

SBOMs can be generated

[2021-08-03 05:48] logerror opened #1165 "when i use docker run trivy:tag to scan image, how should i get json report?"
when i use docker run trivy:tag to scan image, how should i get json report?

[2021-08-03 10:47] knqyf263 commented on #1163
Try --ignore-unfixed

[2021-08-03 10:48] knqyf263 commented on #1157
Try --timeout option

[2021-08-03 13:36] AndreyLevchenko commented on #1165
You will need to configure additional docker volume like:
```docker run --rm -v /var/run/docker.sock:/var/run/docker.sock  -v ~:/root/output   -v /tmp/Caches:/root/.cache/ aquasec/trivy --format json  -o /root/output/python3.4.json  python:3.4-alpine```
to store output file in your home

[2021-08-03 14:09] AndreyLevchenko commented on #1140
Hi @Samikhed
Sorry for the delayed response.
Could you help me reproduce it: which tag exactly you are scanning?

[2021-08-04 06:14] danielzhanghl opened #1166 "Trivy Cache: Redis TLS Support"
Redis support TLS now, and  go-redis/redis also support TLS options, could Trivy support the TLS related setting?

https://github.com/aquasecurity/trivy/blob/9e08bd44fb3c50360d4b992a4d843824c8272c95/pkg/commands/operation/operation.go

BR.

[2021-08-04 09:51] phin1x commented on #766
@knqyf263 are there any updates. this bug makes the filesystem feature unusable.

[2021-08-04 11:40] jhzab commented on #1163
Thanks. That actually brings the number of CVEs down to zero.

Any idea why RedHat gives the Image an "A" rating if there are known CVEs? Just because there are no security updates available?

[2021-08-04 12:05] knqyf263 commented on #1163
I think so. There is no security patch, so users cannot fix vulnerabilities easily even if they show "D" rating. Also, no patch usually means Red Hat decided not to fix the vulnerability since it is negligible.

[2021-08-04 12:06] knqyf263 commented on #766
Actually, this improvement needs a big effort. We're still working on it.

[2021-08-04 14:37] eddynaka commented on #1038
Hello,

looking at this, the issues are related to the GH rules.
Those are required to GitHub to be able to process a SARIF file.

@yongyan-gh @shaopeng-gh, can you check if we can improve the sarif file?

[2021-08-04 18:03] ayush42 commented on #1141
Hi @AndreyLevchenko
Any updates on this issue will be great to have. Thanks. :)

[2021-08-04 22:16] yongyan-gh commented on #1038
The artifactLocation Uri value comes from .Target fields of Result struct.
According to https://github.com/aquasecurity/trivy/pull/935#discussion_r615083869

From .sarif file we can see the vulnerability is OS package vulnerability:
[code]

[2021-08-05 02:15] simar7 commented on #1038
It looks like a vulnerability in `apt` so the Uri should point to the `apt` binary IMO.

[2021-08-05 02:23] eddynaka commented on #1038
Hi @simar7 , the issue that we are seeing here is:
1. what did trivy analyzed to generate the sarif? (probably a dockerfile, other files)
2. if its a dockerfile, the dockerfile should be the Uri, because this is the place where we have the issue, right? At least, that's the place where the developer must change to fix it.

Today, per my understanding, we are pointing to a place that isn't a file i

[2021-08-05 05:57] MatteoGioioso commented on #1000
Is there any workaround at the moment?

[2021-08-05 17:45] gaima8 opened #1170 "perl-Pod-Escapes on OEL7"
## Description

trivy versions 0.16.0 and 0.19.2 both report that the latest version of perl-Pod-Escapes on Oracle Enterprise Linux 7.9 as vulnerable to CVE-2018-18311, CVE-2020-10543, CVE-2020-10878, and CVE-2020-12723 when it isn't.

## What did you expect to happen?

No vulnerabilities found

## What happened instead?

[code]

alice/bob:7.9-1 is just a copy of oraclelinux:7-slim (oraclelinux@sh

[2021-08-05 18:19] mbreevoort commented on #1025
Created an issue at gitlab https://gitlab.com/gitlab-org/security-products/gemnasium-db/-/issues/165#note_644364393

[2021-08-05 18:45] Morl99 commented on #967
I am sure you are busy, but maybe you could give me a quick sign if this is something you are interested in. If not we can close this issue. If yes, feel free to point me to the right spot and I will add something to the docs.

Appreciate all your work on trivy @knqyf263!

[2021-08-06 00:02] #998 closed

[2021-08-06 00:38] simar7 commented on #1038
Roger that. @rahul2393 - could you have another look at it?

[2021-08-06 13:41] masahiro331 commented on #1025
@mbreevoort
I'm sorry, I was away from work for a month due to illness.

Is there anything I can do to help?

[2021-08-07 00:02] #996 closed

[2021-08-08 09:42] knqyf263 commented on #1052
We already supported Arch Linux Tracker.
https://github.com/aquasecurity/vuln-list-update/pull/88

Remaining tasks:
1. Insert security advisories into [trivy-db](https://github.com/aquasecurity/trivy-db)
2. Support Arch Linux in [fanal](https://github.com/aquasecurity/fanal)
3. Support Arch Linux in Trivy

[2021-08-08 09:45] knqyf263 commented on #1025
Looks like it was fixed again in GitLab. I'll close this issue, but please feel free to re-open if needed. Thank you for reporting it!

[2021-08-08 09:45] #1025 closed

[2021-08-08 09:57] knqyf263 commented on #1160
We don't have a regular release, but the next version will be released this month probably.

[2021-08-08 10:00] sourabhgupta385 opened #1171 "What is Jenkinsfile shell instruction for trivy cli to generate HTML report?"
I want to execute below command in Jenkins
trivy image --format template --template "@contrib/html.tpl" -o trivy-report.html --input helloworld_${BUILD_NUMBER}.tar

In above command note double quotes with @

In Jenkinsfile, I have given instruction as :

sh script: 'trivy --cache-dir /tmp/trivy image --format template --template \"@contrib/html.tpl\" -o trivy-report.html --input helloworld_${BUIL

[2021-08-09 09:21] mbreevoort commented on #1025
No problem, hope you're well again.
It is fixed in master from version v1.4.171
https://gitlab.com/gitlab-org/security-products/gemnasium-db/-/blob/v1.4.171/maven/net.minidev/json-smart/CVE-2021-27568.yml

The trivy scan still reports the error, how can I check how trivy connects to the gitlab gemnasium-db?
[code]

[2021-08-09 10:48] msw-kialo commented on #1026
I have a workaround in-place (blank `AWS_REGION`, `AWS_DEFAULT_REGION`) but would prefer a proper solution in Trivy if reasonable.

[2021-08-09 15:23] #1160 closed

[2021-08-09 15:55] kb7791 opened #1172 "panic: runtime error: slice bounds out of range"
## Description

Running through a ansible loop that was generating an html report about 50 different images before pushing to a private docker registry. They all passed except for one. It failed due to an error related to the title. the only image that failed was the following.

- namespace: "openshift"
  name: "origin-logging-elasticsearch5"
  tag: "v3.11"
  registry: "quay.io"

## What did you e

[2021-08-09 16:05] SunOfDawn commented on #1125
Hi @AndreyLevchenko
You can tested trivy with any basic debian images. I think it will show me some known vulns if not install any security update, but i just see no vulns, and some debug log with `failed to parse Debian package version: `. And then i find a point in `pkg/detector/ospkg/debian/debian.go`. If `version.NewVersion` return an err, this advisoriy will be ignored, It wrong, you should c

[2021-08-09 16:12] vasicvuk commented on #1141
I can confirm the same issue.

[2021-08-10 07:09] gysel opened #1173 "Maven.org Rate Limit due to scanning a large application"
I just got locked out of search.maven.org because I was scanning a large Java application. I only get 403 Forbidden responses now.

The error I see in the debug log is:

[code]

Trivy then silently does not report any application vulnerabilities. I only found this problem when looking at the debug logs.

Is there a way to avoid the rate limit? Can I slow down the scan? Does anybody know what the s

[2021-08-10 07:13] strainovic commented on #1141
Me too.

[2021-08-11 08:21] arne-heil commented on #1172
+1

[2021-08-12 08:49] xycloops123 opened #1174 "Running Scans using Tekton CI framework issue"
Hello Team,

While running a scan using Tekton CI I am seeing the below error because of no internet access.

[code]
I am wondering if there is a way to compile the trivy binary with DB in it so that I can use the --skip-update option and scan my images.

Any help would be appreciated

Thanks

[2021-08-12 09:26] xycloops123 commented on #1174
Followup also tried using Air-gap env steps https://aquasecurity.github.io/trivy/v0.19.2/advanced/air-gap/#put-the-db-file-in-trivys-cache-directory and saw this error:

[code]

Please advise

Thanks

[2021-08-12 11:37] ekarlso opened #1175 "Problem running in docker rootless mode."
## Description

Trivy fails to run when Docker-in-Docker runs in rootless mode on a Github Actions Runner inside Kubernetes.

## What did you expect to happen?
Shoudl work just like privileged mode since builds work mostly fine.

## What happened instead?
[code]
## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry inf

[2021-08-12 14:57] eddynaka commented on #1038
HI @simar7 , let us know if we can help with this bugfix, ok?
Thank you

[2021-08-12 14:59] knqyf263 commented on #492
We finally merged #1169, so Trivy will support requirements.txt in the next version. Note that it detects only `==` specifier.

[2021-08-12 16:35] xycloops123 commented on #1174
@knqyf263 whats the correct path structure to be assigned to?

[2021-08-13 00:03] #1012 closed

[2021-08-13 07:22] ichasco-heytrade opened #1177 "Only works as expected in debug mode"
## Description

When I run trivy without debug mode, It doesn't detect anything. But if I run it in debug mode, it works well:

Without debug mode:
[code]

Output:
[code]

With debug mode:
[code]

Output:
[code]

## What did you expect to happen?

To be same results with debug and without it

## What happened instead?

Different results

## Output of run with `-debug`:

[code]

## Output of `trivy

[2021-08-13 09:46] #1177 closed

[2021-08-13 10:12] dzabel commented on #346
Hi,

i`m very interested in this feature.
What exactly is the current state of the issue and how this will go on?

Cheers,

Daniel

[2021-08-13 11:53] masahiro331 commented on #1173
Is it this document?
https://central.sonatype.org/faq/403/

Currently trivy hasn't slow scan option.

Other case, Sonatype seems to have a whitelist of build servers.
https://github.com/travis-ci/travis-ci/issues/10053#issuecomment-418565290

[2021-08-13 12:57] masahiro331 commented on #1102
Thank you for reporting the issue.
In order to address this issue, we need to separate vulnerability detection for CentOS and Red Hat.
And, we need support CESA.

https://lists.centos.org/pipermail/centos-announce/2021-June/048334.html

[2021-08-14 09:50] andyliuliming opened #1178 "is it possible to support one config file to forbiden one binary ( by name or by hash)?"
say we just want to scan whether one image have one sh or curl built in.
if yes, then throw one error.

Thanks

[2021-08-15 08:22] macedogm commented on #592
Hi @simar7 and @knqyf263 👋🏻
This features is really handy, specially to automate scans of GitHub and GitLab orgs with tons of private repos.
I'm willing to work on this, as a way of contributing back. If I make a good patch, would you be willing to merge it?
Best regards.

[2021-08-15 08:45] knqyf263 commented on #592
@macedogm Cool. We always welcome your contribution! You have to update the following lines.
https://github.com/aquasecurity/fanal/blob/03efbabc6a16c06f7dc43d7cbfb789a146f9ba98/artifact/remote/git.go#L39-L43

[2021-08-16 11:34] macedogm commented on #592
I've opened PR https://github.com/aquasecurity/fanal/pull/253 with a proposal for this feature.

[2021-08-16 11:53] savujevi commented on #1171
Hello,
I don't know if it helps, but this works for me:

def String trivyStatus = sh returnStatus: true, script: """trivy -q image --severity "HIGH,CRITICAL" --ignorefile /tmp/.trivyignore --exit-code 1 --ignore-unfixed --format template --template "@/tmp/html.tpl" -o /tmp/report.html YOUR_IMAGE"""

[2021-08-16 11:54] savujevi commented on #1171
But I use trivy installed in a own slave.

[2021-08-16 11:58] caiohasouza commented on #1171
Hi,

I use this sh step:

  cd /
  trivy image --vuln-type os --no-progress --format template --template @contrib/html.tpl -o ${WORKSPACE}/trivy-reports/${DOCKER_IMAGE}-OS.html ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/${ECR_REPO_NAME}/${DOCKER_IMAGE}:${BUILD_NUMBER}
"""

The main point is the "cd /", it's because jenkins-slave start container on workspace directory, but the file "@con

[2021-08-16 12:27] thaim commented on #1126
I reproduced with another module.
Using trivy 0.19.2 and terraform-aws-modules/vpc/aws, similar error occured with same steps.

[code]

[2021-08-16 15:53] DrissiReda commented on #1174
@xycloops123 like mentioned in the documentation it should be in `/path/to/cache/db/` and you should put both `trivy.db` and `metadata.json`.

The file structure would be:

[code]

[2021-08-16 15:56] DrissiReda commented on #972
Can anybody repon this ? I'm still facing the issue, and it only occurs if my private registry is insecure, running an https registry works normally.

@knqyf263  ?

[2021-08-16 21:28] xycloops123 commented on #1174
is --cache-dir still an option to use for pointing out to a cache dir or its --cache-backend?

[2021-08-16 21:32] xycloops123 commented on #1174
Still seeing the same error using the below command:

[2021-08-16 23:07] lucacome opened #1182 "GitHub Action - Scan result not processed by GitHub Code Scanning"
## Description

I'm using the GitHub action to scan a Docker image and upload the result to GitHub Code Scanning, but I think the SARIF has some problems

## What did you expect to happen?

Security alerts appear in GitHub

## What happened instead?

There's nothing in the UI in GitHub but from the API I can see this error:

[code]

## Additional details (base image name, container registry info..

[2021-08-17 01:19] xycloops123 commented on #1174
Still seeing the same issue please advise:
[code]

[2021-08-17 01:31] xycloops123 commented on #1174
Still seeing same issue:

[2021-08-17 01:50] xycloops123 commented on #1174
same issue:

[2021-08-17 08:16] knqyf263 commented on #1182
Could you raise an issue here?
https://github.com/aquasecurity/trivy-action

[2021-08-17 08:24] sandratatarevicova opened #1183 "rego eval error: json: unsupported type"
## Description

We have GitLab CI  job which runs Trivy config and filesystem scan:

[code]

In some projects, Trivy fails with this error:

[code]

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

[2021-08-17 08:28] macedogm commented on #826
@sishbi and @knqyf263 I would like to contribute a CSV template. I saw that PR https://github.com/aquasecurity/trivy/pull/919 got stalled. Should we re-open this issue or is it better to open a new one instead?

[2021-08-17 11:49] sscholl opened #1184 "How can I scan a image without Socket - Directly from Registry"
Hello,

can I run trivy image scan without any docker/podman socket but only a image on a registry (needs authentification)?

[code]

Thanks
Simon

[2021-08-17 13:09] DrissiReda opened #1185 "Scan tries to contact maven.org even if in air-gapped environment"
## Description

I'm in an air-gapped environment, I'm using this command:

[code]

But I see in logs that the scan tries connecting to the internet:

[code]
## What did you expect to happen?

That the scan doesn't try connecting internet, because I don't have any.

## What happened instead?

The scan tries connecting to the internet
## Output of run with `-debug`:

<details>
<summary> full debug l

[2021-08-17 15:50] shanmicheal25 opened #1186 "fatal: refusing to merge unrelated histories FATAL error in vulnerability DB update:"
## Description

2021-08-17T15:43:11.678Z	DEBUG	cache dir:  /home/ec2-user/.cache/trivy
2021-08-17T15:43:11.678Z	DEBUG	db path: /home/ec2-user/.cache/trivy/db/trivy.db
2021-08-17T15:43:11.678Z	INFO	Updating vulnerability database...
2021-08-17T15:43:11.678Z	DEBUG	git pull
2021-08-17T15:43:53.930Z	DEBUG	From https://github.com/aquasecurity/vuln-list
 * branch                      master     -> FETCH

[2021-08-17 15:57] thomaschilton-viavi opened #1187 "Kubernetes Security Check Flagging KSV020 and KSV021 when configured at pod level"
## Description

Using the Pod security-context example from the Kubernetes documentation: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/

With Pod definition (and updated Id values):
[code]
Then trivy flags the following issues:
[code]
## What did you expect to happen?
Given this is a Pod and securityContext.runAsUser and securityContext.runAsGroup are defined at the Po

[2021-08-17 15:58] shanmicheal25 commented on #126
Hi ,

I am also facing the same issue.

2021-04-18T13:48:31.313+0300 DEBUG error: Pull is not possible because you have unmerged files.
hint: Fix them up in the work tree, and then use 'git add/rm '
hint: as appropriate to mark resolution and make a commit.
fatal: Exiting because of an unresolved conflict.

2021-04-18T13:48:31.313+0300 FATAL error in vulnerability DB update:
github.com/aquasecurit

[2021-08-17 16:17] shanmicheal25 commented on #1186
I used old version, once upgrade to latest version it has working fine.

[2021-08-17 16:17] #1186 closed

[2021-08-17 17:47] lucacome commented on #1182
Hi @knqyf263

I opened it here because it looked like a problem with how the sarif was generated, not the action itself. Anyway the error disappeared and seems to be working somehow 🤷

I'll open an issue in the other repo if it pops up again, thanks!

[2021-08-17 17:47] #1182 closed

[2021-08-18 15:14] andytinkham opened #1188 "Trivy flagging sprockets 4.0.2 with CVE that impacts sprockets 2.x"
## Description

We seem to be getting a false positive for CVE-2014-7019. This issue is in the sprockets Ruby gem. According to Trivy, the fixed versions are all in the 2.x range  We have v4.0.2 installed, which Trivy confirms is the installed version as well. All the fixed versions were released long before 4.0.2 and I see nothing in the CVE indicating that higher versions are impacted.

## What

[2021-08-18 22:34] xycloops123 commented on #1174
Does anyone have an example how this can work in tekton with Podman?

[2021-08-19 10:15] lghakamo-paf commented on #1126
I'm able to reproduce the issue on our (internal) modules as well using trivy 0.19.2.

[2021-08-19 11:08] knqyf263 commented on #1187
Thank you for reporting. We track issues regarding policies in AppShield repository as described [here](https://aquasecurity.github.io/trivy/v0.19.2/misconfiguration/policy/builtin/). So, track the following issue, please.
https://github.com/aquasecurity/appshield/issues/126

[2021-08-19 11:08] #1187 closed

[2021-08-19 11:13] knqyf263 commented on #1188
The affected version in GitHub Security Advisory looks wrong. One of them says `>=2.6.0` and `4.0.2` matches the condition.
https://github.com/advisories/GHSA-r4x3-g983-9g48

Could you report it to GitHub?
https://support.github.com/contact

Or, you can open a ticket GitHub Community as below.
https://github.com/aquasecurity/trivy/issues/1067#issuecomment-863240764

[2021-08-19 12:41] fawind commented on #1185
Related issue: https://github.com/aquasecurity/trivy/issues/982

This happens when trivy detects jar files in an image as it requires access to the maven api for jar scanning ([ref](https://github.com/aquasecurity/go-dep-parser/blob/3c97ccc53976562d6011dd6b4517b9ef507ce83e/pkg/jar/parse.go#L150-L175)). Unfortunately, there is no way to turn this off currently and it still tries to scan jar files a

[2021-08-19 12:42] knqyf263 commented on #1126
Thanks all. @AndreyLevchenko is working on this issue now.

[2021-08-19 12:56] DrissiReda commented on #1185
thanks @fawind  have you found a workaround ? Even if the scan is less thorough. Or do I have to rollback to a version before jar scanning was introduced? If that is the case do you know the latest version not scanning jars?

[2021-08-19 12:58] CRogers commented on #982
This is really wrecking us as we do scans in air-gapped environments. We stopped upgrading the trivy binary to 0.17+ because of it, but now we're in a situation where we need to support alpine 3.14 so need at least 0.19.0, which puts us in a quandry.

Even an option to turn off jar scanning, or making it not do jar scans with `--vuln-type os`, would get out us of this sticky situation.

[2021-08-19 13:11] fawind commented on #1185
I'm not aware of a workaround. [v0.17.0](https://github.com/aquasecurity/trivy/discussions/966) added the jar scanning feature, so afaik v0.16.0 is the last version that works offline.

[2021-08-20 00:02] #1019 closed

[2021-08-20 02:09] #1174 closed

[2021-08-20 02:48] xycloops123 opened #1189 "Running Trivy in airgapped Env using Podman and Tekton"
hey Team,

Seeing some errors while debugging a scan within airgapped environment:

[code]
How do we avoid requests to internet like ```GET http://search.maven.org/solrsearch/select``` also not sure why is it showing analysis errors for most of them.

Any advise would be appreciated.

Thanks

[2021-08-20 09:54] amey-datametica opened #1190 "Out of memory error for Trivy in /var/log/messages"
Hello Team,

I was able to scan 1 of my workspace in Jenkins using non dockerized Trivy in Cent OS 7.9
I installed trivy using yum install command.
But today when I am trying to execute the same cmdline, I am getting Killed message after few minutes.

1) The command =
root@prod-jenkins# cd /tmp
root@prod-jenkins# trivy fs --security-checks vuln --output result.json /var/lib/jenkins/workspace/produ

[2021-08-20 13:18] fawind commented on #1189
Relevant issue: https://github.com/aquasecurity/trivy/issues/1185

[2021-08-20 14:17] MarcoStuurman opened #1192 "Not able to scan Debian 11"
## Description

Newer images are returning "0 vulnerabilities"

## What did you expect to happen?

Trivy seems to always find at least something

## What happened instead?

The image was perfect, 0 vulnerabilities

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):

[2021-08-20 21:10] xycloops123 commented on #1189
Closing this figured this out through proxy within our env I can now use the latest version :) Thanks @fawind

[2021-08-20 21:10] #1189 closed

[2021-08-21 00:15] simar7 opened #1193 "Error observed in TFSec when running Trivy in config scan mode"
## Description

An error observed (along with a panic stack trace) while running the config scanner on a git repo.

Git repo in question: https://github.com/ministryofjustice/opg-lpa

The stack trace isn't actually a panic but purposely printed here: https://github.com/aquasecurity/tfsec/blob/master/pkg/rule/check.go#L24-L25

Running it locally I've not been able to experience it. Either it has be

[2021-08-21 00:16] simar7 commented on #1193
Feel free to move this to the tfsec repo if it makes more sense for it to live there.

[2021-08-22 00:02] #900 closed

[2021-08-22 18:14] sishbi commented on #826
I suggest opening a new issue as I am no longer working on this

[2021-08-23 00:03] #1041 closed

[2021-08-23 12:46] knqyf263 commented on #1193
Looks the same issue. Don't hesitate to reopen if they are different.
https://github.com/aquasecurity/trivy/issues/1126

[2021-08-23 12:46] #1193 closed

[2021-08-23 12:56] knqyf263 commented on #1192
Trivy depends on OVAL for scanning Debian, but Debian 11 is not published yet...
https://www.debian.org/security/oval/

We might need to migrate to another data source.

[2021-08-23 12:57] knqyf263 commented on #1184
Yes, you need authentication. `docker login`, or whatever you want.

[2021-08-24 08:23] ksmolyanin opened #1194 "Can't install trivy because of absence of Release file"
I get the following error when try to install trivy on my laptop (Linux Mint 20.2):

E: The repository 'https://aquasecurity.github.io/trivy-repo/deb uma Release' **does not have a Release file**.
N: Updating from such a repository can't be done securely, and is therefore **disabled** by default.
N: See apt-secure(8) manpage for repository creation and user configuration details.

I use steps from

[2021-08-24 08:35] JianfuYang opened #1195 "where cache remote image?"
hello, I use trivy as a scanner for harbor, I find that trivy pull image from reposity once. However,I can not find where the image saved, I only find the message in the fanal.db. More ,the trivy host does not install docker engine.
(1) Does trivy pull image from remote and Save it locally? where ?
(2) how trivy get image layerInfo? it may need a local image? or it just communcate with remote?

[2021-08-25 02:31] masahiro331 commented on #1190
I guess that there is a huge file.
Can I get disk usage for target.
Please run `du -h $PATH` .

If there is confidential information, please mask it or just give us the total size.

[2021-08-25 09:44] amey-datametica commented on #1190
Hello @masahiro331 =
[root@prod-jenkins ~]# du -h $PATH
du: cannot access '/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/usr/share/maven/bin:/root/bin': No such file or directory
[root@prod-jenkins ~]# pwd
/root

[2021-08-25 09:52] afdesk commented on #1170
Hi @gaima8!
Thanks for your feedback!

I can't reproduce this issue. maybe i did something wrong. Can you help me?
there is a different number of packages: 107 for me, and 135 in your logs...

My steps:
1. Pull the mentioned oracle slim image:
[code]
2. Run trivy
[code]
3. Result:
[code]

[2021-08-25 14:49] nmoreau-ocl commented on #1170
Hi afdesk,
You need to first install perl-Pod-Escapes and then run the scan to reproduce.

[2021-08-25 19:02] ghost opened #1198 "Add an --exclude-base-image flag for excluding vulnerabilities found in base image"
This is a flag I first noticed in Snyk, although it doesn't seem to work, but is something we would use heavily. It's definitely necessary for certain container scanning requirements (like FedRAMP), where you have a hardened base image that everyone is using, but only want to show the vulnerabilities that have been introduced by the layers on top of that base image. The flag could take an argument

[2021-08-27 17:29] 06kellyjac opened #1200 "pnpm support"
Currently trivy can find package-lock.json and process it, looking for vulnerabilities. It would be nice if it could process `pnpm-lock.yaml` files too

[2021-08-28 02:38] dinvlad commented on #442
Is it possible to still report all vulnerabilities, but indicate in the report if a given vuln is unfixed? I checked JSON output, but it doesn't seem to include this information, unfortunately…

[2021-08-29 00:03] #1056 closed

[2021-08-29 00:03] #1054 closed

[2021-08-29 15:53] macedogm opened #1201 "Add CSV template"
It would be interesting to have a CSV template that can export both vulnerabilities as well as misconfiguration security checks.
I propose this feature as a follow up of https://github.com/aquasecurity/trivy/issues/826 that was closed.

[2021-08-30 00:02] #1051 closed

[2021-08-30 13:16] afdesk commented on #1175
Hi @ekarlso!
There was reproduced this issue for rootless docker.
I've specify the socket path using `$DOCKER_HOST`:
[code]
it works for me.

[2021-08-30 17:46] vara-prasad commented on #1057
+1. We are facing same issue as below
[code]
Any suggested workaround or option to use maven mirror ?

[2021-08-30 17:50] vara-prasad commented on #1185
We are using the latest version of v0.19.2 and seeing the below error
[code]
Any suggested workaround or option to use maven mirror ?

[2021-08-30 17:52] vara-prasad commented on #1173
We are using the latest version of v0.19.2 and seeing the below error
[code]
Any suggested workaround or option to use maven mirror  to avoid above error ?

[2021-08-30 23:50] leopold2410 commented on #1057
Hi,
the only workaround I found was stepping back to version 0.16.0 of the scanner.

Best regards,
Leo

[2021-08-31 03:37] vara-prasad commented on #1057
Hi @leopold2410 , jar scan is added from [v0.17.0](https://github.com/aquasecurity/trivy/discussions/966) and since we would like to scan jars, going back to v0.16.0 is not a feasible option for us.

[2021-08-31 18:56] caleb15 commented on #1192
@knqyf263 I see a `oval-definitions-bullseye.xml` file in the link you posted, does that mean trivy should be able to scan debian 11 now? I just tried clearing the cache and re-scanning one of our debian 11 images with trivy but it still reports 0 vulnerabilities. 🤔

[2021-09-01 08:11] knqyf263 commented on #1021
@MaineK00n told me that Alma Linux had security advisories here.
https://errata.almalinux.org/8/errata.json

We might be able to make use of it.

[2021-09-01 08:14] knqyf263 commented on #1021
1. Add a script to [vuln-list-update](https://github.com/aquasecurity/vuln-list-update) for committing those advisories to [vuln-list](https://github.com/aquasecurity/vuln-list)
2. Insert those data into [trivy-db](https://github.com/aquasecurity/trivy-db)
3. Detect OS and packages in [fanal](https://github.com/aquasecurity/fanal)
4. Detect vulnerabilities in Trivy

Let me know if someone is inter

[2021-09-01 08:53] knqyf263 commented on #1192
We're building the new database with Debian 11. Once the task finishes, you can scan Debian 11.
https://github.com/aquasecurity/trivy-db/runs/3482380889?check_suite_focus=true

[2021-09-01 09:37] AB-xdev opened #1204 "Multiple false positives when scanning wildfly"
## Description
While scanning the latest Wildfly docker image using ``docker run --rm -v /var/run/docker.sock:/var/run/docker.sock aquasec/trivy jboss/wildfly@sha256:1f39dbbe874367e008c6d70fa687f1afec00a0304a53a8cf7d832b77221f6922`` we encountered multiple false positives.

NOTE: We only took a look at the java libraries as the other problems are not Wildfly related

Scan result output regarding t

[2021-09-01 09:47] knqyf263 commented on #1192
Now, you can scan Debian 11. Let me know if you still have any issues.

[code]

[2021-09-01 09:47] #1192 closed

[2021-09-01 09:53] MaineK00n commented on #1021
I'm interested.

[2021-09-01 09:57] knqyf263 commented on #1021
Thanks! Could you add a new script for parsing errata.json under `alma` directory first?
https://github.com/aquasecurity/vuln-list-update

[2021-09-01 10:04] knqyf263 commented on #1204
@AndreyLevchenko Could you look into it?

[2021-09-01 10:15] afdesk commented on #1175
Hi @ekarlso!
Does my workaround work for you?

[2021-09-01 10:19] knqyf263 commented on #1188
Wow. I didn't know they have withdrawn advisories. I found `WithdrawnAt` and we'll change Trivy to ignore those advisories. Thanks.

[2021-09-01 10:21] knqyf263 commented on #1188
@afdesk will fix the issue.

[2021-09-01 11:19] knqyf263 commented on #1148
Duplicate of https://github.com/aquasecurity/trivy/issues/1021

[2021-09-01 11:19] #1148 closed

[2021-09-01 11:20] #1132 closed

[2021-09-01 11:22] knqyf263 commented on #1086
@afdesk Could you look into it?

[2021-09-01 11:27] #1170 closed

[2021-09-01 11:28] srbala commented on #1021
@MaineK00n @knqyf263 Looking forward for this feature. I can help to test/verify or any other way.

[2021-09-01 12:40] bpfoster opened #1205 "False ksplice vulnernerabilities reported"
## Description

Scanning the latest `oraclelinux:8` image reports a number of vulnerabilities:
[code]

All have a reported fix version of `2:2.28-151.0.1.ksplice2.el8`.

CVE-2019-9169 has [3 separate errata reports](https://linux.oracle.com/cve/CVE-2019-9169.html) from Oracle:
- [ELSA-2021-1585](https://linux.oracle.com/errata/ELSA-2021-1585.html)
  - This has a fix version for glibc of `glibc-2.2

[2021-09-01 14:53] AB-xdev commented on #1204
Note: Above I used an outdated version because it was cached by docker.
However the problem persists also on the latest version ``Version: 0.19.2``

[2021-09-01 15:05] knqyf263 commented on #1205
@afdesk Would you mind looking into it?

[2021-09-01 18:46] caminada commented on #749
Any news on ETA for this issue?

All UBI-based images look (wrongly) too bad in the scan results without a fix.

[2021-09-01 20:26] caleb15 commented on #1192
Thanks :)

[2021-09-02 06:02] #1188 closed

[2021-09-02 06:03] knqyf263 commented on #1188
The next DB build will address this issue! Thanks, @afdesk.

[2021-09-02 07:07] afdesk commented on #1194
Hi @ksmolyanin!
Thanks for your feedback!
i'll try to help you.

Can you install `trivy` via deb file directly?
[code]

[2021-09-02 07:35] AndreyLevchenko commented on #1204
@AB-xdev
I investigated cause and it turns out root issue is in Gitlab Advisory Database
https://gitlab.com/gitlab-org/security-products/gemnasium-db/-/blob/master/maven/io.undertow/undertow-core/CVE-2018-1067.yml. Please contact them for fixes

[2021-09-02 07:46] knqyf263 commented on #1065
The patch was merged on GitLab.
https://gitlab.com/gitlab-org/security-products/gemnasium-db/-/issues/161

[2021-09-02 07:46] #1065 closed

[2021-09-02 07:54] AndreyLevchenko commented on #1099
@knqyf263
there is merged pr which updates docs
https://github.com/aquasecurity/trivy/pull/1137/files

[2021-09-02 07:55] AB-xdev commented on #1204
Created an issue by them: https://gitlab.com/gitlab-org/security-products/gemnasium-db/-/issues/166

Thank you for the fast reply 😄

[2021-09-02 07:55] #1099 closed

[2021-09-02 10:48] knqyf263 opened #1208 "fix(ruby): remove advisories from OSVDB"
## Overview
One of our data sources, ruby-advisory-db depends on advisories from OSVDB.
https://github.com/rubysec/ruby-advisory-db/blob/master/LICENSE.txt

But OSVDB doesn't allow commercial usage without agreement.

We already have some data sources for Ruby. We can remove those advisories so that Trivy can be used in commercials.

## Implementation
Skip OSVDB here.
https://github.com/aquasecuri

[2021-09-02 11:29] #1086 closed

[2021-09-02 12:30] prudhvigodithi commented on #1099
Thanks @AndreyLevchenko

[2021-09-02 14:29] Orrimp commented on #1057
+1 Same problem. We decided to go back to 0.16 but it's a BAD solution.
Manual timeout for this GET or redirect to use .m2/settings.xml maven repo URL would help

[2021-09-03 06:28] afdesk commented on #1195
Hi @JianfuYang !
Thanks for your interest to `trivy`!

1. Yes, `trivy` pulls a new image but it does cleanup after scanning.
We don't store image entirely, but we keep OS and package information in cache.

2. If the image name is in Docker Engine, `trivy` inspects the pulled image via Docker API.
If it doesn't exist in local, `trivy` tries to pull the image from the registry.

[2021-09-03 07:57] AndreyLevchenko commented on #1125
Hi @SunOfDawn
Sorry for delay and thank you for provided details.  While I understand that some incorrectly formed version could be cause of error I still need to find some real example. Could you point to particular CVE that you think is missed from trivy output.
Also please let us know which version of trivy you are using

Thanks

[2021-09-03 08:17] afdesk commented on #1194
@ksmolyanin
we investigated this issue,  the failure is due to Mint.
the install way via repository is available for Debian/Ubuntu releases.

You can install trivy via deb file directly.

[2021-09-03 17:38] kb7791 opened #1212 "Sort hml report output by Severity"
Is there an option that can be added to html template output to generate sorted by severity (CRITICAL -> LOW) versus Package?

[2021-09-04 12:24] #1208 closed

[2021-09-04 19:24] Tej-Singh-Rana opened #1216 "Any option available to not to scan local image"
Any option available which can ignore during the scan to local image and scan new images. Example -
#### This image is already available in the locally
 trivy image nginx:alpine

As I said earlier, this image is already available locally but I don't want to __Trivy__ to scan this local image and try for a new same image. I would like to try without deleting this local image.

Thanks,

[2021-09-04 21:34] tricky42 commented on #1038
I am trying to get Trivy (and Dockle) to work with Github Code Scanning. Sadly the results are not processed on Github side and I cant find any more details in the GitHub UI.

You can find the Github Action Workflow here: https://github.com/tricky42/kratos/blob/5775b9027eee48f4bb94953c067043456604a92c/.github/workflows/scan.yml#L39

Github UI shows the following error:
![image](https://user-images

[2021-09-05 00:03] #1064 closed

[2021-09-05 00:03] #1061 closed

[2021-09-05 00:03] #1039 closed

[2021-09-05 07:53] knqyf263 opened #1217 "Is Redis for acceleration or as the backend hosting the vulnerability database"
### Discussed in https://github.com/aquasecurity/trivy/discussions/1214

<div type='discussions-op-text'>

<sup>Originally posted by **Vad1mo** September  4, 2021</sup>
This is not clear to me from the documentation. I want to run Trivy in server mode with a read only filesystem.

There is the option to [use REDIS](https://aquasecurity.github.io/trivy/v0.18.3/examples/cache/) for caching.

It's no

[2021-09-05 08:29] #1205 closed

[2021-09-05 08:29] knqyf263 commented on #1205
This fix will be included in the next release.

[2021-09-06 00:02] #1031 closed

[2021-09-06 07:59] AndreyLevchenko commented on #1183
Hi @sandratatarevicova
Thank you for reporting the issue. From the job config I see trivy is invoked to scan current folder. Is there any option to figure what file causes that issue. (So we could reproduce it on our end)

Thanks

[2021-09-06 08:18] #1096 closed

[2021-09-06 08:58] afdesk commented on #1217
Hi @Vad1mo !
Thanks for your interest to `trivy`!

Now `trivy` supports REDIS only for caching and the db still stores locally (on FS).

[2021-09-06 09:24] AB-xdev commented on #1204
https://gitlab.com/gitlab-org/security-products/gemnasium-db/-/issues/166#note_670003831

[2021-09-06 09:30] afdesk commented on #1216
Hi @Tej-Singh-Rana
we are glad that you're using `trivy`!

you can set an incorrect value (not empty) for `DOCKER_HOST` environment variable and `trivy` will skip accessing to your local Docker Daemon.

Example:
[code]

[2021-09-06 11:08] AndreyLevchenko commented on #1212
Hi @kb7791
Thank you for the question. Just to clarify: You need something like on picture below?
![sort-by-severity](https://user-images.githubusercontent.com/353652/132208137-dc97d5cd-14d8-48d1-bafb-c2d0a9f3ca59.png)

[2021-09-06 13:27] maxschlosser opened #1218 "--skip-files and --skip-dirs seem to have no effect for .jar files"
## Description

I tried to find a workaround for #1185, so I tried to use `--skip-files` and `--skip-dirs` in an air-gapped environment.

This didn't work for the [openjdk image](https://hub.docker.com/_/openjdk) and an image I made from scratch that only contains a HelloWorld one-liner.

[code]

[code]

## What did you expect to happen?

The scan ignores the files and directories that were passed

[2021-09-06 13:41] mkemmerz opened #1219 "Trivy fs Json output does not work with Jenkins Warnings NG Plugin"
The Trivy Parser for the [Jenkins Warning NG Plugin](https://github.com/jenkinsci/warnings-ng-plugin) does only work for the output of trivy image.
The outputs from trify fs and trivy config are not recognized, e.g. errors and vulnerabilities are not shown in the Jenkins UI.

Output of trify fs:
[code]

Output from trivy image:
[code]

There is also the need to adjust the plugin parser with the 0.

[2021-09-07 00:03] #1075 closed

[2021-09-07 00:03] #1073 closed

[2021-09-07 00:03] #1024 closed

[2021-09-07 03:55] AmaliMatharaarachchi opened #1220 "alpine 3.14.2 reported as unsupported"
## Description

alpine 3.14.2 is the latest supported version of alpine linux.
https://alpinelinux.org/downloads/
https://alpinelinux.org/releases/

yet it gives,
[code]

## What did you expect to happen?

## What happened instead?

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):

[2021-09-07 06:54] AB-xdev commented on #1204
GitLab also merged a PR that should fix the following false-reported CVEs:
https://gitlab.com/gitlab-org/security-products/gemnasium-db/-/merge_requests/9082/diffs#01b7847e2fadaa2e7b394549044630ce464d3e6e
* CVE-2018-1048
* CVE-2018-1067
* CVE-2020-13947
* CVE-2021-20289

However these changes have currently no effect when re-scanning the affected image.
Looks like I have to wait until the database

[2021-09-07 13:44] kb7791 commented on #1212
Hi @AndreyLevchenko
Right So I have a report that uses the html.tpl file. But ut seems to be ordered alphabetically by "Package". I was hoping to sort by severity. So all the crtitical, high, etc..... are grouped together first. So having the severity descending from Critical to Low.  Instead of look like the following image where Low and Highs are intertwined because everything seem to be sorted

[2021-09-07 13:53] aristosvo commented on #442
I think it has: `trivy -q -f json docker.io/bitnami/mongodb:4.4.8-debian-10-r0  | jq '.[].Vulnerabilities[].FixedVersion' | grep -v null`

[2021-09-07 23:03] agardnerIT opened #1221 "Integration with Keptn"
It would be excellent to be able to trigger trivy from the CNCF project: [Keptn](https://keptn.sh/).

This will most likely take the form of an integration with the quality gates functionality of Keptn where a quality evaluation is requested for a particular service. Trivy can then provide SLIs (metrics) around vulnerabilities and if their are too many vulnerabilities (as decided by the end-user),

[2021-09-07 23:46] caleb15 opened #1222 "CircleCI orb?"
I created a CircleCI orb for Trivy. An orb is basically CircleCI's version of a github action. If you want I can create a PR updating the docs to add this as a installation option.

See https://github.com/15five/trivy-orb

This orb has been tested and verified working internally at 15Five.

[2021-09-08 00:03] ericpromislow commented on #1103
Yeah, just close it. It's fine running this in wsl, gives us more control on its environment.

[2021-09-08 00:03] #1103 closed

[2021-09-08 07:58] AndreyLevchenko commented on #1204
@AB-xdev @knqyf263
I've raised an issue about CVE-2020-25633
https://github.community/t/reporting-an-issue-with-github-security-advisories-cve-2020-25633/200071

[2021-09-09 06:36] 4x0v7 opened #1226 "CVE-2021-32760 in trivy binary"
## Description
Failing pipeline example
https://gitlab.com/4x0v7/yamllint/-/jobs/1572999553

## What did you expect to happen?
No CVEs detected

## What happened instead?
CVE-2021-32760 detected in trivy binary

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):

[2021-09-09 08:05] wagde-orca opened #1227 "False negative in scanning tomcat 9.0.46"
## Description
I downloaded tomcat 9.0.46 and extracted it (https://archive.apache.org/dist/tomcat/tomcat-9/v9.0.46/bin/apache-tomcat-9.0.46.tar.gz) which is vulnerable to CVE-2021-33037 (https://tomcat.apache.org/security-9.html#Fixed_in_Apache_Tomcat_9.0.48) and I updated to the latest trivy version, but it did not detect it.

## What did you expect to happen?
I expected to see the CVE-2021-3303

[2021-09-09 12:03] AndreyLevchenko commented on #1038
Hi @eddynaka
As far I can understand the scenario described by @tricky42 the workflow is configured to build docker image and then scan it for vulnerabilities. This way no files can be referenced in the `results` section. What you can suggest for `sarif` structure?
Given that scanner can't provide references to specific files.

[2021-09-09 12:07] eddynaka commented on #1038
Hi @AndreyLevchenko ,

maybe i didn't understand much how Trivy works.
For example, what does Trivy analyzes? Does it analyze the docker itself or does it analyze the dockerfile?

If Trivy analyzes the docker itself: yeah, that's complex.
If Trivy analyzes the dockerfile: we would be able to say: "image xyz is bad and that image is line 123".

[2021-09-09 12:10] AndreyLevchenko commented on #1038
Trivy can check both, but in the scenario above entire docker image  is checked. (So it's scenario 1)

[2021-09-09 12:12] eddynaka commented on #1038
HI @AndreyLevchenko ,

got it.
For scenario (1) we cannot do much since you are analyzing docker itself.
But, for scenario (2) we can improve the SARIF output and point to the line with which we have a problem.

What do you think?

[2021-09-09 12:20] AndreyLevchenko commented on #1038
So there is no option to return `results` without mentioning specific files in repository?

[2021-09-09 12:22] eddynaka commented on #1038
GH Security is trying to help developers fixing source code issues. With that in mind, if we don't have a file to point to, GH cannot render correctly the SARIF causing the issue above.

The SARIF itself can handle that.

[2021-09-09 12:45] AndreyLevchenko commented on #1038
@eddynaka  thank you for the explanation.
@tricky42
probably then there is workaround to modify custom serif template to point to first line of your docker file for every vulnerability found. So entire `locations` section will be hardcoded.

[2021-09-09 22:08] lucasbaccan opened #1228 "Template fields"
Hello

Hi can i know the fields that are suported on tamplets, i want to build a custom format.

Can someone create a exemple file.

Thanks

[2021-09-10 09:16] Tej-Singh-Rana commented on #1216
Thank you!! @afdesk

[2021-09-10 09:16] #1216 closed

[2021-09-10 10:14] Grobakumma opened #1229 "Setting up an internal registry in Trivy"
Hi, I'm testing for a PoC a deployment (Artifact Hub) that lists only internal helm-charts from a internal repository. That works so far very well. The only function that doesn't work is, the vulnerability scanner (Trivy). The scanner connects  per default to images.docker.io. The question now is, how can I config Trivy for the specific URL from the internal registry?

I'm using version 0.19.2.

I

[2021-09-12 13:13] andyliuliming commented on #511
hi, any chance to add this support? thanks.

[2021-09-13 00:02] #1084 closed

[2021-09-13 09:19] AB-xdev commented on #1204
Update:

Re-scanned the image and...
* CVE-2018-1048 is not found anymore ✔️
* CVE-2018-1067 is not found anymore ✔️
* CVE-2020-13947 is not found anymore ✔️
* CVE-2021-20289 contains fixed versions ✔️
* CVE-2020-25633 shows up, but this is reported to GitHub as mentioned above

Thank you for the quick response and the fast solutions!

[2021-09-13 12:36] afdesk commented on #1227
Hi @wagde-orca!
thanks for your feedback!
I can reproduce this issue and will try to resolve it.

[2021-09-13 17:29] dinvlad commented on #442
@aristosvo thanks, you're right! I think I was only looking at the unfixed ones, and `FixedVersion` does not appear in those, not even with a `null` value. I think it could be helpful for parsers to include `"FixedVersion": null` for consistency.

[2021-09-14 01:29] wangpei-nice opened #1232 "Does trivy support scan a image from private docker registry?"
Does trivy support scan a image from private docker registry?

[2021-09-14 06:19] BenoitKnecht commented on #1226
The container image itself also contains vulnerabilities, some of which are critical:

[code]

Same with `ghcr.io/aquasecurity/trivy:latest`.

[2021-09-14 14:06] dmivankov opened #1233 "trivy scan results are unstable even when air-gapped"
## Description

[code]
this script can run for tens of iterations reporting a finding in the image until on one of the runs it says image is cve-free.
There are no concurrent trivy invocations running, db updates are disabled and image tar is fixed, each scan takes around 6 seconds, so not a timeout issue either.

## What did you expect to happen?
scan results should be reproducible

## What happe

[2021-09-14 14:11] dmivankov commented on #1233
the issue seems to be that scan isn't air-gapped and doesn't fail on network errors
lines like following are present on abnormal scans
[code]

[2021-09-14 15:33] dmivankov commented on #1233
similar reports
https://github.com/aquasecurity/trivy/issues/1185
https://github.com/aquasecurity/trivy/issues/1173
https://github.com/aquasecurity/trivy/issues/1057

[2021-09-14 15:59] dmivankov commented on #1233
this seems to be the line that says - something failed in analyzer - great, let's report scan target is clean
https://github.com/aquasecurity/fanal/blob/45c48ce8280d04572d4fabbaca4fddc030883a1b/analyzer/analyzer.go#L214

[2021-09-14 16:02] dmivankov commented on #1233
another thing to consider is moving sha1->artifactid resolution inside trivy db (how much data is that?)
- helps with air-gapping
- reduces load on maven hosting
- makes scans more reproducible

[2021-09-14 16:02] dmivankov commented on #1233
workaround for java would be to use some other tool (github security scan for example)

[2021-09-15 05:27] dmivankov commented on #1233
sadly `env http_proxy=nothing https_proxy=nothing trivy image --skip-update -i SOME_IMAGE.tar` doesn't help as trivy tries and retries to connect to proxy. Running inside linux network namespace aka network sandbox also makes trivy retry for a long time rather than give up quickly. Setting `--timeout 1s` makes it terminate fast but with scan failure rather than ignoring artifact resolution which i

[2021-09-15 11:09] dmivankov commented on #1233
also related https://github.com/aquasecurity/trivy/pull/1191

[2021-09-16 12:29] remipelhate commented on #90
Looking at the docs, it looks like this is intended behaviour: https://aquasecurity.github.io/trivy/dev/vulnerability/detection/language/. They explicitly state that devDependencies are included in vulnerability scans for `yarn.lock`. However, they're not included in `package-lock.json`. I'm quite curious as for why these have been implemented differently. Perhaps a limitation due to the way `yarn

[2021-09-16 16:27] nemethloci commented on #821
The below seems to work as well. Of course it assumes docker being installed and the user having the rights to pull into the local registry:
[code]

[2021-09-17 00:02] #1089 closed

[2021-09-17 10:17] xeaon opened #1240 "several vulnerabilites in trivy:latest"
There are several high/critical vulnerabilities in trivy:latest, which was also mentioned in https://github.com/aquasecurity/trivy/issues/1226#issuecomment-918843429.

pull-request incoming.

[2021-09-17 12:25] dani8art opened #1242 "Image scan command out of memory killed"
## Description

The process running a `trivy image` command is being OOMKilled when the target image has a large size. In our case it is happening with `docker.io/bitnami/pytorch:1.9.0-debian-10-r73`. The real size of the image is 5.7 GB (using `dive`), even though DockerHub reports that the compressed image size is 2.2 Gb.

We were able to reproduce locally by using docker desktop and a limited r

[2021-09-17 14:37] AndreyLevchenko commented on #1228
Hi @lucasbaccan
you can use templates in `contrib` folder, for example
https://github.com/aquasecurity/trivy/blob/main/contrib/html.tpl

[2021-09-17 14:44] dani8art commented on #1242
I've rerun this on a machine with higher specs and used `/usr/bin/time -v` to get some figures of actual usage. This time the process finished in around 10 minutes, with a peak memory usage of almost 11GB:

[code]

Also, I've tried different ways of executing it (always previously resetting the cache `trivy image --reset`), and I got some interesting results from executing it without the `--format

[2021-09-17 14:50] AndreyLevchenko commented on #1232
@wangpei-nice
please see
https://aquasecurity.github.io/trivy/v0.19.2/advanced/private-registries/self/

[2021-09-17 14:50] AndreyLevchenko commented on #1229
Hi @Grobakumma
please see
https://aquasecurity.github.io/trivy/v0.19.2/advanced/private-registries/self/

[2021-09-18 05:51] chirangaalwis commented on #343
Remove lifecycle/stale

[2021-09-19 06:49] #1226 closed

[2021-09-19 07:17] knqyf263 commented on #343
We don't have a plan to support it now.

[2021-09-19 07:19] knqyf263 commented on #1232
Please feel free to reopen it if you still have an issue.

[2021-09-19 07:19] #1232 closed

[2021-09-19 07:44] knqyf263 commented on #90
As far as I know, `yarn.lock` doesn't have information regarding the package type. In other words, we cannot identify whether the package is devDependency or not. As @aroes said, we might address the issue if we take `package.json` together.

[2021-09-19 22:28] srbala commented on #1053
Link back for reference
aquasecurity/trivy-db#149
aquasecurity/trivy#1238

[2021-09-20 08:51] knqyf263 commented on #1053
@carlwgeorge Thanks for the explanation! I'm so sorry for the too late reply. I was so busy on IaC scanning and other tasks.

Agree. Strictly speaking, we should not support CentOS due to missing errata. But there are many CentOS users and I guess they accept a certain amount of inconvenience because it is free. Even though it might be wrong in some cases, I think it is better to detect vulnerabil

[2021-09-20 10:25] szpak opened #1246 "HTML report doesn't contain JAR name"
## Description

The provided HTML report doesn't provide information about JAR name where vulnerabilities are found. It can be problematic to understand the report in that form.

## What did you expect to happen?

![image](https://user-images.githubusercontent.com/148013/133987060-ca71041b-216c-466d-84bb-325a22991652.png)

## What happened instead?

![image](https://user-images.githubusercontent.c

[2021-09-21 07:16] SymbioticKilla commented on #113
Hi, I have a problem with 1-alpine-perl Image. It shows wrong versions of installed packages.
![image](https://user-images.githubusercontent.com/59652865/134127834-9ebd5d43-7546-49f3-a0d5-4b83e6dafd0c.png)

[2021-09-21 09:05] afdesk commented on #1242
@dani8art thanks for your feedback!
I'm trying to resolve this issue.

[2021-09-21 09:20] afdesk commented on #1242
the first test (scan a local image) is OK
[code]
The second test (scan a remote image) is broken by fatal error.
[code]

[2021-09-21 17:07] meleu commented on #802
Just in case google brings someone here, here's how I solved:

Call trivy using the `--timeout` argument.

Example: `--timeout 10m` for 10 minutes (currently the default is 5 minutes).

[2021-09-22 04:15] joelapatatechaude commented on #531
Wouldn't it make sense for trivy to display the imageID (next to the image_name:tag)?
I see it's available in debug mode, but it feels like it's a key information. Trivy is effectively scanning an image that is uniquely identified by an ID. Name:tag can be changed, overwritten, deleted overtime. Having the image-id available by default help devs auditors that need to reconcile a scan report with a

[2021-09-22 09:18] logerror commented on #1165
okay, thanks

[2021-09-22 09:25] logerror commented on #988
why？

[2021-09-22 15:05] #1184 closed

[2021-09-22 15:06] #1157 closed

[2021-09-22 15:08] #980 closed

[2021-09-22 15:09] knqyf263 commented on #700
https://github.com/aquasecurity/trivy/pull/1224

[2021-09-22 15:09] #700 closed

[2021-09-23 02:55] masahiro331 commented on #1190
@amey-datametica
Would you like to run this command `du -h /var/lib/jenkins/workspace/product1_Dev/product1_release_owasp/` ?

[2021-09-23 06:37] sscholl commented on #1184
Hi @knqyf263 I have feeling that you did not understand the problem: If I **dont** have a docker socket. Even tho I did docker login in get the same error message as discribed above...

[2021-09-23 12:50] tklein opened #1250 "False positive for CVE-2021-27568 json-smart"
## Description

Scanning a custom Docker images finds a vulnerability in

[code]

However the version 2.3.1 is the one already fixed [1].

As far as I got it this is somehow the intention of #1025 which was fixed in [2].

[1] https://nvd.nist.gov/vuln/detail/CVE-2021-2756
[2] https://gitlab.com/gitlab-org/security-products/gemnasium-db/-/merge_requests/6889

## What did you expect to happen?

Vers

[2021-09-24 00:02] #1094 closed

[2021-09-24 14:06] krol3 opened #1251 "trivy conf - scan error"
## Description
Using "trivy conf . " in repositories like postee, trivy.

## What happened instead?
trivy is showing an error

[code]

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

[2021-09-27 01:50] austin-engle commented on #1156
Closing for semi resolution

[2021-09-27 01:50] #1156 closed

[2021-09-27 02:36] AErmie opened #1254 "Trivy Config Fatal Scan Error - Failed to initialize built-in policies (OPA bundle error, OCI repository error)"
## Description

When running Trivy config (using the Docker container method), to scan a Dockerfile, a fatal error is through about the OPA policies.

### Command Used
[code]

## What did you expect to happen?

Trivy to complete the scan of the Dockerfile.

## What happened instead?

The following error is thrown:

`FATAL	scan error: failed to initialize built-in policies: failed to download built

[2021-09-27 17:23] vasicvuk commented on #1141
@andriisoldatenko  any updates?

[2021-09-28 13:13] kilin-s commented on #1190
Hi.
I have the same problem with trivy in docker.
vm: 8gb ram, 2 cpu
image 'aquasec/trivy:0.19.2'

`# trivy -d --cache-dir /cache/ fs -f template -t "@/contrib/html.tpl" -o reports/ALL.html --list-all-pkgs ./`

trivy use all memory, cpu and died with error

fatal error: runtime: out of memory

dir size is 6.6 G

[2021-09-28 16:54] omkarparkhe opened #1255 "Trivy's vulnerability db updation frequency"
How often is the Trivy's vulnerability db updated to include the new or latest vulnerabilities and update the changes made to the existing vulnerabilities in the db?

[2021-09-29 03:57] #1195 closed

[2021-09-29 03:57] JianfuYang commented on #1195
that's ok

[2021-09-29 07:18] knqyf263 commented on #1254
Thanks for the report. It looks like https://ghcr.io was down or unstable. Are you still facing the same issue?

[2021-09-29 08:37] knqyf263 commented on #531
Thanks for the feedback. The next version will include Image ID in the JSON result.

[2021-09-29 09:38] asohh opened #1256 "Move build into the container build process"
Hey,

I think it would be usefull to change the Dockerfile, that it would build trivy in a container. This would be usefull to simplify building the trivy container in a CI.

I prepared a Dockerfile that would build trivy in a two step build. First build the trivy binary and then copy it over to the alpine container, that can be used to run trivy. I tested the build using Buildah and scanned some

[2021-09-29 10:18] craig-fidus opened #1257 "Issue detecting config files"
I am running the command in the example provided:
trivy conf ./configs

I have made the deployment.yaml file and put it in the folder with a dockerfile but it only seems to detect the dockerfile and not the YAML file (shown in image)

I am using Trivy 0.19.2, could you advise?

![TrivyIssue](https://user-images.githubusercontent.com/83061778/135249528-28bd8865-66cc-45b3-9a1e-419020d37908.PNG)

[2021-09-29 10:26] ledem64 commented on #1251
The same error, anybody has solution for this error ?

[2021-09-29 10:52] 91jme commented on #1257
I'm having the same issue. My directory contains a dozen manifests (no Dockerfile) and Trivy doesn't detect any of them.

I'm running the Trivy container (latest) in my case and mounting the directory containing the manifests but see the same issue:

```docker run -it -v C:\my\local\dir\with\manifests\:/var/configs aquasec/trivy config /var/configs```

[code]

Using busybox I can see the volume mo

[2021-09-29 12:07] AErmie commented on #1254
Hi @knqyf263, yes I'm still seeing the same error. Here's the latest `debug` output...

[code]

[2021-09-30 07:03] knqyf263 commented on #1256
Trivy uses GoReleaser. No need to compile the Trivy binary in Dockerfile.
https://goreleaser.com/customization/docker/

[2021-09-30 07:16] knqyf263 commented on #1255
Every 6 hours for now.
https://github.com/aquasecurity/trivy-db#update-interval

[2021-09-30 07:43] afdesk commented on #1250
@tklein thanks for your feedback!
I'll try to reproduce and resolve this issue

[2021-09-30 08:41] omkarparkhe commented on #1255
Ok, so does this mean a user's Trivy DB is updated every 6 hours or the vulnerabilities in the db are updated every 6 hours?

[2021-09-30 08:44] knqyf263 commented on #1255
both

[2021-09-30 09:09] #1242 closed

[2021-09-30 09:17] dani8art commented on #1242
Hi @afdesk, just out of curiosity, why did we fix the issue skipping the scan for large files? could it be skipping important security info? why is the selected size 200MB?

Thanks in advance!

[2021-09-30 09:38] knqyf263 commented on #1242
From our research, most Go binaries are under 200MB, so it is enough to parse files under 200MB. We may be going to make it possible to specify the size by the user.

[2021-09-30 11:39] knqyf263 commented on #1242
In your case, there are large *.so files in container images. We can skip them and it will not affect the scan result.

[2021-09-30 12:12] czunker commented on #1220
I cannot reproduce the problem:
[code]

@AmaliMatharaarachchi Could you please provide more information (trivy version, DB version)? Or give it a try with the latest trivy and database?

[2021-09-30 12:37] #1080 closed

[2021-09-30 12:52] czunker commented on #1257
Hi @craig-fidus ,

I could reproduce your issue.

I have three files in a directory:
[code]

Calling trivy, it only recognizes two of them:
[code]

The only difference between the two deployment*.yaml files, it the `rules` section you also have in your file:
[code]

The `rules` part, makes the yaml file an invalid Kubernetes object, which you can verify with, e.g, kube-linter. Therefore it is igno

[2021-09-30 13:03] czunker commented on #1257
I used these two files for the test:
https://github.com/aquasecurity/trivy/blob/main/examples/misconf/rule-exception/configs/deployment-deny.yaml
https://github.com/aquasecurity/trivy/blob/main/Dockerfile

For the 3rd file, I added the rules shown in your screenshot to the `deployment.yaml`.

[2021-09-30 13:59] omkarparkhe commented on #1255
ok, thanks
that's helpful
so another related question - aqua security has a paid-for or enterprise container security scanning solution and an open source (i.e. Trivy). So what are the major differences among the two?

[2021-09-30 19:54] carlwgeorge commented on #1053
Again, matching the NVR only guarantees that it was built from the same source.  It does not validate the build requirements it was built with, which breaks the assumption you're making when it comes to software that ships static binaries, such as golang or rust.  If a projects like Alma and Rocky want to publish errata, they are taking responsibility for verifying that each errata fixes what they

[2021-10-01 00:03] #1115 closed

[2021-10-01 00:03] #1114 closed

[2021-10-01 04:56] czunker opened #1261 "Add networking API changes to Ingress"
## Description

Currently, the Ingress object in the Helm chart uses the `v1beta1` networking API. This is replaced by `v1` since k8s 1.19.
k8s 1.18 also introduced a new field: `ingressClassName`.

## What did you expect to happen?

The Helm chart should support the new filed and API version.

## What happened instead?

You will get deprecation warnings.

[2021-10-01 08:59] mozillazg commented on #1251
@ledem64 This issue can be fixed via https://github.com/aquasecurity/fanal/pull/296

[2021-10-01 13:37] SergTik opened #1263 "no recommendations after scanning"
As a result of scanning, the lack of a corrected version in the report was repeatedly noticed, but the databases already have a corrected version:

![image](https://user-images.githubusercontent.com/51058936/135627338-ab1a6cae-7e6e-4103-9b01-7f34187ae882.png)
![image](https://user-images.githubusercontent.com/51058936/135628028-77275512-eda7-47ee-9b99-a56d4238892c.png)

Why does it work this way?

[2021-10-01 16:54] #1190 closed

[2021-10-02 20:31] AErmie opened #1267 "Support Additional Report Formats (JUnit, SARIF) with `Trivy config`"
According to the ["misconfiguration" report formats](https://aquasecurity.github.io/trivy/v0.19.2/misconfiguration/options/report/) (aka `trivy config`)...

... whereas the `trivy image` scan supports the following [report formats](https://aquasecurity.github.io/trivy/v0.19.2/vulnerability/examples/report/): JUnit XML, HTML, SARIF

It would be appreciated if there was consistency across the differ

[2021-10-03 09:57] knqyf263 commented on #1263
The vendor hasn't provided the patch yet.

[2021-10-03 10:08] #665 closed

[2021-10-03 10:08] #766 closed

[2021-10-03 10:08] #982 closed

[2021-10-03 10:08] #1185 closed

[2021-10-03 10:08] #1218 closed

[2021-10-03 22:56] krol3 commented on #1267
Related to using trivy in gh-action. https://github.com/aquasecurity/trivy-action/issues/65

[2021-10-03 23:04] krol3 commented on #1255
Hi @omkarparkhe! This content will help you with the major differences: https://blog.aquasec.com/aqua-vulnerability-scanner-tools

[2021-10-04 00:03] #1090 closed

[2021-10-04 06:04] dmivankov commented on #1090
not fixed afaik

[2021-10-04 08:23] knqyf263 commented on #1053
I mean even though Podman is built by vulnerable Go, those advisories are usually not provided as far as I know. Please correct me if I'm wrong. The security advisories focus on vulnerabilities in the software itself, not build tools.

[2021-10-04 08:26] apollo13 commented on #1053
@knqyf263 See https://access.redhat.com/errata/RHSA-2021:1796 as an example where (among others) Redhat explicitly rebuilt podman to fix a golang issue.

[2021-10-04 10:40] knqyf263 commented on #1053
Oh, I didn't know Red Hat lists the CVE-ID of golang as well. Thanks! But I wonder if they will list all vulnerabilities of Podman dependencies...

[2021-10-04 10:50] apollo13 commented on #1053
No idea. But the main take aways that I can see:

 * Publishing errata (ie simply copying from redhat) and applying it to other systems provides a false sense of security and should be avoided. I guess this applies to Rocky & Alma linux as well.

 * Even if we were to use the "wrong" data, comparison for modules would need to get much more intelligent (ie strip out the automatically generated modu

[2021-10-04 12:08] czunker commented on #1172
The PR https://github.com/aquasecurity/trivy/pull/1249 fixed the bug for me.

@kb7791 Could you please double-check?

[2021-10-04 13:18] omkarparkhe commented on #1255
Thanks @krol3

[2021-10-04 13:18] #1255 closed

[2021-10-04 14:47] #1172 closed

[2021-10-04 14:47] #1183 closed

[2021-10-04 14:47] #1251 closed

[2021-10-04 16:21] vafanassieff commented on #1200
Agree it would be cool !

[2021-10-05 00:19] AErmie commented on #1254
Hi @knqyf263, so I've made another discovery that may/may not help determine the root cause.

I've run `trivy config` in 2 different Azure DevOps pipelines. One worked successfully, the other, threw this error. The difference? One was using a [Microsoft-Hosted build agent](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops&tabs=yaml), whereas the other was usin

[2021-10-05 07:05] knqyf263 commented on #967
I'm sorry I missed it. We don't have a place to link the URL of external tools because it is difficult to maintain it by us. But thank you for your suggestion.

[2021-10-05 07:09] knqyf263 commented on #1254
The error seems to be irrelevant to Trivy. Again, looks like the network issue. Does the following command work in your environment?

[code]

[2021-10-05 12:32] knqyf263 opened #1275 "wrong DB type"
## Description
`trivy -v` shows the database information, but `Type` is wrong now. Trivy DB has two types, "light" and "full". `Type` should be `Light` only when `--light` option is used.

[code]

[2021-10-05 14:26] AErmie commented on #1254
Hey @knqyf263, it doesn't look like the `curl` command works in the target environment. However, even when I try it from my local system, I encounter this error:

[code]

[2021-10-05 14:38] knqyf263 commented on #1254
UNAUTHORIZED is ok since it means it is reachable. If you cannot reach GHCR from your env, you should investigate your network.

[2021-10-05 17:01] jpinkham commented on #1254
@knqyf263 Can you tell us the exact URL (or even a glob) that trivy is trying to reach out to for policy updates?  I'm having a similar problem but I need to whitelist this URL in my firewall.

[2021-10-05 17:18] AErmie commented on #1254
@jpinkham, I'm in the same situation (RE: firewall).

Based on the [Built-In Policies](https://aquasecurity.github.io/trivy/v0.19.2/misconfiguration/policy/builtin/) documentation...

I'm just not sure if there's more to it. Appreciate any clarity/guidance you can provide to us, @knqyf263

[2021-10-06 09:29] amey-datametica opened #1278 "How to save scan report for scanning images?"
Hello Team,

/usr/local/bin/trivy --output result.json image my_image:5005/image-byol:1.0.4.1_4 command shows the scan result on the screen but I am unable to find the result.json file on my server.

How to save the scan report for scanning docker images? Thanks.

[2021-10-06 10:41] knqyf263 commented on #1240
v0.20.0 has been released.

[code]

[2021-10-06 10:41] #1240 closed

[2021-10-06 10:47] knqyf263 commented on #1220
We've released v0.20.0. Please try it out.

[code]

[2021-10-06 10:48] knqyf263 commented on #1220
Please feel free to reopen if you still face the same issue with v0.20.0.

[2021-10-06 10:48] #1220 closed

[2021-10-06 10:49] #1165 closed

[2021-10-06 10:52] knqyf263 commented on #1057
Thanks for your patience. v0.20.0 is finally out. You can use `--skip-files` or `--skip-dirs`. Or, you can also disable the scanning of language-specific dependencies with `--vuln-type os`.

[2021-10-06 10:52] #1057 closed

[2021-10-06 10:53] knqyf263 commented on #993
v0.20.0 is finally out. You can use `--skip-files` and `--skip-dirs` to avoid the entire fs scanning. Please feel free to reopen if you still have any issues.

[2021-10-06 10:53] #993 closed

[2021-10-07 06:24] czunker commented on #1198
I think, this needs changes in https://github.com/aquasecurity/fanal

fanal already has the inspect data of the image:
https://github.com/aquasecurity/fanal/blob/main/image/daemon/docker.go#L27
This data contains the parent image digest.

Perhaps one way to solve this, is to fetch the layer digests of the parent image and then only scan the layers which aren't present in the parent.

[2021-10-07 06:58] vrushalisonwani opened #1282 "Support for trivy image scans for other Container Runtime Engines"
Please provide an option in trivy to add further CRI's.

[2021-10-07 06:59] vrushalisonwani commented on #1282
[root@node1 vrushali]# trivy image test/duLL1:v1
2021-10-07T02:46:45.061-0400    FATAL   scan error: unable to initialize a scanner: unable to initialize a docker scanner: 3 errors occurred:
        * unable to inspect the image (test/duLL1:v1): Error: No such image: test/duLL1:v1
        * unable to initialize Podman client: no podman socket found: stat /run/user/0/podman/podman.sock: no such fil

[2021-10-07 12:41] ResuBaka opened #1283 "Yarn.lock files from node_modules are getting scanned which should not happen"
## Description

In version 0.19.2 only the top level yarn.lock in a project was scanned but now even the yarn.lock's from node_modules get scanned an reported. Which leads to wrong reports as the installed version of a packages is different from the one in the node_module one.

## What did you expect to happen?
Do not scan node_modules yarn.lock files.

## What happened instead?
Yarn.lock files ar

[2021-10-07 13:28] kilin-s opened #1284 "trivy v.0.20.0 OOM"
## Description
Hi.

I scan fs after build java application and trivy crash with OOM.
trivy run from image docker.io/aquasec/trivy:0.20.0

dir size is 6GB
host ram - 8Gb

`trivy -d --cache-dir /cache/ fs -f template -t @/contrib/junit.tpl -o reports/C.xml -s CRITICAL ./
2021-10-07T12:24:52.858Z	[35mDEBUG[0m	Severities: CRITICAL
2021-10-07T12:24:52.863Z	[35mDEBUG[0m	cache dir:  /cache/
2021-10-0

[2021-10-07 13:37] elifarley opened #1285 "False positive for text file: pom.properties"
## Description
When I check a zip file that contains a single text file, Trivy gives me a false positive (MEDIUM: 3, HIGH: 33, CRITICAL: 17).

## What did you expect to happen?
- Trivy should not report any vulnerability for a zip file that contains only one entry (a single, specific text file - see the file contents at the end of this report).
- The zip entry name is **pom.properties**, and it do

[2021-10-07 13:39] elifarley commented on #1141
See #1285

[2021-10-08 01:08] cmarquezrusso commented on #1194
This is happening on ubuntu as well

[code]

[code]

[2021-10-08 16:16] #1275 closed

[2021-10-10 12:42] Morl99 commented on #967
No worries, and thanks for the feedback. In that case, I am closing this issue.

[2021-10-10 12:42] #967 closed

[2021-10-11 15:12] Orrimp opened #1290 "Scan tries to contact maven.org even if in air-gapped environment"
### Description and Refresh

This issue was already discussed in #1185, but the solution needs to be another. I am requesting a feature because I am bad with Go 😄 Current Version 0.20.0 focuses on a workaround  of this issue with --skip or --vulnType parameters. They may be reasons to work with search.maven.com due to trust arguments, but the question is "who should trust whom?" I do not trust mav

[2021-10-12 06:36] seraphain opened #1291 "Show the file path in vulnerability report for vulnerable library like Java jar"
Some fat jars contain other vulnerable libraries and be found by trivy. That's great!

Here is an example: the [htrace-core4-4.1.0-incubating.jar](https://mvnrepository.com/artifact/org.apache.htrace/htrace-core4/4.1.0-incubating) contains com.fasterxml.jackson.core:jackson-databind 2.4.0 which has many critical and high vulnerabilities.

But the trivy report doesn't contains the path of jars. Thi

[2021-10-12 10:59] happylie opened #1292 "0.20.0 Version Trivy PROTOCOL_ERROR"
## Description

## What did you expect to happen?
[code]

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):
[code]

[2021-10-13 14:01] bramvdklinkenberg opened #1293 "Trivy vs Qualys"
Hi, I have a question. I use trivy to scan my images for vulnerabilities via the github container scan [action](https://github.com/marketplace/actions/container-image-scan).
I also use the built-in scanner in our container registry, which uses Qualys and scans an image as soon as it is pushed to the repo.

I noticed that Qualys (only) finds one high vulnerability, but the trivy scanner finds 2 cri

[2021-10-14 09:44] teng1 opened #1294 "Maven uptime issues impacting Trivy scan availability"
Hi,
We currently have trivy scanning as part of a image build pipeline.
We have observed with increasing frequency that Maven is down causing scans to time out, I don't suppose there any approaches we could take to mitigate against Maven uptime affecting Trivy scan availability?

Thanks in advance.

[2021-10-14 11:45] hideme4u opened #1295 "Memory and CPU usage is very high. OOM exception killed Trivy"
## Description

I am using trivy 0.20.0 for filesystem scan on the entire filesystem.
trivy -v
Version: 0.20.0
Command executed:   trivy fs /
Machin configuration: quad-core cpu.
Total filesystem size: 92 GB,   Used: 89 GB

After this, I saw Trivy process is consuming Resident memory up to 3GB and CPU usage goes beyond 300% and finally process gets killed (OOM)

## What did you expect to happen?
T

[2021-10-14 11:49] hideme4u commented on #1295
@knqyf263  Is there any performance matrix for CPU and Memory consumption happening in Trivy to which we can refer to?  I see CPU and Memory usage going high for filesystem projects. Please let us know your suggestion and guidelines. Thanks !!

[2021-10-14 13:40] bermannoah opened #1296 "Trivy brew install fails on M1 mac"
## Description
Running `brew install aquasecurity/trivy/trivy` on an M1 mac results in an error.

## What did you expect to happen?
Normal brew install.

## What happened instead?
[code]

## Additional details (base image name, container registry info...):

It looks like Stripe ran into the [same thing](https://github.com/stripe/homebrew-stripe-cli/issues/1) and fixed it this way: https://github.c

[2021-10-14 14:52] bermannoah commented on #1296
This will also work and is much nicer than my workaround 😄 , I guess I got stuck in "how to do this with brew" mode. (The dockerized version will work as well as the other alternate installs, I just meant if someone really wanted to do this install via brew that would be a way to do it before this gets fixed.)

[2021-10-14 15:43] knqyf263 commented on #1296
Thanks for filing the issue! It is weird as our goreleaser configuration used to support M1 mac as well. Let me take a look.

[2021-10-16 03:48] #1296 closed

[2021-10-16 04:26] knqyf263 commented on #1296
v0.20.1 is out! We confirmed `brew install` works on M1 mac.
https://github.com/aquasecurity/homebrew-trivy/blob/ef953a6ec4373e895ed5ec28b2bbb1233a3f0892/trivy.rb#L12-L15

[2021-10-16 09:41] jzr1991 opened #1301 "--download-db-only for trivy config"
Could we replicate this feature/behaviour from "trivy image" where you can use --download-db-only to install the db/files for vuln scanning up front, but for "trivy config" when wanting to check for misconfigurations.

If gchr is down/unstable, or for offline usage, this would be useful.

Thanks!

[2021-10-17 10:58] jaklan opened #1302 "No way to scan single file or single directory?"
Hi all, I wanted to run `trivy` for a simple case - to just scan single Dockerfile. Unfortunately, that doesn't work, because `trivy config` (and `trivy fs` as well) expects dir name, not single files. I tried then to scan the root project directory, but it turned out `trivy` automatically traverse all the sub-directories (in which there were placed other Dockerfiles, which weren't interesting for

[2021-10-17 16:32] myvali95 opened #1303 "It would be great to get the output of IAC files in SARIF or add this to the documentation if not suuported"

[2021-10-18 07:40] antoineozenne commented on #592
/no-stale

[2021-10-18 09:15] NikitaGl commented on #1290
We have encountered the same issue recently. The most disturbing is that we built our ci pipeline to run trivy scan each time before pushing images to registry and being depend on very unsable remote API is not an option at all.

[2021-10-18 22:50] krol3 opened #1305 "Remove PodSecurityPolicy in the helm manifest"
Remove PodSecurityPolicy in the helm manifest

[code]

[2021-10-19 03:00] lovelyplanet2019 commented on #423
i am trying your solution at my gitlab job running
this process uses alot time "fetch http://dl-cdn.alpinelinux.org/alpine/v3.12/main/x86_64/APKINDEX.tar.gz"

any ideal if there is offline DB docker that i can pull directly?

[2021-10-19 03:02] lovelyplanet2019 opened #1306 "Trivy DB docker image integrate with gitlab"
I want to use trivy in Gitlab which doesn't has internet connections to outside.
I think that i can use trivy-db docker and integrate to gitlab vi.
Both trivy and trivy-db was pushed to nexus repo.

Here is the `gitlab-ci.yml`. I am not sure if i building it in correct way. build->build-trivy-db->test

[code]

****error at** `build`**

[code]

[2021-10-19 04:48] kotireddyaluri opened #1307 "trivy scanner on Bitbucket CI/CD pipeline pipes"
Hi Team,

I came across bitbucket pipes - https://support.atlassian.com/bitbucket-cloud/docs/write-a-pipe-for-bitbucket-pipelines/
I see trivy can be integrated in bitbucket pipelines very well. I have also tried with the sample code, please have a look

cicd pipe plug-in for trivy - https://bitbucket.org/kotireddyaluri/aquasec-trivy-scanner/src/master/

sample test project to run the pipe - https

[2021-10-19 05:08] lovelyplanet2019 commented on #1306
I have compose new yml

[code]

[2021-10-19 07:31] szpak commented on #1291
To it looks like a bug. @seraphain Maybe it would be good to rename the issue title and maybe update the description (or create a new one).

@ivanvc Is displaying the JAR path in `json` was a part of #1260? Or the release notes refer to some other MR?

[2021-10-19 10:44] paleloser commented on #1292
If it helps, we're facing the same issue with `docker.io/bitnami/keycloak:15.0.2-debian-10-r19` **but with `trivy` version `0.19.2`**:

[code]

[2021-10-19 16:50] prashi2202 opened #1312 "Large image scan fail."
Currently we have hosted harbor on EKS cluster with following config.

![image](https://user-images.githubusercontent.com/83032278/137954874-885dc0da-e4f4-4f9f-801d-28d838ee9ec6.png)

While I try to scan a image which is in MB it works fine but when try to scan a large image anything beyond 1GB scan fails with following error.

Error:
====
2021-10-19T16:20:33Z [INFO] [/pkg/scan/job.go:157]: Report

[2021-10-20 05:34] lovelyplanet2019 opened #1313 "DB error: database error: --skip-update cannot be specified on the first run"
i am following the steps at this page to run trivy in air-gap environment
`https://aquasecurity.github.io/trivy/v0.17.0/air-gap/#download-the-vulnerability-database`

the CI runner throw error that --skip-update cannot be specified on the first run.
I have already copied and extracted the offline database downloaded from `https://github.com/aquasecurity/trivy-db/releases`
[code]

**gitlab-ci.yml**

[2021-10-20 06:15] lovelyplanet2019 commented on #486
@mozillazg i am using trivy 0.20.1 standalone and hit error, the db is extracted to the correct path already.
please advise. i raise the new bug:
https://github.com/aquasecurity/trivy/issues/1313

[2021-10-20 08:12] lovelyplanet2019 opened #1314 "x509: certificate signed by unknown authority still occur when using TRIVY_INSECURE=true"
I tried the command option `TRIVY_INSECURE=true `and the scanning result is failed

scanning the `repo` (i tried scan `docker`), the error `x509` occur.

[code]

[2021-10-20 15:59] #1261 closed

[2021-10-20 20:07] AErmie opened #1317 "`trivy config` Template Output Produces Blank Results"
## Description

When using `trivy config` to scan a Dockerfile, even though the console shows output results, using the `--format template --template "@contrib/html.tpl" --output /output/TrivyIAC-Results.html` output does not capture any results.

**Console output**
![Trivy-Dockerfile-Console-Output](https://user-images.githubusercontent.com/10376796/138163920-7f6a32e9-5d8e-4dc0-9965-97f03161a955.

[2021-10-21 00:03] #1161 closed

[2021-10-21 01:29] lovelyplanet2019 commented on #721
any solution found?
i hit the same error
unable to inspect the image (index.docker.io/library/testdock:latest): Error: No such image: index.docker.io/library/testdock:latest

[2021-10-21 01:56] lovelyplanet2019 opened #1318 "No progress at scan status at gitlab runner"
[`$ TRIVY_INSECURE=true trivy --skip-update --no-progress --output scanning-report.txt  $CI_REGISTRY_IMAGE:latest`](url)

the scanner is spinning about 25mins , i am not sure what is the status now.
how do i print the progress line by line so that i can debug if any environment slowness or connection or scanning is still working on?

[2021-10-21 06:42] lovelyplanet2019 opened #1319 "Terminal does not show Scan result when using comman option -f json"
I noticed that when i use command option `-f json` then the result is not displayed at terminal.
any method to allow terminal show the final result and export file at the same time?
I need the file in the -f json format so i can upload to web viewer to view and filter result.
at the same time i need the default table format displayed at terminal , is that workable?

[code]

[2021-10-21 06:47] #1319 closed

[2021-10-21 07:31] robervexcel opened #1320 "Error in recent new helm chart version 0.4.5"
## Description

I set `enable: true` the ingress option in values:

Error: YAML parse error on trivy/templates/ingress.yaml: error converting YAML to JSON: yaml: line 17: mapping values are not allowed in this context

Other references

Issue
https://github.com/aquasecurity/trivy/issues/1261

Last PR
https://github.com/aquasecurity/trivy/pull/1262

Thanks!

[2021-10-24 00:03] #1140 closed

[2021-10-25 00:03] #1000 closed

[2021-10-25 13:49] xeaon opened #1334 "trivy client in Typescript (twirp) / trivy client (rpc/twirp) workflow documentation"
Hi!

I really would like to build a trivy client webapp, which would help to identify vulnerabilities in images way before CI or other processes.

I've managed to build a Typescript client with `protoc` and [ts-twirp](https://github.com/hopin-team/twirp-ts) using the provied `.proto`-files in [/rpc](/aquasecurity/trivy/tree/main/rpc).

Currently I'm struggling with core concepts of the client. I t

[2021-10-26 13:36] daiyinong opened #1337 "Built-in SARIF template version"
https://github.com/aquasecurity/trivy/blob/5dc8cfe55d808c39ae0d785710a7107d6e6de06b/contrib/sarif.tpl#L11

Hello,

Hope things are well - would like to check whether the version referred to in the above line should correspond to the Trivy version (i.e. output of `trivy --version`) or is actually something else. Is it possible to use a templated variable that refers to the Trivy version in this tem

[2021-10-27 05:32] denisgolius opened #1338 "Error: repository not enabled for code scanning"
Hi there!
Is this trivy scanner can work with a public repository? My repository is a private.
Here is `trivy.yml` file:
[code]

And this is error log from actions:

[code]

What I am doing wrong? Maybe there is a working example for copy/paste and it will work?

[2021-10-27 08:18] #1338 closed, assigned to nobody

[2021-10-28 05:40] krol3 opened #1339 "go binary detection in the latest release is not working"
## Description

## What did you expect to happen?

[code]
Not go binary detection
[code]

## Using trivy 0.19

[code]

[code]

[2021-10-28 07:24] Papawy opened #1340 "High level security reported with Ansible with v2.9.27 but it was fixed in v2.9.23"
## Description

When running Trivy on our deployment image, it reports an high level security issue (https://bugzilla.redhat.com/show_bug.cgi?id=1968412). We are using `v2.9.27` but this issue was fixed in `v2.9.23` as said in the bug report from RedHat and in the changelog (https://github.com/ansible/ansible/blob/v2.9.27/changelogs/CHANGELOG-v2.9.rst#v2923), though, Trivy is saying that it has be

[2021-10-28 12:51] geasus opened #1341 "is it possible to scan an image for specific binaries?"
We would like to scan an image and see if that image has for example nano, vi, vim or netcat installed, is it possible to scan a image and let it return if any of those binaries has been installed inside the image?

Thank you

[2021-10-28 13:03] #1339 closed, assigned to nobody

[2021-10-28 23:35] sureshg opened #1342 "`RancherDesktop` support"
[RancherDesktop](https://rancherdesktop.io/) is used by many folks as a replacement for the docker desktop on Mac due to licensing changes. So it would be great to support that also.
[code]

[2021-10-29 03:22] abdennour opened #1343 "[helm] Externalize env vars and load them dynamically as per kubernetes standards"
This is about storing environment variables into the right k8s resources : ConfigMap & Secret if it's sensitive data.
Once environment variables are stored in these resources, the pod definition can load these env vars with `spec.containers.envFrom` instead of putting directly the env vars with `spec.containers.env`.

This design has many benefits:

1. Meet k8s standards
2. distributed configurati

[2021-10-31 09:42] JafarAkhondali opened #1348 "Ability to use custom database"
Hi,
Thanks for amazing app.
Let's say we want to check only new vulnerabilities (that has been published in last few hours). Is it possible to use a custom database for it?

As a work around, we can put a filter on vulnerability discover date but I was hoping for a more clean solution

[2021-11-01 06:19] hideme4u opened #1350 "NPM v7 lockFileVersion = 2 is not supported in Trivy filesystem scan"
## Description

we have NPM7 generated package-lock.json with lockFileVersion = 2.  Now when we scan Node.js project using Trivy filesystem scan, Trivy does not find out packages from package-lock.json.
It is working with lockFileVersion = 1

## What did you expect to happen?
It should find out packages in package-lock.json

## What happened instead?
It did not find out packages from package-lock.

[2021-11-01 06:23] hideme4u commented on #1350
@afdesk / @masahiro331/ Is this parsing for a new file format not yet supported?

[2021-11-01 08:14] geasus commented on #1341
does anyone have any idea if this would be possible?

[2021-11-01 10:51] melkamar opened #1351 "Trivy is not detecting yarn.lock"
## Description

I have an image with `composer.lock` and `yarn.lock` files. Both files are in the same directory. The former is detected and checked correctly, the latter is completely skipped.

Is there a way to instruct trivy which path and particular file to check?

## What did you expect to happen?
I expected both files to get checked, as Yarn should be supported by the tool according to the d

[2021-11-01 12:14] knqyf263 commented on #1351
Thanks for the issue. Please see the doc.
https://aquasecurity.github.io/trivy/v0.20.2/vulnerability/detection/language/

And changelog.
https://github.com/aquasecurity/trivy/discussions/1279

[2021-11-01 12:36] melkamar commented on #1351
Thank you for that, I did not notice the different behavior of yarn.lock and composer.lock.

Though the image I am scanning also has a `package.json` in the same directory as `yarn.lock`, which, according to the documentation, should be scanned in the `image` mode.

[2021-11-01 12:51] knqyf263 commented on #1351
Scanning `package.json` means scanning dependencies under node_modules.

[2021-11-02 11:26] mvgijssel commented on #656
Does the same apply for self built packages? Because I'm unable to figure out why building a `.deb` package using [fpm](https://github.com/jordansissel/fpm) for Python using the exact same metadata as the official aptitude installed Python does not result in Trivy finding the vulnerably Python version. It seems Trivy can only find the vulnerable version when installed through aptitude.

Trivy is a

[2021-11-02 11:50] saivenkateshedem opened #1353 "error retrieving template from path: open contrib/junit.tpl: no such file or directory"
## Description

Iam trying to use the xml template for generating output.Getting file not found error.Below is the command

trivy image --format template --template "@contrib/junit.tpl" -o report.xml <image-name>

## Instead it is throwing error
unable to write results: failed to initialize template writer: error retrieving template from path: open contrib/junit.tpl: no such file or directory

##

[2021-11-02 15:36] gmolkvk commented on #715
This would be really helpfull

[2021-11-02 16:33] melkamar commented on #1351
Gotcha, thanks for the explanations!

[2021-11-02 16:33] #1351 closed

[2021-11-02 22:11] sawp-d opened #1354 "trivy integration with Aqua SaaS or Aqua Enterprise?"
Trivy is awesome! Is there any out-of-box/native integration with Aqua SaaS or Enterprise or are they intended to be separate/non-integrated tools? Aqua Enterprise shows a CI/CD Scans panel but I don't see any flags/switches for trivy to push to it. (I do see that there is some integration from Azure DevOps to Aqua, but the source code is private).

[2021-11-02 22:48] jsjoeio commented on #1283
Any updates on this? We're experiencing this as well.

[2021-11-03 00:03] #1178 closed

[2021-11-03 00:03] #1102 closed

[2021-11-03 15:33] bygui86 commented on #346
hi guys, what's the status of this?

[2021-11-04 12:44] pythonmobile commented on #720
Can we get this please?

[2021-11-05 00:03] #1171 closed

[2021-11-05 13:57] tspearconquest opened #1355 "2 go CVEs in trivy binary"
## Description
When scanning the trivy docker image with Trivy 0.20.2, as of this morning, we began seeing 2 new CVEs found in the trivy binary itself.

[code]

## What did you expect to happen?
No vulnerabilities

## What happened instead?
2 vulnerabilities found

## Output of run with `-debug`:

## Output of `trivy -v`:

[code]
## Additional details (base image name, container registry info...):

[2021-11-05 17:01] pritamstyz4ever opened #1357 "Error: runtime error: invalid memory address or nil pointer dereference on running trivy conf"
## Description
Running command `trivy conf --severity HIGH,CRITICAL .` causes nil pointer exception. I am running it against my [repository:](https://github.com/screwdriver-cd/aws-producer-scripts/tree/feat/sd-2560)

## What did you expect to happen?
Should not fail with exception and give the scanning results.

## What happened instead?
Received Error:
`WARNING: Failed to load module: missing mod

[2021-11-06 20:35] malexmave commented on #634
Agreed - it would also be extremely helpful for a project of mine, where I want to scan a large number of repos for vulnerabilities on a regular basis, and don't want to download the ruleset a couple hundred times every time I go through them. Scheduling a server as a k8s service and then having all the trivy instances retrieve the rulesets from it would be the most elegant solution for this issue

[2021-11-07 07:35] knqyf263 commented on #634
Thanks for sharing your requirements. It makes sense. We welcome your PR!

[2021-11-08 11:19] JafarAkhondali commented on #1350
@hideme4u I think this is no correct.
Looks like Npm lock file version 2 is backward compatible. The structure in v1 have a `dependencies` key, and the nested object may have `dependencies` key as well.
This is also valid in v2. The only extra thing in v2 is `packages` key.

In our case the problem was that Trivy didn't scan `devDependencies` at all, here is the source https://github.com/aquasecur

[2021-11-08 14:53] marcinbojko commented on #942
Seems trivy itself doesn't support cookies.

[2021-11-08 20:27] tspearconquest commented on #1340
Hi @Papawy I am just a user here but wanted to let you know, this vulnerability data comes from https://github.com/advisories/GHSA-2pfh-q76x-gwvm

You will need to report this upstream with GHSA. I had some luck doing the same for a similar issue a few months back in a different package.

[2021-11-08 20:29] tspearconquest commented on #1340
You can find my original report here https://github.com/aquasecurity/trivy/issues/1067 and some details are posted in the comments there to help you find where to report the bug to GHSA.

Hope it helps!

[2021-11-09 05:33] rohitagg2020 opened #1359 "Trivy fs stopped recognizing golang binary file."
Hi,

We were running trivy on our go binary file with versions prior to 1.20. It used to scan the binary file. But from 1.20 onwards, it stopped recognising the binary file. Also I see that from trivy fs command, `input` field is removed. What is the alternative to that ?

## Prior to version 1.20:
Input:
trivy fs <BINARY_FILE_LOCATION>
Output:

INFO Number of language-specific files: 1
INFO Detec

[2021-11-09 09:42] Papawy commented on #1340
Ah, thank you. I did not know! I will try to contact them so.

[2021-11-09 09:58] knqyf263 commented on #1359
Yes, it is intended. Please see the document.
https://aquasecurity.github.io/trivy/v0.20.2/vulnerability/detection/language/

[2021-11-09 13:38] knqyf263 commented on #1340
@tspearconquest Thanks for your help!

@Papawy Thanks for raising an issue in GHSA! As @tspearconquest said, it seems to be an issue in GHSA.

[2021-11-09 14:00] #1355 closed

[2021-11-09 14:06] knqyf263 commented on #1354
We're working on it hardly. Please look forward to it.

[2021-11-09 14:15] knqyf263 commented on #1342
Thanks for the request! It makes sense. We may need help.

[2021-11-09 14:22] knqyf263 commented on #1164
Agree. We want to support it in the near future.

[2021-11-09 14:26] knqyf263 commented on #1126
v0.20.0 is out. Please let me know if you face the same issue again.

[2021-11-09 14:26] #1126 closed

[2021-11-09 14:34] jeroenlandheer opened #1362 "Trivy detects CVE-2021-41092 (docker-cli vulnerability), but the docker-cli isn't installed in the container."
## Description

We're having here a docker container, that reports CVE-2021-41092, but this container does not have the docker CLI installed.

This is the source of the docker file:

[code]

This is a build image we use for building software with Jenkins, but as you can see, there's no docker CLI installed.

## What did you expect to happen?
I didn't expect this error, am I missing something?

[2021-11-09 15:49] knqyf263 opened #1363 "test(integration): add cases for Terraform and CloudFormation"
## Description
We currently have integration tests only for Dockerfile.
https://github.com/aquasecurity/trivy/blob/19747d0535c17c9427f978b984ac8025ca303b52/integration/fs_test.go#L48-L56

I'd like to add a new case for mixing Terraform and CloudFormation files. It will be probably as follows.

[code]

The test files need to be added to `testdata/fixtures/fs/mixed`.

[2021-11-09 15:50] yilas opened #1364 "How to ignore some CVEs ?"
Hi,

I would like to know if it is possible to ignore some CVEs. For example, a scan of the debian:buster docker image shows CVE CVE-2019-1010022 which I would like to ignore. How to do it with trivy ?

Thank you !

[2021-11-09 15:51] knqyf263 commented on #1364
Please see the doc.
https://aquasecurity.github.io/trivy/v0.20.2/vulnerability/examples/filter/

[2021-11-09 15:52] yilas commented on #1364
Yes sorry for the question. Just found the way to do it with .trivyignore...
Thank you

[2021-11-09 15:52] #1364 closed

[2021-11-09 20:59] distortedsignal opened #1365 "New Trivy mode: Image Diff"
**As A** software developer, focused on security, building container images
**I want** a mode of trivy that will help me detect changes between two different images
**So that** I can show customers why a newer image of a container is better than an old image of a container

Currently, I can closely approximate this functionality by doing something like this in zsh:

[code]

but I feel like this co

[2021-11-10 13:01] rohitagg2020 commented on #1359
@knqyf263 Thanks for the prompt response. I see that, we can scan the golang binaries using trivy `rootfs` now.

Also there is an option to run trivy on the `repo` directly.

I am seeing two different behavior. When I run trivy `rootfs` on the binary, I dont see any vulnerabilities. But when I run it on the `repo`, I see 6(including 5 `HIGH`) vulnerabilities. I am unable to understand this differe

[2021-11-10 13:53] jvitrifork opened #1367 "Trivy detects CVE-2018-14721 on wrong versions of jackson-databind"
Trivy detects jackson in a docker image but fails to take the version into account

![image](https://user-images.githubusercontent.com/46567685/141125237-53b88b87-2ce1-4f97-91f9-672dee32691d.png)

The [CVE](https://nvd.nist.gov/vuln/detail/CVE-2018-14721) mentions `FasterXML jackson-databind 2.x before 2.9.7` but the contents of the docker image is jackson-*-2.10.3

[2021-11-10 17:22] knqyf263 commented on #1350
@rahul2393 Could you take a look at this issue?

[2021-11-11 09:21] tappoz opened #1369 "trivy blind to some vulnerabilities on latest version 0.20.2, but finds them when on version 0.16.0"
## Description

The latest version seems to be blind to some vulnerabilities that an older version is detecting.

We have a Docker Image `FROM golang:1.17.2-alpine3.14` where we add some Go code and a `go.sum` with some vulnerabilities due to some `Gemfile.lock` files (notice the version of those packages):

[code]

We want to ignore these vulnerabilities, so we used to invoke the scan like this:

[2021-11-11 09:21] knqyf263 commented on #1362
@afdesk could you take a look?

[2021-11-11 09:24] knqyf263 commented on #1357
@afdesk please have a look at this issue.

[2021-11-11 10:05] hyy0322 commented on #1295
@afdesk hello? Any update?

[2021-11-11 10:38] afdesk commented on #1362
Hi @jeroenlandheer! thanks for your report!
I reproduced this issue.

it seems that `helm` contains this vulnerability.

I did some changes in your Dockerfile:
[code]
and got next result:
[code]

[2021-11-11 10:42] afdesk commented on #1362
also
there is an issue on [github.com/helm/helm/#10314](https://github.com/helm/helm/issues/10314)

[2021-11-11 11:59] knqyf263 commented on #967
Hi @Morl99, we eventually decided to manage the community tools in our doc. Please feel free to give us any feedback.

[2021-11-11 12:03] Morl99 commented on #967
That is great. To be clear: Did you already include it in the docs, or are you planning to so? Let me know if I can be of help.

[2021-11-11 12:34] jeroenlandheer commented on #1362
Ah, that clarifies things, I'll close this since this should be resolved by helm.

Thanks for the help!

[2021-11-11 12:34] #1362 closed

[2021-11-11 13:16] 030 commented on #1364
Could this be added to the readme?

[2021-11-11 14:25] egberts opened #1370 "Add minimum Go version supported"
I installed Trivy on Debian 11 (bullseye) but it failed with embed module not found installed under /usr.

Needs Go v1.16.0 or later.

Debian has Go v1.15.9

Didn’t see that minimum Go version somewhere in the README.

[2021-11-11 15:03] #1229 closed

[2021-11-11 16:43] knqyf263 commented on #967
You can see the above PR. It is not yet merged, but will be soon.

[2021-11-11 16:46] knqyf263 commented on #1359
It might be due to dev dependencies. `go.sum` includes dev dependencies and go binaries don't.
https://aquasecurity.github.io/trivy/v0.20.2/vulnerability/detection/language/

[2021-11-11 16:47] knqyf263 commented on #1295
We're working on it here.
https://github.com/aquasecurity/fanal/pull/314

[2021-11-11 16:49] knqyf263 commented on #1370
Could you elaborate on it? What did you scan? How did you install Trivy?

[2021-11-11 17:53] rahul2393 commented on #1350
Thanks for assigning me this

[2021-11-11 19:42] Morl99 commented on #967
Ah thanks, the GitHub mobile app collapsed it, so I overlooked it!

[2021-11-12 11:02] rethab opened #1371 "scan image in private azure container registry using machine identity authentication"
hi, i'm trying to scan private images from an azure container registry (acr). I know I can authenticate with username/password using `TRIVY_USERNAME` and `TRIVY_PASSWORD`, but I'd rather not do that. Is there a convenient way to scan an image from a private registry using the virtual machine's identity?

I am currently working around this issue by pulling the image manually before running the scan

[2021-11-12 16:00] afdesk commented on #1357
Hi @pritamstyz4ever! thanks for your report!

i'm trying to reproduce your problem, and can't yet.
I did clone the repository and tried to run trivy with your args - no errors.

maybe there is a problem with your `.terraform` folder...

[2021-11-12 20:28] knqyf263 commented on #1359
We don't have the plan for now.

[2021-11-13 11:45] chming1016 opened #1372 "trivy image runtime parsing error"
## Description
I built Trivy in Dockerfile and use pre-built Trivy binary to scan what I have built in the docker images and resulted in errors.

- Dockerfile

[code]

- Run docker build
`docker build --no-cache . -t demo:test`

- Get trivy 0.20.2 binary
[code]

- Run trivy
trivy image demo:test

## What did you expect to happen?
Expect to have a success report in output.

## What happened instead

[2021-11-14 06:37] rohitagg2020 opened #1373 "error retrieving template from path: open /contrib/sarif.tpl: no such file or directory"
## Description

I am trying to use the sarif template for generating output. Getting `file not found` error. Below is the command

trivy rootfs --format template --template "@/contrib/sarif.tpl" -o report.sarif

## What did you expect to happen?

I have downloaded the binary file(version: 0.20.2) and started using it.
I expected it to generate the sarif file containing results of `trivy rootfs`.

[2021-11-14 08:27] #1263 closed

[2021-11-14 08:28] #1222 closed

[2021-11-14 08:33] knqyf263 commented on #1365
Hi @distortedsignal, thanks for the suggestion. We want to keep Trivy as small as possible. You can write a plugin in any language you want.
https://aquasecurity.github.io/trivy/v0.20.2/advanced/plugins/

[2021-11-14 09:31] #1307 closed

[2021-11-14 09:31] knqyf263 commented on #1307
Thanks for sharing! We've added a link to our repository for Bitbucket Pipelines in our doc.

[2021-11-14 14:55] macedogm commented on #592
@knqyf263 Not sure if you were able to review PR https://github.com/aquasecurity/fanal/pull/253. I appreciate if you could let me know if it requires any improvements or looks good.

[2021-11-14 16:16] afdesk commented on #1357
Hi @pritamstyz4ever, could you show the logs in trivy debug mode:
[code]

when I scan branch `feat/sd-2560` the result is next:
[code]

[2021-11-14 16:34] afdesk commented on #1357
@pritamstyz4ever also I see that `runtime error` is occuring inside `tfsec/scanner`.

Could you scan your terraform templates with [tfsec](github.com/aquasecurity/tfsec/)?

[2021-11-14 16:48] afdesk commented on #1250
it seems that there is a discrepancy with [GitHub Advisory Database](https://github.com/advisories/GHSA-v528-7hrm-frqp) in patched versions.

[2021-11-14 17:12] afdesk commented on #1353
@saivenkateshedem thanks for your interest in `trivy`.

for using templates you need to download this folder: [contrib](https://github.com/aquasecurity/trivy/tree/main/contrib).

it works for me:
[code]

let me know if i can help you.

[2021-11-14 17:20] afdesk commented on #1372
Hi @chming1016 thanks for your report!
I can reproduce this issue and will look for the reason.

[2021-11-14 22:33] naoyukis opened #1375 "FileWalk() and FilterTargets() in utils package are not referenced by any files in this repository except utils_test.go"
`FileWalk()` and `FilterTargets()` in `utils` package are not referenced by any files in this repository except `utils_test.go`.
Are you leaving these functions out of concern that they are referenced in external packages?

I think it would be good to remove them to avoid maintenance of unused code.
(It's only a small improvement...)

[2021-11-15 02:44] pritamstyz4ever commented on #1357
Hi @afdesk, thank you for the response.
Here's the debug output:

`$ trivy conf --severity HIGH,CRITICAL .
^^/D/s/aws-consumer-scripts >>> trivy -d conf --severity HIGH,CRITICAL .                                                                   (*feat/sd-2558+11) 21:37:14
2021-11-14T21:37:15.713-0500    DEBUG   Severities: HIGH,CRITICAL
2021-11-14T21:37:15.762-0500    DEBUG   cache dir:  /Users/p

[2021-11-15 02:53] pritamstyz4ever commented on #1357
Here's the output of `tfsec .`

`tfsec .                                                                                                    (*feat/sd-2558+11) 21:51:35
Warning: A tfvars file was found but not automatically used. Did you mean to specify the --tfvars-file flag?

  Result 1

  [aws-lambda-enable-tracing][LOW] Resource 'module.lambda_function:aws_lambda_function.this[0]' uses default

[2021-11-15 09:02] AndreyLevchenko commented on #1373
Hi @rohitagg2020
Path to the template shouldn't start with `/` if you are referring folder in current directory

[2021-11-15 09:26] andrei-dascalu commented on #612
Is there any new info on this? We've also noticed the issue and marked trivy to be re-reviewed.

[2021-11-15 11:55] javixeneize opened #1377 "CVE-2021-41254 not detected"
Hi

I am scanning this container, ghcr.io/fluxcd/kustomize-controller:v0.9.1, with trivy.

Last week a vulnerability was reported in flux, https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-41254, and i believe this image is affected by that vulnerability. However, trivy doesnt flag that CVE in this image

Is this something that should have been detected?

Thanks

[2021-11-15 11:59] knqyf263 commented on #1377
@rahul2393 Could you take a look?

[2021-11-15 12:18] knqyf263 commented on #1375
Thanks for raising an issue. I guess it is probably what we forgot to remove. We can remove it.

[2021-11-15 13:16] naoyukis commented on #1375
@knqyf263
OK. I'll make a PR.

[2021-11-15 14:36] #1038 closed

[2021-11-15 15:56] caleb15 commented on #1222
Thanks!

[2021-11-15 17:11] rahul2393 commented on #1377
Thank you for helping improve Trivy!
Trivy uses multiple threat intelligence feeds for its scanning. It seems like one of the feeds "GitHub Advisory Database" has a false negative.
Can you please open an issue on their support community and add a reference here?
https://github.community/

cc: @javixeneize
There is no advisory for CVE-2021-41254 in GHSA https://github.com/advisories?query=ecosystem

[2021-11-15 17:23] #1365 closed

[2021-11-15 17:57] jrtitus opened #1383 "Support glob patterns for --skip-* arguments"
For example, if I have a `src` directory with several repositories inside, and want to scan all of them at the same time, the current thing to do is

[code]

When it could be more convenient, such as

[code]

[2021-11-15 20:37] crivetimihai opened #1384 "Sign RPM packages"
## Description

https://aquasecurity.github.io/trivy-repo/ describes setting up RHEL/CentOS repos with `gpgcheck=0`. For security reasons this is not a good practice. The repo cannot be browsed as it's hosted on github pages.

Can you please provide a URL to the GPG key?

Thanks!

[2021-11-15 21:53] WhyJee opened #1385 "Language specific files no more analyzed in images since version 0.20.0"
## Description

We do use trivy to scan docker images containing java binaries including hundreds of dependencies.
This scan is performed using trivy docker image.
Our chain automatically retrieve the latest image.

For a while some vulnerabilities are no longer reported.

## What did you expect to happen?

All versions shall report same vulnerabilities if valid.

## What happened instead?

* Java

[2021-11-16 05:26] AndreyLevchenko commented on #1038
Hi
@tricky42 , @mgmgwi
Trivy 0.21.0 is released. It includes several SARIF related fixes. Please test it in your environments.
https://github.com/aquasecurity/trivy/discussions/1382
Thanks

[2021-11-16 08:22] tappoz commented on #1369
@rahul2393 thank you for looking into this :pray:
I heard from a collaborator that he tested this locally and found that 0.19.2 is the last version where this works, however I did not try this myself. Hope that helps

[2021-11-16 08:39] rahul2393 commented on #1369
Thanks @tappoz, looking into this now, trying to replicate the issue with  a test docker image.

[2021-11-16 10:02] Giri512 opened #1386 "Trivy command not found"

[2021-11-16 12:08] knqyf263 commented on #1386
Could you elaborate on it?

[2021-11-16 12:10] knqyf263 commented on #1385
@AndreyLevchenko Could you take a look?

[2021-11-16 12:12] #1375 closed

[2021-11-16 13:43] afdesk commented on #1372
@chming1016 thanks for this report again!
I found a problem and wrote a request to the author of the third party package.
let's give him some time.

[2021-11-16 14:45] #492 closed

[2021-11-16 15:13] WhyJee commented on #1385
@AndreyLevchenko here is the full command used against one of our image:
[code]
Then same for 0.20.2 and 0.21.0. Only with 0.19.2 I get the jar vulnerabilities analyzed and CVE found.

[2021-11-16 15:26] afdesk commented on #612
Hi @andrei-dascalu! Thanks for your interest in `trivy`.

In this case - image `node:8.15.0-alpine`, `trivy` [v.0.21.0](https://github.com/aquasecurity/trivy/releases/tag/v0.21.0) can find 2 critical vulnerabilities for `alpine 3.8.2` and 39 vulns (UNKNOWN: 0, LOW: 4, MEDIUM: 12, HIGH: 23, CRITICAL: 0) for `node-pkg`.

trivy's vuln list is updated daily.

maybe can I show you something else in tri

[2021-11-16 15:47] afdesk commented on #1372
@chming1016 thanks for waiting.
to fix this issue you can skip the go source scan:
[code]

[2021-11-16 17:55] rahul2393 commented on #1369
Its happening because version <= 0.19.2 were scanning lock files, but after this PR https://github.com/aquasecurity/trivy/pull/1271/files#diff-3dc8bd3c89b8f1dbaba17881ff4424f64d9297dcfbd4087b7392c7efdc55d7f2R47 analyzers for lock files are disabled.
cc: @knqyf263

[2021-11-16 18:33] chming1016 commented on #1372
@afdesk Seems like a dependency issue. Thanks for helping out!

On Tue, Nov 16, 2021 at 23:47 afdesk ***@***.***> wrote:

--
*陳宣名 (Sean Chen)*
*Chen, Hsuan-Ming*
***@***.*** ***@***.***>*

[2021-11-16 19:18] knqyf263 commented on #1369
It is intended. You can see which analyzer is enabled.
https://aquasecurity.github.io/trivy/v0.21.0/vulnerability/detection/language/

[2021-11-17 00:27] krol3 opened #1387 "Results using go binary"
## Description

[code]

Copy the same binary in the dockerfile. I found CVE

[code]

trivy image myimage

[code]

## What did you expect to happen?
The same results using trivy image

## What happened instead?
I can see the CVE only when I copy the binary to the dockerfile

[2021-11-17 08:08] wouttom commented on #1290
We should also be able to configure authentication.

[2021-11-17 08:38] knqyf263 commented on #1387
@AndreyLevchenko Could you have a look?

[2021-11-17 08:51] knqyf263 commented on #1372
It is better to exclude source code from the scan, as it may contain test data that is intentionally designed to fail. Please feel free to reopen the issue if you have any other issues. Thanks.

[2021-11-17 08:51] #1372 closed

[2021-11-17 08:52] knqyf263 commented on #1384
Yes, we're working on it, but it may need some more time.
https://github.com/aquasecurity/trivy/pull/1093

[2021-11-17 09:30] rahul2393 commented on #1369
@tappoz this is intended as per above link

[2021-11-17 09:53] javixeneize commented on #1377
Thanks @rahul2393

Looks like the advisory is released now - https://github.com/advisories/GHSA-35rf-v2jv-gfg7 But trivy still cant detect it

Thanks

[2021-11-17 21:03] aleksrosz opened #1389 "How does it work?"
Hi
I have question how Trivy perform scanning. I did scan:

trivy image myimage:123456
2021-11-17T21:58:52.425+0100    INFO    Detected OS: debian
2021-11-17T21:58:52.425+0100    INFO    Detecting Debian vulnerabilities...
2021-11-17T21:58:52.440+0100    INFO    Number of language-specific files: 1
2021-11-17T21:58:52.440+0100    INFO    Detecting gobinary vulnerabilities...

myimage:123456 (debia

[2021-11-18 00:03] #1201 closed

[2021-11-18 03:27] daxin09pp opened #1390 "Does Trivy support scanning for dotnet?"
I used Trivy Image to scan dotnet Image, which should have the CVE of [CVE-2021-41355](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-41355), but Trivy did not report it.

The command I used was:
`docker run --rm -v /var/run/docker.sock:/var/run/docker.sock     -v $HOME/Library/Caches:/root/.cache/ aquasec/trivy mcr.microsoft.com/dotnet/aspnet:5.0.10-alpine3.14`

But Microsoft Defender fo

[2021-11-18 06:19] #1373 closed

[2021-11-18 06:21] rohitagg2020 commented on #1373
Also we need to have this template in our machine before refering it. So we have to download it from trivy github. For more info, see this issue:
https://github.com/aquasecurity/trivy/issues/1353

[2021-11-18 06:49] AndreyLevchenko commented on #1387
@knqyf263 I'm able to reproduce it, investigating

[2021-11-18 08:23] psandeep09 opened #1392 "Does Trivy work with windows docker images?"

[2021-11-18 08:34] knqyf263 commented on #1392
Duplicate of https://github.com/aquasecurity/trivy/issues/738

[2021-11-18 08:34] #1392 closed

[2021-11-18 08:35] knqyf263 commented on #1389
Trivy checks `/var/lib/dpkg/status`.

[2021-11-18 09:17] sjkeerthi opened #1393 "Trivy support needed on RockyLinux"
Hi All,
Since after the CentOS issue now RockyLinux was considering most of the deployment please include RockyLinux support for the scan and package installation since the same rpm will work not sure will identify the vulnerability CVE

[2021-11-18 09:18] sjkeerthi commented on #1393
trivy fs /
2021-11-18T09:17:44.288Z	INFO	Need to update DB
2021-11-18T09:17:44.288Z	INFO	Downloading DB...
24.81 MiB / 24.81 MiB [---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------] 100.00% 34.51 MiB p/s 1s
2021-11-18T09:17:54.675Z	INFO	Detected OS: rocky
2021-

[2021-11-18 09:26] saivenkateshedem opened #1394 "Trivy as kubernetes pod"
Can we deploy trivy as kubernetes pod and route traffic to this kubernetes service from jenkins to scan and generate report?Basically to isolate trivy from jenkins due to traffic

[2021-11-18 09:27] saivenkateshedem commented on #1353
Thanks for the solution.It helped

[2021-11-18 09:27] #1353 closed

[2021-11-18 10:38] aleksrosz commented on #1389
Thank you

[2021-11-18 10:38] #1389 closed

[2021-11-18 12:27] shashikumar001 opened #1395 "Need for Canonical Path in template file."
Is there anything in template file that we get to know about from which file in the code the CVE's generated by Trivy. It is always good to know from which source code the CVE's are added and something like canonical path would really help in the template.

[2021-11-18 13:42] Anshu2405 opened #1396 "Few CVEs are not reported for *Jetty* artifacts which are present in NVD"
## Description
Below CVEs are reported for all jetty artifacts like jetty-webapp-9.4.38.v20210224.jar , jetty-server-9.4.38.v20210224.jar , jetty-io-9.4.38.v20210224.jar etc. in NVD. But these are not reported by Trivy.

CVE-2021-28163
CVE-2021-28164
CVE-2021-28165
CVE-2021-28169
CVE-2021-34428
CVE-2021-34429

## What did you expect to happen?
All the CVEs should be reported for all jetty* artifac

[2021-11-18 13:56] knqyf263 commented on #1396
@rahul2393 Could you take a look?

[2021-11-18 14:22] afdesk commented on #721
hi @lovelyplanet2019!
I can reproduce your problem.
Is your image name correct?
I couldn't pull this image:
[code]

[2021-11-18 14:41] Anshu2405 opened #1397 "False Positive on all pip:* versions (Python module)"
## Description

False positive found on python module:  pip:* . CVE-2021-28363 has been reported for  pip* module versions listed below:
pip:19.2.3
pip:19.0.3
pip:10.0.1
pip:8.1.2
pip:9.0.3
pip:9.0.1
pip:20.2.4
pip:20.2.3
pip:20.0.2

But as per CVE description , CVE-2021-28363 is valid for urllib3 library 1.26.x before 1.26.4

## What did you expect to happen?

 CVE-2021-28363 should not be report

[2021-11-18 14:49] Anshu2405 opened #1398 "False Positive on all cryptography:* versions (Python module)"
## Description

False positive found on python module: cryptography:* . CVE-2020-25659 has been reported for cryptography* module versions listed below:
cryptography:1.5
cryptography:1.5.2
cryptography:2.1.4
cryptography:2.1.3
cryptography:2.8

But as per CVE description , CVE-2020-25659 is valid only for python-cryptography 3.2

## What did you expect to happen?
 CVE-2020-25659 should not be repo

[2021-11-18 19:23] strainovic opened #1400 "Client-server library scan results in FATAL error"
## Description

We're using the client-server Trivy feature to scan images remotely. We noticed for some of our images that Trivy fails with the following error:

[code]

If we scan OS packages only, everything works fine.

Interesting part is if we scan the same image locally with command trivy [image], it works for os and library without any issue.

[code]

## Output of `trivy -v`:

[code]

Did

[2021-11-18 22:42] jesco39 commented on #1400
I am also unable to scan some images with the default, `vuln-type os,library`, I am able to scan, `vuln-type os` on trivy 0.21.0 in client mode. Where as I am able to scan the default, `vuln-type os,library` in stand alone mode for the following images.

alpine/k8s:1.21.2 - has a large output so here is a snippet
[code]

node:17.1.0-alpine3.12 - full debug output
[code]

[2021-11-19 00:03] #1173 closed

[2021-11-19 14:01] szpak opened #1402 ""--ignore-unfixed" doesn't work with "image" as expected"
## Description

A scan with "--ignore-unfixed" for images behaves differently if "image" keyword was used in a call or not.

## What did you expect to happen?

I should be able to call `trivy --ignore-unfixed some-image` and `trivy --ignore-unfixed image some-image` to get the same results.

## What happened instead?

Using `image` seems to cause `--ignore-unfixed` to be ignored:

[code]

[code]

[2021-11-20 14:13] WorldVirus commented on #1200
Hi !
I am new in open source. But can I take this issue ?

[2021-11-21 08:05] knqyf263 commented on #1393
Duplicate of https://github.com/aquasecurity/trivy/issues/1053

[2021-11-21 08:05] #1393 closed

[2021-11-21 08:08] knqyf263 opened #1404 "chore(goreleaser): docker.use_buildx should not be used anymore"
## Description
GoReleaser displays the following warning.

[code]

## Reference
https://goreleaser.com/deprecations#dockerusebuildx

[2021-11-21 08:29] knqyf263 commented on #1200
Sure. We have to develop a parser for pnpm at first. You can refer to other parsers. Please feel free to ask any questions.
https://github.com/aquasecurity/go-dep-parser/issues/65

[2021-11-21 08:32] knqyf263 opened #1405 "Scanning Oracle Linux Image"
### Discussed in https://github.com/aquasecurity/trivy/discussions/1403

<div type='discussions-op-text'>

<sup>Originally posted by **alexanderkiel** November 19, 2021</sup>
I question whether Trivy scans Oracle Linux 8.5 correctly. If I do it, I get zero vulnerabilities:

[code]

However the previous version 8.4 had the following vulnerabilities:

[code]

Is it possible that Oracle fixed every s

[2021-11-21 08:33] knqyf263 commented on #1405
@afdesk Could you take a look?

[2021-11-21 08:34] knqyf263 commented on #1402
Try `trivy image --ignore-unfixed`. Feel free to reopen the issue if it doesn't address your issue.

[2021-11-21 08:34] #1402 closed

[2021-11-21 08:59] knqyf263 commented on #1394
You can use our helm chart.
https://github.com/aquasecurity/trivy/tree/main/helm/trivy

[2021-11-21 11:20] nilushancosta commented on #1404
I would like to help and will send the PR with the fix

[2021-11-21 11:23] afdesk commented on #1405
ok, sure
I can reproduce this issue. will investigate it

[2021-11-21 11:38] nilushancosta commented on #1398
@Anshu2405 , according to [CVE-2020-25659](https://github.com/advisories/GHSA-hggm-jpg3-v476), cryptography module versions below 3.2 are vulnerable. The vulnerability has been patched in version 3.2. Since the module versions you have listed above are < 3.2, this seems to be a true positive

[2021-11-21 14:16] knqyf263 commented on #1404
Thanks.

[2021-11-21 15:04] afdesk commented on #1227
@wagde-orca sorry for waiting...
unfortunately, `trivy` doesn't detect vulnerabilities inside unpacked applications...

[2021-11-21 17:06] afdesk commented on #1405
It's really interesting issue. I can see the result without vulnerabilities for `trivy i oraclelinux:8.5`.
and it looks like all packages were updated.

I did some actions:
1. selected all packages with vulns from `oraclelinux:8.4`. there are 47 such packages.

2. printed all CVE for these 47 packages with versions (the log is [here](https://gist.github.com/afdesk/8d09ebc7750fba08d9bf218c7992fcc9)

[2021-11-22 00:03] #1175 closed

[2021-11-22 03:48] ckcr4lyf opened #1407 "False Positive: Trivy detecting CVE even after fix applied (node/npm)"
## Description

`npm` in the node base image has a vulnerability. Using a dockerfile step to update npm should remove the dependency which is vulnerable, but trivy still picks it up.

## What did you expect to happen?

It should not detect the non-existent vulnerability

## What happened instead?

It does

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional det

[2021-11-22 09:04] cdupuis commented on #1164
Another +1 here. This would be super useful.

[2021-11-22 09:43] gboer opened #1408 "False positive for docker (CVE-2021-41190) installed on Alpine 3.14.2"
## Description

I've ran an image scan on an Alpine image (version 3.14.2) with the latest docker installed (20.10.11-r0), but it incorrectly says that the vulnerability is still there, because the fixed version `20.10.11.r0` is not installed (notice the `.` instead of `-`).

## What did you expect to happen?

I expect Trivy to correctly determine that the latest Docker package has been installed

[2021-11-22 11:10] AndreyLevchenko commented on #1385
Hi @WhyJee
Thank you for the details. We are investigating issue internally

[2021-11-22 11:58] GioMac commented on #1053
Actually Rocky must be detected as "RHEL/Rocky".
But Centos is not the RHEL downstream anymore (well, definitely different after Y2022) and it should be detected as "Centos".

[2021-11-22 14:39] robervexcel commented on #1320
It's fixed in chart version 0.4.7. Thank you!

[2021-11-22 14:39] #1320 closed

[2021-11-23 04:46] #1394 closed

[2021-11-23 04:46] saivenkateshedem commented on #1394
Thanks..it worked

[2021-11-23 06:22] saivenkateshedem opened #1411 "Getting error while scanning image: error in image scan: scan failed: failed to detect vulnerabilities via RPC: twirp error internal"
We are using trivy client server mode .We have installed trivy in kubernetes using helm chart present in the git repo.It got installed successfully.But when iam testing it iam getting below error

**error in image scan: scan failed: failed to detect vulnerabilities via RPC: twirp error internal: failed scan, <image-name>: failed to apply layers: layer cache missing: sha256:04cca8fe186d808482a04aa0

[2021-11-23 06:27] saivenkateshedem commented on #1400
Iam also using trivy client-server mode.Installed trivy in kubernetes via helm charts.
Iam getting below error :
**error in image scan: scan failed: failed to detect vulnerabilities via RPC: twirp error internal: failed scan, <image-name> : failed to apply layers: layer cache missing: sha256:04cca8fe186d808482a04aa0801d04d6c3a29c3788c4488175def47091a301fc**

Is it relavent to this..
I have also ra

[2021-11-23 08:10] afdesk commented on #1405
currently `trivy` doesn't contain information about vulnerabilities in the image `oraclelinux:8.5`.

I've manually added a fake vuln in drivy.db and `trivy` detects it:
[code]

[2021-11-23 09:12] saivenkateshedem commented on #1411
**How to reproduce issue:**
When i use replicaCount > 1 getting the mentioned error

[2021-11-23 09:21] afdesk commented on #1408
Hi @gboer! thanks for your report.
I'm trying to reproduce and resolve it

[2021-11-23 09:38] afdesk commented on #1408
Hi @gboer! thanks for your report!
i could reproduce this issue

[2021-11-23 09:54] afdesk commented on #1408
@gboer just for information about debug mode.
[code]

[2021-11-23 09:56] gboer commented on #1408
ah, great to see you've been able to reproduce it and thanks for the info regarding the debug mode. I tried `trivy image --debug ..`, but that didn't work. That the global options are not shown when running `trivy image --help` tripped me up.

[2021-11-23 10:45] afdesk commented on #1357
Hi @pritamstyz4ever!
I can't reproduce this issue. is it still actual?

also, I can't fetch a branch now:
[code]

[2021-11-23 10:59] afdesk commented on #1408
it seems that there is a mistake inside [secdb.alpinelinux.org](https://secdb.alpinelinux.org/v3.14/community.json):
[code]

[2021-11-23 11:07] gboer commented on #1408
Ah, I was kind of expecting something like that to be honest. Didn't seem like Trivy would be the problem here. How do you normally fix this? Contact people from Alpine to have them update it?

[2021-11-23 11:11] afdesk commented on #1408
I've created an issue there: [a strange docker version in sec db](https://gitlab.alpinelinux.org/alpine/aports/-/issues/13220). Let's wait a little.

[2021-11-23 11:17] afdesk commented on #1390
@daxin09pp thanks for your report!
I'll try to investigate it

[2021-11-23 11:23] afdesk commented on #1408
they fixed the basic problem, I think that this issue will be resolved after updating the `trivy-db`

[2021-11-23 11:57] gboer commented on #1408
wow, that's a fast response from them. I tried use `trivy image --reset` and `trivy image --clear-cache`, but still I get the 'old' results. I can see the correct version in the sec DB that you linked earlier though. Guess trivy's database still needs to be updated?

[2021-11-23 12:01] afdesk commented on #1408
the trivy db is updated every 6 hours. Let's wait a little again )

[2021-11-23 12:02] gboer commented on #1408
ah lol, will do. Thanks for the help :)

[2021-11-23 12:03] afdesk commented on #1408
last update was 5 hours ago

[2021-11-23 12:46] afdesk commented on #1408
not updated. will think over about it

[2021-11-23 12:51] afdesk commented on #1408
sorry, I was wrong. `trivy db` was updated and now I can't see `CVE-2021-41190`.
@gboer Could you recheck too?

[2021-11-23 13:01] gboer commented on #1408
Yep, all works as it should. Awesome! :)

[2021-11-23 13:04] #1408 closed

[2021-11-23 13:58] ikrainiev commented on #1407
we have faced the same issue, and as for now - you need just to ignore it by adding into .trvyignore and wait for patch from node js, because this is actually node js dependency

[2021-11-23 14:09] ckcr4lyf commented on #1407
This is an `npm` dependency techincally, not `node.js`.

However, the larger issue is even after the offending package is removed, the resultant image scans positive

[2021-11-23 14:51] rliebz opened #1412 "Include vulnerability filepath with `trivy image` output"
When running `trivy image`, the locations of the offending vulnerabilities are not included:

[code]

It is unclear to me where the vulnerability is included in the image, and therefore, what my options are for remediation. In order to find the vulnerability, I manually search the image:
[code]

Here I find out that the offender was actually a dependency of the preinstalled `npm` on the image. If

[2021-11-23 15:01] thomaschilton-viavi commented on #1385
Experiencing the same issue - however some it does not happen every time.

trivy --version
Version: 0.21.0

Today, I get no Java vulnerabilities:
`
build	23-Nov-2021 00:04:51	my-docker.artifactory.someting.net/my-service:g39bf665 (debian 11.1)
build	23-Nov-2021 00:04:51	==========================================================================
build	23-Nov-2021 00:04:51	Total: 0 (HIGH: 0, CRITICAL

[2021-11-23 16:52] krol3 commented on #1091
@dmivankov you could use other formats like (table, json, template) (default: "table")
I can't reproduce the error, you could save in other format as json, or create a template

`trivy image --format json --skip-update  --exit-code 1 --no-progress --ignore-unfixed ubuntu:20.04`

[2021-11-23 18:20] blu-IT opened #1413 "How to start trivy docker image on Synology DS720+ ?"
Hello,

I am trying to start the latest trivy docker image on a Synology NAS DS720+.
I downloaded the latest image, configured `[MY_LOCAL_CACHE_DIR_PATH]:/root/.cache/` and started the container.
Startup alway aborts, but brings no relevant details in the logs telling my why the container could not startup.

I also tried trivy 0.21.0 and 0.21.0-arm64 - always the same behavior.

Has someone an ide

[2021-11-24 00:06] krol3 commented on #1219
Hi @mkemmerz,  we will try to validate this issue. Maybe @tofuatjava could help us.

[2021-11-24 00:08] krol3 commented on #257
@wwuck  we have a PR to add a sample using warnings-ng. https://github.com/aquasecurity/trivy/pull/1266

[2021-11-24 00:16] krol3 commented on #783
@manishjagtap, are you able to scan the image in Google Artifact Registry?  We could add the relevant information to the trivy documentation.

[2021-11-24 00:28] krol3 commented on #1411
@saivenkateshedem did you use the default values of the helm chart? if not, please share the values of the helm chart

[2021-11-24 04:00] saivenkateshedem commented on #1411
@krol3 I have modifed some of the values.Below is the values.yml

**nameOverride: ""
fullnameOverride: ""

image:
  registry: docker.io
  repository: aquasec/trivy
  tag: 0.21.0
  pullPolicy: IfNotPresent
  pullSecret: ""

replicaCount: 1

persistence:
  enabled: true
  storageClass: "elastic"
  accessMode: ReadWriteOnce
  size: 5Gi

resources:
  requests:
    cpu: 200m
    memory: 512Mi
  limits:

[2021-11-24 07:48] afdesk commented on #1317
Hi @AErmie thanks for your interest in `trivy`.
I couldn't reproduce your issue.
my actions:
[code]
and `TrivyIAC-Results.html` contains the result.

**note**: the current dir should have `contrib` folder with templates.

[2021-11-24 08:29] #1400 closed

[2021-11-24 08:36] afdesk commented on #1390
Hi @daxin09pp!

`trivy` looks for vulnerabilities of OS packages (Alpine, RHEL, CentOS, etc.) and language-specific packages (Bundler, Composer, npm, yarn, etc.).

Your image's OS is alpine and `trivy` can detect 22 vulnerabilities.

for dotnet `trivy` supports scanning only `packages.lock.json` yet.

it seems that your case isn't in scope of the current features.

[2021-11-24 09:51] afdesk commented on #1413
Hi @blu-IT!
Can you show how you launch trivy image?
I'll try to help you

[2021-11-24 10:31] blu-IT commented on #1413
Hi @afdesk ,

thanks a lot!

So unfortunately there is not much I can tell. I configued the container with the synology docker gui:

**1. The mount path:**
![trivy1](https://user-images.githubusercontent.com/13665806/143221229-0d8e3a23-afac-4647-8dcb-f01cc3031d65.png)

**2. Standard network settings:**
![trivy2](https://user-images.githubusercontent.com/13665806/143221254-e367c94b-3565-44d0-b515-9

[2021-11-24 10:32] afdesk commented on #1250
I've created a new topic about this problem on [github.community](https://github.community/t/reporting-an-issue-with-github-security-advisories-cve-2021-27568/213941)

[2021-11-24 10:49] afdesk commented on #1413
your output looks like `trivy` runs without commands.
unfortunately, I don't have Synology right now.

but I can propose, that there isn't a target for `trivy`.

If you want to scan another image, you need to do something like it:
[code]

[2021-11-24 11:57] mih-kopylov commented on #1141
I've faced a similar case.
The dependency tree of my project doesn't have `net.minidev:json-smart` dependency, but trivy confidently alerted about `net.minidev:json-smart:2.3` which is affected with `CVE-2021-27568`

[code]

The jar is a java service based on Spring Boot.

I've unpacked the jar and found a bunch of dependencies in `BOOT-INF\lib` directory.
There was no `json-smart`.

I've extracte

[2021-11-24 11:58] afdesk commented on #1194
Hi @cmarquezrusso! thanks for your report!
It seems that I know a reason. will try to resolve it.

[2021-11-24 12:05] afdesk commented on #1141
@mih-kopylov thanks for your report.
it seems like #1250

[2021-11-24 12:23] mih-kopylov commented on #1141
@afdesk yeah, similar, but in my case it was a valid report :)

[2021-11-24 12:25] afdesk commented on #1292
Hi @happylie, @jkaiser-ioki and @paleloser! Thanks for your reports and sorry for waiting!
I'll try to reproduce this issue and resolve it.

[2021-11-24 12:35] afdesk commented on #1413
@blu-IT I don't know German, but I suppose you need to set a target here:

![изображение](https://user-images.githubusercontent.com/19297627/143239146-d2c30180-6ed0-4047-97b1-3b1699c5e6c3.png)

[2021-11-24 12:54] alexanderkiel commented on #1405
Assuming, that I don't know how the `trivy` DB works, does it need to know about the exact OS version? I assumed that `trivy` uses tools like `rpm` to query the version of packages like you did @afdesk to find vulns. What is the fake vuln entry about?