[2021-11-24 13:12] afdesk commented on #1405
@alexanderkiel I built and added manually the vulnerability for `curl` package.
the fixed version is more than current installed version in `oraclelinux:8.5'.

[2021-11-24 13:21] alexanderkiel commented on #1405
@afdesk Does that mean that `trivy` doesn't really scan the contents of the image? Does `trivy` has to look into it's DB to determine which package is installed in which OS version? Or was the curl version `7.61.1-22.el8` simply missing in the DB?

[2021-11-24 13:31] afdesk commented on #1405
@alexanderkiel `trivy` detects which packages (and its versions) are installed in the images, and then looking for vulnerabilities in `trivy db`.
`trivy` will print a message if the installed version is less than the fixed version.

[2021-11-24 13:41] afdesk commented on #1405
@alexanderkiel you can see more information in trivy debug mode:
[code]
the list is [here](https://gist.github.com/afdesk/0aa9dafc9442c9626396eb2696d0ef39)

[2021-11-24 14:02] alexanderkiel commented on #1405
@afdesk Ok and the `trivy` DB simply doesn't contain the version `7.61.1-22.el8` of curl? So `trivy` doesn't see a vulnerability in this version? I try to understand why `trivy` has false negatives here.

More background: oraclelinux:8.5 is currently used by openjdk:17. Some weeks ago openjdk:17 used oraclelinux:8.4. There was a time were `trivy` didn't seen any vulnerabilities in oraclelinux:8.4

[2021-11-24 14:12] afdesk commented on #1405
yes, `trivy` doesn't contain vulnerabilities affecting the installed package versions.

let me investigate it. thanks for your report.

[2021-11-24 17:00] pritamstyz4ever commented on #1357
Yes, it's still an issue for me. Please use branch `main`.
Also, the command [tfsec](https://github.com/aquasecurity/trivy/issues/1357#issuecomment-968476680) seems ok.
But the `trivy` command is what fails

[2021-11-25 03:34] afdesk commented on #1357
@pritamstyz4ever thanks!
will investigate more

[2021-11-25 08:49] daxin09pp commented on #1390
Hi @afdesk ,
Do you have any plans to support my case?  .Net core is hot right now, and a lot of people are using it.  I think supporting it would be great for Trivy.
Thanks,

[2021-11-25 09:10] saivenkateshedem commented on #1411
@krol3 Any update in this issue

[2021-11-25 09:57] blu-IT commented on #1413
@afdesk **THANKS!!!**

I wasn't aware of the fact that when starting the container the image to be checked has to be passed immediately!
The container starts now and ends very quickly but I can see the result inside the logs:

aquasec-trivy1 |   |  
-- | -- | --
date | stream | content
2021-11-25 09:51:05 | stdout | +---------+------------------+----------+-------------------+---------------+-----

[2021-11-25 09:57] #1413 closed

[2021-11-25 16:43] mzakarian commented on #1301
I currently have the problem that, due to my network settings, I am unable to check for misconfigured files using trivy, as I cannot access **ghcr.io/aquasecurity/appshield** from my network as described here:

https://aquasecurity.github.io/trivy/v0.21.1/misconfiguration/policy/builtin/#policy-distribution
AppShield policies are distributed as an OPA bundle on GitHub Container Registry (GHCR). Wh

[2021-11-25 19:19] tofuatjava commented on #1219
true: I focused my work on scanning images not filesystems. In my case there is no need for this.

I already have implemented the schema change to the trivy parser. I works with both schema versions. I tested it with 0.19.2 and 0.20.0 and an older LTS build of jenkins.
I will try to upgrade my private environment and will try to test it again with latest jenkins & warnings-ng build together with t

[2021-11-25 19:36] tofuatjava commented on #1219
tested with jenkins 2.322 on my local kubernetes hosted in docker-desktop
warnings-ng 9.8.0

using trivy 0.21.0 container

`// Uses Declarative syntax to run commands inside a container.
pipeline {
    agent {
        kubernetes {
            // Rather than inline YAML, in a multibranch Pipeline you could use: yamlFile 'jenkins-pod.yaml'
            // Or, to avoid YAML:
            containerTempl

[2021-11-26 00:03] #1217 closed

[2021-11-26 08:40] jgimenez commented on #299
Maybe @cloudflare could be interested in hosting this? Just a suggestion.

[2021-11-26 11:35] afdesk commented on #1357
Hi @pritamstyz4ever! I can't reproduce this issue?
Could you help?

my steps:
1. `git clone https://github.com/screwdriver-cd/aws-producer-scripts`
2. scan a raw repository `$ trivy conf --severity HIGH,CRITICAL .`
Results:
[code]
3. Initializing modules: `terraform init`
Result:
[code]
4. Run `trivy` again: `trivy conf --severity HIGH,CRITICAL .`
5. the results are [here](https://gist.github.com/

[2021-11-26 16:54] cebidhem commented on #1369
Quick one on this: I'm wondering about the reasoning here. If we can't have the `package-lock.json` scanned, how do we know about vulnerabilities in a dependancy of a package we use in `package.json` ?

Let's say I'm declaring `foo` in my `package.json`, and `foo` has a dependancy `bar` who has a vulnerability, how can I know that without scanning `package-lock.json` ?

Thanks

[2021-11-26 20:16] krol3 opened #1419 "Sarif results version in 0.21.1"
## Description

Using the latest sarif template of trivy 0.21.1. I see some differences between the older version.
It's missing some fields in the new version of sarif

### Older sarif template

![Screen Shot 2021-11-26 at 17 13 25](https://user-images.githubusercontent.com/8355621/143626373-0fcbd055-084f-492e-97ff-323fe1cc83b9.png)

### New sarif template

![Screen Shot 2021-11-26 at 17 15 40](ht

[2021-11-26 23:19] julianoborba opened #1420 "CloudFormation scan error while running trivy filesystem in v0.21.0"
## Description

Got `cloudformation scan error` while running `trivy filesystem --ignore-unfixed --vuln-type os`.

## What did you expect to happen?

No CloudFormation scan errors, the flag `trivy config` was not used.

## What happened instead?

Got `cloudformation scan error` while running `trivy filesystem`.

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Addition

[2021-11-27 17:14] joshedgarva opened #1421 "Unsure of how to fix Trivy errors in GitLab CI"
My GitLab CI/CD pipeline is comprised entirely of containers that run on the Docker executor on my Runner. As such, I presume I'm meant to use Trivy's second block of code [here](https://aquasecurity.github.io/trivy/v0.17.1/integrations/gitlab-ci/), where the Trivy image is fetched like all the other jobs in my pipeline do. However, when I do this, I get the following error:

    $ time trivy --ex

[2021-11-27 19:47] a-zen commented on #927
Hi,

I was looking into this issue but in order to fix that the fanal library needs a way to suppress the git clone output since this is happening in the library. I created the PR [335](https://github.com/aquasecurity/fanal/pull/335) for that. If that is accepted into fanal I can provide a PR to fix the issue in trivy.

[2021-11-28 00:04] #1212 closed

[2021-11-28 06:17] knqyf263 commented on #1420
@owenrumney @liamg Could you take look?

[2021-11-28 06:44] #1407 closed

[2021-11-28 07:28] #592 closed

[2021-11-28 07:43] #1194 closed

[2021-11-28 15:32] mkemmerz commented on #1219
Thanks for the feedback on this topic!

I can also verify that the Warnings NG Plugin (v9.8.0) works with Trivy >0.20. I am also able to use the jenkins plugin with `trivy fs --security-checks vuln,config`. Thus I will close this issue. Thanks again 😊

[2021-11-28 15:32] #1219 closed

[2021-11-29 03:31] #1404 closed

[2021-11-29 06:21] saivenkateshedem commented on #1411
@krol3 Can you please address this issue and update here.....thanks

[2021-11-29 09:55] javixeneize commented on #1377
@rahul2393 @knqyf263 any update on this?

[2021-11-29 12:16] afdesk commented on #1419
@krol3 Thanks for this report!
I'm investigating it now

[2021-11-29 12:49] afdesk commented on #1367
hi @jvitrifork!
thanks for your report!
I'll try to investigate this issue and resolve it.

[2021-11-29 13:23] afdesk commented on #1367
I've downloaded `jackson-databind-2.10.3.jar` and then run `trivy -d fs .`.
my result:
[code]

[2021-11-29 13:24] afdesk commented on #1367
@jvitrifork could you show your logs? thanks for help!

[2021-11-29 14:23] TFohrer commented on #1407
I'm still facing this issue even after upgrading to the latest trivy version.

@ckcr4lyf Is this fixed for you with the latest version?

[2021-11-30 06:17] ns-pcaro commented on #1407
Me too

[2021-11-30 06:23] ckcr4lyf commented on #1407
If I'm not mistaken, the linked PR fixes on of the libraries trivy uses for container scanning. However, since that library was updated, trivy has not seen a new release, so I think this issue will persist until we have a newer release.

* Library updated: 2021-11-28 https://github.com/aquasecurity/fanal/pull/333
* Current latest release: v0.21.1 on 2021-11-26 https://github.com/aquasecurity/trivy

[2021-11-30 07:19] AndreyLevchenko commented on #1369
Hi @cebidhem
Some motivation is here
https://github.com/aquasecurity/fanal/pull/263

[2021-11-30 07:21] rahul2393 commented on #1377
Hello @javixeneize sorry for delay, will be creating the PR shortly for this.

[2021-11-30 07:25] afdesk commented on #1292
I could reproduce this issue.
it seems the problem appears when the connection is lost

[2021-11-30 07:34] zestam commented on #1411
exact same issue here, using client server with trivy 0.21.0, had to revert :(

[2021-11-30 07:59] saivenkateshedem commented on #1411
@zestam with which version you are not getting the error? Iam getting this error with all versions

[2021-11-30 08:11] javixeneize commented on #1377
Thanks!

[2021-11-30 09:32] zestam commented on #1411
our installation is not via kubernetes, but RPM. so it might explain it

[2021-11-30 09:35] saivenkateshedem commented on #1411
okay...we have installed in AWS EKS..for us 0.19.1 doesn't work as it does not support node-pkg, latest version working fine with replicaCount: 1. If we give replicaCount > 1 , throwing error

[2021-11-30 11:10] zestam commented on #1411
our exact errors were:
`2021-11-25T12:47:37.421Z	FATAL	error in image scan: scan failed: failed to detect vulnerabilities via RPC: twirp error internal: failed scan, some-image:latest: failed to detect vulnerabilities: failed to scan application libraries: failed vulnerability detection of libraries: failed to new driver: unsupported type node-pkg

￼2021-11-25T13:04:31.359Z	FATAL	error in image sc

[2021-11-30 11:13] saivenkateshedem commented on #1411
@zestam This is not related to this issue.For you issue you can try latest version.It will work

[2021-11-30 11:15] zestam commented on #1411
latest version worked for simple base images, not for complex images.

[2021-11-30 11:30] zestam opened #1424 "scan failed: failed to detect vulnerabilities via RPC - unsupported type node-pkg / python-pkg"
We are using trivy client-server mode, server is running on a Centos server.
We upgraded from 0.19.1 to 0.21.0 successfully, but scans began to fail due to below errors:

[code]

[code]

Conversely, when the same images were scanned using a standalone mode (`trivy image` ..), it worked perfectly.

Note that this behavior only occurred when a complex custom image was scanned.
Scanning of simple bas

[2021-11-30 12:00] AndreyLevchenko commented on #1424
Hi @zestam
this issue is fixed in 0.21.1
https://github.com/aquasecurity/trivy/releases/tag/v0.21.1

[2021-11-30 16:34] afdesk commented on #1367
maybe I missed something?...

[2021-12-01 01:35] knqyf263 commented on #1405
Hi @alexanderkiel, I will take over the answering. Let me get straight to the point, all the packages in `oraclelinux:8.5` look up-to-date. In other words, there is no false negative.

Let's take some examples.
[code]

There are some vulnerable packages in `oraclelinux:8.4`. But all the versions in `oraclelinux:8.5` is newer than or equal to fixed versions.

[code]

The vulnerability detection see

[2021-12-01 02:15] #1420 closed

[2021-12-01 05:23] rahul2393 commented on #1377
Hello @javixeneize on furthur investigation we found that today we don't have any way to extract the binary version information for kustomize-controller, we can parse the library dependency of a golang binary but not the version. So tricy can't scan the binary itself. Please let us know if you have any ideas
Thanks

[2021-12-01 07:58] javixeneize commented on #1377
Hi

Maybe checking the hash of the binary? Don’t know how much it would affect the performance though

[2021-12-01 08:25] rahul2393 commented on #1377
Can you elaborate more on how the hash of binary relate to github version, because of vulnerability checking we compare the advisory version with binary/lib version

[2021-12-01 08:32] javixeneize commented on #1377
Yeah, it will imply a change in the way on how you detect vulnerabilities. On top of checking library+version, it would require to have a database of hashes of vulnerable binaries and the binary name. when that binary is found, check it’s hash against the database.

It is not pretty but it’s the only way I can think of detecting the vulnerable binary.

the other option would be to assume that this

[2021-12-01 08:47] knqyf263 commented on #1377
@javixeneize Thanks for your idea.

We tried it, but the database will be quite large as every binary has different hashes even with different compile options. It is difficult to maintain such a database by us. If there is a public database, we can support it.

There is a lot of software with similar names. It leads to false positives. Also, we cannot know the base image name once the custom image

[2021-12-01 08:49] javixeneize commented on #1377
Yeah I have seen it with dependency check. Not an easy solution then. Hopefully somebody can bring a better idea

[2021-12-01 14:43] afdesk commented on #1357
Hi @pritamstyz4ever!
Could you try to run `trivy` version 0.21.1?
thanks!

[2021-12-01 15:00] afdesk commented on #1317
@AErmie can i help you with something else?

[2021-12-01 15:04] afdesk commented on #1390
Hi @daxin09pp! thanks for interest in trivy.

at this time there is no plan to support scanning basic .Net images.
but `trivy` can look for vulnerabilities inside specific .Net projects (checking `packages.lock.json`) and when .NET itself is installed by package managers.

[2021-12-01 15:11] afdesk commented on #1250
as I was prompted, created another topic, now in the [the Github Help forum](https://github.community/t/a-problem-with-cve-2021-27568-of-github-security-advisories/215169)

[2021-12-01 17:21] jlamande opened #1427 "alpine 3.15 reported as unsupported"
## Description

alpine 3.15 is the latest supported version of alpine linux.
see also here: https://alpinelinux.org/downloads/

## What did you expect to happen?

Trivy to support the scan of alpine 3.15 os.

## What happened instead?

No scan

## Output :

[code]

## Output of `trivy -v`:

[code]

[2021-12-01 17:42] jlamande commented on #1427
Fixed by https://github.com/aquasecurity/trivy/pull/1422

Waiting for next release

[2021-12-01 17:42] #1427 closed

[2021-12-02 00:03] #1125 closed

[2021-12-02 02:39] pritamstyz4ever commented on #1357
Thank you @afdesk . The scan succeeded after I updated `trivy` version to  `v0.21.1`. I am closing the issue.

[2021-12-02 02:39] #1357 closed

[2021-12-02 05:23] #1419 closed

[2021-12-02 09:21] jvitrifork commented on #1367
Hmmm ... your results list another CVE ... It must be something locally. I'll dig deeper

[2021-12-02 09:36] afdesk commented on #1367
let me know if i can help you more

[2021-12-03 00:03] #1204 closed

[2021-12-03 04:40] saivenkateshedem opened #1434 "Pod Security Policy is being depreciated"
Hi,
As pod security policy is being depreciated, do we have a plan to change the kubernetes yaml specifications.Below is the blog for the proof.

https://kubernetes.io/blog/2021/04/06/podsecuritypolicy-deprecation-past-present-and-future/

[2021-12-03 14:01] alexanderkiel commented on #1405
@knqyf263 Ok thanks. Than you can close this issue.

[2021-12-05 00:03] #1233 closed

[2021-12-06 06:27] ejschoen opened #1438 "Is it possible to enable filtering of dependencies by scope in pom.xml?"
It's common to have <scope>test</scope> in Maven pom.xml files to include dependencies needed only for testing.  At the moment, Trivy detects these and reports any vulnerabilties found, even though the corresponding code is not packaged in the final jar, shaded jar, or uberjar (i.e., for Clojure).

It would be nice to be able to filter these out of the report, to save having to chase down and iden

[2021-12-06 06:28] hideme4u opened #1439 "Trivy code shows some vulnerabilties by Trivy Scanner itself"
## Description
Trivy source code when scan using Trivy binary is showing few Vulnerabilities in it.

## What did you expect to happen?
In Trivy scanner code there should not be any vulnerabilities.

## What happened instead?
Trivy scanner showed vulnerabilities in it's own code base.

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:
trivy -v
Version: 0.20.0
Vulnerability DB:

[cod

[2021-12-06 06:29] hideme4u commented on #1439
@afdesk @masahiro331 @knqyf263  How Scanner code itself has vulnerabilities that should be fixed?

[2021-12-06 06:31] afdesk commented on #1439
@hideme4u thanks for your report!
I'm checking it

[2021-12-06 07:12] afdesk commented on #1439
I see problems with next packages: `github.com/apache/thrift`, `github.com/buger/jsonparser`, `github.com/dgrijalva/jwt-go`, `github.com/gorilla/handlers`, `github.com/miekg/dns`, `github.com/sassoftware/go-rpmutils`, `github.com/satori/go.uuid` and `k8s.io/kubernetes`.

but the main module does not need these modules. it seems they're used for tests.

[2021-12-06 07:45] hideme4u commented on #1439
@afdesk  Thanks for Checking.  But how do you verified they are used only for test not in main module?
Can you please help?

[2021-12-06 07:55] afdesk commented on #1439
@hideme4u oh, maybe i missed something. give me some time

[2021-12-06 08:53] #1385 closed

[2021-12-06 08:53] #1387 closed

[2021-12-06 11:44] knqyf263 commented on #1434
Are you talking about our Helm chart?
https://github.com/aquasecurity/trivy/blob/main/helm/trivy/templates/podsecuritypolicy.yaml

[2021-12-06 11:45] knqyf263 commented on #1267
Thanks. We're working on it here.
https://github.com/aquasecurity/trivy/pull/1437

[2021-12-06 11:56] #1301 closed

[2021-12-06 14:19] mkemmerz opened #1440 "What Image does Trivy scan on Docker tag collisions?"
Hello, quick question only.

Let's say I want to scan an Image that is available locally on my machine with a specific Docker tag but the same tag also exists remotely on a Docker Hub (or any other Container Registry). What image would Trivy scan if those are 2 different images (different hashes) but share the same Docker Tag?

Would Trivy scan the local or the remote image?

[2021-12-07 00:03] #1228 closed

[2021-12-07 03:53] saivenkateshedem commented on #1434
@knqyf263 yes

[2021-12-07 04:46] hideme4u commented on #1439
@afdesk are you fixing this?  Please let us know.  Thanks for the reply.

[2021-12-07 05:39] knqyf263 commented on #1434
@krol3 Could take a look?

[2021-12-07 06:22] afdesk commented on #1439
@hideme4u yes, I'm investigating it.
sure, I'll let you know about the results soon.

[2021-12-07 07:56] DmitriyLewen commented on #1440
Hello, @mkemmerz
Trivy will scan the local image.

[2021-12-07 12:08] afdesk commented on #1439
@hideme4u
thanks for your report about vulnerabilities in `trivy`.
I investigated these vulns, and our team discussed the result.

at first, `trivy` doesn't directly use modules with vulnerabilities.

but there are dependencies which contain other dependencies with vulnerabilities.
the some of these dependencies don't completely affect us.
the another part is known and takes a time to change it.
w

[2021-12-07 12:10] afdesk commented on #1440
@mkemmerz thanks for your interest in `trivy`!
can we help you with something else?

[2021-12-07 12:21] mkemmerz commented on #1440
Thanks for the help! This was my only question so I will close this issue.

[2021-12-07 12:21] #1440 closed

[2021-12-07 12:23] richardj-bsquare opened #1442 "Identical runs of standard table output and HTML template output generate different vulnerability outcomes"
## Description

With the following Dockerfile (to simulate a vulnerability):
[code]

Run...
[code]

and then
[code]

## What did you expect to happen?

To get the following vulnerability in the table output *and* the HTML output.

[code]

## What happened instead?

The contrib/html.tpl (https://github.com/aquasecurity/trivy/blob/main/contrib/html.tpl) generates valid HTML but no vulnerabilities ar

[2021-12-07 12:50] DmitriyLewen commented on #1285
Hello, @elifarley
*Trivy* has the next logic for jar files:
*Trivy* searches pom.properties, MANIFEST.MF and jar files, gets libraries from those files and returns vulnerabilities for those libraries.
In your case, *Trivy* found the `pom.properties` file, which includes `com.fasterxml.jackson.core: jackson-databind version 2.9.7` and reported vulnerability found.

[2021-12-07 13:33] afdesk commented on #1442
Hi @richardj-bsquare! thanks for your report!
I could reproduce this issue and will try to resolve it.

[2021-12-07 13:44] Amaelh commented on #1442
Thanks, same here ! I get "No vulnerabilities found" with most templates : gitlab, gitlab-codequality, sarif, html while getting actual vulnerabilities in table and json format outputs.

[2021-12-07 13:47] afdesk commented on #1442
@Amaelh thanks for report too!
we'll investigate it.

[2021-12-07 14:13] afdesk commented on #1442
@richardj-bsquare, @Amaelh we don't have a html template for the scan results of config files yet.

[2021-12-07 14:41] Amaelh commented on #1442
Neither gitlab or sarif templates ? I ran my test with following command :

[code]

[2021-12-07 15:00] afdesk commented on #1442
@Amaelh I took a look at `gitlab` template. yes, it contains only `vulnerabilities` results, without misconfiguration problems.

[2021-12-07 15:09] afdesk commented on #1317
oh @AErmie so sorry, it was my fault, I reproduced this issue.
and we'll fix it.
thanks for the report!

[2021-12-07 15:58] krol3 commented on #1434
@saivenkateshedem  we have an issue already created for this: https://github.com/aquasecurity/trivy/issues/1305
Please take a look, and also any advice to replace it, it's welcome.

Here the PR https://github.com/aquasecurity/trivy/pull/1315

[2021-12-08 06:09] daxin09pp commented on #1390
Hi @afdesk , Thanks for your reply!
At present, most images using .Net Core are built based on Microsoft's official image. It is hoped that Trivy can support such image Scan.
Thanks!

[2021-12-08 06:36] knqyf263 commented on #1434
As @krol3 shared, we will discuss it in #1305.

[2021-12-08 06:36] #1434 closed

[2021-12-08 07:03] afdesk commented on #1442
@richardj-bsquare @Amaelh we're are working on html template right now

[2021-12-08 10:47] DontWanna1 opened #1447 "Interpretation of Fixed_Version"
Hi I am exploring the scan reports and try to understand if I should be alarmed.

Base-image: **python3.9-slim**
Offending CVE:

<html><body>

Package | Vulnerability ID    |  Severity  | Installed Version | Fixed Version
-- | -- | -- | -- | --
binutils  | CVE-2021-37322 | CRITICAL | 2.35.2-2            |

</body>
</html>

The Link (https://avd.aquasec.com/nvd/cve-2021-37322/) directs to the Affec

[2021-12-08 12:17] afdesk commented on #1447
Hi @DontWanna1!
thanks for your report!
I'll try to reproduce and resolve this issue.

[2021-12-08 12:29] afdesk commented on #1447
@DontWanna1 which version of `trivy` do you use?
[code]
I tried to scan this image (python:3.9-slim), and don't see `CVE-2021-37322`. The result is [here](https://gist.github.com/afdesk/95992aac64b0aadd2fecd3fd81e6e685).
my steps were:
[code]
I use `trivy` version 0.21.2.

[2021-12-08 12:50] DontWanna1 commented on #1447
Version: 0.19.1
That would be most welcome.
I will explore this.
Thank you.

[2021-12-08 13:09] debu99 opened #1448 "CVE-2019-17495 can not detect"
## Description

## What did you expect to happen?
 io.springfox:springfox-swagger-ui:2.9.2 should be able to detect vulnerability CVE-2019-17495

## What happened instead?
Vulnerability CVE-2019-17495 does not detected

## Output of run with `-debug`:
[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):

[2021-12-08 13:19] afdesk commented on #1448
Hi @debu99! thanks for your report!
I'll try to reproduce and resolve it.

[2021-12-08 13:52] afdesk commented on #1448
@debu99 I reproduce it. will investigate and fix. thanks

[2021-12-08 14:04] afdesk commented on #1448
`trivy` can't detect `CVE-2019-17495` for `.jar` because Advisory Databases contain this vulnerability for `npm` package, but not for `maven`.
we need to think over how to fix it, if it's possible.

[2021-12-08 14:22] afdesk commented on #1448
I've created [an issue](https://gitlab.com/gitlab-org/security-products/gemnasium-db/-/issues/175) for adding this vulnerability to  The GitLab Advisory Database. Let's wait for some time.

[2021-12-09 07:26] afdesk commented on #1448
The GitLab Team member added the missing vulnerability. we need to wait for update `trivy` vuln list.

[2021-12-09 07:27] afdesk commented on #1447
Hi @DontWanna1 did update `trivy` help you?

[2021-12-09 07:57] automation555 commented on #139
021-12-09T13:21:54.590+0530    FATAL   scan error:
    github.com/aquasecurity/trivy/pkg/commands/artifact.runWithTimeout
        /home/runner/work/trivy/trivy/pkg/commands/artifact/run.go:71
  - image scan failed:
    github.com/aquasecurity/trivy/pkg/commands/artifact.scan
        /home/runner/work/trivy/trivy/pkg/commands/artifact/run.go:216
  - failed analysis:
    github.com/aquasecurity/triv

[2021-12-09 10:32] richardj-bsquare opened #1450 "Consider adding deferring of encountered issues to existing .trivyignore file"
Currently, the .trivyignore file allows you to accept risks, but most of the time you don't want to ignore a risk, you want to defer it, since either you can't do it yet, or there is no known fix for an issue currently.

In these cases, it would be helpful to apply a timestamp to the ignore file after which the vulnerability would be reported again (indicating that it was deferred).

Example imple

[2021-12-09 10:50] richardj-bsquare commented on #1442
Ah, that's a little bit of a misunderstanding / documentation thing then; assumed underlying JSON would be the same for all vulnerability types... Happy that you are working on it though !

[2021-12-09 11:31] afdesk commented on #1447
Did you clean cache before scanning?
[code]

Yes, you're right. If we take a look at [nvd.nist.gov/vuln/detail/CVE-2021-33026](https://nvd.nist.gov/vuln/detail/CVE-2021-33026), we can see:
[code]

[2021-12-09 12:25] DontWanna1 commented on #1447
Yes, by default (Git-Job).

Thank you.

[2021-12-09 13:10] elifarley commented on #1285
Yep. but I believe the vulnerability cannot be exploited just because a given dependency is mentioned in pom.properties.
So, is there any value in reporting the vulnerability in this case? How is Trivy helping when it reports that?

[2021-12-09 13:25] afdesk commented on #1447
@DontWanna1 You're scanning `python:3.9-slim` image, right?

[2021-12-09 13:30] DontWanna1 commented on #1447
I did, yes. I have switched to python:3.10-slim, by now. Both are debian11, I think

[2021-12-09 13:37] afdesk commented on #1447
@DontWanna1 I've run `trivy -d image python:3.10-slim` and my output is [here](https://gist.github.com/afdesk/59fc17a8864059e6b98f09a77ae74793).
Do you have the same results?

[2021-12-09 19:14] krol3 commented on #1411
@saivenkateshedem I will test it and go back here

[2021-12-10 00:03] #343 closed

[2021-12-10 06:13] afdesk commented on #1448
@debu99 this vulnerability detects now.
thanks for your report!
[code]

[2021-12-10 07:03] debu99 commented on #1448
thanks, we can see it now

[2021-12-10 07:03] #1448 closed

[2021-12-10 09:21] debu99 opened #1451 "false alert on cve-2021-44228"
## Description

## What did you expect to happen?
It should not report vulnerability for cve-2021-44228 if we upgrade log4j-api to 2.15.0

## What happened instead?
It reports vulnerability cve-2021-44228

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):

[2021-12-10 13:40] afdesk commented on #1451
@debu99 thanks for your report again!
It seems that there is another package that contains `org.apache.logging.log4j:log4j-api` v2.12.1...

[2021-12-10 14:04] afdesk commented on #1451
also it seems that `spring-boot` 2.2.8 has in dependencies `log4j` v2.12.1: [Spring Boot » 2.2.8.RELEASE](https://mvnrepository.com/artifact/org.springframework.boot/spring-boot/2.2.8.RELEASE). right?

[2021-12-10 14:06] debu99 commented on #1451
no, it is apm-agent-attach-1.17.0.jar

[2021-12-10 14:06] #1451 closed

[2021-12-10 15:44] pablogalegoc opened #1453 "Inconsistencies between standard and light database (re: CVE-2021-44228)"
## Description

When running a Trivy scan with a freshly downloaded standard database, the latest log4j CVE (`CVE-2021-44228`) is reported, while running the same command with `--light`, again with a freshly downloaded database, fails to report it.

[code]

[code]

## What did you expect to happen?

Outputs from standard and light databases report the same vulnerabilities.

## What happened instea

[2021-12-10 16:37] mih-kopylov commented on #1453
Happens for me as well.

The interesting thing - both light and standard databases have CVE-2021-44228 inside, but for some reason with `--light` option trivy doesn't react.

[2021-12-10 16:40] mih-kopylov commented on #1453
Another thing - according to https://nvd.nist.gov/vuln/detail/CVE-2021-44228 the `log4j-api` isn't affected, it's only `log4j-core` that is.
I'm not sure where does the information about `log4j-api` comes to database, could it be verified?

[2021-12-10 18:50] mih-kopylov opened #1454 "Find a vulnerability in database by CVE id"
When a new CVE is announced, it may take some time before it gets into trivy database. The database itself could be cached. All that could lead to a missing vulnerability in a scanned image.

So it would be really helpful to have a cli command that verified if a CVE is in database or not.
Something like ‘trivy vulnerability get # CVE-2021-11111‘ returning the CVE info from the database or "not fou

[2021-12-10 19:13] GavinRay97 commented on #580
Thank you, this worked for me to scan a local image. Really speeds up the process of testing, and I don't have to clutter my system with `apt` dependencies.

[code]

[2021-12-11 13:55] ginkel opened #1455 "Add arm64 packages to apt repository"
Hi there,

I'd like to use trivy on arm64 Ubuntu 20.04 (running on a Raspberry Pi). Would it be possible to publish arm64 .deb packages in the trivy apt repository?

Thanks,
Thilo

[2021-12-11 15:39] sjansen1 commented on #1455
+ for that request. I just tried to install trivy on arm64 systems (Oracle Cloud arm64 Ampere Altera Systems) to look for the new log4j zeroday.

[2021-12-11 17:37] fragolinux opened #1456 "wrong version compare?"
## Description

testing trivy v0.21.2 on a custom build of the "img" tool, it reports a vulnerability in docker cli library:

`github.com/docker/cli | CVE-2021-41092   | HIGH     | v0.0.0-20211117234946-dea9396e1842 | v20.10.9      | docker: cli leaks private registry`

but that v0.0.0-20211117234946-dea9396e1842 is actually the pseudo-version format of the v20.10.11 library (had to put that in th

[2021-12-11 18:09] fragolinux commented on #1456
to test, use this commit id: 914096f3e97090bb0dd0106b2d8e8c85cf33448a, i then solved my issues in other ways, but this bug is still there if trivy compares pseudo-versions with versions

[2021-12-11 19:53] carrodher commented on #1453
Now it's being reported separately, but `log4j-api` is still appearing:
- Elasticsearch image:
[code]
- Keycloak image:
[code]

[2021-12-12 00:40] knqyf263 commented on #1337
Looks like it's not correct. It should be fixed in https://github.com/aquasecurity/trivy/pull/1437

[2021-12-12 00:45] nvuillam opened #1457 "Unable to generate Trivy SARIF report: error retrieving template from path: open contrib/sarif.tpl: no such file or directory"
## Description

In the context of the [integration of trivy within MegaLinter](https://megalinter.github.io/v6-alpha/descriptors/repository_trivy/), I need SARIF output, but when I try it it generates the following error

`trivy fs --security-checks vuln,config --exit-code 1 --format template --template @contrib/sarif.tpl -o /tmp/sarif/REPOSITORY_TRIVY.sarif .`

result: `unable to write results: f

[2021-12-12 00:57] knqyf263 commented on #1455
I think we can. We use GoReleaser to build Linux packages.
https://goreleaser.com/customization/nfpm/?h=nfpm

You can build packages in local as below.

[code]

If I understand correctly, the arm64 packages are already generated and we simply ignore them here.
https://github.com/aquasecurity/trivy/blob/c275a841fd0ef0429684185a76bc85a5e72fa843/ci/deploy-deb.sh#L16-L17

The name is replaced here.
ht

[2021-12-12 03:57] knqyf263 commented on #1254
I'm sorry I missed your messages. We have a list here, but this is for the vulnerability database. As for builtin policies, `ghcr.io` is needed. I'll update the doc.
https://aquasecurity.github.io/trivy/v0.21.2/getting-started/troubleshooting/#error-downloading-vulnerability-db

[2021-12-12 03:57] #1405 closed

[2021-12-12 05:07] mowangdk commented on #1455
@knqyf263 I'd like to try

/assign

[2021-12-12 05:09] mowangdk commented on #1455
/assign

[2021-12-12 05:09] knqyf263 commented on #1455
Thanks! I've assigned it to you.

[2021-12-12 05:14] knqyf263 commented on #1455
@mowangdk Please deploy the deb files (and rpm files if possible) to your forked repository (like mowangdk/trivy-repo) from `mowangdk/trivy` and make sure that you can install the arm64 packages on Linux.

[code]

@ginkel and @sjansen1 might help you for testing.

[2021-12-12 06:51] knqyf263 commented on #1453
@mih-kopylov @carrodher Thanks for reporting the issue! Trivy depends on GitHub Security Advisory (GHSA) and it includes log4j-api.
https://github.com/advisories/GHSA-jfh8-c2jp-5v3q

Could you report the issue to GHSA like this?
https://github.community/t/a-problem-with-cve-2021-27568-of-github-security-advisories/215169

[2021-12-12 06:54] knqyf263 commented on #1453
@pablogalegoc Thank you for filing an issue. Please let me look into the issue. Meanwhile, use Trivy without `--light`. Also, `--light` will be deprecated.
https://github.com/aquasecurity/trivy-db/pull/160

[2021-12-12 07:29] mih-kopylov commented on #1453
https://github.community/t/cve-2021-44228-advisory/217105

Done

[2021-12-12 08:20] afdesk commented on #1453
@pablogalegoc thanks for your report!
I could reproduce this issue and will investigate it.

[2021-12-12 10:10] mowangdk commented on #1455
gotcha

[2021-12-12 10:15] DracoBlue commented on #346
Ping! :)

[2021-12-12 10:33] recena commented on #1453
@knqyf263 If the light version of the DB is planned to be removed, my suggestion is to point it out in the [documentation side](https://aquasecurity.github.io/trivy/v0.21.2/vulnerability/examples/db/#lightweight-db).

[2021-12-12 10:47] knqyf263 commented on #1453
@recena Not ready yet. Once we finish preparation, We'll announce  it.

[2021-12-12 11:23] afdesk commented on #1457
Hi @nvuillam! thanks for your interest in `trivy`!
It seems that `trivy` can't find a sarif template here: `contrib/sarif.tpl`.
you need to set up a path to a sarif template.
also you can copy from here: [https://github.com/aquasecurity/trivy/blob/main/contrib/sarif.tpl](https://github.com/aquasecurity/trivy/blob/main/contrib/sarif.tpl)

[2021-12-12 11:25] afdesk commented on #1456
Hi @fragolinux! thanks for your report!
I'll try to reproduce and resolve it.

[2021-12-12 11:27] olljanat commented on #1390
You need enable `RestorePackagesWithLockFile` like it is described on [here](https://devblogs.microsoft.com/nuget/enable-repeatable-package-restores-using-a-lock-file/) to get `packages.lock.json` file which is needed by Trivy scan.

FYI. I just created this PR https://github.com/dotnet/dotnet-docker/pull/3335 about including Trivy to official samples. It is probably good idea to give couple of 👍

[2021-12-12 19:44] recena commented on #1453
@knqyf263 But you plan to do it, the community should be aware of it.

[2021-12-12 21:23] stefanlasiewski opened #1459 "Trivy not detecting CVE-2021-43798: Grafana directory traversal ?"
## Description

Grafana issued a notice about CVE-2021-43798: Grafana directory traversal this week. It affects all Grafana 8.x instances.

https://grafana.com/blog/2021/12/08/an-update-on-0day-cve-2021-43798-grafana-directory-traversal/

However, Trivy doesn't seem to be picking it up. Why os this?

## What did you expect to happen?

I expect this command to list CVE-2021-43798:

[code]

## What

[2021-12-12 21:29] stefanlasiewski commented on #1459
I can confirm that this container version is vulnerable:

[code]

[2021-12-12 21:47] jerbia commented on #1459
@knqyf263 I suspect Grafana is not installed through a package manager, but it's deployed as a binary, which currently Trivy does not support?

[2021-12-12 23:01] olljanat opened #1460 "Support minimum number of language-specific files"
Not sure if this feature does not exist or if I just have not found it yet but currently it is too easy to end up to situation that scan like:
[code]
point of folder which does not contain needed files so scan result ends up to be:
``` Number of language-specific files: 0```

That can be example result of application code refactoring by someone who don't know all the details.

That why it would be

[2021-12-13 04:54] Davidffry opened #1461 "feat : Other outputs"
Hello,

I would like to know if it enables to have other output type like *JSON* *YAML* *plain text* and so on...

[2021-12-13 07:53] mowangdk commented on #1455
@ginkel @sjansen1  I have a question about how to set GPG_KEY secrets in forked repo, and what is this used for?
![image](https://user-images.githubusercontent.com/9926112/145771635-82b18ce1-d1d1-4c44-9fea-a1d1baa78aef.png)
cc @knqyf263

[2021-12-13 09:43] Miladbr commented on #1184
@sscholl You should set as environment variables.
[code]

[2021-12-13 09:53] sscholl commented on #1184
@Miladbr nono, I can not use trivy with podman socket still.

What helped was:

(1) On environment where podman build was executed
`podman save IMAGE -o image.tar"`
(2) transfer image to trivy container
(3) `trivy .....  --input image.tar`

[2021-12-13 10:04] ginkel opened #1463 "False positive for log4j-api w/ CVE-2021-44228"
## Description

When scanning a Docker image that contains `log4j-api` >= 2.0 and < 2.15.0, Trivy reports a critical vulnerability due to CVE-2021-44228.

Only `log4j-core` is vulnerable, though.

## What did you expect to happen?

Docker images only containing `log4j-api`, but not `log4j-core` are not reported to be vulnerable.

## What happened instead?

[code]

## Output of `trivy -v`:

[code]

[2021-12-13 10:09] afdesk commented on #1463
Hi @ginkel! thanks for your report!
Trivy depends on GitHub Security Advisory (GHSA) and it includes log4j-api. [GHSA-jfh8-c2jp-5v3q](https://github.com/advisories/GHSA-jfh8-c2jp-5v3q).

Another customer wrote a report to GitHub: [https://github.community/t/cve-2021-44228-advisory/217105](https://github.community/t/cve-2021-44228-advisory/217105)

[2021-12-13 10:10] ginkel commented on #1463
That makes sense. Thanks for the quick reply!

[2021-12-13 10:10] #1463 closed

[2021-12-13 10:14] afdesk commented on #1461
Hi @Davidffry! thanks for your interest in `trivy`.
Now `trivy` supports `--format` option.
you can take a look it here: [https://aquasecurity.github.io/trivy/v0.21.2/vulnerability/examples/report/](https://aquasecurity.github.io/trivy/v0.21.2/vulnerability/examples/report/)

[2021-12-13 10:15] afdesk commented on #1461
also you can write your custom template ;)

[2021-12-13 10:24] saivenkateshedem opened #1464 "Display links column in the trivy table format output"
## Description

Trivy table output format not displaying **LINKS** column

## What did you expect to happen?
It should display LINKS column as it comes in the html report

## What happened instead?
Currently it displays the below  columns in the table format output
   LIBRARY
 VULNERABILITY ID
SEVERITY
 INSTALLED VERSION
 FIXED VERSION
       TITLE

## Output of run with `-debug`:

[code]

## Outp

[2021-12-13 10:32] Davidffry commented on #1461
Great 👍 thanks, I close the issue.

[2021-12-13 10:32] #1461 closed

[2021-12-13 10:37] afdesk commented on #1464
@saivenkateshedem thanks for your interest in `trivy`!
in the table format `title` fields contain links to the descriptions.

[2021-12-13 10:42] saivenkateshedem commented on #1464
@afdesk Thanks for the reply
Below are the screenshots of both table and html
Table
-------
<img width="820" alt="Screenshot 2021-12-13 at 4 10 19 PM" src="https://user-images.githubusercontent.com/87964472/145798046-657deec0-489b-49a6-bfb7-f91110c58e3b.png">

HTML
-------
<img width="1403" alt="Screenshot 2021-12-13 at 4 10 50 PM" src="https://user-images.githubusercontent.com/87964472/145798090-

[2021-12-13 10:42] afdesk commented on #1459
@stefanlasiewski thanks for your report!
let me investigate it.

[2021-12-13 12:10] richbecks commented on #1464
I agree, would allow clickable links in terminal output on CI/CD systems, and terminals that support it.

[2021-12-13 12:25] afdesk commented on #1464
@saivenkateshedem oh, I understood it.
@richbecks thanks for your feedback too!

it seems It's not a bug, right?
we need to discuss this changes with @knqyf263

[2021-12-13 12:27] afdesk commented on #1464
I thought there were enough links to [aqua vulnerability db](https://avd.aquasec.com/)

[2021-12-13 12:27] saivenkateshedem commented on #1464
@afdesk thought like this is an issue because links are showing in html format not in tablular format...now i understood that tabular format doesnt show that..Yes this doesnt like a bug...We can mark it as a feature

[2021-12-13 13:30] jainpratik163 opened #1468 "Docker images is not pull during scan"
## Description
we are trying to run docker image scan for CVE and it fails if docker image is not present , ideally it should pull automatically if image is not present

## What did you expect to happen?
if the docker image is not present it should pull automatically

## What happened instead?
unable to inspect the image getting this image is image is not present.

## Output of `trivy -v`:
Version

[2021-12-13 14:52] MartinKirchner commented on #1367
I have the same issue with jackson-databind-2.11.0.jar. Trivy detects it as 2.3.3.
Furthermore it detects
"org.eclipse.jetty:jetty-http 8.1.15.v20140411"
"org.eclipse.jetty:jetty-io 8.1.15.v20140411"
"org.eclipse.jetty:jetty-server 8.1.15.v20140411"
"org.eclipse.jetty:jetty-util 8.1.15.v20140411"
which are also not part of the WAR.

I unzipped my WAR and ran trivy:

[code]

[2021-12-13 14:59] zeldigas opened #1470 "Support "executable" spring-boot jars for scanning"
SpringBoot has a feature to build "*nix executable" jar files that essentially consists of a shell script and real jar file appended below - https://docs.spring.io/spring-boot/docs/current/maven-plugin/reference/htmlsingle/#goals-repackage-parameters-details-executable.
Right now trivy does not support such files - it does not fail scan, but such a file is simply skipped. Would be great to support

[2021-12-13 16:22] corey-cole opened #1472 "Add Twistlock output compatibility"
Create a template for the contrib/ directory that writes Trivy output using a subset of the Twistlock JSON format documented [here](https://docs.paloaltonetworks.com/prisma/prisma-cloud/prisma-cloud-admin-compute/tools/twistcli_scan_images)

[2021-12-13 16:35] timo-klarshift commented on #90
I really dont think this is true. If we humans can know it why can trivy not ? You would simply have to check all dependencies in yarn.lock file and see why they are there (eg referenced by other packages, etc) - so a dependency is either there because you referenced it directly in devDependencies or dependencies or because its a dependency of the former. I think this is just a bit of tree travers

[2021-12-13 18:54] afdesk commented on #1459
@jerbia you're right, Grafana deployed as a binary, and `trivy` doesn't detect it.

[2021-12-13 18:58] afdesk commented on #1468
Hi @jainpratik163! thanks for your report!
it's a strange behavior, `trivy` should pull the missing image. but `trivy` doesn't save it after scanning.

maybe is there a problem with repository? do you use [Docker Hub](https://hub.docker.com/)?

[2021-12-13 19:04] stefanlasiewski commented on #1459
@afdesk Interesting. Is there a way for Trivy to detect this? Does Trivy look at the md5 sums of installed binaries, for example?

For the record, `docker scan` (which uses Snyk) doesn't find the vulnerability either:

[code]

[2021-12-13 19:19] afdesk commented on #1459
@stefanlasiewski in this case, `trivy` detected and checked two binary files `grafana-cli` and `grafana-server` (contains three medium vulnerabilities).
but the app is a scope of files... need to think over it.

Thanks for your investigation!

[2021-12-13 21:07] MartinKirchner commented on #1367
I could downstrip the example to a single library: `ehcache-2.10.1.jar`

Maven coordinates:
[code]

[2021-12-13 21:27] MartinKirchner commented on #1367
I now unzipped the JAR and searched for the offending names:

[code]

So it seems that ehcache sort of repackages the offending libraries. I cannot say yet from which version the repackaged class files are.

So as an intermediate request to trivy I'd like to propose to print out the path to the offending library.

[2021-12-13 23:38] dimon222 commented on #982
Is there a way to still scan JARs but skip checking for existence on Maven?

[2021-12-14 01:16] krol3 commented on #1411
I tested with replicaCount: 2, I could install successfully the helm chart.
I used the 0.21.2 version

[2021-12-14 03:05] santosomar opened #1475 "Enhancement request to support the Common Security Advisory Framework (CSAF) format."
The Common Security Advisory Framework Version 2.0 is now an approved specification in the industry. Details about the specification can be found at: https://csaf.io and https://docs.oasis-open.org/csaf/csaf/v2.0/cs01/csaf-v2.0-cs01.html

[CSAF](https://docs.oasis-open.org/csaf/csaf/v2.0/cs01/csaf-v2.0-cs01.html) is a language to exchange Security Advisories formulated in JSON. CSAF v2.0 is the de

[2021-12-14 03:55] saivenkateshedem commented on #1411
@krol3 Installation is successful for me too..while i was testing with trivy command iam getting the error
command:
trivy client --remote <trivy-domain-name>  ${DOCKER_IMAGE} > ${DOCKER_IMAGE}.txt"

[2021-12-14 04:08] jainpratik163 commented on #1468
when i am trying to run command getting the below error

2021-12-14T06:06:26.377+0200    INFO    Need to update DB
2021-12-14T06:06:26.377+0200    INFO    Downloading DB...
25.18 MiB / 25.18 MiB [----------------------------------------------------------------------------------------] 100.00% 10.69 MiB p/s 3s
2021-12-14T06:06:30.415+0200    FATAL   scan error: unable to initialize a scanner: unabl

[2021-12-14 10:18] kaz-33 commented on #851
Hello all,
no progress in this topic?
Br

[2021-12-14 11:25] noorul opened #1476 "For newrelic Java agent version 7.4.0 CVE-2021-44228 is not reported"
## Description

## What did you expect to happen?

Trivy should report CVE-2021-44228.

## What happened instead?

It did not show any vulnerability.

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):

Image:
[code]
Steps:

[code]
[code]
Output:
[code]

[2021-12-14 12:34] zestam commented on #1424
@AndreyLevchenko issue persists in 0.21.2, any node or python image we have, fails due to the same error.
we revert back to 0.19.1 and it scans successfully the same images.

[2021-12-14 15:22] AkselAllas commented on #1173
I have the same problem.

[code]

Any suggested workaround or option to use maven mirror to avoid above error ?

[2021-12-14 15:26] AkselAllas opened #1477 "Make filesystem scan for java jar actually work?"
For a bigger java application I (most-likely?) get rate-limited by maven.

After some time, from that server I can curl `search.maven.org` again, while after scan I can't.

[code]

Literally doesn't provide any value with jar scans not working :(

[2021-12-14 15:33] AkselAllas commented on #1477
Maybe it's because I'm trying to parallalize these requests, but they are coming from the same NAT gateway.

[2021-12-14 15:54] Freydal commented on #1141
Hey I'm coming here after having a similar experience as some of the ones mentioned above after a vulnerability crack down.  Thanks Log4j.  My first project's culprit was ehcache similar to above. Fighting with that was enough to drive me to open up the hood of trivy.  The next repo I used to find a solution by modifying trivy(ultimately go-dep-parser) had a test jar i didn't notice that wasn't sc

[2021-12-14 17:52] fighterhit opened #1478 "image scan failed"
I got some following errors, but I don't know why it occurs.
[code]

trivy version:
[code]

os version:
[code]

[2021-12-14 23:49] debu99 opened #1479 "skip-files is not working"
## Description

## What did you expect to happen?
skip-files should be working as described

## What happened instead?
v0.19.2 is still working but not working since v0.20.0

## Output of run with `-debug`:

0.21.1
[code]

0.19.2
[code]

## Output of `trivy -v`:
[code]

## Additional details (base image name, container registry info...):

[2021-12-15 00:49] krol3 commented on #1411
@saivenkateshedem I tested the helm chart version locally using the latest version. I had this results

[code]

[2021-12-15 01:35] pryorda commented on #1470
with the recent log4j vuln, this would be amazing!

[2021-12-15 01:54] noorul commented on #1476
After looking at the code https://github.com/aquasecurity/go-dep-parser/blob/main/pkg/java/jar/parse.go#L110 and trying to go through the contents of the JAR file manually, it looks like there is no metadata that can be used to figure out which version of log4j is being shipped.

[2021-12-15 02:01] noorul commented on #1476
I filed an issue with newrelic https://github.com/newrelic/newrelic-java-agent/issues/612

[2021-12-15 11:07] DmitriyLewen commented on #1479
Hi @debu99  thanks for your report!
We will fix this bug in the next version, for now you can use an absolute path for skipFiles/skipDirs, it works.

[2021-12-15 13:44] mowangdk commented on #1455
@ginkel @sjansen1 @knqyf263  I have successfully generated the deb package, but it still fails when I update the source on ubuntu. What should I check for this situation?

![image](https://user-images.githubusercontent.com/9926112/146196466-ddefca08-3568-4175-9fd4-8ad27e0a5b40.png)
![image](https://user-images.githubusercontent.com/9926112/146197195-090baa32-8dd8-4494-a4ce-7ba144df4c2b.png)

[2021-12-15 16:47] mowangdk commented on #1455
ok， Thanks~

[2021-12-15 17:33] #1479 closed

[2021-12-15 17:37] SimonAlling commented on #828
Not even specific to `--vuln-type`, AFAICT. Let's say I want to check images for the presence of Log4Shell, using these images as examples:

* [`ghcr.io/christophetd/log4shell-vulnerable-app`](https://github.com/christophetd/log4shell-vulnerable-app), which has Log4Shell
* `alpine:3.13.6`, which doesn't have Log4Shell but does have other vulnerabilities
* `alpine:3.13.7`, which has no vulnerabilit

[2021-12-15 17:38] knqyf263 commented on #1278
As @bryankmorrow said, you need to specify the format. And they should be passed after `trivy image`.

[2021-12-15 17:38] #1278 closed

[2021-12-15 18:00] knqyf263 commented on #1476
@noorul What did you scan? `newrelic.jar` may not contain the dependent JAR files inside the JAR file. In that case, you have to scan the dependencies, not `newrelic.jar`. For example, a JAR file may be located like `/home/user/.m2/repository/log4j/log4j/x.x.x/log4j-x.x.x.jar`, not inside of `newrelic.jar`.

[2021-12-15 18:08] #1455 closed

[2021-12-15 18:15] knqyf263 commented on #1453
@recena No, I don't think so. We will announce enough period for the migration. It will confuse users to announce it before we are not ready.

[2021-12-15 18:22] afdesk commented on #1468
@jainpratik163 it seems that `trivy` can't get `ServerURL` for your registry...

[2021-12-15 19:23] distortedsignal opened #1481 "False negative on CVE-2021-22448?"
## Description

I'm almost certain that I'm doing something wrong with trivy, but I'm getting a false-negative from Trivy for CVE-2021-22448. My test looks like this:

[code]

I expected CVE-2021-22448 to pop up in the list of vulns that trivy pushed out for this image since the affected *.jar file exists in the image. Is my understanding incorrect?

## What did you expect to happen?

I expected C

[2021-12-15 19:28] #1453 closed

[2021-12-16 04:11] saivenkateshedem commented on #1411
@krol3 I have deployed the trivy helm chart in aws eks with the replica count 2. Iam getting the error.
trivy client --remote remote-url image-name
2021-12-16T04:02:28.110Z	FATAL	error in image scan: scan failed: failed to detect vulnerabilities via RPC: twirp error internal: failed scan, acko-home-dev:dev-39: failed to apply layers: layer cache missing: sha256:04cca8fe186d808482a04aa0801d04d6c3a2

[2021-12-16 05:02] tbigby-kristin commented on #1412
I was thinking this was a regression in 0.20.0, as in 0.19.2 you could see the file path in the vulnerability report.

However, the output from 0.20.0 suggests that all the libraries are being scanned in one go and the individual File Path of the library is not reported.

An example might be scanning the Keycloak container (a Java based application).

In 0.19.2:

`# trivy image --severity CRITICAL

[2021-12-16 09:27] mowangdk commented on #851
I would be happy to have some guidance to take this issue. @knqyf263

[2021-12-16 09:51] knqyf263 commented on #851
Trivy depends on fanal which is a core library communicating with container runtime. Inside of fanal, it calls the API provided by container runtime. You can find two examples.
- Docker Engine
  - https://github.com/aquasecurity/fanal/blob/1b333c8c39958b5687354c9808dc28d1d90190b6/image/daemon/docker.go#L14-L53
- Podman
  - https://github.com/aquasecurity/fanal/blob/1b333c8c39958b5687354c9808dc28d1

[2021-12-16 09:56] knqyf263 commented on #851
@mowangdk Please feel free to ask any questions!

[2021-12-16 11:08] AndreyLevchenko commented on #1424
Hi @zestam
I'm sorry for troubles.
First what comes to mind check if both server and client are upgraded. If they both are at 0.21.1 then could you please provide more details. Stacktraces from both server and client sides would be very useful

Thanks
Andrey

[2021-12-16 11:26] knqyf263 opened #1483 "feat(java): support pom.xml"
## Description
Support pom.xml like other lock files. We need to resolve dependencies on our end as `pom.xml` is not a lock file.

https://github.com/aquasecurity/go-dep-parser/pull/18

[2021-12-16 11:40] StephGit opened #1484 "False negative on CVE-2021-37714"
## Description

I have different scan results with `trivy:v0.19.2` and `trivy:0.21.2` on the same image. This leads to uncertainty.
Maybe I understand something wrong...

## What did you expect to happen?

CVE-2021-37714 to show up on both trivy-versions

## What happened instead?

CVE-2021-37714 only shows up on trivy:v0.19.2

## Output of run with `-debug`:

scan with v0.19.2 -> CVE-2021-37714 s

[2021-12-16 11:52] knqyf263 commented on #1475
If I understand correctly, CSAF is similar to OVAL and CVRF and they are input for vulnerability detection. Is there any benefit to output the result in CSAF format? For example, Trivy consumes OVAL and CVRF, but it doesn't generate the result in those formats.

[2021-12-16 13:00] AndreyLevchenko commented on #1484
Hi @StephGit
Thank you for bringing this up
I did some testing and I was unable to reproduce it with dockerfile like
[code]
and `jsoup-1.12.1.jar`
Could you please check if you can reproduce it with my dockerfile?

Thanks
Andrey

[2021-12-16 13:32] zestam commented on #1424
@AndreyLevchenko what exactly do you need me to run ? --debug flag ?

[2021-12-16 14:08] AndreyLevchenko commented on #1285
Hi @elifarley
I looked at ehcache-2.10.6.jar contents and along with `pom.properties` there are actual java classes in `rest-management-private-classpath/com/fasterxml/jackson/databind` and from what I can understand `rest-management-private-classpath`folder  is used by custom [classloader](https://github.com/ehcache/ehcache2/blob/main/ehcache-core/src/main/java/net/sf/ehcache/management/Managemen

[2021-12-16 14:33] AndreyLevchenko commented on #1424
@zestam
yes --debug and all contents of 'FATAL' log entries (like in this comment
https://github.com/aquasecurity/trivy/issues/1400#issuecomment-973342905)
Original issue I fixed produces them on both client and server sides.

[2021-12-16 17:22] StephGit commented on #1484
Hi @AndreyLevchenko

Nope, couldn't reproduce it. In both versions the CVE shows up.

[2021-12-16 18:54] distortedsignal commented on #1481
Bump?

[2021-12-16 20:12] Constantin07 opened #1485 "Podman image scan fails - expecting /run/user/0/podman/podman.sock instead of /run/podman/podman.sock"
## Description

Trivy looks for the wrong socket in order to scan podman images.

[code]

[code]

## What did you expect to happen?
Trivy to connect to the `/run/podman/podman.sock` socket.

## What happened instead?
It connects to the non-existent `/run/user/0/podman/podman.sock`

If I change the `XDG_RUNTIME_DIR` env. variable from `/run/user/0` to `/run`, trivy runs just fine.

## Output of run

[2021-12-16 20:35] mbentley commented on #1091
Any examples you might have to be able to output in table format but with no color?  JSON doesn't solve that as it is not what I would call human readable.  Good example is running in a Jenkins job as you're not going to get colors to be visible by default.

![screenshot 2021-12-16 at 3 34 20 PM](https://user-images.githubusercontent.com/414445/146445184-7373c221-0a0b-43fe-bda4-29a1e4fc7830.png)

[2021-12-17 04:43] jainpratik163 commented on #1468
this is error
2021-12-17T06:41:50.513+0200    FATAL   scan error: unable to initialize a scanner: unable to initialize a docker scanner: 3 errors occurred:
        * unable to inspect the image (dockerreg/apigw-app:2.3.2): Error: No such image: dockerreg:5001/apigw-app:2.3.2
        * unable to initialize Podman client: no podman socket found: stat /run/user/0/podman/podman.sock: no such file or d

[2021-12-17 04:48] afdesk commented on #1468
It seems that is a reason, why `trivy` can't pull images, right?

[2021-12-17 04:49] afdesk commented on #1468
or I missed something

[2021-12-17 05:20] jainpratik163 commented on #1468
my docker registry is on HTTP and trivy doesn't support the HTTP registry?

[2021-12-17 10:54] saivenkateshedem opened #1487 "UI to list all trivy projects"
Is there a interface/UI  for trivy where we can see all list of projects and its vulnerabilities in a single place?.

We have integrated trivy in the jenkins pipeline...we want to know whether we can view all project results in a single place

[2021-12-17 12:45] AndreyLevchenko commented on #1484
Hi @StephGit
this is good question. I suspect it's some cache issue

[2021-12-17 12:57] AndreyLevchenko commented on #1481
Hi Tom
thank you for reporting this
Let me investigate.

[2021-12-17 15:07] debu99 commented on #1463
log4j 2.12.2 already fixed the issue, but still in the version range?

[2021-12-17 16:26] survivant opened #1489 "private registry on http doesn't work"
I installed wsl2 on Windows 10 with Ubuntu 20.10 distribution.  I have Docker desktop on my PC.

I'm not able to scan images that are hosted in my private repository.  I'm using Docker registry v2 on HTTP without credentials.

I remove my images locally
[code]

if I try to run Trivy it won't work

[code]

the workaround is to download the images locally and launch trivy again

[code]

[2021-12-17 17:41] distortedsignal commented on #1481
Thanks, @AndreyLevchenko! Let me know if there's anything that I can do to help out!

[2021-12-19 08:33] knqyf263 commented on #1489
Could you try `TRIVY_NON_SSL=true`?

[2021-12-19 09:03] knqyf263 commented on #1487
I'm sorry, but we don't have it at the moment. If someone develops it, our doc can refer to that. Thanks.
https://aquasecurity.github.io/trivy/v0.21.2/advanced/community/tools/

[2021-12-19 09:03] #1487 closed

[2021-12-19 09:41] knqyf263 commented on #1468
Looks like the same issue as https://github.com/aquasecurity/trivy/issues/1489. Could you try `TRIVY_NON_SSL=true`?
https://aquasecurity.github.io/trivy/v0.21.2/advanced/private-registries/self/

[2021-12-19 09:47] knqyf263 commented on #1475
@santosomar Thanks for your explanation! Sounds like interesting. We've added the task to our backlog and we're welcome to any contribution!

[2021-12-19 16:19] debu99 opened #1490 "false alert on CVE-2021-44228"
## Description
There is false alert for log4j version 2.12.2, this version actually fixed CVE-2021-44228
https://github.com/apache/logging-log4j2/tags

## What did you expect to happen?
Should not report  CVE-2021-44228

## What happened instead?
report CVE-2021-44228

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container regis

[2021-12-20 00:03] #1256 closed

[2021-12-20 02:48] olivejing opened #1491 "trivy vulnerabilities"
## Description

I used v17.2, trivy vulnerabilities were found during trivy scan.

LIBRARY | FIXED VERSION | VULNERABILITY ID | SEVERITY
-- | -- | -- | --
github.com/containerd/containerd | v1.4.11, v1.5.7 | CVE-2021-41103 | HIGH
github.com/containerd/containerd | v1.3.10, v1.4.4 | CVE-2021-21334 | MEDIUM
github.com/containerd/containerd | v1.4.8, v1.5.4 | CVE-2021-32760 | MEDIUM
github.com/docker

[2021-12-20 04:37] mpgioia commented on #1103
@ericpromislow Can you DM me with some help in running this in WSL\Ubuntu please ? I need to do this.

[2021-12-20 04:51] jainpratik163 commented on #1468
Thanks with this export TRIVY_NON_SSL=true it works.

[2021-12-20 05:31] knqyf263 commented on #1491
Try the latest version

[2021-12-20 05:32] #1489 closed

[2021-12-20 05:33] #1468 closed

[2021-12-20 05:47] afdesk commented on #1291
Hi @seraphain, @szpak! thanks for your interest in `trivy`!
I'd like to understand more about this issue.

I've downloaded `htrace-core4-4.1.0-incubating.jar` and run `trivy` in debug mode:
[code]
I can see a lot of vulnerabilities for `com.fasterxml.jackson.core:jackson-databind`:
[code]

then I took a look inside `htrace-core4-4.1.0-incubating.jar`, and there is no any jar files, but there are s

[2021-12-20 09:15] RolphH commented on #1283
I'm having the same issue. Any update would be nice. I saw this was fixed for the vendor folder: https://github.com/aquasecurity/trivy/issues/147

[2021-12-20 09:17] RolphH commented on #1350
Any update on this issue?

[2021-12-20 09:21] jonny-wg2 commented on #1453
@knqyf263 does Trivy get it's data from any other sources? Can't find reference to this in docs.

[2021-12-20 10:05] lloydnye commented on #1490
All reported vulnerabilities for log4j-api are false positives. CVE-2021-44228, CVE-2021-45105, CVE-2021-45046

This is according to https://logging.apache.org/log4j/2.x/security.html

[2021-12-20 11:19] DmitriyLewen commented on #1481
Hello @distortedsignal
Can you clear the `trivy` cache? You can use this command, for this:
[code]
Then scan your image again.

Thank you!

[2021-12-20 12:30] AndreyLevchenko commented on #1485
Hi @Constantin07
`XDG_RUNTIME_DIR` usually is initialized on login (and corresponding folder is created). If something is wrong with this folder you either need to fix login procedure or  use workaround you mentioned above. Trivy just needs that environment variable to point to correct folder.

Regards
Andrey

[2021-12-20 16:39] isuftin commented on #1491
Latest version seems to fix things for us

[2021-12-20 17:35] knqyf263 commented on #1491
Thanks for the confirmation.

[2021-12-20 17:35] #1491 closed

[2021-12-20 17:46] distortedsignal commented on #1481
I'm still getting a false negative.

I tried to make it clearer what I'm seeing and what I expect to see with the Editor's Note blocks.

I'll include the command output in a collapsible block here. If you would like to have this open in another tab and browse in gists, the a gist with the content is [here](https://gist.github.com/distortedsignal/b26c8ebe0d7bede95d59e8cdc78298d0).

<details>
<summa

[2021-12-20 17:47] knqyf263 commented on #1350
We need to update this file so that it could parse v2 packge-lock.json. We welcome any contributions!
https://github.com/aquasecurity/go-dep-parser/blob/8257534ffed3e34636437c45348644123ab02b74/pkg/nodejs/npm/parse.go

[2021-12-20 18:13] varas opened #1496 "Package version comparison doesn't handle correctly versions from different architectures"
## Description

Package version comparison doesn't handle correctly packages from different architectures.

For instance:

nokogiri ruby library has a vulnerability fixed at 1.12.5, which is the currently installed package but for ARM arch, see it being reported as `1.12.5-arm64-darwin`. Therefore this should not be reported as vulnerable package version, but it is:

[code]

## What did you expect

[2021-12-20 18:31] clamoriniere commented on #1490
Hi,

I can confirm the issue:
* `2.12.2` log4j version should be listed with "2.15.0" as "Fixed version" for `CVE-2021-44228`
* `2.12.2` log4j version should be listed with "2.16.0" as "Fixed version" for `CVE-2021-45046`

[code]

[2021-12-21 02:19] Rmond commented on #1314
I have the same problem

[2021-12-21 06:52] #1291 closed

[2021-12-21 07:02] afdesk commented on #1439
we investigated more this issue.

1. at first, I've run `trivy` without examples and integration tests:
[code]
and found 5 packages with vulnerability: `github.com/apache/thrift`, `github.com/dgrijalva/jwt-go`, `github.com/miekg/dns`, `github.com/satori/go.uuid` and `k8s.io/kubernetes`.

. I've built the last version of `trivy`:
[code]
2. and then, I've checked new `./main`:
[code]
`trivy` executa

[2021-12-21 07:04] afdesk commented on #1367
sorry for waiting. we're working on it right now.

[2021-12-21 07:09] afdesk commented on #1317
@AErmie
we added misconfiguration fields to html template: [https://github.com/aquasecurity/trivy/blob/main/contrib/html.tpl](https://github.com/aquasecurity/trivy/blob/main/contrib/html.tpl)

[2021-12-21 07:19] afdesk commented on #1456
@fragolinux sorry for waiting.
we discussed about this issue and it seems that `trivy` works correctly, so installed version `v0.0.0-20211117234946-dea9396e1842` is less than `20.10.9`. also you can check it here: https://go.dev/play/p/EZknUNuBtOq

more details about `pseudo versions` in go are here: [https://go.dev/ref/mod#pseudo-versions](https://go.dev/ref/mod#pseudo-versions)

[2021-12-21 07:29] afdesk commented on #1490
@debu99, @lloydnye, @clamoriniere! thanks for your reports and interest in `trivy`!

`trivy` depends on GitHub Security Advisory (GHSA) and it includes log4j-api: [GHSA-jfh8-c2jp-5v3q](https://github.com/advisories/GHSA-jfh8-c2jp-5v3q).

Another customer wrote a report to GitHub: https://github.community/t/cve-2021-44228-advisory/217105, but they didn't  exclude `log4j-api`.

[2021-12-21 08:17] afdesk commented on #1302
Hi @jaklan! thanks for your interest in `trivy`.
for scanning a single directory i can suggest next way:
[code]

[2021-12-21 08:20] szpak commented on #1291
@knqyf263 Thanks for taking a look at that issue. I think that the @seraphain's problem was:

Based on your MR, it should be fixed. Howevr, could you paste here a sample output (both JSON and HTML - if the later is also effected) to take a look?

Btw, are there Trivy snapshot/nightly binaries and images are available somewhen to test locally?

[2021-12-21 08:34] jaklan commented on #1302
@afdesk that's not the answer for my question... I pointed directly - `a) single files b) directories, but not recursively`.

[2021-12-21 08:41] knqyf263 commented on #1291
Like the following:
[code]

We've not added file paths to HTML yet.

No, we don't have it. You need to compile it yourself.

[2021-12-21 08:49] fragolinux commented on #1456
but as that second link says, "Pseudo-versions may refer to revisions for which **no semantic version tags** are available"... so, actually comparing semver tags AND pseudo-versions IS wrong, they CAN'T be compared... this is the problem...

[2021-12-21 08:58] knqyf263 commented on #1456
No, it says "no semantic version **tags**" are available. If there is no tag, Go generates pseudo-semantic versions.

[2021-12-21 09:06] knqyf263 commented on #1490
Related issues
https://github.com/aquasecurity/trivy/issues/1463
https://github.com/aquasecurity/trivy/issues/1453

[2021-12-21 09:12] fragolinux commented on #1456
ok, understood, but what to do with images i've no control on, but i need them deployed on my cluster, having trivy blocking them because it compares versions this strange way? Don't want to disable trivy checks, but this is halting PATCHED and NEWER images from being deployed

[2021-12-21 09:52] msw-kialo commented on #1026
Status remains unchanged.

[2021-12-21 11:56] JafarAkhondali commented on #1350
@knqyf263 Did you confirm the issue? Do we want to scan Dev Dependencies packages? If someone provide a sample v2 package-lock.json that doesn't work with Trivy I can fix it.

[2021-12-21 13:11] keppi2 opened #1500 "Get "https://api.github.com/repos/aquasecurity/trivy-db/releases": Moved Permanently"
## Description

When running trivy image --download-db-only it fails to download db. New machine, no db is on disk. Maybe related to new v1-2021122112 release? Few minutes ago it still worked...

## What did you expect to happen?

## What happened instead?
Error message:
Get "https://api.github.com/repos/aquasecurity/trivy-db/releases": Moved Permanently

## Output of run with `-debug`:

[code]

#

[2021-12-21 13:25] knqyf263 commented on #1500
It works in my environment. Could you confirm it happens on another machine or under a different network?

[2021-12-21 13:41] keppi2 commented on #1500
True... Damn it. Sorry. I checked it again on different machine and it worked. So i rechecked everything.
My http_proxy configuration had a typo, so the proxy returned the "moved permanently"....

Now its working. Thanks for your quick response.

[2021-12-21 13:41] #1500 closed

[2021-12-21 13:43] DmitriyLewen commented on #1481
Hello @distortedsignal
Now, i can't reproduced your problem.
Can you scan the dockerhub logstash image without flag `-s`:
[code]
and scan the dockerhub logstash image with output in json format:
[code]

Thank you!

[2021-12-21 14:48] trevor-vaughan commented on #1350
@JafarAkhondali This appears to highlight the issue.

Running `npm install` results in a run with no findings. However, running `yarn install` results in findings as expected.

`package.json`
[code]

[package-lock.txt](https://github.com/aquasecurity/trivy/files/7756077/package-lock.txt)

[2021-12-21 15:11] JafarAkhondali commented on #1350
@trevor-vaughan I think the problem you mentioned here is that in [yarn parser](https://github.com/aquasecurity/go-dep-parser/blob/eb58e8565220b1d25ff559b75e76a20a4d92cc2d/pkg/nodejs/yarn/parse.go), `dev` packages are not recognized. I'm not sure about the policy here. Should Trivy scan `dev` dependencies or not?

[2021-12-21 15:15] trevor-vaughan commented on #1350
Ah, that certainly could be the issue. I was just surprised that the following were true:

* `npm audit` => warnings generated ✅
* `yarn audit` => warnings generated ✅
* `trivy npm` => nothing generated ❌
* `trivy yarn` => warnings generated ✅

It seems like these should be the same across the board.

[2021-12-21 18:07] distortedsignal commented on #1481
GitHub has a 65k character limit on comments - I'll break this up into multiple comments because of that. 1/?

---

I tried scanning a couple images from docker hub like you suggested (we use the Logstash 6.8 line).

<details>
<summary>Trivy Scan of logstash 6.8.19-6.8.22</summary>

[code]

</details>

[2021-12-21 18:08] distortedsignal commented on #1481
2/?

---

These come out like I expect.

Then I tried scanning my containers again (in case this was fixed in the database).

<details>
<summary>Trivy Scan of custom built container images cve-exists-1, cve-exists-2, and cve-mitigated</summary>

[code]

</details>

[2021-12-21 18:21] distortedsignal commented on #1481
3/?

---

Looks like it's still missing.

And since you asked for the output to be formatted in json, here's the result of all the scans with debug logging and json output format. Broke this up across multiple comments so that I can post this to GH.

The command I ran for this was `trivy --clear-cache && trivy -d i --format=json -s "UNKNOWN,HIGH,CRITICAL" my-image:cve-exists-1 && trivy -d i --form

[2021-12-21 18:21] AkselAllas opened #1502 "What's the reason for splitting `fs` to `rootfs`?"
What are the considerations for making it a separate command?

Why are these speficic analyzers excluded for rootfs?
[code]

And why are these excluded for filesystem?
[code]

Is there a discord for Trivy contributors?

[2021-12-21 18:26] distortedsignal commented on #1481
<details>
<summary>Some (my-image (all)) Scans Detailed logging Json Format (hashes redacted)</summary>

[code]

</details>

[2021-12-21 18:29] distortedsignal commented on #1481
<details>
<summary>logstash 6.8.20 Scans Detailed logging Json Format (hashes redacted)</summary>

[code]

</details>

[2021-12-21 18:32] distortedsignal commented on #1481
6/?

---

<details>
<summary>logstash 6.8.21 Scans Detailed logging Json Format (hashes redacted)</summary>

[code]

</details>

[2021-12-21 18:33] distortedsignal commented on #1481
7/?

---

<details>
<summary>logstash 6.8.22 Scans Detailed logging Json Format (hashes redacted)</summary>

[code]

</details>

[2021-12-21 18:34] distortedsignal commented on #1481
8/8

---

Looks to me like we're finding the vulnerable files in the appropriate images, but the vulnerabilities aren't being tagged on those images. I'm curious about why that is. For example, check out these logs of a vulnerable image where trivy explicitly finds the files, but does not report the issue.

<details>
<summary>Vulnerable Image Scan, Vulnerable File Found, No Output</summary>

[code

[2021-12-21 22:04] jplimack opened #1503 "Sarif (severity) does not get processed by github correctly"
## Description

Severity level is set as a `tag`, but the `level` field is set to `error`.  This causes the github security dashboard to mark a repo as *clear* despite containing numerous CVEs at multiple levels.

[code]

## What did you expect to happen?
the `problem.severity` element should be populated to say `HIGH` or whatever the actual severity is

[code]

## What happened instead?
no severi

[2021-12-22 04:26] lemonprogis commented on #1057
I'd rather us know it failed to reach out. Right now it just acts like a clear scan. That's mildly frustrating when you are trying to trust this tool.

[2021-12-22 04:40] afdesk commented on #1503
@jplimack thanks for your report!
We're working on a new sarif template right now, and will study your suggestion.
thanks a lot!

[2021-12-22 06:37] afdesk commented on #1302
@jaklan sorry, but now `trivy` supports only such option.
but we welcome the contribution )

[2021-12-22 07:39] DmitriyLewen commented on #1481
Hello @distortedsignal !
Thanks for the help.
I think your problem might be in the docker layers.
Can you submit your dockerfile?

[2021-12-22 12:10] szpak commented on #1291
@knqyf263 Ok, thanks for update. `PkgPath` can be useful.

[2021-12-22 13:07] Constantin07 commented on #1485
Thanks @AndreyLevchenko for explanation.

[2021-12-22 13:07] #1485 closed

[2021-12-22 14:29] bhuvi11 opened #1506 "Scan Local Image using Trivy"
I am trying to use trivy to scan a image locally built in my desktop
I used the command trivy image <image_name> and got the below error

Can someone help me

[2021-12-22 15:05] knqyf263 commented on #1506
Seems like your image doesn't exist in your local Docker daemon. Please make sure the image name and tag is correct.

[2021-12-22 15:09] knqyf263 commented on #1502
You can refer to this changelog.
https://github.com/aquasecurity/trivy/discussions/1279

[2021-12-22 16:54] distortedsignal commented on #1481
I would prefer not to. Let me talk with some people on my team and we can see if we can sanitize the Dockerfile to the point where it's releaseable. Unfortunately, these people are already away on holiday/vacation, so that won't happen for about a week or so.

[2021-12-22 17:16] jplimack commented on #1503
@afdesk I should mention that i bumped the version to `aquasec/trivy:0.21.3` within my github/action-trivy
and as I noted, needed to fix the output slightly
[code]

[2021-12-22 22:49] sbrinkerhoff commented on #1506
Working with a local image present.

[code]

[2021-12-23 05:34] Lingom-KSR opened #1507 "Could not scan CloudFormation script using Trivy"
Hi,
I'm trying to use trivy for container images and IaC files. Able to scan the container images and the results are as mentioned in the [trivy](https://aquasecurity.github.io/trivy/v0.21.3/vulnerability/scanning/image/) doc.

For IaC scan, trivy is not scanning CloudFormation script. However, it's scanning other IaC scripts such as terraform, docker and kube; I'm able to see results for them.

T

[2021-12-23 08:50] StephGit commented on #1484
Hi @AndreyLevchenko

It seems that Trivy scans all the Artifacts even if the CVE's are allready fixed by a parent repo (for example rpm)
With usage of `--vuln-type os` it works fine with 0.19.2

[2021-12-23 08:50] #1484 closed

[2021-12-23 10:41] knqyf263 commented on #1507
@owenrumney Can you take a look?

[2021-12-23 12:52] afdesk commented on #1503
@jplimack thanks again. we'll check it too.

[2021-12-23 13:20] AndreyLevchenko commented on #1412
Hi @rliebz and @tbigby-kristin
Path for jars should be available in next release. It will be added to JSON output like described here
https://github.com/aquasecurity/trivy/issues/1291#issuecomment-998580110
Default table format is going to be as is. But you will be able to use `PkgPath` in custom html templates

[2021-12-23 13:30] AndreyLevchenko commented on #1314
Hi @Rmond and @lovelyplanet2019
Thank you for the feedback. From what I can understand `TRIVY_INSECURE` affects container registries access and not git repositories.

[2021-12-23 15:42] danielhelfand opened #1508 "trivy repo scan for git refs"
I would like to use `trivy` to scan remote GitHub repositories, but I want to specifically scan specific tags of repositories. At the moment, I do not see any flag with `trivy repo` to make it simple to specify a tag to scan like the following example:

[code]

Alternatively, I would like some documentation somewhere (maybe [here](https://aquasecurity.github.io/trivy/v0.21.3/vulnerability/scanning

[2021-12-23 22:11] HugoVeillette opened #1510 "Improve reporting to avoid ambiguity when no failures are reported in the JUnitReport"
Hi, this is a feature request to improve upon the default JUnit template output.
https://github.com/aquasecurity/trivy/blob/main/contrib/junit.tpl

The current behavior returns that 0 test were performed when no issues are found.  See below.

[code]

This behavior causes issue when interpreting the report; unless there are issues we cannot assert that the scan actually happened.

To avoid running

[2021-12-24 06:27] #1483 closed

[2021-12-24 06:33] #1284 closed

[2021-12-24 06:33] #1295 closed

[2021-12-24 09:50] owenrumney commented on #1507
Hey @Lingom-KSR  - can you confirm which version of Trivy you're using and the command that you ran?

I just put your example in file verbatim and ran

[code]

and

[code]

Both of these commands yielded the result
[code]

[2021-12-24 10:20] #1290 closed

[2021-12-24 10:20] #1294 closed

[2021-12-24 22:07] jawnsy opened #1517 "Support configurable image pull policy (always, if not present, never)"
When running trivy on a build server, it would be nice to have some way to control the image pull policy, with behavior similar to the [corresponding Kubernetes feature](https://kubernetes.io/docs/concepts/containers/images/#image-pull-policy). This would be helpful as a way to improve performance and build reproducibility.

My use case involves pulling an image from our container registry using `

[2021-12-25 22:33] ganeshwankhede commented on #580
I am still facing this issue :(
while I tried with
docker run --rm -v /var/run/docker.sock:/var/run/docker.sock -v $PWD:/tmp/.cache/ aquasec/trivy:latest --exit-code 1 <imge>

and

/usr/local/bin/trivy --no-progress image -f json -o results.json <image>

[2021-12-26 02:54] uwedisch opened #1519 "image scan fails with error: "semaphore acquire: context deadline exceeded""
## Description
I'm executing "trivy rootfs --security-checks vuln,config /" on Kali Linux (rolling).
Downloaded Trivy with "curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sh -s -- -b /usr/local/bin v0.22.0"

I'm getting error messages like this (every scan on another location, but error message keeps the same):

2021-12-25T23:11:01.818-0300	FATAL	scan erro

[2021-12-26 08:01] knqyf263 commented on #1519
Looks like a timeout. Please try `--timeout 30m`. Also, `rootfs` tries to traverse all the directories. If you want to skip some of them, you can use `--skip-dirs` to finish scanning quicly.

[2021-12-26 14:48] uwedisch commented on #1519
No, that's not the problem. I tried with timeout parameter. The error occurs after about 2 or 3 minutes.
I also tried to skip dirs, but it's feeling like that, that you will end up in excluding nearly the whole disk. I tried to work with excluding and posted this issue after the 5th exclude ...
What is the default timeout of rootfs scanning?

[2021-12-27 00:03] #1282 closed

[2021-12-27 04:47] Lingom-KSR commented on #1507
Hi @owenrumney, Thank you for the prompt response.
I'm using the trivy cli "Version: v0.19.2-2-g7cb1598".
I tried with following comments to scan the CloudFormation script from my local directory.

`trivy config .
trivy conf .
trivy fs --security-checks config .`

To verify my CF file, I ran the scan with sample CF resource script provided by AWS(the URL below). It's also not coming in scan result

[2021-12-27 07:01] afdesk commented on #580
this command doesn't contain an image name for scanning. is it removed?

[2021-12-27 10:06] lfama commented on #897
Hi all,

I also think it would be great to have such a option.
it looks like the PR #1092 from @philnichol implements the switch to control the behaviour for unsupported OSes. Do you plan to merge  it?

Thanks!
Luca

[2021-12-27 12:32] owenrumney commented on #1507
Ahh, cloudformation support was introduced in https://github.com/aquasecurity/trivy/releases/tag/v0.21.0

[2021-12-27 12:44] Lingom-KSR commented on #1507
Hy; thank you so much. In this case, is that possible to upgrade the Trivy CLI version to 0.21.0 or the latest one.

Please let me know on this. Thanks!

[2021-12-27 13:20] uwedisch commented on #1519
Yes, strong positional parameters. timeout parameter must not go before rootfs parameter. If it is placed after then scanning works.

In the future it might be useful to display a usable error message that mentions the expired timeout.

[2021-12-27 20:17] stefanlasiewski opened #1521 ""DB error: failed to download vulnerability DB: failed to download vulnerability DB ... TLS handshake timeout""
Our trivy scans encountered a number of fatal errors last night. We do not use a proxy and our internet connection was otherwise stable at that time (Trivy is the only service that had an error).

The incident started around Sun, Dec 26, 11:00 PM PST and there were over a dozen occurrences with the last one at Monday, Dec 27, 5:30AM PST. Github doesn't mention an API timeout on [their outage page]

[2021-12-27 21:37] stefanlasiewski commented on #1091
This would be very useful for simple use cases like a simple shell script that calls `trivy image ubuntu:20.04 | grep CVE`.

`--format json` is more complicated then what many folks need, and `--format template` even more so.

[2021-12-27 21:49] stefanlasiewski commented on #1521
I found the answer to this. I confirmed that the ` [31m` and `[0m` are ANSI control characters. 31 is red, 0 is reset.

[2021-12-28 12:20] danielzhanghl commented on #1166
PR is good, need maintainer review and merge...

[2021-12-28 14:13] msharbaji opened #1523 "Trivy vulnerability containerd, docker cli"
## Description

## What did you expect to happen?
Expected no vulnerabilities

## What happened instead?

|             LIBRARY              | VULNERABILITY ID | SEVERITY |                     INSTALLED VERSION                     |  FIXED VERSION  |
+----------------------------------+------------------+----------+-----------------------------------------------------------+
| github.com/container

[2021-12-28 14:29] gzmarstone commented on #1510
I like this idea, it would be nice to see how many packages were found and how many have vulnerabilities...

[2021-12-28 14:32] uwedisch opened #1524 "Add --only-unfixed beneath --ignore-unfixed"
Hello,
there is the option --ignore-unfixed.
By using or not using --ignore-unfixed someone can ignore vluns that a vendor has not fixed.
It would be very interesting to have an option --only-unfixed to see only vulns that a vendor has not fixed.
I think this could be easy to implement, but would have great stength for qualifiying vendors for their ability in fixing vulns.

[2021-12-29 02:56] anthonator opened #1525 "Distroless cross distribution packages"
## Description

**NOTE: I'm reporting this issue as something I've found when building distroless (Debian) images that use packages from Ubuntu package repositories. I'm not an expert on building Linux systems and I understand the issue may be more complex than just installing a package from a different repository. If that's the case and this report doesn't make sense feel free to close this issue

[2021-12-29 03:12] anthonator commented on #1525
A couple things to note.

* `libc6=2.31-13+deb11u2` is vulnerable to `CVE-2021-33574` and does not have a fix for Debian 11. [[source][1]]
* `libc6=2.34-0ubuntu3` is not vulnerable to `CVE-2021-33574` although Trivy reported it as such. The vulnerability was resolved with `glibc=2.34-0ubuntu1`. [[source][2]]

[1]: https://packages.debian.org/search?searchon=names&keywords=libc6
[2]: https://ubuntu

[2021-12-29 10:35] afdesk commented on #1477
Hi @AkselAllas thanks for your report and sorry for waiting!
In `tvivy` v0.22.0 was added a new option `--offline-scan` for scanning without API requests.
**Note**: there was disabled JAR detection in fs/repo scanning. now you should scan jar-files with `rootfs` option.

I think that it should work for you:
[code]

[2021-12-29 10:36] afdesk commented on #1292
in `trivy` v0.22.0 was added a new option `--offline-scan` for scanning without API requests.
**Note***: there was disabled JAR detection in fs/repo scanning.
now you should scan jar-files with rootfs option.

I think that it should work for you:
[code]

[2021-12-29 10:44] afdesk commented on #1367
@MartinKirchner now `trivy` json format prints data with `PkhPath`.

**Note**: there was disabled JAR detection in fs/repo scanning.

It works for me:
[code]
I've tests this option in `trivy` v0.22.0.

[2021-12-29 10:48] afdesk commented on #1523
@msharbaji thanks for your report and interest in `trivy`.
Do you mean that `trivy` sources have these vulnerabilities?

[2021-12-29 10:50] afdesk commented on #1525
@anthonator thanks for your report!
I'll try to investigate it and clarify this issue.

[2021-12-29 11:38] afdesk commented on #1525
i could reproduce this behavior.

[2021-12-29 11:42] FelipeEmerim commented on #1267
I see the PR is specific to Sarif templates. Will Junit also be supported?

[2021-12-29 11:47] stigok opened #1526 "Parsable error logging, e.g. as JSON"
I am executing the trivy binary through Python and parsing the output as json with `--format=json`. However, it is hard to parse the errors as they are printed in clear text, and often have multiple errors listed.

For example
[code]

The first two errors are expected in my environment, but the third one can vary between many different error types, among others,
- asking for a non-existent image t

[2021-12-29 14:36] anthonator commented on #1525
Awesome! Thanks! Let me know if there’s anything other information I can provide.

[2021-12-29 14:40] anthonator commented on #1525
I just realized I posted the wrong link to the Debian CVE page. It’s been fixed.

[2021-12-29 21:33] MartinKirchner commented on #1367
@afdesk That is great! I updated and tried it out. Thanks a lot!
I wish you all the best in 2022.

[2021-12-30 01:34] sdwerwed commented on #972
I face this issue with trivy in client-server configuration, both sides are using docker.io/aquasec/trivy:0.21.0, job is running in AKS

[2021-12-30 02:19] sdwerwed opened #1527 "Trivy crash with gzip: invalid header if tag does not follow semantic versions"
## Description
Trivy fails to scan images if the image is not pulled in the local docker registry or if it does not exist in cache or if tag does not follow semantic version, the same issue exists using starboard while scanning containers in AKS

## What did you expect to happen?
To scan the image directly without errors

## What happened instead?
It gives error gzip: invalid header

## Output of

[2021-12-30 08:52] maorkuriel opened #1529 "Trivy freeze when scanning images"
## Description

I am running Trivy v0.22.0
Trying to scan the following images:
https://hub.docker.com/r/jelastic/springboot
https://hub.docker.com/r/renovate/renovate

and it freezes until I cancel the command

## What did you expect to happen?
Get scan results of the container image

## What happened instead?
noting it freezes
## Output of run with `-debug`:

[code]
And it freezes

## Output of

[2021-12-30 09:31] msharbaji commented on #1407
@ckcr4lyf Do your updates reflect in the new version v0.22.0?

[2021-12-30 09:57] hazcod opened #1530 "Feature: push result to Google Cloud Security Command Center"
Hi! It would be awesome to in some way push vulnerability results to Google Cloud Security Command Center.

https://cloud.google.com/security-command-center/docs/reference/rest

[2021-12-30 10:13] DmitriyLewen commented on #1529
Hello @maorkuriel
Thanks for your report!
I checked your problem.
Trivy freezes because some process is using fanal.db `(your-cache-dir/trivy/fanal/fanal.db)`
Most likely, you have a trivy server running in parallel.
Check it  please.

[2021-12-30 10:28] maorkuriel commented on #1529
Hi @DmitriyLewen
I tried running trivy image --reset with no luck also removing and reinstalling Trivy.

Any thoughts on how to resolve this? what did I miss?

[2021-12-30 10:55] hazcod commented on #1530
We might want to fork https://github.com/aquasecurity/trivy-plugin-aqua into `trivy-plugin-scc` using https://pkg.go.dev/cloud.google.com/go/securitycenter/apiv1#Client.UpdateFinding

[2021-12-30 11:52] maorkuriel commented on #1529
Short Update,
After reinstalling Trivy, I deleted the `fanal` and `db` directories and I was able to run Trivy.
But I try to run a 2nd scan of the same image Trivy freezes.

What I am missing?

[2021-12-30 12:52] hazcod commented on #1530
I guess it could look something like this, untested: https://github.com/hazcod/trivy-plugin-scc

[2021-12-30 13:38] hazcod commented on #1506
Works for me too.

[2021-12-30 14:26] vaboston opened #1531 "VM is freezing when i scan filesystem"
## Description

Hello, i try to scan my filesystem on a small VM ( RAM: 2GB, DISK: used 9GB/30GB), but after 30 seconds, the RAM is fully consumed (from 400MB to 2GB)  and the load start to be high(6/8), then VM freeze.

My VM is a Debian GNU/Linux 11 (bullseye).

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry i

[2021-12-31 07:34] DmitriyLewen commented on #1529
Hi @maorkuriel
Can you delete `fanal` and `db` directories again, scan image with debug flag 2 times and send them.

Regards, Dmitriy

[2021-12-31 07:38] AkselAllas commented on #1477
@afdesk
`--offline-scan` in `v0.22.0` helps! Now my scan finishes finally! Thanks!

Still ideally we could host a local maven mirror / Nexus repository and pass the url as argument for the API requests.
Because currently ~15 to 20% of debug output is:

[code]

Also for running this in production environments, we need a way to throttle the scan since it hogs all the CPU/IO it can.
e.g. in a 2 CPU V

[2021-12-31 13:20] abierbaum opened #1533 "Feature: Allow specifying a single package manager file to scan"
Trivy looks like a great tool and is working very well on my containers.  The next step is that I would like to use it to scan specific yarn.lock and requirements.txt files for some of our dependencies.  But I don't want to scan the entire repository or directory tree, what I would like to do is to scan a specific file with a single run.

So something like:

[code]

Then for each of these runs it

[2021-12-31 13:43] ckcr4lyf commented on #1407
Yes @msharbaji , it is now fixes

[2022-01-01 14:56] krol3 commented on #1507
@Lingom-KSR I will close this issue, you need to update the trivy version. Any problem just notifies here.

[2022-01-01 14:56] #1507 closed

[2022-01-02 00:03] #1293 closed

[2022-01-02 00:58] krol3 commented on #1343
PR merged

[2022-01-02 00:58] #1343 closed

[2022-01-02 08:48] maorkuriel commented on #1529
Hi @DmitriyLewen
Here is the output

[code]

[2022-01-03 09:20] knqyf263 commented on #1519
Thanks for the feedback. It used to show an error message regarding the timeout option. It might be removed due to regression. We'll consider adding it again. At least, it is mentioned in our doc.
https://aquasecurity.github.io/trivy/v0.22.0/getting-started/troubleshooting/#timeout

Please feel free to reopen the issue if you have some other issues.

[2022-01-03 09:20] #1519 closed

[2022-01-03 15:28] rocket-romano opened #1534 "Add support for liferay lpkg files"
I would like to detect vulnerabilities in liferay lpkg files. This is a simple compressed file format that contains .jar files for deploying to Liferay DXP.

[2022-01-03 20:52] krol3 commented on #90
I am not an expert Node, but maybe this repository help to understand more about devDependencies.
- https://github.com/snyk/nodejs-lockfile-parser
- https://github.com/snyk/nodejs-lockfile-parser/blob/master/lib/parsers/index.ts#L114

[2022-01-03 22:12] krol3 commented on #1411
@saivenkateshedem It seems that it's a particular case related to the size of your application. Right?

[2022-01-04 04:40] vara-prasad opened #1536 "Query regarding auto file detection for different languages"
Hello,

I was going through language [detection](https://aquasecurity.github.io/trivy/v0.20.2/vulnerability/detection/language/) documentation and as per my  understanding,

- Same files are autodetected between Image and rootfs, fs and repository. This is because effective scan area remains same for Image/rootfs and fs/repository.
- As images will have binaries, detecting go.mod is not enabled fo

[2022-01-04 14:58] samifruit514 commented on #1021
Hello, I know this issue is in progress according to the roadmap but I'd would like to ask if it would be possible to priorize the delivery of this feature. Centos 8 reached the EOL on 2021-12-31 and I am pretty sure a lot of people are using this OS-version and are in the same situation. Unfortunately centos stream 8 is considered as centos 8 (according to the code) so trivy blocks this version.

[2022-01-04 20:21] Jasstkn opened #1540 "Missing fingerprint option in codequality template"
## Description

Hi! I've been testing trivy with reporting feature for Gitlab Merge Requests reports. It seems that template is missing a required field (see https://docs.gitlab.com/ee/user/project/merge_requests/code_quality.html#implementing-a-custom-tool)

## What did you expect to happen?

I expect to see the generated report.

## What happened instead?

<img width="919" alt="Screenshot 2022-0

[2022-01-04 20:29] Jasstkn commented on #1540
If I'm not mistaken, we should add something like this:
[code]
here https://github.com/aquasecurity/trivy/pull/895/files#diff-3bd568015904b64f2af822cbc7df154f845f5ff4c2365996e82c9333ed4c4f4aR16

[2022-01-04 23:25] krol3 commented on #1540
@Jasstkn we have a PR to improve the docs about gitlab integration, maybe this could help. https://github.com/aquasecurity/trivy/pull/1381

[2022-01-04 23:55] rsareth commented on #1533
I'm facing a similar issue. I have several text files to declare my python libraries:
- requirements.txt
- requirements-devel.txt

So I'm using another tools to read all my requirements-devel.txt files.

[2022-01-05 00:07] rsareth commented on #1508
Allowing to scan a tag should also interpreted as Allowing to scan a reference in a git repository. We might need to scan a branch for example.

[2022-01-05 00:12] danielhelfand commented on #1508
@rsareth Yes, makes total sense to me. I titled the issue with ref to capture that, but realize I only called out tag in the issue.

I do hope this could be a more general solution as you mention though. Including things like commit sha might be another interesting case.

[2022-01-05 05:32] Jasstkn commented on #1540
Hi. Thanks for prompt response. But it doesn't seem to be related. I'm able to generate report and put it to the codequality type. The problem is that it's missing required field `fingerprint`. That's I think Gitlab shows it's empty.

[2022-01-05 08:27] Jasstkn commented on #1540
@krol3 I added the change from https://github.com/aquasecurity/trivy/issues/1540#issuecomment-1005147602 in my fork (https://github.com/Jasstkn/trivy/commit/4638b29501a12488f38d77525a9c5281da64ab97) and it works now!

<img width="984" alt="Screenshot 2022-01-05 at 9 26 09" src="https://user-images.githubusercontent.com/20466436/148185048-0dcacd23-7f4b-4d51-9124-90dd1e4f872f.png">

Could you help m

[2022-01-05 09:31] CZJCC commented on #1527
[code]

[2022-01-05 10:38] abelsromero opened #1542 "Support passing CVEs to ignore directly in command"
I see there's an option to ignore CVEs by id creating `.trivyignore` file or passing path to one. But I wonder why not allow passing CVE in terminal directly.
Having to create a file is not flexible (requiring exta unnecessary steps), especially when automating or in CI.

[2022-01-05 13:42] afdesk commented on #1527
@CZJCC and @sdwerwed thanks for your reports!
I'll try to reproduce and clarify this issue.

[2022-01-05 14:17] DaspawnW opened #1543 "Reenable support for scanning jar files on fs"
Dear trivy team,

with release 0.22.0 you have dropped the support for jar scanning if trivy fs is used.
This now enables the direct usage of pom.xml, but as there are more then one build tool (gradle, ant) it would be great if this could be reverted.

With this you would be still able to scan build jar files without the problem how to convert gradle to maven pom.xml.

Thank you in advance,
Best r

[2022-01-05 15:51] knqyf263 commented on #1543
Hi, you can use the `rootfs` subcommand for the purpose.
https://aquasecurity.github.io/trivy/v0.22.0/vulnerability/scanning/rootfs/

We know it is a bit confusing and want to improve, but you can see which analyzers are enabled here.
https://aquasecurity.github.io/trivy/v0.22.0/vulnerability/detection/language/

[2022-01-05 17:02] #1527 closed

[2022-01-05 17:44] afdesk commented on #1367
@MartinKirchner thanks a lot! all the best to you too!!

can we close this issue again?

[2022-01-05 17:54] afdesk commented on #1477
@AkselAllas thanks a lot for your time and reports!
we welcome the contribution! I think it will be very nice if you can create a PR and separate issues!

[2022-01-05 23:14] distortedsignal commented on #1481
Just found out that the people who are away on holdiay/vacation aren't going to be back until the middle of the month - give me some time and I'll furnish the Dockerfile.

[2022-01-06 00:02] distortedsignal commented on #1481
<details>
<summary>Sanitized Dockerfile</summary>

[code]

</details>

[2022-01-06 05:33] saivenkateshedem opened #1545 "Display proper image name in aws security hub"
Iam using default template for importing findings to security hub.However i found out like it is not showing proper image name instead it is showing applicaiton package name in the resource.My image name is **service-home-dev:dev-86**
<img width="947" alt="Screenshot 2022-01-06 at 11 01 07 AM" src="https://user-images.githubusercontent.com/87964472/148333369-e348e48e-232c-44ac-a4af-72fb4d5bce4f.pn

[2022-01-06 06:36] knqyf263 commented on #1303
We're working on it now.
https://github.com/aquasecurity/trivy/pull/1437

[2022-01-06 07:17] sourabhgupta385 commented on #1160
I installed using rpm:

`rpm -ivh https://github.com/aquasecurity/trivy/releases/download/v0.22.0/trivy_0.22.0_Linux-64bit.rpm`

and when I execute in Jenkins:

`trivy image --format template --template @contrib/html.tpl -o /var/lib/jenkins/jobs/workspace/sourabh-test-pipeline/report.html ubuntu`

It gives me error:

`FATAL	unable to write results: failed to initialize template writer: error retri

[2022-01-06 07:58] afdesk commented on #1160
@sourabhgupta385 thanks for your report.
It looks like there is no the html template file.
could you check a path `contrib/html.tpl`?
for example:
[code]

[2022-01-06 08:05] afdesk commented on #1525
Hi @anthonator! sorry for waiting. we discussed this issue.
Now `Trivy` supports only packages installed by package managers.
`libc6` from ubuntu in debian will not be detected.

[2022-01-06 08:05] #1525 closed

[2022-01-06 09:00] thomaschilton-viavi opened #1546 "Image scan not detecting Java artifacts"
Using Trivy 0.22.0:
[code]

Trivy image finds no language specific files:
[code]

However, I know there are JARs within this image, and can manually find them:
[code]

If I scan the image using an alternative tool, it can find the Jars and report vulnerabilities:
[code]

[2022-01-06 10:21] afdesk commented on #1546
@thomaschilton-viavi thanks for your interest in `trivy`.
I'll try to reproduce and clarify this issue!

[2022-01-06 11:13] CZJCC commented on #1527
@afdesk 3Q, it works well ~~~

[2022-01-06 11:31] AndreyLevchenko opened #1547 "include NextUpdate property into trivy-db validation procedure"
To be able to notify users when particular schema version of trivy-db gets outdated
Relates to #1539

[2022-01-06 14:01] sourabhgupta385 commented on #1160
I thought this template file is sample one is provided by default. I have done a search after installation and I could find one present at: /usr/local/share/trivy/templates/html.tpl

Thus, following command worked for me:

`trivy image --format template --template @/usr/local/share/trivy/templates/html.tpl  -o report.html ubuntu`

[2022-01-06 14:07] knqyf263 commented on #1160
I think we should document it. If you install Trivy via rpm or deb packages, the template will be under `/usr/local/share/trivy/templates` or similar paths.

It would be great if someone opens a PR to update this section.
https://github.com/aquasecurity/trivy/blob/main/docs/vulnerability/examples/report.md#html

[2022-01-06 15:09] liamg opened #1548 "Add support for plugins to override existing commands"
When running a Trivy plugin, the existing set of commands cannot be used. Ideally a plugin, for example, would be able to provide an implementation of the `config` command.

This could be achieved by removing the existing commands when a plugin is being run.

[2022-01-06 15:13] scottcunningham opened #1550 "Support for newer distro releases - Ubuntu 20.04, CentOS 8, CentOS Stream, etc"
Hello!

I've been looking at the "Supported OS" documentation here:
https://aquasecurity.github.io/trivy/v0.17.0/vuln-detection/os/

The latest supported versions of some OSes are quite old:

- Ubuntu -- the latest supported version per the docs is 19.10, but the 20.04 LTS is almost 2 years old
- CentOS -- no support for CentOS 8 or CentOS Stream mentioned

Are there plans to support newer version

[2022-01-06 16:05] jerbob92 commented on #1533
@rsareth I have created a PR for that: https://github.com/aquasecurity/fanal/pull/355

[2022-01-06 16:31] jerbob92 commented on #1533
@abierbaum I have created a PR for that too: https://github.com/aquasecurity/fanal/pull/356
However, I don't really think they will merge it, since everything is still named `dir` or `directory` internally, even though you would give it a filepath, which may cause issues downstream (for example in this trivy cli tool).

But, we will see :)

[2022-01-06 16:31] sourabhgupta385 commented on #1160
I've opened PR for this: https://github.com/aquasecurity/trivy/pull/1551

[2022-01-06 17:10] #1548 closed

[2022-01-06 20:28] knqyf263 commented on #1021
We've merged the PR for AlmaLinux🎉  Thanks, @MaineK00n!
https://github.com/aquasecurity/trivy/pull/1238

This commit will be included in the next release. We are planning to cut it off this month.

[2022-01-06 20:34] srbala commented on #1021
@knqyf263 woudl like me to close this issue

[2022-01-06 20:43] MartinKirchner commented on #1367
@afdesk In my opinion you can close the issue. However, it was originally from @jvitrifork and I have no idea if his problem is solved.

[2022-01-06 22:52] Driste commented on #1550
That's v0.17.0

Try the latest documentation for Ubuntu:
https://aquasecurity.github.io/trivy/v0.22.0/vulnerability/detection/os/

It still doesn't mention CentOS 8, but RHEL 8 is listed.

[2022-01-06 23:58] shpml opened #1552 "Trivy Reporting Vulnerability For Package (bundler) Version Not Installed"
## Description

Trivy is reporting vulnerability `CVE-2021-43809` for bundler version `2.2.32` but I have `2.3.4` installed.

[code]

[code]

## What did you expect to happen?

Not to see vulnerabilities for a bundler version I don't have installed.

## What happened instead?

I have a report of vulnerability `CVE-2021-43809` for bundler version `2.2.32`

## Output of run with `-debug`:

[code]

#

[2022-01-07 00:25] afdesk commented on #1546
also I've tested `vertica/vertica-ce:10.1.1-0 (centos 7.9.2009)`. there is no issue.
but I can't find an image with `vertica` that depends on `oraclelinux 8.5`

[2022-01-07 00:35] afdesk commented on #1546
I created a custom image `myvertica` from Dockerfile:
[code]
and I see vulnerabilities:
[code]
Full log is here: [https://gist.github.com/afdesk/e55f3e4e15acb5a4921c4d54eb8b1866](https://gist.github.com/afdesk/e55f3e4e15acb5a4921c4d54eb8b1866)

[2022-01-07 00:56] afdesk commented on #1552
@shpml thanks for your report and interest in `trivy`!
I tried to reproduce your issue, but with image `ruby:3.0.3` from Docker Hub. is it important?
[code]

[2022-01-07 01:07] shpml commented on #1552
Hi @afdesk I don't know where this version of bundler is being found. We install the latest version during the build process. Any ideas?

# Build Log
[code]

# Interactive Docker Shell
[code]

[2022-01-07 01:28] shpml commented on #1552
It might be something to do with the default version of bundler still being installed or registered somewhere.

[code]

[2022-01-07 02:20] #1552 closed

[2022-01-07 04:55] #1021 closed

[2022-01-07 09:21] jerbob92 commented on #492
I have tried adding more generic pip-compile support: https://github.com/aquasecurity/fanal/pull/357
Please let me know what you think.

[2022-01-07 09:27] thomaschilton-viavi commented on #1546
Thanks for taking a look.

This is a custom image built on OracleLinux 8.5 using the Vertica RPM. I do not know if you have access to the Vertica RPM, but here is a sample Dockerfile that reproduces the issue.

[code]

Run trivy against this image:
[code]

Here is the same test you did using the vertica-ce as the base image. We can see the same Jars found in both - but for some reason the RPM base

[2022-01-07 11:54] scottcunningham commented on #1550
Good catch, thanks!

Looks like Ubuntu is covered, but I'd like to know about any plans for CentOS 8 and CentOS Stream.

[2022-01-07 12:23] #1367 closed

[2022-01-07 12:23] jvitrifork commented on #1367
works for me ;)

[2022-01-07 12:32] abierbaum commented on #1533
@jerbob92 Thank you for putting together a PR for this.  I think it would be a great feature but I see what you mean that they may want it in a different way.

[2022-01-07 14:06] Jasstkn opened #1553 "Invalid json is generated from gitlab codequality template"
## Description

Invalid json has been generated and because of that Gitlab throws an error Failed to load codeclimate report.
![Screenshot 2022-01-07 at 15 04 29](https://user-images.githubusercontent.com/20466436/148555107-6af1d973-ca85-4fe2-ab78-f347ab4580b4.png)

## What did you expect to happen?

Valid json has been generated.

## What happened instead?
Invalid json has been generated. example

[2022-01-07 19:16] #1540 closed

[2022-01-08 07:01] afdesk commented on #1546
@thomaschilton-viavi thanks a lot for your information!
I'm going to investigate this issue more. it's really important.

[2022-01-08 07:55] afdesk commented on #1546
@thomaschilton-viavi yes! I can reproduce this issue for `elasticsearch` image!
thanks a lot!

[2022-01-08 07:56] afdesk commented on #1481
it seems that it's the same issue #1546, and I can reproduce it.

[2022-01-08 08:10] afdesk commented on #1546
I figured out that `elasticsearch:7.14.2` contains `log4j` vulnerability and can see this one here:
[code]
but there are no vulnerabilities for my custom image.
my steps are next:
1. Download `rpm` for elasticsearch:
[code]
2. `docker build -t elastic-demo:1 .` from Dockerfile:
[code]
3. `trivy -d i elastic-demo:1` didn't show vulns.

[2022-01-08 23:27] jpinkham commented on #1254
@AErmie : You may find this very recent update helpful in https://github.com/aquasecurity/trivy/blob/main/docs/advanced/air-gap.md . It now contains info on downloading **policies** for offline use. Also https://github.com/aquasecurity/trivy/blob/main/docs/getting-started/troubleshooting.md has a new additional site that needs whitelisting (i think it's only needed if you're on the most recent ver

[2022-01-09 00:04] #1313 closed

[2022-01-09 00:04] #1312 closed

[2022-01-09 00:04] #1306 closed

[2022-01-09 00:39] jpinkham opened #1555 "--offline-scan option doesn't work with "config" command"
## Description

I was very happy to see the new "--offline-scan" option with v0.22.0 so I was eager to try it out because my work env is airgapped.  I was able to use that option for all types of scans except for "config".

## What did you expect to happen?
A scan of config files without attempting to update the policy database or reach out to any internet sites

## What happened instead?
Usage te

[2022-01-09 00:46] jpinkham commented on #1317
This seems resolved as of v0.22.0
<img width="1440" alt="Trivy_HTML_output_asof_v0 22 0" src="https://user-images.githubusercontent.com/2560080/148664786-d6fd9f42-0103-4f66-87e0-711cf8f95a17.png">

[2022-01-09 00:49] jpinkham commented on #1442
This seems related to #1317.  With Trivy v0.22.0, I'm seeing configuration/IaC findings in the HTML report

[2022-01-09 02:21] jpinkham opened #1556 "HTML template missing target names for go, npm, python/pip, java pom.xml, config files"
For many different types of files being scanned, the target names are not being reported in the HTML template, only the type of file.  This makes it impossible to know which file contains the vulnerabilities and/or misconfigurations that were found.

- The HTML title of the file is only for the first item scanned, all other items only list their type. It would be great if the title was set to dire

[2022-01-09 03:13] jpinkham commented on #1556
I've taken a [first pass at tweaking the template](https://github.com/aquasecurity/trivy/compare/main...jpinkham:jp/HTML-template-changes) to increase readability.  This round was more about determining what data I can add to the page, vs fussing too much with styling. Feedback is welcome
<img width="1180" alt="Trivy_HTML_report_trivy_itself__first_pass_html_reportchanges" src="https://user-images

[2022-01-09 09:46] knqyf263 commented on #1312
I'm sorry we missed the issue. We hope v0.22.0 fixed the issue. Please let us know if you still face the same issue.
https://github.com/aquasecurity/trivy/releases/tag/v0.22.0

[2022-01-09 13:39] nvuillam commented on #1457
@afdesk i'm sorry, i'm still striggling and I feel I tried everything, but sarif output file remains empty...

I install trivy like that in dockerfile
[code]

Then I call it this way

[code]

Do you see something else I could try ?

[2022-01-09 17:00] afdesk commented on #1546
@thomaschilton-viavi thanks, you helped us.
it seems that we found a reason and will fix it.

[2022-01-09 20:21] knqyf263 commented on #1555
The "config" subcommand doesn't need `--offline-scan` since it doesn't require Internet access during scanning. The policy needs to be pulled from the Internet. Please see [this doc](https://aquasecurity.github.io/trivy/v0.22.0/advanced/air-gap/#air-gapped-environment-for-misconfigurations).

[2022-01-09 23:55] tbigby-kristin commented on #1412
Many thanks @AndreyLevchenko , I have updated to 0.22.0 and added the `{{ .PkgPath }}` to our custom HTML template - confirming it works great for me.

[2022-01-10 05:20] DmitriyLewen commented on #1529
Hello @maorkuriel
Thanks for help!
I check your output.
Do you have these vulnerabilities for jar files:
[code]
Can you delete fanal and db directories again. Then check the process that fanal.db is using before and after first run, for example with the command `lsof your-cache-dir/trivy/fanal/fanal.db`

Thank you for your help!

[2022-01-10 08:48] thomaschilton-viavi commented on #1546
No problem - glad to help out. Will look out for the fix.

[2022-01-10 11:31] nathalieflower opened #1557 "Image scan not detecting vulnerabilities"
## Description

When scanning a custom image with the latest version of Trivy (22.0)  I am only getting the vulnerabilities in my base image and not any of my added packages. I.e I have a custom base java image to which I am adding Grafana  - I get all the vulnerabilities in the base java image but no node.js vulnerabilities from Grafana - If I run against Trivy 18.3 I am getting all vulnerabiliti

[2022-01-10 11:50] afdesk commented on #1557
@nathalieflower thanks for your report!
I'll try to clarify this issue.

[2022-01-10 11:58] afdesk commented on #1557
@nathalieflower could you show your Dockerfile where you add Grafana to an image? thanks a lot!

[2022-01-10 12:12] afdesk commented on #1457
@nvuillam is `REPOSITORY_TRIVY.sarif` empty? does it contain `/usr/local/bin/sarif.tpl`?
if there is a path in the output file, i'd add **@** to `template` option:
[code]
it worked for me

[2022-01-10 12:17] afdesk commented on #1557
just I run `trivy -d i grafana/grafana:8.2.1` for `trivy` v0.22.0 and v0.18.3, and see the same result...

[2022-01-10 13:36] bmiro opened #1558 "Filter vulnerabilities by Type (yarn, composer etc.)"
Hi,

I was trying to filter the vulnerabilities by Type (as in the `json` format) i.e. to not report vulnerabilities found in Gemfiles or yarn if the project is a PHP (with composer).

I'm not sure if it can be done, for now I've tried the following:

- The option `--vuln-type` but it only refers to `os` or `library` not `composer`, `yarn`. This option does not refer to the same `Type` as the `jso

[2022-01-10 17:36] HugoVeillette commented on #1510
@gzmarstone  indeed;
Afaik, this information is not available in the object passed to the golang template, nor is the DB version used for the scan.
The severities and filters are not available globally, we can aggregate (as shown in doc/samples), but only among failures.

If we could improve the current implementation to pass not only the failures, but the context and the success (where package ar

[2022-01-10 18:07] jeffwidman commented on #1132
@AndreyLevchenko why are transitive dependencies flagged by Trivy? My understanding is that only direct/indirect deps are part of the compiled binary, and transitive aren't actually included in the binary.  So this should be a false positive.

@knqyf263 why was this closed? Was there an update to Trivy that resolved this?

[2022-01-10 18:22] jeffwidman opened #1559 "False positive in Go module on a dependency that is overridden with a safe version at compile time."
I compile/install [`grpcurl`](https://github.com/fullstorydev/grpcurl) `v1.8.5` into an image by having a dummy `main.go` file:
[code]

I tried running Trivy against the resulting image and got the following warning:
[code]

`golang.org/x/text` is an indirect dependency. So I bumped the version number in the `go.mod` file using the following pin:

[code]

This will cause the compiled version to on

[2022-01-10 18:27] knqyf263 commented on #1132
That is because @AndreyLevchenko explained all. The transitive dependencies are included in the binary. Otherwise, it cannot be compiled.

[2022-01-10 18:32] distortedsignal commented on #1481
Cool - I'll close this issue as a duplicate of #1546 and start watching that issue!

[2022-01-10 18:32] #1481 closed

[2022-01-10 18:32] jeffwidman commented on #1132
I'm reasonably confident that's not true. See https://go.googlesource.com/proposal/+/refs/changes/80/220080/3/design/36460-lazy-module-loading.md for details.

While building the binary, go (depending on the version) will walk the transitive deps in the tree, but the actual source of any transitive deps isn't included. IE, any CVE vulnerable code isn't included.

A reference to the module may be i

[2022-01-10 18:38] knqyf263 commented on #1132
We use `go version -m` internally. See the help.

[code]

[2022-01-10 18:39] jeffwidman commented on #1559
I also verified the vulnerable version isn't included in the compiled binary... both the `indirect` and `replace` solutions list this:
[code]

So why does Trivy continue to emit a warning about `v0.3.2` being preset?

[2022-01-10 18:53] jeffwidman commented on #1132
Hmm, I'm not actually what `go version -m` pulls up. IE, is it just modules whose source is included or the metadata of all modules in the dep tree, even if their source gets pruned at compile time. I'll have to look into that more later.

[2022-01-10 19:32] nvuillam commented on #1457
@afdesk it works, many thanks for saving me from madness ;)

I close the issue :)

[2022-01-10 19:32] #1457 closed

[2022-01-11 00:03] #1318 closed

[2022-01-11 09:54] knqyf263 opened #1562 "feat(java): support PAR"
## Description
Trivy should scan PAR files.

## References
- https://docs.oracle.com/cd/E19528-01/819-5030/gbjsz/index.html
- https://www.rezilion.com/blog/log4j-blindspots-what-your-scanner-is-still-missing/

[2022-01-11 09:56] DmitriyLewen commented on #1559
Hello @jeffwidman
Thanks for your report!
After using `replace golang.org/x/text v0.3.2 => golang.org/x/text v0.3.3` have you cleared the trivy cache?
You can use `trivy --clear-cache` for this.

Regards, Dmitriy

[2022-01-11 10:13] sourabhgupta385 opened #1563 "full report is not displayed if we want to exit with different code on high or critical vulnerability"
I want to fail pipeline if only HIGH or critical vulnerabilities are found in scan. I tried with below command but it partially solves my problem as when I see the report, it lists only HIGH and CRITICAL vulnerabilities and MEDIUM and LOW vulnerabilities are omitted in report.
`trivy  image --exit-code 1 --severity HIGH,CRITICAL --format template --template "@/usr/local/share/trivy/templates/html.

[2022-01-11 10:13] kraken0909 opened #1564 "Mirror implement"
Hi! Do you have any plans to implement mirror (For example: Nexus repository) for Maven, npm, .net nuget, pip?

[2022-01-11 10:17] nathalieflower commented on #1557
The Grafana image is bad example because we are doing some custom things there that we need to review.

However if you run it against logstash the latest version `trivy image logstash:7.16.2` you get different results between 0.19 and 0.20 upwards - its like its not picking up the gem file `usr/share/logstash/Gemfile.lock (bundler)`.

[2022-01-11 11:52] knqyf263 commented on #1550
@DmitriyLewen Would you update the documentation regarding supported OS? Please check which versions are supported in Ubuntu. We support CentOS 8, not CentOS Stream.

[2022-01-11 12:07] DmitriyLewen commented on #1550
Okey, i will do it

[2022-01-11 12:07] #1314 closed

[2022-01-11 12:49] afdesk commented on #1557
@nathalieflower yes, you're right!

look at [BREAKING CHANGES v0.20.0](https://github.com/aquasecurity/trivy/discussions/1279)

[2022-01-11 12:57] Dentrax opened #1565 "Consider clarify `Missing image ID` and `Missing diff ID` messages"
It's a bit hard to distinguish what `Missing image ID:` or `Missing diff ID:` means in this context. I'm not sure if I get the meaning of `Missing` keyword. Additional to this, why Trivy try to get diff of the images or diff for ID? (What's an ID in this case?)

Trivy: `0.20.1`

[code]

[2022-01-11 13:59] amandel opened #1566 "Allow `color.NoColor = false` to set via cli"
Reading https://github.com/fatih/color#github-actions it is possible to get colorful output also in ci environments by setting `color.NoColor = false` it would be nice if this can be set or forced via trivy cli option (like `--no-colour=false`) for the table output.

[2022-01-11 15:58] MarkusTeufelberger opened #1568 "Helm Chart should have the ability to set dockerhub credentials"
There should be a way to pass dockerhub credentials (2 environment variables according to https://aquasecurity.github.io/trivy/dev/advanced/private-registries/docker-hub/) to the Trivy instance.

[2022-01-11 18:11] jeffwidman commented on #1559
Ah, that's it! I had no idea `trivy` had a built-in cache.

So looks like the bug here is the cache wasn't properly cleared for dep bumps implemented via `indirect` / `replace` pins...

[2022-01-12 04:11] evan361425 opened #1572 "False positive detection on Node.js project"
## Description

I have scanned my application and get the vulnerabilities of Node.js packages, _CVE-2021-3807_ and _CVE-2021-3918_.

command:

    $ trivy image -severity CRITICAL,HIGH --ignore-unfixed my-app:latest

However, I do check my _package-lock.json_ that using correct versions.

[code]

Also, after go inside the sources in image, there is no _package.json_ nor _package-lock.json_. I do c

[2022-01-12 05:34] evan361425 commented on #1572
Maybe we can add the feature that shows the vulnerable package paths in `-debug` mode for more details.

[2022-01-12 05:36] evan361425 opened #1573 "Shows vulnerable package path in debug mode"
In issue #1572 it is hard to tell which package is vulnerable. Maybe we can tell it in `-debug` mode?

[2022-01-12 05:48] afdesk commented on #1572
@evan361425 doesn't json output work for you?
[code]

[2022-01-12 05:49] afdesk commented on #1572
I mean showing the vulnerable package paths

[2022-01-12 05:54] evan361425 commented on #1572
Yes! I can find the vulnerable packages! It is `npm`'s dependencies.

Thank you very much!

[2022-01-12 05:58] afdesk commented on #1572
@evan361425 can we close this issue?

[2022-01-12 06:02] evan361425 commented on #1572
Thanks @afdesk

[2022-01-12 06:02] #1572 closed

[2022-01-12 06:30] vara-prasad commented on #1536
Hello,

Appreciate any feedback on this query.

With Regards,
Vara Prasad.

[2022-01-12 06:49] #1337 closed

[2022-01-12 06:51] knqyf263 commented on #1573
@evan361425 Can we close this issue?

[2022-01-12 06:57] evan361425 commented on #1573
@knqyf263 OK!

[2022-01-12 06:57] #1573 closed

[2022-01-12 10:50] NitroCao opened #1576 "How to query scan result in server mode?"
We want to query and analyze scanning results. Is there any way to query scanning results of images when trivy runs in server mode?

[2022-01-12 11:45] knqyf263 commented on #1576
You can see here.
https://aquasecurity.github.io/trivy/v0.22.0/advanced/modes/client-server/

[2022-01-12 12:30] knqyf263 commented on #1559
It's weird. The cache should not be used after the binary update. How did you scan it?

[2022-01-12 12:34] knqyf263 commented on #1302
We are trying to support a single file scanning.
https://github.com/aquasecurity/fanal/pull/356

[2022-01-12 14:18] NitroCao commented on #1576
Thanks for your reply. Normally the `trivy client` command returns the scanning results. I mean how to get results on the server side. It seems that results are cached in redis, so can I get them directly from redis?

[2022-01-12 15:30] afdesk commented on #1557
@nathalieflower for example, you can try a way [Unpacked Filesystem](https://aquasecurity.github.io/trivy/v0.22.0/advanced/container/unpacked-filesystem/) for scanning `Gemfile.lock`:
[code]
it should work: [Language-specific Packages](https://aquasecurity.github.io/trivy/v0.22.0/vulnerability/detection/language/)

[2022-01-12 16:03] javierfreire opened #1581 "Output JSON schema"
I'm trying to parse the Trivy output. Is there any JSON schema? Is it right that some entities have camel case and other snake_case?

Thank you

[2022-01-12 21:49] dinoboy197 opened #1582 "False positive for CVE-2018-16428 for glib2 version 2.56.4"
## Description

CVE-2018-16428 refers to a vulnerability that does not exist in glib2 version 2.56.4, but Trivy reports this vulnerability anyway.  [The official NVD page](https://nvd.nist.gov/vuln/detail/CVE-2018-16428) confirms that the vulnerability only exists in version 2.56.1 and [Trivy's own vulnerability list echos this](https://github.com/aquasecurity/vuln-list/blob/main/nvd/2018/CVE-2018

[2022-01-12 22:16] dinoboy197 opened #1583 "False positive for CVE-2020-17049 for krb5-libs"
## Description

CVE-2020-17049 refers to a vulnerability in Microsoft Windows Server (various versions) (see t[he official NVD page](https://nvd.nist.gov/vuln/detail/CVE-2020-17049) and [Aquasec's own vulnerability list](https://avd.aquasec.com/nvd/cve-2020-17049/) as confirmation. However, Trivy detects this vulnerability in the OS package `krb5-libs` (The non-admin shared libraries used by Kerbe

[2022-01-13 01:38] stefanlasiewski commented on #1566
Also see this related issue (Autoclosed):

https://github.com/aquasecurity/trivy/issues/1091

[2022-01-13 05:57] afdesk commented on #1581
@javierfreire thanks for your interest in `trivy`!
If Go struct is Ok for you, You can take a loot at Report struct here: https://github.com/aquasecurity/trivy/blob/22054626f3c95ed219e4af206fced1ad6ac878f7/pkg/report/writer.go#L26-L75

[2022-01-13 06:39] amandel commented on #1091
Bringing #1566 and this one together as feature request:

The used [color](https://github.com/fatih/color) package does a good  job in auto detecting whether the output supports ANSI coloring or not. Unfortunately for some use cases (mostly CI or other automation) this fails and needs manual override. Fortunately the color package already has this needed functionality as described in the [color re

[2022-01-13 06:41] amandel commented on #1566
Bringing #1566 and this one together as feature request:

The used color package does a good job in auto detecting whether the output supports ANSI coloring or not. Unfortunately for some use cases (mostly CI or other automation) this fails and needs manual override. Fortunately the color package already has this needed functionality as described in the color readme section for github-actions

For

[2022-01-13 07:49] knqyf263 commented on #1576
The server doesn't store the scan result. It has only layer information in the cache.

[2022-01-13 07:59] amandel commented on #720
We also use multiple outputs to feed results to different consumers (Jenkins warnings-ng reads the native json format, human readable output as text & html, and sarif which we plan to feed towards SonarQube). It would be great if we could get this in one go without the performance penalty.
If the underlying architecture makes this hard to implement, might be it is easier to give a option that read

[2022-01-13 08:05] knqyf263 commented on #1021
Hi @srbala, thanks for all your help to support AlmaLinux. I'm not sure if I should ask you, but I have a question. AlmaLinux seems to be missing modular information. As shown below, `MODULARITYLABEL` is always empty.

[code]

On the other hand, RHEL, CentOS and Rocky Linux have that.

[code]

Is this a bug or intended? If intended, how can we get the attribute? If you know the best place where I

[2022-01-13 08:24] NitroCao commented on #1523
Yes. I also encounter this bug.
[code]
trivy version: `0.19.2`

[2022-01-13 09:35] knqyf263 commented on #1582
If you are using a Red Hat image,  you should refer to advisories from Red Hat. They say it is affected, but they will not fix it. https://access.redhat.com/security/cve/cve-2018-16428

If you think it is wrong, please ask Red Hat. Thanks.

[2022-01-13 09:35] knqyf263 commented on #1583
same as https://github.com/aquasecurity/trivy/issues/1582

[2022-01-13 10:04] andrewlukoshko commented on #1021
@knqyf263 this is definitely a bug. Thank you for pointing this out.
I've opened a bug in AlmaLinux bug tracker: https://bugs.almalinux.org/view.php?id=173
It will take time to fix this because we'll need to rebuild all modules.

[2022-01-13 10:07] knqyf263 commented on #1021
Thanks for the quick response! Trivy cannot accurately detect vulnerabilities of modular packages due to this bug now. We'll show a warning until it will be fixed.

[2022-01-13 10:58] afdesk commented on #1523
@NitroCao thanks for your report too!
we investigated such issue https://github.com/aquasecurity/trivy/issues/1439#issuecomment-998523969

[2022-01-13 13:47] komljen opened #1589 "False positive for log4j-api CVE-2021-44228"
## Description

Trivy reports a wrong version of the log4j-api jar as `2.13.3` when version `2.17.1` is present inside the docker image.

[code]

Jar file MANIFEST.MF content:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):

[2022-01-13 14:36] afdesk commented on #1589
@komljen thanks for your report!
Could you give us more context about your scanning? Do you use `image` or `fs` option?

also, you can get more details about packages in `json` output (`-f json`):
[code]

[2022-01-13 15:23] komljen commented on #1589
I was using the image option.

Ah, with the json option I was able to see the package path and to find from where this is coming from. There is a shaded jar inside the image. When I unpacked it, I couldn't find any additional jars inside, but I was able to locate log4j-api version `2.13.2` in one of the pom files.

[2022-01-13 16:04] afdesk commented on #1589
Can we close this issue? )

[2022-01-13 16:14] timmeinerzhagen commented on #491
Seems like SafetyDB is getting dropped from trivy.

* trivy-db already dropped SafetyDB aquasecurity/trivy-db#173
* trivy has the PR for it aquasecurity/trivy#1580

[2022-01-13 21:40] jplimack commented on #1503
@afdesk mind cutting a new release and I'll test it out and report back?

[2022-01-14 00:03] #1334 closed

[2022-01-14 06:59] #927 closed

[2022-01-14 07:57] #1589 closed

[2022-01-14 11:39] AndreyLevchenko commented on #1141
Hi
Latest versions of Trivy return path to affected jars in json format. Here is example:
[code]
note that `jq` command is used as part of pipeline.

[2022-01-14 12:03] AndreyGeleta opened #1592 "Gobinary findings disappeared from output"
## Description

We faced an issue, during the migrate our docker image from alpine linux to amazon linux, we found out that all vulnerabilities disappeared in trivy report. We using version trivy 0.19.2
We got report with a lot of vulnerabilities
<img width="1152" alt="Screenshot 2022-01-14 at 13 49 54" src="https://user-images.githubusercontent.com/24304301/149511484-dd89cc00-14ba-4284-ae11-95ee1

[2022-01-14 12:25] YuviGold commented on #828
Hey, I was looking to contribute to the repository and this looks like a nice issue :)
From what I can tell there are 3 different issues raised in this thread.

1. When a result has no Vulnerabilities, it omits the `Vulnerabilities` field. The same goes for every other member of the `Result` struct since they all have the `omitempty` field.
https://github.com/aquasecurity/trivy/blob/8da20c8c926430

[2022-01-14 13:38] AErmie commented on #1317
Thanks @afdesk, I see the HTML report is showing the values now. Appreciate the effort.

[2022-01-14 13:39] #1317 closed

[2022-01-14 23:03] anthonator commented on #1525
@afdesk I’m curious why that decision was made. Is there a fundamental issue?

[2022-01-16 13:15] knqyf263 commented on #828
Hi @YuviGold, thanks for summarizing. After some consideration, I think the name of the option `--vuln-type` is confusing and the root cause of this issue. As @OwenMatsuda mentioned,

`--pkg-type` or something like that may be better to clarify it affects the list of packages and vulnerabilities both. We also need to update the help message of the option. Please let me know if you have a better id

[2022-01-16 13:25] knqyf263 commented on #491
Yes, we finally dropped Python Safety DB from Trivy DB👍  [Trivy DB v2](https://github.com/aquasecurity/trivy-db/pkgs/container/trivy-db/13076594?tag=2) is available for commercial use.
https://github.com/aquasecurity/trivy-db/issues/173

The next version v0.23.0 of Trivy CLI will start using Trivy DB v2. Note that the current latest version v0.22.0 still refers to [Trivy DB v1](https://github.com/

[2022-01-16 14:32] #1302 closed

[2022-01-16 14:32] #1533 closed

[2022-01-16 17:04] YuviGold commented on #828
I'll start from the bottom - regarding the last point, you are right.
The JSON schema doesn't return `null` but the `Results` is empty, so I was wondering whether it would make much sense to explicitly mention there are no results instead. (i.e. for scripts)

Regarding the `--pkg-type` flag - IMO it makes the same confusion. Since the returned `Result` report has both `Packages` and `Vulnerabiliti

[2022-01-16 17:36] knqyf263 commented on #828
`--scan-type` sounds like how Trivy will scan. But we want to describe what will be scanned here. Like `--scan-target`...? I believe we can have a better name... Naming is always difficult for me 😔

[2022-01-16 18:34] #1546 closed

[2022-01-17 07:34] DmitriyLewen commented on #1592
Hello @AndreyGeleta
Thanks for your report!
After v0.20.0 you need to use the `rootfs` command for gobinary.
More information there: [Language-specific Packages](https://aquasecurity.github.io/trivy/v0.22.0/vulnerability/detection/language/).

Regards, Dmitriy

[2022-01-17 14:31] MartinKirchner opened #1595 "CVEs in org.apache.james:apache-mailet:2.5.0 not found"
## Description

The Maven OWASP scanner [Dependency-Check](https://github.com/jeremylong/DependencyCheck) detects several CVEs in org.apache.james:apache-mailet:2.5.0 which are not reported by trivy.

- Extract the attached [libs.zip](https://github.com/aquasecurity/trivy/files/7882474/libs.zip) in a folder
- Run trivy:
[code]

## What did you expect to happen?
CVEs should be found:
- CVE-2021-385

[2022-01-17 14:53] knqyf263 commented on #1595
@DmitriyLewen Can you take a look?

[2022-01-17 15:34] kosztyua opened #1596 "General question regarding kernel CVEs"
Hi,
What is the reason for including kernel related CVEs like kernel-based privilege escalations? In my understanding in a containerized environment (k8s, docker, etc.) the container will always use the host kernel and while the container may have a vulnerable kernel included it is never going to be used and as such never exploitable. Is this correct or am I missing something here? Is it just for

[2022-01-17 22:30] YuviGold commented on #828
Honestly `--scan-target` sounds great to me!
Then, I'll drop the ongoing PR for this change.

In the spirit of renaming flags, would you like to rename `--list-all-pkgs` to just `--list-pkgs`?

[2022-01-17 23:22] ld-jmertz opened #1597 "Trivy support for vulnerabilities in version of golang"
Hi team!

I couldn't find anyone else asking this or similar questions. Is Trivy expected to report weaknesses in golang? I see their is an entry in the DB for https://avd.aquasec.com/nvd/cve-2021-29923/ , but my go 1.16 project is not reporting this particular CVE.

[2022-01-18 05:31] thiago-gitlab opened #1598 "Integration with GitLab will stop working in GitLab 15.0"
[Container scanning schemas below 14.0.0](https://docs.gitlab.com/ee/update/deprecations#container-scanning-schemas-below-1400) have been deprecated.

[`blob/main/contrib/gitlab.tpl:3`](https://github.com/aquasecurity/trivy/blob/main/contrib/gitlab.tpl#L3) is using a deprecated version:

The latest version of the schema is [14.1.0](https://gitlab.com/gitlab-org/gitlab/-/tree/master/ee/lib/ee/gitla

[2022-01-18 05:38] thiago-gitlab commented on #1598
Note that the GitLab [container scanning](https://docs.gitlab.com/ee/user/application_security/container_scanning/) analyzer itself, which is a wrapper around Trivy, already uses the new schema.

This is only for the `--template "@contrib/gitlab.tpl"` option, as described in https://github.com/aquasecurity/trivy/blob/main/docs/advanced/integrations/gitlab-ci.md.

[2022-01-18 07:51] DmitriyLewen commented on #1595
Hello @MartinKirchner
Thanks for your report.
For scan *.jar files you need to use `rootfs` command. More information there: [Language-specific Packages](https://aquasecurity.github.io/trivy/v0.22.0/vulnerability/detection/language/).
Trivy does not currently detect vulnerabilities in `apache-mailet-api-2.5.0.jar` and `apache-mailet-base-2.5.0.jar` Thanks for the information. We will check this pr

[2022-01-18 08:21] knqyf263 commented on #1598
Thanks for sharing! We will move to the new schema.

[2022-01-18 08:23] knqyf263 commented on #1597
Trivy currently doesn't support vulnerabilities of Go itself.

[2022-01-18 08:29] knqyf263 commented on #1596
Could you give us an example and image you scanned? Kernel vulnerabilities are not supposed to be detected.

[2022-01-18 09:40] knqyf263 commented on #828
Trivy supports misconfigurations as well as vulnerabilities. I'm concerned that `--scan-target` sounds like vulnerabilities or misconfigurations. We already have the option `--security-checks` for that purpose.

Trivy supports two types of packages now.
- OS packages
- Language-specific packages
  - we used to call it "library", but we changed it to language-specific packages since OS package is a

[2022-01-18 10:17] AndreyGeleta commented on #1592
It's doesn't matter how to run trivy I'm still can't see vulnerability
<img width="1172" alt="Screenshot 2022-01-18 at 12 15 48" src="https://user-images.githubusercontent.com/24304301/149917809-5a39c543-72cc-4273-8a5f-60eec799797f.png">

[2022-01-18 11:26] #1562 closed

[2022-01-18 11:42] kosztyua commented on #1596
Certainly, this is one of the public base images that produce such results:
` trivy image python:3.8.5 | grep kernel
|                              | CVE-2021-0129    |          |                              |                           | kernel: Improper access control                              |
|                              | CVE-2021-0129    |          |                              |

[2022-01-18 12:36] knqyf263 commented on #1596
It is not kernel, but headers.
https://packages.debian.org/en/bullseye/linux-libc-dev

Debian provides only a source package name. In case of CVE-2020-25672, it is `linux`.
https://security-tracker.debian.org/tracker/CVE-2020-25672

`linux-libc-dev` is installed via `linux` package. That's why it is detected.
https://tracker.debian.org/pkg/linux

Ideally, Debian mentions which binary package is ac

[2022-01-18 16:49] YuviGold commented on #828
Thank you for the elaborative explanation!

I think that whenever a user wants to check an image its either to scan it or to list it. I don't see why to do both, it would just print a lot of data and could mislead what actually is vulnerable.

In that case, it might be more trivial to have a subcommand for `trivy image list` and `trivy image scan` accordingly.

In addition, you mentioned misconfig

[2022-01-18 19:50] thiago-gitlab commented on #1598
Hi, @knqyf263. I have drummed this up in our team, and hope someone will volunteer to work on it. Otherwise I might give this one a crack myself.

[2022-01-18 20:13] stefanlasiewski commented on #1566
This would be very useful for simple use cases like a simple shell script that calls `trivy image ubuntu:20.04 | grep CVE`.

`--format json` is more complicated then what many folks need, and `--format template` even more so.

[2022-01-18 20:27] knqyf263 commented on #1598
We welcome any contribution from anyone 👍

[2022-01-18 22:03] kosztyua commented on #1596
Thank you for looking into this. Just to make sure, do you think my original assumption is still correct and even if these issues come from kernel headers (and not from actual kernel), we can just ignore them? My understanding is that kernel headers are basically just descriptor files for compiling against the current kernel and the found vulnerabilities are never actually exploitable if the host

[2022-01-19 09:57] javixeneize opened #1607 "List front end packages when building on nginx image"
Hi

 I am building an angular app, and copying the files on top of an nginx image, something like this https://www.indellient.com/blog/how-to-dockerize-an-angular-application-with-nginx/

I am using trivy with the  --list-all-pkgs, and it is not listing packages in my front end application. It makes sense, as i dont have a package.json file in the final container.

However, i think those dependenc

[2022-01-19 10:07] MartinEmrich commented on #1543
@knqyf263 I was just about to open the same issue... TBH, "rootfs" suggests scanning actually the root filesystem, were it not for your comment, I would not have thought of that option. (Yep, this is more of an UX issue)

What's the difference between "fs" and "rootfs" apart from not scanning JAR files anymore? Does on "miss out" on anything from "fs" when switching to "rootfs"?

[2022-01-19 10:42] knqyf263 commented on #1596
I'm not 100% confident, but I think so, too.

[2022-01-19 16:00] munntjlx opened #1608 "CVE-2021-38561 is misreporting on amazon xray image"
## Description

## What did you expect to happen?
CVE should be valid.

## What happened instead?
Program errors out with false positive being identified and severity unknown

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):

[2022-01-19 17:11] scottcunningham commented on #1550
@knqyf263 @DmitriyLewen Do you have any plans for supporting CentOS stream in the future?

[2022-01-20 00:04] #1348 closed

[2022-01-20 01:31] krol3 commented on #1608
Hi @munntjlx , this CVE exist in the golang vulnerabilities DB: https://github.com/golang/vulndb/blob/2cc2445529fc09a7d7fa175991d4ca03e2b01c1c/reports/GO-2021-0113.yaml
Could you explain, if this is a false positive?

[2022-01-20 04:55] DmitriyLewen commented on #1592
Hello @AndreyGeleta
Thank you for the information and steps to reproduce.
I can reproduce it and we are working on this problem.
Now you can use a non-root directory to scan gobinary files. eg: `trivy rootfs/usr`

Regards, Dmitriy

[2022-01-20 05:51] #1568 closed

[2022-01-20 08:55] knqyf263 commented on #1550
As far as I know, CentOS stream doesn't have security advisories. We cannot support it in a canonical manner.

[2022-01-20 09:18] divi7777777 opened #1609 "Azure devops integration error with aqua trivy image scanner."
Description
we have put aqua login task before scan task and also provided token also but ("docker: Error response from daemon: Head ***/v2/scanner-cli/manifests/6.5": no basic auth credentials.") this error is coming .I have attached the screenshots below of the error and the value which we provided for scan

What did you expect to happen?

we expect to scan the image and give the result.

![Scre

[2022-01-20 09:39] knqyf263 commented on #1609
It is not Trivy, but Aqua. Please ask the Aqua product team.

[2022-01-20 09:55] knqyf263 commented on #1053
The outside contributor @MaineK00n added support for Rocky Linux 🎉 🥳

Note that their errata has some issues and Trivy cannot detect modular packages for now. See [here](https://forums.rockylinux.org/t/some-errata-missing-in-comparison-with-rhel-and-almalinux/3843/16) for details.

[2022-01-20 09:55] #1053 closed

[2022-01-20 11:23] javixeneize opened #1610 "curl false positive"
Hi

I am using curl 7.81.0-1, and trivy is reporting this to be vulnerable to cve-2021-22947

I think this is a false positive. This is detailed here as affecting versions <=7.78.0 (although it says it affects all the versions of this package) --> avd.aquasec.com/nvd/cve-2021-22947, and also, the debian page says 7.81.0-1 is the right version to fix this --> https://security-tracker.debian.org/tra

[2022-01-20 11:43] knqyf263 commented on #1610
Are you using Debian bookworm?

[2022-01-20 11:44] javixeneize commented on #1610
i tried with this and with sid. Same results

[2022-01-20 11:51] knqyf263 commented on #1610
We don't support sid for now.

[2022-01-20 11:55] javixeneize commented on #1610
thanks. I tried with bullseye and it doesnt report it, which is good.

Happy to close the ticket

[2022-01-20 11:55] #1610 closed

[2022-01-20 12:27] danielwagstaff commented on #1350
I spent a few hours trying to figure out why Trivy wasn't picking up my package-lock.json, before I realised it ignored it because it only contained devDependencies.

May I suggest the debug output prints a message making it clear that Trivy did find the package-lock.json file, but that it only contained devDependencies, so is ignoring (unless you are going to scan devDependecies)?

[2022-01-20 14:28] omissis commented on #722
hi @knqyf263 any chance you folks had a look at this issue? :)

[2022-01-20 17:55] detnon opened #1612 "Trivy does not generate a .sarif report for fs checks"
## Description

I have an issue where a manual scan locally will shows CVE's, but if I tell it to output as sarif i get no results;
`trivy fs --security-checks vuln,config --f template --template "@contrib/sarif.tpl" -o report.sarif --severity CRITICAL,HIGH,MEDIUM,LOW ~/path/to/repo`

returns

[code]

Whereas `trivy fs --security-checks vuln,config --severity CRITICAL,HIGH ~/path/to/repo` will giv

[2022-01-20 19:11] jdesouza opened #1613 "Java (jars) not being scanned for images"
trivy 0.21.3 has an output for Java jar vulnerabilities.

For example: trivy image docker.io/library/elasticsearch:5.6.13 (on 0.21.3) brings a table with jar libs with log4j vulnerabilities

With trivy 0.22.0 the Java (jar) table has gone
When I type: trivy image docker.io/library/elasticsearch:5.6.13  (on 0.22.) no log4j vulnerability is displayed.

[2022-01-21 07:44] thangamani-arun commented on #139
This issue still exist for `trivy version 0.17.2`. could you please confirm in which version does it implemented and working ?

[2022-01-21 07:46] thangamani-arun commented on #139
@knqyf263 any comment please ?

[2022-01-21 07:49] afdesk commented on #139
@thangamani-arun thanks for your report!
Could you try the latest trivy version `v0.22.0`?

[2022-01-21 09:23] danielzhanghl commented on #1166
the PR is merged, close this ticket.
https://github.com/aquasecurity/trivy/commit/cabd18daae14ed3ac6177eeafdc0c53e5763a700

[2022-01-21 09:23] #1166 closed

[2022-01-21 09:55] nayuku opened #1614 "Log4j-api 2.14.1 false-positive"
## Description

Result of trivy scanning image with log4j-api 2.14.1 returened that this is vulnerable to:
package: org.apache.logging.log4j:log4j-api, version: 2.14.1, cve:
CVE-2021-44228 (CRITICAL), CVE-2021-45046 (CRITICAL), CVE-2021-45105 (HIGH), CVE-2021-44832 (MEDIUM)

I used command:
trivy image --ignore-unfixed --input image.tar

In the internet I found that those cves affect only log4j co

[2022-01-21 10:09] afdesk commented on #1614
@nayuku thanks for your report!
you're right, this is a known issue. details are here: https://github.com/aquasecurity/trivy/issues/1490#issuecomment-998538026

[2022-01-21 10:13] nayuku commented on #1614
okay, thanks for reply, one more question: is log4japi 2.14.1 vulnerable for CVE-2021-45105 (HIGH) and CVE-2021-44832 (MEDIUM) or those are also fp?

[2022-01-21 12:18] kosztyua commented on #1596
Thanks for the help!

[2022-01-21 12:18] #1596 closed

[2022-01-21 13:18] afdesk commented on #1612
@detnon thanks for your report!
I'll try to clarify this issue.

[2022-01-21 13:33] afdesk commented on #1612
@detnon  I cann't reproduce this issue.
There is an empty sarif result for empty folders. Are your paths the same?
Could you give me more details?
thanks a lot!

[2022-01-21 13:37] afdesk commented on #1612
Oh, may there are problems in config files.
`sarif.tpl` doesn't support misconfiguration and will not be, because we'll migrate to a new sarif option soon.

[2022-01-21 14:01] afdesk commented on #1614
@nayuku I'm not sure, it need to investigate more.
in any case I'd migrate to the latest version of log4j )

[2022-01-21 14:23] afdesk commented on #1613
@jdesouza thanks for your report! I could reproduce it, will investigate more!

[2022-01-21 17:36] detnon commented on #1612
@afdesk Thanks for getting back to me!

Could you clarify your last statement please?

[2022-01-22 00:03] #1341 closed

[2022-01-23 06:20] knqyf263 commented on #1614
Follow #1490

[2022-01-23 06:20] #1614 closed

[2022-01-23 11:13] ozbillwang commented on #480
I think the above answers are misleading.

my requirement is, I'd like to scan the image, I built locally.

[code]

[2022-01-23 13:41] flavienbwk commented on #1313
This is still a problem !

[2022-01-23 13:42] flavienbwk commented on #1313
My problem was that my cache directory was not right, make sure to specify it correctly inside the container : `/root/.cache/trivy/db`

[2022-01-23 13:58] #1529 closed

[2022-01-24 07:02] thangamani-arun commented on #139
@afdesk  We have tried with `v0.20.1`, it is taking the timeout value as configured. Thanks for your support.

[2022-01-24 07:10] munntjlx commented on #1608
I went to CVE land and the item shows up as 'reserved' with no info. So either is false, misisng, or whatnot. Its pretty useless in its current form, since nothing lists it as a valid CVE" beyond that i need to upgrade to the new version with no explanation of the vuln.

Thomas

________________________________________
From: Carol Valencia ***@***.***>
Sent: Wednesday, January 19, 2022 20:31
To: a

[2022-01-24 10:02] afdesk commented on #1612
@afdesk yes, it'll be next format:
[code]
these changes are merged into `main`, and will be available in the next release...

[2022-01-24 10:14] DmitryZ-outten opened #1617 "CVE-2021-44228 and CVE-2021-45046 should be excluded from Apache Log4j version 2.12.4"
## Description

Currently Trivy finds critical CVEs in Apache Log4j version 2.12.4:
CVE-2021-44228
CVE-2021-45046
https://avd.aquasec.com/nvd/cve-2021-45046/
https://avd.aquasec.com/nvd/cve-2021-44228/

## What did you expect to happen?
The version 2.12.4 is a security fix version with support of Java7 and it should not have these CVEs

## What happened instead?
<img width="1025" alt="Screen Shot

[2022-01-24 11:29] afdesk commented on #1617
@DmitryZ-outten thanks for your report!
You're right! I took a look at [NVD Details about CVE-2021-44228](https://nvd.nist.gov/vuln/detail/CVE-2021-44228), and there are security releases 2.12.2, 2.12.3, and 2.3.1.

But now `trivy` depends on GitHub Security Advisory Database, and they haven't excluded these versions yet: https://github.com/advisories/GHSA-jfh8-c2jp-5v3q

[2022-01-24 11:36] afdesk commented on #1617
I've added a comment about this problem to the Github Community ticket: https://github.community/t/cve-2021-44228-advisory/217105/6?u=afdesk

[2022-01-24 11:39] tatulea opened #1619 "What is the usage of --security-checks?"
I have seen that for the `image` module there is an option called `--security-checks` which can have the values `vuln,config`. What does the `config` value does? I was expecting it to be the same as `trivy config`, but actually it does not return any config file.

In what conditions should I use `--security-checks=config`?

[2022-01-24 12:19] knqyf263 commented on #1619
Please see the documentation.
https://aquasecurity.github.io/trivy/v0.22.0/misconfiguration/filesystem/

[2022-01-24 14:24] knqyf263 commented on #1341
We're sorry to miss it. `trivy image --list-all-pkgs -f json YOUR_IMAGE` will include all the installed packages and you can check it with the result JSON yourself.

[2022-01-24 14:31] tatulea commented on #1619
That is the difference between `fs` and `rootfs`? Currently I am working on an unpacket container

[2022-01-25 02:16] thangamani-arun commented on #1357
@afdesk we are using trivy `v0.20.1`, while scanning `liferay/portal:7.3.7-ga8` always failing, but this time it fails with same error as stated in this issue.

We kept trivy timeout as 1hr,

[code]

What is the reason for this failure? do we need to tweak parameter?
If not, is it a bug in `v0.20.1`?

[2022-01-25 05:51] daliborfilus opened #1620 "Docker multistage build using single USER in the last stage produces MISCONF DS002"
I have multiple multi-stage Dockerfiles, where I use root user in the first stages and then I switch to non-privileged user only in the final stage (i.e. where it matters, since all the previous stages are discarded/ omitted from the final image).

[code]

EDIT: cut out the irrelevant part and moved it to separate issue #1621

Trivy complains:

[code]

The same situation (although with different m

[2022-01-25 06:09] daliborfilus opened #1621 "FS config scan MISCONF DS018 ("the alias is not defined in previous stages") is not valid when using COPY --from=external-image"
## Description

The validation for https://avd.aquasec.com/appshield/ds018/ is invalid, since having a reference to external image is valid and supported, see https://docs.docker.com/develop/develop-images/multistage-build/#use-an-external-image-as-a-stage

Trivy could check if the `COPY --from=` argument refers to an existing image and skip this check,
OR it could decrease the severity from HIGH

[2022-01-25 07:30] knqyf263 commented on #1619
No, this option is for specifying vulnerabilities or misconfigurations and can be used with `fs` and `rootfs`. If you want to detect IaC (Infrastructure as Code) misconfigurations as well as vulnerabilities, you have to specify `--security-checks vuln,config`.

[2022-01-25 07:34] knqyf263 commented on #1621
Thanks for raising an issue! Could you raise the issue in [AppShield](https://github.com/aquasecurity/appshield) repository?

https://aquasecurity.github.io/trivy/v0.22.0/misconfiguration/policy/builtin/

[2022-01-25 07:34] #1621 closed

[2022-01-25 07:34] knqyf263 commented on #1620
Thanks for raising an issue! Could you raise the issue in AppShield repository?

For suggestions or issues regarding policy content, please open an issue under AppShield, tfsec or cfsec repository.

https://aquasecurity.github.io/trivy/v0.22.0/misconfiguration/policy/builtin/

[2022-01-25 07:34] #1620 closed

[2022-01-25 07:37] knqyf263 commented on #1550
If you want Trivy to support CentOS Stream, could you open a dedicated issue and close this one?

[2022-01-25 07:46] knqyf263 commented on #828
This will be a breaking change. I want to keep the command as is because Trivy is a vulnerability scanner and the package listing feature should be done in conjunction with vulnerability detection.

We've never heard of the confusion due to vulnerabilities/misconfigurations so far. Actually, vulnerabilities are patch-related things. In a general sense, misconfiguration is also a vulnerability as y

[2022-01-25 07:50] #1354 closed

[2022-01-25 09:43] detnon commented on #1612
Ah brilliant, thanks for letting me know ![fixparrot](https://user-images.githubusercontent.com/12752628/150952124-2ada8ac4-5531-480e-8a1c-b463491510d5.gif)

[2022-01-25 09:43] #1612 closed

[2022-01-25 09:47] jonaz commented on #140
We have started looking into this. Have anyone else begun?

[2022-01-25 12:36] tatulea commented on #1619
What is the difference between `fs` and `rootfs`? What can one detect and the other cannot?

[2022-01-25 12:49] noizo commented on #1424
[code]

[2022-01-25 13:11] YuviGold commented on #828
I see.
In that case

@knqyf263  Yes, I think `--list-pkgs` is far better.
Lots of discussions for such a small change. Anything else? :)

[2022-01-25 13:45] knqyf263 commented on #1619
https://aquasecurity.github.io/trivy/v0.22.0/vulnerability/detection/language/

[2022-01-25 13:45] knqyf263 commented on #1424
@noizo I guess your server version is old.

[2022-01-25 14:18] scottcunningham commented on #1550
will do!

[2022-01-25 14:18] #1550 closed

[2022-01-25 14:27] scottcunningham opened #1622 "Support for CentOS Stream"
This issue is to track what would be required to support CentOS stream.

Follow-up from https://github.com/aquasecurity/trivy/issues/1550

## The problem

As I understand it, the issue is that Trivy can't apply the RHEL security advisories to CentOS Stream as CentOS Stream now tracks ahead of RHEL in the release cycle.

## Alternatives to RHEL security advisories

One potential solution could be t

[2022-01-25 14:27] scottcunningham commented on #1550
Filed https://github.com/aquasecurity/trivy/issues/1622 to track this.

[2022-01-25 14:53] abhinavkhanna-sf commented on #1303
@knqyf263 When are you planning to release sarif related changes #1437  ?

[2022-01-25 15:33] bendem commented on #1053
I see the support was added in aquasecurity/trivy-db#154. Do we have to wait for a new trivy release before being able to use that new db version?

[2022-01-25 15:47] 3rgfbrgf opened #1623 "trivy-db schema version 2"
## Description

I'm using trivy-db tool to create a local trivy DB copy.
That DB copy is being used as a main vuln DB source for the latest version of trivy (from releases).

Now, after this [commit](https://github.com/aquasecurity/trivy-db/pull/168/commits) to trivy-db repo, I'm getting an error if I try using the latest trivy with locally compiled database.
2022-01-25T18:39:30.098+0300	ERROR	Tri

[2022-01-25 15:50] knqyf263 commented on #1303
We planned to release it at the end of this month, but there may be some delay.

[2022-01-25 17:24] #1623 closed

[2022-01-26 00:50] daliborfilus commented on #1621
No problem, created as https://github.com/aquasecurity/appshield/issues/146.

[2022-01-26 00:51] daliborfilus commented on #1620
No problem, created as https://github.com/aquasecurity/appshield/issues/147.

[2022-01-26 07:44] knqyf263 commented on #1620
Thanks.

[2022-01-26 11:53] tatulea opened #1626 "FS scanning does not find requirements.txt"
## Description

I am starting a docker container with the command
[code]

Then I create a `requirements.txt` file with:
[code]

The file is created in `/usr/share/elasticsearch`.

Then I export the running container with:
[code]

Then I run `trivy -debug fs /tmp/rootfs` and the OS unpatched packages are listed, but I would expect the `requirements.txt` file to be also reported. The command returns

[2022-01-26 11:57] knqyf263 commented on #1626
@DmitriyLewen Would you take a look?

[2022-01-26 12:31] DmitriyLewen commented on #1626
Hello @tatulea
Thank you for your issue!
I reproduced your problem.
I will investigate more!

Regards, Dmitriy!

[2022-01-26 16:26] knqyf263 commented on #1550
Thanks

[2022-01-26 16:35] volcan01010 opened #1627 "Open Policy Agent ignore-policy examples don't work as documented"
## Description

The vulnerability filtering using the `--ignore-policy` flag has two issues:

+ The command given in the [documentation](https://aquasecurity.github.io/trivy/v0.22.0/vulnerability/examples/filter/) doesn't work because the directory with the file is called `example_policy` not `example_filter`.
+ The ignore rules based on the V3 vectors aren't applied because the location of the v3

[2022-01-26 17:11] nycalex opened #1629 "Help in locating vulnerable component"
Trivy is detecting log4j v2.x yet i am unable to locate the corresponding file in the container.
the package field says "org.apache.logging.log4j:log4j-core" which isn't a package name or a file name.

Is there any way to extract more details from trivy that could be used to locate what needs to be remediated?

Edit: took a bunch of retries to get the table below formatted right

[code]

[2022-01-26 23:44] PenelopeFudd commented on #1506
Ok, I think I've got the same problem:
[code]
I can run `trivy image node`, `trivy image node:12.6.3`, or `trivy image localhost:5000/ansible-base`, but not `trivy image "<none>"` (makes no sense) or `trivy image ecea4ed288b9` (not found).

Is there a way to scan images by image id?  In a forensic investigation of a live system, it would be a bad idea to modify the docker image metadata, as that w

[2022-01-27 04:11] anhnvme opened #1630 "Cache-dir option not working"
## Description

I'm tried running command with cache-dir option but it' return error
[code]
## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

[2022-01-27 04:34] DmitriyLewen commented on #1626
Hi @tatulea
This issue is similar to issue #1592.
We are working on this now.

[2022-01-27 10:10] DmitriyLewen commented on #1630
Hello @anhnvme
Thanks for your report!
`--cache-dir` and `--debug` are global options.
More information [here](https://github.com/aquasecurity/trivy/blob/main/docs/getting-started/cli/index.md)
Use this command to scan:
[code]

Regards, Dmitriy

[2022-01-27 10:22] anhnvme commented on #1630
Thank you so much. My mistake.

[2022-01-27 10:22] #1630 closed

[2022-01-27 10:56] sc30 opened #1633 "CVE-2017-7536 scan from trivy 0.18.0 shows it is fixed in hibernate validator 5.2.5.Final, but not from trivy 0.22.0"
## Description
org.hibernate:hibernate-validator 5.2.4.Final on **Trivy 0.18.0** shows the following
VULNERABILITY ID: CVE-2017-7536
SEVERITY:HIGH
INSTALLED VERSION: 5.2.4.Final
FIXED VERSION: 5.4.2, 5.3.6, 5.2.5
TITLE: hibernate-validator: Privilege  escalation when running under the security manager --> avd.aquasec.com/nvd/cve-2017-7536

org.hibernate:hibernate-validator 5.2.4.Final on **Trivy 0

[2022-01-27 11:13] afdesk commented on #1633
@sc30 thanks for your report! I`ll try to reproduce and clarify this issue

[2022-01-27 14:01] knqyf263 commented on #1053
You need to wait for v0.23.0. It is supposed to be released on January 31st.

[2022-01-27 14:33] afdesk commented on #1357
@thangamani-arun thanks for your report!
could you try the latest version of `trivy` at first?

and please, let me know if the problem persists. thanks

[2022-01-27 15:35] sc30 commented on #1633
thank you @afdesk for the quick response!

One more thing to note is that once we updated hibernate validator from 5.2.4.Final to 5.2.5.Final, we did a scan with trivy 0.18.0 and trivy 0.22.0. both trivy version reports

[2022-01-27 16:27] krol3 commented on #1607
@javixeneize the current support language is here https://aquasecurity.github.io/trivy/v0.22.0/vulnerability/detection/language/

Could give more details about the top layer of your app? What files contains?

[2022-01-27 19:55] stefanlasiewski commented on #1629
@nycalex use three ` ``` ` before and after the first `+-------` and after the last `----+` and it should fix the formatting.

(FYI: I came here because I'm running into a similar issue in trying to locate which jar contains the log4j vuln).

[2022-01-27 21:13] #1597 closed

[2022-01-27 21:27] nycalex commented on #1629
I had an idea to look inside the jars, but all is see inside is class names that all the same regardless of log4j version... Not helpful... Really need to know the filename that is triggering the detection...

`find / -name "*log4j*.jar" -exec sh -c 'printf "\n\nFile: {}"; jar tf {}' ";" | grep log4j`

[2022-01-27 22:22] jfowl commented on #1598
Isn't this just copying https://gitlab.com/gitlab-org/security-products/analyzers/container-scanning/-/blob/master/lib/template/trivy.tpl over to contrib?

[2022-01-27 22:35] stefanlasiewski commented on #1629
@nycalex Looks in any WAR files as well.

[2022-01-27 23:24] javixeneize commented on #1607
Hi

it contains just the dist folder, it is, the static files built with npm. It doesn’t contain any package.lock or similar

thanks

[2022-01-27 23:48] thiago-gitlab commented on #1598
@jfowl not quite because the [GitLab analyzer adds/modifies some properties](https://gitlab.com/gitlab-org/security-products/analyzers/container-scanning/-/blob/a19f28c8500e50bc2ea0514576308262431556ae/lib/gcs/converter.rb#L13) that are not part of the template.

[2022-01-28 00:00] jfowl commented on #1598
Ah, I see. My brain fart had to be too good to be true.

[2022-01-28 00:29] stefanlasiewski commented on #1629
@nycalex Use the `--format json` and it should print the filename. (Kudos to my coworker V for figuring that out)

[2022-01-28 04:21] krol3 commented on #1629
@nycalex I localized the libraries using `unzip application.jar`, and use a `find . -name "log4j*.jar"`. For more details you could take a look to this [log4j image sample](https://github.com/krol3/workshop-cloud-native-security/blob/main/vulnerabilities.md#filter-log4j-cve-using-opa)

[2022-01-28 14:35] nycalex commented on #1629
I polished it up a bit more... hope it will help someone save their time....  replace CVE as needed.

`sudo /usr/local/bin/trivy -f json imagename:tag | grep -A2 "\"VulnerabilityID\": \"CVE-2021-44228\""
`
Output:

`          "VulnerabilityID": "CVE-2021-44228",
          "PkgName": "org.apache.logging.log4j:log4j-api",
          "PkgPath": "opt/xxx/yyy/filename-2.3.0.jar",
--
          "Vulnerabi

[2022-01-28 14:48] krol3 commented on #1629
Nice! @nycalex

[2022-01-28 18:19] anders-swanson opened #1639 "Optionally include Copyrights/Notices in scan results"
Is it possible for Trivy to include Copyrights and/or Notice texts in scan results, if they are present? This could be a helpful compliance feature.

[2022-01-29 05:10] huai168an commented on #1412
@AndreyLevchenko  hi, client and server mode,the file path  is never mentioned in the 0.22.0 output(json) ,but trivy image -f json is ok

[2022-01-29 19:26] #491 closed

[2022-01-30 00:03] #1340 closed

[2022-01-30 00:34] huai168an opened #1642 "trivy client -f json format no file path"
client and server mode,scan image,the jar file path is never mentioned in the 0.22.0 output(trivy client -f json) ,  {{ .PkgPath }} or {{ escapeXML .PkgPath }} in HTML template is null, but trivy image -f json and HTML template is ok

#1412

[2022-01-30 03:49] afdesk commented on #1642
@huai168an thanks for your report!
I'll try to fix it.

[2022-01-30 14:02] MichaelLeeHobbs opened #1645 "Bug? Doesn't seem to work on https://github.com/nextgenhealthcare/connect"
## Description

Does not seem to work on repo https://github.com/nextgenhealthcare/connect.

## What did you expect to happen?
A vulnerability report.

## What happened instead?
[code]

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):
Ran from WSL2 Ubuntu. Works fine when running `trivy image nextgenheal

[2022-01-31 06:37] developer-guy opened #1646 "provide vulnerability attestation based on cosign vuln spec"
In cosign, we (w/@dentrax @dlorenc) worked on generating a spec for vulnerabilities[^1] and ended up having something like the following 👇
https://github.com/sigstore/cosign/blob/main/specs/COSIGN_VULN_ATTESTATION_SPEC.md

So, I thought it'd be nice to adapt it to Trivy, and maybe we can enable this support with a flag `--attestation <PATH>.`

[^1]: https://github.com/sigstore/cosign/issues/442

[2022-01-31 13:33] #1371 closed

[2022-01-31 14:18] #1627 closed

[2022-01-31 16:14] TomCools opened #1656 "Flag provided but not defined (-severity) since 0.23.0"
## Description

Our build server has started failing. We use Trivy to scan, using Docker containers.
Since the new release of 0.23.0 on Docker hub (we are on :latest in our build server, a questionable choice but here we are), we are getting an error.

## What did you expect to happen?

Trivy to recognize the Severity flag.

## What happened instead?

This is weird, because we haven't changed our

[2022-01-31 16:39] knqyf263 commented on #1656
Please see here.
https://github.com/aquasecurity/trivy/discussions/1515

[2022-01-31 16:45] TomCools commented on #1656
Missed that notice. Thanks!

[2022-01-31 16:45] #1656 closed

[2022-01-31 16:57] vbonini opened #1657 "Broken args with v0.23.0, ignore-unfixed / exit-code / no-progress"
## Description
After updating to the new v0.23.0 release, several of the args that we rely on (within gitlab CI) are not found.

[code]
[code]

## What did you expect to happen?

Command to complete successfully.
- Trivy to not print/output unfixed vulnerabilities.
- Trivy to fail w/exit code 1 on detecting a fixed CRITICAL vulnerability.
- Trivy to limit output while scanning (no-progress).

## W

[2022-01-31 16:58] knqyf263 commented on #1657
https://github.com/aquasecurity/trivy/issues/1656

[2022-01-31 16:58] #1657 closed

[2022-01-31 17:03] caiohasouza opened #1658 "flag provided but not defined: -download-db-only"
## Description

Hi,

On 0.23.0 release the param "download-db-only" stopped to working.

## What did you expect to happen?
The param "download-db-only" still continue working.

## What happened instead?
We receive this error:

[code]

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):
Docker image aquasec/

[2022-01-31 17:36] snowbldr commented on #1658
Seems intentional, https://github.com/aquasecurity/trivy/discussions/1515

It seems we will need to change our calls to `trivy image --download-db-only`

[2022-01-31 17:42] knqyf263 commented on #1658
@snowbldr Thanks for answering. Yes, you're right.

[2022-01-31 17:43] knqyf263 commented on #1658
Duplicated
- https://github.com/aquasecurity/trivy/issues/1657
- https://github.com/aquasecurity/trivy/issues/1656

[2022-01-31 17:43] #1658 closed

[2022-01-31 17:48] knqyf263 commented on #1646
Thanks. Sounds interesting.

[2022-01-31 21:32] nomadicoder opened #1659 "exit-code option flag ignored"
## --exit-code option flag is ignored in v0.23.0

Attmpted to run trivy scan with the --exit-code 1 option, but with v0.23.0, receive option flag not defined error.  This was not indicated in the change log

## What did you expect to happen?
Expected output (Note: There are expected critical to be detected)

[code]

## What happened instead?
Received full output instead of just exit code

## Outpu

[2022-02-01 00:07] #1370 closed

[2022-02-01 00:07] #1359 closed

[2022-02-01 04:14] DmitriyLewen commented on #1645
Hello @MichaelLeeHobbs
I will try to reproduce your problem and get back to you.

Regards, Dmitriy

[2022-02-01 04:39] DmitriyLewen commented on #1645
Hello @MichaelLeeHobbs
You want vulnerabilities for `jar` files, right?
`repo` command does not support scanning `jar` files.
More information there: Language-specific Packages.

[2022-02-01 05:45] nilushancosta commented on #1659
@nomadicoder , the command has now changed. Instead of `trivy`, we now need to use `trivy image`. Please see the discussion in https://github.com/aquasecurity/trivy/discussions/1515 for more information

[2022-02-01 06:32] knqyf263 commented on #1659
This is a duplicate of the following Issue:
- #1658
- #1657
- #1656

[2022-02-01 06:32] #1659 closed

[2022-02-01 08:43] developer-guy opened #1660 "sign and verify trivy binaries/container images with cosign"
[cosign](https://github.com/sigstore/cosign) is a tool for signing blobs, container images, etc. The real power of cosign comes from storing signatures, attestation, etc in the Rekor Transparency log feature without requiring public/private key pairs. So, we can use cosign to sign and verify Trivy container images, binaries, etc.

[2022-02-01 08:44] developer-guy commented on #1646
I can work on this, feel free to assign it to me 🙋🏻‍♂️

[2022-02-01 08:47] knqyf263 commented on #1646
Great to hear that! Could you share how it works before you start working on it?

[2022-02-01 08:49] knqyf263 commented on #1660
We are actually planning to sign our images with cosign, but it would be great if you do that.

[2022-02-01 12:51] s3nl opened #1661 "Trivy 0.23.0 Incorrect Usage. flag provided but not defined: -f"
Hi

In Trivy 0.23.0, the error message "Incorrect Usage. flag provided but not defined: -f occurs."

I have added "image" to the trivy command like this:
trivy image -f json -o "$OS_VULN_REPORT" --cache-dir "/name off dir" --vuln-type os "path to image"

But then the message "Incorrect Usage. flag provided but not defined: -cache-dir occurs".

placing the "image" command after: --cache-dir "/var/t

[2022-02-01 12:51] MichaelLeeHobbs commented on #1645
@DmitriyLewen I was expecting the Java ie jar output that you see when scanning an image. Closing this as a problem between the keyboard and seat.

[2022-02-01 12:51] #1645 closed

[2022-02-01 13:00] ElGusanito opened #1662 "Flag provided but not defined"
trivy --skip-dirs /etc --skip-dirs /usr/local/lib/node_modules has been working all along until latest update (0.23.0)

Now I get the following error:  Incorrect Usage. flag provided but not defined: -skip-dirs

[2022-02-01 13:19] afdesk commented on #1661
@s3nl thanks for your interest in `trivy`!
It seems that there is a problem with args.

**note**: `--cache-dir` is a global arg, so you must construct the command as `trivy --cache-dir $CACHE_DIR image ...`

my example works correctly:
[code]

[2022-02-01 13:59] afdesk commented on #1662
@ElGusanito  Did it help you?

[2022-02-01 14:08] ElGusanito commented on #1662
Yes, that seems to have fixed the issue.  Thanks for your input.

[2022-02-01 14:09] afdesk commented on #1662
I'm glad to help you.
can we close this issue?

[2022-02-01 14:11] skothandan opened #1663 "Ubuntu ESM support"
## Description

we run scanning for container images which uses OS ubuntu 16.04 using Trivy 0.23.0. It did not detect all vulnerabilities in OS libraries (supposed to detect the below CVE vulnerabilities which were detected in Tenable.io CS )
CVE-2021-3520
CVE-2017-8872
CVE-2021-3518
CVE-2021-3517
CVE-2021-25217
CVE-2021-3541
CVE-2020-24977
CVE-2020-13529
CVE-2021-33910
CVE-2021-25219

## What did

[2022-02-01 14:28] afdesk commented on #1663
@skothandan thanks for your report!
I took a look at `CVE-2021-3518`. the CVE affects on `libxml2`, but the image `ubuntu:16.04` from Docker Hub doesn't contain this package.
Could you tell us a way how you install packages for your image? maybe you can show Dockerfile...
thanks a lot.

[2022-02-01 14:32] #1662 closed

[2022-02-01 14:53] s3nl commented on #1661
This works! Thank you for your quick response.

[2022-02-01 15:05] #1661 closed

[2022-02-01 15:11] nomadicoder commented on #1663
I typically used `brew update trivy` to upgrade on Mac OS X 10.15.7, but in order to get the output for my issue, I had to revert back to 0.22 with `curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sh -s -- -b /usr/local/bin v0.22.0` and to get 0.23, I used `curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sh -s -- -b

[2022-02-01 19:04] nilushancosta opened #1664 "Update overview section in Dockerhub to reflect "trivy image" command change"
The overview section in https://hub.docker.com/r/aquasec/trivy still shows `trivy [YOUR_IMAGE_NAME]` as the command to be used to scan a Docker image.
This should be changed to `trivy image [YOUR_IMAGE_NAME]` as per https://github.com/aquasecurity/trivy/discussions/1515

[2022-02-01 19:52] eanjtab opened #1665 "Vulnerabilities found in the powerflex csi components"
## Description

Recent vulnerability scan shows issues in powerflex csi components. Details of issues are in attached file.

Also, provide a timeline to uplift to the below latest csi components in powerflex csi.

Component	Latest Version available	Powerflex 2.1.0
csi-attacher	            v3.4.0	                        v3.3.0
csi-provisioner	    v3.1.0	                        v3.0.0
node-driver-re

[2022-02-02 10:25] aasyria opened #1666 "Sort the vulnerabilities by SEVERITY in the Report"
just implemneting this internally when the report is generated or adding new flag --sort

[2022-02-02 10:45] aasyria opened #1667 "Trivy on Air-Gapped Environment does not work as expected on the Version 0.23.0"
## Description
Trivy on Air-Gapped Environment does not work as expected on the Version 0.23.0

## What did you expect to happen?
When I copy the files "metadata.json" and "trivy.db" into the cache folder and passing the "--skip-update --offline-scan" it should scan normally without any update

## What happened instead?
It is tiling me that the schema is old

## Output of run with `-debug`:

[code

[2022-02-02 11:01] knqyf263 commented on #1667
@DmitriyLewen Could you look into it? Looks like the database copy just failed according to the output of `trivy -v`.

[2022-02-02 11:11] DmitriyLewen commented on #1667
Hello @aasyria
Thanks for your issue!
I will take a look your problem and contact you later.

Regards, Dmitriy.

[2022-02-02 13:33] skothandan commented on #1663
@afdesk Thanks for quick response!
We are unable to find the docker file now. so have uploaded the image (built from the docker file) into docker hub in the following path.
https://hub.docker.com/r/mraja3007/imagescanning
Could you try to narrow down the issue with this image. kindly highlight if you need any further information.

[2022-02-02 14:41] geowalrus4gh commented on #1353
Could you please document this?

[2022-02-02 17:10] mrjonstrong commented on #1463
@ginkel the GHA https://github.com/advisories/GHSA-jfh8-c2jp-5v3q has been updated now, should work as expected now.

[2022-02-02 17:12] mrjonstrong commented on #1490
@debu99 https://github.com/advisories/GHSA-jfh8-c2jp-5v3q has now been updated and so should work as expected.

[2022-02-03 04:07] DmitriyLewen commented on #1667
Hello @aasyria
Since v23.0 trivy [uses DB v2](https://github.com/aquasecurity/trivy/discussions/1652).
Please download the new version as indicated [here](https://github.com/aquasecurity/trivy/blob/main/docs/advanced/air-gap.md).

Regards, Dmitriy

[2022-02-03 08:23] YuviGold opened #1670 "Consistent `make protoc`"
This issue was raised as part of https://github.com/aquasecurity/trivy/pull/1655

https://github.com/aquasecurity/trivy/blob/05ae22a85c83047352f747048061afaa55cfa737/Makefile#L56-L57

Currently, `make protoc` generates protobuf outputs has multiple assumptions:
1. Specific `protoc` version
2. `twrip` plugin version
3. Assuming `trivy` repository is located at a specific path `$GOPATH/src/github.co

[2022-02-03 12:09] magbytes opened #1672 "CVE-2022-23601: CSRF token missing in forms: Does this affect 4.4.x"
CVE-2022-23601: CSRF token missing in forms

Does this affect 4.4.x Releases? It seems, based on the post above, that it does not, yet GitHub is generating dependabot warnings about it on 4.4.x projects.

From Symfony site the say (https://symfony.com/blog/cve-2022-23601-csrf-token-missing-in-forms):

[code]

[2022-02-03 12:37] tatulea commented on #1506
I'm also interested in scanning the image using image id

[2022-02-03 12:38] aasyria commented on #1667
Thank you for the quick response
I am downloading the database from the Releases on the Repository
and then I moved the file into our internally system and extracted as in the Documentation described in the cache folder and tried to start the scan as I described above.

[2022-02-03 12:39] aasyria commented on #1667
I did that and the Version 0.23.0 still does not read the Database Schema correctly.
please try to debug it in not internet environment.

[2022-02-03 12:40] 06kellyjac opened #1673 "NixOS support"
I'm interested in having NixOS scanning support

[code]

---

I was looking into adding the feature, basing my code off the existing code for alpine/amazon/rhel and diving into trivy-db but I realized all these distros have official vuln trackers.

I was hoping to just use NVD warnings but I noticed no other scanner explicitly relies on that & it also has the downside of being quite inaccurate sin

[2022-02-03 12:45] aasyria commented on #1667
after reading the new

after reading [uses DB v2](https://github.com/aquasecurity/trivy/discussions/1652) and  [Documentation](https://github.com/aquasecurity/trivy/blob/main/docs/advanced/air-gap.md) i think i can not download the  Database from the Releases

[2022-02-03 12:45] #1667 closed

[2022-02-03 13:18] 06kellyjac commented on #1667
That's correct. Currently you have to pull it from OCI. The guide Dmitriy posted uses `oras`

or you can use this function to use `crane` (from go-containerregistry)

[code]

[2022-02-03 15:54] eanjtab commented on #1665
This is incorrectly opened, hence closing it.

[2022-02-03 15:54] #1665 closed

[2022-02-03 15:54] eanjtab commented on #1665
This is incorrectly opened, hence closing it.

[2022-02-03 20:05] jeffwidman commented on #1559
Saw this exact same error again in a recent build.

Our scan is very vanilla, nothing fancy. We use Drone as our CI engine.

First we build the handful of apps we need into binaries, and then add them to a docker image which is the artifact that we plan to deploy.

Then we scan that docker image using Trivy. We execute the scan from within a custom docker container that another team within our com

[2022-02-04 01:47] rshelby5 commented on #1656
@TomCools what was the fix. I still cannot get it to work. Can you share the code that fixed it?

Your code:
 aquasec/trivy \
    --severity HIGH,CRITICAL \
    --exit-code=0 \
    --format template --template "@contrib/junit.tpl" -o /trivy-report/junit-report.xml \
    --ignore-unfixed \
    --skip-dirs "${{ parameters.trivySkipDirs }}" \
    ${{ parameters.containerRegistryUrl }}/${{ parameters.

[2022-02-04 06:52] TomCools commented on #1656
For those who find this issue. The solution was to add "image" to the command. (see line 2)

 aquasec/trivy \
    image \
    --severity HIGH,CRITICAL \
    --exit-code=0 \
    --format template --template "@contrib/junit.tpl" -o /trivy-report/junit-report.xml \
    --ignore-unfixed \
    --skip-dirs "${{ parameters.trivySkipDirs }}" \
    ${{ parameters.containerRegistryUrl }}/${{ parameters.name

[2022-02-04 09:59] magbytes commented on #1672
I have just seen that it has been corrected.

HIGH VULNERABLES is no longer marked for 4.4.X.

Thanks

[2022-02-04 09:59] #1672 closed

[2022-02-05 00:03] #1383 closed

[2022-02-05 06:48] dowlingw opened #1676 "Allow customisation of ServiceAccount annotations in helm chart"
As the title, allow users of the Trivy helm chart to provide custom annotations to the Trivy helm chart.

The use case for this is to use IAM roles for service accounts when running Trivy on Amazon EKS:
https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html

Whilst this is possible using the existing `registryCredentialsExistingSecret` parameter and a sidecar - this i

[2022-02-05 14:20] davinkevin commented on #1353
The `contrib` templates were embedded in the binary, which was really simple to use. This (major) change should be documented 👍 if not fixed I think

[2022-02-05 14:28] davinkevin commented on #1598
I think there is more than just upgrading `contrib` from trivy, because the last version (`0.23.0`) doesn't allow to use embedded templates anymore:

![image](https://user-images.githubusercontent.com/1970922/152645874-1ef79c6f-8e3e-419d-aaa6-51c4edba45d2.png)

[2022-02-05 18:45] tspearconquest opened #1678 "Patch expat vulnerabilities"
## Description
[code]

## What did you expect to happen?
No vulnerabilities

## What happened instead?
2 vulnerabilities were reported

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):

[2022-02-05 19:23] tspearconquest opened #1680 "Patch Go vulnerabilities"
## Description
[code]

## What did you expect to happen?
No vulnerabilities

## What happened instead?
2 vulnerabilities were reported

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):

[2022-02-06 00:04] #1386 closed

[2022-02-07 00:03] #1397 closed

[2022-02-07 00:03] #1396 closed

[2022-02-07 00:03] #1395 closed

[2022-02-07 10:52] DmitryZ-outten commented on #1617
@afdesk Thank you! They have mentioned that advisory has been updated, but I still see CVE for version 2.12.4

[2022-02-07 12:12] #1680 closed

[2022-02-07 22:39] jurschel commented on #1424
I'm trying this on 0.23.0 and getting the same problem.  What is the solution to this problem?

[2022-02-08 06:24] Amndeep7 opened #1684 "Sample ASFF template doesn't include wrapping structure"
## Description

Currently the asff template just provides an array of all the findings; however, the format specifies that it should be an object with an attribute called "Findings" that consists of that array of all the findings.

You can see this specification on the ["ASFF Syntax"](https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-findings-format-syntax.html) and ["BatchImpor

[2022-02-08 07:14] DanielMcKracken opened #1686 "download-db-only and cache-dir option can not be used together"
I want to download the database into a specific folder, but the command "trivy image --download-db-only --no-progress --cache-dir .cachedir/" shows error message:

"Incorrect Usage: flag provided but not defined: -cache-dir"

Seems like the download-db-only and cache-dir option can not be used together, as the cache-dir is a global option now.

trivy version is 0.23.0

[2022-02-08 07:21] knqyf263 commented on #1686
Try
trivy --cache-dir .cachedir/ image --download-db-only --no-progress

[2022-02-08 07:32] DanielMcKracken commented on #1686
Thank you very much for the quick response - it works now! Sorry for the buzz :)

[2022-02-08 07:32] #1686 closed

[2022-02-08 11:03] Craeckie commented on #1194
I'm getting the same error on Ubuntu impish:

[code]

I followed this guide: https://aquasecurity.github.io/trivy/v0.23.0/getting-started/installation/

Installing the deb file works.

[2022-02-08 11:23] javixeneize opened #1689 "--list-all-pkgs flag doesnt exist in version 0.23"
Hi

I have moved from version 0.21 to 0.23, and this flag is no longer there. Has the name changed?

Thanks

[2022-02-08 11:37] knqyf263 commented on #1689
I guess you just missed `image` subcommand.

[code]

[2022-02-08 11:40] javixeneize commented on #1689
This was the next question, how could i see available flags as the help only display some. Yeah, looks like the syntax format has changed between both versions and now i have to run trivy image --list-all-pkgs $IMAGE. In 0.21 i could run trivy --list-all-pkgs image  $IMAGE

Thanks!

[2022-02-08 11:40] #1689 closed

[2022-02-08 11:42] knqyf263 commented on #1689
https://github.com/aquasecurity/trivy/issues/1662

[2022-02-08 16:18] yuriShafet opened #1690 "--skip-update is not preventing DB update."
## Description
[code]
## What did you expect to happen?

Trivy should not start DB update procedure.

## What happened instead?

Trivy  started DB update procedure.

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

[2022-02-08 18:51] dinvlad opened #1691 "'failed to get the vulnerability: failed to marshal JSON: unexpected end of JSON input' warning with some images"
## Description

## What did you expect to happen?
Scan of all images (e.g. `ruby:2.6-slim` and `ruby:2.7-slim`) completes without warnings.

## What happened instead?
When scanning these images, I get the warning `Error while getting vulnerability details: failed to get the vulnerability: failed to marshal JSON: unexpected end of JSON input`

## Output of run with `-debug`:

[code]

## Output of `

[2022-02-08 19:27] yuriShafet commented on #1690
If this issue is confirmed, I could make a PR that resolves it.

[2022-02-09 05:59] afdesk commented on #1691
Hi @dinvlad thanks for your report!
we took a look at this issue.

yes, there are errors for some vulnerabilities without full information.
In your case `CVE-2011-4917` and `CVE-2022-0492` don't contain such info.

also these JSON errors don't affect on the result. right?
Can you see all vulnerabilities and doesn't  `trivy` have panic?

so we don't think that It's a big problem...

[2022-02-09 06:08] afdesk commented on #1684
@Amndeep7 thanks for your report!
I'll try to clarify this issue.

[2022-02-09 07:12] #1690 closed

[2022-02-09 07:12] yuriShafet commented on #1690
It seems that Trivy requires for metadata.json existence. After the file is present, update is not required.

[2022-02-09 07:21] Amndeep7 commented on #1684
@afdesk I have a PR attached that'll ideally provide this fix for you.  Just need permission before I sign off on the CLA.

[2022-02-09 07:23] madianas21 opened #1692 "Installation on Ubuntu 21.10 Impish not working"
## Description

Installing Trivy according to [official instruction here](https://aquasecurity.github.io/trivy/v0.21.2/getting-started/installation/#debianubuntu)

Installation via `apt` on the latest version of Ubuntu is not supported.

## What did you expect to happen?
Successfull installation

## What happened instead?
[code]

[2022-02-09 08:51] ejoubaud opened #1693 "--no-progress flag is broken"
## Description

Passing the `--no-progress` flag now causes trivy to error out. Looking at ef8a1afcdb4c081c9b75cad7ad7136961778ef27, that doesn't seem intentional.

## What did you expect to happen?

[code]

should work

## What happened instead?

It gives me a `Incorrect Usage. flag provided but not defined: -no-progress` message and error status

[2022-02-09 09:03] knqyf263 commented on #1693
Duplication
- https://github.com/aquasecurity/trivy/issues/1689
- https://github.com/aquasecurity/trivy/issues/1662
- https://github.com/aquasecurity/trivy/issues/1658
- https://github.com/aquasecurity/trivy/issues/1657
- https://github.com/aquasecurity/trivy/issues/1656
- https://github.com/aquasecurity/trivy/issues/1659

[2022-02-09 09:04] #1693 closed

[2022-02-09 09:08] knqyf263 commented on #1598
@davinkevin It works in my environment. Please make sure your template is in the path you specified.

[2022-02-09 09:24] ejoubaud commented on #1693
Right, we hadn't added the `image` command, sorry about the rushed report

[2022-02-09 11:17] davinkevin commented on #1598
I thought (from the beginning) templates where embedded in the binary 🤦 . So, testing it from my `brew` installation leads to this error while in CI is OK. Sorry for the bad comment.

PS: embedded template could be good rather than relying in location on file system (in brew context, I don't know where they are installed by default).

[2022-02-09 15:13] javixeneize opened #1695 "Vulnerabilities (false positives) detected in V21 but not in V23"
Hi

I have noticed some vulnerabilities are reported when scanning a project with trivy v21 but not when scanning with trivy v23. I think those are false positives, so it means v23 has some improvements over v21, but i wanted to double check with you

A good example of this is CVE-2013-4002 in xerces:xercesImpl:2.7.1, which dependabot is not reporting either, and according to NVD, doesnt affect rh

[2022-02-09 17:14] msw-kialo opened #1697 "Label images based on org.opencontainers.image schema"
**Background**:
The official Trivy images are labeled following [the `org.label-schema` Label Schema](https://label-schema.org). That schema has been deprecated in favor of [the superseeding OCI image spec annotations](https://github.com/opencontainers/image-spec/blob/main/annotations.md#back-compatibility-with-label-schema).

The first tools rely on the `org.opencontainers.image` and ignore `org.

[2022-02-09 21:20] dinvlad commented on #1691
@afdesk hmm interesting, I do see those 2 vulnerabilities (along with others) in the output still, so I guess it just affects some "keys" within the affected vulnerability objects but not other keys? If so, I think this is completely fine :-)

[2022-02-09 23:09] si-dra-no opened #1698 "Windows 10 - Trivy report format options do not generate any file"
## Description
I am running Trivy in Windows 10 to scan a container image, and when I try to format the output, no file is generated.

## What did you expect to happen?
To get a formatted file (e.g., JSON, HTML) with the output of the Trivy scan for the container image.

## What happened instead?
No file is generated, and no error message is shown.

## Output of run with `-debug`:
PS C:\> docker r

[2022-02-10 00:03] #1398 closed

[2022-02-10 09:07] #1670 closed

[2022-02-10 11:31] knqyf263 commented on #1697
It would be appreciated if you help us.

Exactly. We have to fix these templates.

https://github.com/aquasecurity/trivy/blob/3b0b2ed4ce481c7f058d47b0f128c906fb91a958/goreleaser.yml#L110-L119
https://github.com/aquasecurity/trivy/blob/3b0b2ed4ce481c7f058d47b0f128c906fb91a958/goreleaser.yml#L134-L143

[2022-02-10 15:13] knqyf263 commented on #1697
You can decide it 😄

[2022-02-10 16:33] ilomax opened #1700 "Error in the aquasecurity.github.io documentation"
## Description

The [documentation for the Gitlab CI integration](https://aquasecurity.github.io/trivy/v0.23.0/advanced/integrations/gitlab-ci/) does not correspond to [the example on Github](https://github.com/aquasecurity/trivy/blob/main/docs/advanced/integrations/gitlab-ci.md), when it comes to the Trivy container configuration.

## What did you expect to happen?

Using the example from the doc

[2022-02-11 00:03] #1257 closed

[2022-02-11 00:03] #1227 closed

[2022-02-11 09:13] Paper-Dragon opened #1702 "Harbor trivy catch " unable to initialize the cache: unable to initialize fs cache: unable to open DB: no locks available ""
## Description

In Harbor ，use
[code]
run trivy
when i check image bug ,
output
[code]

## What did you expect to happen?

No Check bug

## What happened instead?

Check Bug

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):

[code]

[2022-02-11 11:07] alecsz commented on #748
Hello guys, do you have any information about this issue? I integrated trivy v  0.23.0  in my CI/CD and i have the same issue. I a run trivy reports CVE's, after a re-run reports no CVE's anymore.

[2022-02-11 11:55] javixeneize opened #1703 "Questions about cache and Update DB with custom cache path"
Hi

I have a couple of questions about how to use cache. If i set my own path for my cache, when i run the scan with the --cache-dir flag, will the database in that path be updated? I dont know if this feature only works with the default cache path

Also, related to cache. If i have some cache, and a new vulnerability is affecting one of my images, when it is re-scanned with trivy with the new DB

[2022-02-11 14:32] javixeneize opened #1714 "packages not listed"
Hi

Sometimes when scanning an image, using the list all packages flag, it returns no java packages. After cleaning the cache and rescanning again, it works fine, but i am loosing the cache for all the other images i had scanned

Is this a known issue? Is there any way to clean the cache only for a given image?

Thanks

[2022-02-12 23:41] krol3 opened #1717 "Troubleshooting about trivy error in Download DB"
Using a Mac OS, after update the latest version, I see this error

## trivy 0.23v
[code]

## trivy 0.22v

[code]

[2022-02-13 07:48] #1676 closed

[2022-02-13 08:11] knqyf263 commented on #1717
Looks like https://ghcr.io was down or your network/firewall doesn't allow to access it. Is it still happening?

[code]

[2022-02-13 08:15] #1472 closed

[2022-02-13 08:20] knqyf263 commented on #1703
@DmitriyLewen Can you help @javixeneize?

[2022-02-13 08:26] knqyf263 commented on #1702
The error message says "no locks available". It is usually caused when multiple processes open the same database since BoltDB that Trivy is using internally doesn't allow it. If the issue can be reproduced, could you open the issue in [harbor-scanner-trivy](https://github.com/aquasecurity/harbor-scanner-trivy)?

[2022-02-13 08:32] knqyf263 commented on #748
First of all, rebuilding a container image may update package versions if you don't pin those versions. But it would be weird if you scan the same image with the same digest. @afdesk Can you take a look?

[2022-02-13 09:34] #896 closed

[2022-02-13 19:56] AErmie opened #1718 "❓ Trivy Container Scan Results vs AWS Inspector"
When comparing Trivy scan results with other tools, customers will question why another tool may identify vulnerabilities that Trivy does not.

One recent example is with the AWS Inspector (specifically the container image scanning). When `trivy image` is run against the container, it shows zero (0) vulnerabilities...

**Trivy Container Scan Results**
[code]

...however, the same container image w

[2022-02-14 05:12] DmitriyLewen commented on #1703
Hello @javixeneize
Thanks for your interest in trivy!

1. The database is stored in the cache directory. If you use `--cache-dir your/cache/dir` flag, database will be downloaded in `your/cache/dir`.
2. Trivy does not store vulnerability information, only image information. If you rescan your image with a new DB (with a new vulnerabilities), trivy will detect new vulnerabilities.

Regards, Dmitriy

[2022-02-14 05:27] Paper-Dragon commented on #1702
I have open the issue in [harbor-scanner-trivy](https://github.com/aquasecurity/harbor-scanner-trivy)  , but no one reply

[2022-02-14 07:55] AndreyLevchenko commented on #1717
@knqyf263 @krol3
`oras pull ghcr.io/aquasecurity/trivy-db:2 -av` works successfuly in mine environment. It's a little slow though

[2022-02-14 08:25] AndreyLevchenko commented on #1700
Hi @ilomax
Thank you for noticing that. We will fix the documentation

Regards
Andrey

[2022-02-14 08:29] alecsz commented on #748
@knqyf263 you are right, but what i mean is using `trivy fs` scan to scan the file system, in my case the pom file, before i build the image.

Pom file wasn't changed.

I reproduced this bug by re-run a few times and the result is sometimes with vulnerabilities sometimes without any vulnerabilities. As i said the file system(in this case relevant file is the pom file) wasn't changed.

[2022-02-14 09:06] #1703 closed

[2022-02-14 09:18] marinpurgar opened #1719 "Global options stopped working in 0.23"
## Description

Global options (`--cache-dir`, `--debug` and `--quiet`) aren't recognized in version 0.23 whe using non-root commands (which is mandatory from this version on).

E.g. when trying to scan the latest Ubuntu image with the `--quiet` option:

`trivy image --quiet ubuntu:latest`

the result is:

`FATAL	flag provided but not defined: -quiet`

## What did you expect to happen?

Docker ima