[2022-09-28 13:50] knqyf263 commented on #2933
@bureado I think this is a better place to do that.
https://github.com/aquasecurity/trivy/blob/5b821d3b134c249872840ac6dfd83105c38df6e7/pkg/detector/ospkg/alpine/alpine.go#L106-L109

[2022-09-28 13:54] knqyf263 commented on #2938
You can use exported functions in Trivy, but it is not designed to be used as a library. It may break compatibility.

[2022-09-28 13:57] knqyf263 commented on #2934
SBOM formats are not mature enough for vulnerability scanning, so we need to rely on custom fields. I'd recommend generating SBOM by Trivy.

[2022-09-28 14:01] knqyf263 commented on #2921
You can overwrite the cache dir via `TMPDIR`.
https://cs.opensource.google/go/go/+/refs/tags/go1.19.1:src/os/file_unix.go;drc=86ca550f407827f620e6c8314ec503fdb48dd898;l=338

[2022-09-28 14:07] knqyf263 commented on #2921
@afdesk Would you add this note to our troubleshooting?
https://aquasecurity.github.io/trivy/v0.32/docs/references/troubleshooting/

[2022-09-28 14:14] knqyf263 commented on #2917
Same as this approach?
https://github.com/aquasecurity/appshield/pkgs/container/appshield

[2022-09-28 14:18] knqyf263 commented on #2903
Unfortunately no, currently `--clear-cache` removes all the cache.

[2022-09-28 14:24] knqyf263 commented on #2901
@chen-keinan What do you think?

[2022-09-28 14:28] knqyf263 commented on #2896
We use cobra, so I suppose we could easily achieve that.
https://github.com/spf13/cobra/blob/main/shell_completions.md

[2022-09-28 14:29] knqyf263 commented on #2880
Fixed in https://github.com/aquasecurity/trivy/commit/047a0b3d888ead9b3a4e263467d1d0c8c945a9f6

[2022-09-28 14:29] #2880 closed

[2022-09-28 14:31] knqyf263 commented on #2879
Thanks for updating! Do you have any idea building Trivy DB on s390x?

[2022-09-28 14:43] knqyf263 commented on #2758
Looks like @developer-guy'S PR got merged. Thanks for your help.

[2022-09-28 14:43] #2758 closed

[2022-09-28 14:46] chen-keinan commented on #2905
@kanton10062006 this issue has been fixed by #2926 and included with `trivy v0.32.1`

[2022-09-28 16:44] #2920 closed

[2022-09-28 18:46] liamg commented on #2917
Yep, we've come full circle :recycle:

[2022-09-29 00:46] chejn opened #2954 "Trivy terraform misconfiguration scan not picking up files one directory below another file."
## Description
The trivy config scanner did not pick up .tf files which were a directory below another .tf file.

## What did you expect to happen?
The scanner to pick up all files regardless of directory depth.
## What happened instead?
The scanner did not identify any .tf files at all.
<img width="688" alt="Screen Shot 2022-09-29 at 10 44 01 am" src="https://user-images.githubusercontent.com/415

[2022-09-29 00:52] simar7 commented on #2917
To add to what @liamg said and to summarize my chat with him, I would like to propose the following:

1. Bringing back the OCI artifact policy logic into Trivy, with necessary changes. I have a working PoC to demo that this could be done with very minimal logic changes needed. Later on if there's a need we could abstract it out.
2. If we do so, we'd have at our disposal the following ways to speci

[2022-09-29 06:04] itaysk commented on #2758
We should probably update the docs still

[2022-09-29 09:26] elchenberg opened #2957 "feat(helm): configure service port independent of container port"
I would like to use port 80 as the service port but keep the default container port (or use any other unprivileged port as container port) because I am not very good at remembering (seemingly) random port numbers. It is much easier to remember the address of the Trivy server as http://trivy.trivy.svc than remembering http://trivy.trivy.svc:4954. I do not want to use the privileged port 80 as conta

[2022-09-29 11:00] DmitriyLewen commented on #2796
Hello @WatcherWhale
Thanks for your report!

We have added some changes to parser for `pom.xml` files.
Looks like latest changes in [v0.32.1](https://aquasecurity.github.io/trivy/v0.32/getting-started/installation/) solve your problem.
Can you update your Trivy and check again?

Regards, Dmitriy

[2022-09-29 13:29] SBatais opened #2958 "credentials file for several private registries"
I would like to know if trivy can handle a credentials file that contains the credentials of several private docker registries (like docker used .docker/config.json).
I know that trivy can access to a private registry by using env variables, but it's limited to one private registries
Thanks in advance.

[2022-09-29 16:21] huornlmj opened #2959 "Does Trivy have an exit code?"
When I run Trivy and get a clean scan, I get an error code of 0.  If I scan and I get errors I also get a 0.  Is there actually an error code feature?

[2022-09-29 16:24] multani opened #2960 "SARIF output prepends `library/` in front of file locations"
## Description

I'm testing the SARIF output on various repositories, and it seems in some cases, Trivy prepends the artifact locations with a `library/` prefix. This results in a location which is not the right one and I don't see an obvious way to reconstruct the location correctly.

For example, in this sample repository https://github.com/multani/sarif-sample-python:

Running `trivy fs --forma

[2022-09-29 19:50] Kurt-von-Laven opened #2961 "Support Inline Filtering"
Trivy already supports globally disabling a rule via `.trivyignore`, which is very valuable, but causes users to accept false negatives in order to eliminate false positives. To address this, most linters support disabling a specific rule in a specific file (or even on a specific line if applicable), making false positives far less likely.

[2022-09-30 00:11] simar7 commented on #2917
hi all,

I'd just like to share my update on this prior to my upcoming vacation just in case any of you wanted to pick it up while I was gone.

I’ve pushed my changes to Trivy on a branch here https://github.com/aquasecurity/trivy/compare/policy-fetcher?expand=1 feel free to push any changes to it if you pick it up.

Most of that is old logic we used to have in the past with appshield (minus the t

[2022-09-30 00:28] chejn opened #2962 "Trivy terraform config scan duplicating results when using terraform modules"
## Description
Results seem to be duplicated when terraform files import modules from another file. For example, if there are three terraform files which import a module from another file containing a vulnerable configuration, alerts will be generated 3x the amount. which all reference the same file containing the modules.
## What did you expect to happen?
The configuration scanner to only identif

[2022-09-30 00:31] simar7 commented on #2917
Some more info, if you need to test locally how to setup and run you could do this:

1. setup a local registry: `docker run -it --rm -p 5000:5000 registry`
2. bundle and push an artifact
`rm -rf bundle bundle.tar.gz && rsync -avr --exclude=README.md --exclude="*_test.rego" --exclude="*.go" --exclude=test --exclude=advanced internal/rules/docker internal/rules/kubernetes  bundle/ &&  cp internal/ru

[2022-09-30 01:14] bureado commented on #2933
@knqyf263 I tried your suggestion in this commit: https://github.com/bureado/trivy/commit/c0d394330885a05bc3cee7c83ca4aff701c90d1b

While it appears a better integration point for the fix, unfortunately when using `--format spdx-json` (and, I suspect, other export formats) the "built package from" magic string (#2934) is empty.

I suggest pausing this for a few days. The reason is that the `APKIND

[2022-09-30 01:33] bureado commented on #2934
I'm not sure I agree on the maturity comment, but it's true that today many tools that take SPDX/CycloneDX as input don't necessarily understand the semantics of those files _as generated by other tools_. I regularly try to use `syft` files into `trivy sbom`, or `trivy` files into `grype`, and a few other tools as well, and this seems to be the current reality. One large contributor to the incompa

[2022-09-30 02:04] bureado commented on #2934
See https://github.com/bureado/trivy/commit/c1a2abc74f8dcdf5f137e713aa60e212064e39af for a proposal. This is only for parsing, and only in the SPDX case. This would handle the case where this string is meaningfully empty but the name of the package itself is good enough for `trivy`. I tested this by ingesting a previously generated `spdx-json` file with `trivy` that has such incomplete strings:

[

[2022-09-30 06:32] nicolaevladescu opened #2963 "Please provide instructions on how to verify the binary file downloads"
I cannot seem to be able to verify a deb using it's .sig and .pem files, I tried with openssl and gpg.

Can you give more details please?

Thank you.

[2022-09-30 07:28] neothematrix commented on #2832
@heydonovan that's a different issue, that pull requests try to address the missing "fixed version" field for the detected vulnerabilities.
Here the problem is that NO vulnerabilities are detected at all, which is kind of worse!

[2022-09-30 08:12] WatcherWhale commented on #2796
It seems fixed now, thanks!

[2022-09-30 08:12] #2796 closed

[2022-09-30 09:29] knqyf263 commented on #2934
What if we return empty in `parseSourceInfo` without returning an error? `SrcName` is not determined from SPDX, so I want to keep it empty rather than putting PkgName into SrcName.

[code]

[2022-09-30 10:37] jesusfcr opened #2965 "Trivy config k8s manifests wrong lines with multiple objects in the same file"
## Description

When looking for misconfigurations in k8s yaml files with multiple object definition in the same file the CauseMetadata line numbers are wrong.
They are always based on the position inside the object assuming it is at the beginning of the file

## What did you expect to happen?

With this file `test.yaml`

[code]

The report should indicate the exact line for each object
First in `

[2022-09-30 11:23] DmitriyLewen commented on #2959
Hello @huornlmj
Thanks for your interest to Trivy!

If you need exit-code you can use `--exit-code` flag.
More information about supported flags [here](https://aquasecurity.github.io/trivy/v0.32/docs/references/cli/image/).

Regards, Dmitriy

[2022-09-30 11:30] huornlmj commented on #2959
Thanks @DmitriyLewen .  That answers my question.  I had originally ran
[code]
Expecting to see a tool-wide exit code mention in the help and didn't find one, hence the question.  But I now see each scan type has it's own exit-code option:

[code]

[2022-09-30 11:30] #2959 closed

[2022-09-30 16:29] nthienan commented on #346
Ping! :)

[2022-10-01 06:47] chavacava opened #2966 "Return expression always evaluates to `false`"
Due to a typo in the slice indexes, in the following code the ordering function used to sort the slice always returns `false` (therefore the slice might not be correctly sorted)

https://github.com/aquasecurity/trivy/blob/4ffe74643efca57f1057b979ae419aac2e0c5b56/pkg/cloud/report/report.go#L86-L88

Found with [revive](https://github.com/mgechev/revive)

[2022-10-01 08:33] didiermichel commented on #2896
Hello,
I would like to work on this subject if available.

[2022-10-01 16:35] plaisted commented on #2706
I agree, the method of scanning deps.json for vulnerabilities is not valid, or at least needs some tweaking. We're using the latest versions of `System.Private.Uri` included with .net 6 but aqua is flagging these containers as vulnerable:

[code]

[2022-10-01 19:22] #2903 closed

[2022-10-02 06:28] #2966 closed

[2022-10-02 07:05] #2921 closed

[2022-10-02 07:11] #2847 closed

[2022-10-02 09:14] knqyf263 opened #2986 "Support non-packaged binaries"
## Description
Trivy is currently able to discover SBOM attestation in Rekor by a digest of container images. It can be extended to non-packaged binaries. Trivy calculates a digest of binaries, searches for the SBOM attestation in Rekor and scans it for vulnerabilities.

## Related
- https://github.com/aquasecurity/trivy/issues/2702

[2022-10-02 12:19] knqyf263 opened #2988 "Support for VM image scanning"
e.g. VMDK and VDI (and AMI/EBS)

[2022-10-02 16:59] kgeorgiou commented on #1283
A workaround for this is to utilize the `--skip-dirs` flag to [skip directories](https://aquasecurity.github.io/trivy/v0.32/docs/secret/examples/#skip-directories):

[code]

[2022-10-03 06:08] DmitriyLewen commented on #2952
Hello @captn3m0
Thanks for your report!

We created PRs to fix this.
After merging them we will include changes to next release.

Regards, Dmitriy

[2022-10-03 08:10] 06kellyjac commented on #2904
duplicate of #2845

[2022-10-03 08:42] nicolaevladescu commented on #2963
I figured it out by browsing the source code.

1. Install [cosign](https://docs.sigstore.dev/cosign/installation)
2. Download an artifact and it's `.sig` and `.pem` files.
3. Run `COSIGN_EXPERIMENTAL=1 cosign verify-blob artifact --signature artifact.sig --certificate artifact.pem`

Thanks.

[2022-10-03 08:42] #2963 closed

[2022-10-03 08:53] DmitriyLewen commented on #2842
Hello @davidharkis
Thanks for your report!

We created [PR](https://github.com/aquasecurity/trivy/pull/2990) to solve this problem.
After the PR merge, we will include the changes in the next release.

Regards, Dmitriy

[2022-10-03 12:41] vamsinm commented on #2737
same issue here. were you able to find solution?

[2022-10-03 15:15] patsevanton commented on #2905
How correct cli command for  cluster all scanning ?

[2022-10-03 22:59] sozercan opened #2992 "false positive for CVE-2019-3826"
## Description

Prometheus publishes v2 as v0.x due to Go dependency versioning for using Prometheus as a library
https://github.com/prometheus/prometheus#prometheus-code-base

Trivy finds vulnerabilities in go.mod dependencies for v0.35. However, this corresponds to Prometheus v2.35 which does not have this vulnerability
https://github.com/open-policy-agent/gatekeeper/blob/master/go.mod#L99

## W

[2022-10-04 07:06] DmitriyLewen commented on #2992
Hello @sozercan
Thanks for your report.

It looks like Prometheus should add the `/v2` suffix to the `go.mod` file.(as in [postee](https://github.com/aquasecurity/postee/blob/main/go.mod#L1) or [jwt](https://github.com/golang-jwt/jwt/blob/main/go.mod#L1))
Without this, we have no way to correctly determine the version of `Prometheus`.
If you have idea how to detect correct version - let us know an

[2022-10-04 07:26] Groszekk commented on #2918
I try trivy v0.31.2 and latest version. Issue is not fixed, because problem is in the trivy, not in the dependency.

[2022-10-04 10:20] DmitriyLewen commented on #2862
Hello @tspearconquest
Thanks for your report.

This vulnerability has been fix in [v0.32.1](https://github.com/aquasecurity/trivy/releases/tag/v0.32.1)(PR #2940)

Regards, Dmitriy

[2022-10-04 10:20] #2862 closed

[2022-10-05 12:01] ozbillwang opened #2995 "how to get details from "trivy aws" scan"
follow up this document to get the aws scan summary from command `trivy aws --region <region_name>`

https://aquasecurity.github.io/trivy/v0.31.3/docs/cloud/aws/scanning/

But if I want to know what are misconfigurationed? how to check?

![image](https://user-images.githubusercontent.com/8954908/194055585-11f3bcbe-3478-42df-994f-43884826d60e.png)

from above sample, there are 737 miconfigurations

[2022-10-05 12:46] #2905 closed

[2022-10-06 03:12] DmitriyLewen commented on #2992
Hello @sozercan

Unfortunately, there is no information in the `go.mod` file about the relationship between the go module version and the tag number.
Without it we can't fix this issue.

[2022-10-06 07:28] vanshaj commented on #2937
Hello @isuftin ,

I tried to replicate your issue in my local environment and analysed that this root cause of this issue is that you have set the value of key 'routing.http.drop_invalid_header_fields.enabled' as 'true' which is in string format if you set the value as below.

[code]
Then the trivy scanner won't throw an error. I tried the same on my system and its working properly.

@liamg @owenr

[2022-10-06 07:35] mcasviper opened #2996 "alert if a base OS is EOL and ignore option for Pipeline usage"
I scanned a Container Image based on php:7.0 which is definitely very old. I scanned with --ignore-unfixed and got no warnings. I think this is because the underlaying OS is EOL and there are no new packages for it.
My idea /  feature request would be a hint for this situation like "0 WARN 0 HIGH 0 CRIT - Your base OS is EOL. There might be open issues which are not correctly detected" with an opt

[2022-10-06 12:56] roDew commented on #2623
Any news on this topic? :/

[2022-10-06 15:17] aswath-s-tw opened #2997 "custom docker socket for image scan option"
It would be great if we can have a flag for scanning local images with custom docker socket path.

I use colima as the container runtime for docker. The unix domain socket path for colima is `unix:///Users/<username>/.colima/default/docker.sock`

while doing `trivy image <image_name>`, it throws an error saying `Cannot connect to the Docker daemon at unix:///var/run/docker.sock`. Would be cool if

[2022-10-06 16:48] cupello commented on #2996
Hello!

I think it would be easier if we had something like: ignore unfixed if it is NOT X days old. What do you think?

[2022-10-06 21:16] candrews opened #2998 "report error: unable to write results: failed to write results: CycloneDX marshal error: "": invalid bomLink format error"
## Description
When generating a Bill of Vulnerabilities (BOV) from a valid CycloneDX SBOM, trivy fails with this error:
[code]

To reproduce this issue, download [test.cdx.json.txt](https://github.com/aquasecurity/trivy/files/9728655/test.cdx.json.txt) and then run:
[code]

The issue appears to only happen if the input SBOM doesn't have a `serialNumber`. Note that `serialNumber` is an optional fi

[2022-10-06 21:41] ShubhamPalriwala commented on #2896
Hey @didiermichel, I'm interested to work on this, let me know if you need any kind of help or want me to take this up! Would be happy to help in any way possible.

[2022-10-07 03:03] DmitriyLewen commented on #2623
Hello @roDew

We are still working on this issue.
There are some problems with integrating changes into Trivy-db without creating a new schema for it.

Regards, Dmitriy

[2022-10-07 04:56] mcasviper commented on #2996
Hi @cupello
thanks for your response. I understand that this would be easier but how reliable would it be? What would "not x days old" mean? Will it be x days since last update for this OS?

[2022-10-07 05:00] varanasikalyan opened #2999 "Request for Trivy OSS support for multiple architecture scan"
Requesting for the support of multiple architecture/platform scan for Trivy OSS based on user input and an appropriate error message if the requested platform is not available in the registry or scan.

architecture/platform
eg: **amd64, arm, s390x, ppc64le, arm64, 386, mips64le**

[2022-10-07 07:02] DmitriyLewen commented on #2998
Hello @candrews
Thanks for your report!

We are working on your issue.
When work is done - we will write to your.

Regards, Dmitriy

[2022-10-07 16:36] erikgb commented on #2466
The `--ignore-unfixed` option is available: https://aquasecurity.github.io/trivy/dev/docs/vulnerability/examples/filter/#hide-unfixed-vulnerabilities. Does this solve your use case?

[2022-10-07 20:20] exiett commented on #2744
Just want to add on this issue as it may seem related, I'm not interested in scanning images at all when using `trivy image` in a pipeline flow. Is there an easy way to ignore all secret scanning as I'm only interested in lang packages/vulns and OS-based vulns?

c/c @DmitriyLewen

Thank you in advance. :)

[2022-10-07 22:03] candrews opened #3002 "Specify location.message in SARIF reports"
SARIF allows a "message" to be provided for a location and that can have more useful information. See:
https://docs.oasis-open.org/sarif/sarif/v2.1.0/os/sarif-v2.1.0-os.html#_Toc34317675

It would be helpful to set this property so SARIF consumers can display better information. It would be particularly nice if Trivy includes the file and the package name and version (ex, `pom.xml:org.yaml:snakeya

[2022-10-08 16:09] AshkanRafiee commented on #2466
The `--ignore-unfixed` flag hides vulnerabilities that doesn't have any patch/update to fix corresponding security issue.
This issue refers to something else. For better understanding, consider the following Story:
There is a Main Parent Package (ex. Maven, Elasticsearch, etc.) that is using some dependencies (ex. log4j 1.xx).
You cannot simply fix the problem by upgrading log4j to fixed version b

[2022-10-08 19:45] aswath-s-tw commented on #2997
hey trivy team, please do review this request. Would like to work on it !

[2022-10-09 07:53] #2892 closed

[2022-10-09 13:04] erikgb opened #3004 "Support for CRI-O"
We are building an image-scanner K8s-operator, and all our clusters runs Openshift. Inspired by [trivy-operator](https://github.com/aquasecurity/trivy-operator), which we cannot use for various reasons, we schedule scan jobs to scan container images currently in use by workloads in the cluster.

While the operator works, it could be optimized if trivy supported CRI-O, which is the CRI implementati

[2022-10-09 13:42] owenrumney commented on #2683
when you ran the first time, there are no checks that have been validated against your config file.

When you added an SG, there are multiple checks that might apply to this kind of resource so if they pass, one file was actively scanned and is reported as such. this is by design

[2022-10-09 13:42] #2683 closed

[2022-10-10 03:08] DmitriyLewen commented on #2744
Hello @exiett
You can use `--security-checks vuln`.
More information about image flags [here](https://aquasecurity.github.io/trivy/v0.32/docs/references/cli/image/)

Regards, Dmitriy

[2022-10-10 03:11] DmitriyLewen commented on #2637
Hello @anschnapp
Thanks for your report and sorry for wait.

I will investigate your problem and write to you.

Regards, Dmitriy

[2022-10-10 11:08] vanshaj opened #3005 "Unable to build trivy from source"
Unable to build trivy from main branch source code.

I took the latest code from the trivy repository and tried to build the trivy using
`go build ./cmd/trivy/`

But after downloading some dependencies, it hangs and doesnot generates a binary. I am using below versions
golang - 1.19
OS - Ubuntu 20.04

## What did you expect to happen?
Trivy should build and generate a proper binary

## What happen

[2022-10-10 13:43] simontrimboy commented on #2637
Commented on this here https://aquasecurity.slack.com/archives/C02KVB6AED9/p1665407948126929?thread_ts=1665069153.940479&cid=C02KVB6AED9

I think it is to do with what is in the file system as the beginning of each image layer. So even though the log4j file is removed .. that step is the final step and the file would have existed in the layer when it was initiated.

Which I guess is why when you a

[2022-10-11 05:16] Yogesh-BK opened #3006 "Trivy is not detecting OS"
## Description
We had installed trivy in our aws agents where Debian OS in installed and when we try to run trivy scan, we are getting Detected OS: unknown and trivy is not performing the scan
The command that we are using to run trivy scan is  ``` trivy fs <folder name>``` and we are getting the same error when we try to run ```trivy repo <repo-url>```

## What did you expect to happen?
It should

[2022-10-11 06:03] ShubhamPalriwala commented on #2896
@didiermichel since you have already started researching, please go ahead! Let me know if I can help in anyway possible :))
All the best

[2022-10-11 09:00] knqyf263 commented on #2998
The serial number is essential for linking our BOM to the original SBOM. I've asked in the CycloneDX Slack what to do when the serial number is empty.
https://cyclonedx.slack.com/archives/CVA0G10FN/p1665478641746189

[2022-10-11 09:23] #2842 closed

[2022-10-11 09:35] knqyf263 commented on #2999
We can use `remote.WithPlatform`.
https://github.com/google/go-containerregistry/blob/e3b94c7e7a5720c5e2985012f617f36006abff62/pkg/v1/remote/options.go#L195-L204

The implementation steps are as follows.

1. Add `--platform` like Docker
    - https://github.com/aquasecurity/trivy/blob/main/pkg/flag/image_flags.go
1. Pass the platform value to `remote.Get`
    - https://github.com/aquasecurity/triv

[2022-10-11 09:45] #2952 closed

[2022-10-11 14:36] pheck opened #3007 "config scan false-positive: 'outdated TLS policy' flagged for non-https listeners"
## Description

When running a config scan against cloudformation yaml templates that contain an 'AWS::ElasticLoadBalancingV2::Listener' whose 'Protocol' is `TCP` or `HTTP`, trivy raises an _"AVD-AWS-0047 / Listener uses an outdated TLS policy."_ issue, although such listeners can't have a TLS policy assigned (only `HTTPS`).

## What did you expect to happen?
If the listener has a protocol other t

[2022-10-11 17:23] candrews commented on #2998
Maybe the solution to this issue is provide a better error message, explaining that in this case, the serial number is required?

[2022-10-11 18:39] candrews opened #3008 "Improve shortDescription in SARIF reports"
SARIF allows a "shortDescription" to be provided:

See:
https://docs.oasis-open.org/sarif/sarif/v2.1.0/os/sarif-v2.1.0-os.html#_Toc34317845

Currently, Trivy set the `shortDescription` to the id of the vulnerability, which is not very readable or understandable.

For example:
[code]

A `shortDescription` of `CVE-2020-13844` isn't "understandable"

I suggest the vulnerability "title" be used instea

[2022-10-12 02:11] dgutson commented on #244
What's the ststus of this feature? Do you need help implementing it?

[2022-10-12 04:29] DmitriyLewen commented on #3006
Hello @Yogesh-BK
Thanks for your report!

To detect OS Trivy needs os information file(e.g. `/etc/os-release`).
In most cases repositories don't have this file.
If you want to find OS for `fs` command, you need to scan root directory.
e.g.
[code]

You also need to understand that there are to commands: `fs` and `rootfs`.
These commands scan different language packages.
More information [here](http

[2022-10-12 06:22] DmitriyLewen commented on #2637
@simontrimboy
Trivy scan image as tar image, layer by layer
When you remove file/directory - docker creates `<removed file name>.wh.` file(https://github.com/moby/moby/blob/master/image/spec/v1.md#creating-an-image-filesystem-changeset).
Trivy finds these files and removes them from result.
In your case you are removing `test` folder and creating link in same layer.
Docker doesn't create `*.wh.` f

[2022-10-12 07:22] chen-keinan commented on #2919
## Compliance Specification example :
[code]

## Logic :
- Reading spec yaml file and identifying scanners types and run only them
- Once scan is completed , running mapping logic to aggregate all resources results by check ID
- Create custom reports result objects with control check and it related scanner check results
- Presenting reports in two formats, summary (table) and granular (JSON)

## R

[2022-10-12 08:54] OfriOuzan opened #3010 "Multiple False Positive and False Negative CVEs"
## Checklist
- [x] I've read [the documentation regarding wrong detection](https://aquasecurity.github.io/trivy/latest/community/contribute/issue/#wrong-detection).
- [x] I've confirmed that a security advisory in data sources was correct.
    - Run Trivy with `-f json` that shows data sources and make sure that the security advisory is correct.

## Description

**What happened**:
As part of a vul

[2022-10-12 12:00] ShubhamPalriwala commented on #2999
Hey can I take this up @knqyf263?

[2022-10-12 12:25] knqyf263 commented on #3010
Did you refer to security advisories from each vendor rather than NVD?

[2022-10-12 13:07] #3002 closed

[2022-10-12 17:56] itaysk commented on #2558
This is a nice idea. If someone is interested in working on it, we'd welcome the contribution. If not, we can consider it in a future planning cycle.
Note to implementer: If it's going to call out to CISA then it can't be part of Trivy core. Possible solutions:
1) Bake CISA into trivy-db and then it can be part of trivy, but this makes the contribution more complicated. 2) it could have been an ex

[2022-10-12 18:07] knqyf263 commented on #2558
We used to work on that, but it's suspended now because we were not sure how we should display it in the table format.
https://github.com/aquasecurity/trivy-db/pull/217

[2022-10-12 18:36] dbirks commented on #3005
Hm I'm having trouble duplicating this on my end.

golang: 1.19.2
OS: NixOS

Can you run `go mod tidy` successfully? I'm not sure what the error is trying to download that dependency.

[2022-10-12 18:45] dbirks commented on #2995
Sharing a workaround I've been using in the meantime... you can change the output format to sarif, and use another cli tool like sarif-fmt (docs [here](https://docs.rs/crate/sarif-fmt/latest)) to view it in a nicer format:

[code]

![image](https://user-images.githubusercontent.com/7545665/195423103-f42c7607-aba3-4033-a991-ac074440467a.png)

[2022-10-12 21:06] dbirks commented on #2957
Yeah I agree, being able to set port 80 for the service is quite nice to have. I can't remember what each app's port is otherwise. Just submitted a PR to fix :wrench:

[2022-10-12 22:50] OfriOuzan commented on #3010
Yes, of course.
I referred to the os distribution security advisory and in some cases to the snyk vulnerability db.
In the golang dependencies I added links to the website in which I referred to.

[2022-10-12 23:45] ozbillwang commented on #2995
thanks, @dbirks

I am not good at Rust. But I did it with container way.

[code]

[2022-10-12 23:52] ozbillwang commented on #2995
So the way with Sarif-fmt is nice output for human readible, otherwise, with `--format json` I can see all details already.

[code]
If we can add a new format to export as HTML file, that would be better.

[2022-10-13 05:47] knqyf263 commented on #2995
You need to specify ARN to display the details.
https://aquasecurity.github.io/trivy/v0.32/docs/cloud/aws/scanning/

[2022-10-13 05:47] #2995 closed

[2022-10-13 06:15] ozbillwang commented on #2995
@kenXengineering

Thanks for the document, but the way is not convenient.

Anyway I got what I need.

thanks.

[2022-10-13 08:45] bgoareguer opened #3017 "Add --server option to trivy rootfs command"
The `trivy rootfs` command does not have the `--server` option, whereas the `trivy image` command has it.

It would allow us to use Trivy in client/server mode when scanning rootfs.

[2022-10-13 09:33] tipruzs opened #3018 "config scan of k8s manifests false-positive with securityContext.allowPrivilegeEscalation"
## Description

When running a config scan against kubernetes statefulset yaml i get a false-positive for _securityContext.allowPrivilegeEscalation_. In my use case i describe a statefulset with one container and one initContainer. The container provides the securityContext and the initContainer does not. Trivy reports ksv001 for the container, which is not expected.

## What did you expect to hap

[2022-10-13 17:24] #2709 closed

[2022-10-14 06:52] RoninBreizh opened #3020 "Incorrect Severity ranking for the same image using trivy in CLI compare to the use of trivy.dev tool"
## Description

## What did you expect to happen?
We wanted to test potential differences with both tools in terms of indepth scan but we were expecting to gather the same ranking result when is comes to highlight a vulnerability

## What happened instead?
The results of the trivy.dev tool (https://trivy.dev/results/?image=tenableofficial/nessus) on the latest image provided by Tenable Nessus does

[2022-10-14 09:21] AlexsJones commented on #2853
Just for posterity but my issue is not with OOM, it is that Trivy is starting pods for events that don't involve pod creation - it's scanning on deletion, leaving lots of trivy pods hanging then eventually consuming all the cluster memory.

[2022-10-14 14:59] titanventura commented on #2997
Hey trivy team. Is this feature request even valid ? Please validate it so that I can start working on a solution.

[2022-10-14 15:01] titanventura commented on #2896
Hey @didiermichel. Are you still working on this issue. If not , i would like to take this up !

[2022-10-14 15:23] sekveaja opened #3022 "False Positive CVE-CVE-2022-40674 on libexpat1"
## Checklist

Output with -f json
 :
<TRUNCATED DATA>
:

      "Class": "os-pkgs",
      "Type": "suse linux enterprise server",
      "Vulnerabilities": [
        {
          "VulnerabilityID": "SUSE-SU-2022:3489-1",
          "PkgName": "libexpat1",
          "InstalledVersion": "2.4.4-150400.3.6.9.24876.1.PTF.1203571",
          "FixedVersion": "2.4.4-150400.3.9.1",
          "Layer": {

[2022-10-14 16:27] security101 opened #3023 "CycloneDX output does not fill type value string"
## Description

When using the cyclonedx output does not always provide a valid value for the component item type, which isn't compliant with the cyclonedx spec. (see https://cyclonedx.org/docs/1.4/json/#components_items_type) . Importing the sbom file to Dependency Track v4.6.0 to analyze the resulting output throws an exception regarding the type field is empty means "".

trivy added components

[2022-10-15 01:52] tspearconquest opened #3024 "Scan generated trivy report with trivy"
Hi!

I have an idea that would make trivy scans faster in my pipelines.

## Use case

I'm not sure if this is a common use case, so I appreciate feedback from other users here.

Currently when we run our pipelines, we use the trivy docker image, and we run trivy in the image with the following flags to generate a report of all vulnerabilities in the image without causing the job to fail:

`--exit-

[2022-10-15 01:58] tspearconquest commented on #3024
It can also be useful when scanning a kubernetes cluster.

Say I have dozens to hundreds of images running and I scan a whole cluster.

It could take a really long time. So in that case, having the scan run automatically to generate a report of every image would make sense, and then the report might be emailed to my manager or something.

Well he doesn't want to have to scan through thousands of m

[2022-10-15 10:23] msymons commented on #3023
@masahiro331, when the import problem into Dependency-Track was being discussed (a discussion that led to this issue being logged) it was mentioned that the trivy version was:  **v0.30.3**

@security101, is that still valid?

[2022-10-15 22:39] matiasinsaurralde opened #3027 "strings.HasSuffix is not needed in analyzer/pkg/rpm"
Little improvement: looks like the Go implementation of this package copied the same logic from yum's `splitFileName` [0]. In Go it's possible to replace this one with a simpler `strings.TrimSuffix`, instead of explicitly doing `strings.HasSuffix` and cutting the string.

[0] https://github.com/rpm-software-management/yum/blob/043e869b08126c1b24e392f809c9f6871344c60d/rpmUtils/miscutils.py#L301

[2022-10-16 08:43] mattbenecky opened #3029 "feat: Add Azure client secret detection"
## Description
Adds the ability to detect Azure AD service principal client secrets when scanning the target container image, filesystem, git repository (remote), or Kubernetes cluster or resource for sensitive information and secrets

[Azure AD client secret definition](https://learn.microsoft.com/en-us/microsoft-365/compliance/sit-defn-azure-ad-client-secret?view=o365-worldwide)

[2022-10-16 12:03] 030 commented on #2938
Use case:

- In the code, a JAR file is downloaded
- Once downloaded this file has to be sent to Trivy
- If a vulnerability is detected, the app will stop and the user has to inspect the file

What call is required to make this work? Could you provide a code snippet?

[2022-10-16 12:22] 030 opened #3030 "NPM scanning"
Maven scanning works, but I do not see any NPM files in the log:

2022-10-16T14:18:35.611+0200	DEBUG	Parsing Java artifacts...	{"file": "maven/3rdparty-maven/org/hamcrest/hamcrest/2.2/hamcrest-2.2.jar"}
2022-10-16T14:18:35.612+0200	DEBUG	Parsing Java artifacts...	{"file": "maven/3rdparty-maven/com/vdurmont/semver4j/3.1.0/semver4j-3.1.0.jar"}

[2022-10-16 12:23] 030 opened #3031 "APT scanning"
Maven scanning works, but I do not see any APT files in the log:

2022-10-16T14:18:35.611+0200	DEBUG	Parsing Java artifacts...	{"file": "maven/3rdparty-maven/org/hamcrest/hamcrest/2.2/hamcrest-2.2.jar"}
2022-10-16T14:18:35.612+0200	DEBUG	Parsing Java artifacts...	{"file": "maven/3rdparty-maven/com/vdurmont/semver4j/3.1.0/semver4j-3.1.0.jar"}

[2022-10-16 16:44] msymons commented on #3023
Here we go...  discussion URL:

[2022-10-16 17:34] nscuro commented on #3023
Looks like the code has changed since v0.30.3. In v0.30.3, I think the `secret` result ended up being processed by `resultToCdxComponent`, which had a non-exhaustive `switch` on `r.Class`:

https://github.com/aquasecurity/trivy/blob/fa8a8ba7dc819c502b77f272ff0c239dcff7d9f3/pkg/sbom/cyclonedx/marshal.go#L372-L391

This doesn't appear to be the case anymore in the latest Trivy version. So I guess th

[2022-10-16 18:11] masahiro331 commented on #3023
Thank you @nscuro !!!!!

[2022-10-16 18:39] jesusfcr commented on #2965
I identified where the code responsible for this reside and I opened https://github.com/aquasecurity/defsec/pull/1013

[2022-10-17 03:18] DmitriyLewen commented on #3030
Hello @030
Thanks for your interest to Trivy!

Trivy currently supports `package-lock.json` files.
List of supported language packages [here](https://aquasecurity.github.io/trivy/v0.32/docs/vulnerability/detection/language/).

Regards, Dmitriy

[2022-10-17 03:30] DmitriyLewen commented on #3031
Hello @030
Thanks for your interest to Trivy!

Trivy currently supports `apt` and `apt-get` for `Ubuntu` and `Debian`.
List of supported os package managers [here](https://aquasecurity.github.io/trivy/v0.32/docs/vulnerability/detection/os/).

Regards, Dmitriy

[2022-10-17 04:37] DmitriyLewen commented on #3022
Hello @sekveaja
Thanks for your report!

Trivy gets list of vulnerabilities from [CVRF](http://ftp.suse.com/pub/projects/security/cvrf/).
[SUSE-SU-2022:3489-1](https://ftp.suse.com/pub/projects/security/cvrf/cvrf-suse-su-2022%3A3489-1.xml) doesn't contain information about fixing `CVE-2022-40674` in `libexpat1-2.4.4-150400.3.6.9.24876.1.PTF.1203571`.
When CVRF is updated - we will take advantage o

[2022-10-17 11:40] vanshaj commented on #3005
Hello @dbirks,

Yes I am able to execute `go mod tidy` successfully but after that when i execute `go build`, it hangs.

Using
golang: 1.19.2
OS : Ubuntu 20.04

Can you provide some help?

Thanks

[2022-10-17 11:54] Yuan-Yubin opened #3033 "CVE-2022-28111 vulnerability cannot be found"
## Checklist
- [x] I've read [the documentation regarding wrong detection](https://aquasecurity.github.io/trivy/latest/community/contribute/issue/#wrong-detection).
- [x] I've confirmed that a security advisory in data sources was correct.
    - Run Trivy with `-f json` that shows data sources and make sure that the security advisory is correct.

## Description

When I use trivy to scan images, I

[2022-10-17 12:03] #3005 closed

[2022-10-17 14:39] ancientelster commented on #720
It would be great to get this.  I have the same problem in that I need several different report format outs -- and re-running the scan each time consumes a lot of unnecessary time in the build pipelines.  I have not had our security folks bring up the issue of multiple scanning invalidating previous results yet -- but I'm sure they would if they looked closely as to how it's being done.

[2022-10-17 14:40] tspearconquest commented on #720
Wow, yeah that's a great point that I failed to mention! Nice catch!

[2022-10-17 14:43] tspearconquest commented on #3024
BTW this is a dedicated issue for the comments I had put in #720. I had been unable to locate them last week, however someone commented over there this morning allowing me to find it again.

In that thread, they also mentioned that the double scanning invalidates earlier results, which would be another use case for this feature, and one that makes this highly desirable.

[2022-10-17 15:32] floriandreher opened #3034 "k8s: scan open secrets on resources not working"
## Description

Hi, i wanted to scan my k8s cluster for bad config maps or pods. However, no issue was reported by trivy.
My CM:

[code]
My pod:
[code]

## What did you expect to happen?
I expected, that trivy would report my configmap and my pod like mentioned here:
https://github.com/aquasecurity/trivy/issues/2215
The scan finishes immediately, so i'm not sure if trivy just skipped the scan.

##

[2022-10-17 17:47] security101 commented on #3023
Thank you all for analyzing the issue. I ask my colleagues to upgrade trivy from v0.30.3 and check again. An update will be provided as soon as I have the results on our side. Have a nice day!

[2022-10-18 02:04] tspearconquest opened #3036 "Debian bookworm not supported?"
## Description
Hi, today I updated an image we use as a base image for docker builds from Ubuntu Focal to Debian Bookworm. Upon scanning the image with Trivy, I noticed a warning that Bookworm isn't supported by Debian and is not receiving security related updates..

I'm interested to find out if that's actually true. Since this is intended to be the next stable release, does that not mean it's re

[2022-10-18 03:06] AbhigyanKumarTrellix commented on #826
Hi, was a CSV template ever actually added ?
I needed a basic one just , name , issue id , severity  and maybe the source link etc.
I am not good with Go

[2022-10-18 12:41] L-TheG opened #3038 "k8s Scan - Missing podsecuritypolicies"
Hi,

I am trying to scan a local (kind) kubernetes cluster using the trivy k8s CLI tool.
The repo I am using to set up a cluster to try trivy on is this one: https://github.com/AnaisUrlichs/trivy-demo/tree/main/manifests

When I try to run ```trivy k8s --report summary cluster``` I get the following output from trivy:
```2022-10-18T14:20:45.962+0200    FATAL   get k8s artifacts error: no matches f

[2022-10-18 13:55] masahiro331 commented on #3023
@security101

Have a nice day!

[2022-10-18 18:54] sjb94 opened #3039 "Table output for version 0.32.0 isn't working"
## Description

when running the following command:

trivy fs -s CRITICAL --ignore-unfixed . --output trivy.txt

the output is not in a table format, rather it has odd encodings for it. Even using the flag --format table does the same thing

<img width="1337" alt="image" src="https://user-images.githubusercontent.com/17750671/196515793-642279cb-cb38-437d-a34c-c98f945c37f9.png">

## What did you ex

[2022-10-18 20:45] tspearconquest opened #3040 "Cache failure in docker without root"
## Description
Hello,

In my CI pipeline, I'm trying to use the Trivy docker image without root permissions to scan tarball artifacts.

In our environment, we maintain an internal copy of the docker image which gets updated once per hour with the latest trivy db, and we place that in the path `/trivycache` and recently I wanted to convert it to non-root.

My Dockerfile is below:

[code]

As you ca

[2022-10-18 22:04] tspearconquest opened #3041 "DB failure in docker without root"
## Description
In #3040 I reported that it is not possible to run Trivy in an immutable container due to Trivy trying to write to the cache.

This issue is similar but reporting a bug with the `--skip-db-update` flag.

I have tweaked my Dockerfile to allow for the fanal.db to be writable and attempted again to run Trivy.

My Dockerfile now looks as below:

[code]

As you can see, I have set the pe

[2022-10-18 22:36] tspearconquest opened #3042 "Non-fatal permissions errors for files in /etc when Trivy image is run as non-root"
## Description
When running Trivy as a non-root user with the --debug flag, I found that some files in /etc are causing permissions errors in the output. This is not a fatal error, as the scan completes properly, however I believe these files are being opened in write mode instead of read mode, which is a potential security risk for anyone running the image as root.

In case there is a vulnerabili

[2022-10-19 09:48] danielefranceschi commented on #121
Seems like https://github.com/aquasecurity/trivy/pull/1616 has been closed for inactivity. Any other news so far?

[2022-10-19 10:21] ShahidAkhterSec opened #3044 "Unable to Get HTML report of AWS Assessment - kali Linux Latest Version"
How to generate HTML report of aws cloud assessmnet , i tried commnads which were mentioned on site but none of them worked , can anyone help?

[2022-10-19 11:40] stone-z commented on #2558
Wow looks like you were way ahead of me :smile:  Is there something that the community can help with there? Or is it just a matter of waiting for a design decision?

[2022-10-19 13:25] #2884 closed

[2022-10-19 16:50] tspearconquest opened #3045 "Upgrading golang.org/x/text causes github.com/sigstore/rekor to be downgraded"
## Description

I was trying to patch golang/x/text in Trivy today due to a new CVE before submitting a pull request and ran into an issue where rekor is being downgraded.

as per Owen from [slack](https://aquasecurity.slack.com/archives/C02KVB6AED9/p1666196227737919):

## What did you expect to happen?

## What happened instead?

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[2022-10-19 17:55] L-TheG commented on #3038
Managed to fix it myself.
Kind, by default, uses container images based on kubectl v1.25.
Pod Security Policies were deprecated in v1.25 however.
So switching kind to use images with kubectl <v1.25 (v1.24.7 for example) fixed this issue.

[2022-10-19 17:55] #3038 closed

[2022-10-20 00:29] pmengelbert commented on #2540
@youwalther65 I just spent all day looking at this. There's really no good way to do this with the current CLI as far as I can tell. the relevant code is in `pkg/fanal/image/image.go`, but I don't think you can `Disable...` options from the CLI flags.

After monkeying around with the code, I was able to *force* it to use containerd by setting the proper flags in that file. This relates to my work

[2022-10-20 00:41] pmengelbert opened #3048 "Scan a nameless image by digest"
If I run the following:

[code]

I get errors showing that the digest is not recognized. However, it is present there in the containerd store. I verified using `strace` that id did indeed connect to the containerd socket.

There are a couple of issues that lead to this:
- The name gets mangled in the parsing, and gets converted to `docker.io/library/sha256:8421d...`
- In `pkg/fanal/image/daemon/co

[2022-10-20 00:54] pmengelbert opened #3049 "Select scan socket (containerd, podman, docker)"
Currently, in `pkg/fanal/image/image.go`, the provided container image will be resolved by first the docker daemon, then podman, then containerd, then remote. It would be helpful if there were some way to configure, from the CLI or a config file, which socket(s) to attempt. The current logic is preferential and somewhat confusing.

If there is a place that this can be configured already, it would

[2022-10-20 05:36] DmitriyLewen commented on #3036
Hello @tspearconquest
Thanks for your report!

If i understand correctly - all bookworm images are `sid` distributions.
Docs [say](https://www.debian.org/releases/sid/) that ` security updates for "unstable" distribution are not managed by the security team`.
In this case we can't guarantee right detect vulnerabilities.
That is why we don't scan `sid` images.

Regards, Dmitriy

[2022-10-20 07:41] DmitriyLewen commented on #3033
Hello @Yuan-Yubin
Thanks for your report!

We are using `GitHab` and `GitLab` databases. ([info](https://aquasecurity.github.io/trivy/v0.32/docs/vulnerability/detection/data-source/) about data-sources).
`GitLab database` doesn't have this CVE.
`GitHab database` [contains](https://github.com/github/advisory-database/blob/da06a9940810a3b9995dd23c35da25f1ac508204/advisories/unreviewed/2022/05/GHSA-w

[2022-10-20 08:21] DmitriyLewen commented on #3039
Hello @sjb94
Thanks for your report!

Looks like you are running Trivy on Windows.
If true, Trivy does not currently work correctly on Windows.

Regards, Dmitriy

[2022-10-20 09:33] tspearconquest commented on #3036
Hi Dmitriy,

Thanks for this link. I think you are partially correct. It is a bit nuanced.

Bookworm does receive security updates, but not on priority.

From your page:

From the bookworm page<https://www.debian.org/releases/bookworm/>:

It's testing, not unstable

Furthermore:

Furthermore:

Reading the FAQ answers the question completely:

Q: How is security handled for testing?

A: Security fo

[2022-10-20 09:51] tspearconquest commented on #3036
Perhaps it would make sense to work with Debian team to add some feature flag in /etc/release to indicate when Testing begins to receive security updates on a normal cadence, and then Trivy could check for that flag.

Just a thought :)

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: DmitriyLewen ***@***.***>
Sent: Thursday, October 20, 2022 12:36:58 AM
To: a

[2022-10-20 09:55] #3008 closed

[2022-10-20 11:45] #3027 closed

[2022-10-20 13:04] knqyf263 commented on #3041
Trivy currently needs to write cache somewhere.

[2022-10-20 13:05] tspearconquest commented on #3041
Hi, that's issue #3040. This is in regards to the `trivy.db` file which is not the cache.

[2022-10-20 13:10] tspearconquest commented on #3041
## What did you expect to happen?
Now that I changed the file permissions on /trivycache/fanal/fanal.db, I expected that Trivy would honor the --skip-db-update flag, and simply open the file /trivycache/db/trivy.db **for reading, but not writing.**

[2022-10-20 13:11] knqyf263 commented on #3040
You can set different permissions to the following directories.

- /trivycache/fanal
  - for image cache
- /trivycache/db
  - for vulnerability database

We welcome contributions.

[2022-10-20 13:11] tspearconquest commented on #3041
Currently trivy seems to require that the db is opened in read/write mode, even with --skip-db-update flag passed. This is the bug.

[2022-10-20 13:22] tspearconquest commented on #3040
Hello,

There is no `--no-cache` flag in the `trivy --help` or `trivy fs --help` output and I tried to run it but received:

`FATAL	unknown flag: --no-cache`

So it doesn't work. Please advise?

[2022-10-20 13:34] shiloong opened #3052 "Support for Anolis OS"
[Anolis OS](www.openanolis.cn) should be supported as RHEL/CentOS compatible distribution. Anolis OS 7 and 8 has been widely deployed on cloud, which is also provide the docker images, likes https://hub.docker.com/r/openanolis/anolisos.

The CVE database and security advisory for Anolis OS can be found here: https://anas.openanolis.cn/errata

[2022-10-20 13:54] knqyf263 commented on #3041
Yes, I know what you meant, so it is a feature request.

[2022-10-20 14:27] lsoumille opened #3053 "--file-patterns doesn't match kubernetes manifests"
## Description

In our CI we are scanning Kubernetes manifest after an helm template (file names end with.tpl). We used to make this check with this command `trivy fs --security-checks config -d --policy /trivy/my_policies/ --namespaces mycompany --file-patterns "yaml:.*.tpl"  home`.
After upgrading to version 0.31.1 (tested also for 0.32.1), trivy doesn't detect config files ending in .tpl

Trivy

[2022-10-20 18:00] josedonizetti opened #3055 "k8s: add docs for --components"
I'll be adding documentation for the new `trivy k8s` feature.

[2022-10-20 18:02] pmengelbert commented on #2540
@youwalther65 Looking at your log, you'll notice that it doesn't give you an error that it couldn't connect to the containerd socket. That means it connected to the socket but couldn't find your image. My guess is that those `kube-proxy` images are in the `k8s.io` namespace. Do you have `CONTAINERD_NAMESPACE` set in your environment for that first command?

`trivy` currently only looks at the defa

[2022-10-20 18:03] josedonizetti opened #3056 "k8s: should trivy k8s --components=workload return rbac"
The new flag --compoents has two options, `workload` and `infra`. The `infra` option is for any k8s internal components. For anything else, the `workload` flag is used, but this can be mislead when scanning rbac.

[code]

See the discussion: https://github.com/aquasecurity/trivy/pull/2589

[2022-10-20 20:46] pmengelbert opened #3059 "Support `CONTAINERD_NAMESPACE` environment variable"
Currently, the namespace is a hard-coded constant, "default". Containerd allows you to specify namespaces using the `CONTAINERD_NAMESPACE` environment variable. Trivy already uses the `CONTAINERD_ADDRESS` env var, so it is trivial to add the namespace.

Use case: scanning the images in the local containerd store on a kubernetes node. These images will be in the `k8s.io` containerd namespace.

For

[2022-10-20 21:00] pmengelbert commented on #3048
Related: https://github.com/rancher-sandbox/rancher-desktop/issues/539

[2022-10-21 02:12] Yuan-Yubin commented on #3033
https://nvd.nist.gov/vuln/detail/CVE-2022-28111
Nvd has just updated the CVE-2022-28111 description.

[2022-10-21 02:13] Yuan-Yubin commented on #3033
https://nvd.nist.gov/vuln/detail/CVE-2022-28111
Nvd has just updated the CVE-2022-28111 description.

[2022-10-21 02:41] DmitriyLewen commented on #2058
Hello @olljanat , @owenrumney

User found problem with table report in Windows(#3039).
Can you include fix for it in PR?

Regards, Dmitriy

[2022-10-21 02:56] DmitriyLewen commented on #3039
@sjb94
There is #2058 with information about adding support for Windows.
You can see progress there.
Also i added information about your problem.

[2022-10-21 06:32] xiechengsheng opened #3062 "[Feature Request] Consider add subcommand chart for trivy?"
Since trivy supports scanning image and fs, how about combining this two functionality to support subcommand `trivy chart` for helm chart?

[2022-10-21 07:55] DmitriyLewen commented on #3033
Hello @Yuan-Yubin
GitHub database has been updated.
Trivy is currently finding `CVE-2022-28111`.

Can you update Trivy-db and check it out?

[2022-10-21 08:58] olljanat commented on #3039
It looks to be that Trivy result is actually correct but because it is stored in UTF-8 format which old PowerShell or CMD cannot read. PowerShell 7 or Notepad++ does show correct output:
![image](https://user-images.githubusercontent.com/6213926/197156158-43f80317-6365-45fd-b2cd-55d1b9030480.png)

However most likely it still make sense to use ANSI encoding in Windows so those files are readable e

[2022-10-21 14:52] youwalther65 commented on #2540
Thanks a lot, will take a look after my business travel

[2022-10-21 17:39] josedonizetti opened #3063 "trivy k8s cluster not working for k8s 1.25"
[code]

[2022-10-21 20:28] p4yl04d3r commented on #2879
The process to build trivy-db was the same as any other platform.  I used the containerized method to build the current DB as it solved the dependencies to build the DB for me.
Then asked Trivy to NOT update the DB (--skip-update).
You cannot run a Trivy DB built on a little endian architecture on big endian. And vice-versa because of how BOLT (The DB that Trivy is built on) places data into the D

[2022-10-22 13:54] Nirusu opened #3065 "alibaba-access-key-id secret detection triggers on go(.work).sum with specific hash in it"
## Checklist
- [x] I've read [the documentation regarding wrong detection](https://aquasecurity.github.io/trivy/latest/community/contribute/issue/#wrong-detection).
- [x] I've confirmed that a security advisory in data sources was correct.
    - Run Trivy with `-f json` that shows data sources and make sure that the security advisory is correct.

## Description
The secret scanning rule searching f

[2022-10-22 17:13] Chan9390 opened #3066 "Trivy doesn't detect secrets in container images"
## Checklist

- [x] I've read [the documentation regarding wrong detection](https://aquasecurity.github.io/trivy/latest/community/contribute/issue/#wrong-detection).
- [x] I've confirmed that a security advisory in data sources was correct.
    - Run Trivy with `-f json` that shows data sources and make sure that the security advisory is correct.

## Description

Trivy doesn't detect secrets in co

[2022-10-22 19:29] nejch opened #3067 "Add analyzer (+parser) support for git-based dependencies"
Hey people, I'd like to add support for a few types of analyzers and parsers that all intersect a bit, so would like to get some feedback first.

- [git submodules](https://git-scm.com/book/en/v2/Git-Tools-Submodules), popular with C/C++ where package managers are still not widely standardized. See e.g. [boost library](https://github.com/boostorg/boost/tree/master/libs)
    * `.gitmodules`, but ve

[2022-10-23 13:52] josedonizetti commented on #3055
docs added to mai PR

[2022-10-23 13:52] #3055 closed

[2022-10-23 14:26] knqyf263 commented on #3056
Is this because RBAC is not workload?

[2022-10-23 14:40] josedonizetti commented on #3056
Yes, workloads are running components (pods, sts, deploy, etc). But at the same time, rbac is not the only thing, we have service, network plocies, etc that arent' workload. There is an issue to look into it, and maybe find a better name, as we discussed that the feature is marked as experimental

[2022-10-23 18:07] #3063 closed

[2022-10-24 05:35] Chan9390 commented on #3066
It's pretty weird that trivy detects on one machine but doesn't on another. This issue occurred when trying on Debian 11.

I tried to replicate the same on Ubuntu 20.04 and trivy detects the hardcoded secrets in docker image.

Both machines have trivy version `0.32.1` and docker version `Docker version 20.10.20, build 9fdeb9c`

Debug logs for the command `trivy image --security-checks secret test:

[2022-10-24 11:51] #2766 closed

[2022-10-24 13:35] umax commented on #720
Hi, there! I recommend you write your own plugin to convert Trivy JSON results to any format you want. The same I did for SonarQube - https://github.com/umax/trivy-plugin-sonarqube

[2022-10-24 16:55] johnbfs-dev opened #3071 "Export license information to json/cyclonedx file"
![image](https://user-images.githubusercontent.com/58077929/197581884-4c2e4609-22c2-4d39-bec1-f5baf1f523b6.png)

It will be very good if there is an option to export components licenses information to a json or cyclonedx file to make easy to integrate with other tools.

[2022-10-24 17:53] tspearconquest opened #3072 "Please make an External Data provider for Gatekeeper"
Hello,

I was looking into a recently added feature in the OPA Gatekeeper project wherein Gatekeeper can consume data from external sources in order to validate or mutate Kubernetes cluster resources.

https://open-policy-agent.github.io/gatekeeper/website/docs/externaldata

The external data comes from a Provider resource, which consumes the data from an HTTP endpoint (can be in cluster or extern

[2022-10-25 09:12] youwalther65 commented on #2540
I just had to point crictl to the right socket using:

` export CONTAINER_RUNTIME_ENDPOINT=unix:///run/containerd/containerd.sock`

then crictl image and other commands just work without using CONTAINERD_NAMESPACE env variable.

Otherwise I 'll get a warning like:
[code]

[2022-10-25 16:51] tspearconquest commented on #720
Hi @umax this is great!

For my use case, I could `trivy plugin install` in my local Trivy Dockerfile, though I'm not sure if python is actually available there. Could be we need a Go based plugin which can convert the output to many different types including those built into trivy.

[2022-10-25 17:02] #2986 closed

[2022-10-25 18:01] umax commented on #720
Hi, @tspearconquest! Thank you!

Trivy shipped in `alpine` docker image. You can easy install Python: `apk add python3` and then use the plugin. Or install python using package manager of your image.
Having report functionality build in Trivy is great. But I'm not good in Go and if destination report format changed or should be updated, I think release new version of plugin is much easy than new v

[2022-10-25 18:04] #3017 closed

[2022-10-25 18:06] tspearconquest commented on #720
Solid points for sure! Thanks! I think for most use cases it would be fine to install python3 in the image and would hope Trivy could consider to include it the upstream image, as I would imagine many more plugins will be contributed using python since Python is known by a larger group of developers than Go is.

For my use case, I'll talk to our dev team about making a Go version to convert the ou

[2022-10-25 18:12] umax commented on #720
Thank you! Btw, you can ask your Go devs just to create template for SonarQube (it uses Go syntaxt for vars substitution). I found this one, but it's a little bit different than my plugin produces: https://github.com/mendhak/trivy-template-output-to-sonarqube/blob/master/sonarqube.tpl

[2022-10-26 03:08] himywei opened #3078 "Integrate trivy into Go Projects"
Hi, when i integrate trivy into my go projects,  the executable file after compilation is too large. Is there any good way to solve this problem? thanks.

[2022-10-26 06:11] knqyf263 commented on #3078
What is the executable file? Do you mean the Trivy binary?

[2022-10-26 06:57] himywei commented on #3078
yes, due to too many dependencies on trivy, the binary file is too large.

[2022-10-26 07:26] knqyf263 commented on #3078
You can try `upx` to compress the binary. We don't have any other way for now.

[2022-10-26 07:36] himywei commented on #3078
I ‘ve tried, but the way is not appropriate for me. Thanks a lot !

[2022-10-26 07:36] #3078 closed

[2022-10-26 09:56] raesene opened #3080 "tar archive may not be scanned depending on how it was created"
## Description

When creating tar archives of container images manually, depending on how the `tar` command was issued, trivy may not be able to scan the resulting tarball. Tarball's that are unscanable can still be loaded into container tools like Docker.

Files mentioned below are here [output.zip](https://github.com/aquasecurity/trivy/files/9868283/output.zip)

So I was manually creating an OCI

[2022-10-26 19:09] ChaosInTheCRD opened #3081 "Provide a clear warning that only Trivy generated SBOMs will return vulnerabilities"
After feeding an SBOM generated by [Anchore/Syft](https://github.com/anchore/syft) into Trivy with `trivy sbom ./sbom.json`, I discovered that I got no vulnerabilities back, when I was expecting multiple.

After reading https://github.com/aquasecurity/trivy/issues/2934, my suspicions were confirmed that custom SBOM properties generated by trivy are the reason why it can find vulnerabilities from i

[2022-10-26 19:50] sjgupta19 opened #3082 "False positive. Detecting CVE-2022-3517 when fixed"
## Checklist
- [x] I've read [the documentation regarding wrong detection](https://aquasecurity.github.io/trivy/latest/community/contribute/issue/#wrong-detection).
- [ ] I've confirmed that a security advisory in data sources was correct.
    - Run Trivy with `-f json` that shows data sources and make sure that the security advisory is correct.

## Description

## JSON Output of run with `-debug`

[2022-10-27 05:11] DmitriyLewen commented on #3082
Hello @sjgupta19
Thanks for your report!

It looks that your image has `opt/app/node_modules/protobufjs/cli/node_modules/minimatch/package.json` file with `minimatch v3.0.4`.
For CVE-2022-3517 fixed version == `3.0.5`.

Can you give more information why you think that it is false possitive?

Regards, Dmitriy

[2022-10-27 07:09] DmitriyLewen commented on #3065
Hello @Nirusu
Thanks for your report!

I created PR(#3083) with fix this.
After this PR is merged, we will include the fix in the next release.

Regards, Dmitriy

[2022-10-27 07:32] DmitriyLewen commented on #3066
Hello @Chan9390
Thanks for your report!

This is very strange case.
Can you upload both images to `docker hub` so we can investigate this?

Regards, Dmitriy

[2022-10-27 08:24] DmitriyLewen commented on #3071
Hello @johnbfs-dev
Thanks for your report.

Currently you can get licenses in `json` or `cyclonedx` format. Use `--format json` flag for this.
e.g.:
[code]

Use `--format cyclonedx` for cyclonedx(https://aquasecurity.github.io/trivy/v0.33/docs/sbom/)
e.g.:
[code]

Also use `--output` flag to export report in file.

[2022-10-27 09:57] knqyf263 opened #3085 "Slow scanning mode"
# Description
Trivy tries to pull layers in parallel and also analyze the files inside in parallel, but it is likely to consume CPU and memory. It would be useful for small-footprint environments like k8s or even edge devices if Trivy has a slow-scanning mode that will consume less CPU and memory.

[2022-10-27 13:43] #3059 closed

[2022-10-27 22:24] sjgupta19 commented on #3082
I have this in package.json
`"resolutions": {
    "minimatch": "^3.0.5",
    "**/minimatch": "^3.0.5"
  }
}`
But it still throws an error. What would be the fix for this?

[2022-10-27 22:48] sjb94 commented on #3039
Sorry for the late reply.
We figured out it was in fact an issue with our legacy Jenkins system. We
fixed it by telling Jenkins to read the console output as UTF8.

Thank you for help on this.

On Fri, Oct 21, 2022, 03:58 Olli Janatuinen ***@***.***>
wrote:

[2022-10-28 02:43] DmitriyLewen commented on #3039
Good!
I close this issue. If you still have a problem - feel free to reopen this issue.

Best Regards, Dmitriy

[2022-10-28 02:43] #3039 closed

[2022-10-28 05:27] #2855 closed

[2022-10-28 07:23] jesusfcr commented on #2965
Fixed bumping defsec 0.28.0 https://github.com/aquasecurity/defsec/releases/tag/v0.82.0

[2022-10-28 07:23] #2965 closed

[2022-10-28 07:46] jonaz commented on #523
Why not just?
[code]

[2022-10-28 14:23] remidebette commented on #1856
Still needed

[2022-10-28 15:07] erikgb opened #3088 "Running with --quiet should not output log"
## Description

We are building an operator that parses trivy structural (json) output from stdout, which means that we must suppress progress bar and log output using the `--quiet` flag. That used to work fine, but to work around another issue, we now have to supply a dummy/empty config file to trivy.

It seems like trivy always outputs log when loading a config file, either if a config file is f

[2022-10-28 22:09] maitre-matt commented on #1856
I am new to Trivy (or Go for that matter...), but with a few code pointers I can likely take a stab at a contribution. For pip, it looks like Trivy builds an inventory of `.dist-info/META-DATA` files. Digging into conda environments on my machine, it looks like the conda equivalent is JSON files like `<conda-root>/envs/<env>/conda-meta/<package>.json`. The [conda doc](https://conda.io/projects/con

[2022-10-29 06:29] didiermichel opened #3091 "make command fail when GOPATH has several paths"
## Description
GOPATH variable can be composed of several paths just as PATH is.
The problem is that an error occurs using makefile and having a multipath `GOPATH` (ie: GOPATH=path1:path2)

The issue is due to GOPATH parsing in make makefile. It is assuming it has a unique path defined.

## What did you expect to happen?
Be able to run any make file command.

## What happened instead?

error:
[cod

[2022-10-31 09:10] himywei opened #3096 "What is the difference between trivy and OVAL？"
Hello, i have some questions about trivy. What is the difference between trivy and OVAL. And, what are the advantages of trivy.

[2022-10-31 10:31] MartinX3 opened #3098 "Support for rootless podman"
Rootful podman has it's socket at:
`/run/podman/podman.sock`

But rootless podman has it's socket at:
`/run/user/1000/podman/podman.sock`

So it errors out.

Edit:
Probably using
`export CONTAINERD_ADDRESS=/run/user/1000/podman/podman.sock`
works.

[2022-10-31 13:18] bardenstein opened #3100 "[CRITICAL] Output uses 'DESCRIBE' not 'DESCRIBES' which doesn't match SPDX spec"
## Description

SPDX SBOMs generated by Trivy create files that use a field called "DESCRIBE" to describe the asset, whereas the proper SPDX spec uses the field name "DESCRIBES."

Command used: trivy image --format spdx-json --output result.spdx.json alpine:3.15

## What did you expect to happen?
Field name should be "DESCRIBES"

## What happened instead?
SBOM contained a field

## Output of run w

[2022-10-31 13:23] maitre-matt commented on #1856
My understanding of the work so far:
- Add a parser along the lines of https://github.com/aquasecurity/go-dep-parser/tree/main/pkg/python/packaging
- Add an analyzer https://github.com/aquasecurity/trivy/tree/57ed5774590434acc8becfb131338f5889cab749/pkg/fanal/analyzer/language/python/packaging
- Maybe add a detector (likely out of scope) https://github.com/aquasecurity/trivy/tree/827cea3245081923d

[2022-10-31 15:47] liamg commented on #2738
This is now fixed upstream in the aws-sdk, we just nee to pull it in via defsec.

[2022-11-01 02:41] himywei commented on #3096
Besides, i want to download trivy db directly, Is there an exposed api ? the url "ghcr.io/aquasecurity/trivy-db" i tried does not work.

[2022-11-01 04:06] DmitriyLewen commented on #3082
Hello @sjgupta19
Currently we don't parse `resolutions` field.
There are some problem with properly defining overwritten dependencies.

Regards, Dmitriy.

[2022-11-01 04:11] L1ghtman2k commented on #3081
In my case, I got error: `sbom scan error: scan error: scan failed: scan failed: failed to detect vulnerabilities: failed to scan application libraries: failed vulnerability detection of libraries: failed to initialize a driver: unsupported type alpine`. Still, I would have for sure appreciated a comment that trivy can only scan trivy generated SBOMs

[2022-11-01 04:15] L1ghtman2k commented on #2934
Running on [0.34.0](https://github.com/aquasecurity/trivy/releases/tag/v0.34.0), I get the following:

[code]

when trying to run `trivy sbom sbom.json`, where `sbom.json is`:
[cyclonedx.txt](https://github.com/aquasecurity/trivy/files/9906775/cyclonedx.txt)

[2022-11-01 06:39] himywei commented on #3096
When i  pull image by using the command "docker pull ghcr.io/aquasecurity/trivy-db:2" , sth wrong happend:
"2: Pulling from aquasecurity/trivy-db
05515bd746ce: Pulling fs layer
unexpected end of JSON input"

[2022-11-01 08:13] kyberorg opened #3101 "CVE-2022-3358 has wrong fix version"
## Checklist
- [x]  I've read [the documentation regarding wrong detection](https://aquasecurity.github.io/trivy/latest/community/contribute/issue/#wrong-detection).
- [x] I've confirmed that a security advisory in data sources was correct.
    - Run Trivy with `-f json` that shows data sources and make sure that the security advisory is correct.

## Description
Trivy reports that my image (alpine

[2022-11-01 08:15] DmitriyLewen commented on #3100
Hello @bardenstein
Thanks for your report!

I created #3102 to fix this problem.

Regards, Dmitriy

[2022-11-01 08:54] DmitriyLewen commented on #3101
Hello @kyberorg
Thanks for your report!

[Alpine security database](https://secdb.alpinelinux.org/edge/) currently contains `3.0.6-r0` as fixed version.
When Alpine updates this, you will receive new fixed version.

Regards, Dmitriy

[2022-11-02 09:35] #3096 closed

[2022-11-02 10:02] AlexsJones opened #3119 "Trivy operator first start, pulls duplicate docker images"
1. MicroK8s 4 node raspberry pi cluster
2. ArgoCD pulling the following

[code]

What you will see is that `trivy-system` is populated by over 10 pods ( I suppose this in relation to workloads it wants to scan?)
They are all pulling the same image from docker hub so I hit a timeout and they back off with a failure.
![Screenshot 2022-11-02 at 10 00 35](https://user-images.githubusercontent.com/1235

[2022-11-02 10:05] AlexsJones commented on #3119
I don't think this is a bug, but it's pretty irritating.

[2022-11-02 10:05] #3119 closed

[2022-11-02 15:16] marboi2 opened #3120 "False positive: CVE-2022-3786 reported on openssl 1.1 packages in Alpine 3.11.5"
## Description

I scanned an Alpine 3.11.5 image and got a report for CVE-2022-3786 on OpenSSL 1.1.1g packages.
I got this in the JSON output:
[code]
And
[code]
Note that Alpine 3.11.5 is obsolete.

## What did you expect to happen?
OpenSSL 1.1.x is not vulnerable to CVE-2022-3786
Moreover, there is no indication of CVE-2022-3786 under https://secdb.alpinelinux.org/v3.11/

## What happened instead

[2022-11-02 16:41] pikaqiu-go opened #3121 "Trivy can’t scan remote repository through the deployed vulnerability database server"
## Description
When I run the scan remote repository through the deployed vulnerability database server, it occur panic.
Run the command as follows：
[code]

## What did you expect to happen?

Remote repository can be scanned through deployed servers.
## What happened instead?

panic: runtime error: invalid memory address or nil pointer dereference
## Output of run with `-debug`:

[code]

## Output

[2022-11-02 17:50] itaysk opened #3123 "tag trivy-db image with timestamp"
from https://github.com/aquasecurity/trivy-db/pull/251:

Example use case: check how many vulnerabilities would have been detected by Trivy in a given image 30 days ago.
There is additional work to do in the CLI to change the tag to something other that "2" (for example --db-tag=2022091512). However, until these tags start to be published, there is no reliable way to obtain this data other than by

[2022-11-03 04:13] DmitriyLewen commented on #3120
Hello @marboi2
Thanks for your report!

Looks like you use `edge` repository.
That is why Trivy use [edge](https://secdb.alpinelinux.org/edge/) database.

You can see installed repositories in `/etc/apk/repositories` file.
[code]

Regards, Dmitriy

[2022-11-03 07:17] DmitriyLewen commented on #2706
Hello @jkone27 , @JoostvdB94
Thanks for your reports!

@jkone27 i looked your screen shoot - if i understand correctly - this `*.deps.json` file doesn't contain `System.Private.Uri`, right?
This is very strange... Can you use `--format json --list-all-pkgs` flags and scan again?
You can see filepath in `Target` field. e.g.:
[code]
Perhaps another `*deps.json` file contains `System.Private.Uri`.

_

[2022-11-03 11:14] DarwinJS commented on #2760
@knqyf263 - do you have any time to help me understand whether the root cause is intentional or a bug?

[2022-11-03 11:55] dmivankov commented on #1233
this is still an issue with trivy 0.34.0

[2022-11-03 11:56] dmivankov opened #3125 "trivy scan results are unstable even when air-gapped"
See https://github.com/aquasecurity/trivy/issues/1233
it was auto-closed for no reason

[2022-11-03 12:39] marboi2 commented on #3120
Ah yes, You are right! I got:
bash-5.0# cat etc/apk/repositories
http://dl-cdn.alpinelinux.org/alpine/v3.11/main
http://dl-cdn.alpinelinux.org/alpine/v3.11/community
http://dl-4.alpinelinux.org/alpine/edge/testing
bash-5.0#

I'll ask our developers to fix that. Thanks for for the hint!

________________________________

Ce message, ainsi que tous les fichiers joints à ce message, peuvent contenir

[2022-11-03 13:08] JwishPark opened #3126 "False positive: CVE-2014-9939 unexpected scan result"
### Description
I scanned my centos-based image with Trivy.
And found there is a vulnerability CVE-2014-9939 in binutils.
However according to the description, problem has before version 2.26
and installed version is 2.27 in my image
So I want to know why it was found as a vulnerability.

### What did you expect to happen?
binutils@2.27-44.base.el7_9.1.x86_64 is not vulnerable to CVE-2014-9939

##

[2022-11-03 13:56] plaisted commented on #2706
@DmitriyLewen
My example clearly shows that the container is using version `6.0.922.41905` of `System.Private.Uri` not `4.3.0`.  **Just because a version is in the .deps.json does not mean it the version actually in use**.  The *.deps.json method used by trivy may work for directly referenced packages but can't be used universally for everything in the *.deps.json. I am not familiar enough to sugg

[2022-11-03 14:04] dmivankov commented on #3125
Looks like with `--offline-scan` it works better

[2022-11-03 14:04] #3125 closed

[2022-11-03 14:13] azeezullah-abdulrasheed opened #3127 "init error: failed to download vulnerability DB: OCI artifact error: OCI artifact error: OCI repository error:"
Trivy version I'm using it:

19:35:55  + /usr/local/bin/trivy --version
19:35:55  Version: 0.32.1
19:35:55  Vulnerability DB:
19:35:55    Version: 2

Below is the error message while the jenkins jobs failed:

19:35:55  + sudo /usr/local/bin/trivy --debug --insecure image rethinkdb:add-trivy-scan-stage-to-jenkinsfile-6 --exit-code 1
19:35:56  2022-11-03T07:05:55.931-0700	[35mDEBUG[0m	Severities:

[2022-11-03 15:39] powershot275 commented on #346
Ping !

[2022-11-03 15:50] pmuzyka-travix commented on #2706
@DmitriyLewen - @jkone27 's situation is actually quite simillar to what @plaisted described. In his code he already uses latest of version of System.Private.Uri not 4.3.0. The 4.3.0 is coming from .deps.json due to the transitive dependency.

+1 to what @plaisted wrote, it would possibly better if trivy did filter out results coming from .deps.json inclusion to return the results tied to directly

[2022-11-03 17:24] astounds opened #3128 "Support to Hyperbola"
Web site [Hyperbola GNU+Linux](https://www.hyperbola.info/). [Docker Hub Image](https://hub.docker.com/r/rusian/hyperbola)

[2022-11-03 18:39] aswath-s-tw commented on #2997
Ahh ! Never mind about this issue ! It is easily possible in colima too if we are able to create a symbolic link between the colima socket file and the docker sock path.

I ran `sudo ln -sf $HOME/.colima/default/docker.sock /var/run/docker.sock` and it worked fine !

Thanks for the support anyway. Please let me know if other container runtimes need to be supported. Would be happy to help !

[2022-11-04 08:05] lme-nca commented on #2997
Yes this works as well, however sadly i'm on a managed machine and this involves me getting the sudo permission first, which is rather cumbersome :)

[2022-11-05 13:30] sedu opened #3132 "Settings --skip-file/--skip-dirs don't work on Windows"
Settings `--skip-file`,`--skip-dirs` don't have effect when running trivy on Windows

[code]

I've found that the issue is related to how skipFiles are prepared in `newWalker` func.
For example, we pass `--skip-file=C:\Dev\Local\TestTrivy\Project.deps.json` in parameters.
In `newWalker` func we have skipFiles with backslashes:
[code]

Then in `shouldSkipFile` method after
[code]

We have `filePath

[2022-11-06 11:27] chen-keinan opened #3136 "NSA Compliance percentage are lower after installing OPA gatekeeper"
When running `trivy k8s compliance=nsa report summary` command
The scores seem to go down "significantly" once we deploy OPA Gatekeeper with restrictive enforcement policies.

 We are unable to explain why this is happening.

We have turnkey support for OPA Gatekeeper in our platform via [kubernetes-policy-management ](https://docs.rafay.co/learn/quickstart/turnkey_opa/overview/) and can lock down

[2022-11-07 02:48] DmitriyLewen commented on #3120
I'm glad I could help you.
I'm closing this issue, if you have any questions - feel free to open this issue again

Regards, Dmitriy

[2022-11-07 02:48] #3120 closed

[2022-11-07 05:40] DmitriyLewen commented on #2706
okay, thanks! i understand what do you meant.

But what confuses me is that the `*deps.json` file does not include `System.Private.Uri 6.0.922.41905`.
Looks like NET6 includes this package as system and doesn't include this package to `*.deps.json`.
If it is true:
I am not sure if NET6 overwrite system packages from other dependencies.
i mean:
NET6 contains `System.Private.Uri 6.0.922.41905`
`exam

[2022-11-07 06:12] 07041990 opened #3137 "Scanning code Commit repositories - Authentication error"
While trying to scan the private repositories that is code commit repositories in AWS - getting below error
2022-11-07T11:37:32.001+0530    FATAL   repository scan error: scan error: unable to initialize a scanner: unable to initialize a filesystem scanner: git clone error: authentication required

[2022-11-07 06:13] 07041990 commented on #3137
Code commit credentials are fed in already

[2022-11-07 06:23] DmitriyLewen commented on #3126
Hello @JwishPark
Thanks for your report!

Trivy uses `RedHat database` for `RHEL/CentOS`.(More information about Data Sources [here](https://aquasecurity.github.io/trivy/v0.34/docs/vulnerability/detection/data-source/).

For RHEL7 `CVE-2014-9939` has status `affected`(https://access.redhat.com/security/cve/cve-2014-9939)
That is why Trivy found this CVE.

Best Regards, Dmitriy

[2022-11-07 06:50] puppy61 opened #3138 "trivy scan failed"
## Description

I use trivy for Harbor image vulnerability scan , image scan faild.

##Logs:

[code]

## Output of `trivy -v`:

[code]

[2022-11-07 11:30] romanwoessner commented on #2735
It seems to be fixed in 0.34.0 🥳

[2022-11-07 16:47] himywei opened #3140 "can trivy detect vuln of host machine?"
I test trivy in local machine by using " trivy rootfs /" and "trivy fs /", but just for language-specfic lib 's vuln can be detected. Does trivy support detecting vulns of os's packages ? thanks.

[2022-11-07 17:37] plaisted commented on #2706
@DmitriyLewen I don't know enough about the `deps.json` to suggest the best way to do this. You would need to get feedback from someone on the dotnet team.

A potential improvement to the current would be to check the if the file exists in the same folder as the `deps.json` file. That would let you know the file is being provided by the app instead of the runtime (although not foolproof as the loa

[2022-11-07 21:04] #3132 closed

[2022-11-07 21:04] sedu opened #3143 "Settings --skip-file/--skip-dirs don't work on Windows"
Settings `--skip-file`,`--skip-dirs` don't have effect when running trivy on Windows

[code]

I've found that the issue is related to how skipFiles are prepared in `newWalker` func.
For example, we pass `--skip-file=C:\Dev\Local\TestTrivy\Project.deps.json` in parameters.
In `newWalker` func we have skipFiles with backslashes:
[code]

Then in `shouldSkipFile` method after
[code]

We have `filePath

[2022-11-07 23:59] archoversight opened #3145 "Running concurrent trivy image scans seems to block"
## Description

I am running scans across many images in parallel on a single machine that has 32 cores. When I spin up 20 trivy image scans against multiple different containers at once, it seems that only one makes progress and all others sit idle.

## What did you expect to happen?

I expect that each of the trivy processes uses up as much CPU as it can to scan the images as fast as it can.

##

[2022-11-08 01:12] ryandens opened #3146 "failed to download vulnerability DB in trivy 0.32.0+"
## Description

I've been having trouble using trivy versions 0.32.0 and higher for several weeks. Trivy cli 0.32.0 and higher cannot seem to download the vulnerability DB from github. I can use these versions of trivy successfully if i first scan an image with trivy version 0.31.3, which downloads the DB and then scan the image again with 0.32.0+ which uses the cached  db.

[code]

## What did yo

[2022-11-08 06:16] puppy61 opened #3147 "vulnerability scan report"
## Output of `trivy -v`:
[code]
![image](https://user-images.githubusercontent.com/112548224/200484349-66511934-f7f9-4f8b-8574-6499d352ae59.png)

I use trivy for harbor image vulnerability  scan.  Accordding to the  cve description，CVE-2022-3358 only affects ’OpenSSL versions 3.0.0 to 3.0.5‘， why image  with openssl-1.0.1t-1+deb8u7  be reported  existing high risk vulnerabilities.

Thanks.

[2022-11-08 07:21] DmitriyLewen commented on #3147
Hello @puppy61
Thanks for your report!

For Debian packages Trivy uses Debian database(https://aquasecurity.github.io/trivy/v0.34/docs/vulnerability/detection/data-source/#data-source-selection)

https://security-tracker.debian.org/tracker/CVE-2022-3358:
For `buster` fixed version == `1.1.1n-0+deb10u3`
For `bullseye` fixed version == `1.1.1n-0+deb11u3`

That is why Trivy finds this CVE.

Regards,

[2022-11-08 08:46] janepelladinesh opened #3148 "Failed to get report for artifact , Unexpected EOF Trivy scan issue"
## Description

[code]

##Container logs

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):

I tried to update all the  timeouts , worker job concurrency in env but it didn;t worked
SCANNER_JOB_QUEUE_WORKER_CONCURRENCY=10

please help , also could you suggest any changes do we have to made

Trivy version
TRIVY_VERSION=v0.29.2

[2022-11-08 19:10] aacecandev commented on #1858
Is any work in progress on this issue?

[2022-11-08 20:00] tspearconquest commented on #1858
Yes. See https://github.com/aquasecurity/trivy/pull/2490. It's been submitted but not yet approved, as the Aqua Security team was busy during Kubecon.

[2022-11-09 02:08] simar7 commented on #2919
Supporting this for `trivy aws` looks like this:

[code]

Note that only those rules that belong to AWS CIS 1.2 were enabled.

A similar run for AWS CIS 1.4 would look like this:

```$ trivy aws --compliance=awscis1.4 --region us-west-2 --service iam```

[2022-11-09 09:51] ishowta commented on #738
@jcamu  Why did you close it? I checked the documentation and could not find any mention of scan windows containers.

[2022-11-09 10:48] jcamu commented on #738
Don't remind. As the issue was going to be closed without activity. Maybe i close it in advance but yes no news on my side for windows container scan

[2022-11-09 10:57] ishowta commented on #738
Sorry, I did not know that the `actions/stale` BOT automatically closes Issues.

[2022-11-09 14:06] walkerxiong commented on #3148
It seems that the redis connection timed out

[2022-11-09 14:06] Azulath opened #3151 "Scanning image fails due to wrong resolve"
## Description
When trying to scan an image `trivy` fails and is unable to scan said image.

## What did you expect to happen?
I expected `trivy` to scan the image.

## What happened instead?
`trivy` failed with an error

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional info:
macOS BigSur 11.7.1 (Intel)
trivy 0.34.0 (homebrew)

[2022-11-09 14:37] janepelladinesh commented on #3148
@walkerxiong We have already increased the REDIS TIME OUT in env file for docker compose , but still we are facing same issue

these are the additional env's we recently added

SCANNER_TRIVY_TIMEOUT=30m0s
SCANNER_REDIS_POOL_CONNECTION_TIMEOUT=120s
SCANNER_REDIS_POOL_READ_TIMEOUT=120s
SCANNER_REDIS_POOL_WRITE_TIMEOUT=120s
SCANNER_REDIS_POOL_MAX_ACTIVE=10
SCANNER_REDIS_POOL_MAX_IDLE=10
SCANNER_REDIS

[2022-11-09 14:43] janepelladinesh commented on #3148
Additional  debug logs

 github.com/aquasecurity/trivy/pkg/commands/artifact.run
         /home/runner/work/trivy/trivy/pkg/commands/artifact/run.go:355
   - scan error:
     github.com/aquasecurity/trivy/pkg/commands/artifact.(*runner).scanArtifact
         /home/runner/work/trivy/trivy/pkg/commands/artifact/run.go:217
   - image scan failed:
     github.com/aquasecurity/trivy/pkg/commands/artifa

[2022-11-09 16:20] ericofusco opened #3152 "Detect vulnerabilities for nodejs runtime"
Container images for nodejs (https://hub.docker.com/_/node) have the runtime installed independently without OS package managers.

It seems trivy doesn't detect the node version the image has and it misses the vulnerabilities related to nodejs runtime.

Would it be possible to add detection for `node` so it can look for nodejs runtime vulnerabilities?

[2022-11-09 17:08] huornlmj opened #3153 "Trivy image CycloneDX example does not work, returns an error message"
## Description

One of the trivy image example commands fails with an error:
[code]

## What did you expect to happen?
No error, and an expected output

## What happened instead?
[code]

## Output of run with `-debug`:
[code]

## Output of `trivy -v`:
[code]

## Additional details (base image name, container registry info...):
alpine:latest

[2022-11-09 21:36] ssajal-wrl opened #3154 "Add ability to scan Wind River Linux containers"
Add new feature to allow trivy to scan Wind River Linux containers.

[2022-11-10 05:52] DmitriyLewen commented on #3153
Hello @huornlmj
Thanks for your report!

The `security-checks` flag is not set to `none`.
you can skip this flag in your command.
Vulnerability scan will be disabled automatically.
in your case:
[code]

Regards, Dmitriy

[2022-11-10 06:54] walkerxiong commented on #3151
Maybe  you can solve it through [this issue](https://github.com/docker/docker-credential-helpers/issues/149) .

[2022-11-10 07:26] walkerxiong commented on #3127
Hi @azeezullah-abdulrasheed ,
The most likely cause of your problem is because the server (https://ghcr.io/v2/) closed the connection.

[2022-11-10 08:12] Azulath commented on #3151
Thanks, this solved my problem,

[2022-11-10 08:12] #3151 closed

[2022-11-10 08:24] JoostvdB94 commented on #2706
There is an vulnerability reported by Microsoft (that is also discovered by Trivy) that explains how to detect if you need to update a transitive dependency:

https://github.com/advisories/GHSA-8g2p-5pqh-5jmc#:~:text=Discovering%20and%20fixing,the%20transitive%20dependency.

[2022-11-10 09:13] huornlmj commented on #3153
Sorry I should have been clearer.  The issue is that the example given by Trivy is wrong.  For example, observe the last example line below, given when the `$ trivy image --help` command is issued.  It is incorrectly advising to use `--security-checks none`.
[code]

[2022-11-10 09:34] DmitriyLewen commented on #3153
oh... I see it.
Thank you very much for your attention

We will fix this in the near future

[2022-11-10 10:17] chen-keinan opened #3157 "exclude --compliance flag from non supported sub-commands"
it is required to exclude `--compliance` report flag from non relevant `sub-commands` :
- image
- config
- fs
- repository

[2022-11-10 10:33] chen-keinan opened #3159 "update compliance flag description"
update compliance flag description
it is require to fix compliance flag description :
from :
`comma-separated list of what compliance reports to generate (nsa)`

to:
`compliance report to generate (nsa)`

[2022-11-10 13:28] sourabhgupta385 commented on #3159
I get error like below with Trivy 0.34.0

`trivy --cache-dir /common-lab/trivy --debug k8s --skip-update --offline-scan --security-checks vuln --compliance nsa cluster --report summary

18:17:49  2022-11-10T12:47:49.382Z	FATAL	flag provided but not defined: -compliance`

[2022-11-10 13:40] sourabhgupta385 opened #3162 "Trivy kubernetes cluster scanning only scans for kube-system namespace and does not scan anything within other namespace"
Trivy kubernetes cluster scanning only scans for kube-system namespace. I have other namespaces as well and a lot of workload is deployed there. It does not list out any one of them.

18:23:20  2022-11-10T12:53:20.491Z	DEBUG	Severities: UNKNOWN,LOW,MEDIUM,HIGH,CRITICAL
18:23:47  2022-11-10T12:53:46.158Z	DEBUG	cache dir:  /common-lab/trivy
18:23:47  2022-11-10T12:53:46.264Z	DEBUG	Skipping DB update

[2022-11-10 17:01] itaysk commented on #3157
why do you think those are non-relevant? can you please elaborate?

[2022-11-10 18:31] chen-keinan commented on #3157
it might be related in the future but currently its only implemented (flag is addressed) in `trivy k8s`, other sub-command show it in `help` which is misleading as user could think it works when it doesn't

[2022-11-10 18:51] chen-keinan commented on #3159
the command you put look correct , also tested it exactly as you put it with `trivy v0.34.0` and I got results

could you please try the basic command format and let me know if it works for you:
[code]

[2022-11-11 01:31] stickycode opened #3164 "Denied when trying to update trivy-db"
## Description

Trying to run a scan from the command line (versions 0.30.0 and 0.34.0) fails when updating the trivy-db from GHCR

¥ trivy i alpine
2022-11-11T14:24:27.306+1300    INFO    Need to update DB
2022-11-11T14:24:27.306+1300    INFO    DB Repository: ghcr.io/aquasecurity/trivy-db
2022-11-11T14:24:27.306+1300    INFO    Downloading DB...
2022-11-11T14:24:27.921+1300    FATAL   init error

[2022-11-11 03:18] NitroCao commented on #3145
It's not a bug, a "feature" instead because Trivy uses boltdb as the vulnerability database, which doesn't support concurrent access. Related issues are #1529, #650, #660.
The workaround is to use client/server mode (https://aquasecurity.github.io/trivy/v0.34/docs/references/modes/client-server/).

[2022-11-11 04:37] DmitriyLewen commented on #2706
Thanks @JoostvdB94 for this link.
I investigated this and i have some thoughts:
Perhaps your projects have multiple (more then one) dependencies with  `System.Private.Uri` transitive dependency.
for example:
pkgA -> System.Private.Uri v4.3.0
pkgB -> System.Private.Uri v6.0.0
We think that NET 6 uses System.Private.Uri from `pkgB` but it uses lower version from `pkgA` (https://learn.microsoft.com/e

[2022-11-11 06:15] DmitriyLewen commented on #3164
Hello @stickycode
thanks for your report!

It seems that your docker credentials are wrong.
Can you log out of docker and try again?

And 1 more question: are you trying to pull other public images from github (I mean `https://ghcr.io/v2`)?

Regards, Dmitriy

[2022-11-11 06:59] sourabhgupta385 commented on #3159
@chen-keinan

When I tried the command you provided, I got below error -

DEBUG	Severities: UNKNOWN,LOW,MEDIUM,HIGH,CRITICAL
FATAL	All the results in the table format can mess up your terminal. Use "--report all" to tell Trivy to output it to your terminal anyway, or consider "--report summary" to show the summary output.

Then I ran like this -

11:49:22  2022-11-11T06:19:22.335Z	DEBUG	Severities

[2022-11-11 07:48] JoostvdB94 commented on #2706
Hey @JoostvdB94 thank you for investigating this.

I enabled the lock file and did not find any reference to `System.Private.Uri`. I did however find out that, although my application targets `net6.0`, it resolved the `Microsoft.NETCore.App` to `1.1.2` in the lockfile.

[code]
`Microsoft.NETCore.App=1.1.2` was a dependency of another package:
[code]

When I build normally here is no `System.Privat

[2022-11-11 08:12] DmitriyLewen commented on #2706
hello @JoostvdB94
Thanks for your information

What about `*.deps.json` file?
Does it contain `System.Private.Uri`?

summary:
| build type | *deps.json contains System.Private.Uri   | lock file contains System.Private.Uri   |  app folder contains System.Private.Uri.dll |
|---|---|---|---|
| normal  |  +  | -  | -  |
|  self-contained | +  | -  | +  |

Is this summary right?

[2022-11-11 08:24] chen-keinan commented on #3159
true this is not compliance report , but I'm unable to reproduce the problem, can you share info on your env. ?  is it air-gapped ?
I'll be happy to jump on a call next week (to look for root cause) if you want

[2022-11-11 08:28] DmitriyLewen commented on #3146
Hello @ryandens
Thanks for your report!

Are you using a proxy or something similar?
Looks like #2816 same issue.

Regards, Dmitriy

[2022-11-11 08:38] JoostvdB94 commented on #2706
That's correct. It appears multiple times (in a self contained build output)

I've tried to isolate the JSON structure that's relevant. These are all occurrences of the search (search term was Private.Uri)

[code]

[2022-11-11 09:06] DmitriyLewen commented on #2706
Very strange that the lock file does not contain `System.Private.Uri`
It also doesn't have `runtime.any.System.Runtime` and `runtime.unix.System.Runtime.Extensions`?

[2022-11-11 09:24] JoostvdB94 commented on #2706
The package.lock.json does contain `"System.Runtime.Extensions": "4.3.0"`
It does not contain `runtime.any.System.Runtime` or `runtime.unix.System.Runtime.Extensions` or `System.Private.Uri`

[2022-11-11 09:25] JoostvdB94 commented on #2706
I believe that is true. `System.Private.Uri` is part of the NetCore runtime (thus the same version as NetCore?)

[2022-11-11 09:39] DmitriyLewen commented on #2706
It does not contain runtime.any.System.Runtime or runtime.unix.System.Runtime.Extensions or System.Private.Uri

Hm...
NET creates *.dll files (for these dependencies), so App uses these files.
But lock file doesn't have these dependencies, which means App does not use them.
It doesn't make sense... or we're missing something.

[2022-11-11 09:55] JoostvdB94 commented on #2706
I think the lock file only specifies which `packages` it uses. Technically, the `System.Private.Uri` is not a package, as it is part of the dotnet runtime. In my opinion, we should treat both separately:
- Scan for vulnerabilities in packages
- Scan for vulnerabilities in the targeted framework version

The question then is: How would we separate those 2 checks?

[2022-11-11 10:00] albertollamaso opened #3167 "Ability to run trivy container image scan from Golang"
Hi community,

I am working on implementing a container images scanner in golang and I wanted to know if there is any go-sdk that can be used to invoke trivy for the purpose of scanning container images?

I've been looking at the source code and the functions and types don't look generic enough that I can import them and call the scanner from an external program.

[2022-11-11 10:38] philnichol opened #3168 "Secret scanning doesn't handle long lines of code"
## Description

We have a specific image which is returning a massive response and causing Trivy server to use a large amount of memory (currently being OOMKilled with 2GB memory). If running locally and directing the output to a file you can see the file is ~160Mb.
At a quick glance I believe the cause is that this image includes very long single lines of code containing secrets, and the secrets

[2022-11-11 11:14] afdesk commented on #2613
@muddassir-r  you should be authorized in a private repository via docker

[2022-11-11 11:27] sourabhgupta385 commented on #3159
@chen-keinan It's not really air-gapped env but we will be having it in future. Currently we download the DB at one location and then use it in commands using cache-dir. But for testing purpose I am not doing it that way as well.

I'm using Oracle Linux and Trivy version is 0.34.0 .

I installed Trivy in my Jenkins slave like this
`rpm -ivh https://github.com/aquasecurity/trivy/releases/download/v

[2022-11-11 11:32] chen-keinan commented on #3159
@sourabhgupta385 I'm looking to do the basic test , do you have access to k8s cluster from your desktop (via kubectl) if so could you try install `trivy` on your desktop and run this :
`trivy k8s cluster --compliance=nsa --report summary`

[2022-11-11 12:37] sourabhgupta385 commented on #3159
@chen-keinan I installed Trivy on the bastion and did the test as

2022-11-11T11:54:00.379Z	DEBUG	Severities: ["UNKNOWN" "LOW" "MEDIUM" "HIGH" "CRITICAL"]
2022-11-11T11:54:06.368Z	DEBUG	cache dir:  /root/.cache/trivy
2022-11-11T11:54:06.368Z	DEBUG	DB update was skipped because the local DB is the latest
2022-11-11T11:54:06.368Z	DEBUG	DB Schema: 2, UpdatedAt: 2022-11-11 06:08:20.100096581 +0000 UTC

[2022-11-11 12:39] chen-keinan commented on #3159
@sourabhgupta385 , great. thanks for checking just wanted to make sure basic is working.
if you are using it via jenkins maybe you can using the `--format json` flag rather then table

[2022-11-11 16:43] plaisted commented on #2706
1) The lock file is for direct / transitive package dependencies. `System.Private.Uri` is part of the runtime not a direct / transitive dependency. It does not have to be referenced in a project to be used.

2) You shouldn't add those packages (including `System.Private.Uri`) to a project. Going to nuget we see the description of the package is `Internal implementation package not meant for direct

[2022-11-11 18:51] ryandens commented on #3146
👋 Hi @DmitriyLewen I am not using a proxy in this case - both of these runs (using 0.31.3 and 0.34.0) were run on my personal computer. However, I can confirm adding the insecure flag for 0.34.0 enables it to download the DB. This flag isn't necessary when using 0.31.3 on the same machine.

Note the following three experiments, running `trivy image` on 0.34.0 fails, while running `trivy image --in

[2022-11-12 00:06] #2757 closed

[2022-11-12 21:27] mkm29 opened #3170 "Trivy on EKS unable to scan any images"
## Description

I am trying to scan all images deployed on my EKS cluster I am setting up for high security (will be deployed to classified IL5 environment). Kubernetes v1.23, all worker nodes run on Bottlerocket OS.

## What did you expect to happen?

I expect images to be scanned and available in the VulnerabilityReports CRD

## What happened instead?

I was able to successfully install Falco to

[2022-11-12 23:10] mkm29 commented on #3170
I confirmed that bottlerocket uses containerd, as `/run/containerd/containerd.sock` is specified on my Falco deployment. Even when I mount this as volume onto the pod and set the `CONTAINER_RUNTIME_ENDPOINT` to this path I get the same error.

[2022-11-13 07:30] #3159 closed

[2022-11-13 07:38] #3153 closed

[2022-11-13 07:39] #3157 closed

[2022-11-13 10:50] #3091 closed

[2022-11-13 10:59] #3100 closed

[2022-11-13 12:22] #3143 closed

[2022-11-13 13:05] huornlmj commented on #2858
Touching base (avoiding stale state)

[2022-11-13 17:27] afdesk commented on #2280
@NitroCao could you confirm that this issue is still actual? thanks!

[2022-11-13 17:53] afdesk commented on #2597
@37b sorry, i missed your issue. It seems I asked a weird question.

Trivy depends on several data sources, and it doesn't generate CPE strings.
I'd like to figure out where it came from.

so could you confirm that this issue is still appears and where/when Trivy shows the incorrect CPE string?

thanks a lot

[2022-11-13 17:54] knqyf263 commented on #2451
Now, we also have dependency graphs for Rust, apt, deb and apk.
https://github.com/aquasecurity/trivy/pull/3093
https://github.com/aquasecurity/trivy/pull/3094

[2022-11-13 17:56] afdesk commented on #2451
ok, i'll take a look at this task

[2022-11-14 02:13] #2280 closed

[2022-11-14 04:14] DmitriyLewen commented on #3146
Hello @ryandens
Thanks for your examples.

Looks like problem in update of `go-containerregistry`.
Can you install `v0.32.0` and try to load the db please?

[2022-11-14 05:26] DmitriyLewen commented on #2706
I am not sure that is possible, because `GitHub Advisory database` uses package version(not framework version) in advisories.
e.g.
`System.Private.Uri` for [CVE-2019-0980](https://github.com/advisories/GHSA-xhfc-gr8f-ffwc)
`Microsoft.Data.SqlClient` and `System.Data.SqlClient` for [CVE-2022-41064](https://github.com/advisories/GHSA-8g2p-5pqh-5jmc)

It looks like this is only possible way.
I will c

[2022-11-14 06:48] DmitriyLewen commented on #2706
I'm starting to work with the changes and found a problem:
we will skip some of the dependencies from the `libraries` field.
This is bad - because users will ask: why Nuget includes these dependencies, but Trivy does not include them.
Also dependency name may not be the same as the name of the dll
e.g.
[code]

[2022-11-14 07:34] JoostvdB94 commented on #2706
That nuget package is not meant to be installed separately (https://www.nuget.org/packages/System.Private.Uri/#:~:text=Please%20do%20not%20reference%20directly)
Microsoft itself recommends installing a security update (https://msrc.microsoft.com/update-guide/en-US/vulnerability/CVE-2019-0980). This security update is not a single package, but the security update that applies to the runtime (https:

[2022-11-14 07:36] JoostvdB94 commented on #2706
The package that causes it in my case targets netcore1.1: https://www.nuget.org/packages/JsonDiffPatch

[2022-11-14 09:18] DmitriyLewen commented on #2706
@JoostvdB94
Perhaps i confused you.
I meant that there is no information in the GitHub database that the framework has vulnerabilities (only in the description, but there are no rules for the description and we cannot parse it).
Therefore, we cannot obtain information about vulnerabilities for frameworks.

[2022-11-14 12:51] knqyf263 commented on #2871
I believe RHEL 9 is already supported. We just need to update our docs.

[2022-11-14 12:55] knqyf263 commented on #2756
@omkarparkhe We're sorry to be late. Could you elaborate on that?

[2022-11-14 13:44] knqyf263 commented on #2760
Hi, AWS scanning just doesn't support the GitLab template at the moment.

[2022-11-14 13:49] #3085 closed

[2022-11-14 15:39] knqyf263 commented on #3081
No, it is not correct. SBOM spec doesn't have enough fields for accurate vulnerability scanning, so we rely on custom properties. However, the detection itself is still possible though the accuracy of the result could be worse. We need to evaluate how it will be different.

I agree that we should warn when SBOM is not generated by Trivy. It would be appreciated if you contribute to that.

[2022-11-14 18:00] rsareth opened #3178 "[BUG] Trivy can't scan SBOM with RPM"
## Description

We scan only SBOM files to detect CVEs. For our docker images based on redhat ubi8 image, trivy crashes.

## What did you expect to happen?
To have a list of CVEs.

## What happened instead?
We have this issue:
[code]

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

[2022-11-14 20:33] jheck88 commented on #3178
I can also reproduce with a rockylinux:8.5 image:

[code]

# Output of `trivy -v`

[code]

[2022-11-14 21:07] knqyf263 commented on #3178
https://github.com/aquasecurity/trivy/issues/2934
https://github.com/aquasecurity/trivy/issues/3081

[2022-11-14 21:07] #3178 closed

[2022-11-14 21:45] 227235 commented on #3170
I have this problem too.  Any updates?

[2022-11-14 23:01] ryandens commented on #3146
v0.32.0 presents the same problems as 0.34.0

[code]

[2022-11-15 04:01] DmitriyLewen commented on #3146
@ryandens can you check this? https://github.com/aquasecurity/trivy/issues/1717

[2022-11-15 04:29] DmitriyLewen commented on #2706
thanks for this!
I played with this package.
I think there is problem with dependencies of this package.
I installed `JsonDiffPatch v2.0.61`. After that my lock file contains `System.Private.Uri` and runtime packages.
[code]
As we [said](https://github.com/aquasecurity/trivy/issues/2706#issuecomment-1311934176) this is wrong logic.

[2022-11-15 07:29] chen-keinan opened #3179 "compliance report results percentage give incorrect results"
## Description
The compliance report results percentage incorrect give results.
The `rego` checks are basing on the `defsec`  validation engine to run k8s policies on k8s resources.
As for today the `defsec` validation engine do not know how to execute specific policy on a specific resource.

***For example*** :
A rego policy how validate `NetworkPolicy` resource should run only on `NetworkPolicy`

[2022-11-15 10:39] chen-keinan commented on #3179
as immediate solution we will progress with option one , short term solution:
report might look like this

[code]

[2022-11-15 11:19] knqyf263 commented on #3170
Is this relevant?
https://github.com/aquasecurity/trivy/issues/3059

[2022-11-15 14:49] plaisted commented on #2706
I updated my statement to reflect your findings. Those must get added as transitive under some circumstances (maybe referencing .net framework / old net core packages?)

[2022-11-15 17:28] PenelopeFudd commented on #2623
One solution I've seen is to cram a json object into a text field, and use that to define new fields.

[2022-11-16 01:11] archoversight commented on #3145
Work-around deployed. It means there is an additional process that needs to be managed if one wants to quickly scan multiple containers.

[2022-11-16 01:11] #3145 closed

[2022-11-16 01:42] mcdowellstl commented on #1342
Any updates on this?

[2022-11-16 03:28] egeland commented on #1411
Also seeing this issue - both client and server are on trivy 0.33.0 (I'll try upgrading to 0.34.0 shortly):
[code]

[2022-11-16 03:36] DmitriyLewen commented on #3082
Hello @sjgupta19
I again checked your question.

Can you tell me which is file contains `resolution`?

[2022-11-16 05:26] DmitriyLewen commented on #2706
But this is still wrong way NET works:
Why does lock file and dll (when using `--self-contained true`) contain different dependency versions.

[code]

[2022-11-16 06:06] egeland commented on #1411
v0.34.0 does not fix...

[2022-11-16 07:49] knqyf263 commented on #1342
Rancher Desktop integrates Trivy. You can try that on UI.
https://docs.rancherdesktop.io/getting-started/features/#scanning-images

If you want to scan images from CLI, we still need help.

[2022-11-16 08:06] knqyf263 commented on #2898
@simar7 Could you take a look?

[2022-11-16 08:16] hamzanasir443 opened #3185 "Unable to install trivy on kubernetes cluster(Rancher)"
Dear Seniors

I am trying to install trivy on the Kubernetes cluster by following https://www.vultr.com/docs/how-to-secure-kubernetes-deployments-using-trivy-operator/ now the problem is after being installed successfully. I am unable to find trivy on my cluster and if run the command "kubectl get deployment -n trivy-system" I get the result but the pod is not running. Could you please help me to

[2022-11-16 09:42] ladung opened #3186 "Why report format do not show standard content?"
[code]
When I scaned image with report format html, file outpput do not show syntax html format?

[2022-11-16 10:20] knqyf263 commented on #3185
You can ask that in [trivy-operator](https://github.com/aquasecurity/trivy-operator).

[2022-11-16 11:53] #3185 closed

[2022-11-16 12:39] JoostvdB94 commented on #2706
That is strange indeed and may be a bug in dotnet. However, specifying the minimal required package version is a "good practice" many library maintainers use. Maybe this behaviour is the result of the dependency resolution process nuget uses?
(as mentioned by @DmitriyLewen: https://learn.microsoft.com/en-us/nuget/concepts/dependency-resolution#lowest-applicable-version)

I would also recommend aga

[2022-11-16 13:33] jtougas commented on #3146
I'm experiencing the same issue on my computer, but not when used from a github action however...
Using the 0.31.3 image as a workaround does not work for me.
[code]

[2022-11-16 17:08] sjgupta19 commented on #3082
I have -- "resolutions": "minimatch": "^3.0.5", but I tried with "resolutions": "**/minimatch": "^3.0.5" as well. It didn't work.

[2022-11-16 18:27] ChaosInTheCRD commented on #3081
Noted, however aren't the fields used for accurate vulnerability scanning the CPE and PURL? I appreciate that aquasec does not use these (as far as I understand)

Will try and get down to add said warnings ☺️

[2022-11-16 18:58] knqyf263 commented on #3081
We use PURL, but it is also missing some necessary fields. For example, rpm-based scanning definitely requires [modularity](https://dnf.readthedocs.io/en/latest/modularity.html) information, but PURL doesn't define that value.
https://github.com/package-url/purl-spec/blob/master/PURL-TYPES.rst#rpm

[2022-11-16 21:53] bbodenmiller opened #3189 "Install details don't work on Amazon Linux"
## Description

Following https://aquasecurity.github.io/trivy/v0.34/getting-started/installation/#rhelcentos does not properly install Trivy on Amazon Linux

## What did you expect to happen?

Install Trivy

## What happened instead?

`https://aquasecurity.github.io/trivy-repo/rpm/releases/2/x86_64/repodata/repomd.xml: [Errno 14] HTTPS Error 404 - Not Found`

## Output of run with `-debug`:

n/a

[2022-11-16 23:01] bbodenmiller commented on #2349
Same issue here. k8s `1.22`

[code]

If it makes a difference, there is no pods in my default namespace but there is in other namespaces.

[code]

[2022-11-17 02:36] #3029 closed

[2022-11-17 03:41] DmitriyLewen commented on #3146
Hello @jtougas
There is [Trivy-action](https://github.com/aquasecurity/trivy-action) to use from GitHub action.
Have you tried this?

[2022-11-17 04:19] DmitriyLewen commented on #3082
If i understand correctly -  `resolutions` filed works only with dependencies. You can't change Package version(`minimatch` in your case).

You need to add `resolutions` in  `opt/app/package.json` file.
Rebuild app.
After that minimatch version in `opt/app/node_modules/protobufjs/cli/node_modules/minimatch/package.json` will be changed.

[2022-11-17 06:33] DmitriyLewen commented on #2706
I checked `System.Private.Uri` package again and last update == `5/14/2019`

Perhaps NET started including `System.Private.Uri` after this date.
JsonDiffPatch or its transitive dependency uses old `System.Private.Uri 4.3.0`.
=> NET uses `System.Private.Uri 4.3.0` in deps.json.

But that doesn't explain why the dll has a different version (6.0.1022.47605)

[2022-11-17 06:55] namandf opened #3192 "Trivy image scan: Incorrect "empty_layer" tag in the response"
## Description
Trivy image scan: Incorrect "empty_layer" tag in the response

## What did you expect to happen?
Was expecting accurate value for the "empty_layer" field on the basis of logic defined in https://github.com/aquasecurity/trivy/blob/main/pkg/fanal/image/daemon/image.go#L226
The diffids count does not match the non empty layer count.

## What happened instead?
The empty layer logic seem

[2022-11-17 06:55] vasiliy-ul opened #3193 "False positive: SUSE-SU-2022:2260-1 and SUSE-SU-2022:3795-1 have wrong Fixed Version"
## Checklist
- [x] I've read [the documentation regarding wrong detection](https://aquasecurity.github.io/trivy/latest/community/contribute/issue/#wrong-detection).
- [x] I've confirmed that a security advisory in data sources was correct.
    - Run Trivy with `-f json` that shows data sources and make sure that the security advisory is correct.

## Description

Trivy reports wrong `Fixed Version`

[2022-11-17 07:34] nikithaguduru opened #3194 "False positive being reported for openssl in debain:9"
## Checklist
- [x] I've read [the documentation regarding wrong detection](https://aquasecurity.github.io/trivy/latest/community/contribute/issue/#wrong-detection).
- [x] I've confirmed that a security advisory in data sources was correct.
    - Run Trivy with `-f json` that shows data sources and make sure that the security advisory is correct.

## Description
Trivy is showing false positive for

[2022-11-17 09:02] afdesk commented on #3189
@bbodenmiller thanks for your report!
now, there are releases only for RHEL/CentOS versions 5-9 , Amazon Linux has version 2. it's their specific number, and not EL number.

As workaround, You can try to set `RELEASE_VERSION` variable 5-9

[2022-11-17 10:21] cforce commented on #802
effecting https://gitlab.com/gitlab-org/gitlab/-/issues/351548

[2022-11-17 14:02] yasu1209 opened #3197 "maven information under /META-INF inside jar file causes incorrect scan result"
I'm using trivy and found some problems in my app war file.
I upgraded some of them and scanned again, but the result did not change.

<img width="343" alt="image" src="https://user-images.githubusercontent.com/30307596/202464861-39b48a78-e448-48f4-a30c-61af67949425.png">
I upgraded snakeyaml from 1.27 to 1.33, but the report still shows
<img width="1278" alt="image" src="https://user-images.githu

[2022-11-17 14:17] knqyf263 commented on #3192
Thanks. I hope we fixed this issue in https://github.com/aquasecurity/trivy/pull/3087.

[2022-11-17 14:17] #3192 closed

[2022-11-17 14:41] nejch commented on #3067
Sorry for the ping again here, just wondering if these types of analyzers is something you'd consider for core trivy, or if you think it's better to have them as some kind of community plugins? :)

[2022-11-17 15:37] yasu1209 commented on #3197
I tried

[code]
and this seems can prevent travelsal for plusar-client jar.

But I don't think it's a good idea.
* First, I need to skip specific file which seems hardly to be aware before I executed trivy once before.
* Second,  even do I only try to prevent from scanning **inside** this jar file, it self would be skipped too from scanning. I would never know if this package has vulnerabilities o

[2022-11-17 19:16] maitre-matt commented on #1856
@knqyf263 : would someone be able to review PR https://github.com/aquasecurity/go-dep-parser/pull/151?

[2022-11-18 08:00] DmitriyLewen commented on #3193
Hello @vasiliy-ul
Thanks for your report!

I created #3199 with fix this problem.
When it is merged - we will include this fix in the next release.

Regards, Dmitriy

[2022-11-18 09:12] vasiliy-ul commented on #3193
Hi @DmitriyLewen , thank you for the quick fix :+1:

[2022-11-18 16:44] ahsan-raza commented on #783
@mykter I am trying to achieve the same with gitlab CI job. It works if I pull the docker image on my Docker for Mac but when I do the same in gitlab-ci.yaml file, it gives me the error of permission denied. My CI stage is as follows:

[code]

[2022-11-18 16:53] mykter commented on #783
@ahsan-raza what line triggers the error message? It wouldn't surprise me if the trivy container has changed in some way since I used this workaround.

[2022-11-18 22:23] ahsan-raza opened #3200 "Scanning Docker images from Google Artifacts Registry from Gitlab CI"
It gives the following error:

Here is my Gitlab CI job:

[code]
/trivy image --exit-code 0 --debug --format template --template "@contrib/gitlab.tpl" -o gl-container-scanning-report.json --output "$CI_PROJECT_DIR/gl-container-scanning-report.json" "$MICROSERVICE_BRANCH_OR_TAG_IMAGE"
2022-11-18T22:17:09.127Z	DEBUG	Severities: ["UNKNOWN" "LOW" "MEDIUM" "HIGH" "CRITICAL"]
2022-11-18T22:17:09.133Z	DE

[2022-11-19 03:21] ohmer opened #3201 "Add a Markdown format template"
Hi there,

Not exactly a feature request, more of an humble proposal to include a new report formatter.

I am using Trivy in GitHub Actions to scan container images. I wanted to make report easy to read in the context of a PR check. SARIF looked like great way to get there but I do not have [Advanced Security](https://docs.github.com/en/get-started/learning-about-github/about-github-advanced-secur

[2022-11-20 00:06] #2794 closed

[2022-11-20 00:06] #2793 closed

[2022-11-20 07:25] knqyf263 commented on #3201
Thanks for your proposal. Please let us see how much this feature is needed in the community to decide if we will accept this proposal.

[2022-11-20 12:00] #2774 closed

[2022-11-20 12:04] knqyf263 commented on #1856
Sure

[2022-11-20 12:40] #3048 closed

[2022-11-20 12:46] #3193 closed

[2022-11-21 00:05] #2752 closed

[2022-11-21 05:27] afdesk opened #3205 "Add support for Wolfi OS"
Wolfi is based on Alpine, but they have their own advisories

https://www.chainguard.dev/unchained/introducing-wolfi-the-first-linux-un-distro

[2022-11-21 08:17] knqyf263 commented on #2751
We're sorry to miss the issue. What do we need? Just document update?

[2022-11-21 09:39] #3179 closed

[2022-11-21 10:20] DmitriyLewen commented on #3194
Hello @nikithaguduru
Thanks for your report.

I created [#264](https://github.com/aquasecurity/trivy-db/pull/264) with fix this problem.
After merging this PR and updating `Trivy-db` (updated every 6 hours) your problem should be resolved.

Regards, Dmitriy

[2022-11-21 15:11] ahsan-raza commented on #3200
I did some exercise  by attaching a docker executor runner with my project on gitlab and it works fine. But the problem occurs only when I am running gitlab-runner in kubernetes executor configurations.

[2022-11-21 20:31] jouve opened #3206 "pass arbitrary env vars with the helm chart"
add a value in values.yaml to pass arbitrary env vars with the helm chart

[2022-11-21 22:12] ryandens commented on #3146
Hi @DmitriyLewen, regarding this

I verified with netcat that i can connect to ghcr as suggested in #1717

[code]

I'm fairly certain it's not a network or authentication issue, given that versions prior to 0.32.0 can pull from ghcr perfectly fine on my machine as demonstrated by my last comment.

As another experiment, I checked out the `0.34.0` tag and ran `make build` to build the trivy executa

[2022-11-22 00:06] #2773 closed

[2022-11-22 00:06] #2745 closed

[2022-11-22 04:18] DmitriyLewen commented on #3146
Hello @ryandens

Thanks for your investigation!

This is so strange.
Did you install "wrong" Trivy with `brew`?
Can you download the [binary](https://github.com/aquasecurity/trivy/releases/tag/v0.34.0) and try it?

[2022-11-22 14:08] arxeiss opened #3212 "Config scan never finished"
## Description

When Trivy runs config check, it is going forever and never finished.
Originaly I posted it here https://github.com/aquasecurity/trivy-action/issues/178 but same happing locally.

## What did you expect to happen?

In couple of seconds finish the scan, just like older version did. See additional section.

## What happened instead?

Trivy does nothing and consume over 50% of CPU. An

[2022-11-22 14:11] arxeiss commented on #2286
I see the same with `v0.33.0` and `v0.34.0` because it never finished as reported here https://github.com/aquasecurity/trivy/issues/3212.

But I executed command below and it was running 15 minutes before I killed it.
[code]

[2022-11-22 15:50] black-snow opened #3213 "CLI Command help example not up to date"
## Description

`trivy image` outputs:

[code]

But when I try to run
[code]

I get:

Apparently `none` is (no longer) a valid option.

## Output of `trivy -v`:

[code]

[2022-11-22 16:37] ryandens commented on #3146
👋 Hi @DmitriyLewen, the releases were all tested from downloads of the binary off the github release page! You can see this in my copy-pasted shell outputs that the `trivy` executables are in folders corresponding to their appropriate version in my downloads folder. I unpacked each tar and left it in the downloads folder. Additionally, the output of trivy -v shows the appropriate information for e

[2022-11-22 21:18] luhring commented on #3205
Hi @afdesk! 👋  Thanks for opening this issue. I just noticed it today, along with the draft PRs you've opened!

Funny timing, I think we started looking at adding Wolfi support to Trivy around the same exact time! 😄

I'm on the Wolfi team, but this is my first contribution to Trivy. If you have the time, I'd love to know what you think of the code I've submitted, and to learn if there's an opportu

[2022-11-22 21:18] bureado commented on #3205
See #2933, maybe this will help with that.

[2022-11-22 21:23] aquanne opened #3216 "Config Scan Fails Without Internet"
## Description
When using `trivy config` without internet or with github.com unresolvable, an error occurs and the scan will not run.

## What did you expect to happen?
I expect the scan to run fully without a connection to the internet, as [stated in the docs](https://aquasecurity.github.io/trivy/v0.34/docs/advanced/air-gap/#air-gapped-environment-for-misconfigurations).

## What happened instead

[2022-11-22 21:27] aquanne opened #3217 "Config Scan Cannot Skip Modules"
## Description
The config scan does not have any syntax to enable modules to be excluded from scanning.

## What did you expect to happen?
I expect to be able to use a form of `--skip-dirs` or `--skip-files` to prevent loading and scanning modules.

## What happened instead?
The requested "skip" is ignored and the files are scanned anyways.

## Output of run with `-debug`:

[code]

## Output of `t

[2022-11-23 00:05] #2821 closed

[2022-11-23 00:05] #2802 closed

[2022-11-23 00:05] #2740 closed

[2022-11-23 00:05] #2739 closed

[2022-11-23 06:23] DmitriyLewen commented on #3146
Hi @ryandens , thanks!

1 more idea: have you logged into ghcr.io in Docker?
There was problem with ghcr.io credentials.

[2022-11-23 06:25] nilesh-akhade opened #3218 "Trivy scan failing due to trivy db pull DENIED error"
## Description

I have installed trivy from the deb package, which was downloaded from the release page.
All image scans started to fail due to DENIED error. Looks like, the trivy is unable to pull an image from `ghcr.io/aquasecurity/trivy-db`
## What did you expect to happen?
The scan should run successfully.

## What happened instead?
Scan failed with DENIED error.

## Output of run with `-debug

[2022-11-23 07:44] tomkerkhove commented on #2058
+1 on brining this back

[2022-11-23 08:25] afdesk commented on #3218
@nilesh-akhade thanks for your report!
could you check your permissions on GHCR?

this error usually appears when `GITHUB_TOKEW` is expired

also you can run `docker pull` for Trivy DB, it's an artifact so you have to use somethink like `oras` for downloading

[2022-11-23 08:36] #2904 closed

[2022-11-23 09:06] DmitriyLewen commented on #3213
Hello @black-snow
Thanks for your report!

Same issue - https://github.com/aquasecurity/trivy/issues/3153
We have fixed this issue and will include the fix in the next version.

I close this issue.Feel free to reopen this issue, if you still have questions.

[2022-11-23 10:28] black-snow commented on #3213
Woops, sorry :/

[2022-11-23 10:42] afdesk commented on #3205
Hi @luhring ! It's really funny story )

You did a great job, you have tests and updated the docs. cool!
thanks for your time and efforts!

I looked a little at your PRs, and it seems the updates repeats a logic for alpine packages.
Are there any reasons for it?

I'd prefer to use the current alpine code.

also can we merge our branches?

what do you think about it?

[2022-11-23 11:26] afdesk commented on #3218
I got the same error for the next steps:

[code]
then I removed my token, and got it:

[code]

[2022-11-23 11:28] afdesk commented on #3218
I've changed the tag,
@nilesh-akhade please, confirm that i reproduced your case.
thanks

[2022-11-23 11:51] afdesk commented on #2816
@danielnbalasoiu thanks for your report! we're trying to clarify this error right now

could give us a bit more information?

what is your OS/arch? ex: MasOS/arm64, Linux etc/

Do you try to run Trivy with `--insecure` flag?

thanks a lot

[2022-11-23 12:38] itaysk commented on #2058
we're looking into this in https://github.com/aquasecurity/trivy/pull/3037. not sure it will be merged for this month's release though.

[2022-11-23 14:13] luhring commented on #3205
Thanks! Great point on looking for streamlining opportunities with Alpine.

I'm wondering if I can even delete what I added at `pkg/fanal/analyzer/os/wolfi/...`, relying instead on `pkg/fanal/analyzer/os/release/release.go` to detect the Wolfi OS. What do you think?

I'm up for it! Does it make sense to start with my branch, since there's an end-to-end working solution here, and improve the code f

[2022-11-23 14:48] nilesh-akhade commented on #3218
@afdesk I confirm that `$CR_PAT` is not set currently. But I did set it in the past.

[code]

[2022-11-23 14:57] cnwaldron commented on #2394
I'm experiencing this issue with Trivy v0.34.0.

[2022-11-23 15:23] jkone27 commented on #2706
big question, why doesnt trivy use just dotnet for checking package vulnerabilities, isn't dotnet commands based on framework more reliable?

[code]

it looks like this gives more results or different results than trivy scans? shoudln't they give the same result all times

[2022-11-23 17:06] nilesh-akhade opened #3220 "Vulnerabilities should be associated with the container images when scanning kubernetes cluster resources"
Vulnerabilities should be associated with the container images when scanning Kubernetes cluster resources. This will make the trivy cluster scan faster and reduce the report size considerably. The trivy should enumerate all k8s resources from the cluster to find a unique set of docker images and then scan each of them sequentially. Optionally, it may include the reference to the k8s resource in wh

[2022-11-23 17:27] nilesh-akhade commented on #3218
I couldn't reproduce it. I think it can be concluded as  **this happened because GITHUB_TOKEN was expired**
Should we close the issue then?

[2022-11-23 17:28] #3218 closed

[2022-11-23 17:29] afdesk commented on #3218
@nilesh-akhade feel free to reopen the issue if the error will appear again. thanks

[2022-11-23 17:30] afdesk commented on #2816
@danielnbalasoiu thanks for your details. will investigate more

[2022-11-23 17:33] afdesk commented on #3205
@luhring  I agree that it makes sense to start with your branch.
I'll try to move my change into your PRs soon (1-2 days).

Told me please, as a member of the Wolfi team, are there any plans to change of Wolfi security advisories format? I mean now you use Alpine's struct, but maybe you want to change it )

also do i understand correctly that we can't apply any Alpine's advisories to Wolfi distro?

[2022-11-23 18:15] plaisted commented on #2706
Trivy is used to scan containers that primarily contain already published applications. `dotnet list package` only works on a project / solution not the published artifacts.

[2022-11-23 19:23] luhring commented on #3205
Sounds great! Thanks!

Good question — it's something we've been talking about recently. Generally, we'd try to keep any changes backward compatible, but we have recently discussed a few enhancements to the data structure.

That's correct — Alpine data **should not** be used with Wolfi images, and vice versa. Wolfi patches, builds, and distributes its software completely separately from Alpine, so

[2022-11-24 00:05] #2822 closed

[2022-11-24 00:05] #2736 closed

[2022-11-24 03:29] DmitriyLewen commented on #2706
Trivy doesn't run commands. We only parse individual files (in this case `*.deps.json`).

This option is not available at the moment.

[2022-11-24 03:50] crombus opened #3221 "what cve are being detected by trivy?"
I ran scan on elastic opensource tool, I got some cve which are dated back 2017.
I want to understand how that is being detected, I mean where do we look for which cve database.

And can I set for the cve above which year shall only be detected.

[2022-11-24 03:56] iSeiryu commented on #1877
I just installed `trivy` on a pretty empty Ubuntu without any firewalls, ran this command
[code]
and got this error
[code]

[2022-11-24 04:35] afdesk commented on #1877
@iSeiryu thanks for your report!
it looks like a duplicate of known issue #3146
we're working to fix it.
as a workaround you can try to use `--insecure` flag. is it ok for you?

[2022-11-24 05:04] janepelladinesh commented on #3148
@walkerxiong  could you provide any suggestions , we are still facing this issue

@DmitriyLewen could you please check it

[2022-11-24 06:36] DmitriyLewen commented on #3148
Hello @janepelladinesh
Sorry for waiting!

I don't see problem in logs.

Looks like problem with `resources/resources/DenseCRF/ru/word_to_index.json`. Trivy can't read this file.

___

Can you update Trivy to `v0.34.0` and try again?

Regards, Dmitry

[2022-11-24 06:44] crombus commented on #3221
Are we using cvss score to judge the severity of the cve

[2022-11-24 06:54] janepelladinesh commented on #3148
Hi Dmitriy

We are using Harbor trivy , where trivy version configuration is by default come up with harbor i.e, v.2.6.2 , and latest  trivy in harbor is v0.32.1 , could you tell us how or where we can change the trivy version

[2022-11-24 07:05] DmitriyLewen commented on #3148
if i understand correctly - we can't change Trivy version in Harbor.

Okay, can you install Trivy(as standalone app) and try to reproduce this error?

[2022-11-24 08:11] MprBol commented on #2802
( in the end we've created a trivy container spawning solution ourselves )

[2022-11-24 11:44] DmitriyLewen commented on #3146
@ryandens can I ask one more thing:
Can you build Trivy with this command - `CGO_ENABLED=0 go build -ldflags "-s -w -X=main.version=test -extldflags '-static'" ./cmd/trivy` and try to load the db?

[2022-11-24 16:40] janepelladinesh commented on #3148
Hi @DmitriyLewen

I have updated the trivy version in env file and i can see the trivy version value in container env

i have tried with new version v0.34.0 and also old version 0.24.2 , but in both cases i got the same error in harbor trivy

Hi @DmitriyLewen

I have updated the trivy version in env file and i can see the trivy version value in container env

i have tried with new version v0.34.0

[2022-11-24 17:19] SBatais commented on #2958
Hello
Can I have an update for this issue ?
Thanks in advance

[2022-11-24 17:39] fniessink opened #3226 "Including invocation startTime and endTime in SARIF output"
Is it possible to make Trivy write the invocation [`startTimeUtc` and `endTimeUtc`](https://docs.oasis-open.org/sarif/sarif/v2.1.0/os/sarif-v2.1.0-os.html#_Toc34317574) properties to the SARIF output report?

I haven't been able to find anything about manipulating the contents of the SARIF output unfortunately.

Rationale: we want to monitor that SARIF reports are current.

CC: @Sebastiaan127001

[2022-11-25 00:05] #2717 closed

[2022-11-25 00:05] #2703 closed

[2022-11-25 03:41] DmitriyLewen commented on #3148
this is error from `harbor`.

Can you send Trivy log(as you sent [here](https://github.com/aquasecurity/trivy/issues/3148#issuecomment-1308869633))?

and 1 more question: you get error with only 1 image?

[2022-11-25 12:27] janepelladinesh commented on #3148
Hi @DmitriyLewen

Not only for one image , this issue arising for multiple images , if i pushed 10 images , 2 images are getting failed with same error

Please find the attached logs

Nov 25 11:55:24 ip-**********[9994]: 2022-11-25T11:55:24Z [INFO] [/pkg/scan/job.go:224]: Get report for mime type: application/vnd.security.vulnerability.report; version=1.1
Nov 25 11:55:26 ip-**********[9994]: 2022-

[2022-11-25 12:28] janepelladinesh commented on #3148
**Trivy Container Logs**

{"image_ref":"core:8080/test/ds-proxem-storage@sha256:3a96627284885a1329c414f699c580a8fbcafae2d1fb4b123fbac866bf9695c4","level":"debug","msg":"Started scanning","time":"2022-11-08T07:01:19Z"}
{"level":"debug","msg":"Saving scan report to tmp file","path":"/home/scanner/.cache/reports/scan_report_523776377.json","time":"2022-11-08T07:01:19Z"}
{"level":"debug","msg":"Execut

[2022-11-25 14:08] afdesk commented on #2816
@danielnbalasoiu if you use proxy, `--insecure` flag doesn't work for you. it's a known issue.

I can reproduce `connect: connection refused`, for example when Trivy tries to download the db from incorrect sources.
so it seems there is some problem with routing on your host/proxy.

Could you check it?

[2022-11-25 14:10] afdesk commented on #2816
**note**: `140.82.121.34:443` is a correct IP for `ghcr.io`.
if i set it in my local `hosts` file, Trivy will download the db

[2022-11-25 21:38] sycured opened #3228 "Cache directory is deleted when runnng a scan and not created on macOS"
## Description

Impossible to scan an image on macOS Ventura 13.0.1

## What did you expect to happen?

Trivy to download successfully DB files and scan my docker image

## What happened instead?

Trivy exits without reason

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):

I tried with image built local

[2022-11-26 00:05] #2831 closed

[2022-11-26 00:05] #2698 closed

[2022-11-26 00:05] #2696 closed

[2022-11-26 00:05] #2695 closed

[2022-11-26 17:36] afdesk commented on #2816
@danielnbalasoiu thanks for your help. i'll wait for your updates.

just a note. it doesn't matter in your case, but Trivy needs access to 2 hosts for DB downloading: `ghcr.io` and `pkg-containers.githubusercontent.com`

[2022-11-26 17:42] afdesk commented on #3228
@sycured thanks for your report!
it looks like you have `--reset` option.

could you check your environment variable or a config file (`trivy.yaml`)?

[2022-11-26 17:44] afdesk commented on #3228
you got the same log for next case:
[code]

[2022-11-27 11:18] huornlmj commented on #2945
Ping

[2022-11-28 05:14] janepelladinesh commented on #3148
Hi @DmitriyLewen

I had attached the logs , if you need more information , please let me know

[2022-11-28 08:26] mydailypuff opened #3233 "Trivy github repo scan reports in json format"
## Description

Hi,
I am scanning my github go,python,js repos using trivy. I see the report as in the
screenshots. Could anyone please help me how to extract the attached report in json?
I see that there is a command to extract vulnerabilities of docker images in json format:
` trivy image -f json -o results.json <image>`
 I don't see anything like this for repos/files/folders
 I tried the below

[2022-11-28 12:24] kohtala commented on #2839
I'd like to keep this open. I could try to add the bom scanning in the code, if I find the time.

[2022-11-28 15:48] neyrick commented on #2456
This bug still occurs with version 0.35.0

[2022-11-28 16:42] kaniini commented on #3205
@knqyf263 can you look at this?

[2022-11-28 16:44] knqyf263 commented on #3205
I'm on sick leave now. I'll take a look after I get better.

[2022-11-28 17:07] afdesk commented on #3205
@luhring sorry for waiting. there is an urgent task. i'll do it soon

[2022-11-28 17:43] sherifkayad opened #3234 "Kubernetes Scanning with Gitlab CI"
Hello,

Currently using the command below:
[code]

Yields the following error:
[code]

Is it possible to maybe add a Gitlab CI Template or the instructions how the scan of a whole cluster and posting a report to Gitlab-CI could be made possible?

[2022-11-28 22:00] iSeiryu commented on #1877
Not like this
[code]

But it worked like this
[code]

What is that DB for? Cannot the process be simplified?
Do I need to install Podman as well?
I'm using AKS which should use `containerd` underneath. Why would it complain about it?

[2022-11-28 22:01] iSeiryu commented on #1877
A subsequent run causes it to download the DB again...why?

[2022-11-29 00:05] #2846 closed

[2022-11-29 00:07] multani commented on #2960
Still valid

[2022-11-29 06:14] DmitriyLewen commented on #3148
Hello @janepelladinesh
I checked your logs:
Trivy logs look correct(i don't see errors)

I see you created issue in `harbor`. Lets wait answer.

[2022-11-29 09:36] #3206 closed

[2022-11-29 10:19] michadvorak-cen38289 commented on #3201
Just stumbled on the exactly same issue, please add this template, thanks!

[2022-11-29 10:24] michadvorak-cen38289 commented on #3201
@ohmer You can actually output directly to step summary, even thou it is missing in the documentation (I'm pretty sure by accident), via `${{ github.step_summary }}`

[code]

[2022-11-29 16:59] candrews opened #3237 "SBOM component has empty name and invalid purl"
## Description

Using Trivy to generate a CycloneDX SBOM sometimes produces an invalid SBOM. To reproduce this issue, run:
`trivy aquasec/trivy image quay.io/keycloak/keycloak-realm-operator:1.0.0 --format cyclonedx --output keycloak-realm-operator.cdx.json`
[keycloak-realm-operator.cdx.json](https://github.com/aquasecurity/trivy/files/10115280/keycloak-realm-operator.cdx.json.txt)

Then look at t

[2022-11-29 22:34] lebauce opened #3238 "Keep track of installed files per package"
Some SBOM format such as SPDX allow specifying all the installed files by a package.
To support this format, the `Package` structure could be modified by adding the list of the installed files.

[2022-11-30 01:10] maitre-matt commented on #1856
@knqyf263: would you be able to do the second review on PR https://github.com/aquasecurity/go-dep-parser/pull/151? The first review is done.

[2022-11-30 05:29] DmitriyLewen commented on #3233
Hello @mydailypuff
Thanks for your interest to Trivy!

Trivy has same flags for `image` and `fs`.

You can use `trivy fs -f json -o results.json <path>` command.

[2022-11-30 09:34] r0binak opened #3240 "Trivy does not support SBOM vulnerability analysis collected by other tools"
I tried to give input to Trivy to analyze the SBOM collected with Syft, but I got an error. Why is that? Trivy doesn't support parsing SBOM from other sources?

[code]

[2022-11-30 09:54] #3240 closed

[2022-11-30 09:54] knqyf263 commented on #3240
https://github.com/aquasecurity/trivy/issues/3081

[2022-11-30 15:42] itaysk commented on #2988
closed by https://github.com/aquasecurity/trivy/pull/2910

[2022-11-30 15:42] #2988 closed

[2022-11-30 15:45] itaysk commented on #2919
closed by https://github.com/aquasecurity/trivy/pull/3161
(only for k8s for now)

[2022-11-30 15:45] #2919 closed