[2022-07-15 00:50] medeirosb commented on #2497
@DmitriyLewen, I can confirm the issue is now fixed!
Thanks for the quick replies and timely fix.

[2022-07-15 00:50] #2497 closed

[2022-07-15 04:59] DmitriyLewen commented on #2520
Hello @roussidis
Thanks for your interest to Trivy!

[AlmaLinux advisory database](https://errata.almalinux.org/) currently only contains advisories for `AlmaLinux 8`.
This is why `Trivy` doesn't support `AlmaLinux 9`.

After updating `AlmaLinux database`  will try to quickly add support for `AlmaLinux 9`.

Best Regards, Dmitriy

[2022-07-15 05:10] rethab commented on #1758
Hi @afdesk  thanks for your comment. This certainly helps! :)

However I still think flagging ignored vulnerabilities that aren't present anymore would be very helpful just to keep this file clean.

[2022-07-15 05:39] roussidis commented on #2520
Thank you for your prompt answer !

[2022-07-15 05:39] #2520 closed

[2022-07-15 07:36] dmazhar-cogniance commented on #2505
Thanks for the intro @josedonizetti :+1:
Opened https://github.com/aquasecurity/trivy/pull/2521 let's maybe move discussion there? It looks like that it should be safe to enable logs for both `--debug` and `regylar` modes, from the first glance at least...

[2022-07-15 08:26] pcgeek86 opened #2522 "Specify kubeconfig file path for "trivy k8s" command"
### Description

When you run the `trivy k8s` command, there is no option to specify an alternative `kubeconfig` file path.
By default, the kubeconfig file resides in `$HOME/.kube/config`.
However, users of Kubernetes often need to specify a different path, using a parameter like `--kubeconfig` on the `kubectl` command.

If you don't have the kubeconfig in the default filesystem path, then the err

[2022-07-15 10:04] afdesk commented on #1257
Hi @dAnjou thanks for the report!

I took a look at your issue.
at first, there were created correct terraform files with your struct (tree), got the same empty result.

then, I replaced `main.tf` with my badly file: https://github.com/afdesk/demo/blob/master/main.tf
`Trivy` caught misconfiguration.
[code]

so `Trivy` works correctly here.
but if you want more logs and details, you can create anot

[2022-07-15 10:12] afdesk commented on #1999
@ben-harvey Could you confirm that this issue is fixed via your PR?
thanks a lot!

[2022-07-15 12:10] AljoschaP commented on #1598
As far as I understand the docs and the discussion, without support for the new schema a lot of use cases will be impossible. For instance, if I want to check multiple images in a single job, create a merged report and use it in `artifacts` this is not possible. Is this correct?

[2022-07-15 18:56] ben-harvey commented on #1999
@afdesk Yes, I can confirm that we haven't seen this issue in production since the PR was merged.

[2022-07-16 09:20] afdesk commented on #1999
@ben-harvey thanks! then I closed it

[2022-07-16 09:20] #1999 closed

[2022-07-16 12:33] mbentley opened #2525 "Environment variables not accepted in 0.30.0 and 5x increased scan times from 0.29.2 to 0.30.0"
## Description
I use trivy in a client-server model as I have multiple nodes that may be doing scanning so keeping a database up to date and in sync in important to my use case.  I run the server in a container as well as the client using the official images  Upgrading from trivy 0.29.2 to 0.30.0, I can see that every scan that I do perform, the database is being created locally.

## What did you

[2022-07-16 14:18] uwedisch commented on #2459
Still the same with v0.30.0.

Code should be packed within try - catch statement to further on process with the next file.

[2022-07-16 15:12] afdesk commented on #2459
Hi @owenrumney!
I can reproduce this issue for next simple `Chart.yaml`:
[code]
the panic will appear if `name` field contains any integer value.

i hope it'll help you

[2022-07-16 15:17] owenrumney commented on #2459
Thanks, will take a look on Monday.

I suspect that the name is being pulled from the chart as a string where as other attributes are mapped to their types

Thanks for looking at it

[2022-07-16 15:22] afdesk commented on #1257
@dAnjou yes, i agree this message is a bit confusing,
but this fix may require changes in another package, so I asked to create a new issue.

i can create an issue myself, ok?

[2022-07-16 15:47] afdesk commented on #2525
@mbentley thanks for your report.
I can reproduce this issue, we'll try to fix it next week.

[2022-07-16 15:59] afdesk commented on #2525
@mbentley as workaround you can use trivy config file (`trivy.yaml`):
[code]
it was introduced in `v0.30.0` https://github.com/aquasecurity/trivy/discussions/2523

[2022-07-16 16:03] mbentley commented on #2525
Thanks!  I'll probably stick to 0.29.2 for now until I can also figure out why the scans are slower; although I didn't get much of a chance to dig into if there is something in my environment causing the slowness.

[2022-07-16 19:17] mbentley commented on #2525
So while I was starting to dig a bit more to understand the slowness, I noticed that just executing the `trivy` binary for anything is _incredibly_ slow:

[code]

Added time commands to both the overall `docker exec` process as well as just running the `trivy` binary in the container to show that it wasn't just something odd with `docker exec`.

[2022-07-17 00:05] #2053 closed

[2022-07-17 10:54] #1508 closed

[2022-07-17 14:48] knqyf263 commented on #2514
Looks like yes

[2022-07-17 14:49] knqyf263 commented on #2474
Please feel free to reopen it if you have any other questions.

[2022-07-17 14:49] #2474 closed

[2022-07-17 14:50] knqyf263 commented on #2387
Fixed it

[2022-07-17 14:50] #2387 closed

[2022-07-17 16:00] mgsh commented on #2522
i would like help if work hasn't been started on this issue yet. can i take a shot at it?

[2022-07-17 17:21] uwedisch commented on #2459
Found the directory that contains the files that are triggering the panic. It's the working directory of Terrascan for the user using Terrascan. It contains about 150 yaml files. If the directory is excluded, no panic will occur. It's worth using it for testing before releasing.

[2022-07-17 19:08] afdesk opened #2529 "skip-dirs not behaving as documented (trivy 0.30.0)"
### Discussed in https://github.com/aquasecurity/trivy/discussions/2524

<div type='discussions-op-text'>

<sup>Originally posted by **mihob** July 16, 2022</sup>
The documentation says that multiple directories are ignored by repeating the `skip-dirs` parameter.

`trivy fs --skip-dirs /path/to/dir1 --skip-dirs /path/to/dir2 .`

But it looks like only the last `skip-dirs` is respected.

But the fo

[2022-07-18 01:36] 631068264 commented on #1312
same error  use trivy 0.24.2
<img width="706" alt="image" src="https://user-images.githubusercontent.com/8144089/179433974-e02759f5-d4a7-4e13-957c-e100e472bf3e.png">

[code]

[2022-07-18 05:00] DmitriyLewen commented on #2504
Hello @kobus-v-schoor

Thanks for your report!
I see this problem and we will fix it.

Regards, Dmitriy

[2022-07-18 05:32] #2529 closed

[2022-07-18 05:54] afdesk commented on #2525
@mbentley just FYI
we can see that trivy runs slowly, and we're working on it right now...

[2022-07-18 07:51] chen-keinan opened #2535 "Add support for multiple Insecure registries for trivy k8s commmand"
## Description
it is require to add support for multiple Insecure registries for trivy k8s command.
to be able to decide for each registries we need to use insecure flag:

`
--insecure-registries=<insecure private registry>,<insecure private registry>
`

Example :

[code]

[2022-07-18 07:54] chen-keinan opened #2536 "TRIVY_NON_SSL envvar is not supported as config option"
## Description
TRIVY_NON_SSL envvar is not supported as config option and not in auto-generated config file

[2022-07-18 08:04] #2459 closed

[2022-07-18 08:19] sinner- commented on #2349
Just ran into this issue on trivy `0.30.0` with kubectl `v1.22.6-eks-7d68063` and confirmed there is no issue on trivy `0.28.0`.

kubectl configured with `aws eks update-kubeconfig --region region-code --name cluster-name`

[2022-07-18 08:22] redsigma commented on #2388
this might be helpful

https://github.com/aquasecurity/trivy-plugin-kubectl/issues/8

[2022-07-18 08:25] redsigma opened #2537 "File size of the binary"
The final trivy binary after compilation is around 100MB.  A lightweight python docker image is around 70MB.

Is there a reason for this file size ?

[2022-07-18 14:07] youwalther65 commented on #851
Am I doing something wrong, according to docu 0.29.0 should have fixed this?!

[root@ip-10-0-1-132 containerd]# which trivy
/usr/local/bin/trivy
[root@ip-10-0-1-132 containerd]# trivy version
Version: 0.30.0
Vulnerability DB:
  Version: 2
  UpdatedAt: 2022-07-18 12:06:56.099185305 +0000 UTC
  NextUpdate: 2022-07-18 18:06:56.099184905 +0000 UTC
  DownloadedAt: 2022-07-18 13:56:12.228315379 +0000 UT

[2022-07-18 15:00] youwalther65 opened #2540 "trivy on EKS v1.22 running containerd does not scan local images"
## Description

trivy throws errors when running trivy image against local container image when using containerd runtime. This should work with Trivy version => 0.29.. See closed issue [https://github.com/aquasecurity/trivy/issues/851](url)

## What did you expect to happen?
trivy image to scan image

## What happened instead?
[code]
## Output of run with `-debug`:

[code]

## Output of `trivy -v`

[2022-07-18 19:30] usjpaq commented on #2421
Is there a config option to turn this feature off?

[2022-07-18 21:12] mparuszewski opened #2542 "FIPS-140-2 Compliance"
**Background**:

[FIPS 140-2](https://en.wikipedia.org/wiki/FIPS_140-2) is a U.S. government computer security standard used to approve cryptographic modules. Recently we see increased interest in developing and using FIPS-compliant software. It is especially needed when working with the U.S. government or other regulated industries.

**What would you like to be added**:

It would be great to see

[2022-07-18 21:50] b34rd-tek commented on #2405
I would love to see Scala language support added also :-)

[2022-07-18 22:38] rampach commented on #147
Looks like this issue popped up again. At least i'm seeing this behavior with the latest version v0.30.0

[2022-07-19 00:06] #2054 closed

[2022-07-19 00:06] #2040 closed

[2022-07-19 06:55] bygui86 commented on #346
hi guys, still no updates on this? :( it would be a really helpful feature!

[2022-07-19 07:32] bgoareguer opened #2544 "Table output shows no summary if no vulnerability is detected"
## Description

I scan an image containing only one vulnerability with severity=HIGH.
When I allow Trivy to show all vulnerabilities, the table output shows the summary:
[code]
But when I filter out all vulnerabilities (with `--severity=CRITICAL`), the table output does not show the summary:
[code]

## What did you expect to happen?
I expected to see a summary showing 0 vulnerabilities as it did i

[2022-07-19 07:42] jadechip commented on #2486
Has this been fixed in version 0.30.0?

[2022-07-19 08:11] knqyf263 commented on #2486
We're waiting for this PR.
https://github.com/aquasecurity/trivy-kubernetes/pull/57

[2022-07-19 08:41] #2506 closed

[2022-07-19 09:08] ngk512 opened #2545 "Trivy HTML Report Jenkins pipeline"
Hi,

Integrated trivy with jenkins pipeline. while running pipeline getting below error

unable to write results:
    github.com/aquasecurity/trivy/pkg/commands/artifact.runWithTimeout
        /home/runner/work/trivy/trivy/pkg/commands/artifact/run.go:88
  failed to initialize template writer:
    github.com/aquasecurity/trivy/pkg/report.Write
        /home/runner/work/trivy/trivy/pkg/report/write

[2022-07-19 11:20] jpvg10 commented on #90
This is bugging me specially, since I am using NPM, but one package 3 levels deep on the dependency chain has a `yarn.lock` file in it.
So even though I have the "top" package in my devDependencies, and no `yarn.lock` file of my own, Trivy still detects vulnerabilities in this sub-dependency.

[2022-07-19 12:32] afdesk commented on #2545
it seems `trivy` can't find a html template.
is there `contrib/html.tpl` file?
https://github.com/aquasecurity/trivy/blob/main/contrib/html.tpl

[2022-07-19 12:47] afdesk commented on #2544
@bgoareguer thanks for your report!
I took a look at `apline:
[code]
so I think that `trivy` works correctly now.

[2022-07-19 12:53] afdesk commented on #2544
also I tested v0.29.2, it works correctly too:
[code]

[2022-07-19 12:54] afdesk commented on #2544
please, feel free reopen this issue, if the issue still exists

[2022-07-19 13:04] bgoareguer commented on #2544
@afdesk the problem was not about detecting the vulnerability but simply not showing the summary:
Total: 0 (CRITICAL: 0)

[2022-07-19 13:07] afdesk commented on #2544
oh, yes, i understood it now. thanks

[2022-07-19 14:10] knqyf263 commented on #2544
We probably removed it by mistake. @afdesk Could you revert it?

[2022-07-19 16:12] ngk512 commented on #2545
Yes, its there.

![image](https://user-images.githubusercontent.com/47627540/179798108-e5668e13-a067-48fb-bf80-ccd4c905efd7.png)

Now i'm able to run and its generating report.html file but when i opened it shows as below and not getting any output.

![image](https://user-images.githubusercontent.com/47627540/179798510-8ef6f87d-1db1-4bc4-942a-4e0066f27d28.png)

Please help.

[2022-07-19 17:11] hamir-suspect opened #2546 "skip-files does not work"
## Description

--skip-files flag does not work and only skips the last specified file with --skip-files flag ( if you have --skip-files A --skip-files B only B is skiped)

## What did you expect to happen?

I expect that command
`trivy config --skip-files Dockerfile.dev --skip-files Dockerfile.toolbox .` will skip both Dockerfile.dev and Dockerfile.toolbox

## What happened instead?

Dockerfile.d

[2022-07-20 00:05] #1673 closed

[2022-07-20 02:14] sinner- commented on #1026
I ran across this issue in version `0.28.0` (couldn't use `0.30.0` due to https://github.com/aquasecurity/trivy/issues/2349) trying to troubleshoot both `trivy image` and `trivy k8s` plugins scanning images stored in private ECR repository.

This is just running `trivy` on an EC2 instance with access to the EKS cluster API, not running it as a pod or operator. The instance has a profile with assoc

[2022-07-20 05:41] DmitriyLewen commented on #2546
Hello @hamir-suspect
Thanks for your interest to Trivy!

We have already [fixed](https://github.com/aquasecurity/trivy/pull/2530) this bug.
Fix will be included in next release.

Until then, you can `--skip-files` flag like this:
`--skip-files "Dockerfile.dev Dockerfile.toolbox"`

Best Regards, Dmitriy

[2022-07-20 06:25] afdesk commented on #2544
yes, sure. I'll do it today.

[2022-07-20 06:29] afdesk commented on #2545
could you set up a path to `html.tpl`:
[code]

[2022-07-20 07:13] knqyf263 commented on #1646
@otms61 Could you work on it?

[2022-07-20 07:30] afdesk commented on #2544
FYI, [alpine linux security db](https://secdb.alpinelinux.org/v3.16/) was updated yesterday, and now `CVE-2022-30065` doesn't affect on `busybox-1.35.0-r15`

[2022-07-20 09:17] otms61 commented on #1646
@knqyf263  Alright. I will try.

[2022-07-20 10:43] #2486 closed

[2022-07-20 11:26] ngk512 commented on #2545
Now i'm getting the below error:

Vulnerability scanning is enabled
2022-07-20T12:17:07.384+0530	[34mINFO[0m	Secret scanning is enabled
2022-07-20T12:17:07.384+0530	[34mINFO[0m	If your scanning is slow, please try '--security-checks vuln' to disable secret scanning
2022-07-20T12:17:07.384+0530	[34mINFO[0m	Please see also https://aquasecurity.github.io/trivy/0.30.0/docs/secret/scanning/#recom

[2022-07-20 11:34] afdesk commented on #2545
oh, it looks like you use Windows, right?

[2022-07-20 12:04] ngk512 commented on #2545
No, i installed trivy in centos 7 i.e., where we installed Jenkins also in same server. We added the stage in Jenkins pipeline and While running the Jenkins build i'm getting error.

[2022-07-20 12:05] ngk512 commented on #2545
No, i installed trivy in centos 7 i.e., where we installed Jenkins also in same server. We added the stage in Jenkins pipeline and While running the Jenkins build i'm getting error.

[2022-07-20 12:17] knqyf263 commented on #2546
Fixed in v0.30.1
https://github.com/aquasecurity/trivy/releases/tag/v0.30.1

[2022-07-20 13:24] hamir-suspect commented on #2546
Thanks, that was fast!

[2022-07-20 13:27] afdesk commented on #2545
@ngk512 please, check the path to `html.tpl` in `trivy` command

[2022-07-20 14:00] Pixelatex opened #2553 "Unclear whether this solution requires a license or not"
Hello there,

I'm trying to figure out if there are any caveats with this tool? Is it limited and requires a paid license from aqua to continue using?

I see some mention of user/password in the docs so it seems to imply you need an active account to use it.

[2022-07-20 14:57] bmaupin commented on #1350
Trivy seems to find vulnerabilities just fine for me with package-lock.json v2.

My suspicion is that the author only had vulnerabilities in `devDependencies`, which `npm audit` will list but Trivy will not list as per https://aquasecurity.github.io/trivy/v0.30.1/docs/vulnerability/detection/language/

Given that this is documented, this seems more like a feature request than a bug. At any rate, t

[2022-07-20 15:03] trevor-vaughan commented on #1350
@bmaupin It does seem to be working as documented but I think that a few of these bugs might be avoided by making that table a bit more prominent (like front page) in the docs.

[2022-07-20 18:50] knqyf263 opened #2554 "Add PURL to SPDX"
External Reference can have PURL.

3.21.1 Purpose: An External Reference allows a Package to reference an external source of
additional information, metadata, enumerations, asset identifiers, or downloadable content
believed to be relevant to the Package.
3.21.2 Intent: To indicate an outside source of information, metadata enumerations, asset
identifiers, or content relevant to the Package, such

[2022-07-20 19:51] Dentrax opened #2555 "image: apply lowercase for given image input"
## Description

Some users use UPPERCASE characters in their username. So running Trivy in GitHub Actions results in failing. But ghcr.io registry complains about _uppercase_ characters.

[code]

## What did you expect to happen?

It should enforce lowercase by default?

## What happened instead?

[code]

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional deta

[2022-07-20 20:13] josedonizetti commented on #2522
@mgsh Sorry for the delay, was out. Would love to review a PR for it! Still interested in taking it?

[2022-07-21 00:06] #1490 closed

[2022-07-21 04:19] ngk512 commented on #2545
It was issue with the image. Now its working fine.

Thanks for help!

[2022-07-21 04:45] DmitriyLewen commented on #2555
Hello @Dentrax
Thanks for your report!

I think it's a good idea. I think we can use this.

Regards, Dmitriy

[2022-07-21 05:10] robertlagrant opened #2557 "Skip vuln scan mode for SBOM generation"
It would be great to have a mode for Trivy where it can simply generate an SBOM and quit, without having to download a database or do its own analysis.

My use case is running in CI to generate an SBOM (where I'd like the scan to be as fast as possible, so no vuln database download time and no time processing) and then push it to OWASP Dependency Track, which will do the vuln and licence assessmen

[2022-07-21 05:20] mgsh commented on #2522
Yes @josedonizetti, I'm still interested. I can share a PR by later today. Thanks!

[2022-07-21 06:30] knqyf263 commented on #2555
Are ghcr.io/Dentrax/zulu and ghcr.io/dentrax/zulu identical?

[2022-07-21 06:33] knqyf263 commented on #2557
We already made the change in https://github.com/aquasecurity/trivy/pull/2541. It will be released in v0.31.0.

[2022-07-21 06:34] DmitriyLewen commented on #2555
if i understand correctly - you can't create `ghcr.io/Dentrax/zulu`. You will receive error when you try to create image using upper case.
e.g. for docker:
[code]

[2022-07-21 06:35] knqyf263 commented on #2555
If nobody can create such repository, why do we have to convert it?

[2022-07-21 06:42] DmitriyLewen commented on #2555
you are right. `ghcr.io/Dentrax/zulu` is a wrong name.
This is because users confuse `github username` with `ghcr repository name`.
e.g. `https://github.com/Dentrax/zulu` and `ghcr.io/dentrax/zulu`.
@Dentrax am i right?

[2022-07-21 07:24] ngk512 commented on #2545
How to run trivy scan for local images in windows?

[2022-07-21 07:25] ngk512 commented on #2545
How to run trivy scan for local images in windows?

[2022-07-21 07:48] telelvis opened #2558 "cross check with CISA known exploited vulnerabilities catalog"
Hello

CISA agency maintains catalog of vulnerabilities that are known to be confirmed exploited https://www.cisa.gov/known-exploited-vulnerabilities-catalog and constantly updates it. It may look like majority is for desktop software and alike, but there are some vulnerabilities for software/libraries often found in containers.
Suggestion is to include this information in the vulnerability report

[2022-07-21 08:38] tipruzs opened #2559 "ENV vars broken"
## Description

Env vars are no longer working as expected.

## What did you expect to happen?

Setting cache-dir using env var TRIVY_CACHE_DIR

## What happened instead?

Setting cache-dir using env var TRIVY_CACHE_DIR has no effect

## Output of run with `-debug`:

[code]
[code]

[2022-07-21 08:50] mikaello opened #2560 "Env TRIVY_DB_REPOSITORY no longer working in v0.30.1"
## Description

In `v0.30.0` it was possible to define the Trivy DB repository as an environment variable `TRIVY_DB_REPOSITORY`, in `v0.30.1` that stopped working. While according to [documentation](https://github.com/aquasecurity/trivy/blob/9da45f7bbdb291eb70cd91d8872c5afbaeb1b6ef/docs/docs/references/customization/envs.md) this should still work. The config in question is [still named `db-reposi

[2022-07-21 08:51] tipruzs commented on #1613
I'm able to reproduce this even with own images (created with buildah)

`trivy image` is parsing the jar files (--debug) but does not provide any finding in the report.

Extracting the image and retry with `trivy rootfs` brings findings in the report, as soon as the path is not the relative "/" of the image. E.g. the jars are located somewhere under /opt/some/path inside the image and the image ge

[2022-07-21 08:57] mikaello commented on #2559
I see the same (I duplicated your issue https://github.com/aquasecurity/trivy/issues/2560). The removal of env auto bind in https://github.com/aquasecurity/trivy/pull/2526 seems to me as a possible source for this regression.

[2022-07-21 08:58] mikaello commented on #2560
Closed in favor of https://github.com/aquasecurity/trivy/issues/2559

[2022-07-21 08:58] #2560 closed

[2022-07-21 09:37] happylie commented on #2187
@afdesk
Hi~

May I know if the current problem has been solved?
Thank you.

[2022-07-21 09:38] jeffqumata commented on #2559
Yep, seeing the same with the `TRIVY_IGNORE_UNFIXED` env var being ignored, breaking a bunch of builds. Rolling back to 0.30.0 works as expected

[2022-07-21 09:51] DmitriyLewen commented on #2559
Hello @tipruzs , @mikaello , @jeffqumata
Thanks a lot for your reports!

We are working on a fix for this bug.

Regards, Dmitriy

[2022-07-21 10:21] computeralex92 opened #2562 "License check ends everytime with exitcode 0"
## Description

If using the new license check feature the exit code is after every run 0, regardless of the option ```--exit-code 1``` etc

## What did you expect to happen?
The check is working in the same way like the vuln type of check, so I can define that e.g. a CRITICAL or HIGH risk license exits with exitcode 1.
That would allow to prevent the usage of risky licenses in a company environme

[2022-07-21 10:39] afdesk commented on #2187
Hi @happylie
there are several issues with db updating in server mode.
but unfortunately, I can't reproduce them...
we're investigating it

[2022-07-21 10:41] #2559 closed

[2022-07-21 11:32] happylie commented on #2187
@afdesk
Yes, I got it.
Then I'll wait for it to be resolved.

Thank you.

[2022-07-21 11:51] knqyf263 commented on #2562
It is handled here.
https://github.com/aquasecurity/trivy/blob/80c7b91637a60f54cf8545bf3798f0dab0992e3c/pkg/commands/artifact/run.go#L536-L540

This PR will help.
https://github.com/aquasecurity/trivy/pull/2370

[2022-07-21 12:22] jeffqumata commented on #2559
thanks @DmitriyLewen, is this planned for release today?

[2022-07-21 12:53] mikaello commented on #2559
It was released a minute after your comment : https://github.com/aquasecurity/trivy/releases/tag/v0.30.2

[2022-07-21 14:21] afdesk commented on #2545
@ngk512 you can try to run `trivy` image for it.
[code]

[2022-07-21 17:51] tanmoyrsc opened #2568 "FATAL unable to write results: failed to initialize template writer: error parsing template: template: output template:61: function "sourceID" not defined"
## Description

## What did you expect to happen?

## What happened instead?

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):

[2022-07-21 17:53] tanmoyrsc commented on #2568
I am running "**trivy image --format template --template "@contrib/asff.tpl" -o report.asff auth:latest**" command and getting the error " unable to write results: failed to initialize template writer: error parsing template: template: output template:61: function "sourceID" not defined"

[2022-07-21 18:34] #2505 closed

[2022-07-22 00:05] #1459 closed

[2022-07-22 03:53] DmitriyLewen commented on #2568
Hello @tanmoyrsc
Thanks for your report!

It looks like you are using old Trivy with a new template.
We [added](https://github.com/aquasecurity/trivy/pull/1644) `sourseID` function in Trivy v0.23.0.

Can you tell me what version of Trivy are you using?

Regards, Dmitriy

[2022-07-22 05:29] ngk512 commented on #2545
Thank You and it worked!

[2022-07-22 05:35] ngk512 commented on #2545
Can we use trivy to scan the installed application as a service instead of images?

for example: I installed application openfire in centos server and i want to scan using the trivy.

[2022-07-22 05:55] afdesk commented on #1464
is this issue still relevant?

[2022-07-22 06:01] ngk512 commented on #2545
@afdesk I have installed some applications like MySQL, MongoDB Compass, Python etc. I want to scan these applications using trivy. How can i do that?

[2022-07-22 06:08] DmitriyLewen commented on #2286
Hello @sourabhgupta385
Thanks for your report!

Can you update Trivy and retry the scan?
If you still have a problem - can you send your image to study this problem?

Regards, Dmitriy

[2022-07-22 06:09] afdesk commented on #2545
Trivy scans [Container Images](https://aquasecurity.github.io/trivy/v0.30.2/docs/vulnerability/scanning/image/), [Rootfs](https://aquasecurity.github.io/trivy/v0.30.2/docs/vulnerability/scanning/rootfs/), [Filesystem](https://aquasecurity.github.io/trivy/v0.30.2/docs/vulnerability/scanning/filesystem/), and [Git Repositories](https://aquasecurity.github.io/trivy/v0.30.2/docs/vulnerability/scanning

[2022-07-22 06:11] ngk512 commented on #2545
Thanks for Help!

[2022-07-22 06:11] #2545 closed

[2022-07-22 11:33] DmitriyLewen commented on #2340
Hello @pms-github
Thanks for your report!

Can you send your `jar` file to investigate this bug?

Regards, Dmitriy

[2022-07-22 12:17] Sunidhi-Gaonkar1 opened #2570 "Unit Test cases are failing for Power(ppc64le)."
Hi Team,
I am working on validating Trivy's latest version on Power(ppc64le) architecture.
As Trivy uses Tinygo to run unit and integration tests, which is not supported on Power,I built it from the source and was able to run the test cases.
Unit test cases are failing with the following error:
[code]

As Trivy is already supported on Power, I would like to know if there is any other test setup to

[2022-07-22 13:31] trevor-vaughan opened #2571 "Allow users to restrict the number of times `trivy` attempts to connect to Maven on JAR scans"
When using a local Maven mirror, generally the system is either available or it's not.

Presently, for each JAR found, `trivy` attempts a large number of retries.

Users should be able to set something like `MAVEN_CENTRAL_TRIES` to limit the number of retries to a sensible number (like 2) to allow pipelines to move ahead more quickly.

[2022-07-22 14:42] yuha0 commented on #1598
The gitlab official image scanning pipeline relies on docker and runs a docker-in-docker setup. This is convenient for folks who use docker, but I believe a lot of users have already replaced it with other container runtimes, or is in the progress to do so, since Kubernetes deprecated support for docker shim.

From security perspective, personally I am also not a fan of docker-in-docker and I don'

[2022-07-22 17:10] tanmoyrsc commented on #2568
Hi Dimitriy,

now after using 0.23 the error has gone but facing below error when uploading result.asff to aws security hub. can you please help on that. I have also attached report.asff herewith.

_$ aws securityhub batch-import-findings --findings file://report.asff

Error parsing parameter '--findings': Invalid JSON: Expecting property name enclosed in double quotes: line 1 column 2 (char 1)
JS

[2022-07-23 00:05] #1424 closed

[2022-07-23 00:05] #1412 closed

[2022-07-23 00:05] #1369 closed

[2022-07-23 05:51] otms61 commented on #2570
I have the same problem.

tinygo uses some new features(https://github.com/tinygo-org/tinygo/pull/2911) in the latest version 0.24.0. These features need more runtime options. But Trivy does not yet support these options when creating runtime.

An immediate solution is to use the tinygo version 0.23.0.  This method passed the unit tests.

[2022-07-24 00:06] #2082 closed

[2022-07-24 00:06] #1285 closed

[2022-07-24 04:59] mgsh commented on #2522
Hi @josedonizetti , I've created PRs on trivy-kubernetes and trivy repos.

I wasn't sure how dependency version gets updated in go.mod in the trivy repo (for now I've just added a TODO in go.mod for the version to be updated once trivy-kubernetes PR gets merged).

Given the change is minor, I'm also not sure about if testing needs to be added. I've done local tests, but it's presently not automate

[2022-07-24 05:31] #2570 closed

[2022-07-24 14:04] chen-keinan commented on #2254
depend on #2198

[2022-07-25 02:19] thiago-gitlab commented on #1598
@yuha0, is there anything in this issue indicating that users can't keep using it this way?

[2022-07-25 04:09] DmitriyLewen commented on #2568
Hello @tanmoyrsc

I checked your report. Trivy correctly created this file([BatchImportFindings format](https://docs.aws.amazon.com/securityhub/1.0/APIReference/API_BatchImportFindings.html#API_BatchImportFindings_RequestSyntax)).

If i understand correctly - for `securityhub batch-import-findings` command you need to use only elements of `Findings` array.
Read more about the format of this comman

[2022-07-25 04:23] afdesk opened #2579 "can't update the trivy database in ClientServer mode"
from @erikgb

## Description
I am trying to use trivy in ClientServer mode to support scanning of images built in GitLab pipelines AND to offload the actual scan jobs for trivy-operator. While this works well for some time after startup of the trivy server, it seems to crash when trying to hot-update the vuln DB:

## What happened instead?
[code]

## Additional details (base image name, container

[2022-07-25 04:58] hlein opened #2580 "Offline use documentation includes obsolete flag to oras"
## Description

The documentation for air-gapped/offline use (https://aquasecurity.github.io/trivy/v0.30.2/docs/advanced/air-gap/) says to use `oras` to fetch like so:

[code]

However, current `oras` throws a usage message:

[code]

Per https://github.com/oras-project/oras/issues/130 and https://github.com/oras-project/oras/pull/387, `-a`/`--allow-all` behavior is now the default, and those argum

[2022-07-25 05:30] DmitriyLewen commented on #2580
Hello @hlein
Thanks a lot for your report!

We will update information about this in the docs.

Best Regards, Dmitriy

[2022-07-25 05:37] afdesk commented on #2568
it looks like a known problem with ASFF: #1898
@tanmoyrsc you can use next workaround:
[code]

[2022-07-25 11:26] #2562 closed

[2022-07-25 11:55] ralfstuckert commented on #2454
I still experience the same problem as described [above](https://github.com/aquasecurity/trivy/issues/2454#issuecomment-1174734695) in version 30.2 ([trivy action 0.0.6](https://github.com/aquasecurity/trivy-action/releases/tag/0.6.0)).

Shall I open a new issue?

[2022-07-25 12:19] #2580 closed

[2022-07-25 14:26] #2187 closed

[2022-07-25 14:26] #2579 closed

[2022-07-25 15:12] yuha0 commented on #1598
I think this issue is about trivy's existing template being incompatible with GitLab 15. I see that you had a PR to update that now. That can resolve this issue for me. Thank you!

I understand that GitLab has various executor types. But this security scanning feature you brought up [explicitly require docker](https://gitlab.com/gitlab-org/gitlab/-/blob/7a8b2243109dba91bc2fbcc8fb0ab626183685d6/doc

[2022-07-25 17:07] tanmoyrsc commented on #2568
@DmitriyLewen , @afdesk ,

Thanks for your help now I can successfully able to push the report to securityhub. but facing this new issue, "**FATAL   flag provided but not defined: -no-progress**" the -no-progress option is not working with 0.23.0 version. could you please let me know the new option to failed the build if vulnerability is HIGH or CRITICAL ?

Thanks & Regards,
Tanmoy

[2022-07-25 17:37] tanmoyrsc commented on #2568
Sorry I got the reason for error, I missed the **image** argument after the **trivy** command.

[2022-07-25 18:47] xia0pin9 opened #2585 "Add category or classification for detected vulnerabilities"
The detection result generated by trivy looks great. I wish we can have another field showing the classification or category of the detected issues, something like "Privilege escalation", "Denial-of-Service", "Remote code execution", etc.

[2022-07-25 20:07] cebidhem opened #2586 "feat(helm): allow an user defined existing secret"
Hey there,

We are using Trivy for a long time in our CI, but we recently decided to give a try to the Trivy Operator, and therefore we want to deploy Trivy as a server first.
Looking at the Helm chart, all secrets must be defined as values in order to get consumed by the statefulset. It would be nice to have a way to define a secret created outside of the chart (we're using external-secrets but i

[2022-07-25 20:40] thiago-gitlab commented on #1598
@yuha0, I'm happy to answer questions about Trivy integration with GitLab, but I don't want to continue an unrelated discussion about GitLab functionality on another company's forum.

If you have any questions or suggestions, I invite you to join https://forum.gitlab.com/, or read https://about.gitlab.com/submit-feedback/#product-feedback to learn other ways to provide product feedback. Thank you.

[2022-07-25 22:24] josedonizetti opened #2588 "k8s not scanning control plane pods (apiserver, controllermanagerd, etc, scheduler)"
[code]

[2022-07-25 23:12] yuha0 commented on #1598
Hi @thiago-gitlab

One of your proposals above was to remove custom template from Trivy documentation and ask all users to use GitLab official pipeline, because "all users should be able to use GitLab's own [Container Scanning CI configuration template](https://docs.gitlab.com/ee/user/application_security/container_scanning/#configuration)".

Then in the docs PR, you opted to leave the current `co

[2022-07-26 03:27] DmitriyLewen commented on #2089
Hello @flyingflo
Sorry for waiting.

We are fixed this bug.

Can you please update `trivy-db`, check it and close this issue or tell me if Trivy is still not working properly.

Best Regards, Dmitriy

[2022-07-26 05:41] DmitriyLewen commented on #2454
Hello @ralfstuckert
I reopen this issue.

Can you post your `debug` log to investigate your issue?
Also can you tell which image you are scanning?

[2022-07-26 06:05] ralfstuckert commented on #2454
The images having this problem contain quite large java applications based on jHipster, which introduces dependencies to ALL existing java libraries, no kidding :-|

I will try to generate debug log

[2022-07-26 06:48] afdesk commented on #2187
@happylie we found a reason.
it fixed in `v0.30.3`.
thanks a lot for your reports

[2022-07-26 06:54] yjhunjhunwala1 opened #2590 "Trivy Scan getting auto killed for Azure VM instances"
## Description

  I am trying to run a filesystem scan on the root directory, but the scan is getting auto killed

## What did you expect to happen?
- Scan to get completed and Vulnerability report
-
## What happened instead?
Scan gets killed

## Output of run with `-debug`:

[code]
azureuser@YjPOCInstance1:~$ trivy fs -d --security-checks vuln /
2022-07-26T06:50:51.401Z        DEBUG   Severities:

[2022-07-26 06:54] afdesk commented on #2568
@tanmoyrsc can we close this issue?

[2022-07-26 07:09] ralfstuckert commented on #2454
[debug.txt](https://github.com/aquasecurity/trivy/files/9187404/debug.txt)

[2022-07-26 07:53] owenrumney commented on #2476
https://github.com/aquasecurity/defsec/issues/763

[2022-07-26 08:44] DmitriyLewen commented on #2454
looks like the 5 minute timeout is small for large images.
does scan with large timeout have the same logs?

[2022-07-26 08:49] ralfstuckert commented on #2454
I use a 30 Min timeout.

Since I had to use the yaml config in order switch debug on, the timeout parameter seems not have been used in this run :-/

[2022-07-26 08:49] 1003n40 opened #2591 "Multiple requests to the server fails"

[2022-07-26 08:54] DmitriyLewen commented on #2454
can you use big timeout please(you can [set](https://aquasecurity.github.io/trivy/v0.30.3/docs/references/customization/config-file/#global-options) this in config file) and scan again.

[2022-07-26 10:13] olljanat commented on #2058
FYI. I replaced #1469 with #2592 and included test binary to there. It would be nice if others can also test and report results to that PR as it looks to be that Trivy maintainers are Linux only users and are not able to test.

[2022-07-26 11:50] javixeneize opened #2594 "serverless deployment"
Hi

I am playing with the client/server mode and i was wondering if you have considered deploying trivy as a lambda.

This can be very efficient specially when using trivy in client/server mode in starboard, as you dont need trivy server to be up and running constantly.

It will probably require some testing, as where to store the database (s3?) but I think this would be a great addition to the to

[2022-07-26 12:51] #1598 closed

[2022-07-26 12:54] afdesk commented on #2274
@JasonSFuller could you check this issue with the latest version? thanks

[2022-07-26 13:35] #2588 closed

[2022-07-26 14:10] josedonizetti opened #2596 "k8s can't scan gke container version 1.25"
[code]

This is because GKE is changing how authentication is done. Check https://cloud.google.com/blog/products/containers-kubernetes/kubectl-auth-changes-in-gke

[2022-07-26 14:51] ralfstuckert commented on #2454
If providing all parameters via config file, the timeout works correctly (the scan takes about 15 minutes), so I guess the problem is not on your side, but maybe in the calling action. Investigating further

[2022-07-26 15:39] tanmoyrsc commented on #2568
yes please, thanks a lot for your help on time.

[2022-07-26 16:09] KDMichaelis commented on #2544
@knqyf263 @afdesk I'm on trivy v0.30.3 and I still see no summary with `trivy fs` for my poetry.lock file. I saw in this comment that it was decided to not output an empty table for language-specific packages: https://github.com/aquasecurity/trivy/pull/2548#discussion_r925466888
I do agree that an empty table is not necessary but I would still expect a summary confirming that no vulnerabilities we

[2022-07-26 18:35] 37b opened #2597 "Incorrect CPE generated for Debian package"
## Description

The CPE for a Debian package **should be** `cpe:2.3:a:debian:dpkg:1.20.9:*:*:*:*:*:*:*` but Trivy reports it as `cpe:2.3:a:dpkg:dpkg:1.20.9:*:*:*:*:*:*:*`

## What did you expect to happen?

The correct CPE `cpe:2.3:a:debian:dpkg:1.20.9:*:*:*:*:*:*:*`

## What happened instead?

The incorrect CPE was generated `cpe:2.3:a:dpkg:dpkg:1.20.9:*:*:*:*:*:*:*`

[2022-07-27 03:22] #2568 closed

[2022-07-27 03:31] DmitriyLewen commented on #2454
so Trivy works correctly - I'm closing the issue.

If you have any questions or problems, feel free to open new issue.

Best regards, Dmitriy

[2022-07-27 03:31] #2454 closed

[2022-07-27 03:37] DmitriyLewen commented on #2353
Issue has been solved! I close this issue.

If you have any questions or problems, feel free to open new issue.

Best regards, Dmitriy

[2022-07-27 03:37] #2353 closed

[2022-07-27 04:35] hlein commented on #2580
Sweet, thanks for the quick fix @DmitriyLewen !

[2022-07-27 05:20] afdesk commented on #2544
@KDMichaelis thanks for your report
I'll retest it again

[2022-07-27 06:46] ngk512 commented on #2591
How to scan the remote images using trivy for both Linux and windows?

[2022-07-27 08:37] jiangsi520 opened #2600 "Report problems that cannot be displayed normally,"
I tried to export the report template and found that only html.tpl can display the interface normally, while others such as asff.tpl and gitlab.tpl cannot be opened normally. When I open it with a browser, the source code is displayed.
![image](https://user-images.githubusercontent.com/30169495/181205862-653b7c8d-dad1-4d91-a43f-8c45af92defa.png)

![image](https://user-images.githubusercontent.com/

[2022-07-27 09:25] mtcolman opened #2601 "Context deadline exceeded"
## Description
I'm trying to scan my cluster (`trivy k8s --report summary cluster`) and so far two attempts have failed (I'm trying increases in the timeout value...)

I can't work out from the "FATAL" message whether it is providing this message because of the timeout, or whether the timeout is being caused by whatever causes the FATAL error.

Could the error output be more informative, i.e. "thi

[2022-07-27 10:55] mtcolman commented on #2601
I subsequetly ran the scan with a 30m timeout and it completed (in just short of 20mins), here is the debug output:
[code]

I'm wondering if the "unable to inspect the image" as it can't find docker or podman should be raised as a separate ticket here? Shouldn't this be a check it does up front and immediately alert me prior to the scan running for 20 mins? (i.e. I now need to make docker/podman a

[2022-07-27 11:32] knqyf263 opened #2603 "Scan git diff for vulnerabilities"
## Description
Trivy can be integrated into CI easily, but the vulnerability disclosure lifecycle is not synced with the development lifecycle. A job can fail due to newly disclosed vulnerabilities even though nothing has changed in the source code. The vulnerability could affect your production regardless of your job failure if your application is already deployed.

A job can fail on newly disclo

[2022-07-27 12:26] Sunidhi-Gaonkar1 commented on #2570
Hi, some of the integration tests seem to be architecture specific(amd64), are these tests being run for any other architecture?

[2022-07-27 12:31] mtcolman opened #2604 "Error during vulnerabilities scan"
## Description
When scanning images in a private registry, to which I have not logged into, the output from Trivy is excessive (and can be confusing). **Note:** I am runnig podman and have a podman socket available.

## What did you expect to happen?
I expect trivy to inform me that I'm unauthorised for the registry the image is in, given it returns this message:
[code]

Surely I don't need to be

[2022-07-27 12:43] trevor-vaughan opened #2605 "Environment variables no longer documented in inline help"
## Description

As of version 0.30.0, the generated help no longer appears to output the associated environment variables.

Additionally, I could not find documentation on the newly referenced `trivy.yaml` file format so I'm uncertain as to whether or not this is the new recommendation and/or what the specific allowed values/format are.

## What did you expect to happen?

The supported environment

[2022-07-27 12:48] trevor-vaughan commented on #2605
Disregard. I found it via search. If possible, I would recommend moving the env vars and the config file up to a more prominent location.

[2022-07-27 12:48] #2605 closed

[2022-07-27 13:32] Moulick opened #2606 "Incorrect URL in log for recommendation for faster secret detection"
## Description

## What did you expect to happen?
Log to be `2022-07-27T18:57:49.498+0530	INFO	Please see also https://aquasecurity.github.io/trivy/v0.30.4/docs/secret/scanning/#recommendation for faster secret detection`

## What happened instead?
Log is `2022-07-27T18:57:49.498+0530	INFO	Please see also https://aquasecurity.github.io/trivy/0.30.4/docs/secret/scanning/#recommendation for faster s

[2022-07-27 14:04] knqyf263 commented on #2570
Did you face an issue in integration tests in ppc64le? Which test is arch specific?

[2022-07-27 14:39] #1646 closed

[2022-07-27 17:09] zdtsw opened #2608 "trivy can scan dockerfile more than matching pattern Dockerfile*"
Current version of trivy only support dockerfile with name starting with "Dockerfile".
Same as using  as target, it only looks for "Dockerfile*"
Since docker support using `-f <dockerfile>`, trivy should have a similar feature . This is very useful with multiple dockerfiles,
some suggestions:
1. to allow user specify their dockerfile's name. e.g `trivy fs --security-checks config --file dockerfile

[2022-07-28 05:48] denisgolius opened #2610 "Are there any limitations for docker scan?"
Is there any limit for docker scan? I mean that docker scan from native docker has limits for snyk api request, so does trivy has the same limitations? Google search didn't help...

[2022-07-28 07:07] Sunidhi-Gaonkar1 opened #2612 "Integration Test cases are failing for Power(ppc64le)."
Hi Team, I am raising this issue in reference to #2570 . Unit test cases and Module Integration test cases are passing after the fix done in #2575 .Currently facing issues for integration tests.
The images `cesanta/docker_auth:1` , `registry:2.7.0 ` , `ghcr.io/aquasecurity/trivy-test-images/containerd:latest` are not supported on ppc64le. After using higher version of `registry image (2.8.0)`, as

[2022-07-28 07:09] Sunidhi-Gaonkar1 commented on #2570
Thank you for the quick response! I have created a new issue #2612 which has details of current failures on ppc64le for Integration tests.

[2022-07-28 07:17] knqyf263 commented on #2570
Thanks!

[2022-07-28 07:20] knqyf263 commented on #2610
No, Trivy is OSS unlike Snyk.

[2022-07-28 07:24] knqyf263 commented on #2608
Doesn't `--file-pattern` satisfy your requirement?
https://github.com/aquasecurity/trivy/tree/f9c17bd2d87b9c02da1eebd21dd45ce1ccf97995/examples/misconf/file-patterns

[2022-07-28 07:40] ngk512 opened #2613 "Scan remote images"
How to scan the remote server docker images using trivy from local system?

[2022-07-28 07:47] knqyf263 opened #2614 "Scan SBOM attestation"
Trivy generates SBOM and [cosign](https://github.com/sigstore/cosign) uploads it in an in-toto attestation format to OCI registry.
https://aquasecurity.github.io/trivy/dev/docs/attestation/sbom/

Also, Trivy can scan SBOM (currently CycloneDX only) for vulnerabilities.
https://aquasecurity.github.io/trivy/dev/docs/sbom/cyclonedx/

The next step is consuming the SBOM attestation and scanning it for

[2022-07-28 07:47] zdtsw commented on #2608
Thanks for the tips!
I've tried with` --file-patterns` but did not manage to get what I want:
[code]

[2022-07-28 07:57] zdtsw commented on #2608
one more thing to confirm, using `trivy config` should be equal to `trivy fs --security-checks config`, right?

[2022-07-28 07:58] knqyf263 commented on #2608
Yes.

@DmitriyLewen Could you take a look? `--file-patterns` should work.

[2022-07-28 10:34] eslamkarim opened #2620 "Can trivy resolve python dependencies?"
Hey all I wanted to use trivy in a python environment but i couldn't find a way to not only scan the requirements file but also whatever dependencies these packages will probably have as my solution will require failing a build if a dependency is vulnerable.
Is this something we can do already with trivy? or is it something to think about?
Thank you!

[2022-07-28 13:51] lsauer commented on #2557
Great. I was about to request the same. Same scenario. That would be really useful for many corporate CI flows

[2022-07-28 15:49] denisgolius commented on #2610
Good to know, thanks!

[2022-07-28 15:49] #2610 closed

[2022-07-28 17:33] iamNoah1 opened #2622 "Using double quotes on WORKDIR in Dockerfile results in HIGH failure"
## Description
Using the config scan on Dockerfiles results in a HIGH failure if the WORKDIR is wrapped in double quotes. If I remove the double quotes around it, everything is fine.

## What did you expect to happen?
That trivy does not raise a HIGH failure if I wrap the WORKDIR in double quotes.

## What happened instead?
It raised HIGH failure.

## Output of run with `-debug`:
[code]
Version: 0

[2022-07-28 17:48] ldouchy-bl commented on #1350
Just had the same issue. A scan with trivy repo gave me a list of vulnerabilities while trivy fs didn't.

It would be nice to have the same behaviour across the commands. In the spirit of `--ignore-unfixed`, a `--ignore-dev-dependencies` (or anything with a better name) would be great.

[2022-07-29 01:09] happylie commented on #2187
@afdesk
Thank you.
We have confirmed that the contents will be updated normally.

[2022-07-29 02:43] hlein opened #2623 "Trivy warns "failed to get the vulnerability" about a rejected CVE, CVE-2021-20095"
## Description

When running trivy, a consistent error I'm getting across lots of Docker images is:

`Error while getting vulnerability details: failed to get the vulnerability "CVE-2021-20095": no vulnerability details for CVE-2021-20095`

I got that error a few days ago using `trivy-0.30.2` and a then-current DB, and then again just now with `trivy-0.30.4` after making sure I fetched a fresh DB.

[2022-07-29 04:45] 4oo4 opened #2624 "Transient issue when scanning containers with zfs storage - "error creating zfs mount""
## Description
I use zfs for my storage backend for docker, and I noticed that sometimes when I scan it terminates early because it's unable to find something in the zfs graph directory. If I try to rescan it right after that (just a few seconds later) it works.

## What did you expect to happen?
Trivy has some way of dealing with this, perhaps a timer and retry? Is trivy zfs-aware when it scans d

[2022-07-29 08:40] jpvg10 commented on #1556
I think this shouldn't be closed, I'd like to see this fixed at some point... And the PR hasn't been merged yet

[2022-07-29 12:50] muddassir-r opened #2627 "Trivy for k3s"
Can I run trivy on k3s setup?

[2022-07-29 12:51] muddassir-r commented on #2613
How to scan images from private repository?

[2022-07-29 13:44] ShubhamPalriwala commented on #1350
Hey, I would like to solve this issue and get more involved in the ecosystem. Could somebody tell me what we're exactly looking for?
What I could understand until now is that
- we need an argument called `--ignore-dev-dependencies` which should ignore the dev deps for the package,json file.
- we also need to make things uniform for both `yarn.lock` and `package-lock.json` i.e. include/exclude devD

[2022-07-29 13:52] trevor-vaughan commented on #1350
@ShubhamPalriwala My personal expectation is that this table wouldn't be different for the different commands https://aquasecurity.github.io/trivy/v0.30.4/docs/vulnerability/detection/language/.

Instead, users would be able to specify `--ignore-dev-dependencies` and literally everything would be scanned consistently across the board.

I suppose, as a stretch goal, you would be able to disable/ena

[2022-07-29 14:04] ShubhamPalriwala commented on #1350
Yep, I also had similar ideas about the `--ignore-dev-dependencies` flag to make it consistent across different languages. That would make the ecosystem easy to use and pretty uniform.

I do not know much about the `rego` capability/ other scanning engines; hence, I think that can be implemented once the initial part is implemented and perfectly working.

What do you say?

[2022-07-29 14:09] trevor-vaughan commented on #1350
I say that progress is progress and community contributions are the best :-D

[2022-07-29 17:57] chrisshino opened #2628 "Add "Fixed Version" to SBOM data"
It would be really neat if there was a way to input the "fixed version" data column that trivy currently produces using this command:

trivy image --ignore-unfixed (insert your image)

**This returns something like:

|  LIBRARY  | VULNERABILITY ID | SEVERITY  | INSTALLED VERSION | FIXED VERSION |
| ------------- | ------------- |  ------------- | ------------- | ------------- |
| git  | CVE-2022-2

[2022-07-29 18:54] #2608 closed

[2022-07-30 09:27] zdtsw opened #2629 "misconf for Helm not working properly"
## Description

Seems the target dir and --file-patterns aint working properly.

## What did you expect to happen?
from below log
(1): should scan `deployment.yaml `file, but did not
(2): should scan` ingress.yaml` file, but did not
(3): should scan all matched helm files *.yaml, but did not
(4): it says found 3 yaml files but not sure why `hpa.yaml` and` ingress.yaml `aint scanned.

## What happe

[2022-07-30 18:34] krol3 opened #2631 "helm test for flag features"
Implement unit test for the main flag features in the helm chart. For example replace this manual test about ingress.

https://github.com/aquasecurity/trivy/blob/main/.github/workflows/publish-chart.yaml#L48

[2022-07-31 06:56] #2586 closed

[2022-07-31 07:18] #2504 closed

[2022-08-01 00:06] #2106 closed

[2022-08-01 00:06] #2105 closed

[2022-08-01 03:31] DmitriyLewen commented on #2504
Hello @kobus-v-schoor

Thanks for waiting!

We have fixed your issue.
Fix will be included to next release.

Also we have canary [binary](https://github.com/aquasecurity/trivy/actions/runs/2762667990) and [image](https://github.com/aquasecurity/trivy/pkgs/container/trivy/31001352?tag=canary). You can use it.

Regards, Dmitriy

[2022-08-01 07:16] kobus-v-schoor commented on #2504
Thanks @DmitriyLewen - I'll check out the canary image and give it a test, thanks for looking at the issue!

[2022-08-01 07:29] knqyf263 commented on #2627
There are two options:
- Helm chart
  - https://github.com/aquasecurity/trivy/tree/main/helm/trivy
- Operator
  - https://aquasecurity.github.io/trivy-operator/v0.1.5/

[2022-08-01 07:39] knqyf263 commented on #2614
@otms61 Could you take it?

[2022-08-01 07:40] otms61 commented on #2614
Alright. I will try.

[2022-08-01 07:43] knqyf263 commented on #2604
Looks like you just don't have the permission of `registry.aquasec.com/gateway:2022.4`. Please try `docker login` or `TRIVY_USERNAME`and `TRIVY_PASSWORD`.
https://aquasecurity.github.io/trivy/v0.30.4/docs/advanced/private-registries/docker-hub/

[2022-08-01 07:44] knqyf263 commented on #2620
Please refer to this page.
https://aquasecurity.github.io/trivy/v0.30.4/docs/vulnerability/detection/language/

[2022-08-01 07:47] knqyf263 commented on #2557
There is the `--offline-scan` flag.
https://aquasecurity.github.io/trivy/v0.30.4/docs/references/troubleshooting/#maven-rate-limiting-inconsistent-jar-vulnerability-reporting

[2022-08-01 07:47] knqyf263 commented on #2557
Merged #2541. It will be included in v0.31.0.

[2022-08-01 07:47] #2557 closed

[2022-08-01 08:03] mtcolman commented on #2604
Hi @knqyf263 I know that is the problem. What I'm saying is that I feel Trivy should handle this better - instead of giving me error messages about a lack of docker socket etc (given I'm using podman). It has gathered a log telling me I'm unauthorised, so why not parse this and give me a single error that I am unauthorised...?

[2022-08-01 08:06] knqyf263 commented on #2604
The specified image can be present locally. Trivy supports both local and remote.

[2022-08-01 08:08] knqyf263 commented on #2106
We're sorry to miss it. `trivy sbom` now has `--skip-db-update`. Thanks.

[2022-08-01 08:19] muddassir-r commented on #2627
Can we use Trivy to scan k3s cluster?

[2022-08-01 08:21] knqyf263 commented on #2627
It should work.

[2022-08-01 08:22] #2627 closed

[2022-08-01 08:50] owenrumney commented on #2629
Hi @zdtsw  - the helm scanner takes a chart in it's entirety - be it a Chart directory or a Chart archive and renders it into the required manifest files. You can't cherry pick individual files in the templates to scan - at that point they're not valid manifests

[2022-08-01 08:50] #2629 closed

[2022-08-01 09:15] robertlagrant commented on #2557
Hmm - I'm not sure if this is exactly what this issue was describing. It looks as though trivy, even with `--skip-update` still wants to download the vulnerability database on first run:
[code]

And the new option doesn't disable the database download either - from the linked page:
[code]

So it looks from all that that it's not going to be possible to use Trivy as an SBOM scanner directly in a CI

[2022-08-01 09:29] knqyf263 commented on #2557
Did you try the main branch?

[2022-08-01 09:39] lsauer commented on #2557
I  ended up tranferring the cache with the directory from an online environment to the air-gapped environment and mounting The Cache as described in the examples.
It wasn't that straightforward with due to relative paths and permissions as trivy is run from within a container.

[2022-08-01 12:45] anschnapp opened #2637 "False positive of docker image scanning when rm path and use a softlink on the same path in one step"
## Description

I faced a false positive behaviour inside one of my docker builded images.
On image build i remove a directory where a vulnerable file was located.
In addition i put a softlink to the same path (which refers to a directory without vulnerabilities)

Even if the vulnerable file is not reachable from within my docker container (i guess it's inside a layer but overwritten by a higher p

[2022-08-01 14:04] robertlagrant commented on #2557
@knqyf263 I didn't, but I have now, I think! I cloned the repo and ran `make build`. Result:

[code]

Here's why I think it's still running: https://github.com/aquasecurity/trivy/blob/main/pkg/db/db.go#L91-L96

[2022-08-01 14:45] knqyf263 commented on #2557
You're missing `--format cyclonedx`.

[2022-08-02 00:05] #2064 closed

[2022-08-02 06:43] DmitriyLewen commented on #2623
Hello @hlein
Thanks for your report!

I was able to reproduce your issue and we are working on it.

Regards, Dmitriy

[2022-08-02 09:27] neyrick commented on #2456
I can confirm that proxy settings are ignored when --insecure is on.

We're behind a corporate proxy and I'm testing Trivy on our test GitLab instance, which uses a self-signed certificate for HTTPS. I use http_proxy and https_proxy environment variables. The problem is:

- if I don't use "--insecure", Trivy successfully downloads its database but can't connect to my GitLab instance, which is expe

[2022-08-02 10:00] Sunidhi-Gaonkar1 commented on #2612
Hello @knqyf263 , are all tests being run only via GitHub Actions? or is there any internal testing CI happening on x86? At this moment GitHub Actions doesn't support native ppc64le builds for CI. The capability is present on Travis-CI, would like to know if the community is interested in enabling it for testing on Power.

[2022-08-02 10:04] afdesk commented on #2612
Hello @Sunidhi-Gaonkar1! I'm trying to fix integration tests.
is there a simple way to run them somewhere on ppc64le?

[2022-08-02 10:10] afdesk commented on #2597
@37b thanks for your report. I'll try to clarify this issue

[2022-08-02 11:13] DmitriyLewen commented on #2624
Hello @4oo4
Thanks for your report!

Trivy uses [github.com/docker/docker](https://github.com/moby/moby) repository to save image and read layers.
`docker/docker` supports `zfs`. `error creating zfs mount` error was received from this repository.

I tried reproduce your error, but Trivy works correctly.

Can you tell me any steps to reproduce error?

Best Regards, Dmitriy

[2022-08-02 11:24] Bhaal22 commented on #2430
Hi @DmitriyLewen just seen your PR. thank you for your work. do you have any idea when those changes can be included?

[2022-08-02 11:32] DmitriyLewen commented on #2430
Hello @Bhaal22
I can't promise, but we will try to include these changes in [next release](https://github.com/aquasecurity/trivy/milestone/8)

[2022-08-02 11:34] Bhaal22 commented on #2430
awesomeness !

[2022-08-02 11:53] Sunidhi-Gaonkar1 commented on #2612
Yes, would like to share further details on slack, I have posted a message on slack regarding the same.

[2022-08-02 11:56] AntiTiming opened #2654 "SBOM unmarshalling does not deal with valid cyclonedx json"
## Description

When trying to scan an existing SBOM with trivy, the unmarhsalling fails for an SBOM created with the python tool cyclonedx-bom (version 3.5.0), which does not add the metadata->component part.

As far as I understand the cyclonedx json schema (https://cyclonedx.org/schema/bom-1.4.schema.json), the metadata property "component" is optional. Validating example SBOMs against the offi

[2022-08-02 13:33] muddassir-r opened #2655 "Difference between cluster and all in scan command"
Whats the diffecrence between the below two commands. When to use **all** and when to use **cluster**

$ trivy k8s -n kube-system --report=summary **all**
$ trivy k8s --report=summary **cluster**

[2022-08-02 15:49] 4oo4 commented on #2624
OK cool. When this happened I'd be scanning a docker image with a command like this:
`trivy image --security-checks vuln --timeout 15m --format template --template "@/usr/local/share/trivy/templates/html.tpl" -o myimage.html myimage`

When I got the error I was running trivy was in a bash script and scanning about 7 containers sequentially, and I had to do this multiple times in a row to get my sc

[2022-08-02 16:55] pcgeek86 opened #2656 "Using "trivy image" --reset and --download-db-only together doesn't download DB"
## Description

If you run `trivy image --reset --download-db-only <image>`, Trivy doesn't download the database.

## What did you expect to happen?

Trivy resets the DB and image layer cache, and re-downloads the DB.

## What happened instead?

Trivy resets the cache, but does *not* download the DB.

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

[2022-08-03 03:50] DmitriyLewen commented on #2624
Hello @4oo4

You are right. Trivy gets error when docker daemon tries to save image.(Trivy saves working image to temp dir and works with this copy).

You said you used script. Do you have error when running Trivy without bash script?  It's very weird, but there might be a problem with this.

[2022-08-03 04:17] 4oo4 commented on #2624
No, I haven't encountered it there. My script isn't doing anything fancy, just finding docker images from running containers then passing it to a trivy command to get a couple different report formats:

[code]
So I think it may just have been something weird with the way I was testing this and perhaps causing something weird to happen with my docker daemon. I haven't experienced it for a while, so

[2022-08-03 04:17] #2624 closed

[2022-08-03 08:01] muddassir-r opened #2657 "Trivy - Vulnerability scan failed with error."
scan error: unable to initialize a scanner: unable to initialize a docker scanner: 4 errors occurred:

unable to inspect the image (image/present/in/private/acr): Error: No such image: image/present/in/private/acr

unable to initialize Podman client: no podman socket found: stat /run/user/1000/podman/podman.sock: no such file or directory

 failed to initialize a containerd client: failed to dial

[2022-08-03 08:46] knqyf263 commented on #2555
Uppercase is not allowed in repository name, so I'd say it is not our issue. Please feel free to reopen it if I'm missing something.

[code]

[2022-08-03 08:46] #2555 closed

[2022-08-03 09:41] flyingflo commented on #2089
Hi @DmitriyLewen,

looks good! Thank you!
The example CVE is now detected successfully!

For reference:
[code]

[2022-08-03 09:41] #2089 closed

[2022-08-03 10:10] #2657 closed

[2022-08-03 10:10] muddassir-r commented on #2657
Login to the specific private container registry and start the scan with SUDO command

[2022-08-03 12:50] afdesk commented on #2597
@37b could you tell me there are any images for tests?

[2022-08-03 17:01] ldouchy-bl commented on #1350
@ShubhamPalriwala Thanks for looking into that.

As @trevor-vaughan said, anything we can do to have a stable and predictable scanning would be great.

[2022-08-03 18:50] 37b commented on #2597
@afdesk There's no pre-built image for the project, but the code is here https://github.com/DefectDojo/django-DefectDojo

[2022-08-03 20:29] fopingn opened #2658 "Trivy Fatal Error: ECR Image Scanning in AWS Codebuild"
Hi all!
I'm facing an issue with trivy and ECR Image scanning.

I've integrated Trivy in CI (AWS CodeBuild). The scan of image from ECR work fine when I run it locally with aws cred set with an image not from ECR.

Here is the command docker run --rm  -v /var/run/docker.sock:/var/run/docker.sock  aquasec/trivy:0.10.0  image --exit-code 1 --no-progress  tomcat:jdk11-corretto.

Error display below
<

[2022-08-04 02:56] afghanistanyn opened #2659 "```trivy image``` support auth parameterization when use self hosted repo"
1. Using env  ```TRIVY_USERNAME,TRIVY_PASSWORD``` is too difficult when i hava to scan a lot of image from diffrent repo.
2.  i integrate trivy to my app , to set diffrent auth info, i have to  rewrite runner.ScanImage()

i hope ```DockerConfig``` or ```DockerOption``` add to ```flag.Options```

[2022-08-04 06:47] odidev opened #2660 "Enable ARM testing on Github actions"
Hi Team,

Currently, there are only AMD64 test jobs available in GitHub actions. We can add arm64 test jobs as well in the CI to this repository. I have successfully tested all features and ran unit and Module Integration tests of trivy on the ARM64 platform. It will be useful if we add test jobs for ARM64 as well in GitHub actions.

We can do ARM64 testing in GitHub actions using self-hosted arm6

[2022-08-04 07:11] #2180 closed

[2022-08-04 07:13] PenelopeFudd commented on #2017
I just tried version 0.30.4, and still ran out of memory.  :-(

[code]
Dmesg -T output:
[code]

[2022-08-04 07:14] PenelopeFudd commented on #2017
Stdout+stderr output:
[code]

[2022-08-04 07:18] #2522 closed

[2022-08-04 07:23] muddassir-r opened #2661 "Json report to HTML report"
How to convert Json scan report to HTML format.

I tried @contrib/html.tpl but it was showing some error.

[2022-08-04 07:28] afdesk commented on #2661
@muddassir-r

[code]

[2022-08-04 07:32] muddassir-r commented on #2661
I am using the following
sudo trivy kubernetes -n namespace deployment appname --timeout 3000s --format template --template "@contrib/html.tpl" -o report.html

Do we need to mention -o filename.html?

[2022-08-04 07:42] afdesk commented on #2597
@37b thanks! i can see that this project uses `python:3.8.13-slim`. it depends on `debian 11.4`, right?

which format is sensitive for you?
i mean where do you see incorrect outpur: `cpe:2.3:a:dpkg:dpkg:1.20.9:*:*:*:*:*:*:*`?

thanks a lot!

[2022-08-04 07:45] afdesk commented on #2661
@muddassir-r could you check a path to the html template?
i mean that subfolder `contrib` should contain `html.tpl`.

[2022-08-04 07:46] afdesk commented on #2661
@muddassir-r also `json` format works correctly, right?

[2022-08-04 07:47] muddassir-r commented on #2661
@afdesk
yes json works correctly, I installed trivy using the debian package. Is there something I need to do differently.

[2022-08-04 07:51] afdesk commented on #2661
you can download `html.tpl` here https://github.com/aquasecurity/trivy/blob/main/contrib/html.tpl
and use a path to this file

[2022-08-04 07:51] afdesk commented on #2661
does it work?

[2022-08-04 07:51] muddassir-r commented on #2661
@afdesk i am getting the below error.
FATAL   unable to write results: unknown format "template". Use "json" or "table"

[2022-08-04 07:53] afdesk commented on #2661
@muddassir-r oh, it maybe another issue

[2022-08-04 07:54] muddassir-r commented on #2661
@afdesk please let me know is you need more info to debug. I would be happy to share.

[2022-08-04 07:58] muddassir-r commented on #2661
@afdesk do I need to provide the path in double quotes ""?

[2022-08-04 08:19] robertlagrant commented on #2557
Erm, _yes!_ That works perfectly! Thanks.

[2022-08-04 08:50] knqyf263 commented on #2655
`cluster` includes cluster-level resources such as ClusterRole

[2022-08-04 09:44] muddassir-r commented on #2655
@knqyf263 So can I add both `cluster `and `all `in single command. or which one to use for maximum coverage?

[2022-08-04 11:19] knqyf263 commented on #2655
`cluster` covers more than `all`. Please refer to the doc.
https://aquasecurity.github.io/trivy/v0.30.4/docs/kubernetes/cli/scanning/

[2022-08-04 12:32] muddassir-r commented on #2655
@knqyf263 Thank you for your response.
Actually `https://aquasecurity.github.io/trivy/v0.30.4/docs/kubernetes/cli/scanning/` doesn't explains the difference.

[2022-08-04 12:32] #2655 closed

[2022-08-04 12:34] fopingn commented on #2658
Hi, @Narayan Gowraj I've a same issue like you. Do you solve it on your side?

[2022-08-04 12:35] fopingn commented on #2658
cc @knqyf263

[2022-08-04 13:26] getrobinhood42 opened #2663 "trivy - "error","msg":"Running trivy failed""
After updating Harbor to version 2.5.3 we get the error message from
trivy - "error", "msg": "Running trivy failed"

Steps to recreate:

    create project "docker.io"
    push into project "docker.io" Images:
    docker.io/rancher/rancher-agent:v2.6.6
    docker.io/rancher/rancher:v2.6.6
    Harbor GUI: Interrogation Services => Vulnerability => SCAN NOW
    wait to get errors

we already triedt:

[2022-08-04 13:38] getrobinhood42 commented on #2663
I have also reported the error to habor
https://github.com/goharbor/harbor/issues/17266

[2022-08-04 14:22] knqyf263 commented on #2655
OK, we'll update the doc. Thanks.

[2022-08-04 18:44] PenelopeFudd commented on #2017
When `--security-checks vuln` was added, the scan ran to completion.  Some points:
* Yayyy, it wasn't killed!
* The message should probably say "if your scan runs out of memory and is killed" instead of "if your scanning is slow".
* How should users scan for secrets if doing so causes trivy to run out of memory?
* The program can (probably?) scan one file at a time without running out of memory, b

[2022-08-04 19:51] 37b commented on #2597
@afdesk According to the spec (from Wikipedia, I am not an expert)

`cpe:<cpe_version>:<part>:<vendor>:<product>:<version>:<update>:<edition>:<language>:<sw_edition>:<target_sw>:<target_hw>:<other>`

the first `dpkg` entry should be the vendor, in this case `debian`

[2022-08-04 20:16] tofay opened #2664 "feat(rust): support scanning of binaries with cargo-auditable"
https://github.com/rust-secure-code/cargo-auditable is a cargo plugin that can be used to embed dependency information into Rust binaries at build time, for detection by SCA tools such as trivy.

It would be good for trivy to support this - I intend to have a go at adding support to go-dep-parser.

Context:
- https://github.com/microsoft/go-rustaudit is a go library for extracting and parsing that

[2022-08-04 21:42] wavemoran commented on #748
I also see something similar when running locally on my laptop. I run trivy and it scans the file, but reports no failures. I immediately rerun the same command, and it successfully finds the failures. Very intermittent on if it comes back successful or not.

[code]

Version:
[code]

[2022-08-05 00:06] #2125 closed

[2022-08-05 01:41] zhanglc opened #2665 "error retrieving template from path: open contrib/gitlab-codequality.tpl: no such file or directory"
## Description

install the `trivy` by repository with command `yum -y install trivy`。

there is no `contrib` folder here .

i thank that's the reason.

## What did you expect to happen?

write the result with template.

## What happened instead?

`2022-08-04T18:20:32.427+0800	FATAL	report error: unable to write results: failed to initialize template writer: error retrieving template from path: op

[2022-08-05 04:00] zhanglc commented on #2665
sorry , we need use `@/usr/local/share/trivy/templates/gitlab-codequality.tpl` instead when install by `yum`

[2022-08-05 04:00] #2665 closed

[2022-08-05 04:04] DmitriyLewen commented on #2017
hmm... that's very strange.
Thank you very much for your investigation!
We will check it.

Regards, Dmitriy

[2022-08-05 06:51] 1003n40 opened #2667 "Multiple parallel requests to the trivy server cuts off http response"
## Description

When I do multiple scan jobs on kubernetes cluster (many pods which does the command `trivy image --server http://hostname:port --format json image`, some of the logs for different scans are cut, which later is a problem for me because I use the log to parse the json and if it is not consistent I can't retrieve the vulnerabilities and do my job. I thought it is problem resource wis

[2022-08-05 07:35] Kilz78 commented on #2088
@knqyf263 Hi, any link to one issue on the harbor project related this request ?

I have the same needs, so I'm not sure to understand well, trivy can scan for misconfiguration but why it's not possible to do this type of scan directly with harbor ?

[2022-08-05 08:07] Sjord opened #2668 "Nuget csproj support"
C# project files, with the extension .csproj, define dependencies like this:

[code]

I would like for Trivy to scan these dependencies for known vulnerabilities.

See also [NuGet Support · Issue #681 · aquasecurity/trivy](https://github.com/aquasecurity/trivy/issues/681).

[2022-08-05 12:36] kumaranthirumalai opened #2669 "Getting error while we use Images in Aquasec scanner through Jenkins"
Hi Team, We have  created job that scans the image through Aquasec  Scanner ,job was running successfully till we got the below error

[code]

[2022-08-05 17:33] dkahn22 opened #2670 "Add Severity to .trivyignore"
Would it be possible to add the capability to add a Severity field to the .trivyignore.  This feature would cover the case where a finding ID can change severity, such as from High to Critical, or Unknown to High, and allow for the finding to not get erroneously ignored.

[2022-08-05 17:43] jamesfmaccoll opened #2671 "can vulns in table be sorted by severity, so that "CRITICAL" display first etc?"
As title, I'd like to be able to sort table vulns by severity. This is so that when developers are checking, they'll see the worst vulns first, which I believe will encourage action, rather than possibly being buried further down "randomly".

[2022-08-05 23:20] PenelopeFudd commented on #2017
Thanks!

[2022-08-06 00:05] #2144 closed

[2022-08-06 09:38] itaysk opened #2672 "Add AVD link to RBAC scans"

[2022-08-08 03:05] zhanglc commented on #2430
the same issue, when use this as
[code]

and

[code]

trivy not detection the right version

[2022-08-08 08:41] yyy1000 opened #2676 "Need to scan image's misconfiguration information"
Hi Team,

Recently, I want a security scanner to get the image's misconfiguration information, such as the Dockerfile which builds the image.

Now I try the command from the [documentation:](https://aquasecurity.github.io/trivy/v0.30.4/docs/misconfiguration/scanning/)

, however, the result shows  "Detected config files: 0".

I can't get any misconfiguration information, is this because of my inco

[2022-08-08 09:11] trottomv opened #2678 "Support the report import to faraday"
With a bit change in the junit.tpl trivy can support import to Faraday vulnerability management tool

[2022-08-08 10:44] DmitriyLewen commented on #2430
Hello @zhanglc
Thanks for your information!

looks like 1 dependency is placed in `dependencyManagement`.
Can you specify which tags (`dependencyManagement`, `dependencyManagement` or `Parent`) contain your dependencies?

Regards, Dmitriy

[2022-08-08 12:15] #2654 closed

[2022-08-08 12:38] rskjetlein commented on #2456
See the same issue with version 0.30.4
`2022-08-08T09:12:57.391+0200	INFO	Need to update DB
2022-08-08T09:12:57.391+0200	INFO	DB Repository: ghcr.io/aquasecurity/trivy-db
2022-08-08T09:12:57.[39](https://gitlab.tc.nsc.no/soctools/vector/-/jobs/62593#L39)1+0200	INFO	Downloading DB...
2022-08-08T09:12:57.445+0200	FATAL	init error: DB error: failed to download vulnerability DB: OCI artifact error: OC

[2022-08-08 12:47] #2678 closed

[2022-08-08 13:27] #2614 closed

[2022-08-08 13:44] jamesfmaccoll commented on #2154
agreed, this would be a nice feature.

[2022-08-08 15:22] #2276 closed

[2022-08-08 16:37] krol3 opened #2681 "json result with trivy image"
Hi!

I'm genereting a json output ` trivy image --format json --output alpine.json alpine:3.10.9`

In the json generated, I can't the  "total" structure, that I found in the --format table

[code]
I expected to have in the json similar to this sample in json, this structure will help us to generate template to Postee. @simar7

[code]

[2022-08-08 17:23] PrimeSinner opened #2682 "Change test results destination in azure devops build pipeline"
I am using publish test results task in azure devops pipeline Tab. How do i really change the destination - like creating a new tab in the build pipeline ?

Attaching build screenshot mentioning desired state!

My Build pipeline looks like this....

`
trigger: none

pool:
  vmImage: 'ubuntu-latest'
variables:
  registry: 'myrepotest.azurecr.io'
  tag: '$(Build.BuildId)'
  imageName: 'myimage123435

[2022-08-09 00:57] sblask opened #2683 "Trivy reports wrong number of config files for Terraform"
## Description

I've got a terraform module with one main.tf that looks like this:

[code]

When I run trivy on the directory it says 0 files detected:

[code]

When I change the Terraform file and add:

[code]

And run trivy again I get:

[code]

When I add a description:

[code]

The error goes away but I still get 1 file reported.

## What did you expect to happen?

I should always get the righ

[2022-08-09 07:32] zyyw opened #2684 "Scanning images fails with error message "running trivy wrapper: running trivy: exit status 1""
Hi, when running pipeline to prepare for Harbor 2.6.0 release (using TRIVYVERSION=v0.29.2, TRIVYADAPTERVERSION=v0.30.0), we found scan all occasionally failed (not consistent fails) with the following error message:
[code]

a relatively full message is here:
[code]

This error is similar to this one:
* https://github.com/goharbor/harbor/issues/15977
except that in issue-15977 it is `running trivy:

[2022-08-09 08:18] knqyf263 commented on #2684
It is just a timeout like the log message says. Jar scanning takes time and it is likely to lead to a timeout. You need to increase the timeout value.
https://github.com/aquasecurity/harbor-scanner-trivy/blob/ff073cd57730f9258ec9fb6a72852f61a598f6e4/helm/harbor-scanner-trivy/values.yaml#L69-L70

It could be another issue.

[2022-08-09 08:28] knqyf263 commented on #2612
We use GitHub Actions only.

AFAIK, Travis CI is not free for us.

https://daniel.haxx.se/blog/2021/06/14/bye-bye-travis-ci/

[2022-08-09 08:50] knqyf263 commented on #2421
`--vuln-type os` scans only OS packages.

[2022-08-09 08:51] knqyf263 commented on #1390
`.deps.json` support is out.
https://github.com/aquasecurity/trivy/pull/2487

[2022-08-09 08:51] #1390 closed

[2022-08-09 09:39] niklaskeerl opened #2687 "Is Vulnerability database needed to create SBOMs?"
First of all, thank you for maintaining such an important product for security.
I use trivy to create SBOMs for all kinds of artifacts from different programming languages since trivy supports very many of them.
Here also comes my question.

Since I only want to create SBOMs and do not want vulnerability detection, I want to ask if downloading the vulnerability database is necessary?
If it is not

[2022-08-09 10:21] knqyf263 commented on #2687
Duplicated. Coming in v0.31.0.
https://github.com/aquasecurity/trivy/issues/2557

[2022-08-09 10:21] #2687 closed

[2022-08-09 11:40] jkone27 commented on #1390
we get dotnet-core (deps.json) scans, on new NET5 and NET6 projects which have no .deps.json , and we received vulnerabilities from 2019 in 2022 NET6 images. how should we adress this? where do you pass the dotnet version hint to trivy to not make this kind of mistakes?

[2022-08-09 15:21] fabiorush opened #2688 "Trivy fail to show Node.js vulnerability"
## Description

I was looking for a Node.js vulnerability that could show Trivy ability to detect docker images vulnerability. I opt for the [CVE-2021-22883](https://www.cvedetails.com/cve/CVE-2021-22883/) which was easy to demonstrate in a presentation. The vulnerability details tells that Node.js before 10.24.0, 12.21.0, 14.16.0, and 15.10.0 is vulnerable to a denial of service attack when too m

[2022-08-09 18:30] zfLQ2qx2 opened #2691 "Cache fills to capacity then fails"
## Description

Using trivy as a service with a redis backing, it appears that nothing ever clears data from redis. It continued to fill until it hit 100% at which point scans started failing. To remediate I had to connect to redis with the cli and run FLUSHALL. trivy image -c --server x.y.z gave an error.

## What did you expect to happen?

I had expected data to fall out of redis over time, perh

[2022-08-09 20:27] eslamkarim commented on #2620
@knqyf263 this page says that dev dependencies are included but i don't see that
using other solutions i do find some vulnerable dependencies while in argo it doesn't really care it just flags a package vulnerable if this package itself have vulnerabilities.
did i understand the table wrong? does dev dependencies mean something else than what i expected?

[2022-08-09 20:43] gsdatta commented on #2340
Running into this same issue, unfortunately I'm unable to share the jar as it's proprietary code, but here's an example:

1. Create a spring boot project using this [Spring Initializr configuration](https://start.spring.io/#!type=gradle-project&language=java&platformVersion=2.7.2&packaging=jar&jvmVersion=17&groupId=com.example&artifactId=demo&name=demo&description=Demo%20project%20for%20Spring%20B

[2022-08-10 02:32] zhanglc commented on #2430
@DmitriyLewen

the bellow is the minimum reproducible configuration:

[code]
pom.xml
[code]

application.yml
[code]
trivy-secret.yaml

[code]

trivy version:
[code]

**vuln check issue**

the `dependency` seems not like the maven.

it's should be `org.springframework.boot:spring-boot:jar:2.5.14:compile`. but trivy detection it as ` 2.5.3 ` from the
[code]

[code]

[code]

**secret check issue**

w

[2022-08-10 05:23] DmitriyLewen commented on #2430
you need to use correct regex group name. In your case: `secret-group-name: password`.

Trivy doesn't currently support license lookups for java files.

About vulnerability checking:
I will check your information and write to you later.

Regards, Dmitriy

[2022-08-10 05:54] DmitriyLewen commented on #2340
Hello @gsdatta
Thanks a lot!
I will check and write to you.

[2022-08-10 10:23] tofuatjava opened #2694 "Trying to scan a mico native image failed"
## Description
I have followed the instructions on [quarkus.io](https://quarkus.io/guides/building-native-image) to build a native image from my quarkus java programm (for demonstration the getting-started works well). When I want to scan the image with trivy I fail.

[code]
I have podman installed on this machine but no socket/daemon running. Should not neccessary as far as I know.
[code]

Howeve

[2022-08-10 10:43] #2664 closed

[2022-08-10 18:06] christianmaierger commented on #1542
@afdesk

quick question, if I may ask I guess you will be able to help, I want to use a trivyignore file but it seems not that easy as I thought.
So, when you have a file executing:

`$ trivy image --ignorefile ignore-alpine alpine:latest`

It is not just enough to upload a file named ignore-alpine to the same folder the file/script is run from, or also one could make a file in the script called i

[2022-08-11 00:06] #2048 closed

[2022-08-11 00:18] zfLQ2qx2 commented on #2691
It doesn't look like Trivy sets any expiration on the redis keys. Redis doesn't keep track of when keys are created but does keep track of when they were last accessed. Two potential solutions outside of Trivy are 1) set an eviction policy of allkeys-lru and 2) have a periodic job to iterate the keys are remove the ones  that have not been accessed recently.

[2022-08-11 05:23] muddassir-r opened #2695 "Benchmarks/standards that trivy follows."
What standards/benchmarks like OWASP,CIS,STRIDE does trivy follows ?

[2022-08-11 07:01] sohnaeo opened #2696 "Scan Multiple Images"
Hi,

I am trying to work out how can I run trivy against multiple docker images. As per the command,

`--input value, -i value          input file path instead of image name [$TRIVY_INPUT]`

I am not sure how the file look like. Could someone help to provide me the file format how it should look like? Documentation doesnt provide any more information about this. I tried putting the image names in

[2022-08-11 10:35] erikgb commented on #1411
@knqyf263 Can you please elaborate on this statement about scale out? I am trying to set up at Trivy server with HA. Isn't that possible?

[2022-08-11 13:59] #2476 closed

[2022-08-12 04:43] vistasunil opened #2698 "Listed GO vulnerabilities not detected by trivy"
## Description

## What did you expect to happen?
Scanned a container image having helm and kubectl packages installed to list all security vulnerabilities.

## What happened instead?
During scan its observed that below GO vulnerabilities were not detected by Trivy image scan:

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-micr

[2022-08-12 11:38] DmitriyLewen commented on #2340
Hello @gsdatta
Thanks for your example!

I checked and  found no problem with Trivy working.

My investigation:

`gradle.build` without `forse`(without.jar):
[code]

`gradle.build` without `forse`(with.jar):
[code]

I don't know why `Gradle` is using `v2.9.0` and i used `v2.9.1` in `forse` field for test.
Trivy finds versions correct:
[code]

I also look inside jars. They contain correct versions

[2022-08-12 14:15] lizduke commented on #2544
I have this as well in  0.30.4 - would be really useful to get a summary showing no issues with an image.

[2022-08-12 19:12] fopingn commented on #2658
With an image from ECR trivy scan won't work.

Command here:  docker run --rm -v /var/run/docker.sock:/var/run/docker.sock -v ${PWD}/trivy-cache/:/root/.cache/  xxxxxxxxx.dkr.ecr.ca-central-1.amazonaws.com/base/aquasec/trivy:latest image xxxxxxxxx.dkr.ecr.ca-central-1.amazonaws.com/base/nginx:1.21.6-alpine

Error below:
FATAL   image scan error: scan error: unable to initialize a scanner: unable t

[2022-08-14 00:05] #2164 closed

[2022-08-15 06:02] knqyf263 opened #2702 "Scan SBOM attestation in Rekor"
## Description
SBOM attestation can be stored in Rekor and searched by digest such as image digest. If an image has an SBOM attestation in Rekor, we'll use it instead of scanning the image itself.

[2022-08-15 06:02] knqyf263 commented on #2702
Assigned to @otms61

[2022-08-15 08:04] tamirkiviti13 opened #2703 "Add trivy the ability to inject "Custom Scanners""
Today, in order to scan files for misconfigurations, trivy registers a [`PostHandler`](https://github.com/aquasecurity/trivy/blob/main/pkg/fanal/handler/misconf/misconf.go) which contains a map of scanners, and each scanner knows how to scan its own type of data.

I would like trivy to have the option to inject my own scanners, that will implement defsec's [`Scanner`](https://github.com/aquasecuri

[2022-08-15 09:06] DmitriyLewen commented on #2430
Hello @zhanglc

I also checked your `pom.xml` file.
It is same problem.

Created a [PR to fix this bug](https://github.com/aquasecurity/go-dep-parser/pull/116).
When PR is merged, I will write in this issue.

Regards Dmitriy

[2022-08-15 09:22] DmitriyLewen commented on #2671
Hello @jamesfmaccoll

Trivy is currently unable to sort the results.

We are always glad to new members. contributions.
You can create changes and create PR.
More information about contribution [here](https://aquasecurity.github.io/trivy/v0.30.4/community/contribute/pr/).

Best Regards, Dmitriy

[2022-08-15 09:41] mihob opened #2705 "composer.lock files in vendor folder are scanned"
## Description

I scanned an image with a php application and trivy scanned the composer.lock files in the vendor folder. But these do not reflect what is really installed, trivy should only scan the composer.lock of the application.

This was also the case in the older versions.

## What did you expect to happen?

composer.lock files in the vendor folder should be ignored.

## What happened inste

[2022-08-15 09:51] DmitriyLewen commented on #2688
Hello @fabiorush
Thanks for your report!

Your image is based on `Debian 9`.
This OS version is not currently support and doesn't include [CVE-2021-22883](https://github.com/aquasecurity/vuln-list/blob/7a71cd82433c8e61180bc3850f5c7450f560328b/debian/CVE/CVE-2021-22883.json#L25-L32).([CVE-2021-22883 in Debian DB](https://security-tracker.debian.org/tracker/CVE-2021-22883)).
That is why Trivy doesn'

[2022-08-15 11:45] knqyf263 commented on #2705
Thanks for the report. It is a regression. We will fix it soon.

[2022-08-15 12:33] jkone27 opened #2706 "NET6 CVE-2019-0980 CVE-2019-0981 - possible bug in .deps.json trans deps resolution"
Hi,

we are running NET6 images , but we get this 2019 vulnerability reported when running our trivy scans.

is this actually expected or could it be a false positive?

atm we added

CVE-2019-0980
CVE-2019-0981

but we cannot detect the source of the vulnerability after we updated all our packages

[code]

i am not sure we actually use this package, i see it not appearing at all after running

```

[2022-08-15 13:06] jkone27 commented on #2706
[code]
so seems we already run the latest  System.Private.Uri: 4.3.2, so it's kind of weird.

coudl you provide a trivy switch by selecting e.g. only NET6 ? maybe some scans are running for other deployments target that we dont run in production?

[2022-08-15 14:06] itaysk opened #2707 "Add support for Java/Gradle"

[2022-08-15 14:09] itaysk opened #2708 "Add support for cpp/conan"

[2022-08-15 14:10] itaysk opened #2709 "Add support for Azure/ARM"

[2022-08-15 14:21] itaysk commented on #2199
is the investigation over? can we close this?

[2022-08-15 14:22] itaysk commented on #2200
I believe this is complete isn't it?

[2022-08-15 17:40] #2194 closed

[2022-08-15 17:45] itaysk commented on #2288
I think we would need to
1. stop generating docs on patch versions
2. remove existing patch versions manually
I'll create a PR for 1

[2022-08-16 00:06] #2158 closed

[2022-08-16 00:08] otms61 commented on #2702
Alright. I'll try.

[2022-08-16 05:59] #2325 closed

[2022-08-16 06:31] odidev opened #2715 "Required docker images for arm64"
Hi team

 I am trying to add arm64 support to enable the test in CI. I have successfully run the **unit test**, **module-test** on my local arm64 machine but **Integration** test is failing on arm64 machine as the docker images [containerd:latest](https://github.com/aquasecurity/trivy-test-images/pkgs/container/trivy-test-images%2Fcontainerd) and [vulnimage](https://github.com/aquasecurity/trivy-t

[2022-08-16 07:03] knqyf263 commented on #2715
It is built from this Dockerfile.
https://github.com/aquasecurity/trivy-ci-test/blob/main/Dockerfile

We probably should move it to [trivy-test-images](https://github.com/aquasecurity/trivy-test-images).

[2022-08-16 08:54] namandf opened #2717 "Some of the Java archives are not being detected by Trivy"
Scanned some of the java docker images available on Docker hub eg. jinghan94/java-jar-run , jensatdocker/jens-jar, ibmjava etc. Bunch of java packages are not captured and scanned for vulnerabilities.

The debug logs suggest that such packages are being skipped due to the error No such POM in the central repositories {"file": ".........."} .

When i enable --offline-scan, it still continues to ski

[2022-08-16 08:56] DmitriyLewen commented on #2698
Hello @vistasunil
Thanks for your report!

Support for CentOS 7 has ended.
[RHEL database](https://access.redhat.com/security/security-updates/#/cve) doesn't contain your CVEs for RHEL 7.
e.g. [CVE-2021-44716](https://access.redhat.com/security/cve/cve-2021-44716).

You need to update base image to detect these CVEs.

Best Regards, Dmitriy

[2022-08-16 11:16] DmitriyLewen commented on #2696
Hello @sohnaeo
Thanks for your interest to Trivy!

Trivy doesn't currently support scanning multiple images.

`--image` flag used to scan local [tar](https://docs.docker.com/engine/reference/commandline/save/#examples) image.

Regards, Dmitriy

[2022-08-16 11:40] liamg opened #2719 "Panic during AWS scanning of ELB when no SSL policy is set"
## Description

See https://twitter.com/kthrtty/status/1559491282438787073

[2022-08-16 11:53] vistasunil commented on #2698
Hello @DmitriyLewen ,

Thanks for your response but CentOS 7 is not out of support yet. It is planned to go end of life in June 2024. Therefore, it should be still supported by Trivy vulnerability DB and report these missing vulnerabilities. Will you be able to provide some option to use CentOS 7 base image support?

Please see the attached image for CentOS 7 EOL details.

![image](https://user-im

[2022-08-16 12:00] #2719 closed

[2022-08-16 12:41] knqyf263 opened #2722 "Deduplicate ECS task definitions"
ECS task definitions are versioned by `revision`. `trivy aws` shows duplicated (technically different, but similar) results like

- arn:aws:ecs:ap-northeast-1:01234567890:task-definition/api-server:1
- arn:aws:ecs:ap-northeast-1:01234567890:task-definition/api-server:2
- arn:aws:ecs:ap-northeast-1:01234567890:task-definition/api-server:3
- ...
- arn:aws:ecs:ap-northeast-1:01234567890:task-definiti

[2022-08-16 12:50] pritammobisoft opened #2723 "Trivi crashes while scanning AWS"
Running in WSL 2 (Ubuntu 20.04.3 LTS).
Executable used: trivy_0.31.0_Linux-64bit.tar.gz

Command and output

[code]

[2022-08-16 13:00] belambic commented on #2723
I got the same error running on PopOs using the .deb

[2022-08-16 13:02] becelot commented on #2723
Same here. Using MacOS ARM64

[2022-08-16 13:02] nilicule commented on #2723
Same here, though in a different component, using MacOS ARM64

[2022-08-16 13:04] owenrumney commented on #2723
We have a fix for this, will be released shortly

[2022-08-16 13:05] owenrumney commented on #2723
https://github.com/aquasecurity/trivy/pull/2720

[2022-08-16 13:18] otms61 opened #2725 "Panic during AWS scanning of API Gateway"
## Description

I'm using trivy of main branch. When I scan AWS, I got the following error.

[code]

## What did you expect to happen?

## What happened instead?

## Output of run with `-debug`:

[code]

panic: runtime error: invalid memory address or nil pointer dereference

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):

[2022-08-16 13:20] #2723 closed

[2022-08-16 13:35] nilicule opened #2728 "Trivy v0.31.1 crashing when scanning AWS"
## Description

Trivy crashes when scanning AWS:

[code]

## What did you expect to happen?

## What happened instead?

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):

[2022-08-16 13:50] liamg commented on #2725
Thanks @otms61 - this is fixed in the PR now :+1:

[2022-08-16 14:04] otms61 commented on #2725
Great!  I got a warning, but the command worked!

[code]

[2022-08-16 14:12] liamg commented on #2725
Cool! Thanks for testing. The warning is a deserialisation issue with the official AWS SDK - I raised an issue to track: https://github.com/aws/aws-sdk-go-v2/issues/1805

[2022-08-16 15:00] #2725 closed

[2022-08-16 15:00] #2728 closed

[2022-08-16 20:44] aktech commented on #2660
Hey @odidev Sorry for jumping on this. "ARM testing" got my attention.

You can achieve this easily with https://cirun.io It creates on demand runners for GitHub Actions on your cloud and manages the complete lifecycle. You simply connect your cloud provider and define what runners you need in a simple `yaml` file and that's it.

See https://docs.cirun.io/reference/examples.html#aws for example. L

[2022-08-17 00:43] gsdatta commented on #2340
Hey @DmitriyLewen, thanks for giving it a try – let me circle back on this with a better working example

[2022-08-17 03:39] DmitriyLewen commented on #2698
oh... sorry to confused you. I mixed up eol dated for `CentOS 7` and `CentOS 8`. Thanks for correcting me.

For all CentOS releases, Trivy gets vulnerabilities from `RedHad advisory database`. This database contains your CVEs, but these CVEs don't have `Red Hat Enterprise Linux 7` platform. This is why Trivy doesn't receive these CVEs for CentOS 7.
It is possible that rhel 7 packages don't have th

[2022-08-17 05:31] swapHR opened #2732 "add support for --profile flag w.r.t to saml2aws"
While running trivy locally we encounter `FATAL	unknown flag: --profile` when the environment is configured with [saml2aws](https://github.com/Versent/saml2aws) which has multiple aws profiles

[2022-08-17 06:12] DmitriyLewen commented on #2694
Hello @tofuatjava
Thanks for your report!

your scan target for `1.0.0-SNAPSHOT` has an error (missing `S` in "SNAP**S**HOT"):
`trivy image --debug quay.io/tofuatwork/quarkus-getting-started:1.0.0-SNAPHOT`

Trivy works correctly with this image.

[code]

Best Regards, Dmitriy

[2022-08-17 06:14] #2694 closed

[2022-08-17 08:50] liamg commented on #2732
We can add this argument, in the meantime could you try using `export AWS_PROFILE=whatever` to set your profile name and then running trivy?

[2022-08-17 10:14] owenrumney opened #2734 "feat: Support AWS 1.4"
Tracked in defsec under https://github.com/aquasecurity/defsec/issues/858

[2022-08-17 10:39] knqyf263 commented on #2734
@owenrumney Do you think it will come in v0.32.0?

[2022-08-17 10:44] owenrumney commented on #2734
Should do - there isn't too much to do, but I'm out for 2 weeks of it and @liamg  is out for 1 week. We should make it though

[2022-08-17 10:48] knqyf263 commented on #2734
Noted. I set it for v0.32.0. If we don't make it, we can put it off to v0.33.0.

[2022-08-17 11:58] romanwoessner opened #2735 "Scanning of Helm chart with dependencies does not work"
## Scanning of Helm chart with dependencies does not work

Misconfiguration scanning of simple Helm charts without dependencies works as expected. As soon as you are trying to scan a chart with dependencies, the scan does not work.

Steps to reproduce:
1. Create a new helm chart with `helm create chart-with-dependencies`
2. Add a dependency in the newly created `Chart.yaml`:
[code]
3. Run `helm de

[2022-08-17 12:16] qwerty1q2w commented on #537
+1

[2022-08-17 13:03] swapHR commented on #2732
Thanks, this was helpful!

[2022-08-17 13:03] #2732 closed

[2022-08-17 13:55] jpooler opened #2736 "GovCloud Support?"
I searched the issues and couldn't find anything, but was wondering if you were planning to support GovCloud for this? I ran it against our account and it all came back at 0's, whereas against our non-govcloud accounts, it came back with more results. I also searched for "aws-us-gov" and seems like for the partition for aws you are hardcoding aws. Is there plans for govcloud support in the future?

[2022-08-17 14:18] julianxhokaxhiu opened #2737 "AWS scan not logging in correctly when using AWS STS"
## Description

Trivy AWS part is not able to log in correctly to AWS when the login process uses AWS STS.

## What did you expect to happen?

The command would scan my account.

## What happened instead?

The command errors.

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):

AWS login is being done usin

[2022-08-17 14:33] AngeloGelmini opened #2738 "Scan AWS: Adapter error: failed to run adapter for api-gateway"
## Description

Using the tool to have a scan on AWS I obtain a Warning/Error on the api-gateway check:
[code]
I expect that the results on api-gateway are not reliable.
Moreover, all the output said always 0 findings and it's unreliable:
[code]
If I check only one service (like --service ec2) I found many findings.
So that error seems to break all the output search.

## Output of run with `-debug

[2022-08-17 16:13] gsdatta commented on #2340
@DmitriyLewen I was able to reproduce!

1. Starting with the same spring starter as above, add the following to your build.gradle under dependencies:
[code]
2. Run `./gradlew dependencies`, see the following output:
[code]
3. Run `./gradlew build -x check`
4. Run `trivy -d rootfs build/libs/demo-0.0.1-SNAPSHOT.jar`
5. This spits out CVE-2022-25647 with gson version 2.8.5 instead of the above pinne

[2022-08-17 20:30] xxradar opened #2739 "Trivy seems to crash when scanning --service workspaces"
## Description
Trivy seems to crash when scanning --service workspaces

$ trivy aws --region eu-west-3 --service workspaces --debug
2022-08-17T20:27:43.471Z	DEBUG	Severities: ["UNKNOWN" "LOW" "MEDIUM" "HIGH" "CRITICAL"]
2022-08-17T20:27:43.472Z	DEBUG	Timeout is set to less than 1 hour - upgrading to 1 hour for this command.
2022-08-17T20:27:43.472Z	DEBUG	Looking for AWS credentials provider...
202

[2022-08-17 23:41] cathex-matt commented on #1877
@DmitriyLewen
Hi,
For what it's worth, I run  `trivy --debug --insecure image --severity HIGH,CRITICAL,MEDIUM --exit-code 1` and got the logs below:

[code]

[2022-08-18 00:05] #2098 closed

[2022-08-18 00:05] #2068 closed

[2022-08-18 04:45] DmitriyLewen commented on #1877
hm... it looks like a problem with authorization.
Can you try logging into docker as written [here](https://github.com/aquasecurity/trivy/issues/2373#issuecomment-1163355311)?

[2022-08-18 06:47] zhanglc commented on #2430
@DmitriyLewen  I sew the new version `0.31.2` , is this fix in the release ?

[2022-08-18 07:04] muddassir-r opened #2740 "How does trivy locate the config files location in kubernetes cluster"
While running trivy k8s scan, how does trivy identifies the location of config files for misconfiguration scans ?

[2022-08-18 07:39] computeralex92 opened #2742 "Trivy Container image contains zlib vulnerability"
## Description

The container image for the current container image contains a vulnerability in the zlib library (CVE-2022-37434).

## What did you expect to happen?

Image is updated and vulnerability is fixed.

## What happened instead?

Vulnerability is in place, Trivy detects in its one image the vulnerability.

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Addi

[2022-08-18 08:21] vistasunil commented on #2698
Hello @DmitriyLewen ,

Thanks for your reply  but the vulnerabilities missed by Trivy are coming from non-os packages like Go that is part of helm and kubectl installed separately on top of Base OS centos7. Therefore, these should get detected by Trivy scan. Please let us know, how this can be fixed to get accurate results?

Thanks & Regards,
Sunil Kumar

[2022-08-18 08:27] DmitriyLewen commented on #2430
Hello @zhanglc
Unfortunately we didn't have enough time to review [PR](https://github.com/aquasecurity/go-dep-parser/pull/116).
We are currently working on this.

I will write - when PR is merged.

[2022-08-18 08:35] zhanglc commented on #2430
@DmitriyLewen thanks a lot

[2022-08-18 10:28] DmitriyLewen commented on #2340
Thanks for your example.

I found why `Trivy` finds `gson:2.8.5`.

In your example `demo-0.0.1-SNAPSHOT.jar` contains [jclouds-core-2.4.0.jar](https://mvnrepository.com/artifact/org.apache.jclouds/jclouds-core/2.4.0).
[code]

This `jar` contain `gson-2.8.5.jar`:
[code]

After using `constraints` or `force` `jclouds-core-2.4.0.jar` still has `gson-2.8.5.jar`.

Trivy can't guarantee that this `gson-

[2022-08-18 10:38] itaysk commented on #2702
Regarding the UX, the PR uses this format: `trivy image --sbom-attestation <image>`. What do you think about `trivy image --rekor <image>`?
Also I would suggest adding this via the sbom target, like `trivy sbom --rekor <image>`

[2022-08-18 11:05] knqyf263 commented on #2702
SBOM attestation is one of the metadata like image manifest and config, so it is more intuitive to me that it is under `image`. Also, Rekor can have attestations for container images, binaries and any artifacts. When `trivy sbom --rekor foo` is executed, we don't know `foo` is a container image, a local binary or something else. If it is a container image, we need to calculate the digest that is u

[2022-08-18 11:48] cathex-matt commented on #1877
Thanks! It worked simply with authenticating to ghcr. I wasn't aware it was a requirement, was wrongly assuming it was all public.

[2022-08-18 12:11] knqyf263 commented on #1877
I think you had an expired token in local. You re-logged in ghcr.io and the expired token was overwritten. I suppose `docker logout ghcr.io` also addressed your issue.
https://github.com/aquasecurity/trivy/discussions/2689#discussioncomment-3407220

[2022-08-18 14:01] itaysk commented on #2702
makes sense, thanks for the detailed response.
the reason why I suggested --rekor is that maybe we will want to scan sbom attestation from somewhere else (like guac), but that might be too future looking to discuss now.

Also, what do you think about making this behavior on by default? if the service is unavailable/sbom doesn't exist it will still work.

[2022-08-18 14:30] knqyf263 commented on #2702
Ah yes, nice catch. What if specifying the attestation places via flag like `--sbom-attestation oci,rekor,somewhere`? It can disable OCI registries only for example and change the priority however they want like `--sbom-attestation rekor,somewhere,oci`.
And I just remember Rekor as well as OCI registries is also able to be self-hosted. It is a bit complicated, but we may need something like `--sbo

[2022-08-18 15:14] owenrumney commented on #2739
@xxradar  - this should be resolved in the latest release. Could you try with v0.31.2?

[2022-08-18 15:22] isuftin opened #2744 "Any way to ignore secrets scanning in intermediate layers?"
Currently, we build a Docker image to be used internally using https://hub.docker.com/r/jenkins/ssh-agent as the base

We came up on this issue: https://github.com/jenkinsci/docker-ssh-agent/issues/116

In previous versions of Trivy we were fine because we do remove the secrets in the derivative image. However, with the new version of Trivy, the image does get flagged because it does check interme

[2022-08-18 19:35] computeralex92 commented on #2742
Solved with https://github.com/aquasecurity/trivy/pull/2741

[2022-08-18 19:35] #2742 closed

[2022-08-19 00:07] #2139 closed

[2022-08-19 02:21] matt4biz commented on #2739
in v0.31.2 it doesn't crash, but still warns when targeting a region without workspaces, such as us-east-2:

[code]

and then all the vulnerability counts are 0, which is suspicious

[2022-08-19 04:18] symgryph opened #2745 "Proper Man pages?"
I would be willing to add 'man' pages for this. But I would need some base docs. Are there some nice markdown pages, whatnot that would enable me to build a proper man page?

Thomas

[2022-08-19 04:26] DmitriyLewen commented on #2744
Hello @isuftin
Thanks for your interest to Trivy!

Can you explain the reason why you want to disable secrets scanning in intermediate layers?
After removing secrets they still exists in your image.

Best Regards, Dmitriy

[2022-08-19 06:28] gsdatta commented on #2340
Got it, that makes much more sense – thanks for working through this with me and pointing me in the right direction!

[2022-08-19 07:37] saboacn14 opened #2746 "Trivy misconfiguration custom policy example for docker-compose is not working"
## Description

While trying out the configuration scanning with custom policies for docker-compose files, I was not able to get the checks to work as trivy apparently does not detect the config files even though the correct folder is specified.
After a while I explicitly tried the example from this repository:

[code]

Is the documentation outdated or does the current version of trivy require the

[2022-08-19 10:09] DmitriyLewen commented on #2698
Hello @vistasunil

If you using gobinaries:

Gobinaries don't contain packages from [standard library](https://pkg.go.dev/std)(you can use `go version -m <path-to-bin>` command to check it).
That is why Trivy can't find these packages and vulnerabilities for them.

As long as gobinaries don't have information about packages from `standard library`, we can't fix this.

Regards, Dmitriy

[2022-08-19 10:22] vistasunil commented on #2698
@DmitriyLewen
Google container scan was able to find these vulnerabilities and that's why we are aware about it. Being a container scanning tool, trivy should also be able to find these. Do you have plan to add this capability in future? Because with current status, trivy can't find all vulnerabilities in an image which is a serious bug.

[2022-08-19 10:49] DmitriyLewen commented on #2698
We don't have tool to detect dependencies from `standard library`. When we get a chance, we'll add it.

Are you sure it's not a false positive?
I checked [helm](https://github.com/helm/helm/search?q=math%2Fbig) and [kubectl](https://github.com/kubernetes/kubectl/search?q=math%2Fbig). Both repositories don't contain `math/big` package ([CVE-2022-23772](https://github.com/golang/vulndb/blob/master/d

[2022-08-19 11:15] DmitriyLewen commented on #2340
Thanks for your work!

I close this issue. Feel free to reopen this issue if you have any questions.

[2022-08-19 11:15] #2340 closed

[2022-08-19 12:48] rbrayner commented on #2688
Hi guys!

@DmitriyLewen, even testing it by using a docker image (latest tag), it does not detect the vulnerability. If using the docker scan (snyk), it detects.

[2022-08-19 13:51] DarwinJS opened #2749 "Support for `trivy aws --region all`"
Would like to scan all regions with a single output file (for GitLab CI in this case).

Without a wildcard for region I have to also install aws cli to enumerate regions for the partition and so that I get any new regions.

Would it be possible to have trivy automatically determine the available regions with a new value for --region such as `trivy aws --region all` ?

[2022-08-19 13:53] DarwinJS opened #2750 "Support for multiple outputs for CI Log AND CI artifact"
For better and more efficient CI compatibility it would be great to be able to have both the standard output to the stdio and one artifact file. This allows quick reference of results in CI logs.

This prevents the cost of scanning twice to get two kinds of output.

[2022-08-19 13:59] DarwinJS opened #2751 "GitLab Example Support for Non-Security Dashboard Accounts"
The following code would allow GitLab accounts that are not licensed for Security Dashboards to see findings in the JUNIT XML visualization rather than just an artifact file:

[code]

[2022-08-19 14:22] AndrewCharlesHay commented on #1898
@afdesk I am getting an ```Job's log exceeded limit of 4194304 bytes.``` error. How do I suppress the output so it doesn't print to the console?

[2022-08-19 19:07] itaysk commented on #2702
ok so if I'm thinking about this through,
1. I suppose service url will not hold for much further, probably some more connection information will be needed at some point by some service (credentials, protocol, options etc).
2. `--sbom-attestation rekor --rekor-url https://somthing` I think needs to better disambiguate between the "official" services and custom.

so perhaps there's a service connec

[2022-08-21 00:06] #2211 closed

[2022-08-21 06:04] knqyf263 commented on #2698
As Dmitriy said, it looks like most of them are false positives. I guess Google container scanning just detects a Go version compiling the binary and compares versions. For example, if `kubectl` was built by Go 1.17.5, CVE-2022-23806 that was fixed in Go 1.17.7 "should" affect `kubectl` regardless that the package is actually used. CVE-2022-23806 is relevant to `crypto/eliptic` package, but neithe

[2022-08-21 23:21] matthewriedel-flux opened #2752 "Repository Scan Change in JSON Output in v0.31.0"
## Description
Apparently starting in v0.31.0, the JSON output doesn't always include a `Results` object when there are no vulnerabilities.

## What did you expect to happen?
In v0.30.4, when I scan a Git repository of a Python application, I have a `Results` section even though it didn't detect any vulnerabilities:

[code]

## What happened instead?
In v0.31.0, the `Results` object is missing for

[2022-08-21 23:23] matthewriedel-flux commented on #2752
Some more context: We have a custom scanning CI job that uses Trivy. It parses the JSON output and looks in the `Results` object, which it expects to be there.

I'm opening this ticket to understand if this is a bug, or I need to change our pipeline to adapt to the new behaviour.

[2022-08-22 00:06] #1913 closed

[2022-08-22 01:26] mig5 commented on #2752
I reproduce this too, but with the filesystem scan (`trivy fs`).

Was this a deliberate change to remove the 'Results' section if there were no results found?

[2022-08-22 04:07] DmitriyLewen commented on #2688
Hello @rbrayner
I investigated [node:latest](https://hub.docker.com/layers/node/library/node/latest/images/sha256-2eef0e2d04ac0aaa5d7cefbc24a137c42c925d9dffa5a2568cda7618a1378976?context=explore) image.

This image doesn't use `dpkg`. It [downloads](https://hub.docker.com/layers/node/library/node/latest/images/sha256-2eef0e2d04ac0aaa5d7cefbc24a137c42c925d9dffa5a2568cda7618a1378976?context=explore)

[2022-08-22 06:54] omkarparkhe commented on #1639
I agree with @anders-swanson. It would be very help in terms license compliance and also benefits the user/developer to readily consume a notices file with all the relevant licenses and copyright data from the SBOM generated by Trivy.

[2022-08-22 06:55] omkarparkhe opened #2756 "Optionally include Copyrights/Notices in scan results"
Opening a new issue as the older one was closed.
https://github.com/aquasecurity/trivy/issues/1639

[2022-08-22 07:20] cargauer opened #2757 "Scan AWS: kms key with auto-rotation shown as misconfigured"
## Description
aws scan for kms keys shows false misconfiguration

command: trivy aws --account XXXXX--service kms --arn arn:aws:kms:eu-central-1:XXXXX:key/01bXXXXXXXXXXX

arn:aws:kms:eu-central-1:XXXXX:key/01bXXXXXXXXXXX (cloud)

Tests: 1 (SUCCESSES: 0, FAILURES: 1, EXCEPTIONS: 0)
Failures: 1 (UNKNOWN: 0, LOW: 0, MEDIUM: 1, HIGH: 0, CRITICAL: 0)

MEDIUM: Key does not have rotation enabled.
══════

[2022-08-22 07:51] vistasunil commented on #2698
@DmitriyLewen and @knqyf263  Many thanks for your response. I will check with team and update you. Meanwhile, can you please help me with this list kubernetes security policies that Trivy check during Kubernetes cluster and workload scans. We are planning to use Trivy for both Containers and Kubernetes scans.

[2022-08-22 08:51] saboacn14 commented on #2746
Additional information: apparently the last version where this example worked was `0.27.1`

[2022-08-22 09:00] developer-guy opened #2758 "sign vulnerability attestation before saving it to the disk"
We (w/@dentrax) thought there was a slight time window that the attacker could gain access to the system and changes the content of the vulnerability attestation before you sign and upload it to the registry. A similar problem has been addressed in the Syft project for SBOM attestations[^1]. So, we should sign the vulnerability attestation before saving it to the disk.

If you like the idea, we ar

[2022-08-22 09:21] DmitriyLewen commented on #2717
Hello @namandf
Thanks for your report.

I checked your image and missing jars.

These jars don't contain `pom.properties` file. Also `MANIFEST.MF` files don't contain information about `groupId`, `artifactId` and `versions`.
We can't get this information from jar name.

It is not possible to correctly find vulnerabilities for these jars.
That is why we skip these files.

Regards, Dmitriy

[2022-08-22 10:06] namandf commented on #2717
Hi @DmitriyLewen ,
Thank you for the update. Please refer a sample jar which is detected by syft along with vulnerability and missing in trivy.

`2022-08-22T15:32:13.465+0530	DEBUG	No such POM in the central repositories	{"file": "org.eclipse.jetty.server_8.1.14.v20131031.jar"}`

`  {
   "vulnerability": {
    "id": "CVE-2017-9735",
    "dataSource": "https://nvd.nist.gov/vuln/detail/CVE-2017-9735

[2022-08-22 10:32] DmitriyLewen commented on #2717
Thanks a lot for your examples.

I will check them and write to you.

[2022-08-22 12:09] DarwinJS commented on #2750
Closing this as it seems this is one use case for the built-in caching.

[2022-08-22 12:09] #2750 closed

[2022-08-22 12:14] DarwinJS opened #2760 "Scanning AWS Account with template creates blank output"
## Description

When I use this command I get a blank output report: `trivy aws --region us-east-1 --exit-code 0 --format template --template "@/usr/local/share/trivy/templates/gitlab.tpl" -o gl-account-scanning-report.json`

![Screen Shot 2022-08-22 at 8 11 55 AM](https://user-images.githubusercontent.com/11597190/185918298-4ef0b6a6-9fc4-4665-acc1-291c2abcfff1.png)

## What did you expect to happ

[2022-08-22 12:19] lindhe opened #2761 "VSCode extension gets eval_conflict_error: object keys must be unique"
## Description

I'm running the Trivy VS Code extension and I try to run the "Run Trivy against workspace" command against a [Remote WSL](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-wsl) workspace.

## What did you expect to happen?

The scan to run successfully.

## What happened instead?

It fails to run.

**Output**

[code]

## Output of run with `-debug`:

I don

[2022-08-22 12:21] lindhe commented on #2761
I should obviously have posted it [here](https://github.com/aquasecurity/trivy-vscode-extension) instead. Sorry...

[2022-08-22 12:21] #2761 closed

[2022-08-22 12:42] afdesk commented on #2661
@muddassir-r i'm so sorry, i missed this issue and your last comments.
subcommand `kubernetes` in `Trivy` doesn't support `template` flag yet

[2022-08-22 12:45] afdesk commented on #1898
@AndrewCharlesHay you're using GitLab, right?
I'd try to increase `output_limit`: [read more](https://docs.gitlab.com/runner/configuration/advanced-configuration.html#the-runners-section)

[2022-08-22 12:46] muddassir-r commented on #2661
@afdesk Thank you for the response.
Hope we can take this as a feature for enhancement.

[2022-08-22 12:46] #2661 closed

[2022-08-22 13:36] afdesk commented on #2597
@37b sorry, I meant where do you see this CPE string?
how can i reproduce it?
thanks

[2022-08-22 14:18] chen-keinan opened #2762 "compress(bzip2) scan output and encode (base64) it"
it is require to compress(bzip2) scan result output(json) and encode (base64) it.
It has been found that trivy scan job (in k8s) in some cases produces scanning results bigger then pod max log default value (10MB), as result k8s log rotation triggered and trivy-operator is unable to unmarshal results from pod logs.

currently we have implemented work around to compress output and encoded by comman

[2022-08-22 15:39] noorul opened #2763 "trivy image command fails to download DB"
## Description

## What did you expect to happen?

trivy image command should download the latest DB and scan the docker image

## What happened instead?

[code]

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):

I did `brew upgrade` and after that, it stopped working. Looks like a regression in the new

[2022-08-22 18:27] #1877 closed

[2022-08-22 18:27] knqyf263 commented on #2763
Did you see the existing issues? Didn't they help?
https://github.com/aquasecurity/trivy/issues/1877
https://github.com/aquasecurity/trivy/discussions/2689#discussioncomment-3407220

[2022-08-22 22:10] josedonizetti opened #2764 "trivy k8s rbac filter not working"
[code]

it works  though if I also filter by `config`

[code]

[2022-08-22 22:30] #2199 closed

[2022-08-22 22:30] #2200 closed

[2022-08-22 22:34] josedonizetti opened #2766 "k8s: add infra assessment"
There were rules added to defsec specifically for kubernetes infra components. (apiserver, controller manager, etcd, scheduler).
We would like to display those checks in a summary table differently than misconfigurations, to give more emphasis to it.

https://github.com/aquasecurity/defsec/pull/720
https://github.com/aquasecurity/defsec/pull/721

[2022-08-22 23:07] josedonizetti commented on #2601
@mtcolman It seems to me this issue here can be closed, because you were able to scan the cluster once you set the timeout to 30m, correct? And perhaps the issue of not been able to scan the image `registry.aquasec.com/database:2022.4` be raised in a separate issue, because it isn't related?

[2022-08-23 00:06] #2253 closed

[2022-08-23 00:06] #2223 closed

[2022-08-23 04:55] DmitriyLewen commented on #2717
Hello @namandf
I investigated your CVEs.

#### CVE-2017-9735
NVD has mistake with affected versions of `jetty-server`.
This CVE for Jetty 6 - Jetty 8 is unconfirmed and should not be included in the list of affected versions (you can read about it [here](https://github.com/eclipse/jetty.project/issues/1556#issuecomment-319444877)).
You can check [GitHab advisory database](https://github.com/adviso

[2022-08-23 05:58] namandf commented on #2717
Hi @DmitriyLewen ,
Thank you for the detailed explanation.

Is there any workaround to at least list such jars as part of the SBOM even though groupID, artifactID, version information is missing? Couldn't find that option, but just wanted to be sure.
Intend to atleast highlight use of such jars as part of SBOM. Since vulnerability information might be inaccurate , we can skip that , as you pointed

[2022-08-23 06:29] DmitriyLewen commented on #2717
Trivy currently can't change these fields.
Your image uses old versions of libraries. You may need to update this image. It is not safe to use old libraries.

I don't have information about it.
@knqyf263 Can you ask on this question?

[2022-08-23 06:36] namandf commented on #2717
Thank you @DmitriyLewen . Makes sense.
We didn't create this image. :) Was just evaluating tools like Trivy, Syft etc to understand how they behave for different applications. Randomly picked few Java images. The above mentioned image was one of them. Saw similar discrepancy for images like ibmjava, jensatdocker/jens-jar etc so decided to reach out to confirm. Thank you once again for the clarific

[2022-08-23 07:09] knqyf263 commented on #2698
You can see it here.
https://avd.aquasec.com/misconfig/kubernetes/

[2022-08-23 08:41] noorul commented on #2763
Looks like an issue with my ~/.docker/config.json.

[2022-08-23 08:41] #2763 closed

[2022-08-23 08:56] #2764 closed

[2022-08-23 09:15] knqyf263 commented on #2717
Syft uses the CPE approach. It may reduce false negatives, but cause much false positives. Trivy doesn't adopt that as of today.

As Dmitriy pointed out, CVE-2017-9735 is false positive. Also, seems like CVE-2019-17566 affects [batik](https://mvnrepository.com/artifact/org.apache.xmlgraphics/batik), not [batik-gui-util](https://mvnrepository.com/artifact/org.apache.xmlgraphics/batik-gui-util), rig

[2022-08-23 09:36] namandf commented on #2717
Hi @knqyf263 , Thank you for the update.

1. Right . Syft  generates a list of CPEs for a given package and tries to guess the vendor/product. This is on the basis of the information available in Manifest. It can result in false positives as you pointed out. Makes sense.

Wondering if that should impact the SBOM. Was expecting the jars to be listed since its' ultimately a dependency for the applic

[2022-08-23 10:05] afdesk commented on #1542
@christianmaierger sorry, i missed your quick question. and i don't understand it.
`--ignorefile` specifies .trivyignore file, that allows to skip vulnerabilities by IDs.
read more here: [By Vulnerability IDs](https://aquasecurity.github.io/trivy/v0.31.2/docs/vulnerability/examples/filter/#by-vulnerability-ids)

[2022-08-23 10:09] afdesk commented on #2612
just FYI.
I've tested `Trivy` on demo pcc64le instance.
it seems that `trivy_0.31.2_Linux-PPC64LE.tar.gz` works correctly.
but i could't build the code on this machine yet, there is no enough disk space...
asked them to increase hdd )

[2022-08-23 10:17] #2705 closed

[2022-08-23 10:46] vistasunil commented on #2698
Thanks @knqyf263

[2022-08-23 10:57] afdesk commented on #2299
@yoks sorry for the long wait.

`Trivy` supports only packages installed by package managers, so such `so` files are skipped. It is not a bug, but design.

`Trivy` can scan Go binary files, and they should be detected inside Dstroless images.

[2022-08-23 10:59] christianmaierger commented on #1542
The issue is solved, no worries. I just thought the Problem would be trivy not using my ignore file, but the problem was with the ADV IDs, maybe you remember from the other threat

[2022-08-23 11:01] afdesk commented on #1542
oh, yes. sure.

[2022-08-23 11:14] knqyf263 commented on #1542
For visibility https://github.com/aquasecurity/trivy/discussions/2711

[2022-08-23 12:32] timonbimon commented on #2405
+1 :)

[2022-08-23 14:35] GitRon opened #2769 "Trivy filesystem scan not working"
## Description

I am using an ubuntu-based container and want to check my Python dependency manged by Pipenv. I installed trivy like its documentend [here](https://aquasecurity.github.io/trivy/v0.17.0/installation/).

sudo dpkg -i trivy_0.17.0_Linux-64bit.deb

I am executing the check like it's documented [here](https://aquasecurity.github.io/trivy/v0.17.0/scanning/filesystem/):

`trivy fs .`

or

[2022-08-23 15:09] wavemoran commented on #748
Using version `0.31.2` appears to be returning the expected results consistently. Thanks!

[2022-08-23 18:57] knqyf263 commented on #2769
Could you try the latest version?

[2022-08-23 19:04] knqyf263 commented on #2405
Please let us know if someone knows how to generate a list of dependencies in sbt. Something like [this](https://github.com/stringbean/sbt-dependency-lock).

[2022-08-23 20:43] matthewriedel-flux commented on #2752
This does seem related to #2544 - but for the JSON output, as noted, this behaviour started in 0.31.0.

[2022-08-24 03:25] DmitriyLewen commented on #2769
Hello @GitRon

Instructions for installing latest version of Trivy [here](https://aquasecurity.github.io/trivy/v0.31.2/getting-started/installation/#debianubuntu).
As said @knqyf263 - can you check your file with this version?

Best Regards, Dmitriy

[2022-08-24 06:04] GitRon commented on #2769
Ok, great! Now it is not throwing an error! Maybe the docs should link more obvious to the latest version (like on djangoproject.com)? But... it still doesn't work 😅

2022-08-24T06:02:51.564Z        INFO    Vulnerability scanning is enabled
2022-08-24T06:02:51.564Z        INFO    Secret scanning is enabled
2022-08-24T06:02:51.564Z        INFO    If your scanning is slow, please try '--security-che

[2022-08-24 06:18] DmitriyLewen commented on #2769
hm... It looks like your `pipfile.lock` file doesn't contain dependencies with vulnerabilities.
Can you send your file? I'm looking into this file.

You can add trivy repository to `sources list` and install with `apt-get`([repository tab for Debian/Ubuntu](https://aquasecurity.github.io/trivy/v0.31.2/getting-started/installation/#debianubuntu)).
[code]

[2022-08-24 06:21] GitRon commented on #2769
Awesome! I'll try this out!

Here is my Lockfile. I had to rename it so Github allows me to post it here: [Pipfile.lock.txt](https://github.com/aquasecurity/trivy/files/9413385/Pipfile.lock.txt)

[2022-08-24 06:29] knqyf263 commented on #2769
What do you mean? Seems like our doc is the same as djangoproject.com. What is the difference?

[2022-08-24 06:45] DmitriyLewen commented on #2769
I checked your file.
Trivy correctly detects all dependencies(120 deps).But, as i thought, these deps don't have vulnerabilities.
As experiment i changed `pillow` version to `9.0.0` and scanned file.
[code]

Sorry, i missed that you are using container.
`sudo` is not needed for containers.

[code]

[2022-08-24 08:01] GitRon commented on #2769
@DmitriyLewen I checked with `safety` and this thinks that there are issues:

![grafik](https://user-images.githubusercontent.com/3176075/186363731-c634adf5-dcbe-46ed-94ff-6de6f97015dc.png)

Which one is right? 😆

And your script works, thanks! ❤️

[2022-08-24 08:02] GitRon commented on #2769
@knqyf263 I totally missed the version changer on top - Google led me to an older version. In the djangoproject you'll have a prominent bar indicating that you are using an outdated version:

![grafik](https://user-images.githubusercontent.com/3176075/186364403-98eb745d-43bb-46dc-9665-0c1f07b2fcb5.png)

[2022-08-24 08:11] afdesk commented on #748
glad to read it, Thank you!

[2022-08-24 08:12] afdesk commented on #748
@wavemoran please, feel free to report about any issue here!

[2022-08-24 08:22] #2430 closed

[2022-08-24 08:37] knqyf263 commented on #2758
What if we pass attestations via pipe?

[code]

Then, all security scanners don't have to re-implement cosign functionalities.

[2022-08-24 08:48] DmitriyLewen commented on #2769
Looks like a false positive.
Can you tell the CVEs found to test this?

[2022-08-24 08:49] GitRon commented on #2769
@DmitriyLewen Sorry, didnt get this 😅 What shall I do?

[2022-08-24 08:53] DmitriyLewen commented on #2769
You said there are issues. If these are vulnerabilities, then there are CVE numbers.
Do you have them?

e.g. for pillow 9.0.0(as already i wrote) there is `CVE-2022-24303`:
[code]

[2022-08-24 08:56] GitRon commented on #2769
Alright, I'm a little new to the topic - forgive me!

Django 2.2.28, 3.2.13 and 4.0.4 include a fix for **CVE-2022-28347**: A SQL injection issue was discovered in QuerySet.explain() in Django 2.2 before 2.2.28, 3.2 before 3.2.13, and 4.0 before 4.0.4. This occurs by passing a crafted dictionary (with dictionary expansion) as the **options argument, and placing the injection payload in an option n

[2022-08-24 09:02] DmitriyLewen commented on #2769
It is false positive.
Mistake in range of affected versions: `django >=3.0a1,<3.2.13 `

Description says `Django 2.2 before 2.2.28, 3.2 before 3.2.13, and 4.0 before 4.0.4.`.
this range doesn't contain `3.1.14`.

[CVE-2022-28347](https://nvd.nist.gov/vuln/detail/CVE-2022-28347) from NVD.

[2022-08-24 09:33] GitRon commented on #2769
Crazy! OK, awesome! Thx a lot for your help! ❤️

You might want to add the script for installing the latest trivy in the docs. An UNIX noob like me will have problems otherwise I guess.

[2022-08-24 09:33] DmitriyLewen commented on #2430
Hello @zhanglc @Bhaal22
We fixed this bug.

Changes will be included to next release.
Until then (if it suits you) you can use canary [image](https://github.com/aquasecurity/trivy/pkgs/container/trivy/38909323?tag=canary) or [binary](https://github.com/aquasecurity/trivy/actions/runs/2917565938).

[2022-08-24 09:38] GitRon commented on #2769
Ok, sorry 'bout that. 👍

[2022-08-24 09:38] #2769 closed

[2022-08-24 09:47] Bhaal22 commented on #2430
Hi @DmitriyLewen Thats pretty cool !!!

Thank you very much.

[2022-08-24 10:17] SushanSuresh commented on #2623
Hi,

I am also facing same issue with trivy 0.30.4
`Error while getting vulnerability details: failed to get the vulnerability "CVE-2022-3209": no vulnerability details for CVE-2022-3209`

[2022-08-24 15:11] iliashkolyar opened #2772 "Question - Does trivy server mode support redis in cluser mode?"
I've tried enabling trivy server and connecting it to a redis that was deployed in cluster mode.
The redis-cli works when supplying the `-c` flag which means that cluster is configured properly.

Server was enabled using this command:
`/usr/local/bin/trivy server --cache-backend redis://<redis-hostname>:6379 &`

Scan was triggered using this command:
`/usr/local/bin/trivy image --server http://127

[2022-08-24 18:45] clin4 opened #2773 "How do I know it is a dependency or dev dependency when run trivy sbom scan"
Hi experts,

I'd like to know when running trivy sbom scan, whether the results contains dev dependency? If it does, how do I know a component is a dependency or a dev dependency.

I could get such information from other scanner, e.g. MS Salus.

Thanks and best regards

[2022-08-24 20:39] AndrewCharlesHay opened #2774 "AWS Security Hub not showing package name when using asff.tpl"
## Description

When using the [asff.tpl](https://github.com/aquasecurity/trivy/blob/main/contrib/asff.tpl) to upload results to AWS Securityhub the `Title` and all other fields other than [package name](https://github.com/aquasecurity/trivy/blob/main/contrib/asff.tpl#L58) are identical if different packages have the same CVE vulnerability. From what I can tell, nothing in [.Details.Other](https:/

[2022-08-24 20:40] AndrewCharlesHay commented on #2774
I'm going to make a PR shortly with my suggested changes

[2022-08-25 00:25] josedonizetti opened #2776 "trivy k8s summary report"
If i filter by `--security-checks=vuln` I'll see zero vulnerability reported:

[code]

but if I filter by `--security-checks=vuln,config` I see vulnerabilities reported:

[code]

The same happens if you scanning a namespace or full cluste.r

[2022-08-25 04:42] mohan-13 opened #2778 "Support for HTML report format when using `trivy k8s`"
When trivy cli is used to scan a kubernetes cluster, only table and json report formats are available. It would be nice to have `html` report format as well becuase it makes it hard to visualise results from json/table when the cluster has more number of services.

[2022-08-25 07:24] DmitriyLewen commented on #2752
Hello @matthewriedel-flux , @mig5
Thanks for your report.

If you want to see all scanned packages - you need to use `--list-all-pkgs` flag.
If this flag  is not used and there are no vulnerabilities in the package, then we think, that it is extra information and skip this result.
What do you think about use of this flag?

We currently have bug with displaying packages without vulnerabilities for

[2022-08-25 07:43] #2776 closed

[2022-08-25 18:38] AndrewCharlesHay opened #2781 "Incorrect Product ARN"
## Description

According to the [documentation](https://docs.aws.amazon.com/service-authorization/latest/reference/list_awssecurityhub.html) the ProductArn should have the account number

## What did you expect to happen?

Upload to Security Hub when using the [CLI](https://docs.aws.amazon.com/cli/latest/reference/securityhub/batch-import-findings.html)

## What happened instead?

Error due to in

[2022-08-26 06:03] hazcod commented on #2399
Unstale

[2022-08-26 09:59] namandf commented on #2717
Hi @knqyf263  Any update? Thank you

[2022-08-26 19:18] xxradar commented on #2739
Same behaviour in v0.31.2
[code]

[2022-08-28 09:16] knqyf263 commented on #2702
What do those flags look like?

FYI: Cosign can customize the Rekor URL via `--rekor-url`.

[code]

[2022-08-29 03:27] DmitriyLewen commented on #2145
Looks like this has been resolved.
I close this issue. If you have any questions feel free to open a thread.

Best Regards, Dmitriy

[2022-08-29 03:27] #2145 closed

[2022-08-29 13:52] dAnjou opened #2787 "`trivy config` JSON output should have `Results` field even for no vulnerabilities"
When there are no vulnerabilities the `Results` key should still be present with an empty list. When post-processing the results - which is what the JSON output is intended for, I guess - I'd argue it's much simpler to just iterate over the list instead of checking for the presence of the field first. If the list is empty then nothing needs to be done anyway. And an explicit check for an empty lis

[2022-08-29 13:59] itaysk commented on #2702
we've discussed this offline and agreed to support just one instance of every type (with predefined ordering between providers). no need to over-engineer this yet

[2022-08-30 05:44] JAORMX opened #2788 "Provide signatures for binaries in releases"
We'd like to start verifying signatures coming from Trivy releases, but currently are unable to do so given that binaries not being signed.

There is already signatures in place for container manifests, so we could leverage cosign as well for this.

[2022-08-30 07:53] JoostvdB94 commented on #2706
We have the same issue. Is there a way to exclude all packages that use the installed runtime (and thus are not really packages)?

[2022-08-30 09:35] ShubhamPalriwala commented on #1350
Hey, sorry for the delay on my end, had my mid-term examinations and a few other stuff :((
But I'm back with an approach looking for some valuable feedback from y'all on the same before starting to implement it:

So, the below is a rough idea of what all I've understood and what all I intend to do:

### End Goal
- We scan dev dependencies by default for all languages/projects
- Users can pass a `-

[2022-08-30 15:44] ccsalway opened #2793 "trivy fs --skip-dirs regex"
I notice you dont allow regular expression in your `skip-dirs` argument

[code]

I have tried `**/ignore/path/*` to no avail.  Is this something that could be implemented?

[2022-08-30 15:46] ccsalway commented on #2793
In fact, it would be cool if it could be passed in the `.gitignore`

[2022-08-30 15:49] ccsalway opened #2794 "trivy fs --staged"
In gitleaks you can set an argument `--staged` which scans only files that are about to be committed. This works perfectly for a pre-commit hook, however with trivy, it doesn't have this option so can block a commit if an unstaged file/dir contains bad data.

Therefore, my request is to add the option '--staged' whereby it reads only the staged files (git diff --name-only --cached) and then scans

[2022-08-30 22:04] aboishee commented on #2738
I'm having the same issue when doing a scan on AWS

[2022-08-31 05:14] DmitriyLewen commented on #2287
Hello @viniciusnavarro

We have added some changes to parsing of `pom.xml` files in [v0.31.3](https://github.com/aquasecurity/trivy/releases/tag/v0.31.3).

Can you update your Trivy and check your file?
Perhaps these changes will solve your issue.

Regards, Dmitriy

[2022-08-31 08:18] liamg commented on #2424
Thanks, the links are working now, it was an issue with the site itself.

I'll take a look at the root/line numbers issue and try to reproduce it.

[2022-08-31 08:27] liamg commented on #2738
This is due to an internal API issue at AWS - see https://github.com/aws/aws-sdk/issues/331

[2022-08-31 08:56] roDew commented on #2623
I have exactly the same problem "Error while getting vulnerability details: failed to get the vulnerability "CVE-2022-3209": no vulnerability details for CVE-2022-3209", the scan fails as if it would have vulnerabilities but this is not true

[2022-08-31 09:25] liamg commented on #2424
@PenelopeFudd are you able to supply the files which seem to cause this issue?

[2022-08-31 11:36] WatcherWhale opened #2796 "Maven Quarkus incorrect dependency versions"
## Description

When using Quarkus, dependencies tend to differ in version from the ones defined in the pom.xml.
For example, when using `org.jboss.logmanager:log4j2-jboss-logmanager:1.1.1.Final` maven/quarkus will resolve the subdependency `org.apache.logging.log4j:log4j-api`to version `2.18.0`, while trivy resolves it to `2.16.0`.

## What did you expect to happen?

I would expect that trivy cou

[2022-08-31 13:41] elchenberg commented on #2691
Do you use the `--cache-ttl` flag? With that flag all the keys in my redis server have a TTL.

- redis server 7.0.4
- trivy (client/server mode) 0.30.4

[2022-08-31 13:48] elchenberg opened #2797 "Helm chart: make cache TTL configurable"
I use Helm to maintain a Trivy server. I would like to setup a Redis cache and I want to set a cache TTL. The chart does not seem to support that at the moment.

[2022-08-31 14:37] flngen commented on #2373
this still doesn't work for a private registry that requires authentication, even with the latest version of trivy

[2022-09-01 01:11] danf425 commented on #2373
@fingen That's exactly the behavior I'm seeing.
I need to pull the trivy-db image from a private/on-prem artifactory repo but there's no way to authenticate for --db-repository.

What's unfortunate is "trivy-db" and the image I intend to scan both exist in the same artifactory repo but TRIVY_USERNAME and TRIVY_PASSWORD can't be utilized for DB auth.

[2022-09-01 07:03] Sunidhi-Gaonkar1 commented on #2612
@knqyf263 For Travis,Power builds should be covered under OSS and you can apply for extra credits / points via travis support ticket.

[2022-09-01 08:11] afdesk commented on #2373
@flngen @danf425 thanks for your reports!
could you give us more information about your cases?

[2022-09-01 08:27] #2707 closed

[2022-09-01 10:17] Mikaciu opened #2801 "Inconsistent report between the SARIF and JSON format"
## Description

Hello,

I have a discrepancy between the SARIF output and the JSON output. I have an issue reported in the JSON report (`"RuleID": "sendgrid-api-token"`), but this issue does not show in the SARIF report.

## What did you expect to happen?

The same results in the SARIF report as in the JSON report.

## What happened instead?

The SARIF report is empty

## Output of run with `-debu

[2022-09-01 11:47] 06kellyjac commented on #1673
Hello @knqyf263

I'm looking into building out a fixes list & the alpine structure looks pretty good

https://secdb.alpinelinux.org/v3.10/main.json

Is there a standard for these types of lists across alpine, debian, etc or are they all pretty different?

Do you have a "favorite" security fix list that I'd be best off reviewing?

[2022-09-01 12:30] 06kellyjac commented on #2299
related #1673

In the case of a nix built distroless image it is both "distroless" and packages are "installed by package managers" since nix is a package manager & it put them there

*Within* the container there isn't full derivation details (unless to do a container build "with Nix DB")

You could enumerate the /nix/store in the container for packages (maybe validate it's the right package) and

[2022-09-01 13:18] MprBol opened #2802 "Deploy trivy for concurrent scanning in k8s"
Hi,

I would like to deploy Trivy in an efficient way in a k8s cluster, enabling concurrent scanning. We have 2000+ docker images and gitlab repositories to scan, and simply starting a trivy instance for each image/repository is not my preferred solution.

How can i most efficiently do this?

I tried the following:

* Start multiple instances of trivy in standalone mode. This does not work, as Tri

[2022-09-01 13:20] knqyf263 commented on #1673
[OVAL](https://oval.mitre.org/) is the most famous format among vendor advisories. Also, [OSV](https://ossf.github.io/osv-schema/) is recently getting popular for language-specific packages. Either works for us.

[2022-09-01 13:31] nilesh-akhade commented on #2351
@nrjsingh167  I have corrected the command. It should run now.

    trivy k8s --severity=CRITICAL --report=all --timeout=1800s --format=json -o results.json cluster

[2022-09-01 13:41] 06kellyjac commented on #1673
Thanks. I might be misunderstanding but having a quick read through OVAL looks like a format for recording vulnerabilities that exist rather than recording what have already been fixed like alpine's secdb?

e.g. I want to make it clear that CVE-XYZ has been patched for our copy of busybox v0.0.0 so CVE-XYZ should be skipped instead of matching

[2022-09-01 13:49] knqyf263 commented on #1673
OVAL supports patched and unpatched vulnerabilities both. You can refer to Red Hat's feeds.
https://www.redhat.com/security/data/oval/

[2022-09-01 14:06] kforner opened #2816 "failed to download vulnerability DB using the docker image"
## Description

From one server, the DB can not be downloaded using docker:

[code]

The exact same command works on my personal computer.
They both use the same ubuntu and docker versions.

On the server, I can work-around it using `--insecure`:
[code]

This is very similar to issue https://github.com/aquasecurity/trivy/discussions/2689#discussioncomment-3407220
I tried `docker logout ghcr.io` wi

[2022-09-01 14:29] knqyf263 commented on #2816
I guess your server is under a proxy or something similar. Please make sure your server is able to reach ghcr.io.

[2022-09-01 14:31] neothematrix opened #2819 "CVE-2022-26336 detected on wrong jar"
## Description

Trivy reports CVE-2022-26336 is present in two package names:

- org.apache.poi:poi (4.1.2)
- org.apache.poi:poi-ooxml (4.1.2)

however that vulnerability is reported only for org.apache.poi.poi-scratchpad as shown by mvnrepo: https://mvnrepository.com/artifact/org.apache.poi/poi-scratchpad/4.1.2 that is currently not used and present in our image and it's not even listed as depend

[2022-09-01 14:33] nrjsingh167 commented on #2351
I will check and let you know.

[2022-09-01 14:45] kforner commented on #2816
it is not under a proxy, and it works with `--insecure` so it can reach ghcr.io.

[2022-09-01 15:16] kforner commented on #2816
and thank you @knqyf263 for your help.

[2022-09-01 15:18] knqyf263 commented on #2816
No, I meant without `--insecure`.

if it shows below, it would be fine.

[code]

[2022-09-01 15:21] 06kellyjac commented on #1673
OK, thanks. Ill have a read through

[2022-09-01 15:22] kforner commented on #2816
[code]
and it still does not work without `--insecure`

[2022-09-01 18:54] josedonizetti commented on #2802
@MprBol have you considered using trivy-operator? https://github.com/aquasecurity/trivy-operator
It does run concurrent scans, but also within a limit to not overwhelm your cluster. It will created a job per resource deployed, scan  vulnerabilities, secrets, and misconfigurations, but this can configured.

[2022-09-02 04:04] DmitriyLewen commented on #2819
Hello @neothematrix
Thanks for your report!

Looks like `GitLab Advisory Database` has wrong packages for this CVE.([poi](https://gitlab.com/gitlab-org/advisories-community/-/blob/main/maven/org.apache.poi/poi/CVE-2022-26336.yml) and [poi-ooxml](https://gitlab.com/gitlab-org/advisories-community/-/blob/main/maven/org.apache.poi/poi-ooxml/CVE-2022-26336.yml))
That is why Trivy detect `CVE-2022-2633

[2022-09-02 07:20] MprBol commented on #2802
hi @josedonizetti , it looks very interesting. I had not seen trivy operator before.

In this case the use case is to automatically scan all of our gitlab repositories for secrets. Using Gitlab API, I request all repositories which were recently updated, scan them via Trivy, collect the results, and post them in our central vulnerabilities database for further processing.  Additionally, our k8s cl

[2022-09-02 07:45] itrice commented on #1103
Hi, dose this can san the image on Windows container?

[2022-09-02 08:00] DmitriyLewen commented on #2801
Hello @Mikaciu
Thanks for your report!

If I understand correctly, this is because `sarif` format doesn't currently contain secrets.
Let me know if your `json` report contains vulnerabilities or misconfigurations.

I created PR(#2820) where I added secrets to the `sarif` format.

I'll write to you when this PR is merged.

Regards, Dmitriy

[2022-09-02 09:03] anjmao opened #2821 "Scan container images from local fs"
Currently triviy-operator allows to scan container images in two modes, by pulling image or by scanning it's filesystem.
As described in the issue here https://github.com/aquasecurity/trivy-operator/issues/462 I propose to allow scanning container images from given directories on host filesystem.

Then trivy-operator can schedule scan job with mounted readonly host volumes for /var/lib/docker/...,

[2022-09-02 09:34] elchenberg commented on #2286
I am wondering if the timeout only considers the scan time. Could it be that it took ~10 minutes to pull the image and then another 10 minutes to scan?

I am asking because I have a different problem with the timeout when I cannot connect to the Trivy server in ClientServer mode (I used the wrong port intentionally in the following command). I set the timeout to 30s but the command takes more than

[2022-09-02 10:40] piotr-janek commented on #2601
I think this is not issue with that particular image. I am seeing similar problem with the images in AWS ECR.
The problem `does not` occur when one of the following circumstances are met:
- number of images to scan is low because of scanning single namespace
- the per namespace scan was run first  for some of the namespaces and the cache is available. It is not necessary to run the per namespace s

[2022-09-02 13:48] josedonizetti commented on #2596
There is nothing to change in trivy. Due to the change on k8s explained on google post linked to the issue description, it is required to install a plugin for the authentication, and people on old versions (past 1.25) need to recreated there credentials after:

[code]

feel free to reopen the issue if you think differently. :)

[2022-09-02 13:48] #2596 closed

[2022-09-02 18:04] josedonizetti commented on #2349
Can someone having this issue help me debug it? I created an EKS cluster, and was able to scan it without any issue.

[2022-09-03 00:05] #2312 closed

[2022-09-03 03:01] sinner- commented on #2349
Hey @josedonizetti thanks for taking a look at this.

EKS cluster (k8s version 1.22) created with the following CloudFormation template
[code]
`kubectl` installed from `https://s3.us-west-2.amazonaws.com/amazon-eks/1.22.6/2022-03-09/bin/linux/amd64/kubectl`

Trivy 0.31.2 installed using `trivy_0.31.2_Linux-64bit.rpm` (same issue with any version after `0.28.0`, e.g. originally mentioned `0.29.0`).

[2022-09-03 04:10] ankushgoel27 opened #2822 "Trivy doesnt show the actual secret in the output"
Hi,

Trivy doesnt show the actual secret. its masked. Is there any way to get trivy to show the actual secret discovered?

[2022-09-04 00:05] #2321 closed

[2022-09-05 07:34] neothematrix commented on #2819
hello, it seems the vulnerability is now correctly reported
thanks!

[2022-09-05 08:21] #2819 closed

[2022-09-05 12:59] mastacheata opened #2831 "Support yarn "resolutions"/ npm "overrides" in package.json"
It would be great if trivy could honor the resolutions/overrides keys for yarn/npm selective dependency resolution.
These are used to override nested dependencies when you can't/don't want to update the top-level package respsonsible for requiring it.
As of right now, trivy only checks the dependencies key in package.json, but ignores any overrides/resolutions specified to replace subdependencies.

[2022-09-05 14:30] perkael opened #2832 "This OS version is no longer supported by the distribution: debian bookworm/sid"
## Description

Hi, image scan for debian bookworm/sid (and other testing phase image) it seems that Trivy can't retrieve any OS vulnerabilities.
Is this behavior by default or can it be configured?

We'd like to have the list of operating system vulnerabilities also for Test Phase Images.

This is the link to debian test phase image security CVE which seems to be ignored completely
https://securi

[2022-09-06 00:05] #2023 closed

[2022-09-06 00:47] nvuillam commented on #1729
And again not stale 🤡

[2022-09-06 08:13] flngen commented on #2373
@afdesk - I’m running trivy in an air-gapped environment. I’m building the OCI artifacts for trivy-db and pushing them with Oras to a private registry that requires authentication. Oras login and pull works fine, as others in similar situations have reported. I use trivy —db-repository my.private.reg/trivy-db option. If I turn the authentication off, the db is downloaded as expected, otherwise doe

[2022-09-06 08:52] ozbillwang commented on #480
several issues:

(1) mentioned in https://github.com/aquasecurity/trivy/issues/480#issuecomment-1019462176, I can scan the local image via command

[code]

(2) but I can't directly scan the local image via trivy command

[code]
Clearly, trivy is going to scan an image called `library/demo` from hub.docker.com,  not `demo` locally.

(3) I have a private image, can't publish , I got below error

[co

[2022-09-06 13:29] knqyf263 opened #2834 "refactor: register the secret analyzer in init()"
RegisterSecretAnalyzer is explicitly called now.
https://github.com/aquasecurity/trivy/blob/c36a373def74c75dd754e8adea53aaff33ec51ef/pkg/fanal/analyzer/secret/secret.go#L50

To be aligned with other scanners, it should be called in `init()`.

[2022-09-06 15:26] Albertoimpl opened #2836 "Java native image not reporting vulnerabilities"
## Description

When compiling a project as a native image, even if there is a BOM layer containing the dependencies, they get ignored and are not reported.

## What did you expect to happen?

I expect the same output in the native image and in the regular image.

## What happened instead?

Ignores all the Java code.

## Output of run with `-debug`:

[code]

[code]

## Output of `trivy -v`:

[code

[2022-09-06 18:53] zfLQ2qx2 commented on #2691
I was nit aware of that flag, will try adding it

[2022-09-06 18:59] #2708 closed

[2022-09-07 08:10] chen-keinan opened #2837 "Dynamic links support on config scan results"
it is require to support dynamic links when presenting results.
`trivy` has this [logic](https://github.com/aquasecurity/trivy/blob/main/pkg/scanner/local/scan.go#L487) to build the static PrimaryUrl , base on AVD url structure and AVDID.

This use case do not apply when the link is generated dynamically , meaning when rego policy metadata `url` is built based on input.
therefore it is suggested t

[2022-09-07 08:23] zeyad-mhmd commented on #768
Please how did you add that token

[2022-09-07 09:01] kohtala opened #2839 "Scan manifest for self-packaged software"
The bill of materials for python:3.9.13 docker image does not list python 3.9.13.

I also compile some sources myself and would like to scan if any vulnerabilities are found in the upstream version I have compiled.

I find CPE for these in the official CPE dictionary.

I would like to tell Trivy what I have in the image. I can add any manifest files I need in the image. Since configuration matters

[2022-09-07 09:47] knqyf263 commented on #1350
@ShubhamPalriwala What if adding `--include-dev-dependencies`? I think most users don't need vulnerabilities in dev dependencies.

There is a library for parsing dependencies here.
https://github.com/aquasecurity/go-dep-parser/

[2022-09-07 09:51] knqyf263 commented on #1350
@ldouchy-bl Could you give us more detail? `repo` and `fs` should be the same. If it is not the case actually, it could be a bug.

[2022-09-07 10:30] afdesk commented on #768
try to set an evironment variable `GITHUB_TOKEN`

[2022-09-07 10:30] afdesk commented on #768
read more here:
https://aquasecurity.github.io/trivy/v0.31.3/docs/references/troubleshooting/#github-rate-limiting

[2022-09-07 10:48] afdesk commented on #2373
thanks!

could you show logs?

also another question, do you pass a media type for pushing the OCI artifacts?
https://github.com/aquasecurity/trivy/issues/2373#issuecomment-1163321298

[2022-09-07 11:24] afdesk commented on #480
@ozbillwang thanks!
could you run `trivy` in debug mode?
[code]

[2022-09-07 12:28] afdesk commented on #480
@ozbillwang I couldn't reproduce your issues on docker without `colima`. then I've installed `colima` and it works correct too.
should i remove docker before?

could you try to run your commands on docker too?

thanks a lot

[2022-09-07 13:45] knqyf263 commented on #2288
Do you think we can hide the existing versions in the version selector? It shows only minor versions like v0.30 and v0.31, but v0.30.0 is still valid though it is hidden. There are doc URLs in many places. I don't to make them 404.

e.g.
- v0.30
- v0.30.0 (hidden)
- v0.30.1 (hidden)
- v0.31
- v0.31.0 (hidden)
- v0.31.1 (hidden)
- v0.31.2 (hidden)
- v0.32
- v0.32.0 (will not be created anymore)

[2022-09-07 13:56] #2788 closed

[2022-09-07 15:56] tofuatjava commented on #2694
Oh man, damm it.
Sorry and thank you for your investigations.

[2022-09-07 16:07] stone-z commented on #2558
:+1: This would be a cool enrichment to have.

It could also potentially be done in a module. My modules knowledge is minimal so far but I think a module would be limited to just adjusting the severity and not adding a separate field, which isn't as ideal IMO

[2022-09-08 02:31] guos commented on #2170
i also want it ,thanks

[2022-09-08 04:11] ozbillwang commented on #480
@afdesk

[code]

[2022-09-08 04:23] ozbillwang commented on #480
Regarding problem 3， it is my problem.

After I clean the space (the space is defined in Colima which can be used, less than the disk space on my laptop), after cleaned, scan is fine.

[2022-09-08 06:12] #2797 closed

[2022-09-08 06:21] #2781 closed

[2022-09-08 07:58] afdesk commented on #480
@ozbillwang could you test another image on your instance and show logs again? thanks
ex `alpine`:
[code]

[2022-09-08 08:02] davidharkis opened #2842 "PURL format for nuget missing type"
## Description

nuget PURLs in CycloneDX SBOMs do not follow the format defined by [purl-spec ](https://github.com/package-url/purl-spec/blob/master/PURL-TYPES.rst#nuget)

## What did you expect to happen?

purls contain type of 'nuget' e.g.  - pkg:nuget/Azure.Core@1.25.0

## What happened instead?

No reference to nuget e.g. - "purl": "pkg:dotnet-core/Azure.Core@1.25.0"

## Output of run with `-d

[2022-09-08 09:02] ozbillwang commented on #480
no issue

[code]

[2022-09-08 09:04] ozbillwang commented on #480
but if I make it as local image , failed

[code]

[2022-09-08 11:11] 06kellyjac opened #2845 "Integrate govulncheck to reduce false positives"
Recently the go team announced govulncheck which can reduce the amount of false positives because it doesn't go purely off of libraries imported

https://go.dev/security/vuln/

currently trivy flags kube-bench as having [CVE-2020-8911](https://avd.aquasec.com/nvd/2020/cve-2020-8911/) when it doesn't actually use the S3 features of the `aws-sdk-go` library

https://github.com/aquasecurity/kube-benc

[2022-09-08 12:17] max-allan-surevine commented on #480
@ozbillwang you may need to set your docker socket to point at Colima's socket.

Means trivy cannot connect to Docker.

https://github.com/abiosoft/colima/blob/main/docs/FAQ.md#cannot-connect-to-the-docker-daemon-at-unixvarrundockersock-is-the-docker-daemon-running

Trivy probably does not understand docker contexts and so you need to manually set your DOCKER_HOST variable.
eg :
[code]
NB Find you

[2022-09-08 14:29] Loki-Afro opened #2846 "please support fedora for a native installation"
please support fedora for a native installation
and please also sign the rpms, this is a security application, installing unsigned rpms looks rather bad.

[2022-09-08 14:48] AndrewCharlesHay opened #2847 "Incorrect Nesting of asff.tpl"
The [CLI documentation](https://docs.aws.amazon.com/cli/latest/reference/securityhub/batch-import-findings.html) needs a list of findings not an object with a list

[2022-09-08 16:40] AndrewCharlesHay commented on #2023
Instead of editting it with jq why don't we just edit the `.tpl` file?

[2022-09-08 16:54] AndrewCharlesHay opened #2849 "aws securityhub batch-import-findings Errors with more than 100 findings"
## Description

As stated in the [documentation](https://docs.aws.amazon.com/cli/latest/reference/securityhub/batch-import-findings.html#options) the batch-import-findings cli command errors out when uploading more than 100 findings at a time. The trivy cli and asff.tpl file doesn't provide a way to limit findings to 100

## What did you expect to happen?

Have the `asff.tpl` limit the output to 1

[2022-09-08 17:00] JAORMX opened #2850 "trivy config scanning does not detect tar'ed dependency Helm charts"
## Description

When using `trivy config .` or `trivy fs --security-checks config .` to scan a directory with helm charts, trivy ignores the directory and is not able to scan.

## What did you expect to happen?

Trivy to return configuration issues in helm charts with tar'ed dependencies.

## What happened instead?

Trivy doesn't detect any configuration files.

## Output of run with `-debug`:

[c

[2022-09-08 18:20] owenrumney commented on #2850
To add some additional context - this is sub charts in the `charts` dir that aren't being indentified when the check for dependencies is performed.

In this example, the chart refers to `common` but the file in `charts` is tarred as `common-1.6.tar.gz`

I think we're going to need to explode all tars that are found in the dir hierarchy, I don't think it's going to be too challenging to resolve

[2022-09-09 00:06] #1908 closed

[2022-09-09 04:17] thiago-gitlab commented on #1390
@knqyf263, you might be interested in reading through https://gitlab.com/gitlab-org/gitlab/-/issues/372402. TL;DR:

[2022-09-09 06:45] sinner- commented on #2349
@josedonizetti hello, any update?

[2022-09-09 06:56] ozbillwang commented on #480
@max-allan-surevine

Thanks, it works after set

[code]

[2022-09-09 12:54] AlexsJones opened #2853 "Scan vulnerability report OOMKill"
When cluster events are triggered such as pod create or destroy there is a vulnerability report pod triggered. Each of these pods leases 100megs of ram at least, which means that if 20 events, with scan pods, create it's requesting 2Gigs of system memory.

I have noticed on a small cluster this causes a cascading memory lock and effectively breaks the cluster

My expectation is certainly that triv

[2022-09-09 13:02] afdesk commented on #2847
@AndrewCharlesHay thanks again for your interest in `Trivy`.

this issue about ASFF struct is well-known. I can see that you left  https://github.com/aquasecurity/trivy/issues/2023#issuecomment-1240959441 and also there is another issue #1898 about it.

An attribute `Findings` was added #1685 to fix #1684.

if i'm wrong, you can correct me. my opinion is next:

there are two ASFF struct: for the A

[2022-09-09 17:15] AndrewCharlesHay commented on #2847
That's a good point. We could make a separate file called something like `asff-cli.tpl` without the `Findings` wrapping

[2022-09-09 21:23] AndrewCharlesHay opened #2855 "ASFF doesn't support secrets reporting"
## Description

The [gitlab-codequality.tpl](https://github.com/aquasecurity/trivy/blob/main/contrib/gitlab-codequality.tpl) file along with others iterate over [Vulnerabilities](https://github.com/aquasecurity/trivy/blob/main/contrib/gitlab-codequality.tpl#L6), [Misconfigurations](https://github.com/aquasecurity/trivy/blob/main/contrib/gitlab-codequality.tpl#L38), and [Secrets](https://github.com

[2022-09-10 16:06] anderson-marques opened #2856 "Custom Policies Not Working with Terraform"
## Description

I'm running **trivy config** command passing options `--policy` and `--namaspaces` to test a Terraform file (`main.tf`) but the report shows zero (0) config files detected.

### Command Executed

[code]

### Folder structure

[code]

### `./terraform/main.tf`

[code]

### `./terraform/policy.tf`

[code]

## What did you expect to happen?

Trivy detected `main.tf` as a config file a

[2022-09-11 09:02] itaysk commented on #2788
@JAORMX If I may ask, I'm interested in why checksums did not suffice for this use case (not that it'll affect this welcome addition, just for my education)

[2022-09-11 09:25] JAORMX commented on #2788
Sure! The main thing is being able to verify this from the immutable transparency log. Checksums ate great for verifying integrity, but having a public and trusted record that I can use to do verification helps me sleep at night.

[2022-09-11 20:39] itaysk commented on #2288
After playing around with mkdocs and mike, it seems that 'mike alias' achieves this

[2022-09-12 07:18] knqyf263 commented on #2288
Nice👍

[2022-09-12 08:18] neothematrix commented on #2832
we're facing the same issue, any suggestion?

[2022-09-12 08:46] #2834 closed

[2022-09-12 09:12] #2801 closed

[2022-09-12 10:20] afdesk commented on #2847
I'm not sure that is a good way, because we need to support two `.tpl` files. ex., we have to add `secrets` to both of them

[2022-09-12 11:53] knqyf263 commented on #2847
Using `jq` sounds a good compromise for now like @afdesk said.

[2022-09-12 11:55] #2850 closed

[2022-09-12 13:50] huornlmj opened #2858 "Provide a colour option for table output to stdout"
As far as I can see, Trivy does not have native HTML report output options, so I went to use the aha tool to pipe the output into, so that I could retain the colouring.  Unfortunately, trivy doesn't seem to have an option to keep colouring when piping the output out.

So when I run:

[code]

I end up with an HTML report but just black text, no colour saved.  I would like an option to control wheth

[2022-09-13 08:19] Mikaciu commented on #2801
Thanks !
I'm eagerly waiting for the new trivy brew version ;)
BR

[2022-09-13 11:31] bpfoster commented on #1967
Unstale

[2022-09-13 11:56] #2853 closed

[2022-09-13 11:59] knqyf263 commented on #2858
I believe we disable coloring in image/fs scanning when the output is not stdout.
@josedonizetti @chen-keinan Could you take a look?

[2022-09-13 13:53] jkone27 commented on #2706
pls if you also experience a similar issue add a 👍 on top!

[2022-09-13 14:52] tspearconquest opened #2862 "CVE-2022-27664 - golang: net/http: handle server errors after sending GOAWAY"
## Description
All publicly available Trivy binaries contain vulnerability CVE-2022-27664 which causes our pipelines to fail the vulnerability scan for Trivy images and we need to have this patched to continue using Trivy.

## What did you expect to happen?
No failures

## What happened instead?
![image](https://user-images.githubusercontent.com/81998567/189934127-ac02becd-df22-48a0-9f59-5cf81fa98

[2022-09-14 02:07] daliaezt opened #2870 "How Trivy DB update works ?"
Hi team !

we are running Trivy scanner behind a proxy, we need to know which Websites are being searched by Trivy to get CVE information ? In order to whitelist these specific sites in our proxy config.
Also, we need more info about how Trivy stores CVE data ?

Thanks.

[2022-09-14 05:29] PenelopeFudd commented on #2623
@roDew, I'm getting what you got:

[code]

However, it's beginning to look like it's a typo: CVE-2022-3209 doesn't exist but CVE-2022-3209 does.
* https://nvd.nist.gov/vuln/detail/CVE-2022-2309  - libxml2
* https://nvd.nist.gov/vuln/detail/CVE-2022-3209  - not found

Other databases also have the typo:
* https://security.snyk.io/vuln/SNYK-ALPINE314-LIBXML2-2987454   - CVE-2022-3209
* https://www.r

[2022-09-14 06:19] knqyf263 commented on #2870
You can refer to [this page](https://aquasecurity.github.io/trivy/v0.31.3/docs/advanced/air-gap/). It also mentions allowlist.

[2022-09-14 06:39] rocket-spec opened #2871 "RHEL 9 and CentOS 9 Stream"
Hello i am new to trivy, i have read the documentation my question relates to and if RHEL 9 and CentOS Stream 9 wiil be added to trivy ?

Thanks in advance

[2022-09-14 07:25] daliaezt commented on #2870
@knqyf263 sorry i cannot find allowlist in the attached page . Can you provide me direct link to it ?

[2022-09-14 09:16] WatcherWhale commented on #2850
Is it correct that trivy now scans double once in the tar with the dependency values and then with the parent chart values?

[2022-09-14 10:17] afdesk commented on #2298
i had an idea to create a custom Trivy plugin for html templates.
@KyleK1782 @64J0 what do you think it's a convenient way for enhance reports?
thanks

[2022-09-14 10:39] gothrek22 opened #2875 "Remove version string from assets in GitHub Releases."
Currently to semi-automatically download the latest version of trivy you need to do 3 requests:
[code]

This is due to a recent change of how assets are handled on release pages.

If the assets didn't have a version in their name, it would be possible to simply do:
[code]

And get the proper asset. The same would be true for any other of the release assets.

Is it possible to remove the version fr

[2022-09-14 10:41] gothrek22 commented on #2875
I've just noticed that there is also an rpm repo now, which fits my needs. Feel free to do whatever you want with this feature request.

[2022-09-14 11:03] 64J0 commented on #2298
I like the idea of being able to filter the columns (per severity for example), and arrange it in some way, say, alphabetically.

My main issue is that I don't know much about Go lang, like I said before. So I'm not sure how to contribute for this project (development locally and test it). It would be nice if we had some docs teaching how to test the HTML report feature using some example scan JSO

[2022-09-14 14:26] #2849 closed

[2022-09-14 17:50] AndrewCharlesHay commented on #2847
Ok I'll make a seperate PR for documentation on how to use jq

[2022-09-14 20:01] p4yl04d3r opened #2879 "DB init error on s390x"
## Description

## What did you expect to happen?
Expected Trivy scan to complete without fatal error and scan container.

## What happened instead?
2022-09-14T15:42:27.253-0400	FATAL	init error: DB error: error in vulnerability DB initialize: failed to open db: invalid database

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, cont

[2022-09-15 00:06] #1834 closed

[2022-09-15 00:16] seanleblancicdtech commented on #1141
Is this resolved? I'm also getting a false positive for jackson inside of ehcache, based on it finding the pom.xml file deep inside the ehcache jar, but Trivy is (falsely) saying we have vulnerable version of jackson library.

[2022-09-15 00:17] github-actions[bot] opened #2880 "github.com/open-policy-agent/opa: CVE-2022-36085"
## Title
open-policy-agent: Compiler Bypass of WithUnsafeBuiltins using "with" keyword to mock functions

## Description
Open Policy Agent (OPA) is an open source, general-purpose policy engine. The Rego compiler provides a (deprecated) `WithUnsafeBuiltins` function, which allows users to provide a set of built-in functions that should be deemed unsafe â€” and as such rejected â€” by the compiler

[2022-09-15 05:40] #2170 closed

[2022-09-15 06:56] knqyf263 commented on #2734
I'm reviewing [the v0.32.0 milestone](https://github.com/aquasecurity/trivy/milestone/9).
@owenrumney Is this going to be included in v0.32.0?

[2022-09-15 07:42] #2837 closed

[2022-09-15 08:07] owenrumney commented on #2734
@knqyf263 - there is a question around how people switch between frameworks that needs to be resolved; I think @liamg mentioned there are a number of 1.2 and 1.4 checks that contradict and we need to resolve that.

defsec has a scanner option of `--framework` ready for this, but it needs thought.

TLDR; I think we should wait till next v0.33.0 rather than put it out with potentially contradictory

[2022-09-15 08:34] knqyf263 commented on #2734
Got it. Thanks for explaining! I moved it to v0.33.0.

[2022-09-15 10:02] #2455 closed

[2022-09-15 17:16] #2702 closed

[2022-09-15 18:35] itaysk commented on #2254
@chen-keinan @josedonizetti  is this the issue for the "infra checks"? If so, (I don't think it's very clear from the description) is it making this release or next?

[2022-09-15 18:42] josedonizetti commented on #2254
@itaysk Don't think NSA is for infra-checks. Though I didn't release we are about to release, I have just synced with Teppei to post it to tmr, so I can close it today. I really want it to make the release.

[2022-09-15 18:51] chen-keinan commented on #2254
@itaysk Its not nsa , its basically replacing kube-bench checks ,its exactly what @josedonizetti is doing , can be closed as duplucate to task Jose is working on

[2022-09-15 18:54] itaysk commented on #2254
so can we rename/rewrite this issue to something more meaningful?

[2022-09-15 18:58] josedonizetti commented on #2254
This is a duplication of https://github.com/aquasecurity/trivy/issues/2766. Closing!

[2022-09-15 18:58] #2254 closed

[2022-09-15 20:37] p4yl04d3r commented on #2879
Started to look deeper into this failure with opening the DB.
[code]

[2022-09-15 20:57] p4yl04d3r commented on #2879
Started to look into the issue reported.

Issue with BoltDB OPEN call
Line 83 in "aquasecurity/trivy-db/blob/main/pkg/db/db.go":
[code]

BoltDB documents in "boltdb/bolt/blob/master/errors.go"
[code]
Could this be an Endian issue on Big Endian systems?
Reading Bold documentation on [limitations ](https://github.com/boltdb/bolt/blob/master/README.md#caveats--limitations)states that Bolt databases a

[2022-09-15 21:46] candrews opened #2886 "purls starting with `pkg:gradle` result in error: unsupported type gradle"
## Description

GitLab Dependency Scanning (aka Gemnasium) creates CycloneDX SBOMs for Gradle projects with purls like this: `pkg:maven/com.fasterxml.jackson.core/jackson-annotations@2.13.3`

Here's a minimal example:
[code]

Running trivy against this sbom results in an error:
[code]

## What did you expect to happen?
If `pkg:gradle` is replaced with `pkg:maven` then Trivy works as expected:
[cod

[2022-09-16 01:33] tamalsaha opened #2890 "Trivy does not produce same result for image and fs command"
## Description
[code]

[code]

## What did you expect to happen?
I expected the `trivy fs` also report the vulnerabilities in `/usr/local/bin/dataplaneapi`

## What happened instead?
Trivy did not report `usr/local/bin/dataplaneapi` vulnerabilities. It seems that `trivy fs` does not scan language-specific files.

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additio

[2022-09-16 01:58] candrews commented on #2886
According to https://github.com/package-url/purl-spec/blob/master/PURL-TYPES.rst

So I believe there are two problems:
1. Since these dependencies are maven dependencies (they're specified in gradle, but they are maven dependencies), GitLab Dependency Scanning is using the wrong "type" in its "purl" value; it's using `gradle` when it should be using `maven`. I've reported to this to GitLab at: htt

[2022-09-16 04:45] knqyf263 commented on #2890
Please see the doc.
https://aquasecurity.github.io/trivy/v0.31.3/docs/vulnerability/detection/language/

rootfs should show the same result

[2022-09-16 04:55] tamalsaha commented on #2890
So, what am I doing wrong here? I am running `trivy fs /`

[2022-09-16 05:43] knqyf263 commented on #2890
Again, you should run `rootfs` if you want the same result as image scanning.

[2022-09-16 06:27] tamalsaha commented on #2890
Thanks @knqyf263 ! I missed that you were referring to `rootfs` subcommand. `trivy rootfs /` is working correctly.

[2022-09-16 06:27] #2890 closed

[2022-09-16 07:56] #2875 closed

[2022-09-16 08:00] knqyf263 opened #2892 "Bulk search for Rekor entries"
Currently, the `--sbom-sources` flag tries to fetch Rekor log entries one by one, but it could be slow when there are a lot of entries. Seems like several entries can be obtained at once.
https://github.com/sigstore/rekor/blob/689924f1035cd10b1db62e1828806f37469a559d/openapi.yaml#L213-L235

[2022-09-16 08:00] knqyf263 commented on #2892
@otms61

[2022-09-16 08:04] otms61 commented on #2892
Alright, I'll try

[2022-09-16 08:56] knqyf263 opened #2895 "Trivy SBOM should take precedence in Rekor attestations"
`--sbom-sources rekor` looks for SBOM attestation in Rekor entries and use the first document it finds. But SBOM generated by Trivy should take precedence since it provides better integration.

[2022-09-16 08:57] knqyf263 commented on #2895
@otms61

[2022-09-16 09:36] pludov commented on #674
#1378 logs the content of the trivyignore file, the requests here is more about knowing which of these vulnerabilities that are still relevant

[2022-09-16 09:44] owenrumney commented on #2734
they're there - but they won't collide at the moment. the mechanism to specify 1.4 explicitly is the issue

[2022-09-16 10:06] otms61 commented on #2895
Alright, I'll try

[2022-09-16 12:37] LucasVanHaaren opened #2896 "Add shell completion"
Hello everybody,

I was searching through docs if there is any way to get shell completion (in my case bash shell) for the trivy cli.
I think this feature does not exists for now.

I know trivy is mainly used in CI-CD automated pipelines but because some commands have a lot of options, I think it will be a great feature while using manually ! :smiley:

[2022-09-16 13:59] pheck opened #2898 "Panic in config scan of cloudformation when IAM policy contains If"
## Description
When running a config scan against cloudformation yaml templates, trivy crashes with the below error.

## What did you expect to happen?
Trivy scan finishes and outputs scan results

## What happened instead?
Trivy crashes when processing a cloudformation template with an IAM-role whose `Policies` section contains an `!If` function.

## Output of run with `-debug`:

[code]

## Outpu

[2022-09-16 15:41] itaysk commented on #2734
can you please clarify - if someone does a `trivy aws` scan right now (with the CIS 1.4 checks already merged but no way to select CIS version), which check are being used?

[2022-09-16 17:21] nilesh-akhade opened #2901 "Add `--all-namespaces` flag for `trivy k8s` resources scanning"
When we do resource scanning, trivy scans it in only the given namespace. This should be improved by adding `--all-namespaces` aka `-A` flag.

**Use cases**
- Scan only config maps from all namespaces
- Scan everything from the cluster except `cronjobs` and `jobs` https://github.com/aquasecurity/trivy-operator/issues/265
Skipping cronjobs, and jobs are particularly useful when the cluster has hund

[2022-09-16 17:33] nilesh-akhade commented on #2901
This may be also extended to
 - Comma separated multi-namespace scanning and `--exclude-namespaces`
 - Multi-resource exclude like `trivy k8s --all-namespaces --report=summary --exclude-resources=cronjobs,jobs all`
 - Label selectors

This should be added as a separate feature request but I am not sure if maintainers will welcome this. I am also not sure if this is a good idea to add such extensio

[2022-09-17 01:05] #2870 closed

[2022-09-17 01:09] daliaezt opened #2903 "Clear scan cache of single image"
Trivy version : 0.17.2
Executing < trivy image --clear-cache > clears all images cache information

is there another way to clear cache of specific image ?

[2022-09-18 00:06] #2354 closed

[2022-09-18 07:31] itaysk commented on #2288
closed by #2900

[2022-09-18 07:31] #2288 closed

[2022-09-18 19:24] knqyf263 opened #2904 "Integrate govulncheck"
To provide low-noise results in Go projects, it should integrate `govulncheck` into Trivy.
https://pkg.go.dev/golang.org/x/vuln/cmd/govulncheck

[2022-09-19 00:06] #2419 closed

[2022-09-19 00:06] #2416 closed

[2022-09-19 05:14] DmitriyLewen commented on #2286
Hello @elchenberg
Thanks for your report!

Currently, Trivy has a total time to pull the image and scan it.

About timeout for connecting to Trivy server:
At the moment Trivy can't stop when trying to connect to Trivy server.
If i remember correctly - the default client timeout is 2 minutes.
But timeout includes connection time.
e.g.:
You have timeout = 3min.
Connection to Trivy server took 1 minu

[2022-09-19 08:12] kanton10062006 opened #2905 "trivy k8s: unable to parse security checks"
Hi folks,

With recent release of trivy(0.32.0) we faced with unexpected behaviour of k8s scan:
[code]

trivy 0.31.3 version works fine with the same flags.

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

Single '--security-checks vuln' scan flag works as expected.

Thanks!

[2022-09-19 08:21] DmitriyLewen commented on #2886
Hello @candrews
Thanks for your report!

Trivy started supporting `Gradle` with version 0.32.0.

But in v0.32.0 there is a problem with the package name separator.
I created a [PR](https://github.com/aquasecurity/trivy/pull/2906) with a fix for this.
I will send you when this PR is merged.

Best regards, Dmitry

[2022-09-19 09:27] daliaezt commented on #2903
@knqyf263 any feedback ?
Thanks in advance

[2022-09-19 10:37] Strelox commented on #2905
Same error with `trivy image` and passing multiple scan options via Environment Variable
[code]

Passing options via `--security-checks vuln,config` works, though:
[code]

Trivy Version: 0.32.0

[2022-09-19 13:45] afdesk commented on #2298
do you mean that it should be done via JavaScript?

[2022-09-19 14:05] 64J0 commented on #2298
Yes, I think that doing this with JavaScript would be easier, and we would get more freedom to implement other features in the future. As an example:

* https://www.w3schools.com/howto/howto_js_filter_table.asp

But initially I think we can keep something like a checkbox menu with all the possible severity values, and let the user pick which values to present in the table. I like the idea of using

[2022-09-19 14:13] Kilz78 opened #2907 "trivy image --security-checks config IMAGE_NAME"
Hi,

I'm studying how to scan for misconfiguration for some docker images.

I can see in the documentation of trivy that we are able to scan for config on docker images like that :
`$ trivy image --security-checks config IMAGE_NAME` (https://aquasecurity.github.io/trivy/v0.32/docs/misconfiguration/scanning/)

built-in policies are stored here : https://github.com/aquasecurity/defsec/tree/master/in

[2022-09-19 14:47] p4yl04d3r commented on #2879
I'm attempting to build the Trivy-DB locally as that should resolve the issue in the immediate time frame. Although, i have issue with trivy-db because of issue with the vuln-list missing artifacts on Ruby Gems.  I'll take that up with those projects.

[2022-09-20 02:12] noorul opened #2912 "v0.32.0 is not available in debian/ubuntu apt repo"
Looks like the latest version of trivy 0.32.0 is not available in debian/ubuntu apt repository

[code]

[2022-09-20 03:03] techmaharaj opened #2913 "Broken Link in ReadMe.md"
The integrations link in the [readme.md](https://github.com/aquasecurity/trivy/blob/main/README.md) is broken, leads to HTTP 404 instead of the integrations page. Below is the line where the broken link is.

- See [integrations](https://aquasecurity.github.io/trivy/latest/docs/integrations/) section in the documentation. [Broken Link]

I suppose it should redirect to https://github.com/aquasecurit

[2022-09-20 09:20] itaysk opened #2915 "support swift/Objective-C/CocoaPods"
https://cocoapods.org/

[2022-09-20 09:47] itaysk opened #2917 "distribute misconfiguration policies out of band"
Currently Trivy's misconfiguration scanning/IaC scanning checks are embedded into the Trivy binary and shipped with it. This means that in order to update checks a user needs to update Trivy, which is not ideal. This issue is about separating the checks from the engine and distributing the checks package to existing clients, just like vulnerability scanning which downloads the
Trivy vulnerability

[2022-09-20 10:00] itaysk commented on #2907
This command will scan the files within the container image for misconfigurations. For example, if the image contains a Kubernetes definition file, this file will be scanned for Kuberentes misconfigurations. The `--config-policy` flag is used to specify custom policies that you want to check, I'm not sure you needed it.
Anyway, this command does not scan the dockerfile that was used to generate th

[2022-09-20 10:02] itaysk commented on #2204
related to issue: https://github.com/aquasecurity/trivy/issues/2676
If we would infer the dockerfile of an image, we could scan it for exposed secrets as well

[2022-09-20 10:11] Groszekk opened #2918 "problem while scanning docker image with goswagger v0.29.0"
in version v0.30.0* this problem doesn't exist anymore

save docker image to tar:
[code]

dockerfile:
[code]

output:
[code]

layer sha256:8453d2b402e081ef8ce43d29d733fa3990335bb6292d4b119caa2b1cbe16dd8a command:
`RUN go install github.com/go-swagger/go-swagger/cmd/swagger@v0.29.0`

[2022-09-20 10:33] itaysk opened #2919 "custom-compliance reports"
when doing a misconfiguration scanning, trivy will evaluate all the possible checks and report the failed checks. this issue is about allowing the user to specify a subset of checks to be evaluated, essentially a custom report, that is more targeted at a specific use-case than the very general scanning experience that is today.

### Motivation
1. we get asked to support compliance frameworks or se

[2022-09-20 12:09] Kilz78 commented on #2676
+1
I really need it for my company (40k containers)

the goal of that is to implement some compliance check at image level :
- is the docker image run as root ?
- is the port 22 exposed ?
- is COPY command used instead of ADD

this is some basics check, but after we can enrich that :
- Is the base image used for build this image match with those that we provide ?

piece of cake : we would like to

[2022-09-20 12:12] Kilz78 commented on #2907
@itaysk thanks you very much for those information ! I’m looking to found something similar of my need since few days/months.

I’m working for one financial company that really needs this feature. If I can, I can also give some helps to develop/test this.

[2022-09-20 12:40] afdesk commented on #2912
@noorul thanks for your report!
yes, it's a known issue.
we're working to fix it.

[2022-09-20 13:07] liamg commented on #2917
Discussion points:
- Air-gapped scanning
- Compatibility issues (e.g. policy -> engine)
- Schema changes + custom policies

[2022-09-20 13:54] liamg commented on #2734
@itaysk Right now we apply the default rules and also CIS AWS 1.2 rules (some of which may overlap)

[2022-09-20 13:54] liamg commented on #2734
We probably shouldn't apply 1.2 AND 1.4 at the same time as some of them collide with each other.

[2022-09-20 14:25] eyalatox opened #2920 "FP on pom.xml"
## Description
Running with version 0.32.0  I FP on the below pom.xml scanning. As far as I can tell only the older versions has a vulnerability

input pom.xml
[code]

## Output of `trivy -v`:

[code]

[2022-09-20 14:39] awakenine opened #2921 "Git clone failure for repository scan"
## Description
I got the following error trying to scan remote repo
`2022-09-20T13:51:54.034Z	FATAL	repository scan error: scan error: unable to initialize a scanner: unable to initialize a filesystem scanner: git clone error: write /tmp/fanal-remote183400706/libs/tsconfig.lib.json: no space left on device`

Tmp dir cannot be changed in running options, because it is hardcoded.
[	tmpDir, err := io

[2022-09-20 14:42] trevor-vaughan opened #2922 "Version 0.32.0 crashes on the `TRIVY_SECURITY_CHECKS` environment variable"
## Description

[code]

## What did you expect to happen?

A scan should occur

## What happened instead?

`trivy` crashed

## Output of `trivy -v`:

[code]

[2022-09-20 16:03] stewartcampbell opened #2923 "`unknown flag: --file-patterns` When Running `trivy config`"
## Description
`FATAL   unknown flag: --file-patterns` returned when running v0.32.0.
Binary was downloaded direct from Github using bash.
## What did you expect to happen?
Dockerfile to be scanned.
## What happened instead?
[code]
[code]
[code]
## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):

[2022-09-20 17:56] itaysk commented on #2734
Thanks for explaining. So why do we say that it is pushed to next release? Isn't it out already?

[2022-09-20 18:58] developer-guy commented on #2758
Quoted from @znewman01:

[code]

[2022-09-20 19:09] znewman01 commented on #2758
But also note @developer-guy's PR to accept `-` to read from STDIN: https://github.com/sigstore/cosign/issues/2215

That's a better long-term solution 😄

[2022-09-20 21:20] cgomez23 opened #2924 "template: output template:816: function "className" not defined"
## Description

Hey there, I am having issue creating a template locally.
While running these commands:
[code]

I get this error:

[code]

This same error occurs when I try to use the HTML template. Please Advise

## Output of `trivy -v`:

[code]

[2022-09-21 03:30] DmitriyLewen commented on #2923
Hello @stewartcampbell
Thanks a lot for your report.

I can reproduce your problem.
We will fix it in the near future.

Before that, you can use `fs --security-checks config` instead of `config` subcommand.
In your case:
[code]

Best Regards, Dmitriy

[2022-09-21 04:29] DmitriyLewen commented on #2922
Hello @trevor-vaughan
Thanks for your report!

We will solve your problem as soon as possible.

Until that, if you don't want to use `--security-checks` flag - you can try using [Trivy config file](https://aquasecurity.github.io/trivy/v0.32/docs/references/customization/config-file/#scan-options).

Regards, Dmitriy

[2022-09-21 07:02] #2923 closed

[2022-09-21 07:04] DmitriyLewen commented on #2923
@stewartcampbell
Fix has been merged.

Next release will be include this change.

Have a good day!

[2022-09-21 07:50] stewartcampbell commented on #2923
Thanks very much!

[2022-09-21 08:48] a-devops-guy commented on #826
`"Target","Vulnerability Class","Target Type","Vulnerability ID","Severity","PackageName","Installed Version","Fixed Version","Title","Description","Reference","Vulnerability Score"
{{- range . }}
{{- $target := .Target | quote }}
{{- $class := .Class | quote }}
{{- $vulnerabilityType := .Type }}
{{- range .Vulnerabilities }}
{{- $vulnerabilityID := .VulnerabilityID | quote }}
{{- $pkgName := .Pkg

[2022-09-21 14:48] naortalmor1 commented on #2922
Hey @DmitriyLewen,
When do you plan to release the fixed version?

[2022-09-21 14:49] JAORMX opened #2929 "config/helm: files with `.yml` extension are ignored"
## Description

the config checks for helm ignore files with the `.yml` extesion.

## What did you expect to happen?

Those files are YAML files too, so they shouldn't be ignored.

## What happened instead?

"No config files found"

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

[2022-09-21 16:08] #2929 closed

[2022-09-21 23:41] simar7 commented on #2681
I'd +1 this, it'd be useful to have a summary of vulnerabilities in the JSON output. Postee can then use such JSON results with a very simple rego rule like: `input.report.summary.criticalCount > 0` to trigger actions.

FWIW, Trivy operator does something similar today to summarize and include as part of the `vulnerabilityreports`.

[2022-09-22 00:08] #2411 closed

[2022-09-22 03:25] DmitriyLewen commented on #2922
Hello @naortalmor1
Next release is [planned](https://github.com/aquasecurity/trivy/milestone/10) for October 15.

@trevor-vaughan Hey, I found way, how you can use envs:
You need to separate args with space. e.g.:
[code]

[2022-09-22 07:11] #2922 closed

[2022-09-22 07:38] knqyf263 commented on #2681
Does it mean summary per OS packages and lang-specific packages? Or do you want the total summary?
Let's say OS packages have 5 critical and `package-lock.json` has 3 medium. Do you want to see the summary as follows?

[code]

[2022-09-22 07:52] zetaab opened #2930 "helm chart does not work with kubernetes 1.25"
## Description

Unable to use trivy helm chart anymore with Kubernetes 1.25 because the PodSecurityPolicy api is removed

## What did you expect to happen?

I expect that I could use trivy helm chart with kubernetes 1.25

## What happened instead?

[code]

values-trivy.yaml

[code]

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, c

[2022-09-22 08:07] afdesk commented on #2912
done.
@noorul please, feel free to reopen this issue if you can't update `Trivy` via apt. thanks

[2022-09-22 08:07] #2912 closed

[2022-09-22 08:56] DmitriyLewen commented on #2924
Hello @cgomez23
Thanks for your report!

When you use `curl -sSL -o /tmp/junit.tpl https://github.com/aquasecurity/trivy/raw/0.32.0/contrib/junit.tpl` you download full html page.

You need to use `https://raw.githubusercontent.com` to download file content only.

In your case:
[code]

I close this issue. Feel free to re-open this issue if you still have problems.

Best regards, Dmitry

[2022-09-22 08:56] #2924 closed

[2022-09-22 09:11] DmitriyLewen commented on #2913
Hello @techmaharaj
Thanks a lot for your report!

[PR](https://github.com/aquasecurity/trivy/pull/2931) to fix this has been created.

Regards, Dmitriy

[2022-09-22 11:05] chen-keinan commented on #2672
fixed by : #2328

[2022-09-22 11:05] #2672 closed

[2022-09-22 14:48] p4yl04d3r commented on #2879
Built [Trivy-DB](https://github.com/aquasecurity/trivy-db) locally. I can now run trivy against containers on s390x.
The issue was with the DB downloaded when Trivy runs for the first time or updates its vulnerabilities.

[2022-09-22 22:32] simar7 commented on #2681
I see - good question, I would be fine with just a summary.

[2022-09-23 00:06] #2367 closed

[2022-09-23 00:06] #1837 closed

[2022-09-23 02:02] bureado opened #2933 "trivy relies on the "origin" attribute in Alpine-based systems to establish SrcName with no fallbacks"
## Description

It appears that `trivy` [relies on the _origin_ attribute](https://github.com/aquasecurity/trivy/blob/e393ce1477901ea566b43ccd2d29a239c1a4c7e8/pkg/fanal/analyzer/pkg/apk/apk.go#L75) of an `apk` database to set the `SrcName` of a package.

If this field does not exist or is empty, `trivy` does not have a fallback behavior and keeps this string empty throughout execution.

As a resul

[2022-09-23 02:18] bureado opened #2934 "trivy sbom expects a PackageSourceInfo magic string"
## Description

`trivy sbom` appears to rely on the presence of a [`SourcePackagePrefix`](https://github.com/aquasecurity/trivy/blob/3165c376e229d2c6e1a0d905b1fcd36701ebac12/pkg/sbom/spdx/marshal.go#L58) (currently, the words "built package from") to [extract the `SrcName`](https://github.com/aquasecurity/trivy/blob/3165c376e229d2c6e1a0d905b1fcd36701ebac12/pkg/sbom/spdx/marshal.go#L272) of a packa

[2022-09-23 06:11] zhanglc opened #2935 "Error detection with maven multiple module , dependency:tree not like maven ."
## Description

Error detection with maven multiple module

## What did you expect to happen?

`org.yaml:snakeyaml`  Vulnerability should not detection.

## What happened instead?
[code]

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

## Additional details (base image name, container registry info...):

minimal example：

[code]
pom.xml

[code]
sub-project\pom.xml
[code]

[2022-09-23 06:51] DmitriyLewen commented on #2920
Hello @eyalatox
Thank you very much for your report.

Created PRs to solve this problem.
After merging them, we will make changes to the release.

Best Regards, Dmitriy

[2022-09-23 18:33] isuftin opened #2937 "AWS CloudFormation security scan not picking up load balancer param"
## Description

Cloudformation snippet:

[code]

Trivy scan output:

[code]

## What did you expect to happen?

Security check  should pass since I did apply `routing.http.drop_invalid_header_fields.enabled` set to true

## What happened instead?

Output above

## Output of run with `-debug`:

[code]

## Output of `trivy -v`:

[code]

[2022-09-24 00:26] 030 opened #2938 "Can the code be included in another project?"
I would like to scan a library by Trivy when my code downloads an artifact. Is this possible? If true, what code should be called?

[2022-09-24 11:11] knqyf263 commented on #2933
@bureado Thanks for the information. We'll fix it soon. Or it would be appreciated if someone works on that.

[2022-09-24 11:18] chen-keinan opened #2939 "High and Critical CVEs (2022-27664 ,2022-36085 ,2022-40674)"
Trivy 0.32.0 vulnerabilities found :
[code]

[2022-09-25 02:35] heydonovan commented on #2832
I've a `debian:bookworm` image that fails the scan as well.

There is an open pull-request to address this: https://github.com/aquasecurity/trivy/pull/1764

[2022-09-25 15:21] cspwizard opened #2941 "dotnet PackageReference (nuget list former packages.config) support"
Hi!

It would be nice if you could update the Nuget scanner to use PackageReference from proj files instead of packages.config as packages.config is superseded by PackageReference with NuGet 4.0+

https://learn.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files

Thanks!

[2022-09-25 17:00] bureado commented on #2933
A brief discussion re. patch.

I'm not familiar with the Trivy architecture, but it seems like different analyzers under `pkg/fanal` populate `SrcName` in different ways.

The most generic way I can think of to address this would be to walk the `pkgs` array before the `ospkg` `Detect()` function runs [here](https://github.com/aquasecurity/trivy/blob/5b821d3b134c249872840ac6dfd83105c38df6e7/pkg/det

[2022-09-25 19:20] bureado commented on #2933
See https://github.com/aquasecurity/trivy/compare/main...bureado:trivy:apk-srcname-fallback?expand=1 for a suggested fix

[2022-09-26 04:04] DmitriyLewen commented on #2933
Hello @bureado

You solution looks good.

Can you open this PR?
Also can i ask you to add package without `o:` atribute to [testdata](https://github.com/aquasecurity/trivy/blob/e393ce1477901ea566b43ccd2d29a239c1a4c7e8/pkg/fanal/analyzer/pkg/apk/testdata/apk) and [apk_test.go](https://github.com/aquasecurity/trivy/blob/e393ce1477901ea566b43ccd2d29a239c1a4c7e8/pkg/fanal/analyzer/pkg/apk/apk_test.go)

[2022-09-26 09:23] DmitriyLewen commented on #2935
Hello @zhanglc
Thanks for your report!

I can reproduce your issue and am currently working on it.
I will write to you when we fix it.

Regards, Dmitriy

[2022-09-27 00:11] #2477 closed

[2022-09-27 02:03] Changego opened #2944 "support exporting HTML or PDF reports?"
Hello, excuse me.

Can I support exporting HTML or PDF reports?

[2022-09-27 04:30] DmitriyLewen commented on #2944
Hello @Changego
Thanks for your interest to Trivy!

Trivy currently only supports exporting reports to html format.
More information about html format [here](https://aquasecurity.github.io/trivy/v0.32/docs/vulnerability/examples/report/#html).
P.S. Don't forget to download [html template](https://github.com/aquasecurity/trivy/blob/main/contrib/html.tpl).

Regards, Dmitriy

[2022-09-27 05:14] Changego commented on #2944
Thank you very much. It's done

[2022-09-27 05:15] #2944 closed

[2022-09-27 15:55] kohtala commented on #2688
I added #2839 so these self-compiled or -installed software materials could be included in the bill of materials and CVE found.

`trivy image python:3.10.6` or `trivy image node:16.17.0-alpine` similarly fail to find the vulnerabilities ([Python](https://pythoninsider.blogspot.com/2022/09/python-releases-3107-3914-3814-and-3714.html) and [node](https://nodejs.org/en/blog/vulnerability/september-20

[2022-09-27 18:31] huornlmj opened #2945 "CSV report format"
Please provide a CSV output type.

[2022-09-28 08:03] #2913 closed

[2022-09-28 08:11] #2886 closed

[2022-09-28 09:14] #2939 closed

[2022-09-28 12:32] #2935 closed

[2022-09-28 12:55] captn3m0 opened #2952 "A corrupt JAR file inside a WAR can prevent detections"
## Description

Trivy stops processing JAR files inside a WAR file if it finds a corrupt JAR. As such, the presence of a single corrupt JAR file can create invalid results.

## What did you expect to happen?

log4j should be detected in the container image that I provided.

## What happened instead?

log4j was not detected in the image.

## Output of run with `-debug`:

[code]

## Output of `trivy